
<!-- widget content -->
<div class="widget-body">

	<form class="form-horizontal">

		<fieldset>
			<legend></legend>
			<div class="form-group">
				<label class="col-md-3 control-label">公司名称</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="公司名称" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">地址</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="公司地址" type="text" list="list">

				</div>

			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">联系人</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="公司联系人" type="text" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">电话</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="公司联系人" type="text" value="">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">LOGO</label>
				<div class="col-sm-4">
					<input class="form-control" placeholder="LOGO" type="text" value="">
				</div>
			</div>


			<!-- <div class="form-group">
				<label class="col-md-3 control-label">Textarea</label>
				<div class="col-sm-4">
					<textarea class="form-control" placeholder="Textarea" rows="4"></textarea>
				</div>
			</div> -->


		</fieldset>


		<div class="form-actions">
			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-default" type="submit">取消</button>
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-save"></i> 提交
					</button>
				</div>
			</div>
		</div>

	</form>

</div>
<!-- end widget content -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS
	// pagefunction
	var pagefunction = function() {
		$.ajax({
			url : '/test/add',
			type : "POST",
			contentType : "application/json; charset=utf-8",
			//data : JSON.stringify(data),
			dataType : "json",
			async : false,
			success : function(data) {
				alert(data.code);
			}
		});

	};

	// end pagefunction

	// run pagefunction on load

	pagefunction();
</script>
