<style>
	#citytree .button {
		float: none;
	}
</style>
<div class="col-sm-12" onclick="showMenu();">
	<div class="input-icon-right">
		<i class="icon-append fa fa-caret-down"></i>
		<input type="hidden" id="cityIdx" name="district_idx">
		<input class="form-control" name="city_name" id="citySel" readonly style="box-sizing:border-box;" placeholder="请选择地区" type="text">
	</div>
</div>
<div id="menuContent" class="menuContent col-sm-12" style="display:none; position: absolute;left: 15px;top: 40px;z-index: 10;max-width: 230px; min-height: 100px;max-height: 400px;overflow: auto;background: #fff;border: 1px solid #ccc;">
	<ul id="citytree" class="ztree col-sm-12"></ul>
</div>
<script type="text/javascript">
	var setting = {
		view: {
			selectedMulti: false
		},
		edit: {
			enable: false,
			showRemoveBtn: false,
			showRenameBtn: false,
			checkable: true
		},
		data: {
			keep: {
				parent: true,
				leaf: true
			},
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeExpand: beforeExpand,
			onClick: onClick
		}
	};
	var zNodes = [
		{ id: 12, pId: 0, name: "浙江省", isParent: true }
	];
	function onClick(e, treeId, treeNode) {
		console.log(arguments);
		var zTree = $.fn.zTree.getZTreeObj("citytree"),
			nodes = zTree.getSelectedNodes(),
			v = "",
			idx = "0,";
		var node = nodes[0].getPath();
		for (var key of node) {
			v += key.name + '/';
			idx += key.id + ','
		}
		if (v.length > 0) v = v.substring(0, v.length - 1);
		if (idx.length > 0) idx = idx.substring(0, idx.length - 1)+'%';
		var cityIdx = $("#cityIdx")
		var cityObj = $("#citySel");
		cityObj.val(v);
		cityObj.attr("title", v);
		cityIdx.val(idx);
	}
	function beforeExpand(treeId, node) {
		var zTree = $.fn.zTree.getZTreeObj("citytree");
		var pid = node.id;

		var step = [{ JSCODE: 'LOAD', CODE: 'LD_DISTRICT_PAGE', RCODE: 'LIST', DATA: { 'pid': pid } }];
		__RUN_STEP(step, function (d) {
			for (var i = 0; i < d['LIST'].length; i++) {
				var isTrue = true;
				for (var key in zNodes) {
					if (JSON.stringify(zNodes[key]) == JSON.stringify(d['LIST'][i])) {
						var isTrue = false;
					}
				}
				if (isTrue) {
					var r = d['LIST'][i];
					var isParent;
					zNodes.push(r);
					if (r.is_leaf == 'N') {
						isParent = true;
					} else {
						isParent = false;
					}
					zTree.addNodes(node, { id: r.idx, pId: node.id, isParent: isParent, name: r.name });
				}
			}
		});
	}

	function showMenu() {
		$("#menuContent").slideDown("fast");
		$("body").bind("mousedown", onBodyDown);
	}
	function hideMenu() {
		$("#menuContent").fadeOut("fast");
		$("body").unbind("mousedown", onBodyDown);
	}
	function onBodyDown(event) {
		if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
			hideMenu();
		}
	}

	$(document).ready(function () {
		$.fn.zTree.init($("#citytree"), setting, zNodes);
	});
</script>