<script type="text/html" id="tree_tmpl">
	{{if children}}
	<ul class="dd-list">
		{{each(i,val) children}}
		<li class="dd-item" data-idx='${val.idx}' style="{{if val.pid}} display:none{{/if}}">
			<span widget_id='${val.idx}'><i class="handle fa fa-lg {{if val.left == '1'}}fa-leaf{{else val.children}}fa-plus-circle{{else}}fa-pencil-square-o{{/if}}"></i><b>${val.name}</b></span>
			{{tmpl(val) '#tree_tmpl'}}
		</li>
		{{/each}}
	</ul>
	{{/if}}
</script>
<script type="text/javascript">
	(function (window, $) {

		var Tree = function (options) {
			this.container = options.container;
			this.keyName = options.keyName;
			this.clickCallback = options.clickCallback;
			this.interfaceName = options.interfaceName;
			this.pid = options.pid || 'pid';
			this.drag = options.drag=='false' ? false : true;
			this.oldData = [];
			this.newData = [];
			this.upData = [];
		}
		Tree.prototype = {
			constructor: Tree,
			/* 初始化 */
			init: function (jsonData) {
				this.render(jsonData);
			},
			/*json转树形结构*/
			transData: function (a, idStr, pidStr, chindrenStr) {
				var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
				for (; i < len; i++) {
					hash[a[i][id]] = a[i];
				}
				for (; j < len; j++) {
					var aVal = a[j], hashVP = hash[aVal[pid]];
					if (hashVP) {
						!hashVP[children] && (hashVP[children] = []);
						hashVP[children].push(aVal);
					} else {
						r.push(aVal);
					}
				}
				return r;
			},
			/* json树状图反转 */
			reversionTreeData: (a, pid) => {
				var fn = (a, pid) => {
					var obj = [];
					for (var key in a) {
						a[key].idx = a[key].idx.toString();
						a[key].pid = pid || '0';
						a[key].order_seq = parseInt(key);
						if (a[key].children) {
							obj = obj.concat(fn(a[key].children, a[key].idx));
							delete a[key].children;
							obj.push(a[key]);
						} else {
							obj.push(a[key]);
						}
					}
					return obj;
				}
				return fn(a, pid);
			},
			/* 树的鼠标点击收缩和展开 */
			tree: function () {
				if ($(".tree > ul") && !mytreebranch) {
					var mytreebranch = $(".tree").find("li:has(ul)").addClass("parent_li").attr("role", "treeitem").find(" > span").each(function (i, val) {
						$(val).attr('title', $(this).find('b').html());
					});
					$(".tree > ul").attr("role", "tree").find("ul").attr("role", "group"), mytreebranch.off("click"), mytreebranch.on("click", function (a) {
						var b = $(this).parent("li.parent_li").find(" > ul > li");
						b.is(":visible") ? (b.hide("fast"), $(this).attr("title", $(this).find('b').html()).find(" > i").addClass("icon-plus-sign").removeClass("icon-minus-sign")) : (b.show("fast"), $(this).attr("title", $(this).find('b').html()).find(" > i").addClass("icon-minus-sign").removeClass("icon-plus-sign")), a.stopPropagation()
					})
				}
			},
			/* 添加拖拽事件 */
			dragEvent: function () {
				$('.dd').off('change')
				$('.dd').on('change', () => {
					this.tree();
					this.clickEvent();
					this.newData = this.reversionTreeData($('.dd').nestable('serialize'));
					this.upData = [];
					for (var key1 in this.newData) {
						var isTrue = true;
						for (var key2 in this.oldData) {
							if (JSON.stringify(this.newData[key1]) == JSON.stringify(this.oldData[key2])) {
								isTrue = false;
							}
						}
						if (isTrue) {
							this.upData[this.upData.length] = this.newData[key1];
						}
					}
					this.oldData = this.newData;
					__RUN_ACT(this.interfaceName + 'updateTree', { "tree_array": this.upData }, function (d) {
						console.log(d);
					})
				});
			},
			clickEvent: function () {
				var that = this
				$(that.container + ' [widget_id]').on('click', function () {
					$(that.container + ' [widget_id]').removeClass('spanActive');
					$(this).addClass('spanActive');
					var idx = $(this).attr('widget_id');
					$('#node_new').attr('pid', idx);
					$('#node_del').attr('idx', idx);
					var name = $(this)[0].innerText;
					if (that.clickCallback) {
						that.clickCallback(idx, name);
					}
				});
			},
			render: function (jsonData) {
				for (var key in jsonData) {
					jsonData[key].name = jsonData[key][this.keyName];
					jsonData[key].pid = jsonData[key][this.pid];
				}
				for (var key in jsonData) {
					var obj = {}
					obj.idx = jsonData[key].idx;
					obj.pid = jsonData[key].pid;
					obj.order_seq = jsonData[key].order_seq;
					this.oldData.push(obj);
				}
				var data = this.transData(jsonData, 'idx', this.pid, 'children')
				var arr = [];
				for(var i in data){
					if(data[i].pid == 0){
						arr.push(data[i]);
					}
				}
				$(this.container).find('ul').remove();
				$(this.container).append($('#tree_tmpl').tmpl({ "children": arr }));
				this.tree();
				this.clickEvent()
				if (this.drag) {
					$(this.container).nestable({ 'handleClass': 'handle', 'listNodeName': 'ul', 'expandBtnHTML': null, 'collapseBtnHTML': null });
					this.dragEvent();
				}
			}
		}
		window.Tree = Tree;
	})(window, jQuery)

</script>