<div style="overflow: hidden;background: #fff;padding: 100px 0;">
    <img src="img/common/underConstruction.png" style="width: 450px;display: block;margin: 0 auto;" alt="">
    <div style="text-align: center;">
    <a href="" style="display: inline-block;padding: 10px 20px;background: #2196F3;color: #fff;margin: 0 5px;font-weight: 700;font-size: 18px;border-radius: 20PX;">返回首页</a>
    <a href="" style="display: inline-block;padding: 10px 20px;background: #2196F3;color: #fff;margin: 0 5px;font-weight: 700;font-size: 18px;border-radius: 20PX;">返回上一页</a>
    </div>
</div>