<style>
    
        .tree li.parent_li span:hover,
        .spanActive {
            background-color: #DF8505;
            border: 1px solid #C67605;
            cursor: pointer;
            color: #fff;
        }
    
        #widget_content {
            overflow: auto;
            max-height: 750px;
        }
    
        #widget_content span {
            white-space: nowrap;
        }
    
        b {
            font-weight: 400;
        }
    
         /* 时间 */
        
         .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
                opacity: 1;
                display: none;
                -webkit-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
            }
    
        body.smart-style-6 .dt-toolbar{
            padding: 0;
        }
        
    </style>
    
           
    
        <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
    <section id="widget-grid-my" class="">
        
        <div class="row">
            <article class="col-sm-12 col-md-3 col-lg-3">
                <div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                    data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>区域信息树</h2>
                    </header>
                    <div>
                        <div>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="tree smart-form" >
                                <ul>
                                    <li id="widget_content" class="dd">
                                        <span widget_id='12'><i class="fa fa-lg fa-plus-circle"></i><b>浙江省</b></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end widget content -->
    
                        </div>
                    </div>
                </div>
            </article>
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-9 col-lg-9">
                <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>通讯人员</h2>
                    </header>
                <div>
                <div class="widget-body no-padding">
                    <div class="smart-form" id="updata_insurance_form" novalidate="novalidate">
    
                        <fieldset class="form-horizontal" id="check_data">
                            
                                <section class="col col-md-12 col-sm-12 col-lg-12">
                                    <section class="col col-md-4 col-sm-12 col-lg-4">
                                        <label class="col-sm-4 control-label">通讯类型</label>
                                        <div class="col col-sm-8">
                                            <select name="communication_type" id="" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="1">中国电信</option>
                                                <option value="2">中国移动</option>
                                                <option value="3">中国联通</option>
                                            </select>
                                        </div>
                                    </section>
                                    <section class="col col-md-4 col-sm-12 col-lg-4">
                                        <label class="col-sm-4 control-label">姓名</label>
                                        <div class="col col-sm-8">
                                            <input type="text" name="contact_name" class="form-control">
                                        </div>
                                    </section>
                                    
                                </section>
                            
                        </fieldset>
                        <footer>
                            <input type="button" class="btn btn-default" id="reset_qry" value="重置" />
                            <input type="button" class="btn btn-primary" id="check_qry" value="查询" />
                        </footer>
                        <form action="" id="equipment_tbar" class="smart-form datatable-tbar">
                            <header style="float: left;border: none;background: transparent;">
                                人员列表
                            </header>
                            <footer>
                                <input type="button" class="btn btn-default" id="equipment_new" value="新增人员" />
                            </footer>
                        </form>
                        <table id="equipment_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>通讯类型</th>
                                    <th>通讯区域</th>
                                    <th>通讯公司</th>
                                    <th>公司地址</th>
                                    <th>姓名</th>
                                    <th>联系方式</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </article>
        </div>
                        
    </section>
    <div id="equipment_info" title="添加人员" class="ajax-win"></div>
    
    
    <script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
    
    <script id="bardorm_option" type="text/html">
        
        
        {{each(i,val) data}}
            <option value="${val.idx}">${val.name}</option>
        {{/each}}
        
    </script>
    
    <script id="edit_cell" type="text/x-jquery-tmpl">
        <div>
            <a href="javascript:void(0)" title="修改" class="edit_cell" onclick="change_data('${idx}')"><i class="fa fa-search"></i></a>
            
            <a href="javascript:void(0)" title="删除" class="edit_cell" onclick="remove_data('${idx}')"><i class="fa fa-minus-circle"></i></a>
        </div>
    </script>
    
    <script id="type_option" type="text/html">
        <select name="" id="" class="form-control" style="width: 100%;">
            <option value="">请选择</option>
            <option value="1">红外线温度传感器</option>
            <option value="2">智能台秤</option>
            <option value="3">路由器</option>
        </select>
    </script>
    
    <script>
    
        var getIdx=getQueryString('customer_idx');
        if(!getIdx){
            getIdx=$('#__customer_idx').attr("value");
        };
        if(!getIdx){
            getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
        };
        var credit_tbl = null;
        var new_tbl = null;
        var tableData = [
            {
                'equipment_type' : '0',
                'equipment_no' : '3133441',
                'equipment_position' : '1舍',
                'buy_date' : '2016-06-11',
                'install_date' : '2016-06-15',
                'insure_time' : '3年',
            }
        ]
    
        var language = {
                "decimal": "",
                "emptyTable": "无数据",
                "info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
                "infoEmpty": "第 0 页， 共计 0 页 0 条",
                "infoFiltered": "",//"(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Show _MENU_ entries",
                "loadingRecords": "加载中...",
                "processing": "处理中...",
                "search": "Search:",
                "zeroRecords": "没有匹配的数据",
                "paginate": {
                    "first": "第一页",
                    "last": "最后一页",
                    "next": "下一页",
                    "previous": "上一页"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            };
    

        __RUN_ACT('/district/queryZheJiang', {}, function (data) {
            console.log(data,'浙江省')
            loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
                LoadTree(data);
                $('#widget_content [widget_id=12]').trigger('click');
            });

        })
    
        /*json转树形结构*/
        function transData(a, idStr, pidStr, chindrenStr) {
            var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
            for (; i < len; i++) {
                hash[a[i][id]] = a[i];
            }
            for (; j < len; j++) {
                var aVal = a[j], hashVP = hash[aVal[pid]];
                if (hashVP) {
                    !hashVP[children] && (hashVP[children] = []);
                    hashVP[children].push(aVal);
                } else {
                    r.push(aVal);
                }
            }
            console.log(r);
            return r;
        }
        
        /*编辑树*/
        function widget(jsonDataTree) {
            jsonDataTree.forEach(function (element, index) {
                if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
                    var fa = "fa fa-lg fa-plus-circle";
                    if (!element.chindren) {
                        fa = "fa fa-lg fa-pencil-square-o";
                    }
                    var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li>'
                    $("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
                } else {
                    var fa = "fa fa-lg fa-plus-circle";
                    if (!element.chindren) {
                        fa = "fa fa-lg fa-pencil-square-o";
                    }
                    var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li></ul>'
                    $("[widget_id='" + element.pid + "']").parent().append(html);
                }
                if (element.chindren) {
                    widget(element.chindren);
                }
            });
        }
    
        function LoadTree(jsonData) {     
            widget(transData(jsonData, 'idx', 'pid', 'chindren'));
            tree();
            
            $('#widget_content [widget_id]').on('click', function () {
                $('#widget_content [widget_id]').removeClass('spanActive');
                $(this).addClass('spanActive');
                console.log($(this).attr('widget_id'));	

                __RUN_ACT('/communications/init', { 'area' : '%'+$(this).attr('widget_id')+'%'  }, function (data) { 
                    console.log(data,'xu');
                    _crtEquipment(data);

                })


                // var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
                // __RUN_STEP(step,function(d){  
                //     console.log(d)
                //     _crtEquipment(d.LIST)	
                // })
           
    
    
    
            });
        }
    
        $("#equipment_new").click(function(){
            __SHOW_WIN(equipment_info_win,'page/ts/jbxx/communicate_maninfo.html');
            
        })

        function change_data (idx){
           
            __RUN_ACT('/communications/init', { 'idx' : idx }, function (data) { 
                console.log(data,'idx')
                __SHOW_WIN(equipment_info_win,'page/ts/jbxx/communicate_maninfo.html',function(){
                    __SET_FORM_VALUES('win_form',data[0]);
                   $("#cityIdx").val('0,'+data[0].area+'%')
                });
            })
        }

    
        $("#check_qry").click(function(){
            var data = __GET_FROM_VALUES('check_data');
            data = __RMV_NULL_PROP(data);
            data.area= '%'+$(".spanActive").attr('widget_id') +'%';
            console.log(data);
            __RUN_ACT('/communications/init', data, function (data1) {  
                _crtEquipment(data1)
            })
            // var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA: data}];
            // __RUN_STEP(step,function(d){  
            //     console.log(d)
            //     $('#widget_content [widget_id]').removeClass('spanActive');
            //     _crtEquipment(d.LIST)	
            // })
        })
    
        $("#reset_qry").click(function(){
            __RESET_FORM('check_data');
        })
    
        pageSetUp();
    
        // 初始化函数
        var equipInitFun = function () {
                initdate('posted_date1');
                initdate('posted_date2');
                
                equipment_info_win = $("#equipment_info").dialog({
                    autoOpen : false,
                    width : 800,
                    resizable : false,
                    modal : true
                });
                
    
    
                $(".icon-arrow-left").addClass("glyphicon-arrow-left");
                $(".icon-arrow-right").addClass("glyphicon-arrow-right");
                $('.daylist').click(function () {
                    $(".clear").text('清空');
                })
        }
    
    
    
    
    
            //加载时间控件
        function initdate(id) {
            $("#" + id).datetimepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
                startView: 2,
                minView: 2,
                weekStart: 1,
                todayHighlight: 1,
                autoclose: 1,
                forceParse: 0
            });
        }
    
        function initdata(cla) {
            $("." + cla).datetimepicker({
                language: "zh-CN",
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
                startView: 2,
                minView: 2,
                weekStart: 1,
                todayHighlight: 1,
                autoclose: 1,
                forceParse: 0
            });
        }
    
    
    
        function _optionRender (data) {
            return $("#edit_cell").tmpl(data).html();
        }
    
        function lansheRender () {
            var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': '0', 'customer_idx': getIdx } }];
            __RUN_STEP(step, function (d) {
                var sheData = [{'idx': '','name': '请选择'}];
                var lanData = [{'idx': '','name': '请选择'}];
                for(var i=0;i<d.LIST.length;i++){
                    sheData.push(d.LIST[i]);
                }
                $(".sheSelect").html($("#bardorm_option").tmpl({'data':sheData}));
                $(".lanSelect").html($("#bardorm_option").tmpl({'data':lanData}));
            })
    
        }
    
        // 表格函数
        function _crtEquipment(data) {
            if (credit_tbl) {
                credit_tbl.destroy();
                credit_tbl = null;
            }
    
            credit_tbl = $('#equipment_table').DataTable({
                sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                data: data,
                bDestroy: true,
                searching: false,
                ordering: false,
                language: language,
                iDisplayLength: 15,
                columns: [
                    { orderable: false, data: null, defaultContent: '' },
                    { data: "communication_type" , render: function (data) { if (data == '1') { return '中国电信' } if (data == '2') { return '中国移动' } if (data == '3') { return '中国联通' } }},
                    { data: "area" },
                    { data: "communications_company" },
                    { data: "company_address" },
                    { data: "contact_name" },
                    { data: "contact_information" },            
                    { data: null, defaultContent: '', render: _optionRender },
                ],
                fnDrawCallback: function (oSettings) {
         
                }
            });
            
            credit_tbl.column(0).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }
    
       
    
        // 删除函数
        function remove_data (data){
            $.confirm({
                text:'删除数据',
                confirm: function(){
                    var step=[  {JSCODE:'SAVE',CODE:'REMOVE',CLZ:'t_correspondents',RCODE:'ENTITY',DATA:{'idx':data}}  ];
                    __RUN_STEP(step,function(data){
                        __RUN_ACT('/communications/init', { 'area' : '%12%'  }, function (data1) { 
                            _crtEquipment(data1);
                            $('#widget_content [widget_id]').removeClass('spanActive');
                        })
        
                    });
                    
                },
                confirmButton: '确定',
                cancelButton: '取消'
            })
    
        }
    
    
    
        loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                    loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                        loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
                            loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
                                loadScript("js/plugin/datatables/dataTables.select.min.js", equipInitFun);
                            });
                        });
                    });
                });
            });
        });
    
    
    </script>