<!-- widget grid -->
<section  class="">
        
            <!-- row -->
            <div class="row">
                
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="alert alert-info">
                        <strong>提示:</strong> 全部通讯人员在此新增
                    </div>
        
                    <div class="jarviswidget well">
                        <!-- widget div-->
                        <div>
                            <div class="widget-body no-padding">
                                
                                <form action="" id="win_form" class="smart-form">
                                    <input type="hidden" name="idx" />
        
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="select">
                                                    <select name="communication_type" id="user_type">
                                                        <option value="0" selected="" disabled="">选择用户类型</option>
                                                        <option value="1">中国电信</option>
                                                        <option value="2">中国移动</option>
                                                        <option value="3">中国联通</option>
                                                    </select> <i></i> 
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input">
                                                    <div id="cityTree">

                                                    </div>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                    <input type="text" name="communications_company" placeholder="通讯公司">
                                                </label>
                                            </section>
                                        </div>
        
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                    <input type="text" name="company_address" placeholder="公司地址">
                                                </label>
                                            </section>     
                                            <section class="col col-4">
                                                <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                    <input type="text" name="contact_name" placeholder="姓名">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                    <input type="text" name="contact_information" placeholder="联系方式">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <footer>
                                        <input type="button" class="btn btn-default" id="win_close" value="关闭" />
                                        <input type="button" class="btn btn-primary" id="do_save" value="保存" />
                                    </footer>
                                </form>
        
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                    <!-- end widget div -->
        
                </article>
                <!-- WIDGET END -->
                
            </div>
            <!-- end row -->
        </section>
        
        <script type="text/javascript">
        //ajax-win
        var win_id='';
        
        function win_init(){
            _Import_Html('cityTree', 'page/common/cityTree.html');

            $('#win_close').click(function(btn){
                __RESET_FORM('win_form');
                equipment_info_win.dialog("close");

            });
        
            $('#do_save').click(function(btn){
                var data=__GET_FROM_VALUES('win_form');
                var arr = [];
                if(data.district_idx){
                     arr = data.district_idx.split(',')
                    if(arr.length==2){
                        data['area'] = arr[1].substr(0, arr[1].length - 1);
                    }else if(arr.length==3){
                        data['area'] = arr[1] + ',' + arr[2].substr(0, arr[2].length - 1);
                    }else if(arr.length==4){
                        data['area'] = arr[1] + ',' + arr[2] + ',' + arr[3].substr(0, arr[3].length - 1);
                    }else{
                        data['area'] = arr[1] + ',' + arr[2] + ',' + arr[3] ;
                    }
                  
                }
                
                console.log(data);
                if(!$('[name="idx"]').val()){
                    var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_correspondents',RCODE:'ENTITY',DATA:data}  ]; 
                    __RUN_STEP(step,function(d){  
                        __RESET_FORM('win_form');
                        equipment_info_win.dialog("close");
                        __RUN_ACT('/communications/init', { 'area' : '%12%'  }, function (data1) { 
                            _crtEquipment(data1);
                            $('#widget_content [widget_id]').removeClass('spanActive');
                            $('#widget_content [widget_id=12]').addClass('spanActive');
                        })
                    });
                }else{
                    var step=[  {JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_correspondents',RCODE:'ENTITY',DATA:data}  ]; 
                    __RUN_STEP(step,function(d){  
                        __RESET_FORM('win_form');
                        equipment_info_win.dialog("close");
                        __RUN_ACT('/communications/init', { 'area' : '%12%'  }, function (data1) { 
                            _crtEquipment(data1);
                            $('#widget_content [widget_id]').removeClass('spanActive');
                            $('#widget_content [widget_id=12]').addClass('spanActive');
                        })
                    });
                }
                

                // var data=__GET_FROM_VALUES('win_form');
                // __RUN_ACT('/sys/saveuser',data,function(){
                //     equipment_info_win.dialog("close");
                //     loadData();
                // });
            });
        
          
        }
        
     
        
        function load_enterprise(type){
            var step=[{JSCODE:'LOAD',CODE:'SYS_ENTERPRISE',RCODE:'ENT',DATA:{type:type}}];
            __RUN_STEP(step,function(d){
                PUT2SELECT(d.ENT,'customer_idx');
            });
        }
        
        
        function loadUserInfo(idx){
            __RESET_FORM('win_form');
            var step=[ 
                {JSCODE:'LOAD',CODE:'SYS_DIC_SELECT',RCODE:'DIC',DATA:{type_code:'USER_TYYPE'}},
                {JSCODE:'LOAD',CODE:'SYS_ENTERPRISE',RCODE:'ENT',DATA:{}},
                {JSCODE:'LOAD',CODE:'LD_USER_PEOPLE',RCODE:'ENTITY',DATA:{idx:idx}}
            ];
            __RUN_STEP(step,function(d){
                PUT2SELECT(d.DIC,'user_type');
                PUT2SELECT(d.ENT,'customer_idx');
        
                __SET_FORM_VALUES('win_form',d.ENTITY[0]);
            });
        }
        
        
        loadScript("js/plugin/jquery-form/jquery-form.min.js", win_init);
        </script>
        