<style>
	/* ocr按钮样式 */

	.ocr_btn {
		padding: 8px 10px;
		background-color: #2196f3;
		border: none;
		border-radius: 5px;
		color: #fff;
	}

	/* 标签页样式 */

	body.smart-style-6 .nav-tabs>li.active>a {
		-webkit-box-shadow: 0 -2px 0 #2196F3;
		-moz-box-shadow: 0 -2px 0 #2196F3;
		box-shadow: 0 -2px 0 #2196F3;
	}

	.nav-tabs>li>a {
		margin: 0 8px;
	}

	.nav-tabs {
		margin-top: 10px;
	}

	.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
	}

	/* 上传图片样式 */

	.head_wrap {
		height: 142px;
		width: 132px;
		border: 1px solid #cacaca;
		border-bottom: none;
		background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
		cursor: pointer;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
	}

	.head_wrap input {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 10;
	}

	.head_wrap img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 1;
		height: 100%;
	}

	.head_wrap i {
		position: absolute;
		top: 0;
		width: 25px;
		height: 25px;
		font-size: 25px;
		z-index: 20;
		background-color: #ffffff;
		color: #444444;
		opacity: 0.3;
		transition: all 0.5s;
	}

	.head_wrap .del_img {
		right: 0;
	}

	.head_wrap .expand_img {
		left: 0;
	}

	.head_wrap:hover i {
		opacity: 0.9;
	}

	#jiben_mes #head_data {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 132px;
		padding-left: 0;
	}

	.pic_check {
		text-align: center;
		width: 134px;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}

	input,
	select {
		border-width: 1px!important;
		padding-left: 5px!important;
	}

	/* 兽医按钮 */

	.bank button {
		float: right;
		margin-left: 10px;
		padding: 6px 12px;
	}

	/*树状图鼠标移入样式*/

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget_content {
		overflow: auto;
		max-height: 750px;
	}

	#widget_content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}

	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	/* 编辑按钮 */

	.btn_node {
		text-align: center;
		margin: 0 auto 15px;
	}

	.btn_node a {
		padding: 6px 12px;
	}

	/* 选择附件 */

	[class^=col-]>.form-control+.form-control-feedback {
		right: 0px !important;
	}

	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}

	/* 物资树选择按钮 */

	#materialtree .button {
		float: left;
	}

	#materialtree .button.chk {
		margin: 4px 2px;
	}
</style>
<link rel="stylesheet" href="css/viewer.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />

<section id="widget-grid-my" class="">

	<div class="row">
		<article class="col-sm-12 col-md-4 col-lg-4">
			<div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>供应商信息树</h2>
				</header>
				<div>
					<div>
						<form class="smart-form datatable-tbar">
							<footer>
								<input type="button" class="btn btn-primary" id="node_new" value="新增节点" />
								<input type="button" class="btn btn-primary" id="node_del" value="删除" />
							</footer>
						</form>
					</div>
					<!-- widget content -->
					<div class="widget-body">
						<div class="tree smart-form" style="overflow: auto;max-height: 700px;">
							<ul>
								<li id="widget_content" class="dd">
									<span widget_id='0'>
										<i class="fa fa-lg fa-plus-circle"></i>
										<b>供应商</b>
									</span>
								</li>
							</ul>
						</div>
						<!-- end widget content -->
					</div>
				</div>
			</div>
		</article>
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-8 col-lg-8">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>供应商信息</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<!--节点信息  -->
						<div role="tabpanel" class="tab-pane active" id="nodeInfo">
							<div class="smart-form" id="updata_suppliers_form" novalidate="novalidate">
								<header>供应商基本信息</header>
								<fieldset>
									<div class="form-horizontal">
										<input type="hidden" name="idx" value="0">
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">供应商编码</label>
												<div class="col col-sm-8">
													<input type="text" name="suppliers_code" placeholder="供应商编码" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">供应商名称</label>
												<div class="col col-sm-8">
													<input type="text" name="suppliers_name" placeholder="供应商名称" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">法人姓名</label>
												<div class="col col-sm-8">
													<input type="text" name="legal_name" placeholder="法人姓名" class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">法人身份证</label>
												<div class="col col-sm-8">
													<input type="text" name="legal_id_no" placeholder="法人身份证" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">联系人</label>
												<div class="col col-sm-8">
													<input type="text" name="link_man" placeholder="联系人" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">联系人手机号</label>
												<div class="col col-sm-8">
													<input type="text" name="link_mobile" placeholder="联系人手机号" class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">座机号码</label>
												<div class="col col-sm-8">
													<input type="text" name="link_number" placeholder="座机号码" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">邮箱</label>
												<div class="col col-sm-8">
													<input type="text" name="email" placeholder="邮箱" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">传真</label>
												<div class="col col-sm-8">
													<input type="text" name="fax" placeholder="传真" class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">联系地址</label>
												<div class="col col-sm-8">
													<input type="text" name="address" placeholder="联系地址" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-4 control-label">成立日期</label>
												<div class="col col-sm-8">
													<input type="text" name="establish_time" readonly placeholder="成立日期" class="Time form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-6 col-sm-12 col-lg-6">
												<label class="col-sm-2 control-label">物资</label>
												<div class="col col-sm-10">
													<div class="col-sm-12" onclick="showMaterial();">
														<div class="input-icon-right">
															<i class="icon-append fa fa-caret-down"></i>
															<input type="hidden" id="materialIdx" name="material_idx">
															<input class="form-control" name="material_name" id="materialSel" readonly style="box-sizing:border-box;" placeholder="请选择物资"
															 type="text">
														</div>
													</div>
													<div id="materialContent" class="materialContent col-sm-12" style="display:none; position: absolute;left: 15px;top: 40px;z-index: 10;max-width: 230px; min-height: 100px;max-height: 400px;overflow: auto;background: #fff;border: 1px solid #ccc;">
														<ul id="materialtree" class="ztree col-sm-12"></ul>
													</div>
												</div>
											</section>
										</section>
										<section class="area col col-md-12 col-sm-12 col-lg-12">
											<label class="col-sm-1 control-label">地区</label>
											<div class="col col-sm-2">
												<select name="province" class="form-control">
													<option value="">选择省</option>
												</select>
											</div>
											<div class="col col-sm-2">
												<select name="city" class="form-control">
													<option value="">选择市</option>
												</select>
											</div>
											<div class="col col-sm-2">
												<select name="area" class="form-control">
													<option value="">选择区</option>
												</select>
											</div>
											<div class="col col-sm-2">
												<select name="town" class="form-control">
													<option value="">选择镇</option>
												</select>
											</div>
											<div class="col col-sm-2">
												<select name="village" class="form-control">
													<option value="">选择村</option>
												</select>
											</div>
										</section>
									</div>
								</fieldset>
								<header>部门及负责人联系方式</header>
								<fieldset>
									<div class="tabel">
									</div>
									<div class="bank">
										<button type="button" class="add_td btn btn-primary">编辑负责人</button>
									</div>
								</fieldset>
								<header>合同上传</header>
								<fieldset>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<div class="contract form-group col-md-12 has-feedback">
												<label class="col-sm-2 col-md-2 col-lg-2 control-label">选择合同文件</label>
												<div class="col-md-4 input-group">
													<input id="updata_lefile" type="file" name="filename" style="display:none">
													<span class="input-group-addon" onclick="$('input[id=updata_lefile]').click();" style="cursor: pointer; background-color: #e7e7e7">
														<i class="fa fa-folder-open"></i>Browse</span>
													<input name="contract_file" class="form-control" type="text">
													<span class="contract_file_id glyphicon glyphicon-save form-control-feedback" style="cursor: pointer;pointer-events: auto;"></span>
												</div>
											</div>
										</section>
									</section>

								</fieldset>
								<header>相关证件上传</header>
								<fieldset>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-3 col-sm-12 col-lg-3">
											<div class="head_wrap">
												<i class="expand_img glyphicon glyphicon-zoom-in" title="放大"></i>
												<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
												<input type="file" name="filename" id="updata_business" />
												<img src="" id="updata_business_img" />
											</div>
											<p class="pic_check">
												<span>营业执照上传</span>
											</p>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12 form-horizontal">
										<div class="form-group">
											<div class="imgs"></div>
										</div>
										<div class="bank">
											<button class="add_photo btn btn-primary">添加图片</button>
										</div>
									</section>
								</fieldset>
								<fieldset>
									<div class="btn_node">
										<a class="edit_node_btn btn btn-primary" href="javascript:void(0);">编辑</a>
										<a class="back_node_btn btn btn-warning disabled" href="javascript:void(0);">返回</a>
										<a class="del_node_btn btn btn-danger" href="javascript:void(0);">删除</a>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
		</article>
		<div id="importHtml"></div>
		</div>
</section>

<!-- 编辑表格 -->
<div id='table_modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">编辑表格</h4>
			</div>
			<div class="modal-body form-horizontal">
				<fieldset>
					<div id="tabel_form">

					</div>
					<div class="modal-footer">
						<a class="add_row btn btn-primary">添加负责人</a>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<a class="save_table btn btn-primary">保存</a>
				<a class="btn btn-default" data-dismiss="modal">取消</a>
			</div>
		</div>
	</div>
</div>
<!-- 删除人员 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除供应商：</p>
				<input type="text" placeholder="供应商名称" name="suppliers_name" class="form-control" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 图片模板 -->
<script type="text/html" id="photo_tmpl">
	<div photo_idx="${idx}" class="col-md-3 col-sm-6">
		<div class="head_wrap">
			<i class="expand_img glyphicon glyphicon-zoom-in" title="放大"></i>
			<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
			<input type="file" name="filename" id="${idx}" />
			<img src="${imgSrc}" id="${idx}_img" />
		</div>
		<div class="clearfix">
			<a class="remover_photo btn btn-default" style="width:134px;display: block;margin: 5px auto;">删除</a>
		</div>
	</div>
</script>
<script type="text/html" id="tabel_tmpl">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>部门</th>
				<th>职位</th>
				<th>负责人</th>
				<th>联系手机</th>
				<th>座机</th>
				<th>传真</th>
				<th>电子邮箱</th>
			</tr>
		</thead>
		<tbody>
			{{each(i,val) director}}
			<tr>
				<td>${val.department}</td>
				<td>${val.job}</td>
				<td>${val.leading}</td>
				<td>${val.contact_number}</td>
				<td>${val.tel}</td>
				<td>${val.fax}</td>
				<td>${val.email}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>
<script type="text/html" id="tabel_form_tmpl">
	<div class="form-group">
		<div class="row">
			<label class="col-md-1 control-label">部门</label>
			<div class="col-md-2">
				<input class="form-control" name="department" placeholder="部门" type="text" value="${department}" />
			</div>
			<label class="col-md-1 control-label">职位</label>
			<div class="col-md-2">
				<input class="form-control" name="job" placeholder="职位" type="text" value="${job}" />
			</div>
			<label class="col-md-1 control-label">负责人</label>
			<div class="col-md-2">
				<input class="form-control" name="leading" placeholder="负责人" type="text" value="${leading}" />
			</div>
			<label class="col-md-1 control-label">联系手机</label>
			<div class="col-md-2">
				<input class="form-control" name="contact_number" placeholder="联系电话" type="text" value="${contact_number}" />
			</div>
		</div>
		<div class="row">
			<label class="col-md-1 control-label">座机</label>
			<div class="col-md-2">
				<input class="form-control" name="tel" placeholder="联系电话" type="text" value="${tel}" />
			</div>
			<label class="col-md-1 control-label">传真</label>
			<div class="col-md-2">
				<input class="form-control" name="fax" placeholder="联系电话" type="text" value="${fax}" />
			</div>
			<label class="col-md-1 control-label">邮箱</label>
			<div class="col-md-2">
				<input class="form-control" name="email" placeholder="联系电话" type="text" value="${email}" />
			</div>
			<div class="col-md-2">
				<a class="remover_row btn btn-default">删除负责人</a>
			</div>
		</div>
	</div>
</script>
<script src="js/viewer-jquery.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	$('#updata_suppliers_form input').attr('disabled', 'disabled');
	$('#updata_suppliers_form textarea').attr('disabled', 'disabled');
	$('#updata_suppliers_form select').attr('disabled', 'disabled');
	$('#updata_suppliers_form button').attr('disabled', 'disabled');
	$('.back_node_btn').addClass('disabled');
	/* 初始化预览组件 */
	function photoViewer() {
		$('#widget-grid-my').viewer('destroy');
		$('#widget-grid-my').viewer();
	}
	/* 初始化树配置 */
	var mytree;
	/* 负责人 */
	var updata_director = [];
	/* 图片数组 */
	var updata_imgJson = [];
	//城市联动 地区
	function ctiy(that, callback) {
		__RUN_ACT('/farmer/queryCity', {
			"pid": $(that).val()
		}, function (data) {
			$(that).parent().nextAll().find('select').hide();
			$(that).parent().nextAll().find('select').html('');
			if (data.length > 0) {
				$(that).parent().next().find('select').show();
			}
			var html = '<option value="">--请选择--</option>';
			$(that).parent().next().find('select').append(html);
			data.forEach(function (value, index) {
				html = '<option value="' + value.idx + '">' + value.name + '</option>';
				$(that).parent().next().find('select').append(html);
			});

			if (callback) {
				callback();
			}
		});
	}
	$('.area select').on('change', function () {
		var that = this;
		ctiy(that);
		return false;
	})
	/* 初始化时间 */
	__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
		var html;
		$('#updata_suppliers_form.area select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#updata_suppliers_form .area select').first().append(html);
		})
		$('#updata_suppliers_form .area select').first().parent().nextAll().find('select').hide();
	});

	__RUN_ACT('suppliers/queryName', {}, function (data) {
		loadScript("js/plugin/jquery-nestable/jquery.nestable.min.js", function () {
			_Import_Html('importHtml', 'page/common/tree.html', function () {
				mytree = new Tree({
					container: '#widget_content',
					interfaceName: 'suppliers/',
					keyName: 'suppliers_name',
					clickCallback: function (idx, name) {
						$('#wid-id-2>header>h2')[0].innerHTML = '供应商信息:所在节点(' + name + ')';
						$('[name="idx"]').val(idx);
						$('[name="pid"]').val(idx);
						__RUN_ACT('suppliers/queryByIdx', { "idx": idx }, function (date) {
							$('.edit_node_btn').html("编辑");
							$('#updata_suppliers_form input').attr('disabled', 'disabled');
							$('#updata_suppliers_form textarea').attr('disabled', 'disabled');
							$('#updata_suppliers_form select').attr('disabled', 'disabled');
							$('#updata_suppliers_form button').attr('disabled', 'disabled');
							$('.back_node_btn').addClass('disabled');
							if (date) {
								__RESET_FORM('updata_suppliers_form');
								__SET_FORM_VALUES('updata_suppliers_form', date);
								updata_director = JSON.parse(date.director);
								updata_imgJson = JSON.parse(date.img_json || '[]');
								$('#updata_suppliers_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
								photoViewer();
								$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
								$('#updata_suppliers_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
								$('#updata_suppliers_form .contract_file_id').attr('contract_file_id', date.contract_file_id);
								$('#updata_business_img').attr('src', date.business_img);
								$('#updata_suppliers_form .remover_photo').addClass('disabled');
								$('img').each(function (i, elm) {
									if ($(elm).attr('src')) {
										$(elm).show();
									} else {
										$(elm).hide();
									}
								});
								var zTree = $.fn.zTree.getZTreeObj("materialtree");
								var nodes = zTree.transformToArray(zTree.getNodes());
								zTree.checkAllNodes(false);
								if(date['material_idx']){
									var materialArrs = date.material_idx.split(',');
									for (var key in materialArrs) {
										for (var i in nodes) {
											if (materialArrs[key] == nodes[i].id) {
												zTree.checkNode(nodes[i], true, true);
												break;
											}
										}
									}
								}
								__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
									var html = '<option value="">--请选择地区--</option>'
									$('#updata_suppliers_form .area select').first().append(html);
									data.forEach(function (value, index) {
										html = '<option value="' + value.idx + '">' + value.name + '</option>'
										$('#updata_suppliers_form .area select').first().append(html);
									})
									$('#updata_suppliers_form .area select').first().parent().nextAll().find('select').hide();
									$('#updata_suppliers_form .area select').first().val(date.province);
									ctiy($('#updata_suppliers_form .area select').first(), function () {
										if (date.city) {
											$('#updata_suppliers_form .area').find('[name="city"]').val(date.city);
											ctiy($('#updata_suppliers_form .area').find('[name="city"]'), function () {
												if (date.area) {
													$('#updata_suppliers_form .area').find('[name="area"]').val(date.area);
													ctiy($('#updata_suppliers_form .area').find('[name="area"]'), function () {
														if (date.town) {
															$('#updata_suppliers_form .area').find('[name="town"]').val(date.town);
															ctiy($('#updata_suppliers_form .area').find('[name="town"]'), function () {
																if (date.village) {
																	$('#updata_suppliers_form .area').find('[name="village"]').val(date.village);
																}
															});
														}
													});
												}
											});
										}
									});
								});
							}
						});
					}
				});
				mytree.init(data);
			});
		});
	});

	var step = [{ JSCODE: 'LOAD', CODE: 'LD_ALLPRODUCT', RCODE: 'LIST', DATA: { 'pid': 0 } }];
	__RUN_STEP(step, function (d) {
		var setting = {
			data: {
				keep: {
					leaf: true
				},
				simpleData: {
					enable: true
				}
			},
			check: {
				enable: true,
				chkboxType: { "Y": "", "N": "" }
			},
			callback: {
				onCheck: onCheck
			}
		};
		var zNodes = [
			{ id: 0, pId: null, name: "物资", nocheck: true }
		];
		for (var i = 0; i < d['LIST'].length; i++) {
			zNodes.push({
				id: d['LIST'][i].idx,
				pId: d['LIST'][i].pidx,
				name: d['LIST'][i].product_name
			})
		}
		function onCheck(e, treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("materialtree"),
				nodes = zTree.getCheckedNodes(true),
				v = "",
				idx = "";
			for (var key in nodes) {
				v += nodes[key].name + '、';
				idx += nodes[key].id + ','
			}
			if (v.length > 0) v = v.substring(0, v.length - 1);
			if (idx.length > 0) idx = idx.substring(0, idx.length - 1);
			var materialIdx = $("#materialIdx")
			var cityObj = $("#materialSel");
			cityObj.val(v);
			cityObj.attr("title", v);
			materialIdx.val(idx);
		}
		function showMaterial() {
			$("#materialContent").slideDown("fast");
			$("body").bind("mousedown", onBodyDown);
		}
		function hideMaterial() {
			$("#materialContent").fadeOut("fast");
			$("body").unbind("mousedown", onBodyDown);
		}
		function onBodyDown(event) {
			if (!(event.target.id == "menuBtn" || event.target.id == "materialContent" || $(event.target).parents("#materialContent").length > 0)) {
				hideMaterial();
			}
		}

		$(document).ready(function () {
			$.fn.zTree.init($("#materialtree"), setting, zNodes);
		});
		window.showMaterial = showMaterial
	});




	$(function () {
		$('.Time').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
	});
	/* 图片上传 */
	$('#updata_suppliers_form').on('change', '.head_wrap [name="filename"]', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
				photoViewer()
				if ($('#' + imgId).parent().parent().parent().attr('class') == 'imgs') {
					for (var key in updata_imgJson) {
						if (updata_imgJson[key].idx == $('#' + imgId).parent().parent().attr('photo_idx')) {
							updata_imgJson[key].imgSrc = '/file/' + d.idx + '/view';
						}
					}
				}
				$("#" + imgId).show();
			});
		}
	});

	/* 图片删除 */
	$('#widget-grid-my').on('click', '.del_img', function () {
		$(this).siblings('img').attr('src', '').hide();
		photoViewer()
	})
	$('#updata_suppliers_form').on('change', '#updata_lefile', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var arr = $(this).val().split('\\');
			$(this).parent().find('[name="contract_file"]').val(arr[arr.length - 1]);
			__UPLOAD_FILE(uploadId, function (d) {
				$('#updata_suppliers_form .contract_file_id').attr('contract_file_id', d.idx);
			});
		}
	});
	$('.contract_file_id').on('click', function () {

	})
	/* 添加图片 */
	$('#updata_suppliers_form .add_photo').on('click', function () {
		updata_imgJson.push({
			"idx": Math.random().toString(16).substring(2)
		});
		$('#updata_suppliers_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
		$('img').each(function (i, elm) {
			if ($(elm).attr('src')) {
				$(elm).show();
			} else {
				$(elm).hide();
			}
		});
		photoViewer();
	})
	/* 叶节点图片删除 */
	$('#updata_suppliers_form .imgs').on('click', '.remover_photo', function () {
		var jsonKey = $(this).parent().parent().attr('photo_idx');
		for (var key in updata_imgJson) {
			if (updata_imgJson[key].idx == jsonKey) {
				updata_imgJson.splice(key, 1);
			}
		}
		$(this).parent().parent().remove();
		photoViewer();
	});
	/* 模态框新增负责人 */
	$('.add_row').on('click', function () {
		$('#tabel_form').append($('#tabel_form_tmpl').tmpl());
	})
	/* 模态框删除负责人 */
	$('.modal-body').on('click', '.remover_row', function () {
		$(this).parent().parent().parent().remove();
	})
	/* 保存负责人信息 */
	$('.save_table').on('click', function () {
		/* 负责人 */
		var director = [];
		$('.modal-body').find('.form-group').each(function (i, elm) {
			var result = {};
			$(elm).find('input').each(function (index, item) {
				var v = $(item).val();
				result[$(item).attr('name')] = v;
			});
			director.push(result);
		})
		if ($(this).attr('type') == 'updata') {
			updata_director = director;
			$('#updata_suppliers_form .tabel').html($('#tabel_tmpl').tmpl({
				"director": updata_director
			}));
		}
		if ($(this).attr('type') == 'add') {
			add_director = director;
			$('#add_suppliers_form .tabel').html($('#tabel_tmpl').tmpl({
				"director": add_director
			}));
		}
		$('#table_modal').modal('hide');

	});
	/* 编辑负责人信息 */
	$('#updata_suppliers_form .add_td').on('click', function () {
		$('.save_table').attr('type', 'updata');
		$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
		$('#table_modal').modal('show');
	})
	/* 银行编辑 */
	$('.edit_node_btn').on('click', function () {
		if ($(this).html() == "编辑") {
			$(this).html("修改");
			$('#updata_suppliers_form input').removeAttr('disabled');
			$('#updata_suppliers_form textarea').removeAttr('disabled');
			$('#updata_suppliers_form select').removeAttr('disabled');
			$('#updata_suppliers_form button').removeAttr('disabled');
			$('.back_node_btn').removeClass('disabled');
			$('#updata_suppliers_form .remover_photo').removeClass('disabled');
		} else if ($(this).html() == "修改") {
			photoViewer();
			$(this).html("编辑");
			$('#updata_suppliers_form input').attr('disabled', 'disabled');
			$('#updata_suppliers_form textarea').attr('disabled', 'disabled');
			$('#updata_suppliers_form select').attr('disabled', 'disabled');
			$('#updata_suppliers_form button').attr('disabled', 'disabled');
			$('.back_node_btn').addClass('disabled');
			$('#updata_suppliers_form .remover_photo').addClass('disabled');
			var data = __GET_FROM_VALUES('updata_suppliers_form');
			data.business_img = $('#updata_business_img').attr('src');
			data.contract_file_id = $('#updata_suppliers_form .contract_file_id').attr('contract_file_id');
			data.director = JSON.stringify(updata_director);
			data.img_json = JSON.stringify(updata_imgJson);
			data.service_village = [];
			$('[widget_id="' + data.idx + '"] b').text(data.suppliers_name);
			// var step = [
			// 	//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			// 	// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
			// 	{
			// 		JSCODE: 'SAVE',
			// 		CODE: 'UPDATE',
			// 		CLZ: 't_suppliers',
			// 		RCODE: 'ENTITY',
			// 		DATA: data
			// 	}
			// ];
			__RUN_ACT('suppliers/update', data, function (data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('节点编辑成功。');
			});
		}
	})
	/*返回节点按钮*/
	$('.back_node_btn').on('click', function () {
		$('.edit_node_btn').html("编辑");
		$('#updata_suppliers_form input').attr('disabled', 'disabled');
		$('#updata_suppliers_form textarea').attr('disabled', 'disabled');
		$('#updata_suppliers_form select').attr('disabled', 'disabled');
		$('#updata_suppliers_form button').attr('disabled', 'disabled');
		$('.back_node_btn').addClass('disabled');
		__RUN_ACT('suppliers/queryByIdx', {
			"idx": $('#updata_suppliers_form [name="idx"]').val()
		}, function (date) {
			if (date) {
				__RESET_FORM('updata_suppliers_form');
				__SET_FORM_VALUES('updata_suppliers_form', date);
				updata_director = JSON.parse(date.director)
				updata_imgJson = JSON.parse(date.img_json || '[]');
				$('#updata_suppliers_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
				photoViewer();
				$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
				$('#tabel').html($('#tabel_tmpl').tmpl({
					"director": updata_director
				}));
				$('#updata_suppliers_form .contract_file_id').attr('contract_file_id', date.contract_file_id);
				$('#updata_business_img').attr('src', date.business_img);
				$('#updata_suppliers_form .remover_photo').addClass('disabled');
				$('img').each(function (i, elm) {
					if ($(elm).attr('src')) {
						$(elm).show();
					} else {
						$(elm).hide();
					}
				});
				var zTree = $.fn.zTree.getZTreeObj("materialtree");
				var nodes = zTree.transformToArray(zTree.getNodes());
				zTree.checkAllNodes(false);
				if(date['material_idx']){
					var materialArrs = date.material_idx.split(',');
					for (var key in materialArrs) {
						for (var i in nodes) {
							if (materialArrs[key] == nodes[i].id) {
								zTree.checkNode(nodes[i], true, true);
								break;
							}
						}
					}
				}
				__RUN_ACT('/farmer/queryCity', {
					"pid": "0"
				}, function (data) {
					var html = '<option value="">--请选择地区--</option>'
					$('#updata_suppliers_form .area select').first().append(html);
					data.forEach(function (value, index) {
						html = '<option value="' + value.idx + '">' + value.name + '</option>'
						$('#updata_suppliers_form .area select').first().append(html);
					})
					$('#updata_suppliers_form .area select').first().parent().nextAll().find('select').hide();
					$('#updata_suppliers_form .area select').first().val(date.province);
					ctiy($('#updata_suppliers_form .area select').first(), function () {
						if (date.city) {
							$('#updata_suppliers_form .area').find('[name="city"]').val(date.city);
							ctiy($('#updata_suppliers_form .area').find('[name="city"]'), function () {
								if (date.area) {
									$('#updata_suppliers_form .area').find('[name="area"]').val(date.area);
									ctiy($('#updata_suppliers_form .area').find('[name="area"]'), function () {
										if (date.town) {
											$('#updata_suppliers_form .area').find('[name="town"]').val(date.town);
											ctiy($('#updata_suppliers_form .area').find('[name="town"]'), function () {
												if (date.village) {
													$('#updata_suppliers_form .area').find('[name="village"]').val(date.village);
												}
											});
										}
									});
								}
							});
						}
					});
				});
			}
		});
	});
	/* 删除运营商 */
	$('#node_del').on('click', function () {
		var idx = $(this).attr('idx');
		$('#mymodel').modal('show');
		$('.modal-body p').html('确认删除供应商：');
		$('#removerPersonage_btn').html('删除');
		$('.modal-body input').val($('[widget_id="' + idx + '"]').find('b').text());
		$('.modal-body input').attr('readonly', 'readonly');
		$('#removerPersonage_btn').attr('idx', idx);
	})
	/* 提示弹出框的按钮操作 */
	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');
		var pid = $('#removerPersonage_btn').attr('pid');
		if (idx) {
			__RUN_ACT('suppliers/delete', { 'idx': idx }, function (data) {
				$('#mymodel').modal('hide');
				$('[widget_id="' + $('[name="idx"]').val() + '"]').parent().remove();
				$('#updata_suppliers_form input').not('[type="hidden"]').val('');
				updata_director = [];
				updata_imgJson = [];
				$('#updata_suppliers_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
				$('#updata_suppliers_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
				$('#updata_suppliers_form textarea').val('');
				$('#updata_suppliers_form select').val('');
				$('#updata_suppliers_form .contract_file_id').attr('contract_file_id', '');
				$('#updata_suppliers_form img').attr('src', '');
				photoViewer();
			});
		}
		if (pid) {
			var step = [
				//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
				{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_suppliers', RCODE: 'ENTITY', DATA: { 'pid': pid, 'suppliers_name': $('.modal-body [name="suppliers_name"]').val() } }
				//{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_node',RCODE:'ENTITY',DATA:data}
			];
			__RUN_STEP(step, function (data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('供应商添加成功。');
				__RUN_ACT('suppliers/queryName', {}, function (date) {
					mytree.init(date);
					$('[widget_id="' + data['ENTITY'].idx + '"]').parents().prevAll().click().end().click();
				});
			})
		}
		$('#mymodel').modal('hide');
		$('#node_new').removeAttr('pid');
		$('#node_del').removeAttr('idx');
		$('#removerPersonage_btn').removeAttr('idx');
		$('#removerPersonage_btn').removeAttr('pid');
	})
	/* 添加供应商 */
	$('#node_new').on('click', function () {
		var pid = $(this).attr('pid');
		$('#mymodel').modal('show');
		$('.modal-body p').html('添加供应商：');
		$('.modal-body input').val('');
		$('#removerPersonage_btn').html('确定');
		$('.modal-body input').removeAttr('readonly');
		$('#removerPersonage_btn').attr('pid', pid);
	})

	$('#widget-grid-my').on('click', '.expand_img', function () {
		$(this).siblings('img').click();
	})

</script>