<style>
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.clearfix {
		zoom: 1
	}

	.ui-pg-input {
		border: 1px solid rgb(169, 169, 169);
		padding: 0 2px;
		box-shadow: none!important;
	}

	.searchCompany {
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
	}

	.searchCompany span {
		display: block;
		float: left;
		height: 30px;
		margin-right: 10px;
		line-height: 30px;
	}

	.searchCompanyText {
		display: block;
		float: left;
		width: 222px;
		height: 30px;
	}

	.searchCompanyText input {
		display: block;
		border: 1px solid rgb(169, 169, 169);
		width: 200px;
		float: left;
		height: 30px;
		outline: none;
		-webkit-appearance: none;
		background: none;
	}

	.condition {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.condition select {
		height: 30px;
	}

	.businessType span {
		padding: 0 10px;
		height: 30px;
	}

	.quantityInterval input,
	.quantityInterval span {
		float: left;
		height: 30px;
		line-height: 30px;
	}

	.quantityInterval input {
		margin: 0 5px;
		width: 25%;
	}
	/*搜索按钮*/

	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #494949;
		background: #F7F7F7;
		border: 1px solid #D9D9D9;
		margin: 0 10px;
	}
	/*jqgrid表头设置*/

	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}
	.readerSearch {
		background : #2196f3 ; 
		color : #fff ;
		border-radius : 5px ;
		height: 30px;
		width: 60px;
		text-align: center;
		line-height: 30px;
	}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-info">
				<strong>提示:</strong> 查询各个区域的屠宰厂信息
			</div>
			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="bank_from" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">查找屠宰厂</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_name" placeholder="请输入屠宰厂名称" class="form-control">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">法人姓名</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_name" placeholder="请输入法人姓名" class="form-control">
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" value="新增" id="add_insurance" />
								<input type="button" class="btn btn-primary" value="查询" id="personage_from_btn" />
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->


<!-- 删除节点 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除屠宰场：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerCompany_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	var step0=[ {JSCODE:'LOAD',CODE:'LD_SLAUGHTER_LIST',RCODE:'LIST',DATA:{} }];
	__RUN_STEP(step0,function(data){
			console.log(data)
			
	})

	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			var step0=[ {JSCODE:'LOAD',CODE:'LD_SLAUGHTER_LIST',RCODE:'LIST',DATA:{} }];
			__RUN_STEP(step0,function(data){
					console.log(data)
				run_jqgrid_function(data.LIST);	
//				$("#pjqgrid_left").html("<button style='background : #2196f3 ; color : #fff ; padding:7px ; border-radius : 5px ; '  type='button' class='btn btn-xs btn-default' onclick=\"addInfo()\" ><i class='fa fa-plus'></i> 新增负责人</button>")	
			})

		});
		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', 'idx', '单位名称', '法人代表', '经营规模', '联系电话', '联系地址', '操作'],
				colModel: [
					{ name: '', index: '', sortable: false, align: "center", width: '0px' },
					{ name: 'idx', index: 'idx', sortable: false, align: "center", hidden: true },
					{ name: 'enterprise_name', index: 'enterprise_name', sortable: false, align: "center" },
					{ name: 'custom_name', index: 'custom_name', sortable: false, align: "center" },
					{ name: 'operation_scale', index: 'operation_scale', sortable: false, align: "center" },
					{ name: 'phone', index: 'phone', sortable: false, align: "center" },
					{ name: 'papers_address', index: 'papers_address', sortable: false, align: "center", width: '400px' },
					{ name: 'act', index: 'act', sortable: false, align: "center", width: '200px' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						ae = "<button class='btn btn-xs btn-default' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-search'></i>查看</button>";
						be = "<button class='btn btn-xs btn-default' onclick=\"updateInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-pencil'></i>删除</button>";
						//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						if($('#__uidx').val()=='user1'){
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: ae   });
						}else{
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: ae + be + ca });
						};
		
					}
				},
				editurl: "dummy.html",
				rownumbers: true,
				caption: false,
				multiselect: false,
				autowidth: true,

			});


			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			})

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function


	}
	$("#add_insurance").on('click', function () {
		addInfo();
	})
	
	function addInfo(){
		location.hash = 'page/ts/Slaughterhouse.html'
		
	};
	
	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/Slaughterhouse.html?idx=' + rowData.idx+'&ischeck=1';
	};
	
	function updateInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/Slaughterhouse.html?idx=' + rowData.idx;
	};
	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.enterprise_name);
		$('#removerCompany_btn').attr('idx', rowData.idx);


	};
	$('#removerCompany_btn').on('click', function () {
		var idx = $('#removerCompany_btn').attr('idx');
		console.log(idx);
		var step = [{ JSCODE: 'SAVE', CODE: 'REMOVE', CLZ: 't_slaughter', RCODE: 'ENTITY', DATA: { "idx": idx} }];
		__RUN_STEP(step, function (d) {			
			console.log(d.ENTITY);
			var step1=[{JSCODE:'LOAD',CODE:'LD_SLAUGHTER_LIST',RCODE:'LIST',DATA:{}} ]
			__RUN_STEP(step1, function (data) {
				
				$("#jqgrid").jqGrid('setData', data.LIST);
				$("#jqgrid").trigger("reloadGrid");
				$('#mymodel').modal('hide');
			});
		});
	})

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>