<style>
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.clearfix {
		zoom: 1
	}
	/*搜索按钮*/
	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #494949;
		background: #F7F7F7;
		border: 1px solid #D9D9D9;
		margin-left: 10px;
	}
	/*jqgrid表头设置*/
	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}
	.btncolor {
		background: #2196F3 !important;
		border-radius: 5px !important;
		color: #fff !important;
	}
	.btnRadius {
		border-radius: 5px !important;
	}
</style>
<!-- widget grid -->
<section id="widget-grid">
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-info">
				<strong>提示:</strong> 查询各个兽药企业信息
			</div>
			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="bank_from" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">兽药企业</label>
										<div class="col col-sm-9">
											<input type="text" name="name" placeholder="请输入供应商名称" class="form-control">
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" value="新增" id="add_insurance" />
								<input type="button" class="btn btn-primary" value="查询" id="personage_from_btn" />
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>
<!-- end widget grid -->
<!-- 删除人员 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除供应商：</p>
				<span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			__RUN_ACT('drugs/init', {}, function (data) {
				run_jqgrid_function(data);
			});
		});
		/*表单查询按钮事件*/
		$('#personage_from_btn').on('click', function () {
			var data = __GET_FROM_VALUES('bank_from');
			data = __RMV_NULL_PROP(data);
			if (data.name) {
				data.name = '%' + data.name + '%';
			}
			var d = __RMV_NULL_PROP(data);
			__RUN_ACT('/drugs/query', data, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			})
		});
		function run_jqgrid_function(jqgrid_data) {
			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', 'idx', '企业名称', '负责人', '联系电话', '企业邮箱', '成立时间', '创建时间', '修改时间', '操作'],
				colModel: [
					{ name: '', index: '', sortable: false, align: "center", width: '0px' },
					{ name: 'idx', index: 'idx', sortable: false, align: "center", hidden: true },
					{ name: 'name', index: 'name', sortable: false, align: "center", width: '100px' },
					{ name: 'principal_name', index: 'principal_name', sortable: false, align: "center" },
					{ name: 'link_phone', index: 'link_phone', sortable: false, align: "center" },
					{ name: 'enterprise_email', index: 'enterprise_email', sortable: false, align: "center" },
					{ name: 'establish_date', index: 'establish_date', sortable: false, align: "center" },
					{ name: 'create_time', index: 'create_time', sortable: false, align: "center" },
					{ name: 'update_time', index: 'update_time', sortable: false, align: "center" },
					{ name: 'act', index: 'act', sortable: false, align: "center", width: '200px' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				shrinkToFit: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-pencil'></i>查看</button>";
						ed = "<button class='btn btn-xs btn-default' onclick=\"updataInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-pencil'></i>删除</button>";
						if ($('#__uidx').val() == 'user1') {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be });
						} else {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ed + ca });
						}
					}
				},
				editurl: "dummy.html",
				rownumbers: true,
				caption: false,
				multiselect: false,
				autowidth: true,
			});
			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");
			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			// update buttons
			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			});
			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function
	}
	$('#add_insurance').on('click', function () {
		// var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer', RCODE: 'ENTITY', DATA: { "scale_type": "0" } }]
		// __RUN_STEP(step, function (d) {
		// 	location.hash = 'page/nh/farmer/individual.html?customer_idx=' + d['ENTITY'].idx;
		// });
		location.hash = 'page/ts/veterinaryDrugAdd.html';
	});
	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/veterinaryDrugAdd.html?bank_idx=' + rowData.idx + '&ischeck=1';
	}
	function updataInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/veterinaryDrugAdd.html?bank_idx=' + rowData.idx;
	}
	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.name);
		$('#removerPersonage_btn').attr('idx', rowData.idx);
	}
	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');
		var data = { idx: 'idx' }
		console.log(data)
		__RUN_ACT('/drugs/delete', { 'idx': idx }, function (d) {
			window.location.reload()
		});
	})
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>