<style type="text/css">
	#pjqgrid_left {
		visibility: hidden !important;
	}

	.addRightMargin {
		margin-right: 10px;
	}

	.form-groupHeight {
		height: 30px;
		line-height: 32px;
	}

	.form-groupHeight select {
		height: 30px;
	}

	.btncolor {
		background: #2196F3 !important;
		border-radius: 5px !important;
		color: #fff !important;
	}

	.btnRadius {
		border-radius: 5px !important;
	}

	#rs_mjqgrid {
		width: 2px;
		left: 0;
		background-color: #777;
		cursor: e-resize;
		cursor: col-resize;
		position: absolute;
		top: 0;
		height: 100px;
		overflow: hidden;
		display: none;
		border: 0 none;
		z-index: 99999;
	}

	.ui-jqgrid-btable tr.jqgrow td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>
<section id="widget-grid" class="">
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-info">
				<strong>提示:</strong> 查询各个区域的专管人员信息
			</div>
			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="staffForm" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">员工姓名</label>
										<div class="col col-sm-9">
											<input type="text" name="staff_name" placeholder="请输入员工姓名进行查找" class="form-control">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">所属地区</label>
										<div class="col col-sm-10">
											<div id="cityTree">
											</div>
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" value="新增" id="add_btn" />
								<input type="button" class="btn btn-primary" value="查询" id="search_btn" />
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->
		</article>
		<!-- WIDGET END -->
	</div>
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
			<br>
		</article>
	</div>
</section>
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除供应商：</p>
				<span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	pageSetUp();
	//	列表展示	
	var pagefunction = function () {
		_Import_Html('cityTree', 'page/common/cityTree.html');
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			__RUN_ACT('/administer/init', {}, function (data) {
				run_jqgrid_function(data)
			})
		});
		//查询
		$("#search_btn").click(function () {
			var data = {}
			data = __GET_FROM_VALUES('staffForm');
			data.staff_name = '%' + data.staff_name + '%'
			data.working_area = '%' + data.district_idx.substring(data.district_idx.lastIndexOf(',') + 1);
			d = __RMV_NULL_PROP(data);
			__RUN_ACT('/administer/query', d, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			});

		})

		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['序号', '', '员工姓名', '员工工号', '部门', '职务', '联系电话', '邮箱', '区域', '操作'],
				colModel: [{
					name: '',
					align: "center",
					index: '',
					width: "0px"

				}, {
					name: 'idx',
					index: 'idx',
					sortable: false,
					align: "center",
					hidden: true,

				},
				{
					name: 'staff_name',
					index: 'staff_name',
					editable: true
				},
				{
					name: 'job_number',
					index: 'job_number',
					editable: true
				},
				{
					name: 'department',
					index: 'department',
					align: "right",
					editable: true
				},
				{
					name: 'duty',
					index: 'duty',
					align: "right",
					editable: true
				},
				{
					name: 'contact_phone',
					index: 'contact_phone',
					align: "right",
					editable: true
				},
				{
					name: 'email',
					index: 'email',
					sortable: false,
					editable: true
				},
				{
					name: 'working_area',
					index: 'working_area',
					sortable: false,
					editable: true
				},
				{
					name: 'act',
					index: 'act',
					sortable: false
				}
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' title='查看' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-search'></i></button>";
						ed = "<button class='btn btn-xs btn-default' title='修改' onclick=\"updataInfo('" + cl + "')\"><i class='fa fa-pencil-square-o'></i></button>";
						ca = "<button class='btn btn-xs btn-default' title='删除'onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i></button>";
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						if ($('#__uidx').val() == 'user1') {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be });
						} else {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ed + ca });
						}
					}
				},
				editurl: "dummy.html",
				caption: false,
				multiselect: false,
				autowidth: true,
				rownumbers: true,
				autoScroll: true,

			});
			jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
				edit: false,
				add: false,
				del: true
			});
			jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
			/* Add tooltips */
			$('.navtable .ui-pg-button').tooltip({
				container: 'body'
			});
			jQuery("#m1").click(function () {
				var s;
				s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
				alert(s);
			});
			jQuery("#m1s").click(function () {
				jQuery("#jqgrid").jqGrid('setSelection', "13");
			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			})

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});

		} // end function

	}
	$("#add_btn").on('click', function () {
		location.hash = 'page/ts/addStaff.html';
	})

	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/addStaff.html?bank_idx=' + rowData.idx + '&ischeck=1';
	}

	function updataInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/ts/addStaff.html?bank_idx=' + rowData.idx;
	}

	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.name);
		$('#removerPersonage_btn').attr('idx', rowData.idx);

	}
	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');
		var data = {
			idx: idx
		}
		console.log(data)
		var step = [{
			JSCODE: 'SAVE',
			CODE: 'REMOVE',
			CLZ: 't_people_responsible',
			RCODE: 'ENTITY',
			DATA: data
		}]
		__RUN_STEP(step, function () {
			window.location.reload()
		})
	})

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);
</script>