
<!-- widget grid -->
<section  class="">
    
<!-- row -->
<div class="">
    
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <div class="alert alert-info">
            <strong>提示:</strong> 全部类型的用户在此新增
        </div>

        <div class="jarviswidget well">
            <!-- widget div-->
            <div>
                <div class="widget-body no-padding">
                    
                    <div action="" id="win_form" class="smart-form">
                            <form action="" id="" class="smart-form datatable-tbar">
                                <footer>
                                    <input type="button" class="btn btn-default" id="row_new" value="添加一行" />
                                </footer>
                            </form>
                            <table id="add_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th>设备类型</th>
                                        <th>设备编号</th>
                                        <th>舍号</th>
                                        <th>安装位置</th>
                                        <th>购买日期</th>
                                        <th>安装日期</th>
                                        <th>保修期限</th>
                                    </tr>
                                </thead>
                            </table>

                        <footer>
                            <input type="button" class="btn btn-default" id="win_close" value="关闭" />
                            <input type="button" class="btn btn-primary" id="do_save" value="保存" />
                        </footer>
                    </div>

                </div>
                <!-- end widget content -->
            </div>
        </div>
        <!-- end widget div -->

    </article>
    <!-- WIDGET END -->
    
</div>
<!-- end row -->
</section>


<script>

$('#win_close').click(function(btn){
    equipment_info_win.dialog("close");
    _crtEquipmentAdd([]);
});

$("#do_save").click(function(){
    var rows=$(".product_model").length;
    var arr=[];
    
    for(var i=0;i<rows;i++){
        var rowobj={};
        rowobj['facility_name'] = $(".radiodevice").eq(i).val();
        rowobj['facility_no'] = $(".product_model").eq(i).val();
        rowobj['sidx'] = $(".sheSelect").eq(i).val();
        rowobj['sname'] = $(".sheSelect").eq(i).find('option:selected').attr('sname')
        rowobj['installat_posit'] = $(".installposit").eq(i).val();
        rowobj['customer_idx'] = getIdx;
        rowobj['buy_time'] = $(".batch_num").eq(i).val();
        rowobj['install_time'] = $(".quantity").eq(i).val();
        rowobj['guarantee_time'] = $(".unit_price").eq(i).val();
        arr[i] = rowobj;
    }
    console.log(arr);
    for(var i=0;i<arr.length;i++){
        var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_facility',RCODE:'ENTITY',DATA:arr[i]}  ]; 
         __RUN_STEP(step,function(data){  
            if($('.spanActive').attr('widget_id')=='0'){
                var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST_JI',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
                __RUN_STEP(step,function(d){  
                    console.log(d)
                    _crtEquipment(d.LIST)	
                })
            }else if($('.spanActive').parent().parent().siblings('span').attr('widget_id')=='0'){
                var sidx = $(this).attr('widget_id');
                var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST_JI',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'sidx' : sidx}}];
                __RUN_STEP(step,function(d){  
                    console.log(d)
                    _crtEquipment(d.LIST)	
                })
            }else{
                var lidx = $(this).attr('widget_id');
                var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST_JI',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'lidx' : lidx}}];
                __RUN_STEP(step,function(d){  
                    console.log(d)
                    _crtEquipment(d.LIST)	
                })
            }
        });
    };
    _crtEquipmentAdd([]);
    equipment_info_win.dialog("close"); 
  
});

pageSetUp();

var addNewInit = function () {
    _crtEquipmentAdd([]);
}

$("#row_new").click(function(){
    console.log(new_tbl)
    var sel = '<select name="" id="" class="form-control radiodevice" style="width: 100%;"><option value="">请选择</option><option value="0">红外线温度传感器</option><option value="1">智能台秤</option><option value="2">路由器</option></select>'
    var inpModel = '<input type="" name="" class="product_model form-control" value=""  style="width: 100%;"/>'
    var inpUnit = '<select name="" id="" class="form-control sheSelect" style="width: 100%;"><option value="">请选择</option></select>';
    var installPosit = '<input type="" name="" class="installposit daylist form-control" value=""  style="width: 100%;"/>'
    var inpNum = '<input type="" name="" class="batch_num daylist form-control" value=""  style="width: 100%;"/>'
    var inpQuant = '<input type="" name="" class="quantity daylist form-control" value=""  style="width: 100%;"/>'
    var inpPrice = '<input type="" name="" class="unit_price form-control" value=""  style="width: 100%;"/>'

    new_tbl.row.add([sel,inpModel,inpUnit,installPosit,inpNum,inpQuant,inpPrice]).draw();
    lansheRender();
    initdata('batch_num');
    initdata('quantity');
    $('.daylist').click(function () {
        $(".clear").text('清空');
    })
    console.log($(".sheSelect").val())

})

addNewInit();

function _crtEquipmentAdd(data) {
    if (new_tbl) {
        new_tbl.destroy();
        new_tbl = null;
    }

    new_tbl = $('#add_table').DataTable({
        sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        data: data,
        bDestroy: true,
        bPaginate: false,
        searching: false,
        language: language,
        iDisplayLength: 15,
        ordering: false,
        fnDrawCallback: function (oSettings) {
 
        }
    });
    
}


</script>