<!-- widget grid -->
<section class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此新增修改信贷产品信息
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">

						<form action="" id="win_form" class="form-horizontal">
							<input type="hidden" name="idx" />
							<input type="hidden" name="isDelete" value="1" />
							<input type="hidden" name="bank_idx" />
							<fieldset>
								<legend>发布信贷产品</legend>
								<div class="row">
									<div class="form-group col-md-8">
										<label class="col-md-3 control-label">产品名称：</label>
										<div class="col-md-9">
											<input class="form-control" name="product_name" placeholder="产品名称" type="text" />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-5 control-label">产品编号：</label>
										<div class="col-md-6">
											<input class="form-control" name="product_no" placeholder="产品编号" type="text" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-5">
										<label class="col-md-5 control-label">发生日期：</label>
										<div class="col-md-6">
											<input class="form-control" name="posted_date" placeholder="发生日期" type="text" disabled />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">发布者：</label>
										<div class="col-md-6">
											<input class="form-control" name="posted_people" placeholder="发布者" type="text" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">产品简介：</label>
										<div class="col-md-10">
											<textarea class="form-control" name="product_intro" placeholder="产品简介" rows="4"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">产品特色：</label>
										<div class="col-md-10">
											<textarea class="form-control" name="product_feature" placeholder="产品特色" rows="4"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">适用对象：</label>
										<div class="col-md-10">
											<textarea class="form-control" name="suitable_obj" placeholder="适用对象" rows="4"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">申办流程：</label>
										<div class="col-md-10">
											<textarea class="form-control" name="bid_process" placeholder="申办流程" rows="4"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">备注：</label>
										<div class="col-md-10">
											<textarea class="form-control" name="remark" placeholder="备注" rows="4"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label">最小额度：</label>
										<div class="col-md-4">
											<input class="form-control" name="product_min" placeholder="最小额度" type="text" />
										</div>
										<label class="col-md-1 control-label">万</label>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-5 control-label">审批时间：</label>
										<div class="col-md-3">
											<input class="form-control" name="examine_date" placeholder="审批时间" type="text" />
										</div>
										<label class="col-md-4 control-label">工作日</label>
									</div>
								</div>
							</fieldset>
							<div class="smart-form">
								<footer>
									<input type="button" class="btn btn-default" id="win_close" value="关闭" />
									<input type="button" class="btn btn-primary" id="do_save" value="保存" />
								</footer>
							</div>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->
</section>

<script type="text/javascript">
	//ajax-win
	var win_id = '';


	function win_init() {
		$('#win_close').click(function (btn) {
			credit_info_win.dialog("close");
		});

		$('#do_save').click(function (btn) {
			var step;
			var data = __GET_FROM_VALUES('win_form');
			if (data.idx) {
				step = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_bank_product', RCODE: 'ENTITY', DATA: data }]
			} else {
				step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_bank_product', RCODE: 'ENTITY', DATA: data }]
			}
			__RUN_STEP(step, date => {
				credit_info_win.dialog("close");
				loadData();
			})
			// __RUN_ACT('/sys/saveuser', data, function () {
			// 	credit_info_win.dialog("close");
			// 	loadData();
			// });
		});
	}

	function loadUserInfo(idx) {
		__RESET_FORM('win_form');
		var step = [
			{ JSCODE: 'LOAD', CODE: 'LD_BANKPRODUCT_DETAILS', RCODE: 'ENTITY', DATA: { idx: idx } }
		];
		__RUN_STEP(step, function (d) {
			__SET_FORM_VALUES('win_form', d.ENTITY[0]);
		});
	}


	loadScript("js/plugin/jquery-form/jquery-form.min.js",win_init);
</script>