<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面可对农户申请的贷款项目进行审核
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">

						<form action="" id="credit_query_form" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">公司名称</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_code" placeholder="请输入公司名称" class="form-control">
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">贷款单号</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_code" placeholder="请输入贷款单号" class="form-control">
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">信贷产品编号</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_code" placeholder="请输入信贷产品编号" class="form-control">
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">信贷产品名称</label>
										<div class="col col-sm-9">
											<input type="text" name="bank_code" placeholder="请输入信贷产品名称" class="form-control">
										</div>
									</section>
								</section>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">所属地区</label>
										<div class="col col-sm-10">
											<div id="cityTree">
											</div>
										</div>
									</section>
									<section class="col col-md-5 col-sm-12 col-lg-5">
										<div class="col col-sm-4">
											<select name="bank_name" class="form-control">
												<option value="申请时间">申请时间</option>
												<option value="放款时间">放款时间</option>
											</select>
										</div>
										<div class="col col-sm-3">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-3">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-6 control-label">审批状态</label>
										<div class="col col-sm-6">
											<select name="bank_name" class="form-control">
												<option value="全部">全部</option>
												<option value="未审核">未审核</option>
												<option value="未通过">未通过</option>
												<option value="通过">通过</option>
											</select>
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id-0">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>贷款单号</th>
									<th>贷款单位</th>
									<th>信贷产品编号</th>
									<th>信贷产品名称</th>
									<th>贷款金额（元）</th>
									<th>贷款期限（月）</th>
									<th>审批状态</th>
									<th>申请时间</th>
									<th>是否还款</th>
									<th>放款时间</th>
									<th>贷款审批</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->

	<div id="credit_info" title="信贷产品详情" class="ajax-win"></div>


</section>


<script id="edit_cell" type="text/html">
	<div>
		<a href="javascript:void(0)" title="审核" class="edit_cell" onclick="query_credit('${idx}')"><i class="fa fa-clipboard"></i></a>
	</div>
</script>


<script type="text/javascript">
	pageSetUp();
	var pagedestroy = function () { }
	var pagefunction = function () { uxinit(); }
	var credit_tbl = null;
	var credit_info_win;
	var data = [
		{
			loan_odd_number:'001',
			customer_name:'新旺养殖场',
			credit_product_number:'XECJD',
			product_name:'小额创业贷',
			apply_funs:'500,000',
			apply_time:'12',
			approval_status:'0',
			application_time:'',
			repayment:'0',
			loan_time:''
		},
		{
			loan_odd_number:'002',
			customer_name:'新旺养殖场',
			credit_product_number:'XECJD',
			product_name:'小额创业贷',
			apply_funs:'500,000',
			apply_time:'12',
			approval_status:'1',
			application_time:'',
			repayment:'0',
			loan_time:''
		},
		{
			loan_odd_number:'003',
			customer_name:'新旺养殖场',
			credit_product_number:'XECJD',
			product_name:'小额创业贷',
			apply_funs:'500,000',
			apply_time:'12',
			approval_status:'2',
			application_time:'2016-08-05',
			repayment:'1',
			loan_time:'2017-08-01'
		}
	]
	function _optionRender(data, type, row) {
		return $('#edit_cell').tmpl(data).html();
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "No data available in table",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		credit_tbl = $('#credit_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			info: false,
			language:language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "funs_number" },
				{ data: "customer_name" },
				{ data: "product_no" },
				{ data: "product_name" },
				{ data: "apply_funs" },
				{ data: "apply_time" },
				{ data: "approval_status",render:function(data){if(data==0){return '<span>未审批</span>'}if(data==1){return '<span style="color:red">未通过</span>'}if(data==2){return '<span style="color:green">通过</span>'}}},
				{ data: "create_time" },
				{ data: "repayment",render:function(data){if(data==0){return '否'}if(data==1){return '是'}}},
				{ data: "loan_time" },
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});

		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

	function uxinit() {
		credit_info_win = $("#credit_info").dialog({
			autoOpen: false,
			width: 800,
			resizable: false,
			modal: true
		});
		_Import_Html('cityTree','page/common/cityTree.html');
		$('[name="posted_date1"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		$('[name="posted_date2"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		var step =[  {JSCODE:'LOAD',CODE:'LD_TEST2_LIST',RCODE:'LIST',DATA:{'type':'0'}} ];  
		__RUN_STEP(step,function(d){ 
			var arr = [];
			for(var i=0;i<d.LIST.length;i++){
				arr[i] = JSON.parse(d.LIST[i].banktest);
				arr[i].idx =d.LIST[i].idx;
			};
			console.log(arr);
			_crtGrid(arr);
		})

		
		// loadData();

		$('#credit_qry').click(function () {
			var d = __GET_FROM_VALUES('credit_query_form');
			var cdn = {};
			for (var p in d) {
				if (!d[p]) {
					continue
				} else {
					if (p == 'product_no') {
						cdn[p] = '%' + d[p] + '%';
					} else if (p == 'product_name') {
						cdn[p] = '%' + d[p] + '%';
					} else {
						cdn[p] = d[p];
					}
				}
			}
			cdn.bank_idx = getQueryString('bank_idx');
			loadData(cdn);
		});

		$('#reset_qry').click(function () {
			__RESET_FORM('credit_query_form');
		});

		$('#credit_new').click(function () {
			__SHOW_WIN(credit_info_win, 'page/bank/credit_info.html', () => {
				$('#win_form input').removeAttr('readOnly');
				$('#win_form textarea').removeAttr('readOnly');
				$('#do_save').show();
				__RESET_FORM('win_form');
				var date = new Date();
				$('#win_form [name="bank_idx"]').val(getQueryString('bank_idx'));
				$('#win_form [name="isDelete"]').val('1');
				$('#win_form [name="posted_date"]').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate());
			});
		});

	}

	var tree_loaded = false;
	function loadData(cdn) {
		if (!cdn) cdn = { isDelete: 1 };
		else cdn.isDelete = 1;
		__RUN_ACT('bankproduct/list', cdn, function (d) {
			console.log(d);
			_crtGrid(d);
		});
	}

	function query_credit(idx) {
		window.location.hash = 'page/nh/bank_mes/approval_funs.html?idx='+idx;
	}
	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
							loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
								loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
							});
						});
					});
				});
			});
		});
	});

</script>