<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-padding">
						<div class="widget-body-toolbar">
							
							<div class="row">
								
								<div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
										<input class="form-control" id="prepend" placeholder="Filter" type="text">
									</div>
								</div>
								<div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
									
									<button class="btn btn-success">
										<i class="fa fa-plus"></i> <span class="hidden-mobile">Add New Row</span>
									</button>
									
								</div>
								
							</div>
							
								

						</div>


						<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
						<thead>			                
							<tr>
								<th data-hide="phone">ID</th>
								<th data-class="expand">编号</th>
								<th data-hide="phone"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>农户</th>
								<th><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>SIM卡号</th>
								<th data-hide="phone,tablet">状态</th>
								<th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i>生产日期</th>
							</tr>
						</thead>
						<tbody id="grid_body">
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script id="grid" type="text/x-jquery-tmpl">	
{{each LIST}}
	<tr>
			<td>${$index+1}</td>
			<td>${reader_code}</td>
			<td>${customer_id}</td>
			<td>${SIM}</td>
			<td>${status}</td>
			<td>${date}</td>
		</tr> 
{{/each}}		     
</script>

<script type="text/javascript">
	var initFun=function(){
		var step=[{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}}];
		__RUN_STEP(step,function(d){
			$('#grid').tmpl(d).appendTo('#grid_body');
			pagefunction();
		});
	}

	var pagefunction = function() {
		var responsiveHelper_dt_basic = undefined;
		var breakpointDefinition = {
			tablet : 1024,  phone : 480
		};

		$('#dt_basic').dataTable({
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
				"t"+
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			
			
		});

	};

	pageSetUp();
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", initFun)
				});
			});
		});
	});
</script>
