
<!-- widget grid -->
<section  class="">
        
    <!-- row -->
    <div class="">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <div class="alert alert-info">
                <strong>提示:</strong> 全部羊饲料配方在此新增
            </div>

            <div class="jarviswidget well">
                <!-- widget div-->
                <div>
                    <div class="widget-body no-padding">
                        
                        <div action="" id="win_form" class="smart-form">
                            <header class="col-12">
                                配方基本信息
                            </header>
                            <section class="col-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>配方编码</th>
                                            <th>配方名称</th>
                                            <th>创建日期</th>
                                            <th>密度</th>
                                            <th>状态</th>
                                            <th>备注</th>
                                        </tr> 
                                    </thead>
                                    <tbody id="showData">
                                        <tr>
                                            <td><input type="text" name="recipe_coding" class="form-control"></td>
                                            <td><input type="text" name="recipe_name" class="form-control"></td>
                                            <td><input type="text" name="creation_time" class="form-control" id="create_init"></td>
                                            <td><input type="text" name="density" class="form-control"></td>
                                            <td width='12%'><select name="state" id="state" class="form-control">
                                                <option value="0">请选择</option>    
                                                <option value="1">可用</option>    
                                                <option value="2">不可用</option>    
                                            </select></td>
                                            <td width="20%"><input type="text" name="remarks" class="form-control"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <section class="col col-sm-12"> 
                                <div class="col-md-6 col-sm-12">
                                        <header>
                                            配方成分
                                        </header>
                                    <form action="" id="" class="datatable-tbar">
                                       
                                        <footer>
                                            <input type="button" class="btn btn-default" id="row_new" value="添加一行" />
                                        </footer>
                                    </form>
                                    <table id="add_table" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th>成分</th>
                                                <th>占比(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <form action=""  class="datatable-tbar">
                                            
                                        <footer>
                                            <input type="button" class="btn btn-default"  id="show_addPic" value="显示图表" />
                                        </footer>
                                    </form>
                                </div>
                                <div class="col col-md-6 col-sm-12" style="height:300px;">
                                    <div id="addPic" style="width:357px;height:300px;margin:0 auto;position: absolute;" >
                                        
                                    </div>
                                </div>
                            </section>
                           
                                

                            <footer>
                                <input type="button" class="btn btn-default" id="win_close" value="关闭" />
                                <input type="button" class="btn btn-primary" id="do_save" value="保存" />
                            </footer>
                        </div>

                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->

        </article>
        <!-- WIDGET END -->
        
    </div>
    <!-- end row -->
</section>


<script>
     // 基于准备好的dom，初始化echarts实例
     var myChart = echarts.init(document.getElementById('addPic'));

    // 指定图表的配置项和数据
    var option = {
        title : {
            text: '成分占比图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    

    // 使用刚指定的配置项和数据显示图表。
    // myChart.setOption(option);


    $('#win_close').click(function(btn){
        equipment_info_win.dialog("close");
        $("#showData").find('input').val('');
        $("#showData").find('select').val('');
        option.series[0].data = [];
        option.legend.data = [];
        myChart.setOption(option);
        _crtEquipmentAdd([]);
    });

    $("#do_save").click(function(){
        var myshowData = __GET_FROM_VALUES('showData')
        myshowData['customer_idx'] = getIdx;
        var rows=$(".product_model").length;
        var arr=[];
        
        for(var i=0;i<rows;i++){
            var rowobj={};
            rowobj['component'] = $(".radiodevice").eq(i).val();
            rowobj['proportion'] = $(".product_model").eq(i).val();
            arr[i] = rowobj;
        };
        myshowData['recipe_constituent'] = JSON.stringify(arr);
        console.log(myshowData ,'123');
        var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_feed_recipe',RCODE:'ENTITY',DATA:myshowData}  ]; 
        __RUN_STEP(step,function(data){ 
         
            var step=[  {JSCODE:'LOAD',CODE:'LD_FEED_RECIPE',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
            __RUN_STEP(step,function(d){  
                console.log(d)
                equipment_info_win.dialog("close");
                _crtEquipment(d.LIST)	
                $("#showData").find('input').val('');
                $("#showData").find('select').val('');
                option.series[0].data = [];
                option.legend.data = [];
                myChart.setOption(option);
                _crtEquipmentAdd([]);
               
            })
        })
      
    });

    $("#show_addPic").click(function(){
        var rows=$(".product_model").length;
        var arr=[];
        var arrname=[];
       
        for(var i=0;i<rows;i++){
            var rowobj={};
            arrname.push($(".radiodevice").eq(i).val());
            rowobj['name'] = $(".radiodevice").eq(i).val();
            rowobj['value'] = $(".product_model").eq(i).val();
            arr[i] = rowobj;
        };
        // if(feed_proportion!='100'){
        //     option.series[0].data = [];
        //     option.legend.data = [];
        //     myChart.setOption(option);
        //     return;
        // }

        console.log(arr,arrname)
        option.series[0].data = arr;
        option.legend.data = arrname;
        myChart.setOption(option);
    })

    pageSetUp();
    
    var addNewInit = function () {
        _crtEquipmentAdd([]);
        $("#create_init").datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
    }

    $("#row_new").click(function(){
        console.log(new_tbl)
        var sel = '<select name="" id="" class="form-control radiodevice" style="width: 100%;"><option value="">请选择</option><option value="大豆秸粉">大豆秸粉</option><option value="花生秧粉">花生秧粉</option><option value="豆腐渣">豆腐渣</option><option value="啤酒槽">啤酒槽</option><option value="混合精料(玉、菜、麸)">混合精料(玉、菜、麸)</option><option value="混合精料(育肥)">混合精料(育肥)</option><option value="青贮">青贮</option><option value="麸皮">麸皮</option><option value="玉米粉">玉米粉</option><option value="豆粕">豆粕</option><option value="氨化稻草">氨化稻草</option><option value="竹叶">竹叶</option><option value="黄酒槽">黄酒槽</option><option value="玉米杆">玉米杆</option><option value="生长精料">生长精料</option><option value="玉米皮">玉米皮</option><option value="预混料">预混料</option></select>'
        var inpModel = '<input type="" name="" class="product_model form-control" value=""  style="width: 100%;"/>'

        new_tbl.row.add([sel,inpModel]).draw();
      
        initdata('batch_num');
        initdata('quantity');
        $('.daylist').click(function () {
			$(".clear").text('清空');
        })
     
       
    })
   
    addNewInit();

    function _crtEquipmentAdd(data) {
		if (new_tbl) {
			new_tbl.destroy();
			new_tbl = null;
		}
	
		new_tbl = $('#add_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			bPaginate: false,
			searching: false,
			language: language,
			iDisplayLength: 15,
			ordering: false,
			fnDrawCallback: function (oSettings) {
     
			}
		});
		
	}


</script>