
<!-- widget grid -->
<section  class="">
        
    <!-- row -->
    <div class="">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget well">
                <!-- widget div-->
                <div>
                    <div class="widget-body no-padding">
                        
                        <div action="" id="win_check_form" class="smart-form">
                            <section class="col col-sm-12"> 
                                <div class="col col-md-6 col-sm-12">
                                        <header>
                                            配方成分
                                        </header>
                                    <table id="check_table" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="table-layout: fixed;">
                                        <thead>
                                            <tr>
                                                <th>成分</th>
                                                <th>占比(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody id="checkRow"></tbody>
                                    </table>
                                </div>
                                <div class="col col-md-6 col-sm-12" style="height:300px;">
                                    <div id="checkPic" style="width:357px;height:300px;margin:0 auto;position: absolute;" >
                                        
                                    </div>
                                </div>
                            </section>
                           
                        </div>

                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->

        </article>
        <!-- WIDGET END -->
        
    </div>
    <!-- end row -->
</section>

<script id="addTr" type="text/html">
    {{each data}}
        <tr>
            <td>${component}</td>
            <td>${proportion}</td>
        </tr>
    {{/each}}


</script>

<script>
     // 基于准备好的dom，初始化echarts实例
    

    // 指定图表的配置项和数据
    var cfoption = {
        title : {
            text: '成分占比图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    

    // 使用刚指定的配置项和数据显示图表。
    // myChart.setOption(option);


    $('#win_close').click(function(btn){
        equipment_info_win.dialog("close");
        _crtEquipmentAdd([]);
    });

    $("#do_save").click(function(){
        var showData = __GET_FROM_VALUES('showData')
        showData['customer_idx'] = getIdx;
        var rows=$(".product_model").length;
        var arr=[];
        
        for(var i=0;i<rows;i++){
            var rowobj={};
            rowobj['component'] = $(".radiodevice").eq(i).val();
            rowobj['proportion'] = $(".product_model").eq(i).val();
            arr[i] = rowobj;
        };
        showData['recipe_constituent'] = JSON.stringify(arr);
        console.log(showData ,'123');
        var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_feed_recipe',RCODE:'ENTITY',DATA:showData}  ]; 
        __RUN_STEP(step,function(data){ 
         
            var step=[  {JSCODE:'LOAD',CODE:'LD_FEED_RECIPE',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
            __RUN_STEP(step,function(d){  
                console.log(d)
                _crtEquipment(d.LIST)	
                __RESET_FORM(showData)
                _crtEquipmentAdd([]);
                equipment_info_win.dialog("close");
            })
        })
      
    });

    $("#show_addPic").click(function(){
        var rows=$(".product_model").length;
        var arr=[];
        var arrname=[];
        for(var i=0;i<rows;i++){
            var rowobj={};
            arrname.push($(".radiodevice").eq(i).val());
            rowobj['name'] = $(".radiodevice").eq(i).val();
            rowobj['value'] = $(".product_model").eq(i).val();
            arr[i] = rowobj;
        };
        option.series[0].data = arr;
        option.legend.data = arrname;
        myChart.setOption(option);
    })

    pageSetUp();
    
    var addNewInit = function () {
        
    }

   
    addNewInit();



</script>