<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面饲料厂可以查看饲料销售的详情
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="credit_query_form" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">质量等级</label>
										<div class="col col-sm-9">
											<select name="bank_name" class="form-control">
												<option value="一级">一级</option>
												<option value="二级">二级</option>
											</select>
										</div>
									</section>
									<section class="col col-md-5 col-sm-12 col-lg-5">
										<label class="col-sm-3 control-label" style="text-align:center;">生产时间</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">饲料名称</label>
										<div class="col col-sm-9">
											<input type="text" name="" class="form-control" placeholder="饲料名称">
										</div>
									</section>
								</section>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">客户名称</label>
										<div class="col col-sm-9">
											<input type="text" name="" class="form-control" placeholder="客户名称">
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form action="" id="user_tbar" class="smart-form datatable-tbar">
							<footer>
								<input type="button" class="btn btn-default" id="credit_new" value="新增" />
							</footer>
						</form>
						<table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>饲料名称</th>
									<th>质量等级</th>
									<th>销售重量（kg）</th>
									<th>销售员</th>
									<th>客户</th>
									<th>签收验货人</th>
									<th>金额</th>
									<th>出仓位置</th>
									<th>查看详情</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


</section>


<script id="edit_cell" type="text/html">
		<div>
			<a href="javascript:void(0)" title="审核" class="edit_cell" ><i class="fa fa-search"></i></a>
		</div>
	</script>


<script type="text/javascript">
	pageSetUp();
	var pagefunction = function () { uxinit(); }
	var credit_tbl = null;
	function _optionRender(data, type, row) {
		return $('#edit_cell').tmpl(data).html();
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "表中没有可用数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		credit_tbl = $('#credit_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "feed_name" },
				{ data: "quality_grade" },
				{ data: "sales_weight" },
				{ data: "salesperson" },
				{ data: "customer" },
				{ data: "receipt_of_surveyor" },
				{ data: "money" },
				{ data: "out_of_position" },
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});

		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

	function uxinit() {
		var data = [
			{
				feed_name: '567哺乳母猪配合饲料',
				quality_grade: '一级',
				sales_weight: '4000',
				salesperson: '老胡',
				customer: '老任',
				receipt_of_surveyor: '老徐',
				money: '50,000',
				out_of_position: '仓20'
			},
			{
				feed_name: '567哺乳母猪配合饲料',
				quality_grade: '一级',
				sales_weight: '1500',
				salesperson: '老胡',
				customer: '老任',
				receipt_of_surveyor: '老徐',
				money: '10,000',
				out_of_position: '仓20'
			},
			{
				feed_name: '567哺乳母猪配合饲料',
				quality_grade: '一级',
				sales_weight: '3000',
				salesperson: '老胡',
				customer: '老任',
				receipt_of_surveyor: '老徐',
				money: '25,000',
				out_of_position: '仓20'
			}
		]
		$('[name="posted_date1"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		$('[name="posted_date2"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		_crtGrid(data);
		// loadData();

		$('#credit_qry').click(function () {
			var d = __GET_FROM_VALUES('credit_query_form');
			var cdn = {};
			for (var p in d) {
				if (!d[p]) {
					continue
				} else {
					if (p == 'product_no') {
						cdn[p] = '%' + d[p] + '%';
					} else if (p == 'product_name') {
						cdn[p] = '%' + d[p] + '%';
					} else {
						cdn[p] = d[p];
					}
				}
			}
			cdn.bank_idx = getQueryString('bank_idx');
			loadData(cdn);
		});

		$('#reset_qry').click(function () {
			__RESET_FORM('credit_query_form');
		});

		$('#credit_new').click(function () {
			window.location.hash = 'page/nh/insure/insure.html'
		});

	}

	var tree_loaded = false;
	function loadData(cdn) {
		var step = [
			{ JSCODE: 'LOAD', CODE: 'LD_TEST2_LIST', RCODE: 'ENTITY', DATA: { type: 10 } }
		]
		__RUN_STEP(step, function (d) {
			var dataArr = [];
			for (var key in d['ENTITY']) {
				var data = JSON.parse(d['ENTITY'][key].insureapply);
				data.idx = d['ENTITY'][key].idx;
				data.approval_date = data.approval_date || '';
				data.approval_results = data.approval_results || '0';
				dataArr.push(data);
			}
			console.log(dataArr);
			_crtGrid(dataArr);
		})
	}

	function query_credit(idx, data) {
		var data = JSON.parse(data);
		data.return_apply = '0';
		data = JSON.stringify(data);
		$.confirm({
			text: "确定要撤销申请么?",
			confirm: function () {
				var step = [{ JSCODE: 'IUD', CODE: 'UPDATE', CLZ: 'test2', DATA: { idx: idx, insureapply: data } }];
				__RUN_STEP(step, function (d) {
					loadData();
				});
			}
		});
	}

	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
							loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
								loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
							});
						});
					});
				});
			});
		});
	});

</script>