<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/* 表格自定义样式 */
	#credit_table th,#credit_table td{
		vertical-align: middle;
	}
	table.dataTable {
 		table-layout: fixed;
	} 
	.myP {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    }
    .smart-form{
        color: #333;
    }
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面进行巡查管理
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">

						<form action="" id="credit_query_form" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-3 col-sm-12 col-lg-3">
									<label class="col-sm-3 control-label">舍号</label>
									<div class="col col-sm-9">
										<input type="text" name="product_no" placeholder="请输入舍号" class="form-control">
									</div>
								</section>
								<section class="col col-md-3 col-sm-12 col-lg-3">
									<label class="col-sm-3 control-label">日期</label>
									<div class="col col-sm-9">
										<input type="text" name="posted_date1" placeholder="请输入日期" class="form-control">
									</div>
								</section>
								<section class="col col-md-6 col-sm-12 col-lg-6">
									<label class="col-sm-3 control-label">养殖员</label>
									<div class="col col-sm-9">
										<input type="text" name="bear_man" placeholder="请输入养殖员姓名" class="form-control">
									</div>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id-0">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form action="" id="user_tbar" class="smart-form datatable-tbar">
							<footer>
								<input type="button" class="btn btn-default" id="credit_new" value="巡查制度设置" />
							</footer>
						</form>
						<table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>舍号</th>
									<th>养殖员</th>
									<th>日期</th>
									<th>提示</th>
									<th>巡查明细</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->

	<div id="credit_info" title="信贷产品详情" class="ajax-win"></div>
    <div id="check_info" title="巡查明细" class="ajax-win"></div>

</section>


<script id="edit_cell" type="text/html">
	<div>
		<a href="javascript:void(0)" title="查看" class="edit_cell" onclick="query_credit(${product_min})"><i class="fa fa-search"></i></a>
	</div>
</script>

<script id="each_time" type="text/html">
	{{each(i,val) data}}
		{{if val.product_min=='1'}}
			<tr>
				<td>位置一</td>
				<td>2017-11-24  8:30:21</td>
				<td>2017-11-24  11:30:21</td>
				<td>2017-11-24  16:30:21</td>
			</tr>
			<tr>
				<td>位置二</td>
				<td>2017-11-24  8:35:21</td>
				<td>2017-11-24  11:35:21</td>
				<td>2017-11-24  16:35:21</td>
			</tr>
			<tr>
				<td>位置三</td>
				<td>2017-11-24  8:40:21</td>
				<td>2017-11-24  11:40:21</td>
				<td>2017-11-24  16:40:21</td>
			</tr>
		{{else val.product_min=='2'}}
			<tr>
				<td>位置一</td>
				<td>2017-11-24  9:30:21</td>
				<td>2017-11-24  11:30:21</td>
				<td>2017-11-24  16:30:21</td>
			</tr>
			<tr>
				<td>位置二</td>
				<td>2017-11-24  10:35:21</td>
				<td></td>
				<td>2017-11-24  16:35:21</td>
			</tr>
			<tr>
				<td>位置三</td>
				<td>2017-11-24  15:40:21</td>
				<td></td>
				<td>2017-11-24  16:40:21</td>
			</tr>
		{{else val.product_min=='3'}}
			<tr>
				<td>位置一</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>位置二</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>位置三</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{{/if}}
	{{/each}}


</script>

<script type="text/javascript">
	pageSetUp();
	var pagedestroy = function () { }
	var pagefunction = function () { uxinit(); }
	var credit_tbl = null;
	var credit_info_win;
    var idx = getQueryString('bank_idx');
    var language = {
		"decimal": "",
		"emptyTable": "No data available in table",
		"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
		"infoEmpty": "第 0 页， 共计 0 页 0 条",
		"infoFiltered": "",//"(filtered from _MAX_ total entries)",
		"infoPostFix": "",
		"thousands": ",",
		"lengthMenu": "Show _MENU_ entries",
		"loadingRecords": "加载中...",
		"processing": "处理中...",
		"search": "Search:",
		"zeroRecords": "没有匹配的数据",
		"paginate": {
			"first": "第一页",
			"last": "最后一页",
			"next": "下一页",
			"previous": "前一页"
		},
		"aria": {
			"sortAscending": ": activate to sort column ascending",
			"sortDescending": ": activate to sort column descending"
		}
	};
    var checkTable =[
            {
                "product_no" : '产蛋1号舍',
                "product_name" : '赵刚',
                "product_intro" : '2017-12-09',
                "product_min" : '1',
            },
            {
                "product_no" : '产蛋2号舍',
                "product_name" : '王斌',
                "product_intro" : '2017-12-09',
                "product_min" : '2',
            },
            {
                "product_no" : '产蛋3号舍',
                "product_name" : '李明',
                "product_intro" : '2017-12-09',
                "product_min" : '3',
            },
        ]


	function _optionRender(data, type, row) {
		return $('#edit_cell').tmpl(data).html();
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		credit_tbl = $('#credit_table').DataTable({
			sDom:  "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "product_no" },
				{ data: "product_name" },
				{ data: "product_intro"},
				{ data: "product_min" ,render: function(data){ if(data=='1'){ return '正常出勤'} if(data=='2'){ return '未按规定进行笼舍巡查' } if(data=='3'){ return '旷工一天' }      }},
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});

		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

	function uxinit() {
		credit_info_win = $("#credit_info").dialog({
			autoOpen: false,
			width: 800,
			resizable: false,
			modal: true
        });
        check_info_win = $("#check_info").dialog({
			autoOpen: false,
			width: 800,
			resizable: false,
			modal: true
        });

		$('[name="posted_date1"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		$('[name="posted_date2"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		loadData();

		$('#credit_qry').click(function () {
			var d = __GET_FROM_VALUES('credit_query_form');
			debugger;
			var cdn = {};
			for (var p in d) {
				if (!d[p]) {
					continue
				} else {
					if (p == 'product_no') {
						cdn[p] = '%' + d[p] + '%';
					} else if (p == 'product_name') {
						cdn[p] = '%' + d[p] + '%';
					} else {
						cdn[p] = d[p];
					}
				}
			}
			cdn.bank_idx = getQueryString('bank_idx');
			loadData(cdn);
		});

		$('#reset_qry').click(function () {
			__RESET_FORM('credit_query_form');
		});

		$('#credit_new').click(function () {
			return;
			__SHOW_WIN(credit_info_win, 'page/bank/loan/credit_info.html', () => {
				$('#win_form input').removeAttr('readOnly');
				$('#win_form textarea').removeAttr('readOnly');
				$('#do_save').show();
				__RESET_FORM('win_form');
				var date = new Date();
				$('#win_form [name="bank_idx"]').val(getQueryString('bank_idx'));
				$('#win_form [name="isDelete"]').val('1');
				$('#win_form [name="posted_date"]').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate());
			});
		});

	}

	var tree_loaded = false;
	function loadData(cdn) {
	
		_crtGrid(checkTable);
	
	}

	function query_credit(idx) {
		__SHOW_WIN(check_info_win, 'page/chicken/attendance/work_check_info.html');
		$("#work_details").html($("#each_time").tmpl({'data':[{'product_min': idx}]}))

	}

	var current_user_idx;


	function remove_user(idx) {
		$.confirm({
			text: "确定要删除数据么?",
			confirm: function () {
				var step = [{ JSCODE: 'IUD', CODE: 'UPDATE', CLZ: 't_bank_product', DATA: { idx: idx, isDelete: '-1' } }];
				__RUN_STEP(step, function (d) {
					loadData();
				});
			}
		});
	}

	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
							loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
								loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
							});
						});
					});
				});
			});
		});
	});

</script>