<style>
	/* ocr按钮样式 */

	.ocr_btn {
		padding: 8px 10px;
		background-color: #2196f3;
		border: none;
		border-radius: 5px;
		color: #fff;
	}
	/* 标签页样式 */

	body.smart-style-6 .nav-tabs>li.active>a {
		-webkit-box-shadow: 0 -2px 0 #2196F3;
		-moz-box-shadow: 0 -2px 0 #2196F3;
		box-shadow: 0 -2px 0 #2196F3;
	}

	.nav-tabs>li>a {
		margin: 0 8px;
	}

	.nav-tabs {
		margin-top: 10px;
	}

	.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
	}
	/* 上传图片样式 */

	.head_wrap {
		height: 142px;
		width: 132px;
		border: 1px solid #cacaca;
		border-bottom: none;
		background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
		cursor: pointer;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
	}

	.head_wrap input {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 10;
	}

	.head_wrap img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 1;
		height: 100%;
	}

	.head_wrap i {
		position: absolute;
		top: 0;
		width: 25px;
		height: 25px;
		font-size: 25px;
		z-index: 20;
		background-color: #ffffff;
		color: #444444;
		opacity: 0.3;
		transition: all 0.5s;
	}

	.head_wrap .del_img {
		right: 0;
	}

	.head_wrap .expand_img {
		left: 0;
	}

	.head_wrap:hover i {
		opacity: 0.9;
	}

	#jiben_mes #head_data {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 132px;
		padding-left: 0;
	}

	.pic_check {
		text-align: center;
		width: 134px;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;

		margin: 0 auto;
		margin-bottom: 10px;
	}

	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}

	input,
	select {
		border-width: 1px!important;
		padding-left: 5px!important;
	}
	/* 兽医按钮 */

	.bank button {
		float: right;
		margin-left: 10px;
		padding: 6px 12px;
	}
	/*树状图鼠标移入样式*/

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget_content {
		overflow: auto;
		max-height: 750px;
	}

	#widget_content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/* 编辑按钮 */

	.btn_node {
		text-align: center;
		margin: 0 auto 15px;
	}

	.btn_node a {
		padding: 6px 12px;
	}
	/* 选择附件 */

	[class^=col-]>.form-control+.form-control-feedback {
		right: 0px !important;
	}
	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}
</style>
<link rel="stylesheet" href="css/viewer.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />

<section id="widget-grid-my" class="">

	<div class="row">
		<article class="col-sm-12 col-md-4 col-lg-4">
			<div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>银行信息树</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"> </div>
					<!-- widget content -->
					<div class="widget-body">
						<div class="tree smart-form" id="widget_content">
							<ul>
								<li>
									<span widget_id='0'><i class="fa fa-lg fa-folder-open"></i><b>银行</b></span>
								</li>
							</ul>
						</div>
						<!-- end widget content -->

					</div>
				</div>
			</div>
		</article>
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-8 col-lg-8">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>银行信息</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#nodeInfo" aria-controls="nodeInfo" role="tab" data-toggle="tab">节点信息</a></li>
							<li role="presentation"><a href="#addChildNode" aria-controls="addChildNode" role="tab" data-toggle="tab">添加子节点</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<!--节点信息  -->
							<div role="tabpanel" class="tab-pane active" id="nodeInfo">
								<div class="smart-form" id="updata_bank_form" novalidate="novalidate">
									<header>银行基本信息</header>
									<fieldset>
										<div class="form-horizontal">
											<input type="hidden" name="idx" value="0">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行编码</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_code" placeholder="银行编码" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行名称</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_name" placeholder="银行名称" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行简称</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_for_short" placeholder="银行简称" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行类别</label>
													<div class="col col-sm-9">
														<select name="bank_type" class="form-control">
																	<option value="国有银行">国有银行</option>
																	<option value="股份制银行">股份制银行</option>
																	<option value="城市商业银行">城市商业银行</option>
																	<option value="农信银行">农信银行</option>
																	<option value="邮储银行">邮储银行</option>
																	<option value="合作银行">合作银行</option>
																	<option value="政策性银行">政策性银行</option>
																</select>
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">助记码</label>
													<div class="col col-sm-9">
														<input type="text" name="legal_id_no" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">法人姓名</label>
													<div class="col col-sm-9">
														<input type="text" name="legal_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">总公司</label>
													<div class="col col-sm-9">
														<input type="text" name="headquarters" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">员工人数</label>
													<div class="col col-sm-9">
														<input type="text" name="company_number" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">注册资金</label>
													<div class="col col-sm-9">
														<input type="text" name="registered_capital" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户银行</label>
													<div class="col col-sm-9">
														<input type="text" name="opening_bank" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_account" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银联号</label>
													<div class="col col-sm-9">
														<input type="text" name="union_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">税号</label>
													<div class="col col-sm-9">
														<input type="text" name="duty_paragraph" placeholder="请输入..." class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">税率%</label>
													<div class="col col-sm-9">
														<input type="text" name="tax_rate" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">币种</label>
													<div class="col col-sm-9">
														<select name="currency" class="form-control">
																				<option value="人民币">人民币</option>
																			</select>
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系人</label>
													<div class="col col-sm-9">
														<input type="text" name="link_man" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">邮箱</label>
													<div class="col col-sm-9">
														<input type="text" name="email" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">传真</label>
													<div class="col col-sm-9">
														<input type="text" name="fax" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系人手机</label>
													<div class="col col-sm-9">
														<input type="text" name="link_mobile" placeholder="请输入..." class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">座机号码</label>
													<div class="col col-sm-9">
														<input type="text" name="link_number" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系地址</label>
													<div class="col col-sm-9">
														<input type="text" name="address" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>

											<section class="col col-md-12 col-sm-12 col-lg-12">

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">成立日期</label>
													<div class="col col-sm-9">
														<input type="text" name="establishment_time" readonly placeholder="请输入..." class="Time form-control">
													</div>
												</section>
											</section>
											<section class="area col col-md-12 col-sm-12 col-lg-12">
												<label class="col-sm-1 control-label">地区</label>
												<div class="col col-sm-2">
													<select name="province" class="form-control">
																<option value="">选择省</option>
															</select>
												</div>
												<div class="col col-sm-2">
													<select name="city" class="form-control">
																<option value="">选择市</option>
															</select>
												</div>
												<div class="col col-sm-2">
													<select name="area" class="form-control">
																<option value="">选择区</option>
															</select>
												</div>
												<div class="col col-sm-2">
													<select name="town" class="form-control">
																<option value="">选择镇</option>
															</select>
												</div>
												<div class="col col-sm-2">
													<select name="village" class="form-control">
																<option value="">选择村</option>
															</select>
												</div>
											</section>

										</div>
									</fieldset>
									<!-- <header>费用户</header>
									<fieldset>
										<div class="form-horizontal">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">户名</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户行</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_bank_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_bank_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
										</div>
									</fieldset>
									<header>收入户</header>
									<fieldset>
										<div class="form-horizontal">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">户名</label>
													<div class="col col-sm-9">
														<input type="text" name="income_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户行</label>
													<div class="col col-sm-9">
														<input type="text" name="income_bank_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="income_bank_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
										</div>
									</fieldset> -->
									<header>部门及负责人联系方式</header>
									<fieldset>
										<div class="tabel">

										</div>
										<div class="bank">
											<button type="button" class="add_td btn btn-primary">编辑负责人</button>
										</div>
									</fieldset>
									<header>合同上传</header>
									<fieldset>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<div class="contract form-group col-md-12 has-feedback">
													<label class="col-sm-2 col-md-2 col-lg-2 control-label">选择合同文件</label>
													<div class="col-md-4 input-group">
														<input id="updata_lefile" type="file" name="filename" style="display:none">
														<span class="input-group-addon" onclick="$('input[id=updata_lefile]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>Browse</span>
														<input name="contract_file" class="form-control" type="text">
														<span class="contract_file_id glyphicon glyphicon-save form-control-feedback" style="cursor: pointer;pointer-events: auto;"></span>
													</div>
												</div>
											</section>
										</section>

									</fieldset>
									<header>相关证件上传</header>
									<fieldset>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-3 col-sm-12 col-lg-3">
												<div class="head_wrap">
													<i class="expand_img glyphicon glyphicon-zoom-in" title="放大"></i>
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="updata_business" />
													<img src="" id="updata_business_img" />
												</div>
												<p class="pic_check"><span>营业执照上传</span></p>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12 form-horizontal">
											<div class="form-group">
												<div class="imgs"></div>
											</div>
											<div class="bank">
												<button class="add_photo btn btn-primary">添加图片</button>
											</div>
										</section>
									</fieldset>
									<fieldset>
										<div class="btn_node">
											<a class="edit_node_btn btn btn-primary" href="javascript:void(0);">编辑</a>
											<a class="back_node_btn btn btn-warning disabled" href="javascript:void(0);">返回</a>
											<a class="del_node_btn btn btn-danger" href="javascript:void(0);">删除</a>
										</div>
									</fieldset>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="addChildNode">
								<div class="smart-form" id="add_bank_form" novalidate="novalidate">
									<header>银行基本信息</header>
									<fieldset>
										<div class="form-horizontal">
											<input type="hidden" name="pid" value="0">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行编码</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_code" placeholder="银行编码" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行名称</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_name" placeholder="银行名称" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行简称</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_for_short" placeholder="银行简称" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行类别</label>
													<div class="col col-sm-9">
														<select name="bank_type" class="form-control">
																	<option value="国有银行">国有银行</option>
																	<option value="股份制银行">股份制银行</option>
																	<option value="城市商业银行">城市商业银行</option>
																	<option value="农信银行">农信银行</option>
																	<option value="邮储银行">邮储银行</option>
																	<option value="合作银行">合作银行</option>
																	<option value="政策性银行">政策性银行</option>
																</select>
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">助记码</label>
													<div class="col col-sm-9">
														<input type="text" name="legal_id_no" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">法人姓名</label>
													<div class="col col-sm-9">
														<input type="text" name="legal_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">总公司</label>
													<div class="col col-sm-9">
														<input type="text" name="headquarters" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">员工人数</label>
													<div class="col col-sm-9">
														<input type="text" name="company_number" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">注册资金</label>
													<div class="col col-sm-9">
														<input type="text" name="registered_capital" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户银行</label>
													<div class="col col-sm-9">
														<input type="text" name="opening_bank" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="bank_account" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银联号</label>
													<div class="col col-sm-9">
														<input type="text" name="union_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">税号</label>
													<div class="col col-sm-9">
														<input type="text" name="duty_paragraph" placeholder="请输入..." class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">税率%</label>
													<div class="col col-sm-9">
														<input type="text" name="tax_rate" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">币种</label>
													<div class="col col-sm-9">
														<select name="currency" class="form-control">
																				<option value="人民币">人民币</option>
																			</select>
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系人</label>
													<div class="col col-sm-9">
														<input type="text" name="link_man" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">邮箱</label>
													<div class="col col-sm-9">
														<input type="text" name="email" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">传真</label>
													<div class="col col-sm-9">
														<input type="text" name="fax" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系人手机</label>
													<div class="col col-sm-9">
														<input type="text" name="link_mobile" placeholder="请输入..." class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">座机号码</label>
													<div class="col col-sm-9">
														<input type="text" name="link_number" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">联系地址</label>
													<div class="col col-sm-9">
														<input type="text" name="address" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>

											<section class="col col-md-12 col-sm-12 col-lg-12">

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">成立日期</label>
													<div class="col col-sm-9">
														<input type="text" name="establishment_time" readonly placeholder="请输入..." class="Time form-control">
													</div>
												</section>
											</section>
											<section class="area col col-md-12 col-sm-12 col-lg-12">
												<label class="col-sm-1 control-label">地区</label>
												<div class="col col-sm-2">
													<select name="province" class="form-control">
														<option value="">选择省</option>
													</select>
												</div>
												<div class="col col-sm-2">
													<select name="city" class="form-control">
														<option value="">选择市</option>
													</select>
												</div>
												<div class="col col-sm-2">
													<select name="area" class="form-control">
														<option value="">选择区</option>
													</select>
												</div>
												<div class="col col-sm-2">
													<select name="town" class="form-control">
														<option value="">选择镇</option>
													</select>
												</div>
												<div class="col col-sm-2">
													<select name="village" class="form-control">
														<option value="">选择村</option>
													</select>
												</div>
											</section>

										</div>
									</fieldset>
									<!-- <header>费用户</header>
									<fieldset>
										<div class="form-horizontal">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">户名</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户行</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_bank_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="cost_bank_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
										</div>
									</fieldset>
									<header>收入户</header>
									<fieldset>
										<div class="form-horizontal">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">户名</label>
													<div class="col col-sm-9">
														<input type="text" name="income_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">开户行</label>
													<div class="col col-sm-9">
														<input type="text" name="income_bank_name" placeholder="请输入..." class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">银行账号</label>
													<div class="col col-sm-9">
														<input type="text" name="income_bank_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
										</div>
									</fieldset> -->
									<header>部门及负责人联系方式</header>
									<fieldset>
										<div class="tabel">

										</div>
										<div class="bank">
											<button type="button" class="add_td btn btn-primary">编辑负责人</button>
										</div>
									</fieldset>
									<header>合同上传</header>
									<fieldset>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<div class="contract form-group col-md-12 has-feedback">
													<label class="col-sm-2 col-md-2 col-lg-2 control-label">选择合同文件</label>
													<div class="col-md-4 input-group">
														<input id="add_lefile" type="file" name="filename" style="display:none">
														<span class="input-group-addon" onclick="$('input[id=add_lefile]').click();" style="cursor: pointer; background-color: #e7e7e7"><i class="fa fa-folder-open"></i>Browse</span>
														<input name="contract_file" class="form-control" type="text">
														<span class="contract_file_id glyphicon glyphicon-save form-control-feedback" style="cursor: pointer;pointer-events: auto;"></span>
													</div>
												</div>
											</section>
										</section>

									</fieldset>
									<header>相关证件上传</header>
									<fieldset>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-3 col-sm-12 col-lg-3">
												<div class="head_wrap">
													<i class="expand_img glyphicon glyphicon-zoom-in" title="放大"></i>
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="add_business" />
													<img src="" id="add_business_img" />
												</div>
												<p class="pic_check"><span>营业执照上传</span></p>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12 form-horizontal">
											<div class="form-group">
												<div class="imgs"></div>
											</div>
											<div class="bank">
												<button class="add_photo btn btn-primary">添加图片</button>
											</div>
										</section>
									</fieldset>
									<fieldset>
										<div class="btn_node">
											<a class="submit_node_btn btn btn-primary" href="javascript:void(0);">提交</a>
											<a class="empty_node_btn btn btn-warning" href="javascript:void(0);">清空</a>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</article>

	</div>
</section>

<!-- 编辑表格 -->
<div id='table_modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">编辑表格</h4>
			</div>
			<div class="modal-body form-horizontal">
				<fieldset>
					<div id="tabel_form">

					</div>
					<div class="modal-footer">
						<a class="add_row btn btn-primary">添加负责人</a>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<a class="save_table btn btn-primary">保存</a>
				<a class="btn btn-default" data-dismiss="modal">取消</a>
			</div>
		</div>
	</div>
</div>
<!-- 删除人员 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除银行：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 图片模板 -->
<script type="text/html" id="photo_tmpl">
	<div photo_idx="${idx}" class="col-md-3 col-sm-6">
		<div class="head_wrap">
			<i class="expand_img glyphicon glyphicon-zoom-in" title="放大"></i>
			<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
			<input type="file" name="filename" id="${idx}" />
			<img src="${imgSrc}" id="${idx}_img" />
		</div>
		<div class="clearfix">
			<a class="remover_photo btn btn-default" style="width:134px;display: block;margin: 5px auto;">删除</a>
		</div>
	</div>
</script>
<script type="text/html" id="tabel_tmpl">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>部门</th>
				<th>职位</th>
				<th>负责人</th>
				<th>联系手机</th>
				<th>座机</th>
				<th>传真</th>
				<th>电子邮箱</th>
			</tr>
		</thead>
		<tbody>
			{{each(i,val) director}}
			<tr>
				<td>${val.department}</td>
				<td>${val.job}</td>
				<td>${val.leading}</td>
				<td>${val.contact_number}</td>
				<td>${val.tel}</td>
				<td>${val.fax}</td>
				<td>${val.email}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>
<script type="text/html" id="tabel_form_tmpl">
	<div class="form-group">
		<div class="row">
			<label class="col-md-1 control-label">部门</label>
			<div class="col-md-2">
				<input class="form-control" name="department" placeholder="部门" type="text" value="${department}" />
			</div>
			<label class="col-md-1 control-label">职位</label>
			<div class="col-md-2">
				<input class="form-control" name="job" placeholder="职位" type="text" value="${job}" />
			</div>
			<label class="col-md-1 control-label">负责人</label>
			<div class="col-md-2">
				<input class="form-control" name="leading" placeholder="负责人" type="text" value="${leading}" />
			</div>
			<label class="col-md-1 control-label">联系手机</label>
			<div class="col-md-2">
				<input class="form-control" name="contact_number" placeholder="联系电话" type="text" value="${contact_number}" />
			</div>
		</div>
		<div class="row">
			<label class="col-md-1 control-label">座机</label>
			<div class="col-md-2">
				<input class="form-control" name="tel" placeholder="联系电话" type="text" value="${tel}" />
			</div>
			<label class="col-md-1 control-label">传真</label>
			<div class="col-md-2">
				<input class="form-control" name="fax" placeholder="联系电话" type="text" value="${fax}" />
			</div>
			<label class="col-md-1 control-label">邮箱</label>
			<div class="col-md-2">
				<input class="form-control" name="email" placeholder="联系电话" type="text" value="${email}" />
			</div>
			<div class="col-md-2">
				<a class="remover_row btn btn-default">删除负责人</a>
			</div>
		</div>
	</div>
</script>
<script src="js/viewer-jquery.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	$('#updata_bank_form input').attr('disabled', 'disabled');
	$('#updata_bank_form textarea').attr('disabled', 'disabled');
	$('#updata_bank_form select').attr('disabled', 'disabled');
	$('#updata_bank_form button').attr('disabled', 'disabled');
	$('.back_node_btn').addClass('disabled');
	/* 初始化预览组件 */
	function photoViewer() {
		$('#widget-grid-my').viewer('destroy');
		$('#widget-grid-my').viewer();
	}
	/* 负责人 */
	var updata_director = [];
	var add_director = [];
	/* 图片数组 */
	var updata_imgJson = [];
	var add_imgJson = [];
	//城市联动 地区
	function ctiy(that, callback) {
		__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function (data) {
			$(that).parent().nextAll().find('select').hide();
			$(that).parent().nextAll().find('select').html('');
			if (data.length > 0) {
				$(that).parent().next().find('select').show();
			}
			var html = '<option value="">--请选择--</option>';
			$(that).parent().next().find('select').append(html);
			data.forEach(function (value, index) {
				html = '<option value="' + value.idx + '">' + value.name + '</option>';
				$(that).parent().next().find('select').append(html);
			});

			if (callback) {
				callback();
			}
		});
	}
	$('.area select').on('change', function () {
		var that = this;
		ctiy(that);
		return false;
	})
	/* 初始化时间 */
	__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
		var html;
		$('#add_bank_form .area select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#add_bank_form .area select').first().append(html);
		})
		$('#add_bank_form .area select').first().parent().nextAll().find('select').hide();
	});
	/* 初始化时间 */
	__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
		var html;
		$('#updata_bank_form.area select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#updata_bank_form .area select').first().append(html);
		})
		$('#updata_bank_form .area select').first().parent().nextAll().find('select').hide();
	});

	__RUN_ACT('bank/queryName', {}, function (data) {
		loadScript("js/common/tree.js", function () {
			LoadTree(data);
		});
	});

	/*json转树形结构*/
	function transData(a, idStr, pidStr, chindrenStr) {
		var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
		for (; i < len; i++) {
			hash[a[i][id]] = a[i];
		}
		for (; j < len; j++) {
			var aVal = a[j], hashVP = hash[aVal[pid]];
			if (hashVP) {
				!hashVP[children] && (hashVP[children] = []);
				hashVP[children].push(aVal);
			} else {
				r.push(aVal);
			}
		}
		return r;
	}
	/*编辑树*/
	function widget(jsonDataTree) {
		jsonDataTree.forEach(function (element, index) {
			if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.bank_name + '</b></span></li>'
				$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
			} else {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.bank_name + '</b></span></li></ul>'
				$("[widget_id='" + element.pid + "']").parent().append(html);
			}
			if (element.chindren) {
				widget(element.chindren);
			}
		});
	}

	function LoadTree(jsonData) {
		widget(transData(jsonData, 'idx', 'pid', 'chindren'));
		tree();
		$('#widget_content').nestable();
		$('#widget_content [widget_id]').on('click', function () {
			$('#widget_content [widget_id]').removeClass('spanActive');
			$(this).addClass('spanActive');
			$('#wid-id-2>header>h2')[0].innerHTML = '银行信息:所在节点(' + $(this)[0].innerText + ')';
			$('[name="idx"]').val($(this).attr('widget_id'));
			$('[name="pid"]').val($(this).attr('widget_id'));
			__RUN_ACT('bank/queryByIdx', { "idx": $(this).attr('widget_id') }, function (date) {
				$('.edit_node_btn').html("编辑");
				$('#updata_bank_form input').attr('disabled', 'disabled');
				$('#updata_bank_form textarea').attr('disabled', 'disabled');
				$('#updata_bank_form select').attr('disabled', 'disabled');
				$('#updata_bank_form button').attr('disabled', 'disabled');
				$('.back_node_btn').addClass('disabled');
				if (date[0]) {
					__SET_FORM_VALUES('updata_bank_form', date[0]);
					updata_director = JSON.parse(date[0].director);
					updata_imgJson = JSON.parse(date[0].img_json || '[]');
					$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
					photoViewer();
					$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
					$('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
					$('#updata_bank_form .contract_file_id').attr('contract_file_id', date[0].contract_file_id);
					$('#updata_business_img').attr('src', date[0].business_img);
					$('#updata_bank_form .remover_photo').addClass('disabled');
					$('img').each(function (i, elm) {
						if ($(elm).attr('src')) {
							$(elm).show();
						} else {
							$(elm).hide();
						}
					});
					__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
						var html = '<option value="">--请选择地区--</option>'
						$('#updata_bank_form .area select').first().append(html);
						data.forEach(function (value, index) {
							html = '<option value="' + value.idx + '">' + value.name + '</option>'
							$('#updata_bank_form .area select').first().append(html);
						})
						$('#updata_bank_form .area select').first().parent().nextAll().find('select').hide();
						$('#updata_bank_form .area select').first().val(date[0].province);
						ctiy($('#updata_bank_form .area select').first(), function () {
							if (date[0].city) {
								$('#updata_bank_form .area').find('[name="city"]').val(date[0].city);
								ctiy($('#updata_bank_form .area').find('[name="city"]'), function () {
									if (date[0].area) {
										$('#updata_bank_form .area').find('[name="area"]').val(date[0].area);
										ctiy($('#updata_bank_form .area').find('[name="area"]'), function () {
											if (date[0].town) {
												$('#updata_bank_form .area').find('[name="town"]').val(date[0].town);
												ctiy($('#updata_bank_form .area').find('[name="town"]'), function () {
													if (date[0].village) {
														$('#updata_bank_form .area').find('[name="village"]').val(date[0].village);
													}
												});
											}
										});
									}
								});
							}
						});
					});
				}
			});
		});
	}

	$(function () {
		$('.Time').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
	});
	/* 图片上传 */
	$('#updata_bank_form').on('change', '.head_wrap [name="filename"]', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
				photoViewer()
				if ($('#' + imgId).parent().parent().parent().attr('class') == 'imgs') {
					for (var key in updata_imgJson) {
						if (updata_imgJson[key].idx == $('#' + imgId).parent().parent().attr('photo_idx')) {
							updata_imgJson[key].imgSrc = '/file/' + d.idx + '/view';
						}
					}
				}
				$("#" + imgId).show();
			});
		}
	});
	$('#add_bank_form').on('change', '.head_wrap [name="filename"]', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
				photoViewer()
				if ($('#' + imgId).parent().parent().parent().attr('class') == 'imgs') {
					for (var key in add_imgJson) {
						if (add_imgJson[key].idx == $('#' + imgId).parent().parent().attr('photo_idx')) {
							add_imgJson[key].imgSrc = '/file/' + d.idx + '/view';
						}
					}
				}
				$("#" + imgId).show();
			});

		}
	});
	/* 图片删除 */
	$('#widget-grid-my').on('click', '.del_img', function () {
		$(this).siblings('img').attr('src', '').hide();
		photoViewer()
	})
	$('#updata_bank_form').on('change', '#updata_lefile', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var arr = $(this).val().split('\\');
			$(this).parent().find('[name="contract_file"]').val(arr[arr.length - 1]);
			__UPLOAD_FILE(uploadId, function (d) {
				$('#updata_bank_form .contract_file_id').attr('contract_file_id', d.idx);
			});
		}
	});
	$('#add_bank_form').on('change', '#add_lefile', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var arr = $(this).val().split('\\');
			$(this).parent().find('[name="contract_file"]').val(arr[arr.length - 1]);
			__UPLOAD_FILE(uploadId, function (d) {
				$('#add_bank_form .contract_file_id').attr('contract_file_id', d.idx);
			});
		}
	});
	$('.contract_file_id').on('click', function () {

	})
	/* 添加图片 */
	$('#updata_bank_form .add_photo').on('click', function () {
		updata_imgJson.push({ "idx": Math.random().toString(16).substring(2) });
		$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
		$('img').each(function (i, elm) {
			if ($(elm).attr('src')) {
				$(elm).show();
			} else {
				$(elm).hide();
			}
		});
		photoViewer();
	})
	$('#add_bank_form .add_photo').on('click', function () {
		add_imgJson.push({ "idx": Math.random().toString(16).substring(2) });
		$('#add_bank_form .imgs').html($('#photo_tmpl').tmpl(add_imgJson));
		$('img').each(function (i, elm) {
			if ($(elm).attr('src')) {
				$(elm).show();
			} else {
				$(elm).hide();
			}
		});
		photoViewer();
	})
	/* 叶节点图片删除 */
	$('#updata_bank_form .imgs').on('click', '.remover_photo', function () {
		var jsonKey = $(this).parent().parent().attr('photo_idx');
		for (var key in updata_imgJson) {
			if (updata_imgJson[key].idx == jsonKey) {
				updata_imgJson.splice(key, 1);
			}
		}
		$(this).parent().parent().remove();
		photoViewer();
	});
	$('#add_bank_form .imgs').on('click', '.remover_photo', function () {
		var jsonKey = $(this).parent().parent().attr('photo_idx');
		for (var key in add_imgJson) {
			if (add_imgJson[key].idx == jsonKey) {
				add_imgJson.splice(key, 1);
			}
		}
		$(this).parent().parent().remove();
		photoViewer();
	});
	/* 模态框新增负责人 */
	$('.add_row').on('click', function () {
		$('#tabel_form').append($('#tabel_form_tmpl').tmpl());
	})
	/* 模态框删除负责人 */
	$('.modal-body').on('click', '.remover_row', function () {
		$(this).parent().parent().parent().remove();
	})
	/* 保存负责人信息 */
	$('.save_table').on('click', function () {
		/* 负责人 */
		var director = [];
		$('.modal-body').find('.form-group').each(function (i, elm) {
			var result = {};
			$(elm).find('input').each(function (index, item) {
				var v = $(item).val();
				result[$(item).attr('name')] = v;
			});
			director.push(result);
		})
		if ($(this).attr('type') == 'updata') {
			updata_director = director;
			$('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
		}
		if ($(this).attr('type') == 'add') {
			add_director = director;
			$('#add_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": add_director }));
		}
		$('#table_modal').modal('hide');

	});
	/* 编辑负责人信息 */
	$('#updata_bank_form .add_td').on('click', function () {
		$('.save_table').attr('type', 'updata');
		$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
		$('#table_modal').modal('show');
	})
	$('#add_bank_form .add_td').on('click', function () {
		$('.save_table').attr('type', 'add');
		$('#tabel_form').html($('#tabel_form_tmpl').tmpl(add_director));
		$('#table_modal').modal('show');
	})

	/* 银行编辑 */
	$('.edit_node_btn').on('click', function () {
		if ($(this).html() == "编辑") {
			$(this).html("修改");
			$('#updata_bank_form input').removeAttr('disabled');
			$('#updata_bank_form textarea').removeAttr('disabled');
			$('#updata_bank_form select').removeAttr('disabled');
			$('#updata_bank_form button').removeAttr('disabled');
			$('.back_node_btn').removeClass('disabled');
			$('#updata_bank_form .remover_photo').removeClass('disabled');
		} else if ($(this).html() == "修改") {
			photoViewer();
			$(this).html("编辑");
			$('#updata_bank_form input').attr('disabled', 'disabled');
			$('#updata_bank_form textarea').attr('disabled', 'disabled');
			$('#updata_bank_form select').attr('disabled', 'disabled');
			$('#updata_bank_form button').attr('disabled', 'disabled');
			$('.back_node_btn').addClass('disabled');
			$('#updata_bank_form .remover_photo').addClass('disabled');
			var data = __GET_FROM_VALUES('updata_bank_form');
			data.business_img = $('#updata_business_img').attr('src');
			data.contract_file_id = $('#updata_bank_form .contract_file_id').attr('contract_file_id');
			data.director = JSON.stringify(updata_director);
			data.img_json = JSON.stringify(updata_imgJson);
			data.service_village = [];
			$('[widget_id="' + data.idx + '"] b').text(data.bank_name);
			var step = [
				//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
				// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
				{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_bank', RCODE: 'ENTITY', DATA: data }
			];
			__RUN_STEP(step, function (data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('节点编辑成功。');
			});
		}
	})
	/*返回节点按钮*/
	$('.back_node_btn').on('click', function () {
		$('.edit_node_btn').html("编辑");
		$('#updata_bank_form input').attr('disabled', 'disabled');
		$('#updata_bank_form textarea').attr('disabled', 'disabled');
		$('#updata_bank_form select').attr('disabled', 'disabled');
		$('#updata_bank_form button').attr('disabled', 'disabled');
		$('.back_node_btn').addClass('disabled');
		__RUN_ACT('bank/queryByIdx', { "idx": $('#updata_bank_form [name="idx"]').val() }, function (date) {
			if (date[0]) {
				__SET_FORM_VALUES('updata_bank_form', date[0]);
				updata_director = JSON.parse(date[0].director)
				updata_imgJson = JSON.parse(date[0].img_json || '[]');
				$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
				photoViewer();
				$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
				$('#tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
				$('#updata_bank_form .contract_file_id').attr('contract_file_id', date[0].contract_file_id);
				$('#updata_business_img').attr('src', date[0].business_img);
				$('#updata_bank_form .remover_photo').addClass('disabled');
				$('img').each(function (i, elm) {
					if ($(elm).attr('src')) {
						$(elm).show();
					} else {
						$(elm).hide();
					}
				});
				__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
					var html = '<option value="">--请选择地区--</option>'
					$('#updata_bank_form .area select').first().append(html);
					data.forEach(function (value, index) {
						html = '<option value="' + value.idx + '">' + value.name + '</option>'
						$('#updata_bank_form .area select').first().append(html);
					})
					$('#updata_bank_form .area select').first().parent().nextAll().find('select').hide();
					$('#updata_bank_form .area select').first().val(date[0].province);
					ctiy($('#updata_bank_form .area select').first(), function () {
						if (date[0].city) {
							$('#updata_bank_form .area').find('[name="city"]').val(date[0].city);
							ctiy($('#updata_bank_form .area').find('[name="city"]'), function () {
								if (date[0].area) {
									$('#updata_bank_form .area').find('[name="area"]').val(date[0].area);
									ctiy($('#updata_bank_form .area').find('[name="area"]'), function () {
										if (date[0].town) {
											$('#updata_bank_form .area').find('[name="town"]').val(date[0].town);
											ctiy($('#updata_bank_form .area').find('[name="town"]'), function () {
												if (date[0].village) {
													$('#updata_bank_form .area').find('[name="village"]').val(date[0].village);
												}
											});
										}
									});
								}
							});
						}
					});
				});
			}
		});
	});
	/* 删除银行 */
	$('.del_node_btn').on('click', function () {
		$('#mymodel').modal('show');
		$('.modal-body span').html($('#updata_bank_form [name="bank_name"]').val());
		$('#removerPersonage_btn').attr('idx', $('[name="idx"]').val());
	})

	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');
		__RUN_ACT('bank/delete', { 'idx': idx }, function (data) {
			$('#mymodel').modal('hide');
			$('[widget_id="' + $('[name="idx"]').val() + '"]').parent().remove();
			$('#updata_bank_form input').not('[type="hidden"]').val('');
			updata_director = [];
			updata_imgJson = [];
			$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
			$('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
			$('#updata_bank_form textarea').val('');
			$('#updata_bank_form select').val('');
			$('#updata_bank_form .contract_file_id').attr('contract_file_id', '');
			$('#updata_bank_form img').attr('src', '');
			photoViewer();
		});
	})
	/* 保险提交 */
	$('.submit_node_btn').on('click', function () {
		var data = __GET_FROM_VALUES('add_bank_form');
		data.business_img = $('#add_business_img').attr('src');
		data.director = JSON.stringify(add_director);
		data.img_json = JSON.stringify(add_imgJson);
		data.contract_file_id = $('#add_bank_form .contract_file_id').attr('contract_file_id');
		data.service_village = [];
		var step = [
			//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_bank', RCODE: 'ENTITY', DATA: data }
			//{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_node',RCODE:'ENTITY',DATA:data}
		];
		__RUN_STEP(step, function (data) {
			$('#prompt_model').modal('show');
			$('#prompt_model .modal-body').html('银行添加成功。');
			if ($('[widget_id="' + data['ENTITY'].pid + '"]').parent().find('ul').length) {
				var html = '<li><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].bank_name + '</b></span></li>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().find('ul').first().append(html);
			} else {
				$("[widget_id='" + data['ENTITY'].pid + "']").find('i').removeClass('fa-pencil-square-o').addClass('fa-plus-circle icon-minus-sign');
				var html = '<ul><li><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].bank_name + '</b></span></li></ul>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().append(html);
			}
			tree();
			$('#widget_content [widget_id]').on('click', function () {
				$('#widget_content [widget_id]').removeClass('spanActive');
				$(this).addClass('spanActive');
				$('#wid-id-2>header>h2')[0].innerHTML = '银行信息:所在节点(' + $(this)[0].innerText + ')';
				$('[name="idx"]').val($(this).attr('widget_id'));
				$('[name="pid"]').val($(this).attr('widget_id'));
				__RUN_ACT('bank/queryByIdx', { "idx": $(this).attr('widget_id') }, function (date) {
					$('.edit_node_btn').html("编辑");
					$('#updata_bank_form input').attr('disabled', 'disabled');
					$('#updata_bank_form textarea').attr('disabled', 'disabled');
					$('#updata_bank_form select').attr('disabled', 'disabled');
					$('#updata_bank_form button').attr('disabled', 'disabled');
					$('.back_node_btn').addClass('disabled');
					if (date[0]) {
						__SET_FORM_VALUES('updata_bank_form', date[0]);
						updata_director = JSON.parse(date[0].director);
						updata_imgJson = JSON.parse(date[0].img_json || '[]');
						$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
						photoViewer();
						$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
						$('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
						$('#updata_bank_form .contract_file_id').attr('contract_file_id', date[0].contract_file_id);
						$('#updata_business_img').attr('src', date[0].business_img);
						$('#updata_bank_form .remover_photo').addClass('disabled');
						$('img').each(function (i, elm) {
							if ($(elm).attr('src')) {
								$(elm).show();
							} else {
								$(elm).hide();
							}
						});
						__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
							var html = '<option value="">--请选择地区--</option>'
							$('#updata_bank_form .area select').first().append(html);
							data.forEach(function (value, index) {
								html = '<option value="' + value.idx + '">' + value.name + '</option>'
								$('#updata_bank_form .area select').first().append(html);
							})
							$('#updata_bank_form .area select').first().parent().nextAll().find('select').hide();
							$('#updata_bank_form .area select').first().val(date[0].province);
							ctiy($('#updata_bank_form .area select').first(), function () {
								if (date[0].city) {
									$('#updata_bank_form .area').find('[name="city"]').val(date[0].city);
									ctiy($('#updata_bank_form .area').find('[name="city"]'), function () {
										if (date[0].area) {
											$('#updata_bank_form .area').find('[name="area"]').val(date[0].area);
											ctiy($('#updata_bank_form .area').find('[name="area"]'), function () {
												if (date[0].town) {
													$('#updata_bank_form .area').find('[name="town"]').val(date[0].town);
													ctiy($('#updata_bank_form .area').find('[name="town"]'), function () {
														if (date[0].village) {
															$('#updata_bank_form .area').find('[name="village"]').val(date[0].village);
														}
													});
												}
											});
										}
									});
								}
							});
						});
					}
				});
			});
		})
	});
	/*保险清空*/
	$('.empty_node_btn').on('click', function () {
		$('#add_bank_form input').not('[type="hidden"]').val('');
		add_director = [];
		add_imgJson = [];
		$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(add_imgJson));
		$('#add_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": add_director }));
		$('#add_bank_form textarea').val('');
		$('#add_bank_form select').val('');
		$('#add_insurance_form .contract_file_id').attr('contract_file_id', '');
		$('#add_bank_form img').attr('src', '');
		photoViewer()
	});
	$('#widget-grid-my').on('click', '.expand_img', function () {
		$(this).siblings('img').click();
	})

</script>