<link rel="stylesheet" type="text/css" media="screen" href="css/nh/nh.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
	#jqgrid td:first-child {
		width: 50px !important;
	}
	
	#jqgrid td:nth-child(2) {
		display: none;
	}
	
	#jqgrid td:nth-child(n+10) {
		display: none;
	}
	
	td input {
		width: auto !important;
	}
	
	#gview_jqgrid .ui-jqgrid-htable th:first-child {
		width: 50px;
	}
	
	#gview_jqgrid .ui-jqgrid-htable th:nth-child(2) {
		display: none;
	}
	
	#gview_jqgrid .ui-jqgrid-htable th:nth-child(n+10) {
		display: none;
	}
	/*表格样式修改*/
	
	th {
		text-align: center;
	}
	
	#jqgrid_rn {
		width: 50px !important;
	}
	
	#jqgrid_response_rn {
		width: 50px !important;
	}
	
	.ui-jqgrid tr.ui-row-ltr td {
		text-align: center;
	}
	
	#jqgrid_response td:first-child {
		width: 50px !important;
	}
	
	#jqgrid_response td:nth-child(2) {
		display: none;
	}
	
	.district_idx {
		display: none;
	}
	
	.district_idx:first-child {
		display: inline-block;
	}
	/*滚动条样式*/
	/* Handle */
	
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(169, 169, 169, 0.4);
	}
	
	.honorbook {
		margin-bottom: 40px;
	}
</style>

<div id="jiben_mes">
	<section class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"><img src="img/individual.png" /></span>
						<h2>个人信息</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<form id="checkout-form-1" class="smart-form" novalidate="novalidate">
								<fieldset>
									<div class="row" id="setPeopleData">
										<button type="button" class="ocr_operate">OCR读身份证</button>
										<p class="public_check">您已通过公安系统核对！</p>
										<p class="public_check">您未通过公安系统核对！</p>
										<div class="col-sm-8">
											<div class="row">
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">个人姓名</label>

													<div class="col col-sm-9">
														<div>
															<input type="text" name="name" placeholder="请输入..." id="lname" class="item_mes">
														</div>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">身份证号</label>

													<div class="col col-sm-9">
														<div>
															<input type="text" name="identity_no" placeholder="请输入..." id="person_card" class="item_mes">
														</div>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">性别</label>
													<div class="col col-sm-9">
														<select name="sex" id="radio_sex" class="item_mes" style="width: 50%;padding-left: 50%;">
															<option value="1">女</option>
															<option value="0">男</option>
														</select>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">民族</label>
													<div class="col col-sm-9">
														<div>
															<input type="text" name="nation" placeholder="请输入..." id="nation" class="item_mes">
														</div>
													</div>
												</section>

												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">出生日期</label>
													<div>
														<div class="col col-sm-9" style="position: relative;">
															<input type="text" name="birthdate" placeholder="请输入..." id="birthTime" class="item_mes daylist" data-date-format="yyyy-mm-dd" readonly="readonly">
															<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
														</div>
													</div>

												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">证件地址</label>
													<div>
														<div class="col col-sm-9">
															<input type="text" name="certificate_site" placeholder="请输入..." id="idadress" class="item_mes">
														</div>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">联系电话</label>

													<div class="col col-sm-9">
														<div>
															<input type="tel" name="phone" placeholder="请输入..." id="tel" class="item_mes">
														</div>
													</div>

												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">电子邮箱</label>

													<div class="col col-sm-9">
														<div>
															<input type="email" name="email" placeholder="请输入..." id="email" class="item_mes">
														</div>
													</div>

												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">现居住地</label>
													<div class="col col-sm-9">
														<div>
															<input type="text" name="residential_site" placeholder="请输入..." id="dadress" class="item_mes">
														</div>
													</div>

												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">物资信息卡卡号</label>

													<div class="col col-sm-9">
														<div>
															<input type="text" name="material_card_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>

												</section>
											</div>
										</div>

										<div class="col-sm-4" style="min-height: 190px;">

											<div class="col-md-6 col-sm-12">
												<div class="head_wrap">
													<div class="deRequest  glyphicon glyphicon-remove"></div>
													<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
													<input type="file" name="filename" id="head_data" onchange="upload1('head_data','head_data_show')" />
													<img src="" id="head_data_show" />
													<p style="display: none;">头像照片</p>
												</div>
												<p class="pic_check"><span>照片采集</span></p>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="head_wrap hand_wrap"></div>
												<p class="pic_check"><span>指纹采集</span></p>
											</div>
											<div class="col-md-6 col-sm-12" style="min-height: 230px;">
												<div class="pic_box piczoom" style="float: none;margin: 5px auto;width: 132px;height: 142px;">
													<div class="deRequest  glyphicon glyphicon-remove"></div>
													<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
													<input type="file" name="filename" class="head_data2" id="head_data1" onchange="upload('head_data1','show1')" />
													<img src="" id="show1" />
													<p>法人身份证正面</p>
												</div>
											</div>
											<div class="col-md-6 col-sm-12" style="min-height: 230px;">
												<div class="pic_box" style="float: none;margin: 5px auto;width: 132px;height: 142px;">
													<div class="deRequest  glyphicon glyphicon-remove"></div>
													<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
													<input type="file" name="filename" class="head_data2" id="head_data2" onchange="upload('head_data2','show2')" />
													<img src="" id="show2" />
													<p>法人身份证反面</p>
												</div>

											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				</artical>
		</div>
	</section>
	<section class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"><img src="img/principal.png"/></span>
						<h2>企业负责人</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<form id="checkout-form-2" class="smart-form">
								<fieldset>
									<div id="headList">
										<table id="jqgrid_response"></table>
										<div id="pjqgrid_response"></div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				</artical>
		</div>
	</section>
	<section class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"><img src="img/individual_company.png"/> </span>
						<h2>企业基本信息</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<form id="checkout-form-3" class="smart-form">
								<fieldset id="company_name">
									<div class="ocr">
											<button type="button" class="ocr_operate">OCR读取</button>
										</div>	
									<div id="tabs">
										<ul class="comms_nav">
											<li>
												<a href="#tabs-a">基本信息</a>
											</li>
											<li>
												<a href="#tabs-b">治理状况</a>
											</li>
											<li>
												<a href="#tabs-c">包片兽医信息</a>
											</li>
											<li>
												<a href="#tabs-e">其他</a>
											</li>
										</ul>
										<div id="tabs-a">
											<div class="row">
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">经营规模</label>
													<div class="col col-sm-7">
														<input type="text" name="management_scale" placeholder="请输入..." id="fac_size" class="item_mes">
													</div>
												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">年存栏量</label>
													<div class="col col-sm-7">
														<input type="text" name="breeding_stock" placeholder="请输入年存栏量" id="fac_msize" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">年定生产上限</label>
													<div class="col col-sm-7">
														<input type="text" name="production_limit" placeholder="请输入年定生产上限" id="fac_marea" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">生产类型</label>
													<div class="col col-sm-7">
														<select name="production_type" id="fac_kind" class="item_mes" style="width: 65%;padding-left: 35%;">
															<option value="1">商品场</option>
															<option value="0">种畜禽场</option>
														</select>
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">经度</label>
													<div class="col col-sm-7">
														<input type="text" name="longitude" placeholder="请输入..." id="fac_jing" class="item_mes">
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">纬度</label>
													<div class="col col-sm-7">
														<input type="text" name="latitude" placeholder="请输入占地面积(亩)" id="fac_wei" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">占地面积(亩)</label>
													<div class="col col-sm-7">
														<input type="text" name="area_covered" placeholder="请输入占地面积(亩)" id="fac_zdsize" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">备案土地证号</label>
													<div class="col col-sm-7">
														<input type="text" name="record_number" placeholder="请输入备案土地证号" id="fac_banum" class="item_mes">
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">沼气池容积(m³)</label>
													<div class="col col-sm-7">
														<input type="text" name="biogas_tank_volume" placeholder="请输入沼气池容积(m³)" id="fac_zqsize" class="item_mes">
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">储液池容积(m³)</label>
													<div class="col col-sm-7">
														<input type="text" name="liquid_tank" placeholder="请输入储液池容积(m³)" id="fac_cysize" class="item_mes">
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">消纳面积(亩)</label>
													<div class="col col-sm-7">
														<input type="text" name="consumptive_area" placeholder="请输入消纳面积(亩)" id="fac_ptsize" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">蓄舍面积(㎡)</label>
													<div class="col col-sm-7">
														<input type="text" name="shed_area" placeholder="请输入蓄舍面积(㎡)" id="fac_xssize" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">建厂时间</label>
													<div class="col col-sm-7" style="position: relative;">
														<input type="text" name="establishment_time" placeholder="请输入建厂日期" id="comTime" class="item_mes daylist" data-date-format="yyyy-mm-dd" readonly="readonly">
														<p class="fa fa-calendar" style="position: absolute; right: 10%; top: 30%;"></p>
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">企业邮箱</label>
													<div class="col col-sm-7">
														<input type="text" name="register_email" placeholder="请输入..." id="company_email" class="item_mes">
													</div>

												</section>

												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">邮政编码</label>
													<div class="col col-sm-7">
														<input type="text" name="postal_code" placeholder="请输入..." id="company_zipcode" class="item_mes">
													</div>

												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">固定电话</label>
													<div class="col col-sm-7">
														<input type="text" name="telephone" placeholder="请输入..." id="company_telephone" class="item_mes">
													</div>
												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">畜禽养殖代码</label>
													<div class="col col-sm-7">
														<input type="text" name="cultivation_code" placeholder="请输入..." id="" class="item_mes">
													</div>
												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">防疫条件合格证</label>
													<div class="col col-sm-7">
														<input type="text" name="qualified_number" placeholder="请输入合格证号" id="" class="item_mes">
													</div>
												</section>
												<section class="col-lg-3 col-sm-6">
													<label class="input col-sm-5 control-label item_tit">预警等级</label>
													<div class="col col-sm-7">
														<select name="warning_grade" id="" class="item_mes" style="width: 60%;padding-left: 40%;">
															<option value="1">一级</option>
															<option value="2">二级</option>
															<option value="3">三级</option>
														</select>
													</div>
												</section>

											</div>
											<div class="row">
												<section class="col-sm-8">
													<label class="input col-lg-2 col-sm-4 control-label item_tit">所在区域</label>
													<div id="cityLinkage" class="col col-sm-8">
														<select name="city" class="item_mes district_idx" style="float: none;"></select>
														<select name="area" class="item_mes district_idx" style="float: none;"></select>
														<select name="county" class="item_mes district_idx" style="float: none;"></select>
														<select name="village" class="item_mes district_idx" style="float: none;"></select>
													</div>
												</section>
												<section class="col-sm-4">
													<label class="input col-sm-2 col-lg-4 control-label item_tit">详细地址</label>
													<div class="col col-sm-8">
														<input type="text" name="address" placeholder="请输入..." id="" class="item_mes">
													</div>
												</section>
											</div>
										</div>
										<div id="tabs-b">
											<div class="row">
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">清粪方式</label>
													<div class="col col-sm-7">
														<select name="cleaning_method" id="fac_handle" class="item_mes" style="width: 60%;padding-left: 40%;">
															<option value="0">干清粪</option>
															<option value="1">水泡粪</option>
															<option value="2">垫料</option>
															<option value="3">直接冲洗</option>
															<option value="4">农牧结合</option>
															<option value="5">污水池</option>
															<option value="6">沼气池</option>
															<option value="7">排泄物池内</option>
															<option value="8">直排</option>
															<option value="9">自抽</option>
															<option value="10">集中处理</option>
															<option value="11">干湿分离</option>
															<option value="12">清洁回用</option>
														</select>
													</div>
												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">干粪利用情况</label>
													<div class="col col-sm-7">
														<select name="manure_utilization" id="fac_fuse" class="item_mes" style="width: 60%;padding-left: 40%;">
															<option value="0">堆积发酵后直接还田</option>
															<option value="1">生产有机肥</option>
															<option value="2">生产沼气</option>
															<option value="3">发酵床</option>
															<option value="4">其他</option>
														</select>
													</div>
												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">沼液利用情况</label>
													<div class="col col-sm-7">
														<select name="slurry_utilization" id="fac_liquit" class="item_mes" style="width: 60%;padding-left: 40%;">
															<option value="0">就地消纳</option>
															<option value="1">异地消纳</option>
															<option value="2">就地+异地</option>
															<option value="3">纳管</option>
															<option value="4">达标排放</option>
															<option value="5">就地（异地）+达标排放</option>
															<option value="6">回用</option>
															<option value="7">无沼液</option>
														</select>
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">污水治理情况</label>
													<div class="col col-sm-7">
														<select name="sewage_treatment" id="fac_dirty" class="item_mes" style="width: 60%;padding-left: 40%;">
															<option value="0">生态治理</option>
															<option value="1">生化治理</option>
															<option value="2">纳管</option>
															<option value="3">其它</option>
														</select>
													</div>
												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">治理达标验收时间</label>
													<div class="col col-sm-7" style="position: relative;">
														<input type="text" name="acceptance_time" placeholder="请输入治理达标验收时间" id="checkTime" class="item_mes daylist" data-date-format="yyyy-mm-dd" readonly="readonly">
														<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">死亡动物无害化处理情况</label>
													<div class="col col-sm-7">
														<input type="text" name="dead_animals" placeholder="请输入死亡动物无害化处理情况" id="fac_death" class="item_mes">
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">签订养殖排泄物处置协议</label>
													<div class="col col-sm-7">
														<select name="disposal" id="isdesign" class="item_mes" style="width: 50%;padding-left: 50%;">
															<option value="1">是</option>
															<option value="0">否</option>
														</select>
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">排水泵排水量(吨/小时)</label>
													<div class="col col-sm-7">
														<input type="text" name="drainage_pump" placeholder="请输入排水泵排水量(吨/小时)" id="fac_rliquit" class="item_mes">
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">排水泵功率(千瓦/小时)</label>
													<div class="col col-sm-7">
														<input type="text" name="pump_power" placeholder="请输入排水泵功率(千瓦/小时)" id="fac_effi" class="item_mes">
													</div>

												</section>
												<section class="col col-6">
													<label class="input col-sm-5 control-label item_tit">死亡动物处理池容积(m³)</label>
													<div class="col col-sm-7">
														<input type="text" name="deadanimals_volume" placeholder="请输入死亡动物处理池容积(m³)" id="fac_deathvolume" class="item_mes">
													</div>

												</section>
											</div>
										</div>
										<div id="tabs-c">
											<div style="margin: 0 -13px;" id="jishuyuan">
												<table id="jqgrid"></table>
												<div id="pjqgrid"></div>
											</div>
										</div>

										<div id="tabs-e">
											<button class="btn btn-primary vedio" style="padding: 6px 12px;" type="button">视频一</button>
											<button class="btn btn-primary vedio" style="padding: 6px 12px;" type="button">视频二</button>
											<button class="btn btn-primary vedio" style="padding: 6px 12px;" type="button">视频三</button>
											<button class="btn btn-primary vedio" style="padding: 6px 12px;" type="button">视频四</button>
										</div>
									</div>

								</fieldset>
							</form>
						</div>
					</div>
				</div>
				</artical>
		</div>
	</section>
	<section class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"> <img src="img/company_type.png"/></span>
						<h2>企业业务类型</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<form id="checkout-form-4" class="smart-form">
								<fieldset>
									<div class="row">
										<div class="ocr">
												<button type="button" class="ocr_operate">OCR读取</button>
											</div>	
										<div class="check_box serve_meth">
											<label class="radio" style="float: left;margin-right: 10px;">
											<input type="radio" name="radio-kind" checked="checked">
											<i></i>养殖业
										</label>
											<label class="radio" style="float: left;margin-right: 10px;display: none;">
											<input type="radio" name="radio-kind">
											<i></i>种植业
										</label>
											<label class="radio" style="float: left;display: none;">
											<input type="radio" name="radio-kind">
											<i></i>服务业
										</label>
										</div>
										<ul class="good_list">
											<li><input type="checkbox" name="checkbox" id="checkbox1" value="1" />猪</li>
											<li><input type="checkbox" name="checkbox" id="checkbox2" value="2" />牛</li>
											<li><input type="checkbox" name="checkbox" id="checkbox3" value="3" />羊</li>
											<li><input type="checkbox" name="checkbox" id="checkbox4" value="4" />鸡</li>
											<li><input type="checkbox" name="checkbox" id="checkbox5" value="5" />鸭</li>
										</ul>
									</div>
								</fieldset>

								<p class="upload_pic" style="font-size: 14px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;">资质照片上传</p>
								<fieldset class="footerpic">
									<div class="row">

										<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data3" onchange="upload('head_data3','show3')" />
											<img src="" id="show3" />
											<p>动物防疫条件合格证</p>
										</div>
										<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data4" onchange="upload('head_data4','show4')" />
											<img src="" id="show4" />
											<p>种畜禽生产经营许可证</p>
										</div>
										<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data5" onchange="upload('head_data5','show5')" />
											<img src="" id="show5" />
											<p>养殖资格证书</p>
										</div>
										<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data6" onchange="upload('head_data6','show6')" />
											<img src="" id="show6" />
											<p>其它证书</p>
										</div>
									</div>
								</fieldset>
								<p class="upload_pic" style="font-size: 14px;padding: 10px 30px 0;">工作场景靓照上传</p>
								<fieldset class="footerpic">
									<div class="row">
										<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data7" onchange="upload2('head_data7','show7')" />
											<img src="" id="show7" />
											<p>工作靓照</p>
										</div>
										<div class="pic_box word_hide">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data8" onchange="upload2('head_data8','show8')" />
											<img src="" id="show8" />
											<p>工作靓照</p>
										</div>
										<div class="pic_box word_hide">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data9" onchange="upload2('head_data9','show9')" />
											<img src="" id="show9" />
											<p>工作靓照</p>
										</div>
										<div class="pic_box word_hide">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data10" onchange="upload2('head_data10','show10')" />
											<img src="" id="show10" />
											<p>工作靓照</p>
										</div>
										<div class="pic_box word_hide">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
											<input type="file" name="filename" class="head_data2" id="head_data11" onchange="upload2('head_data11','show11')" />
											<img src="" id="show11" />
											<p>工作靓照</p>
										</div>
									</div>
								</fieldset>
								<p class="upload_pic" style="font-size: 14px;padding: 10px 30px 0;">荣誉证书上传</p>
								<fieldset class="footerpic">
									<div class="row " id="certificContainer">
										<!--<div class="pic_box">
											<div class="deRequest  glyphicon glyphicon-remove"></div>
											<input type="file" name="filename" class="head_data2" id="certifica1" onchange="upload4('certifica1','certificshow1')" />
											<img src="" id="certificshow1" />
											<p>荣誉证书上传</p>
										</div>-->
									</div>
								</fieldset>
							</form>

						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->

				</div>

			</article>

		</div>
	</section>
	<div>
		<button type="button" class="btn btn-success" id="return-btn" style=' display: none; background-color: #2196f3;border-radius: 5px;float: right;'>
		返回
	</button>
		<button type="button" class="btn btn-success" id="sub-btn" style="float: right;margin-right: 5px;">
		信息保存
	</button>

	</div>

</div>

<!--照片删除弹出框-->
<div class="modal fade" id="delete-pic" tabindex="-1" role="dialog" aria-labelledby="delete-pic">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">图片删除弹框</h4>
			</div>
			<div class="modal-body">
				<span style="font-size: 16px;">
       		你确定删除图片：
       	</span>
				<span class="realmes" style="font-size: 16px;"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="delete-pic-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<!--照片放大弹框-->
<div class="modal fade" id="img-zoom-modal" tabindex="-1" role="dialog" aria-labelledby="img-zoom-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p style="font-size: 16px; text-align: center;">

				</p>
				<img src="" style="width: 100%;height: 100%;" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!--修改负责人信息-->
<div class="modal fade" id="principal-change-data" tabindex="-1" role="dialog" aria-labelledby="principal-change-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">负责人信息修改</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="principal-change" class="smart-form">
						<input type="hidden" class="form-control" id="principal_idx" name="idx">
						<div class="form-group col-sm-6" style="height: 80px;">
							<label for="recipient-name" class="control-label">负责人姓名:</label>
							<div>
								<input type="text" class="alertinput" id="principal_name" name="principal_name">
							</div>
						</div>
						<div class="form-group col-sm-6" style="height: 80px;">
							<label for="message-text" class="control-label">职位:</label>
							<div>
								<input type="text" class="alertinput" id="principal_position" name="position">
							</div>
						</div>
						<div class="form-group col-sm-6" style="height: 80px;">
							<label for="message-text" class="control-label">联系电话:</label>
							<div>
								<input type="text" class="alertinput" id="principal_phone" name="phone">
							</div>
						</div>
						<div class="form-group col-sm-6" style="height: 80px;">
							<label for="message-text" class="control-label">邮件:</label>
							<div>
								<input type="text" class="alertinput" id="principal_email" name="email">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="principal-change-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!--删除负责人信息-->
<div class="modal fade" id="principal-delete-data" tabindex="-1" role="dialog" aria-labelledby="principal-delete-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">负责人信息删除</h4>
			</div>
			<div class="modal-body">
				<h4>你确定要删除本栏信息吗？</h4>
				<form id="principal-delete">
					<input type='hidden' name="idx" id="principal_idx" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="principal-delete-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

			</div>
		</div>
	</div>
</div>
<!--添加负责人信息-->
<div class="modal fade" id="principal-add-data" tabindex="-1" role="dialog" aria-labelledby="principal-add-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">负责人信息添加</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="principal-add">
						<input type="hidden" class="form-control" id="principal_idx" name="customer_idx">
						<div class="form-group col-sm-6">
							<label for="recipient-name" class="control-label">负责人姓名:</label>
							<input type="text" class="form-control" id="principal_name" name="principal_name">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">职位:</label>
							<input type="text" class="form-control" id="principal_position" name="position">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">联系电话:</label>
							<input type="text" class="form-control" id="principal_phone" name="phone">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">邮件:</label>
							<input type="text" class="form-control" id="principal_email" name="email">
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="principal-add-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<!--修改技术员信息-->
<div class="modal fade" id="change-data" tabindex="-1" role="dialog" aria-labelledby="change-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">包片兽医信息修改</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="barMes-change">
						<input type="hidden" class="form-control" id="this_idx" name="idx">
						<div class="form-group col-sm-6">
							<label for="recipient-name" class="control-label">姓名:</label>
							<input type="text" class="form-control" id="technician-name" name="name">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">身份证号:</label>
							<input type="text" class="form-control" id="id-card" name="identity_no">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">年龄:</label>
							<input type="text" class="form-control" id="technician-age" name="age">
						</div>

						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">民族:</label>
							<input type="text" class="form-control" id="technician-nation" name="nation">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">联系电话:</label>
							<input type="text" class="form-control" id="technician-tel" name="phone">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">文化程度:</label>
							<input type="text" class="form-control" id="culture-degree" name="culture_degree">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">工作单位:</label>
							<input type="text" class="form-control" id="technician-company" name="company">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">电子邮箱:</label>
							<input type="text" class="form-control" id="technician-mail" name="email">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">性别:</label>
							<select name="sex" class="form-control" id="technician-sex">
								<option value="0">男</option>
								<option value="1">女</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">婚姻状况:</label>
							<select name="marital_status" class="form-control" id="technician-mar">
								<option value="0">已婚</option>
								<option value="1">未婚</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">出生日期:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="technician-birth" name="birthdate" data-date-format="yyyy-mm-dd" readonly="readonly">
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>

						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">证件地址:</label>
							<input type="text" class="form-control" id="technician-card" name="certificate_site">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">现居住地址:</label>
							<input type="text" class="form-control" id="technician-nowcard" name="residential_site">
						</div>
						<div class="form-group col-sm-12">
							<label for="message-text" class="control-label">备注信息:</label>
							<textarea type="text" class="form-control" id="technician-remark" name="remark"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="change-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!--删除技术员信息-->
<div class="modal fade" id="delete-data" tabindex="-1" role="dialog" aria-labelledby="delete-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">栏舍信息删除</h4>
			</div>
			<div class="modal-body">
				<h4>你确定要删除本栏信息吗？</h4>
				<form id="barMes-delete">
					<input type='hidden' name="people_idx" id="people_idx" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="delete-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

			</div>
		</div>
	</div>
</div>
<!--添加技术员信息-->
<div class="modal fade" id="add-data" tabindex="-1" role="dialog" aria-labelledby="add-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">包片兽医信息添加</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="barMes-add">
						<input type="hidden" class="form-control" id="customer_idx" name="customer_idx">
						<div class="form-group col-sm-6">
							<label for="recipient-name" class="control-label">姓名:</label>
							<input type="text" class="form-control" id="technician-name" name="name">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">身份证号:</label>
							<input type="text" class="form-control" id="id-card" name="identity_no">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">年龄:</label>
							<input type="text" class="form-control" id="technician-age" name="age">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">民族:</label>
							<input type="text" class="form-control" id="technician-nation" name="nation">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">联系电话:</label>
							<input type="text" class="form-control" id="technician-tel" name="phone">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">文化程度:</label>
							<input type="text" class="form-control" id="culture-degree" name="culture_degree">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">工作单位:</label>
							<input type="text" class="form-control" id="technician-company" name="company">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">电子邮箱:</label>
							<input type="text" class="form-control" id="technician-mail" name="email">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">性别:</label>
							<select name="sex" class="form-control">
								<option value="0">男</option>
								<option value="1">女</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">婚姻状况:</label>
							<select name="marital_status" class="form-control">
								<option value="0">已婚</option>
								<option value="1">未婚</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">出生日期:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="technician-birth1" name="birthdate" data-date-format="yyyy-mm-dd">
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>

						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">证件地址:</label>
							<input type="text" class="form-control" id="technician-card" name="certificate_site">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">现居住地址:</label>
							<input type="text" class="form-control" id="technician-nowcard" name="residential_site">
						</div>
						<div class="form-group col-sm-12">
							<label for="message-text" class="control-label">备注信息:</label>
							<textarea type="text" class="form-control" id="technician-remark" name="remark"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="add-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<!--保存失败弹出框-->
<div class="modal fade" id="setfail" tabindex="-1" role="dialog" aria-labelledby="setfail">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">信息保存失败</h4>
			</div>
			<div class="modal-body">
				<h4>注意:法人信息内的个人姓名、联系电话为必填项!</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!--电话号码重复弹出框-->
<div class="modal fade" id="telexist" tabindex="-1" role="dialog" aria-labelledby="telexist">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">信息保存失败</h4>
			</div>
			<div class="modal-body">
				<h4>注意:法人信息内的联系电话已存在，请重新填写!</h4>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!--保存成功弹出框-->
<div class="modal fade" id="setsuccess" tabindex="-1" role="dialog" aria-labelledby="setsuccess">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">信息保存成功</h4>
			</div>
			<div class="modal-body">
				<h4>信息保存成功</h4>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="js/plugin/jquery-form/jquery-form.min.js"></script>
<script src="js/addmethods.js"></script>

<script type="text/javascript">
	var isCheck = getQueryString('ischeck');
	console.log(typeof isCheck);
	if(isCheck == '1') {
		$('input').attr('disabled', 'disabled');
		$('select').attr('disabled', 'disabled');
		$('#sub-btn').css('display', 'none');

	}
	var getIdx = getQueryString('customer_idx');
	if(getIdx) {
		$("#return-btn").css('display', 'block');
		$("#return-btn").click(function() {
			history.back();
		})
	};
	if(!getIdx) {
		getIdx = $('#__customer_idx').attr("value");
	}
	console.log(getIdx);
	var IDX = getIdx;
	var scaletype = '';
	var people_idx = '';
	var card1_idx = '';
	var card2_idx = '';
	var card3_idx = '';
	var card4_idx = '';
	var card5_idx = '';
	var card6_idx = '';
	var card7_idx = '';
	var card8_idx = '';
	var card9_idx = '';
	var card10_idx = '';
	var card11_idx = '';
	var card12_idx = '';
	var head_portrait = '';
	var formaltel = '';
	var newIdx = '';

	//所需要图片
	__RUN_ACT('credentials/queryCredentials', { "customer_type": "1", "animal_type": "羊" }, function(d) {

		console.log(d, 2344);

	})

	//请求页面数据
	__RUN_ACT('farmer/querydetails', { 'idx': IDX }, function(d) {
		var my_details = d.details[0];
		console.log(d);

		newIdx = my_details.idx;
		//电话号码是否改变
		if(my_details.phone) {
			formaltel = my_details.phone;
		}

		//类型判断
		scaletype = my_details.scale_type;

		//企业工商登记信息
		__SET_FORM_VALUES('checkout-form', my_details);
		if(my_details.establish_date && my_details.establish_date != '') {
			$("#buildTime").val(my_details.establish_date.substr(0, 10));
		}
		if(my_details.registration_date && my_details.registration_date != '') {
			$("#loginTime").val(my_details.registration_date.substr(0, 10));
		}
		//法人信息
		__SET_FORM_VALUES('setPeopleData', my_details);
		people_idx = my_details.people_idx;
		if(my_details.public_check == '0') {
			$('.public_check:eq(0)').addClass('word_show').siblings().removeClass('word_show');
		} else {
			$('.public_check:eq(1)').addClass('word_show').siblings().removeClass('word_show');
		}
		if(my_details.birthdate && my_details.birthdate != '') {
			$("#birthTime").val(my_details.birthdate.substr(0, 10));
		}
		if(my_details.head_portrait && my_details.head_portrait != '') {
			head_portrait = my_details.head_portrait;
			$("#head_data_show").attr('src', '/file/' + my_details.head_portrait + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
		}
		//荣誉证书
		if(my_details.honor_filepath) {
			my_details.honor_filepath = my_details.honor_filepath.split(',');
		} else {
			my_details.honor_filepath = [''];
		};

		for(var key in my_details.honor_filepath) {
			var html = '<div class="pic_box honorbook"><div class="deRequest  glyphicon glyphicon-remove"></div><div class="zoRequest  glyphicon glyphicon-zoom-in"></div><input type="file" name="filename" class="head_data2" id="certifica' + key + '" onchange=\'upload4("certifica' + key + '","certificshow' + key + '")\' /><img src="' + my_details.honor_filepath[key] + '" id="certificshow' + key + '" /><p>荣誉证书</p></div>';
			$('#certificContainer').append(html);
			if(key != my_details.honor_filepath.length - 1) {
				$("#certificshow" + key).css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
			} else {
				$("#certificshow" + key).css('display', 'block');
			}
		};
		if(isCheck == '1') {
			$('input').attr('disabled', 'disabled');
		}

		$('.deRequest').click(function() {
			var pMes = $(this).siblings('p').text();
			$("#delete-pic").modal('show').find('.realmes').text(pMes);
			var imgidx = $(this).siblings('img').attr('src').substr('6', '36');
			var imgid = $(this).siblings('img').attr('id');
			$("#delete-pic-determine").attr({ 'imgidx': imgidx, 'imgid': imgid });
		});
		$(".zoRequest").click(function() {
			var picsrc = $(this).siblings('img').attr('src');
			var picname = $(this).siblings('p').text();
			$('#img-zoom-modal').find('img').attr('src', picsrc).siblings('p').text(picname);
			$('#img-zoom-modal').modal('show');
		});

		//个人经营信息（基本信息、治理状况、治理状况）
		__SET_FORM_VALUES('tabs-a', my_details);
		__SET_FORM_VALUES('tabs-b', my_details);

		//城市联动
		$('#cityLinkage select').on('change', function() {
			var that = this;
			__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function(data) {
				$(that).nextAll().hide();
				$(that).nextAll().html('');
				if(data.length > 0) {
					$(that).next().show();
				}
				var html = '<option value="">--请选择--</option>'
				$(that).next().append(html);
				data.forEach(function(value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>';
					$(that).next().append(html);
				})
			});
		});

		if(my_details.district_idx) {
			var arr = my_details.district_idx.split(',');
			switch(arr.length) {
				case 2:
					fullSelect('city', arr[1]);
					break;
				case 3:
					fullCheckSelect('city', arr[1], arr[2]);
					fullSelect('area', arr[2]);
					break;
				case 4:
					fullCheckSelect('city', arr[1], arr[2]);
					fullCheckSelect('area', arr[2], arr[3]);
					fullSelect('county', arr[3]);
					break;
				case 5:
					fullCheckSelect('city', arr[1], arr[2]);
					fullCheckSelect('area', arr[2], arr[3]);
					fullCheckSelect('county', arr[3], arr[4]);
					fullSelect('village', arr[4]);
					break;
				case 6:
					fullCheckSelect('city', arr[1], arr[2]);
					fullCheckSelect('area', arr[2], arr[3]);
					fullCheckSelect('county', arr[3], arr[4]);
					fullCheckSelect('village', arr[4], arr[5]);
					break;
			}

		} else {
			fullSelect('city', '12');
		}

		function fullSelect(selectname, pid) {
			__RUN_ACT('/farmer/queryCity', { "pid": pid }, function(data) {
				$("select[name='" + selectname + "']").show();
				var html = '<option value="">--请选择--</option>';
				$("select[name='" + selectname + "']").append(html);
				data.forEach(function(value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>';
					$("select[name='" + selectname + "']").append(html);
				});
			});
		};

		function fullCheckSelect(selectname, pid, idx) {
			__RUN_ACT('/farmer/queryCity', { "pid": pid }, function(data) {
				$("select[name='" + selectname + "']").show();
				var html = '<option value="">--请选择--</option>';
				$("select[name='" + selectname + "']").append(html);
				data.forEach(function(value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>';
					$("select[name='" + selectname + "']").append(html);
				});
				$("select[name='" + selectname + "']").val(idx);
			});
		};

		if(my_details.acceptance_time && my_details.acceptance_time != '') {
			$("#checkTime").val(my_details.acceptance_time.substr(0, 10));
		}
		if(my_details.establishment_time && my_details.establishment_time != '') {
			$("#comTime").val(my_details.establishment_time.substr(0, 10));
		}

		//养殖种类		
		if(my_details.livestock_variety) {
			var variety = my_details.livestock_variety.split(',');
			for(var h = 0; h < variety.length; h++) {
				var t = h;
				switch(variety[t]) {
					case '1':
						$("#checkbox1").attr('checked', 'checked');
						$("#checkbox1").parent('li').addClass('ac');
						break;
					case '2':
						$("#checkbox2").attr('checked', 'checked');
						$("#checkbox2").parent('li').addClass('ac');
						break;
					case '3':
						$("#checkbox3").attr('checked', 'checked');
						$("#checkbox3").parent('li').addClass('ac');
						break;
					case '4':
						$("#checkbox4").attr('checked', 'checked');
						$("#checkbox4").parent('li').addClass('ac');
						break;
					case '5':
						$("#checkbox5").attr('checked', 'checked');
						$("#checkbox5").parent('li').addClass('ac');
						break;
				};
			};
		};

		//企业图片
		var my_file = d.file;

		for(var h = 0; h < my_file.length; h++) {
			var t = h;
			if(my_file[t].type == 1) {
				$("#show1").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card1_idx = my_file[t].idx;
			} else if(my_file[t].type == 2) {
				$("#show2").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card2_idx = my_file[t].idx;
			} else if(my_file[t].type == 3) {
				$("#show3").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card3_idx = my_file[t].idx;
			} else if(my_file[t].type == 4) {
				$("#show4").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card4_idx = my_file[t].idx;
			} else if(my_file[t].type == 5) {
				$("#show5").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card5_idx = my_file[t].idx;
			} else if(my_file[t].type == 6) {
				$("#show6").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card6_idx = my_file[t].idx;
			} else if(my_file[t].type == 7) {
				$("#show7").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				$("#show8").parent().removeClass('word_hide');
				card7_idx = my_file[t].idx;
			} else if(my_file[t].type == 8) {
				$("#show8").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block').parent().removeClass('word_hide');
				$("#show9").parent().removeClass('word_hide');
				card8_idx = my_file[t].idx;
			} else if(my_file[t].type == 9) {
				$("#show9").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block').parent().removeClass('word_hide');
				$("#show10").parent().removeClass('word_hide');
				card9_idx = my_file[t].idx;
			} else if(my_file[t].type == 10) {
				$("#show10").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block').parent().removeClass('word_hide');
				$("#show11").parent().removeClass('word_hide');
				card10_idx = my_file[t].idx;
			} else if(my_file[t].type == 11) {
				$("#show11").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block').parent().removeClass('word_hide');
				card11_idx = my_file[t].idx;
			} else if(my_file[t].type == 12) {
				$("#show12").attr("src", '/file/' + my_file[t].file_idx + '/view').css('display', 'block').siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
				card12_idx = my_file[t].idx;
			}
		};

		loadScript("js/plugin/jqgrid/grid.locale-cn.js", function() {
			pagefunction(d.technician);

		});

		loadScript("js/plugin/jqgrid/grid.locale-cn.js", function() {
			pagefunction_response(d.principal);
		});
		if(isCheck == '1') {
			$('.deRequest').css('display', 'none');
		}

	});

	//日期
	$(function() {
		$('#buildTime').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#birthTime').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#comTime').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#loginTime').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#checkTime').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#technician-birth').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$('#technician-birth1').datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
		$(".icon-arrow-left").addClass("glyphicon-arrow-left");
		$(".icon-arrow-right").addClass("glyphicon-arrow-right");
		$('.daylist').click(function(){
			$(".clear").text('清空');
		})
	})

	$('.good_list li').click(function() {

		if($(this).hasClass('ac')) {
			$(this).removeClass('ac')
		} else {
			$(this).addClass('ac')
		};
		if($(this).children('input[name="checkbox"]').attr('checked')) {
			$(this).children('input[name="checkbox"]').removeAttr('checked')
		} else {
			$(this).children('input[name="checkbox"]').attr('checked', 'checked')
		};

	})

	//视频图片
	$('.vedio').click(function() {
		console.log(typeof $(this).index())
		switch($(this).index()) {
			case 0:
				$("#img-zoom-modal").find('p').text('视频一');
				$("#img-zoom-modal").find('img').attr('src', 'img/nh/vedio1.jpg');
				$("#img-zoom-modal").modal('show');
				break;
			case 1:
				$("#img-zoom-modal").find('p').text('视频二');
				$("#img-zoom-modal").find('img').attr('src', 'img/nh/vedio2.jpg');
				$("#img-zoom-modal").modal('show');
				break;
			case 2:
				$("#img-zoom-modal").find('p').text('视频三');
				$("#img-zoom-modal").find('img').attr('src', 'img/nh/vedio3.jpg');
				$("#img-zoom-modal").modal('show');
				break;
			case 3:
				$("#img-zoom-modal").find('p').text('视频四');
				$("#img-zoom-modal").find('img').attr('src', 'img/nh/vedio4.jpg');
				$("#img-zoom-modal").modal('show');
				break;
		}

	})

	//获取焦点失去焦点css样式
	$('.item_mes').focus(function() {
		$(this).css('border-color', '#2196f3');
	})
	$('.item_mes').blur(function() {
		$(this).css('border-color', '#cacaca');
	})

	//图片删除点击事件		
	$('.deRequest').click(function() {
		var pMes = $(this).siblings('p').text();
		$("#delete-pic").modal('show').find('.realmes').text(pMes);
		var imgidx = $(this).siblings('img').attr('src').substr('6', '36');
		var imgid = $(this).siblings('img').attr('id');
		$("#delete-pic-determine").attr({ 'imgidx': imgidx, 'imgid': imgid });
	});
	$("#delete-pic-determine").click(function() {
		var imgidx = $(this).attr('imgidx');
		var imgid = $(this).attr('imgid');
		$("#" + imgid).attr('src', '').css('display', 'none').siblings('.deRequest').css('display', 'none').siblings('.zoRequest').css('display', 'none');
		if($("#" + imgid).siblings('p').css('display') == 'none') {
			head_portrait = '';

		} else {
			__RUN_ACT('farmer/deleteFile', { 'file_idx': imgidx }, function(d) {
				console.log(d);
				var picIdx = imgid.substring(imgid.indexOf("w") + 1, imgid.length);
				switch(picIdx) {
					case '1':
						card1_idx = '';
						break;
					case '2':
						card2_idx = '';
						break;
					case '3':
						card3_idx = '';
						break;
					case '4':
						card4_idx = '';
						break;
					case '5':
						card5_idx = '';
						break;
					case '6':
						card6_idx = '';
						break;
					case '7':
						card7_idx = '';
						break;
					case '8':
						card8_idx = '';
						break;
					case '9':
						card9_idx = '';
						break;
					case '10':
						card10_idx = '';
						break;
					case '11':
						card11_idx = '';
						break;
					case '12':
						card12_idx = '';
						break;
				}
			});
		};
	});

	//鼠标点击，显示大图
	$("#img-zoom-modal").find('.modal-dialog').css('height', $(window).height())
	$(".zoRequest").click(function() {
		var picsrc = $(this).siblings('img').attr('src');
		var picname = $(this).siblings('p').text();
		$('#img-zoom-modal').find('img').attr('src', picsrc).siblings('p').text(picname);
		$('#img-zoom-modal').modal('show');
	});

	//验证
	var errorClass = 'invalid';
	var errorElement = 'em';
	var $checkoutForm = $('#checkout-form').validate({
		errorClass: errorClass,
		errorElement: errorElement,
		highlight: function(element) {
			$(element).parent().removeClass('state-success').addClass("state-error");
			$(element).removeClass('valid');
		},
		unhighlight: function(element) {
			$(element).parent().removeClass("state-error").addClass('state-success');
			$(element).addClass('valid');
		},
		rules: {
			socialcredit_no: {
				isSocialcredit: true
			},
			tax_no: {
				isRegistration: true
			},
			registration_no: {
				isRegistration: true
			},
			organization_no: {
				isOrganization_code: true
			},
			register_capital: {
				digits: true
			},
		},

		errorPlacement: function(error, element) {
			error.insertAfter(element.parent());
		}
	});

	var $checkoutForm1 = $('#checkout-form-1').validate({
		errorClass: errorClass,
		errorElement: errorElement,
		highlight: function(element) {
			$(element).parent().removeClass('state-success').addClass("state-error");
			$(element).removeClass('valid');
		},
		unhighlight: function(element) {
			$(element).parent().removeClass("state-error").addClass('state-success');
			$(element).addClass('valid');
		},
		// Rules for form validation
		rules: {
			name: {
				required: true,
				chinese: true
			},
			identity_no: {
				//				required : true,
				//				idCard :true
			},
			email: {
				email: true
			},
			phone: {
				//				required : true,
				//				isMobile :true
			},
			nation: {
				chinese: true
			},
		},
		// Messages for form validation
		messages: {
			name: {
				required: '请输入您的姓名',
				chinese: '请输入您的名字'
			},
			identity_no: {
				required: '请输入您的身份证号',
			},
			email: {
				email: '请输入一个正确的邮箱地址'
			},
			phone: {
				required: '请输入您的电话号码'
			},
			nation: {
				chinese: '请输入正确的民族'
			},

		},
		// Do not change code below
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent());
		}
	});

	var principalchange = $('#principal-change').validate({
		errorClass: errorClass,
		errorElement: errorElement,
		highlight: function(element) {
			$(element).parent().removeClass('state-success').addClass("state-error");
			$(element).removeClass('valid');
		},
		unhighlight: function(element) {
			$(element).parent().removeClass("state-error").addClass('state-success');
			$(element).addClass('valid');
		},
		// Rules for form validation
		rules: {
			principal_name: {
				required: true,
				chinese: true
			},
			position: {
				required: true
			},
			email: {
				email: true
			},
			phone: {
				required: true,
				isMobile: true
			},
		},
		// Messages for form validation
		messages: {
			email: {
				email: '请输入正确的邮箱地址'
			},
			principal_name: {
				required: '请输入技术人员姓名',
				chinese: '请输入技术员姓名'
			},
			position: {
				required: '请输入技术员职位'
			},
			phone: {
				required: '请输入技术员电话',
				isMobile: '请输入正确的技术员电话'
			},

		},
		// Do not change code below
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent());
		}
	});

	//企业荣誉证书上传
	function upload4(inputId, imgId) {
		var filevalue = $("#" + inputId).val();
		if(!filevalue) return;
		$("#" + inputId).siblings('.deRequest').css('display', 'block');

		__UPLOAD_FILE(inputId, function(d) {
			console.log(d);
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view').css('display', 'block');
			if($('#certificContainer').find('img').last().attr('id') == imgId) {
				var newinputId = inputId.substr(0, 9) + (inputId.substring(inputId.indexOf("a") + 1, inputId.length) - 1 + 2);
				var newimgId = imgId.substr(0, 12) + (imgId.substring(imgId.indexOf("w") + 1, imgId.length) - 1 + 2);
				var newString = '<div class="pic_box honorbook"><div class="deRequest  glyphicon glyphicon-remove"></div><div class="zoRequest  glyphicon glyphicon-zoom-in"></div><input type="file" name="filename" class="head_data2" id="' + newinputId + '" onchange="upload4(\'' + newinputId + '\',\'' + newimgId + '\')" /><img src="" id="' + newimgId + '"/><p>荣誉证书</p></div>';
				$("#certificContainer").append(newString);
			};

			//			<div class="pic_box">
			//				<div class="deRequest  glyphicon glyphicon-remove"></div>
			//				<input type="file" name="filename" class="head_data2" id="certifica1" onchange="upload4('certifica1','certificshow1')" />
			//				<img src="" id="certificshow1" />
			//				<p>批量上传</p>
			//			</div>

		});
	};

	//头像图片上传
	function upload1(inputId, imgId) {
		var filevalue = $("#" + inputId).val();
		if(!filevalue) return;
		$("#" + inputId).siblings('.deRequest').css('display', 'block');
		__UPLOAD_FILE(inputId, function(d) {
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
			console.log(d);
			head_portrait = d.idx;
		});
		$("#" + imgId).css('display', 'block');
	};

	//企业靓照上传
	function upload2(inputId, imgId) {
		var filevalue = $("#" + inputId).val();
		if(!filevalue) return;
		$("#" + inputId).siblings('.deRequest').css('display', 'block');
		var picIndex = 0;
		picIndex = $('#' + imgId).parent().index() + 1;
		__UPLOAD_FILE(inputId, function(d) {
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
			console.log(d);
			$('#' + imgId).parent().parent().children('.pic_box:eq(' + picIndex + ')').removeClass('word_hide');
			var file_data = {};
			file_data['customer_idx'] = IDX;
			file_data['file_idx'] = d.idx;
			file_data['type'] = picIndex + 6;
			var cardNum = '';
			switch(picIndex) {
				case 1:
					cardNum = card7_idx;
					break;
				case 2:
					cardNum = card8_idx;
					break;
				case 3:
					cardNum = card9_idx;
					break;
				case 4:
					cardNum = card10_idx;
					break;
				case 5:
					cardNum = card11_idx;
					break;
			}
			console.log(cardNum, card7_idx)
			if(cardNum == '') {
				var step = [
					{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer_file', RCODE: 'ENTITY', DATA: file_data }
				];
				__RUN_STEP(step, function(d) {
					console.log(d.ENTITY);
					switch(picIndex) {
						case 1:
							card7_idx = d.idx;
							break;
						case 2:
							card8_idx = d.idx;
							break;
						case 3:
							card9_idx = d.idx;
							break;
						case 4:
							card10_idx = d.idx;
							break;
						case 5:
							card11_idx = d.idx;
							break;
					}
				});
			} else {
				file_data['idx'] = cardNum;
				var step = [
					{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_customer_file', RCODE: 'ENTITY', DATA: file_data }
				];
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);
				});

			}

		});
		$("#" + imgId).css('display', 'block');
	}

	//资质证书图片上传
	function upload(inputId, imgId) {
		var filevalue = $("#" + inputId).val();
		if(!filevalue) return;
		$("#" + inputId).siblings('.deRequest').css('display', 'block').siblings('.zoRequest').css('display', 'block');
		var picIndex = imgId.substring(imgId.indexOf("w") + 1, imgId.length);
		__UPLOAD_FILE(inputId, function(d) {
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
			var file_data = {};
			file_data['customer_idx'] = IDX;
			file_data['file_idx'] = d.idx;
			file_data['type'] = picIndex;
			var cardNum = '';
			switch(picIndex) {
				case '1':
					cardNum = card1_idx;
					break;
				case '2':
					cardNum = card2_idx;
					break;
				case '3':
					cardNum = card3_idx;
					break;
				case '4':
					cardNum = card4_idx;
					break;
				case '5':
					cardNum = card5_idx;
					break;
				case '6':
					cardNum = card6_idx;
					break;
				case '12':
					cardNum = card12_idx;
					break;
			}
			if(cardNum == '') {
				var step = [
					{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer_file', RCODE: 'ENTITY', DATA: file_data }
				];
				__RUN_STEP(step, function(data) {
					console.log(data.ENTITY);
					switch(picIndex) {
						case 1:
							card1_idx = d.idx;
							break;
						case 2:
							card2_idx = d.idx;
							break;
						case 3:
							card3_idx = d.idx;
							break;
						case 4:
							card4_idx = d.idx;
							break;
						case 5:
							card5_idx = d.idx;
							break;
						case 6:
							card6_idx = d.idx;
							break;
						case 12:
							card12_idx = d.idx;
							break;
					}
				});
			} else {
				file_data['idx'] = cardNum;
				var step = [
					{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_customer_file', RCODE: 'ENTITY', DATA: file_data }
				];
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);

				});

			}

		});
		$("#" + imgId).css('display', 'block');
	}

	//企业基本信息tab切换
	$('#tabs').tabs();

	//可增添table
	pageSetUp();

	//包片兽医信息列表
	var pagefunction = function(t) {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function() {
			run_jqgrid_function(t);
			$("#pjqgrid_left").html("<button class='noChange' style='background : #2196f3 ; color : #fff ; padding:7px ; border-radius : 5px ; ' type='button' class='btn btn-xs btn-default' data-original-title='Add' data-toggle='modal' data-target='#add-data' ><i class='fa fa-plus'></i> 新增包片兽医</button>");
			if(isCheck == '1') {
				$(".noChange").attr('disabled', 'disabled');
			};
		});

		function run_jqgrid_function(jqgrid_data) {
			//修改
			var tableNum = 0;
			$('#change-data').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget)
				var tParent = button[0].parentElement.parentElement
				console.log(tParent)
				var tIndex = $(tParent).index()
				//				console.log(tIndex)
				tableNum = tIndex;
				var modal = $(this)
				var idx = tParent.children[1].innerText;
				var name = tParent.children[2].innerText;
				var card = tParent.children[3].innerText;
				var age = tParent.children[4].innerText;
				var adress = tParent.children[5].innerText;
				var tel = tParent.children[6].innerText;
				var degree = tParent.children[7].innerText;
				var company = tParent.children[9].innerText;
				var mail = tParent.children[10].innerText;
				var sex = tParent.children[11].innerText;
				var nation = tParent.children[12].innerText;
				console.log(degree)
				console.log(tParent)
				var birthdate = tParent.children[13].innerText.substr(0, 10);
				var cardadress = tParent.children[14].innerText;
				var margin = tParent.children[15].innerText;
				var remark = tParent.children[16].innerText;

				modal.find('.modal-body input#this_idx').val(idx);
				modal.find('.modal-body input#technician-name').val(name);
				modal.find('.modal-body input#id-card').val(card);
				modal.find('.modal-body input#technician-age').val(age);
				modal.find('.modal-body input#technician-nowcard').val(adress);
				modal.find('.modal-body input#technician-tel').val(tel);
				modal.find('.modal-body input#culture-degree').val(degree);
				modal.find('.modal-body input#technician-company').val(company);
				modal.find('.modal-body input#technician-mail').val(mail);
				modal.find('.modal-body input#technician-sex').val(sex);
				modal.find('.modal-body input#technician-nation').val(nation);
				modal.find('.modal-body input#technician-birth').val(birthdate);
				modal.find('.modal-body input#technician-card').val(cardadress);
				modal.find('.modal-body textarea#technician-remark').val(remark);

			});
			$("#change-determine").click(function() {

				var data = __GET_FROM_VALUES('barMes-change')
				console.log(data, 123123)
				jqgrid_data[tableNum - 1] = data;

				var step = [
					{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_people', RCODE: 'ENTITY', DATA: data }
				];
				$("#jqgrid").jqGrid('setData', jqgrid_data);
				$("#jqgrid").trigger("reloadGrid");
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);
				});
			});
			//新增
			$('#add-data').on('show.bs.modal', function(event) {
				var modal = $(this);
				modal.find('.modal-body input#customer_idx').val(IDX);

			});
			$("#add-determine").click(function() {
				var data = __GET_FROM_VALUES('barMes-add');
				console.log(data);
				jqgrid_data.push(data);
				data = __RMV_NULL_PROP(data);
				__RUN_ACT('farmer/technicianAdd', data, function(d) {
					console.log(d)
					$("#jqgrid").jqGrid('setData', jqgrid_data);
					$("#jqgrid").trigger("reloadGrid");
				})
			})
			//删除
			$('#delete-data').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var tParent = button[0].parentElement.parentElement;
				var tIndex = $(tParent).index();
				tableNum = tIndex;
				var modal = $(this);
				var peopl_idx = tParent.children[1].innerText;
				modal.find('.modal-body input#people_idx').val(peopl_idx);
			});
			$('#delete-determine').click(function() {
				var data = __GET_FROM_VALUES('barMes-delete');
				jqgrid_data.splice(tableNum - 1, 1);
				__RUN_ACT('farmer/technicianDelete', data, function(d) {
					$("#jqgrid").jqGrid('setData', jqgrid_data);
					$("#jqgrid").trigger("reloadGrid");
				})
			})

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				autowidth: true,
				width: 'auto',
				colNames: ['', '姓名', '身份证号', '年龄', '负责区块', '联系电话', '文化程度', '操作', 'company', '', '', '', '', '', '', ''],
				colModel: [
					{ name: 'idx', idex: 'idx', editable: true, width: '0px' },
					{ name: 'name', index: 'name', editable: true, sortable: false },
					{ name: 'identity_no', index: 'identity_no', editable: true, sortable: false },
					{ name: 'age', index: 'residential_site', editable: true, sortable: false },
					{ name: 'residential_site', index: 'tax', editable: true, sortable: false },
					{ name: 'phone', index: 'phone', editable: true, sortable: false },
					{ name: 'culture_degree', index: 'culture_degree', sortable: false, editable: true },

					{ name: 'act', index: 'act', sortable: false },
					{ name: 'company', idex: 'company', editable: true, width: '0px' },
					{ name: 'email', idex: 'email', editable: true, width: '0px' },
					{ name: 'sex', idex: 'sex', editable: true, width: '0px' },
					{ name: 'nation', idex: 'nation', editable: true, width: '0px' },
					{ name: 'birthdate', idex: 'birthdate', editable: true, width: '0px' },
					{ name: 'certificate_site', idex: 'certificate_site', editable: true, width: '0px' },
					{ name: 'marital_status', idex: 'marital_status', editable: true, width: '0px' },
					{ name: 'remark', idex: 'remark', editable: true, width: '0px' },
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				rownumbers: true,
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function() {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						//						be = "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModal' data-whatever='@mdo'>修改</button>"; 
						//						se = "<button type='button' class='btn btn-danger' data-toggle='modal' data-target='#exampleModal' data-whatever='@fat'>删除</button>";
						be = "<button type='button' class='btn btn-xs btn-default noChange' data-original-title='Edit Row' data-toggle='modal' data-target='#change-data'><i class='fa fa-pencil'></i> 修改</button>";
						ca = "<button type='button' class='btn btn-xs btn-default noChange' data-original-title='Cancel' data-toggle='modal' data-target='#delete-data' ><i class='fa fa-times'></i> 删除</button>";
						ce = "";
						//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						//						ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ca });
					}
				},
				editurl: "dummy.html",

				multiselect: false,

			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

			// update buttons

			$(window).on('resize.jqGrid', function() {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#jishuyuan").width());
			});
			$.extend($.fn.jqGrid, {
				setData: function(data) {
					this[0].p.data = data;
					return true;
				}
			});

		} // end function

	};

	//负责人信息列表
	var pagefunction_response = function(t) {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function() {
			run_jqgrid_function_response(t);
			$("#pjqgrid_response_left").html("<button class='noChange' style='background : #2196f3 ; color : #fff ; padding:7px ; border-radius : 5px ; '  type='button' class='btn btn-xs btn-default' data-original-title='Add' data-toggle='modal' data-target='#principal-add-data' ><i class='fa fa-plus'></i> 新增负责人</button>");
			if(isCheck == '1') {
				$(".noChange").attr('disabled', 'disabled');
			};
		});

		function run_jqgrid_function_response(jqgrid_data) {
			var tableNum = 0;
			//新增
			$('#principal-add-data').on('show.bs.modal', function(event) {
				var modal = $(this);
				modal.find('.modal-body input#principal_idx').val(IDX);

			});
			$("#principal-add-determine").click(function() {
				var data = __GET_FROM_VALUES('principal-add');
				data = __RMV_NULL_PROP(data);

				jqgrid_data.push(data);
				console.log(jqgrid_data);
				var step = [
					{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer_principal', RCODE: 'ENTITY', DATA: data }
				];
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);
					$("#jqgrid_response").jqGrid('setData', jqgrid_data);
					$("#jqgrid_response").trigger("reloadGrid");
				});
			})

			//删除
			$('#principal-delete-data').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var tParent = button[0].parentElement.parentElement;
				var return_idx = tParent.children[1].innerText;
				var tIndex = $(tParent).index();
				tableNum = tIndex;
				var modal = $(this);

				modal.find('.modal-body input#principal_idx').val(return_idx);

			});
			$("#principal-delete-determine").click(function() {
				var data = __GET_FROM_VALUES('principal-delete');
				data = __RMV_NULL_PROP(data);
				jqgrid_data.splice(tableNum - 1, 1);

				var step = [
					{ JSCODE: 'SAVE', CODE: 'REMOVE', CLZ: 't_customer_principal', RCODE: 'ENTITY', DATA: data }
				];
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);
					$("#jqgrid_response").jqGrid('setData', jqgrid_data);
					$("#jqgrid_response").trigger("reloadGrid");
				});
			})

			//修改
			$('#principal-change-data').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var tParent = button[0].parentElement.parentElement;

				var tIndex = $(tParent).index();
				tableNum = tIndex;
				var return_idx = tParent.children[1].innerText;
				var principal_name = tParent.children[2].innerText;
				var principal_position = tParent.children[3].innerText;
				var principal_tel = tParent.children[4].innerText;
				var principal_email = tParent.children[5].innerText;
				var modal = $(this);
				modal.find('.modal-body input#principal_idx').val(return_idx);
				modal.find('.modal-body input#principal_name').val(principal_name);
				modal.find('.modal-body input#principal_position').val(principal_position);
				modal.find('.modal-body input#principal_phone').val(principal_tel);
				modal.find('.modal-body input#principal_email').val(principal_email);
			});
			$("#principal-change-determine").click(function() {
				var data = __GET_FROM_VALUES('principal-change');
				data = __RMV_NULL_PROP(data);
				console.log(data);
				jqgrid_data[tableNum - 1] = data;
				var step = [
					{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_customer_principal', RCODE: 'ENTITY', DATA: data }
				];
				__RUN_STEP(step, function(date) {
					console.log(date.ENTITY);
					$("#jqgrid_response").jqGrid('setData', jqgrid_data);
					$("#jqgrid_response").trigger("reloadGrid");
				});
			})

			jQuery("#jqgrid_response").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				autowidth: true,
				width: 'auto',
				colNames: ['', '负责人姓名', '职位', '联系电话', '邮件', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', width: '0' },
					{ name: 'principal_name', index: 'principal_name', width: '100%', sortable: false },
					{ name: 'position', index: 'position', editable: true, width: '100%', sortable: false },
					{ name: 'phone', index: 'phone', editable: true, width: '100%', sortable: false },
					{ name: 'email', index: 'email', editable: true, width: '100%', sortable: false },
					{ name: 'act', index: 'act', sortable: false, width: '100%' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid_response',
				sortname: 'principal_name',
				rownumbers: true,
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function() {
					var ids = jQuery("#jqgrid_response").jqGrid('getDataIDs');
					for(var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button type='button' class='btn btn-xs btn-default noChange' data-original-title='Edit Row' data-toggle='modal' data-target='#principal-change-data'><i class='fa fa-pencil'></i> 修改</button>";
						ca = "<button type='button' class='btn btn-xs btn-default noChange' data-original-title='Cancel' data-toggle='modal' data-target='#principal-delete-data' ><i class='fa fa-times'></i> 删除</button>";
						ce = "";
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid_response").jqGrid('setRowData', ids[i], { act: be + ca + ce });
					}
				},
				editurl: "dummy.html",
				multiselect: false,

			});
			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

			$(window).on('resize.jqGrid', function() {
				jQuery("#jqgrid_response").jqGrid('setGridWidth', $("#headMes").width());
			});
			$.extend($.fn.jqGrid, {
				setData: function(data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function
	}

	$("#sub-btn").click(function() {
		if($("#jiben_mes").find('.state-error').length != 0) {
			$('#setfail').find('.modal-body').children('h4').text('信息填写错误！');
			$('#setfail').modal('show');
			return;
		}
		//people字段
		var mypeople = __GET_FROM_VALUES('setPeopleData')
		mypeople['head_portrait'] = head_portrait;
		console.log(head_portrait)
		if($('public_check:eq(0)').hasClass('word_show')) {
			mypeople['public_check'] = '0';
		} else {
			mypeople['public_check'] = '1';
		}
		mypeople['idx'] = people_idx;
		mypeople['user_idx'] = $("#__uidx").attr("value");
		//customer字段
		var farmMes = __GET_FROM_VALUES('checkout-form')
		var mycustomer = __GET_FROM_VALUES('company_name')
		mycustomer['idx'] = IDX;
		mycustomer['scale_type'] = scaletype;
		for(var tem in farmMes) {
			mycustomer[tem] = farmMes[tem];
		}
		var animalcheck = $('input[name="checkbox"]').length;
		var varietyarr = [];
		$('input[name="checkbox"]').each(function() {
			if($(this).parent('li').hasClass('ac')) {
				varietyarr.push($(this).attr('value'))
			}
		});
		var livestock_variety = varietyarr.join(',')
		mycustomer['livestock_variety'] = livestock_variety;
		mycustomer['valid_state'] = '1';
		var district_arr = ['0', '12'];
		addDistrictIdx('city');
		addDistrictIdx('area');
		addDistrictIdx('county');
		addDistrictIdx('village');

		function addDistrictIdx(selectname) {
			if($("select[name='" + selectname + "']").val()) {
				district_arr.push($("select[name='" + selectname + "']").val())
			};
		}
		var dis_str = district_arr.join(',');
		console.log(dis_str)
		mycustomer['district_idx'] = dis_str;
		var file_path = [];
		$("#certificContainer").find('img').each(function(i, val) {
			file_path.push($(val).attr('src'));
		})
		console.log(file_path);

		mycustomer['honor_filepath'] = file_path.join(',').replace(/,,/, ',');

		mycustomer = __RMV_NULL_PROP(mycustomer);
		//		var file={};

		//		file['file_path']=file_path;
		//		file['type']='20';
		//		console.log(file);
		//传入的数据
		var newData = {};
		newData['people'] = mypeople;
		newData['customer'] = mycustomer;

		console.log(newData);
		__RUN_ACT('farmer/usercodeSole', { 'user_code': mypeople.phone }, function(d) {
			console.log(typeof d[0]['count(*)']);
			if(!people_idx) {
				if(d[0]['count(*)'] == 0) {
					if(newData.people.phone == '' || newData.people.name == '') {
						$("#setfail").modal('show');
						return;
					} else {
						console.log(newData);
						__RUN_ACT('farmer/detailsUpdate', newData, function(d) {
							console.log(d);
							$("#setsuccess").modal('show');
							$("body").click(function() {
								window.location.reload();
							})
						})
					};
				} else {
					$("#telexist").modal('show');
					return;
				}
			} else {
				if(newData.people.phone == '' || newData.people.name == '') {
					$("#setfail").modal('show');
					return;
				} else {
					console.log(newData);
					__RUN_ACT('farmer/detailsUpdate', newData, function(d) {
						console.log(d);
						$("#setsuccess").modal('show');
						$("body").click(function() {
							window.location.reload();
						})
					})
				};
			}
		});

	})
</script>