<style>
	/* ocr按钮样式 */

	.ocr_btn {
		padding: 8px 10px;
		background-color: #2196f3;
		border: none;
		border-radius: 5px;
		color: #fff;
	}
	/* 上传图片样式 */

	.head_wrap {
		height: 142px;
		width: 132px;
		border: 1px solid #cacaca;
		border-bottom: none;
		background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
		cursor: pointer;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
	}

	.head_wrap input {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 10;
	}

	.head_wrap img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 1;
		height: 100%;
	}

	.head_wrap i {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		font-size: 20px;
		z-index: 20;
		background-color: #ffffff;
		color: #444444;
		opacity: 0.3;
		transition: all 0.5s;
	}

	.head_wrap:hover i {
		opacity: 0.8;
	}

	#jiben_mes #head_data {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 132px;
		padding-left: 0;
	}

	.pic_check {
		text-align: center;
		width: 134px;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;

		margin: 0 auto;
		margin-bottom: 10px;
	}

	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}

	input,
	select {
		border-width: 1px!important;
		padding-left: 5px!important;
	}
	/* 兽医按钮 */

	.insurance button {
		float: right;
		margin-left: 10px;
		padding: 6px 12px;
	}
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*树状图鼠标移入样式*/

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget_content {
		overflow: auto;
		max-height: 750px;
	}

	#widget_content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}
	/* 标签页样式 */

	body.smart-style-6 .nav-tabs>li.active>a {
		-webkit-box-shadow: 0 -2px 0 #2196F3;
		-moz-box-shadow: 0 -2px 0 #2196F3;
		box-shadow: 0 -2px 0 #2196F3;
	}

	.nav-tabs>li>a {
		margin: 0 8px;
	}

	.nav-tabs {
		margin-top: 10px;
	}

	.jarviswidget .nav-tabs li:not(.active) a {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
	}
</style>

<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />

<section id="widget-grid-my" class="">

	<div class="row">
		<article class="col-sm-12 col-md-4 col-lg-4">
			<div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>保险信息树</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"> </div>
					<!-- widget content -->
					<div class="widget-body">
						<div class="tree smart-form" id="widget_content">
							<ul>
								<li>
									<span widget_id='0'><i class="fa fa-lg fa-folder-open"></i><b>保险</b></span>
								</li>
							</ul>
						</div>
						<!-- end widget content -->

					</div>
				</div>
			</div>
		</article>
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-8 col-lg-8">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>保险信息</h2>
				</header>
				<div>
					<div class="widget-body no-padding">


						<div class="smart-form" id="insurance_form" novalidate="novalidate">
							<header>保险公司基本信息</header>
							<fieldset>
								<div class="form-horizontal">
									<input type="hidden" name="pid" value="0">
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">公司编码</label>
											<div class="col col-sm-9">
												<input type="text" name="insurance_code" placeholder="公司编码" class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">公司名称</label>
											<div class="col col-sm-9">
												<input type="text" name="insurance_name" placeholder="公司名称" class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">公司简称</label>
											<div class="col col-sm-9">
												<input type="text" name="insurance_for_short" placeholder="公司简称" class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">保险类别</label>
											<div class="col col-sm-9">
												<select name="insurance_type" class="form-control">
													<option value="股份保险公司">股份保险公司</option>
													<option value="相互保险公司">相互保险公司</option>
													<option value="专属保险公司">专属保险公司</option>
												</select>
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">助记码</label>
											<div class="col col-sm-9">
												<input type="text" name="legal_id_no" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">法人姓名</label>
											<div class="col col-sm-9">
												<input type="text" name="legal_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">总公司</label>
											<div class="col col-sm-9">
												<input type="text" name="headquarters" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">员工人数</label>
											<div class="col col-sm-9">
												<input type="text" name="company_number" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">注册资金</label>
											<div class="col col-sm-9">
												<input type="text" name="registered_capital" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">开户银行</label>
											<div class="col col-sm-9">
												<input type="text" name="opening_bank" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">银行账号</label>
											<div class="col col-sm-9">
												<input type="text" name="bank_account" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">银联号</label>
											<div class="col col-sm-9">
												<input type="text" name="union_num" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">税号</label>
											<div class="col col-sm-9">
												<input type="text" name="duty_paragraph" placeholder="请输入..." class="form-control">
											</div>
										</section>

										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">税率%</label>
											<div class="col col-sm-9">
												<input type="text" name="tax_rate" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">币种</label>
											<div class="col col-sm-9">
												<select name="currency" class="form-control">
																<option value="人民币">人民币</option>
															</select>
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系人</label>
											<div class="col col-sm-9">
												<input type="text" name="link_man" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">邮箱</label>
											<div class="col col-sm-9">
												<input type="text" name="email" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">传真</label>
											<div class="col col-sm-9">
												<input type="text" name="fax" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系人手机</label>
											<div class="col col-sm-9">
												<input type="text" name="link_mobile" placeholder="请输入..." class="form-control">
											</div>
										</section>

										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">座机号码</label>
											<div class="col col-sm-9">
												<input type="text" name="link_number" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系地址</label>
											<div class="col col-sm-9">
												<input type="text" name="address" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
									</section>

									<section class="col col-md-12 col-sm-12 col-lg-12">

										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">成立日期</label>
											<div class="col col-sm-9">
												<input type="text" name="establishment_time" readonly id="Time" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12" id="area">
										<label class="col-sm-1 control-label">地区</label>
										<div class="col col-sm-2">
											<select name="province" class="form-control">
												<option value="">选择省</option>
											</select>
										</div>
										<div class="col col-sm-2">
											<select name="city" class="form-control">
												<option value="">选择市</option>
											</select>
										</div>
										<div class="col col-sm-2">
											<select name="area" class="form-control">
												<option value="">选择区</option>
											</select>
										</div>
										<div class="col col-sm-2">
											<select name="town" class="form-control">
												<option value="">选择镇</option>
											</select>
										</div>
										<div class="col col-sm-2">
											<select name="village" class="form-control">
												<option value="">选择村</option>
											</select>
										</div>
									</section>

								</div>
							</fieldset>
							<header>费用户</header>
							<fieldset>
								<div class="form-horizontal">
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">户名</label>
											<div class="col col-sm-9">
												<input type="text" name="cost_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">开户行</label>
											<div class="col col-sm-9">
												<input type="text" name="cost_bank_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">银行账号</label>
											<div class="col col-sm-9">
												<input type="text" name="cost_bank_num" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
								</div>
							</fieldset>
							<header>收入户</header>
							<fieldset>
								<div class="form-horizontal">
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">户名</label>
											<div class="col col-sm-9">
												<input type="text" name="income_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">开户行</label>
											<div class="col col-sm-9">
												<input type="text" name="income_bank_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-4 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">银行账号</label>
											<div class="col col-sm-9">
												<input type="text" name="income_bank_num" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
								</div>
							</fieldset>
							<header>负责人</header>
							<fieldset>
								<div id="tabel">
								</div>
								<div class="insurance">
									<button type="button" class="add_td btn btn-primary">编辑负责人</button>
								</div>
							</fieldset>
							<header>相关证件上传</header>
							<fieldset>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<div class="head_wrap">
											<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
											<input type="file" name="filename" id="tax" />
											<img src="" id="tax_img" />
										</div>
										<p class="pic_check"><span>税务登记证上传</span></p>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<div class="head_wrap">
											<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
											<input type="file" name="filename" id="business" />
											<img src="" id="business_img" />
										</div>
										<p class="pic_check"><span>营业执照上传</span></p>
									</section>
								</section>
								<section class="col col-md-12 col-sm-12 col-lg-12 form-horizontal">
									<div class="form-group">
										<div class="imgs"></div>
									</div>
									<div class="insurance">
										<button class="add_photo btn btn-primary">添加图片</button>
									</div>
								</section>
							</fieldset>
							<fieldset class="insurance">
								<button type="button" class="back_btn btn btn-default">返回</button>
								<button type="button" class="save_btn btn btn-primary">保存</button>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<!-- 编辑表格 -->
<div id='table_modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">编辑表格</h4>
			</div>
			<div class="modal-body form-horizontal">
				<fieldset>
					<div id="tabel_form">
						<div class="form-group">
							<div class="row">
								<label class="col-md-1 control-label">部门</label>
								<div class="col-md-2">
									<input class="form-control" name="department" placeholder="部门" type="text" value="" />
								</div>
								<label class="col-md-1 control-label">职位</label>
								<div class="col-md-2">
									<input class="form-control" name="job" placeholder="职位" type="text" value="" />
								</div>
								<label class="col-md-1 control-label">负责人</label>
								<div class="col-md-2">
									<input class="form-control" name="leading" placeholder="负责人" type="text" value="" />
								</div>
								<label class="col-md-1 control-label">联系手机</label>
								<div class="col-md-2">
									<input class="form-control" name="contact_number" placeholder="联系电话" type="text" value="" />
								</div>
							</div>
							<div class="row">
								<label class="col-md-1 control-label">座机</label>
								<div class="col-md-2">
									<input class="form-control" name="tel" placeholder="联系电话" type="text" value="" />
								</div>
								<label class="col-md-1 control-label">传真</label>
								<div class="col-md-2">
									<input class="form-control" name="fax" placeholder="联系电话" type="text" value="" />
								</div>
								<label class="col-md-1 control-label">邮箱</label>
								<div class="col-md-2">
									<input class="form-control" name="email" placeholder="联系电话" type="text" value="" />
								</div>
								<div class="col-md-2">
									<a class="remover_row btn btn-default">删除负责人</a>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="add_row btn btn-primary">添加负责人</a>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<a class="save_table btn btn-primary">保存</a>
				<a class="btn btn-default" data-dismiss="modal">取消</a>
			</div>
		</div>
	</div>
</div>
<!-- 图片模板 -->
<script type="text/html" id="photo_tmpl">
	<div photo_idx="${idx}" class="col-md-3 col-sm-6">
		<div class="head_wrap">
			<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
			<input type="file" name="filename" id="${idx}" />
			<img src="${imgSrc}" id="${idx}_img" />
		</div>
		<div class="clearfix">
			<a class="remover_photo btn btn-default" style="width:50%;display: block;margin: 5px auto;">删除</a>
		</div>
	</div>
</script>
<script type="text/html" id="tabel_tmpl">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>部门</th>
				<th>职位</th>
				<th>负责人</th>
				<th>联系手机</th>
				<th>座机</th>
				<th>传真</th>
				<th>电子邮箱</th>
			</tr>
		</thead>
		<tbody>
			{{each(i,val) director}}
			<tr>
				<td>${val.department}</td>
				<td>${val.job}</td>
				<td>${val.leading}</td>
				<td>${val.contact_number}</td>
				<td>${val.tel}</td>
				<td>${val.fax}</td>
				<td>${val.email}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>
<script type="text/html" id="tabel_form_tmpl">
	<div class="form-group">
		<div class="row">
			<label class="col-md-1 control-label">部门</label>
			<div class="col-md-2">
				<input class="form-control" name="department" placeholder="部门" type="text" value="${department}" />
			</div>
			<label class="col-md-1 control-label">职位</label>
			<div class="col-md-2">
				<input class="form-control" name="job" placeholder="职位" type="text" value="${job}" />
			</div>
			<label class="col-md-1 control-label">负责人</label>
			<div class="col-md-2">
				<input class="form-control" name="leading" placeholder="负责人" type="text" value="${leading}" />
			</div>
			<label class="col-md-1 control-label">联系手机</label>
			<div class="col-md-2">
				<input class="form-control" name="contact_number" placeholder="联系电话" type="text" value="${contact_number}" />
			</div>
		</div>
		<div class="row">
			<label class="col-md-1 control-label">座机</label>
			<div class="col-md-2">
				<input class="form-control" name="tel" placeholder="联系电话" type="text" value="${tel}" />
			</div>
			<label class="col-md-1 control-label">传真</label>
			<div class="col-md-2">
				<input class="form-control" name="fax" placeholder="联系电话" type="text" value="${fax}" />
			</div>
			<label class="col-md-1 control-label">邮箱</label>
			<div class="col-md-2">
				<input class="form-control" name="email" placeholder="联系电话" type="text" value="${email}" />
			</div>
			<div class="col-md-2">
				<a class="remover_row btn btn-default">删除负责人</a>
			</div>
		</div>
	</div>
</script>
<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	/* 负责人 */
	var director = [];
	/* 图片数组 */
	var imgJson = [];
	//城市联动 地区

	function ctiy(that, callback) {
		__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function (data) {
			$(that).parent().nextAll().find('select').hide();
			$(that).parent().nextAll().find('select').html('');
			if (data.length > 0) {
				$(that).parent().next().find('select').show();
			}
			var html = '<option value="">--请选择--</option>';
			$(that).parent().next().find('select').append(html);
			data.forEach(function (value, index) {
				html = '<option value="' + value.idx + '">' + value.name + '</option>';
				$(that).parent().next().find('select').append(html);
			});

			if (callback) {
				callback();
			}
		});
	}
	$('#area select').on('change', function () {
		var that = this;
		ctiy(that);
		return false;
	})

	__RUN_ACT('insurance/queryName', {}, function (data) {

		loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
			LoadTree(data);
		});
	});

	/*json转树形结构*/
	function transData(a, idStr, pidStr, chindrenStr) {
		var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
		for (; i < len; i++) {
			hash[a[i][id]] = a[i];
		}
		for (; j < len; j++) {
			var aVal = a[j], hashVP = hash[aVal[pid]];
			if (hashVP) {
				!hashVP[children] && (hashVP[children] = []);
				hashVP[children].push(aVal);
			} else {
				r.push(aVal);
			}
		}
		return r;
	}
	/*编辑树*/
	function widget(jsonDataTree) {
		jsonDataTree.forEach(function (element, index) {
			if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.insurance_name + '</b></span></li>'
				$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
			} else {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.insurance_name + '</b></span></li></ul>'
				$("[widget_id='" + element.pid + "']").parent().append(html);
			}
			if (element.chindren) {
				widget(element.chindren);
			}
		});
	}

	function LoadTree(jsonData) {
		widget(transData(jsonData, 'idx', 'pid', 'chindren'));
		tree();
		$('#widget_content [widget_id]').on('click', function () {
			$('#widget_content [widget_id]').removeClass('spanActive');
			$(this).addClass('spanActive');
			$('#wid-id-2>header>h2')[0].innerHTML = '保险信息:所在节点(' + $(this)[0].innerText + ')';
			$('[name="pid"]').val($(this).attr('widget_id'));
		});
	}
	/* 判断是否是查看 */
	if (getQueryString('ischeck')) {
		$('#insurance_form input').attr('disabled', 'disabled');
		$('.add_photo').hide();
		$('.add_td').hide();
		$('.save_btn').hide();
		$('.remover_photo').hide();
	}
	/* 获取保险公司的id */
	var insurance_idx = getQueryString('insurance_idx');
	if (insurance_idx) {
		$('#wid-id-1').parent().hide();
		$('#wid-id-2').parent().attr("class", "col-sm-12 col-md-12 col-lg-12");;
		__RUN_ACT('insurance/queryByIdx', { "idx": insurance_idx }, function (date) {
			__SET_FORM_VALUES('insurance_form', date[0]);
			director = JSON.parse(date[0].director);
			imgJson = JSON.parse(date[0].img_json || '[]');
			$('.imgs').html($('#photo_tmpl').tmpl(imgJson));
			$('#tabel_form').html($('#tabel_form_tmpl').tmpl(director));
			$('#tabel').html($('#tabel_tmpl').tmpl({ "director": director }));
			$('#tax_img').attr('src', date[0].tax_img);
			$('#business_img').attr('src', date[0].business_img);
			$('img').each(function (i, elm) {
				if ($(elm).attr('src')) {
					$(elm).show();
				} else {
					$(elm).hide();
				}
			})
			if (getQueryString('ischeck')) {
				$('.remover_photo').hide();
			}
			__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
				var html = '<option value="">--请选择地区--</option>'
				$('#area select').first().append(html);
				data.forEach(function (value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>'
					$('#area select').first().append(html);
				})
				$('#area select').first().parent().nextAll().find('select').hide();
				$('#area select').first().val(date[0].province);
				ctiy($('#area select').first(), function () {
					if (date[0].city) {
						$('#area').find('[name="city"]').val(date[0].city);
						ctiy($('#area').find('[name="city"]'), function () {
							if (date[0].area) {
								$('#area').find('[name="area"]').val(date[0].area);
								ctiy($('#area').find('[name="area"]'), function () {
									if (date[0].town) {
										$('#area').find('[name="town"]').val(date[0].town);
										ctiy($('#area').find('[name="town"]'), function () {
											if (date[0].village) {
												$('#area').find('[name="village"]').val(date[0].village);
											}
										});
									}
								});
							}
						});
					}
				});
			});
		});

	} else {
		__RUN_ACT('/farmer/queryCity', { "pid": "0" }, function (data) {
			var html = '<option value="">--请选择地区--</option>'
			$('#area select').first().append(html);
			data.forEach(function (value, index) {
				html = '<option value="' + value.idx + '">' + value.name + '</option>'
				$('#area select').first().append(html);
			})
			$('#area select').first().parent().nextAll().find('select').hide();
		});

	}
	$(function () {
		$('#Time').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			todayHighlight: true
		});
	});
	/* 图片上传 */
	$('#insurance_form').on('change', '[name="filename"]', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
				if ($('#' + imgId).parent().parent().parent().attr('class') == 'imgs') {
					for (var key in imgJson) {
						if (imgJson[key].idx == $('#' + imgId).parent().parent().attr('photo_idx')) {
							imgJson[key].imgSrc = '/file/' + d.idx + '/view';
						}
					}
				}
				$("#" + imgId).show();
			});

		}
	});
	/* 添加图片 */
	$('.add_photo').on('click', function () {
		imgJson.push({ "idx": Math.random().toString(16).substring(2) });
		$('.imgs').html($('#photo_tmpl').tmpl(imgJson));
	})
	/* 叶节点图片删除 */
	$('.imgs').on('click', '.remover_photo', function () {
		var jsonKey = $(this).parent().parent().attr('photo_idx');
		for (var key in imgJson) {
			if (imgJson[key].idx == jsonKey) {
				imgJson.splice(key, 1);
			}
		}
		$(this).parent().parent().remove();
	});
	/* 模态框新增负责人 */
	$('.add_row').on('click', function () {
		$('#tabel_form').append($('#tabel_form_tmpl').tmpl());
	})
	/* 模态框删除负责人 */
	$('.modal-body').on('click', '.remover_row', function () {
		$(this).parent().parent().parent().remove();
	})
	/* 保存负责人信息 */
	$('.save_table').on('click', function () {
		/* 负责人 */
		director = [];
		$('.modal-body').find('.form-group').each(function (i, elm) {
			var result = {};
			$(elm).find('input').each(function (index, item) {
				var v = $(item).val();
				result[$(item).attr('name')] = v;
			});
			director.push(result);
		})
		$('#table_modal').modal('hide');
		$('#tabel').html($('#tabel_tmpl').tmpl({ "director": director }));
	});
	/* 编辑负责人信息 */
	$('.add_td').on('click', function () {
		$('#table_modal').modal('show');
	})
	/* 保存保险信息 */
	$('.save_btn').on('click', function () {
		var data = __GET_FROM_VALUES('insurance_form');
		data.tax_img = $('#tax_img').attr('src');
		data.business_img = $('#business_img').attr('src');
		data.director = JSON.stringify(director);
		data.img_json = JSON.stringify(imgJson);
		data.service_village = [];
		var step;
		if (insurance_idx) {
			data.idx = insurance_idx;
			data.modifier = $('#__uidx').val();
			step = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_insurance', RCODE: 'ENTITY', DATA: data }];
			__RUN_STEP(step, function (d) {

				window.history.back();
			})
		} else {
			data.creator = $('#__uidx').val();
			step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_insurance', RCODE: 'ENTITY', DATA: data }];
			__RUN_STEP(step, function (d) {
				window.history.back();
			})
		}

	})
	$('.back_btn').on('click', function () {
		window.history.back();
	})

</script>