<link rel="stylesheet" type="text/css" media="screen" href="css/nh/nh.css">
<style type="text/css">
	#jqgrid td:first-child {
		width: 50px !important;
	}

	#jqgrid td:nth-child(2) {
		display: none;
	}

	#jqgrid td:nth-child(n+10) {
		display: none;
	}

	td input {
		width: auto !important;
	}

	#gview_jqgrid .ui-jqgrid-htable th:first-child {
		width: 50px;
	}

	#gview_jqgrid .ui-jqgrid-htable th:nth-child(2) {
		display: none;
	}

	#gview_jqgrid .ui-jqgrid-htable th:nth-child(n+10) {
		display: none;
	}

	/*表格样式修改*/

	th {
		text-align: center;
	}

	#jqgrid_rn {
		width: 50px !important;
	}

	#jqgrid_response_rn {
		width: 50px !important;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		text-align: center;
	}

	#jqgrid_response td:first-child {
		width: 50px !important;
	}

	#jqgrid_response td:nth-child(2) {
		display: none;
	}

	.district_idx {
		display: none;
	}

	.district_idx:first-child {
		display: inline-block;
	}

	.vedioShow {
		position: relative;
		margin: 5px 0;
	}

	.vedioShow img {
		width: 100%;
		cursor: pointer;
	}

	/*滚动条样式*/

	/* Handle */

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(169, 169, 169, 0.4);
	}

	.honorbook {
		margin-bottom: 40px;
	}
</style>

<section class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/individual_company.png" /> </span>
					<h2>开证</h2>
				</header>
				<div class="form-horizontal">
					<div class="widget-body ">
						<form id="checkout-form-3" class="smart-form">
							<fieldset id="company_name">

								<div id="tabs">
									<ul class="comms_nav">
										<li>
											<a href="#tabs-a">动物A证</a>
										</li>
										<li>
											<a href="#tabs-b">动物B证</a>
										</li>
										<li>
											<a href="#tabs-c">产品A证</a>
										</li>
										<li>
											<a href="#tabs-d">产品B证</a>
										</li>

									</ul>
									<div id="tabs-a">
										<div class="alert alert-info">
											<strong>提示:</strong> 动物A证开证
										</div>

										<header>申报基本信息</header>
										<div class="row" style="margin-top: 20px;">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">货主</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">货主电话</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">动物种类</label>
													<div class="col col-sm-8">
														<select class="form-control">
															<option value="">请选择</option>
															<option value="1">普通动物</option>
															<option value="2">种用乳用</option>
														</select>
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">数量</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">用途</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">启运地</label>
													<div class="col col-sm-8">
														<input type="text" name="legal_name" placeholder="" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">启运地类型</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">目的地类型</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">目的地</label>
													<div class="col col-sm-8">
														<input type="text" name="legal_name" placeholder="" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">承运人</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">承运人电话</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">运载方式</label>
													<div class="col col-sm-8">
														<input type="text" name="legal_name" placeholder="" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">运载工具牌号</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">装运前消毒</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>

												</section>

											</section>

											<header>动物个体详情</header>
											<div class="row" style="width: 98%;margin-left: 1%;margin-top: 20px;">

												<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
													<thead>
														<tr>
															<th>
																序号
															</th>
															<th>RFID编号
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>二维码
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>场内编号
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>检疫结果
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>详情查看
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 42px;">
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
													</tbody>
												</table>

											</div>
											<header>动物到达期限</header>
											<fieldset style="margin: 0 20px;">
												<p>本批动物产品经检疫合格，应于
													<select id="u2084_input">
														<option value="壹">壹</option>
														<option value="贰">贰</option>
														<option value="叁">叁</option>
														<option value="肆">肆</option>
														<option selected="" value="伍">伍</option>
														<option value="陆">陆</option>
													</select>日内到达有效。</p>
												<p style="text-align: right;height:35px;">官方兽医签字
													<input type="text" style="width:175px">
												</p>
												<p style="text-align: right ; height : 35px">签发日期2017-11-10</p>
												<p style="text-align: right;height:35px;">（动物卫生监督所检疫专用章）</p>
											</fieldset>
											<header>备注</header>
											<fieldset style="margin: 5px 5px;padding: 0;">
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
												</section>
											</fieldset>
											<fieldset style="margin: 5px 5px;padding: 0;border: none;">
												<p style="height:35px;">注：1.本证书一式两联，第一联由动物卫生监督所留存，第二联随货同行。</p>
												<p style="height:35px;">2.跨省调运动物到达目的地后，货主或承运人应在24小时内向输入地动物卫生监督机构报告。。</p>
												<p style="height:35px;">3.牲畜耳标号只需填写后3位，可另附纸填写，需注明本检疫证明编号，同时加盖动物卫生监督机构检疫专用章。</p>
												<p style="height:35px;">4.动物卫生监督所联系电话：
													<input type="text" style="width:175px;">
												</p>
											</fieldset style="margin: 5px 5px;padding: 0;">
											<footer style="border: none;margin: 5px 5px;">
												<input type="button" class="btn btn-default" id="close_btnba" value="返回">
												<input type="button" class="btn btn-primary" id="save_requestba" value="保存">
											</footer>
										</div>
									</div>
									<div id="tabs-b">
										<div class="alert alert-info">
											<strong>提示:</strong> 动物B证开证
										</div>

										<header>申报基本信息</header>
										<div class="row" style="margin-top: 20px;">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">货主</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">货主电话</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">动物种类</label>
													<div class="col col-sm-8">
														<select class="form-control">
															<option value="">请选择</option>
															<option value="1">普通动物</option>
															<option value="2">种用乳用</option>
														</select>
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">数量</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>

												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">用途</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">启运地</label>
													<div class="col col-sm-8">
														<input type="text" name="legal_name" placeholder="" class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">启运地类型</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_code" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">目的地类型</label>
													<div class="col col-sm-8">
														<input type="text" name="suppliers_name" placeholder="" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-4 control-label">目的地</label>
													<div class="col col-sm-8">
														<input type="text" name="legal_name" placeholder="" class="form-control">
													</div>
												</section>
											</section>



											<header>动物个体详情</header>
											<div class="row" style="width: 98%;margin-left: 1%;margin-top: 20px;">

												<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
													<thead>
														<tr>
															<th>
																序号
															</th>
															<th>RFID编号
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>二维码
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>场内编号
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>检疫结果
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
															<th>详情查看
																<a href="javascript:void(0);" class="btn btn-xs btn-default pull-right">
																	<i class="fa fa-filter"></i>
																</a>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 42px;">
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
														<tr>
															<td>
																<label class="checkbox">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>
																</label>
															</td>
															<td>Row 1</td>
															<td>Row 2</td>
															<td>Row 3</td>
															<td>Row 4</td>
															<td>Row 4</td>
														</tr>
													</tbody>
												</table>

											</div>
											<header>动物到达期限</header>
											<fieldset style="margin: 0 20px;">
												<p>本批动物产品经检疫合格，应于
													<select id="u2084_input">
														<option value="壹">壹</option>
														<option value="贰">贰</option>
														<option value="叁">叁</option>
														<option value="肆">肆</option>
														<option selected="" value="伍">伍</option>
														<option value="陆">陆</option>
													</select>日内到达有效。</p>
												<p style="text-align: right;height:35px;">官方兽医签字
													<input type="text" style="width:175px">
												</p>
												<p style="text-align: right ; height : 35px">签发日期2017-11-10</p>
												<p style="text-align: right;height:35px;">（动物卫生监督所检疫专用章）</p>
											</fieldset>
											<header>备注</header>
											<fieldset style="margin: 5px 5px;padding: 0;">
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
												</section>
											</fieldset>
											<fieldset style="margin: 5px 5px;padding: 0;border: none;">
												<p style="height:35px;">注：1.本证书一式两联，第一联由动物卫生监督所留存，第二联随货同行。</p>
												<p style="height:35px;">2.本证书限省境内使用。。</p>
												<p style="height:35px;">3.牲畜耳标号只需填写后3位，可另附纸填写，并注明本检疫证明编号，同时加盖动物卫生监督机构检疫专用章。</p>

											</fieldset style="margin: 5px 5px;padding: 0;">
											<footer style="border: none;margin: 5px 5px;">
												<input type="button" class="btn btn-default" id="close_btnbb" value="返回">
												<input type="button" class="btn btn-primary" id="save_requestbb" value="保存">
											</footer>
										</div>
									</div>
									<div id="tabs-c">
										<div id="jishuyuan">
											<div class="alert alert-info">
												<strong>提示:</strong> 产品A证开证
											</div>
											<header>申报基本信息</header>
											<fieldset>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">货主</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">货主电话</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">产品名称</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
														</div>
													</section>
												</section>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">数量(公斤)</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">生产单位名称</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">生产单位地址</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
														</div>
													</section>
												</section>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">目的地</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">承运人</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">承运人电话</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
														</div>
													</section>
												</section>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">运载方式</label>
														<div class="col col-sm-9">
															<select id="u2066_input" class="form-control">
																<option value="请选择">请选择</option>
																<option selected="" value="公路">公路</option>
																<option value="铁路">铁路</option>
																<option value="水路">水路</option>
																<option value="航空">航空</option>
															</select>
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">运载工具牌号</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">运载前消毒方式</label>
														<div class="col col-sm-9">
															<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
														</div>
													</section>
												</section>
											</fieldset>
											<header>动物到达期限</header>
											<fieldset>
												<p>本批动物产品经检疫合格，应于
													<select id="u2084_input">
														<option value="壹">壹</option>
														<option value="贰">贰</option>
														<option value="叁">叁</option>
														<option value="肆">肆</option>
														<option selected="" value="伍">伍</option>
														<option value="陆">陆</option>
													</select>日内到达有效。</p>
												<p style="text-align: right;height:35px;">官方兽医签字
													<input type="text" style="width:175px;">
												</p>
												<p style="text-align:right;height:35px">签发日期2017-11-10</p>
												<p style="text-align:right;height:35px;">（动物卫生监督所检疫专用章）</p>
											</fieldset>
											<header>动物卫生监督检查站签章</header>
											<fieldset>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
												</section>
											</fieldset>
											<header>备注</header>
											<fieldset>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
												</section>
											</fieldset>
											<fieldset>
												<p style="height:35px;">注：1.本证书一式两联，第一联由动物卫生监督所留存，第二联随货同行。</p>
												<p style="height:35px;">注：2.动物卫生监督所联系电话：
													<input type="text" style="width:175px;">
												</p>
											</fieldset>
											<footer>
												<input type="button" class="btn btn-default" id="close_btn" value="返回">
												<input type="button" class="btn btn-primary" id="save_request" value="保存">
											</footer>
										</div>
									</div>
									<div id="tabs-d">
										<div class="alert alert-info">
											<strong>提示:</strong> 产品B证开证
										</div>
										<header>申报基本信息</header>
										<fieldset>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">货主</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">货主电话</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">产品名称</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">数量(公斤)</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">生产单位名称</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">检疫标识号</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
													</div>
												</section>
											</section>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">目的地</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>
												<section class="col col-md-4 col-sm-12 col-lg-4">
													<label class="col-sm-3 control-label">生产单位地址</label>
													<div class="col col-sm-9">
														<input type="text" name="prove_num" class="form-control">
													</div>
												</section>

											</section>

										</fieldset>
										<header>动物到达期限</header>
										<fieldset>
											<p>本批动物产品经检疫合格，应于
												<select id="u2084_input">
													<option value="壹">壹</option>
													<option value="贰">贰</option>
													<option value="叁">叁</option>
													<option value="肆">肆</option>
													<option selected="" value="伍">伍</option>
													<option value="陆">陆</option>
												</select>日内到达有效。</p>
											<p style="text-align: right;height:35px;">官方兽医签字
												<input type="text" style="width:175px;">
											</p>
											<p style="text-align:right;height:35px;">签发日期2017-11-10</p>
											<p style="text-align:right;height:35px;">（动物卫生监督所检疫专用章）</p>
										</fieldset>
										<header>动物卫生监督检查站签章</header>
										<fieldset>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
											</section>
										</fieldset>
										<header>备注</header>
										<fieldset>
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
											</section>
										</fieldset>
										<fieldset>
											<p style="height:35px;">注：1.本证书一式两联，第一联由动物卫生监督所留存，第二联随货同行。</p>
											<p style="height:35px;">注：2.动物卫生监督所联系电话：
												<input type="text" style="width:175px;">
											</p>
										</fieldset>
										<footer>
											<input type="button" class="btn btn-default" id="close_btnb" value="返回">
											<input type="button" class="btn btn-primary" id="save_requestb" value="保存">
										</footer>
									</div>

								</div>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</artical>
	</div>
</section>
<script type="text/javascript">
	//企业基本信息tab切换
	$('#tabs').tabs();

	$("#close_btnba").click(function () {
		history.back();
	})
	$("#close_btnbb").click(function () {
		history.back();
	})
	$("#close_btn").click(function () {
		history.back();
	})
	$("#close_btnb").click(function () {
		history.back();
	})

</script>