<style>
        /* 时间 */
    
        .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
            opacity: 1;
            display: none;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
        .edit_cell{
            display: inline-block;
            border: 1px solid #D4D4D4;
            padding: 2px 5px;
            border-radius:2px;
            color: #000; 
        }
        button{
            background-color: #fff;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
    <!-- widget grid -->
    <section id="widget-grid" class="">
    
        <!-- row -->
        <div class="row">
    
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
                <div class="alert alert-info">
                    <strong>提示:</strong> 在此页面畜牧局单位受理规模场检疫申报
                </div>
    
                <div class="jarviswidget well">
                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">
    
                            <form action="" id="credit_query_form" class="smart-form">
                                <fieldset class="form-horizontal">
                                    <section class="col col-md-12 col-sm-12 col-lg-12">
                                        <section class="col col-md-3 col-sm-12 col-lg-3">
                                            <label class="col-sm-3 control-label">申报单位</label>
                                            <div class="col col-sm-9">
                                                <input type="text" class="form-control" placeholder="申报单位">
                                            </div>
                                        </section>
                                        <section class="col col-md-3 col-sm-12 col-lg-3">
                                            <label class="col-sm-3 control-label">申报单号</label>
                                            <div class="col col-sm-9">
                                                <input type="text" class="form-control" placeholder="申报单号">
                                            </div>
                                        </section>
                                        <section class="col col-md-3 col-sm-12 col-lg-3">
                                            <label class="col-sm-3 control-label">检疫证号</label>
                                            <div class="col col-sm-9">
                                                <input type="text" class="form-control" placeholder="检疫证号">
                                            </div>
                                        </section>
                                        <section class="col col-md-3 col-sm-12 col-lg-3">
                                            <label class="col-sm-4 control-label">状态</label>
                                            <div class="col col-sm-6">
                                                <select id="u1120_input" class="form-control">
                                                    <option value="受理">受理</option>
                                                    <option value="不受理">不受理</option>
                                                    <option value="未受理">未受理</option>
                                                    <option value="全部">全部</option>
                                                    <option value="已检疫">已检疫</option>
                                                    <option value="已开证">已开证</option>
                                                    <option value="全部">全部</option>
                                                </select>
                                            </div>
                                        </section>
                                    </section>
                                    <section class="col col-md-12 col-sm-12 col-lg-12">
                                        <section class="col col-md-4 col-sm-12 col-lg-4">
                                            <label class="col-sm-2 control-label">启运地</label>
                                            <div class="col col-sm-10">
                                                <div id="cityTree">
                                                </div>
                                            </div>
                                        </section>
                                        <section class="col col-md-4 col-sm-12 col-lg-4">
                                            <label class="col-sm-3 control-label" style="text-align:center;">申报日期</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="col col-md-4 col-sm-12 col-lg-4">
                                            <label class="col-sm-3 control-label" style="text-align:center;">受理日期</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date3" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date4" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <section class="col col-md-12 col-sm-12 col-lg-12">
                                        
                                        <section class="col col-md-4 col-sm-12 col-lg-4">
                                            <label class="col-sm-3 control-label" style="text-align:center;">检疫日期</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date5" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" id="posted_date6" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="button" class="btn btn-default" id="reset_qry" value="重置" />
                                    <input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
                                </footer>
                            </form>
    
                        </div>
                        <!-- end widget content -->
                    </div>
                </div>
                <!-- end widget div -->
    
            </article>
            <!-- WIDGET END -->
    
        </div>
        <!-- end row -->
    
    
        <!-- row -->
        <div class="row">
    
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
                <div class="jarviswidget well" id="wid-id">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            
                            <table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>申报单号</th>
                                        <th>申报单位</th>
                                        <th>货主</th>
                                        <th>启运地</th>
                                        <th>目的地</th>
                                        <th>报检数量</th>
                                        <th>申报日期</th>
                                        <th>受理日期</th>
                                        <th>受理单号</th>
                                        <th>检疫日期</th>
                                        <th>检疫证号</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- end widget content -->
    
                    </div>
                    <!-- end widget div -->
    
                </div>
                <!-- end widget -->
    
            </article>
            <!-- WIDGET END -->
    
        </div>
        <!-- end row -->
    
        <div id="credit_info" title="信贷产品详情" class="ajax-win"></div>
    
    
    </section>
    
    
    <script id="edit_cell" type="text/html">
        <div>
            <button type="button"  title="受理" class="edit_cell " onclick="handle_btn()">受理</button>
            <button type="button"  title="检疫" class="edit_cell " onclick="check_btn()" >检疫</button>
            <button type="button"  title="开证" class="edit_cell " onclick="open_btn()" >开证</button>
        </div>
    </script>
    
   
    <script type="text/javascript">
        var pagefunction = function () { uxinit(); }
        var credit_tbl = null;
        var listData = [
            {
                'zoning': '申5000463951',
                'processing_date': '富阳新旺养殖场',
                'processing_no': '天天屠宰场',
                'breed': '杭州富阳',
                'processing_number': '绍兴柯桥',
                'processing_mode': '2',
                'processing_unit': '2017-06-30',
                'processing_people': '2017-07-05',
                'handle_num' : '受5000463951',
                'jianyi_date' : '2017-07-02',
                'jianyi_num' : '4500364458',
                'jianyi_state' : '1'

            },{
                'zoning': '申5000463951',
                'processing_date': '富阳新旺养殖场',
                'processing_no': '天天屠宰场',
                'breed': '杭州富阳',
                'processing_number': '绍兴柯桥',
                'processing_mode': '2',
                'processing_unit': '2017-06-30',
                'processing_people': '2017-07-05',
                'handle_num' : '受5000463951',
                'jianyi_date' : '2017-07-02',
                'jianyi_num' : '4500364458',
                'jianyi_state' : '2'
            },
            {
                'zoning': '申5000463951',
                'processing_date': '富阳新旺养殖场',
                'processing_no': '天天屠宰场',
                'breed': '杭州富阳',
                'processing_number': '绍兴柯桥',
                'processing_mode': '2',
                'processing_unit': '2017-06-30',
                'processing_people': '',
                'handle_num' : '受5000463951',
                'jianyi_date' : '',
                'jianyi_num' : '4500364458',
                'jianyi_state' : '0'
            }
            
    
        ]
    
        function _optionRender(data, type, row) {
            return $('#edit_cell').tmpl({ idx: data.idx, return_apply: data.return_apply, approval_results: data.approval_results, data: JSON.stringify(data) }).html();
        }
    
        function _crtGrid(data) {
            if (credit_tbl) {
                credit_tbl.destroy();
                credit_tbl = null;
            }
            var language = {
                "decimal": "",
                "emptyTable": "表中没有可用数据",
                "info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
                "infoEmpty": "第 0 页， 共计 0 页 0 条",
                "infoFiltered": "",//"(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Show _MENU_ entries",
                "loadingRecords": "加载中...",
                "processing": "处理中...",
                "search": "Search:",
                "zeroRecords": "没有匹配的数据",
                "paginate": {
                    "first": "第一页",
                    "last": "最后一页",
                    "next": "下一页",
                    "previous": "上一页"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            };
            credit_tbl = $('#credit_table').DataTable({
                sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                data: data,
                bDestroy: true,
                searching: false,
                language: language,
                iDisplayLength: 15,
                columns: [
                    { orderable: false, data: null, defaultContent: '' },
                    { data: "zoning" },
                    { data: "processing_date" },
                    { data: "processing_no" },
                    { data: "breed" },
                    { data: "processing_number" },
                    { data: "processing_mode" },
                    { data: "processing_unit" },
                    { data: "processing_people" },
                    { data: 'handle_num' },
                    { data: 'jianyi_date' },
                    { data: 'jianyi_num' },
                    { data: 'jianyi_state' , render: function (data) { if (data == 0) { return '<span>未受理</span>' } if (data == 1) { return '<span style="color:red">已通过</span>' } if (data == 2) { return '<span style="color:green">未通过</span>' } }},
                    { data: null, defaultContent: '', render: _optionRender },
                ],
                fnDrawCallback: function (oSettings) {
    
                }
            });
    
            credit_tbl.column(0).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }
    
        function uxinit() {
            _Import_Html('cityTree', 'page/common/cityTree.html')
            initDate('posted_date1');
            initDate('posted_date2');
            initDate('posted_date3');
            initDate('posted_date4');
            initDate('posted_date5');
            initDate('posted_date6');

            loadData();
    
            $('#credit_qry').click(function () {
                return;
                var d = __GET_FROM_VALUES('credit_query_form');
                var cdn = {};
                for (var p in d) {
                    if (!d[p]) {
                        continue
                    } else {
                        if (p == 'product_no') {
                            cdn[p] = '%' + d[p] + '%';
                        } else if (p == 'product_name') {
                            cdn[p] = '%' + d[p] + '%';
                        } else {
                            cdn[p] = d[p];
                        }
                    }
                }
                cdn.bank_idx = getQueryString('bank_idx');
                loadData(cdn);
            });
    
            $('#reset_qry').click(function () {
                __RESET_FORM('credit_query_form');
            });
    
            $('#credit_new').click(function () {
                // window.location.hash = 'page/nh/insure/insuranceClaim.html'
            });
    
        }
    
       function handle_btn(){
            window.location.hash = 'page/nh/singlemode/prove_new.html?ishandle=1'
       };
           
       function check_btn (){
        window.location.hash = 'page/xmj/quanrantine_handle/work_history.html'
       }

       function open_btn (){
        window.location.hash = 'page/xmj/quanrantine_handle/openaccount.html'
       }

        var tree_loaded = false;
        function loadData(cdn) {
    
            _crtGrid(listData);
    
        }
    
        function query_credit(idx, data) {
            var data = JSON.parse(data);
            data.return_apply = '0';
            data = JSON.stringify(data);
            $.confirm({
                text: "确定要撤销申请么?",
                confirm: function () {
    
                },
                confirmButton: '确定',
                cancelButton: '取消',
            });
        }

        function initDate(id){
            $("#"+id).datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                pickDate: true,
                pickTime: false,
                minView: 'month',
                todayBtn: true,
                initialDate: new Date(),
                todayHighlight: true
            });
        }
    
        // load related plugins & run pagefunction
        loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                    loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                        loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
                            loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
                                loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
                                    loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
                                });
                            });
                        });
                    });
                });
            });
        });
    
    </script>