<style>
	.clearfix:after{
	 content:".";
	 display:block;
	 height:0;
	 clear:both;
	 visibility:hidden;
	}
	.clearfix{zoom:1}
	form>.row{
		margin-bottom: 10px;
	}
	/*操作按钮*/
	.operation{
		text-align: center;
		height: 30px;
		line-height: 30px;
	}
	.operation a:hover{
		color: #00CC00;
	}
	.operation a{
		color: #000000;
		padding: 0 5px;
	}
	.operation i{
		color: #00CC00;
		padding: 0 5px;
	}
	/*查询条件*/
	.condition input {
		width: 200px;
	}
	.condition input,.condition span,.condition select,.storageTime span,.storageTime div,.binding span,.binding select,.loadNum * {
		height: 30px;
		line-height: 30px;
		margin: 0 5px;
		float: left;
	}
	.datetimepicker.dropdown-menu{
		background: #FFFFFF;
	}
	
	/*钉装时间*/
	.storageTime div{
		width: 35%;
		height: 32px;
		line-height: 32px;
		border: 1px solid #ccc;
	}
	.storageTime div i{
		width: 10%;
		height: 30px;
		line-height: 30px;
		padding: 0 2.5%;
		float: left;
		font-size: 16px;
	}
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*装钉数量*/
	.loadNum input{
		width: 100px;
	}
	/*搜索按钮*/
	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		display: block;
		color: #494949;
		background: #F7F7F7;
		border: 1px solid #D9D9D9;
	}
	/*装钉表格*/
	.ui-jqgrid-htable th{
		text-align: center;
	}
	/*模态框修改*/
	.modal-body .left{
		width: 50%;
		float: left;
	}
	.modal-body .right{
		width: 50%;
		float: right;
	}
	.modal-body ul {
		padding: 0;
		margin: 0;
	}
	.modal-body li {
		list-style: none;
		margin-bottom: 10px;
	}
	.modal-body li span{
		display: block;
		width: 70px;
		height: 20px;
		line-height: 20px;
		float: left;
	}
	.modal-body li div{
		width: 200px;
		float: left;
	}
	.modal-body li div input{
		height: 20px;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>
<section id="widget-grid" class="">
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

			<div class="alert alert-info">
				<strong>提示:</strong> 企业耳标钉载情况在此查看
			</div>

			<div class="jarviswidget well jarviswidget-sortable" role="widget">
				<!-- widget div-->
				<div role="content">
					<div class="widget-body no-padding">
						<div id="search_mes" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">规模场</label>
										<div class="col col-sm-10">
											<input type="text" class="form-control">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">所属地区</label>
										<div class="col col-sm-10">
											<div id="cityTree">
											</div>
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">钉载人员</label>
										<div class="col col-sm-10">
											<select name="" id="" class="form-control">
												<option>张晓晓</option>
											</select>
										</div>
									</section>
								</section>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-6 col-sm-12 col-lg-6">
										<label class="col-sm-2 control-label">钉载时间</label>
										<div class="col col-sm-4">
											<div class="col-sm-12">
												<div class="input-icon-right">
													<i class="icon-append fa fa-calendar"></i>
													<input class="form-control" id="startTime" name="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
												</div>
											</div>	
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="col-sm-12">
												<div class="input-icon-right">
													<i class="icon-append fa fa-calendar"></i>
													<input class="form-control" id="endTime" name="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
												</div>
											</div>
										</div>
									</section>
									<section class="col col-md-6 col-sm-12 col-lg-6">
										<label class="col-sm-1 control-label">钉载数量</label>
										<div class="col col-sm-4">
											<div class="col-sm-12">
												<div class="input-icon-right">
													<input type="text" class="form-control">
												</div>
											</div>	
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="col-sm-12">
												<div class="input-icon-right">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" id="animal-indiv-add" value="新增" />
								<input type="button" class="btn btn-primary" id="animal-indiv-search" value="查询" />
							</footer>

						</div>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- row -->
</section>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table id="jqgrid"></table>
				<div id="pjqgrid"></div>
				
				<!--<br>
				<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
				<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>-->

		</article>
		<!-- WIDGET END -->
		
	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">新增钉载信息</h4>
	  </div>
	  <div class="modal-body clearfix">
	   		<div class="left">
	   			<ul>
	   				<li class="clearfix">
	   					<span>规模场</span>
	   					<div class="text">
	   						<input type="text" class="form-control"/>
	   					</div>
	   					<div>
	   						<ul>
	   							<li></li>
	   						</ul>
	   					</div>
	   				</li>
	   				<li class="clearfix">
	   					<span>领标数量</span>
	   					<div class="text">
	   						<input type="text" class="form-control"/>
	   					</div>
	   				</li>
	   				<li class="clearfix">
	   					<span>钉载数量</span>
	   					<div class="text">
	   						<input type="text" class="form-control"/>
	   					</div>
	   				</li>
	   				<li class="clearfix">
	   					<span>钉载人员</span>
	   					<div class="text">
	   						<select>
								<option>张晓晓</option>
							</select>
	   					</div>
	   				</li>
	   				<li class="clearfix">
	   					<span>钉载时间</span>
	   					<div class="text input-append date form_datetime"id="addTime">
	   						<input type="text" class="form-control"/>
							   <span class="add-on"><i class="icon-th"></i></span>
	   					</div>
	   				</li>
	   			</ul>
	   		</div>
	   		<div class="right">
	   			<li class="clearfix">
	   					<span>规模场法人</span>
	   					<div class="text">
	   						<input id="addTime" type="text" class="form-control"/>
	   					</div>
	   				</li>
	   		</div>
	  </div>
	  <div class="modal-footer">
	  	<button type="button" class="btn btn-primary">确定</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	  </div>
	</div>
  </div>
</div>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	_Import_Html('cityTree', 'page/common/cityTree.html');
	//系统时间
	$(function () {
		  $('#startTime').datetimepicker({
				format: 'yyyy-mm-dd',  
				language: 'zh-CN',  
				pickDate: true,  
				pickTime: false,  
				minView: 'month',  
				todayBtn: true,  
				todayHighlight: true 
		  });                           
		  $('#endTime').datetimepicker({
				format: 'yyyy-mm-dd',  
				language: 'zh-CN',  
				pickDate: true,  
				pickTime: false,  
				minView: 'month',  
				todayBtn: true,  
				todayHighlight: true      
		  });       
		  $('#addTime').datetimepicker({
				format: 'yyyy-mm-dd',  
				language: 'zh-CN',  
				pickDate: true,  
				pickTime: false,  
				minView: 'month',  
				todayBtn: true,  
				todayHighlight: true      
		  });       		  
	});
	//城市联动
	__RUN_ACT('/farmer/queryCity',{"pid": "12"},function(data){
				var html = '<option value="">--请选择--</option>'
				$('#cityLinkage select').first().append(html);
				data.forEach(function(value,index){
				html = '<option value="'+value.idx+'">'+value.name+'</option>'
				$('#cityLinkage select').first().append(html);
				})
				$('#cityLinkage select').first().nextAll().hide();
			});
			citys();
	function citys(){
		$('#cityLinkage select').on('change',function(){
			var that = this;
			__RUN_ACT('/farmer/queryCity',{"pid": $(that).val()},function(data){
				$(that).nextAll().hide();
				$(that).nextAll().html('');
				if(data.length > 0){
					$(that).next().show();
				}
				var html = '<option value="">--请选择--</option>'
				$(that).next().append(html);
				data.forEach(function(value,index){
				html = '<option value="'+value.idx+'">'+value.name+'</option>';
				$(that).next().append(html);
				})
			});
		})
	}
	/* 时间关联 */
	$('#startTime').on('change', function () {
			$('#endTime').datetimepicker('setStartDate', $(this).val());
		})
		$('#endTime').on('change', function () {
			$('#startTime').datetimepicker('setEndDate', $(this).val());
		})
	//表格数据
	pageSetUp();
	var pagefunction = function() {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function run_jqgrid_function() {
			var jqgrid_data = [{
				
			}];

			jQuery("#jqgrid").jqGrid({
				data : jqgrid_data,
				datatype : "local",
				height : 'auto',
				colNames : ['', '属主姓名', '规模场', '领标数量', '钉载数量', '钉载率（%）', '钉载时间'],
				colModel : [
					{ name : '', index : '', align : "center", width:'0px' }, 
					{ name : 'name', index : 'name', align : "center", editable : true }, 
					{ name : 'date', index : 'date', align : "center", editable : true , width:'500px'}, 
					{ name : 'amount', index : 'amount', align : "center", editable : true }, 
					{ name : 'tax', index : 'tax', align : "center", editable : true }, 
					{ name : 'total', index : 'total', align : "center", editable : true }, 
					{ name : 'note', index : 'note',align : "center", sortable : false, editable : true }
					],
				rowNum : 10,
				rowList : [10, 20, 30],
				pager : '#pjqgrid',
				sortname : 'id',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ca});
					}	
				},
				caption : false,
				multiselect : false,
				autowidth : true,
				rownumbers:true,
				});
		
//				jQuery("#m1").click(function() {
//					var s;
//					s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
//					alert(s);
//				});
//				jQuery("#m1s").click(function() {
//					jQuery("#jqgrid").jqGrid('setSelection', "13");
//				});
				
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
				$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
				$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
				$(".ui-jqgrid-pager").removeClass("ui-state-default");
				$(".ui-jqgrid").removeClass("ui-widget-content");
				
				// add classes
				$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
				$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
			   
			   
				$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
				$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
				$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
				$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
				$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
				$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
				$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
				$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
				
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  	
	
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			  	
			  	
			  
			  
				// update buttons
				
				$(window).on('resize.jqGrid', function () {
					jQuery("#jqgrid").jqGrid( 'setGridWidth', $("#content").width() );
				})


			} // end function


	}
	
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);
</script>