<style type="text/css">
	
	/*生产流程*/
	.process {
		padding:25px 0;
		margin: 0 25px 20px 25px;
		border-bottom: 2px solid #000000;
		text-align: center;
	}
	.process ul {
		display: inline-block;
	}
	.process li {
		list-style: none;
		float: left;
		width: 80px;
		height: 100px;
		margin: 0 5px;
		border-radius: 5px;
		cursor:pointer;
		/*background: rgba(0,0,0,0.5);*/
	}
	.process li div {
		background-color: #2196f3;
		height: 80px;
		width: 80px;
		border-radius: 5px;
		vertical-align: middle;
	    display: table-cell;
	    text-align: center;
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	}
	.process li span {
		font-size: 14px;
		line-height: 20px;
		color: #000;
		display: block;
		border-radius: 5px;
		width: 100%;
		 border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	}
	.process li:nth-child(1) span{
		background-color: #329ff6;
		color: #fff;
	} 
	.tab-hide{
		display: none;
	}
	.tab-active{
		display: block;
	}
	tr td:first-child{
		border-right: 1px solid #ddd;
	}
</style>
<div id="animal_record">
<div class="row process">
	<ul>
		<li>
			<div><img src="img/insemination.png"/></div>
			<span>授精</span>
		</li>
		<li>
			<div><img src="img/Pregnancy.png"/></div>
			<span>孕检</span>
		</li>
		<li>
			<div><img src="img/immune.png"/></div>
			<span>免疫</span>
		</li>
		<li>
			<div><img src="img/Reproduction.png"/></div>
			<span>产仔</span>
		</li>
		<li>
			<div><img src="img/weaning.png"/></div>
			<span>断奶</span>
		</li>
		<li>
			<div><img src="img/deadpic.png"/></div>
			<span>死亡</span>
		</li>
		<li>
			<div><img src="img/Inputmanage.png"/></div>
			<span>投入品管理</span>
		</li>
		<li>
			<div><img src="img/transfer.png"/></div>
			<span>迁移</span>
		</li>
		<li>
			<div><img src="img/quarantine.png"/></div>
			<span>检疫</span>
		</li>
		<li>
			<div><img src="img/eliminate.png"/></div>
			<span>淘汰</span>
		</li>
		<li>
			<div><img src="img/temperature.png"/></div>
			<span>体温</span>
		</li>
		<li>
			<div><img src="img/eat.png"/></div>
			<span>进食</span>
		</li>
		<li>
			<div><img src="img/drink.png"/></div>
			<span>饮水</span>
		</li>
	</ul>
</div>
<div class="checkMes">										
	<div class="tab-content">
		<div id="insemination" title="授精" class="tab-hide tab-active">
			<table id="inse_jqgrid"></table>
			<div id="pinse_jqgrid"></div>
		</div>
		<div id="pregnancy" title="孕检" class="tab-hide">
			<table id="pre_jqgrid"></table>
			<div id="ppre_jqgrid"></div>
		</div>
		<div id="pregnancy" title="免疫" class="tab-hide">
			<table id="immu_jqgrid"></table>
			<div id="pimmu_jqgrid"></div>
		</div>
		<div id="reproductionMes" title="产仔" class="tab-hide">
			<table id="pro_jqgrid"></table>
			<div id="ppro_jqgrid"></div>
		</div>
		<div id="weaning" title="断奶" class="tab-hide">
			<table id="wea_jqgrid"></table>
			<div id="pwea_jqgrid"></div>
		</div>
		<div id="deadpic" title="死亡" class="tab-hide">
			<table id="dea_jqgrid"></table>
			<div id="pdea_jqgrid"></div>
		</div>
		<div id="inputmanage" title="投入品管理" class="tab-hide">
			<table id="inp_jqgrid"></table>
			<div id="pinp_jqgrid"></div>
		</div>
		<div id="transfer" title="迁移" class="tab-hide">
			<table id="tra_jqgrid"></table>
			<div id="ptra_jqgrid"></div>
		</div>
		<div id="quarantine" title="检疫" class="tab-hide">
			<table id="qua_jqgrid"></table>
			<div id="pqua_jqgrid"></div>
		</div>
		<div id="eliminate" title="淘汰" class="tab-hide">
			<table id="eli_jqgrid"></table>
			<div id="peli_jqgrid"></div>
		</div>
		
		<div id="temperature" title="体温" class="tab-hide">
			<table id="tem_jqgrid"></table>
			<div id="ptem_jqgrid"></div>
		</div>
		<div id="eat" title="进食" class="tab-hide">
			<table id="eat_jqgrid"></table>
			<div id="peat_jqgrid"></div>
		</div>
		<div id="drink" title="饮水" class="tab-hide">
			<table id="dri_jqgrid"></table>
			<div id="pdri_jqgrid"></div>
		</div>
	</div>		
</div>
</div>



<script type="text/javascript">
	
	//点击动作
	$(".process li").click(function(){
		$(this).children('span').css({'color':'#fff','backgroundColor':'#329ff6'});
		$(this).siblings().children('span').css({'color':'#000','backgroundColor':'transparent'});
		$(".tab-hide").removeClass('tab-active');
		var index=$(this).index();
		$(".tab-hide:eq("+index+")").addClass('tab-active');
	});
	
	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
//			if(isRecord=='1'){
//				console.log(indivIdx)
//				var step0=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_TAB',RCODE:'LIST',DATA:{'creature_idx' : indivIdx }} ];
//				__RUN_STEP(step0,function(d){
//					console.log(d.LIST,12312)
//					
//					
//				})
//				
//			}
			
			var arr1 = [{}];
			var colNames1 = ['RFID号(公)', '场内编号(公)', 'RFID号(母)', '场内编号(母)', '授精站名','操作人员','精液用量'];
			var colModel1 = [							
				{ name: 'rfid_m', index: 'people_name', sortable: false, align: "center", width: 80 },
				{ name: 'animal_nom', index: 'terminal_type', sortable: false, align: "center", width: 80},
				{ name: 'rfid_f', index: 'terminal_no', sortable: false, align: "center" , width: 80 },
				{ name: 'animal_nof', index: 'create_time', sortable: false, align: "center", width: 80 },
				{ name: 'insemination_name', index: 'people_name', sortable: false, align: "center", width: 100 },
				{ name: 'operating_personnel', index: 'terminal_type', sortable: false, align: "center", width: 80},
				{ name: 'seminal_quantity', index: 'terminal_no', sortable: false, align: "center" , width: 80 }				
			];
			run_jqgrid_function("#inse_jqgrid", '#pinse_jqgrid', colNames1, colModel1, arr1);
			var arr2 = [{}];
			var colNames2 = ['RFID号', '场内编号', 'RFID号(母)', '场内编号(母)', '授精站名','操作人员','精液用量'];
			var colModel2 = [
				{ name: 'rfidg', index: 'rfidg', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'rfid_f', index: 'rfid_f', sortable: false, align: "center" },
				{ name: 'animal_nof', index: 'animal_nof', sortable: false, align: "center", width: 100 },
				{ name: 'insemination_name', index: 'insemination_name', sortable: false, align: "center", width: 80 },
				{ name: 'operating_personnel', index: 'operating_personnel', sortable: false, align: "center", width: 50},
				{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center" }				
			];
			run_jqgrid_function("#pre_jqgrid", '#ppre_jqgrid', colNames2, colModel2, arr2);
			var arr3 = [{}];
			var colNames3 = ['RFID号', '场内编号', '疫苗种类', '剂量', '注射时间','疫苗批号','接种人','有效期'];
			var colModel3 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80},
				{ name: 'vaccine_type', index: 'vaccine_type', sortable: false, align: "center", width: 100 },
				{ name: 'dosage', index: 'dosage', sortable: false, align: "center", width: 100 },
				{ name: 'injection_date', index: 'injection_date', sortable: false, align: "center", width: 80 },
				{ name: 'vaccine_number', index: 'vaccine_number', sortable: false, align: "center", width: 80},
				{ name: 'inoculate_staff', index: 'inoculate_staff', sortable: false, align: "center", width: 50 },
				{ name: 'indate', index: 'indate', sortable: false, align: "center", width: 80 }
			];
			run_jqgrid_function("#immu_jqgrid", '#pimmu_jqgrid', colNames3, colModel3, arr3);
			
			
			var arr4 = [{}];
			var colNames4 = ['RFID号', '场内编号', '生产窝重', '胎次', '产仔总数','死亡数量','时间','照片采集'];
			var colModel4 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80},
				{ name: 'production_weight', index: 'production_weight', sortable: false, align: "center", width: 50},
				{ name: 'parity', index: 'parity', sortable: false, align: "center", width: 50},
				{ name: 'farrowing_sum', index: 'farrowing_sum', sortable: false, align: "center", width: 50},
				{ name: 'die_quantity', index: 'die_quantity', sortable: false, align: "center", width: 50},
				{ name: 'givebirth_date', index: 'givebirth_date', sortable: false, align: "center", width: 80 },
				{ name: 'common_photo', index: 'common_photo', sortable: false, align: "center", width: 80 }
			];
			run_jqgrid_function("#pro_jqgrid", '#ppro_jqgrid', colNames4, colModel4, arr4);
			var arr5 = [{}];
			var colNames5 = ['RFID号', '场内编号', '生育时间', '断奶头数', '断奶日期','断奶日龄'];
			var colModel5 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80 },
				{ name: 'givebirth_date', index: 'givebirth_date', sortable: false, align: "center", width: 80  },
				{ name: 'ablactation_quantity', index: 'ablactation_quantity', sortable: false, align: "center", width: 100 },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 80 },
				{ name: 'ablactation_age', index: 'ablactation_age', sortable: false, align: "center", width: 50}
				
			];
			run_jqgrid_function("#wea_jqgrid", '#pwea_jqgrid', colNames5, colModel5, arr5);
			var arr6 = [{}];
			var colNames6 = ['RFID号', '场内编号', '死亡时间', '是否处理', '处理结果','处理时间'];
			var colModel6 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80 },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 80 },
				{ name: 'dispose_state', index: 'dispose_state', sortable: false, align: "center", width: 100 },
				{ name: 'dispose_date', index: 'dispose_date', sortable: false, align: "center", width: 80 },
				{ name: 'dispose_date', index: 'dispose_date', sortable: false, align: "center", width: 50}
			];
			run_jqgrid_function("#dea_jqgrid", '#pdea_jqgrid', colNames6, colModel6, arr6);
			var arr7 = [{}];
			var colNames7 = ['RFID号', '场内编号', '使用时间', '投入品类型', '投入品名称','停用时间','投入量'];
			var colModel7 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center" },
				{ name: 'putinto_type', index: 'putinto_type', sortable: false, align: "center", width: 100 },
				{ name: 'putinto_name', index: 'putinto_name', sortable: false, align: "center", width: 80 },
				{ name: 'stop_time', index: 'stop_time', sortable: false, align: "center", width: 50},
				{ name: 'putinto_quantity', index: 'putinto_quantity', sortable: false, align: "center" }
				
			];
			run_jqgrid_function("#inp_jqgrid", '#pinp_jqgrid', colNames7, colModel7, arr7);
			var arr8 = [{}];
			var colNames8 = ['RFID号', '场内编号', '迁移类型', '原地区', '迁移后地区','迁移时间','投入量'];
			var colModel8 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'migration_type', index: 'migration_type', sortable: false, align: "center" },
				{ name: 'original_address', index: 'original_address', sortable: false, align: "center", width: 100 },
				{ name: 'migration_address', index: 'migration_address', sortable: false, align: "center", width: 80 },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 50},
				{ name: 'putinto_quantity', index: 'putinto_quantity', sortable: false, align: "center" }
				
			];
			run_jqgrid_function("#tra_jqgrid", '#ptra_jqgrid', colNames8, colModel8, arr8);
			var arr9 = [{}];
			var colNames9 = ['RFID号', '场内编号', '检疫类型', '证书号', '接种情况','实验检验','工具消毒','检疫时间'];
			var colModel9 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'quarantine_type', index: 'quarantine_type', sortable: false, align: "center" },
				{ name: 'credential_code', index: 'credential_code', sortable: false, align: "center", width: 100 },
				{ name: 'inoculate_case', index: 'inoculate_case', sortable: false, align: "center", width: 80 },
				{ name: 'experiment_verify', index: 'experiment_verify', sortable: false, align: "center", width: 50},
				{ name: 'tool_disinfect', index: 'tool_disinfect', sortable: false, align: "center" },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center" }
			];
			run_jqgrid_function("#qua_jqgrid", '#pqua_jqgrid', colNames9, colModel9, arr9);
			var arr10 = [{}];
			var colNames10 = ['RFID号', '场内编号', '淘汰时间', '淘汰原因', '淘汰操作人','淘汰去向'];
			var colModel10 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center" },
				{ name: 'weedout_cause', index: 'weedout_cause', sortable: false, align: "center", width: 100 },
				{ name: 'weedout_operator', index: 'weedout_operator', sortable: false, align: "center", width: 80 },
				{ name: 'weedout_direction', index: 'weedout_direction', sortable: false, align: "center", width: 50}
				
			];
			run_jqgrid_function("#eli_jqgrid", '#peli_jqgrid', colNames10, colModel10, arr10);
			var arr11 = [{}];
			var colNames11 = ['RFID号', '场内编号', '温度', '测量时间', '正常指标','差值','状态'];
			var colModel11 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'temperature', index: 'temperature', sortable: false, align: "center" },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 100 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 80 },
				{ name: 'difference', index: 'difference', sortable: false, align: "center", width: 50},
				{ name: 'heat status', index: 'heat status', sortable: false, align: "center" }
				
			];
			run_jqgrid_function("#tem_jqgrid", '#ptem_jqgrid', colNames11, colModel11, arr11);
			var arr12 = [{}];
			var colNames12 = ['RFID号', '场内编号', '食物种类', '进食量', '当天进食次数','正常指标','差值','状态'];
			var colModel12 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'food_type', index: 'food_type', sortable: false, align: "center" },
				{ name: 'food_intake', index: 'food_intake', sortable: false, align: "center", width: 100 },
				{ name: 'feed_frequency', index: 'feed_frequency', sortable: false, align: "center", width: 80 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 50},
				{ name: 'difference', index: 'difference', sortable: false, align: "center" },
				{ name: 'feed_status', index: 'feed_status', sortable: false, align: "center" }
			];
			run_jqgrid_function("#eat_jqgrid", '#peat_jqgrid', colNames12, colModel12, arr12);
			var arr13 = [{}];
			var colNames13 = ['RFID号', '场内编号', '饮水量', '当天饮水次数', '正常指标','差值','状态'];
			var colModel13 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'water_intake', index: 'water_intake', sortable: false, align: "center" },
				{ name: 'water_frequency', index: 'water_frequency', sortable: false, align: "center", width: 100 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 80 },
				{ name: 'difference', index: 'difference', sortable: false, align: "center", width: 50},
				{ name: 'water_status', index: 'water_status', sortable: false, align: "center" }
			];
			run_jqgrid_function("#dri_jqgrid", '#pdri_jqgrid', colNames13, colModel13, arr13);
			
			
			
			
			function run_jqgrid_function(id, pageid, colNames, colModel, jqgrid_data) {

				jQuery(id).jqGrid({
					data: jqgrid_data,
					datatype: "local",
					height: 'auto',
					colNames: colNames,
					colModel: colModel,
					rowNum: 10,
					rowList: [10, 20, 30],
					pager: pageid,
					sortname: 'create_time',
					toolbarfilter: true,
					viewrecords: true,
					sortorder: "desc",
					rownumbers: true,
					caption: false,
					multiselect: false,
					autowidth: true,
	
				});
	
	
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
				$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
				$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
				$(".ui-jqgrid-pager").removeClass("ui-state-default");
				$(".ui-jqgrid").removeClass("ui-widget-content");
	
				// add classes
				$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
				$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
	
	
				$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
				$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
				$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
				$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
				$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
				$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
				$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
				$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
	
				$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
	
				$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
	
				$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
	
				$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
	
	
	
	
				// update buttons
	
				jQuery(id).jqGrid('setGridWidth', $("#animal_record").width());
				$(window).on('resize.jqGrid', function () {
					jQuery(id).jqGrid('setGridWidth', $("#animal_record").width());
				})
	
				$.extend($.fn.jqGrid, {
					setData: function (data) {
						this[0].p.data = data;
						return true;
					}
				});
			}  //function end
		
		
		});
		
		
		
	}
	
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction());
	
</script>