<div class="row"   style="margin-bottom: 20px;">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">采购人</label>
	<select class="col-md-1" style="height: 32px;">  
			  <option value ="1">1</option>  
			  <option value ="2">2</option>  
			  <option value="3">3</option>  
			  <option value="4">4</option>  
	</select>

    <label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">发放状态</label>
	<select class="col-md-1" style="height: 32px;">  
			  <option value ="1">1</option>  
			  <option value ="2">2</option>  
			  <option value="3">3</option>  
			  <option value="4">4</option>  
	</select>
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">发放时间</label>
	<div class="col-md-2">
		<input class="form-control" type="date">
	</div>
	
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;margin-bottom: 20px;">到</label>
	<div class="col-md-2">
		<input class="form-control" type="date">
	</div>
	<!--<div class="input-group">
		<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-dateformat="dd/mm/yy">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	</div>-->
	<div class="col-md-1">
				<a href="#"class="btn bg-color-blueDark txt-color-white"> 搜索 </a>
				<a href="#" id="dialog_link" class="btn bg-color-blueDark txt-color-white"> 新增 </a>
	</div>

</div>


<!--表单和树-->

<section id="widget-grid" class="">

	<div class="row">
	
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
				<table id="jqgrid"></table>
				<div id="pjqgrid"></div>
		</article>
		
	</div>

</section>
<!--弹出框-->
<div id="dialog_simple" title="Dialog Simple Title">
		<div class="row">
			
	
	<label class="col-md-2 control-label" style="text-align: left;line-height: 25px;">物资类型</label>
	<select class="col-md-2" style="height: 25px;">  
			  <option value ="1">1</option>  
			  <option value ="2">2</option>  
			  <option value="3">3</option>  
			  <option value="4">4</option>  
	</select>
	<label class="col-md-2 control-label" style="text-align: left;line-height: 25px;">物资类型</label>
	<select class="col-md-2" style="height: 25px;">  
			  <option value ="1">1</option>  
			  <option value ="2">2</option>  
			  <option value="3">3</option>  
			  <option value="4">4</option>  
	</select>
	</div>	
	
	<div class="row">
	<label class="col-md-2 control-label" style="text-align:left;line-height: 25px;">商品编号</label>
	<div class="col-md-2 control-label"style="padding: 0;" >	
	<input class="form-control spinner spinner-both"  name="spinner-currency" value="0" style="height: 25px;padding: 0;">
	</div>
	<label class="col-md-2 control-label" style="text-align:left;line-height: 25px;">商品编号</label>
	<div class="col-md-2 control-label"style="padding: 0;" >	
	<input class="form-control spinner spinner-both"  name="spinner-currency" value="0" style="height: 25px;padding: 0;">
	</div>
	<label class="col-md-1 control-label" style="text-align:center;line-height: 25px;">--</label>
	<div class="col-md-2 control-label"style="padding: 0;" >	
	<input class="form-control spinner spinner-both"  name="spinner-currency" value="0" style="height: 25px;padding: 0;">
	</div>
	</div>

</div>
<!--弹出框结束-->
<script id="treeview" type="text/x-jquery-tmpl">
<ul class="node_ul">	
{{each LIST}}							
	<li id="node_${idx}" class="node_li parent_li" loaded="0">
		<span><i class="fa fa-lg fa-plus-circle"></i>${name}</span>		
	</li>
{{/each}}		     
</ul>
</script>

<script type="text/javascript">
	pageSetUp();
	var pagefunction = function() {
				loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function run_jqgrid_function() {
			$("#spinner-currency").spinner({
		    min: 0,
		    max: 2500,
		    step: 1,
		    start: 0,
		    numberFormat: "C"
		});


			var jqgrid_data = [{
				id : "1",
				date : "2007-10-01",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "2",
				date : "2007-10-02",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "3",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "4",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "5",
				date : "2007-10-05",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "6",
				date : "2007-09-06",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "7",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "8",
				date : "2007-10-03",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "9",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "10",
				date : "2007-10-01",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "11",
				date : "2007-10-02",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "12",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "13",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "14",
				date : "2007-10-05",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "15",
				date : "2007-09-06",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "16",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "17",
				date : "2007-10-03",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "18",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}];
			jQuery("#jqgrid").jqGrid({
				data : jqgrid_data,
				datatype : "local",
				height : 'auto',
				width:'auto',//这个宽度不能为百分比
			    autowidth : true,//自动宽
			    colNames : [ '序号', '规模场名称', '物资名称', '数量', '发放人员', '发放时间', '操作','功能'],
				colModel : [
					
					{ name : 'id',align : "left", index : 'id'}, 
					{ name : 'date', index : 'date', align : "left",editable : true }, 
					{ name : 'name', index : 'name',align : "left", editable : true }, 
					{ name : 'amount', index : 'amount', align : "left", editable : true }, 
					{ name : 'tax', index : 'tax', align : "left", editable : true }, 
					{ name : 'total', index : 'total', align : "left", editable : true }, 
					{ name : 'note', index : 'note', align : "left",sortable : false, editable : true },
					{ name : 'act', index:'act',align : "left", sortable:false,width:"150%" } ],
				rowNum : 10,
				rowList : [10, 20, 30],
				pager : '#pjqgrid',
				sortname : 'id',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i> 修改</button>"; 
//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i> 删除</button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+ca});
					}	
				},
				editurl : "dummy.html",
				caption : false,
				multiselect : true,
				autowidth : true,

				});
				jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
					edit : false,
					add : false,
					del : true
				});
				jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
				/* Add tooltips */
				$('.navtable .ui-pg-button').tooltip({
					container : 'body'
				});
				jQuery("#m1").click(function() {
					var s;
					s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
					alert(s);
				});
				jQuery("#m1s").click(function() {
					jQuery("#jqgrid").jqGrid('setSelection', "13");
				});
				jQuery("#pjqgrid_left").css("visibility",'hidden')
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			    $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			    $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			    $(".ui-jqgrid-pager").removeClass("ui-state-default");
			    $(".ui-jqgrid").removeClass("ui-widget-content");			    
			    // add classes
			    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");			   
			    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");			    
			    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");				
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  		
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
					  
			    // update buttons
			    
			    $(window).on('resize.jqGrid', function () {
					jQuery("#jqgrid").jqGrid( 'setGridWidth', $("#content").width() );
				})

			} // end function

		$('#dialog_link').click(function() {
			$('#dialog_simple').dialog('open');
			return false;
	
		});
	
		$('#dialog_simple').dialog({
			autoOpen : false,
			width : 600,
			resizable : false,
			modal : true,
			title : "物资入库(耳标)",
			buttons : [{
				html : "确认",
				"class" : "btn btn-danger",
				click : function() {
					$(this).dialog("close");
				}
			}, {
				html : "取消",
				"class" : "btn btn-default",
				click : function() {
					$(this).dialog("close");
				}
			}]
		});
	
	

		
	};


	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>


