<link rel="stylesheet" type="text/css" media="screen" href="js/plugin/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" />

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<div class="alert alert-info">
				<strong>提示:</strong> 所有的农户端、畜牧端、银行端、保险端、天铄端的用户都在此统一管理，创建用户则可在各个模块分别创建
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						
						<form action="" id="user_query_form" class="smart-form">
							<fieldset>
								<div class="row">
									<section class="col col-3">
										<label class="control-label col-md-2">手机</label>
										<div class="col-md-8">
											<input class="form-control input-xs" placeholder="" type="text" name="phone">
										</div>
									</section>
									<section class="col col-3">
										<label class="control-label col-md-2">名称</label>
										<div class="col-md-8">
											<input class="form-control input-xs" placeholder="" type="text" name="user_name">
										</div>
									</section>
									<section class="col col-3">
										<label class="control-label col-md-2">账号</label>
										<div class="col-md-8">
											<input class="form-control input-xs" placeholder="" type="text" name="user_code">
										</div>
									</section>
									<section class="col col-3">
										<label class="control-label col-md-2">类型</label>
										<div class="col-md-8">
											<select name="type" id="qry_user_type">
												<option value="" selected="">选择用户类型</option>
											</select>
										</div>
									</section>
								</div>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="user_qry"  value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->
		
	</div>
	<!-- end row -->

	
	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id-0">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form action="" id="user_tbar" class="smart-form datatable-tbar">
							<footer>
								<input type="button" class="btn btn-default" id="user_new" value="新增" />
							</footer>
						</form>
						<table id="user_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
					        <thead>
					            <tr>
					                <th></th>
									<th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> 名称</th>
									<th>账号</th>
					                <th>手机号码</th>
					                <th>用户类型</th>
					                <th>所属单位</th>
					                <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>创建时间</th>
					                <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>更新时间</th>
					                <th>操作</th>
					            </tr>
					        </thead>
					    </table>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->
		
	</div>
	<!-- end row -->

	<div id="user_info" title="用户详情" class="ajax-win"></div>

	<div id="role_info" title="角色详情" class="ajax-win">
		<ul id="tree" class="ztree" style="width:460px;height:360px;overflow:auto;"></ul>
	</div>


</section>


<script id="edit_cell" type="text/x-jquery-tmpl">
	<div>
		<a href="javascript:void(0)" title="修改" class="edit_cell" onclick="edit_user('${idx}')"><i class="fa fa-edit"></i></a>
		<a href="javascript:void(0)" title="重置密码" class="edit_cell" onclick="reset_pwd('${idx}')"><i class="fa fa-refresh"></i></a>
		<a href="javascript:void(0)" title="用户授权" class="edit_cell" onclick="perm_user('${idx}')"><i class="fa fa-user"></i></a>
		<a href="javascript:void(0)" title="删除用户" class="edit_cell" onclick="remove_user('${idx}')"><i class="fa fa-minus-circle"></i></a>
	</div>
</script>


<script type="text/javascript">
	pageSetUp();
	var pagedestroy = function(){}
	var pagefunction = function(){uxinit();}
	var user_tbl=null;
	var user_info_win,role_info_win;

	var access_tree=null;

	var ztreeSetting = {
		data: {
			simpleData: {
				enable: true
			}
		},
		check:{
			chkboxType : { "Y" : "", "N" : "" },
			enable: true  //设置是否显示checkbox复选框
		},
		callback:{
			onCheck:roleOnCheck
		}
	};

	function _optionRender(data, type, row){
		return $('#edit_cell').tmpl(data).html();
	}

	function _crtGrid(data){
		if(user_tbl) {
			user_tbl.destroy();
			user_tbl=null;
		}
		user_tbl = $('#user_table').DataTable( {
			sDom: "<''<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data:data,
			bDestroy: true,
			searching: false,
			paging: false,
			info: false,
			iDisplayLength: 15,
			columns: [
				{ orderable:false,data:null,defaultContent: ''},
				{ data: "user_name" },
				{ data: "user_code" },
				{ data: "mobile" },
				{ data: "type_name" },
				{ data: "customer_name" },
				{ data: "create_time" },
				{ data: "update_time" },
				{ data:null,defaultContent: '',render:_optionRender},
			],
			fnDrawCallback: function( oSettings ) {
				
			}
		});

		user_tbl.column(0).nodes().each( function (cell, i) {
			cell.innerHTML = i+1;
		});
	}

	function uxinit(){
		user_info_win = $("#user_info").dialog({
			autoOpen : false,
			width : 800,
			resizable : false,
			modal : true
		});

		role_info_win = $('#role_info').dialog({
			autoOpen : false,
			width : 400,
			resizable : false,
			modal : true,
			buttons:[{
				html : "<i class='fa fa-save'></i>&nbsp; 保存",
				"class" : "btn btn-default",
				click : function() {
					var step=[ {JSCODE:'IUD',CODE:'EXECUTE',SCRIPT_CODE:'RM_UR_DELETE',DATA:{user_idx:current_user_idx}}];
					var list=access_tree.getCheckedNodes(true);
					for(var i=0;i<list.length;i++){
						var node=list[i];console.log(node);
						step.push({JSCODE:'IUD',CODE:'ADD',CLZ:'t_user_role',DATA:{user_idx:current_user_idx,role_idx:node.id}});
					}
					__RUN_STEP(step,function(d){
						role_info_win.dialog('close');
					});
				}
			}]
		});

		loadData();

		$('#user_qry').click(queryClick);

		$('#reset_qry').click(function(){
			__RESET_FORM('user_query_form');
		});

		$('#user_new').click(function(){
			__SHOW_WIN(user_info_win,'page/sys/user_info.htm');
			__RESET_FORM('win_form');
			$('input.custom-combobox-input').val('');
		});
	
	}

	function queryClick(){
		var d=__GET_FROM_VALUES('user_query_form');
		var cdn={};
		for(var p in d){
			if(!d[p]) continue;
			if(p=='type')
				cdn[p]=d[p];
			else
				cdn[p] = '%'+d[p]+'%';
		}
		loadData(cdn);
	}
	
	var tree_loaded=false;
	var dictionary=false;
	function loadData(cdn){
		if(!cdn)cdn={status:0};
		else cdn.status=0;
		var step=[ 
			{JSCODE:'LOAD',CODE:'SYS_USER_LIST',RCODE:'LIST',DATA:cdn},
			{JSCODE:'LOAD',CODE:'SYS_ROLE_LIST',RCODE:'ROLE',DATA:{}},
			{JSCODE:'LOAD',CODE:'SYS_DIC_SELECT',RCODE:'DIC',DATA:{type_code:'USER_TYYPE'}}
		];
		__RUN_STEP(step,function(d){
			var list=d.LIST;
			_crtGrid(list);
			if(!access_tree){
				var zNodes =[];
				for(var i=0;i<d['ROLE'].length;i++){
					var p=d['ROLE'][i];
					zNodes.push({id:p.idx,pId:p.pidx,name:p.name,open:true});
				}
				var t = $("#tree");
				access_tree=$.fn.zTree.init($("#tree"), ztreeSetting, zNodes);
			}
			if(!dictionary){
				dictionary=true;
				PUT2SELECT(d.DIC,'qry_user_type');
			}
			
		});
	}

	function edit_user(idx){
		__SHOW_WIN(user_info_win,'page/sys/user_info.htm');
		$('input.custom-combobox-input').val('');
		loadUserInfo(idx);
	}

	var current_user_idx;
	function perm_user(idx){
		current_user_idx=idx;
		var step=[ 
			{JSCODE:'LOAD',CODE:'SYS_USER_ROLE',RCODE:'PER',DATA:{user_idx:current_user_idx}}
		];
		__RUN_STEP(step,function(d){
			role_info_win.dialog('open');
			var pers=d.PER;
			access_tree.checkAllNodes(false);
			for(var i=0;i<pers.length;i++){
				var per=pers[i];
				var nds=access_tree.getNodesByParam('id',per.role_idx);
				access_tree.checkNode(nds[0],true);
			}
		});

		
	}

	function roleOnCheck(){
		
	}

	function reset_pwd(idx){
		$.confirm({
			text: "确定要重置密码么?",
			confirm: function() {
				__RUN_ACT('/sys/resetpwd',{idx:idx},function(){});
			}
		});
	}

	function remove_user(idx){
		$.confirm({
			text: "确定要删除数据么?",
			confirm: function() {
				var step=[ {JSCODE:'IUD',CODE:'UPDATE',CLZ:'t_user',DATA:{idx:idx,status:'-1'}} ];
				__RUN_STEP(step,function(d){
					queryClick();
				});
			}
		});
	}
	
	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function(){
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js",function(){
							pagefunction();
						});
					});
				});
			});
		});
	});
	
</script>
