<style>
	.carousel_div {
		margin-bottom: 15px;
	}

	.carousel_div img {
		width: 100%;
	}

	.enterprise {
		overflow: hidden;
	}

	.enterprise img {
		margin-left: 2px;
	}

	/* 新闻样式 */

	/* 新闻超链接 */

	.new ul li {
		position: relative;
		height: 30px;
	}

	.new ul li a {
		display: inline-block;
		vertical-align: middle;
		padding-right: 75px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	/* 新闻时间 */

	.new ul li span {
		position: absolute;
		right: 0;
		width: 75px;
	}

	.new ul .lastli {
		list-style: none;
	}

	.new ul .lastli a {
		position: absolute;
		right: 0;
		width: 75px;
	}

	/* 新闻div边框 */

	.jarviswidget>div {
		border-width: 1px;
	}

	/* 动物图表 */

	.animal_info .top .left {
		float: left;
		height: 20px;
		line-height: 20px;
		font-size: 16px;
		color: #2C97F5;
	}

	.animal_info .top .right {
		float: right;
		height: 20px;
		line-height: 20px;
	}

	.animal_info img {
		width: 100%;
	}

	/* 首页背景样式 */

	#widget-grid-my {
		padding: 15px 15px 8px 15px;
		background-color: #ffffff;
	}

	/* 统计div */

	.count_div {
		width: 100%;
		max-width: 300px;
		background-color: #f9fafa;
	}

	/* 统计图标 */

	.count_div .yellow {
		background-color: #ff9c4a;
	}

	.count_div .orange {
		background-color: #f75239;
	}

	.count_div .blue {
		background-color: #2194f7;
	}

	.count_div .icon {
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 8px;
		border-radius: 50%;
		display: block;
		width: 80px;
		height: 80px;
		text-align: center;
		line-height: 80px;
		font-size: 60px;
		color: #ffffff;
	}

	.count_div p {
		margin: 8px 0px;
		text-align: center;
		color: #595959;
	}

	.count_div .data {
		padding: 2px;
	}

	.count_div .data p {
		margin: 10px 0px;
		color: #ffffff;
		font-size: 14px;
		line-height: 14px;
	}

	.count_div .data p i {
		font-size: 14px;
		line-height: 14px;
	}

	/* 地图统计 */

	.map {
		margin-top: 20px;
	}

	.map .widget-body>div {
		float: left;
		min-height: 560px;
	}

	.amap-ui-district-cluster-marker,
	.amap-ui-district-cluster-marker span {
		box-sizing: content-box;
	}

	.list {
		height: 560px;
		width: 25%;
		overflow: auto;
	}

	/* 农场 */

	#farm .right {
		float: right;
		width: 70%;
		height: 100%;
	}

	#farm .right>div span,
	#farm .right>div input,
	#farm .right>div select {
		text-align: center;
		float: left;
		width: 50%;
	}

	/*搜索按钮*/

	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #ffffff;
		background: #2196f3;
		border-radius: 5px;
	}




	/*jqgrid表头设置*/

	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		vertical-align: middle;
	}

	.ui-jqgrid td.jqgrid-rownum {
		border: 1px solid rgb(221, 221, 221);
	}

	body.smart-style-6 .table>thead>tr>th {
		padding: 16px 0px !important;
	}

	.ui-jqgrid .ui-jqgrid-resize {
		height: 30px!important;
		width: 5px;
	}

	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}


	.headpic img {
		width: 100%;
	}

	.headpic p {
		border-bottom: 1px solid #d1dae3;
		padding-bottom: 15px;
	}

	.bannercontainer,
	#nhmainbanner,
	.carousel-inner,
	.item {
		height: 100%;
	}

	.item img {
		height: 100% !important;
	}

	.rightpic {
		padding: 0 3px;
	}
</style>
<section id="widget-grid-my" class="">
	<section class="">
		<div class="row headpic" style="margin: 0 0 30px;">

			<div class="col-sm-9 companypic">
				<div class="row bannercontainer">
					<div id="nhmainbanner" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#nhmainbanner" data-slide-to="0" class="active"></li>
							<li data-target="#nhmainbanner" data-slide-to="1"></li>
							<li data-target="#nhmainbanner" data-slide-to="2"></li>
							<li data-target="#nhmainbanner" data-slide-to="3"></li>
							<li data-target="#nhmainbanner" data-slide-to="4"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/bank/bankbanner1.jpg" alt="...">
							</div>
							<div class="item">
								<img src="img/bank/bankbanner2.jpg" alt="...">
							</div>
							<div class="item">
								<img src="img/bank/bankbanner3.jpg" alt="...">
							</div>
							<div class="item">
								<img src="img/bank/bankbanner4.jpg" alt="...">
							</div>
							<div class="item">
								<img src="img/bank/bankbanner5.jpg" alt="...">
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#nhmainbanner" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</a>
						<a class="right carousel-control" href="#nhmainbanner" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 companypic rightpic">
				<div class="companyface">
					<div id="nhmainbanner2" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#nhmainbanner2" data-slide-to="0" class="active"></li>
							<li data-target="#nhmainbanner2" data-slide-to="1"></li>
							<li data-target="#nhmainbanner2" data-slide-to="2"></li>
							<li data-target="#nhmainbanner2" data-slide-to="3"></li>
							<li data-target="#nhmainbanner2" data-slide-to="4"></li>
							<li data-target="#nhmainbanner2" data-slide-to="5"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/advertisement/advertisment06.jpg" />
							</div>
							<div class="item">
								<img src="img/advertisement/advertisment07.jpg" />
							</div>
							<div class="item">
								<img src="img/advertisement/advertisment04.jpg" />
							</div>
							<div class="item">
								<img src="img/advertisement/advertisment05.jpg" />
							</div>
							<div class="item">
								<img src="img/advertisement/advertisment08.jpg" />
							</div>
							<div class="item">
								<img src="img/advertisement/advertisment09.jpg" />
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#nhmainbanner2" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</a>
						<a class="right carousel-control" href="#nhmainbanner2" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>

			</div>

		</div>
	</section>
	<div class="row">
		<article class="col-sm-12 col-md-6 col-lg-6">
			<div id="policy" class="new jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>政策法规</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"> </div>
					<!-- widget content -->
					<div class="widget-body">
						<ul>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49666.html">财政部 农业部关于修订《农业资源及生态保护补助资金管理办法》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49665.html">财政部 农业部关于印发《动物防疫等补助经费管理办法》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49664.html">中华人民共和国农业部公告第2539号 港澳台居民参加全国执业兽医...</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49663.html">农业部关于印发《执业兽医资格考试保密管理规定》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li class="lastli">
								<a href="http://www.zjahv.gov.cn/html/main/frfg/">查看更多>></a>
							</li>
						</ul>
						<!-- end widget content -->

					</div>
				</div>
			</div>
		</article>
		<article class="col-sm-12 col-md-6 col-lg-6">
			<div id="industry" class="new jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>业界动态</h2>
				</header>
				<div>
					<!-- widget content -->
					<div class="widget-body">
						<ul>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49929.html">全国畜牧总站杨振海一行来我省调研指导畜牧产业发展</a>
								<span>2017-09-18</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49923.html">我局制发《兽药安全使用宣传挂图》</a>
								<span>2017-09-15</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49904.html">全省保障肉品安全暨“扫雷行动”推进会在金华召开</a>
								<span>2017-09-14</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49903.html">广东省农业厅来我省考察畜禽养殖废弃物资源化利用工作</a>
								<span>2017-09-14</span>
							</li>
							<li class="lastli">
								<a href="http://www.zjahv.gov.cn/html/main/gzdt/">查看更多>></a>
							</li>
						</ul>
						<!-- end widget content -->

					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="row">
		<div class="form-horizontal col-sm-12 col-md-5 col-lg-5 pull-right">
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-6 control-label">畜种选择</label>
				<div class="col col-sm-6">
					<select name="bank_type" class="form-control">
						<option value="猪">猪</option>
						<option value="牛">牛</option>
						<option value="羊">羊</option>
					</select>
				</div>
			</section>
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-12 control-label">统计时间：2017-07-03</label>
			</section>
		</div>
	</div>
	<div class="row">
		<article class="col-sm-12 col-md-6 col-lg-6">
			<div id="livestock_stocks" class="animal_info jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false"
			 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
			 data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>存栏量</h2>
				</header>
				<div>
					<div class="widget-body">
						<div class="top">
							<p class="left">当前存栏量 142,200,000 (截止今天)</p>
							<p class="right">
								<span>较上月同期减少51,221(-0.002%)</span>
								<i class="glyphicon glyphicon-arrow-down"></i>
							</p>
						</div>
						<div class="bottom">
							<img src="img/xmj/livestock_stocks.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="col-sm-12 col-md-6 col-lg-6">
			<div id="litter_size" class="animal_info jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>产仔量</h2>
				</header>
				<div>
					<!-- widget content -->
					<div class="widget-body">
						<div class="top">
							<p class="left">当前产仔量 34,023,156 (截止今天)</p>
							<p class="right">
								<span>较上月同期增长471,235(+4.2%)</span>
								<i class="glyphicon glyphicon-arrow-up"></i>
							</p>
						</div>
						<div class="bottom">
							<img src="img/xmj/livestock_stocks.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div id="mapStatistics" class="map jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>动物分布图</h2>
				</header>
				<div>
					<!-- widget content -->
					<div class="widget-body clearfix">
						<div id="map" style="width: 75%;height:560px;position: relative;">
							<div id="proe_map" style="width:100%;height:100%;margin:0 auto;position: absolute;"></div>
							<div class="retPro" style="z-index:999;position: absolute;display: block;">
								<a href="javascript:void(0);" onclick="goBackProeMap()" style="height:30px;background:#fff;line-height: 30px;border:1px solid #ccc;padding:5px 10px;margin-left:20px;border-radius:5px;cursor: pointer;color:#393939;text-decoration:none;">
									返回本省
								</a>
							</div>
							<div id="city_ranking">
							</div>
						</div>
						<div class="list">
							<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table id="list"></table>
							</article>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>

</section>
<script src="js/echarts-master/dist/echarts.min.js"></script>
<script src="js/plugin/jqgrid/grid.locale-cn.js"></script>
<script src="js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
<script type="text/javascript">
	//轮播图
	$('.carousel').carousel({
		interval: 2000
	})

	var pageInitFun = function () {
		loadNewsData('0', 'policy');
		loadNewsData('1', 'industry');
	}



	function loadNewsData(type, container) {
		var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_NEWS_MAIN', RCODE: 'LIST', DATA: { 'type': type } }]
		__RUN_STEP(step0, function (d) {
			console.log(d.LIST);
			var list = d.LIST;
			var policyLi = '';
			for (var i = 0; i < list.length; i++) {
				policyLi += '<li><a href="/#page/news/newstample.html?idx=' + list[i].idx + '">' + list[i].headline + '</a><span>' + list[i].posted_date.substr(0, 10) + '</span></li>'
			};
			policyLi += '<li class="lastli"><a href="/#page/news/newsEditList.html?type=' + type + '">查看更多</a></li>'
			$("#" + container).find('ul').html(policyLi);
		});
	}



	function goBackProeMap() {
		__RUN_ACT('farmer/queryCount', { "names": "浙江省" }, function (d) {
			var objs = [];
			for (var key in d) {
				var obj = {};
				obj.name = d[key].name;
				obj.idx = d[key].idx;
				obj.value = d[key].pigCount;
				objs.push(obj);
			}
			cityMap('浙江省', objs, function (rel) {
				if (rel.data.idx) {
					__RUN_ACT('farmer/queryCount', { "names": rel.data.name }, function (d) {
						var objs = [];
						for (var key in d) {
							var obj = {};
							obj.name = d[key].name;
							obj.value = d[key].pigCount;
							objs.push(obj);
						}
						cityMap(rel.name, objs, false);
						$("#list").jqGrid('setData', d);
						$("#list").trigger("reloadGrid");
					})
				}

			});
			$("#list").jqGrid('setData', d);
			$("#list").trigger("reloadGrid");
		})
	}
	/* 地图显示 */
	function cityMap(city, data, _callback) {
		$.get('/json/浙江/' + city + '.json', function (Citymap) {
			echarts.registerMap(city, Citymap);
			var myChartProe = echarts.init(document.getElementById('proe_map'));
			myChartProe.setOption({
				tooltip: {
					trigger: 'item',
					formatter: function loadData(result) {//回调函数，参数params具体格式参加官方API
						return result.name + '<br />动物总数:' + result.value;
					}
				},
				dataRange: {
					min: 0,
					max: 200,
					text: ['高', '低'],
					realtime: false,
					calculable: false,
					splitNumber: 0,
					itemWidth: 10,
					show: true,
					itemHeight: 100,
					color: ['#FF2342', '#FC5D85', '#FFB145', '#FCFC1E', '#B2E629']
				},
				title: {
					text: city + '数据总览',
					//subtext:'',
					x: 'center',
					y: 'top',
					textAlign: 'left'
				},
				series: [{
					type: 'map',
					map: city,//要和echarts.registerMap（）中第一个参数一致
					scaleLimit: { min: 0.8, max: 1.9 },//缩放
					mapLocation: {
						y: 60
					},
					itemSytle: {
						emphasis: { label: { show: false } }
					},
					label: {
						normal: {
							show: true
						},
						emphasis: {
							show: true
						}
					},
					data: data
				}]
			})
			window.onresize = myChartProe.resize;
			myChartProe.on('click', function (rel) {
				if (_callback) {
					_callback(rel);
					return false;
				}
			})
		})
	}
	__RUN_ACT('farmer/queryCount', { "names": "浙江省" }, function (d) {
		console.log(d);
		var objs = [];
		for (var key in d) {
			var obj = {};
			obj.name = d[key].name;
			obj.idx = d[key].idx;
			obj.value = d[key].pigCount;
			objs.push(obj);
		}
		cityMap('浙江省', objs, function (rel) {
			if (rel.data.idx) {
				__RUN_ACT('farmer/queryCount', { "names": rel.data.name }, function (d) {
					var objs = [];
					for (var key in d) {
						var obj = {};
						obj.name = d[key].name;
						obj.value = d[key].pigCount;
						objs.push(obj);
					}
					cityMap(rel.name, objs, false);
					debugger;
					$("#list").jqGrid('setData', d);
					$("#list").trigger("reloadGrid");
				})
			}

		});
		var colNames = ['地区', '动物总数', '母猪总数'];
		var colModel = [
			{ name: 'name', index: 'name', sortable: false, align: "center" },
			{ name: 'pigCount', index: 'pigCount', sortable: false, align: "center" },
			{ name: 'pigCount', index: 'pigCount', sortable: false, align: "center" }
		]
		run_jqgrid_function('#list', '#plist', colNames, colModel, d);
	})

	//表格数据
	function run_jqgrid_function(id, pageid, colNames, colModel, jqgrid_data) {

		jQuery(id).jqGrid({
			data: jqgrid_data,
			datatype: "local",
			height: 'auto',
			colNames: colNames,
			colModel: colModel,
			sortname: 'create_time',
			toolbarfilter: true,
			viewrecords: true,
			sortorder: "desc",
			rownumbers: true,
			caption: false,
			multiselect: false,
			autowidth: true,

		});


		// remove classes
		$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
		$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
		$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
		$(".ui-jqgrid-pager").removeClass("ui-state-default");
		$(".ui-jqgrid").removeClass("ui-widget-content");

		// add classes
		$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
		$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


		$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
		$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
		$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
		$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
		$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
		$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
		$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
		$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

		$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
		$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

		$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
		$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

		$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
		$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

		$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
		$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");




		// update buttons

		$(window).on('resize.jqGrid', function () {
			jQuery(id).jqGrid('setGridWidth', $(".list").width());
		})

		$.extend($.fn.jqGrid, {
			setData: function (data) {
				this[0].p.data = data;
				return true;
			}
		});
	} // end function
	pageInitFun();
</script>