
<style>

	form>.row {
		margin-bottom: 10px;
	}
	/*操作按钮*/

	.operation {
		width: 200px;
		margin-left: 20px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.operation a:hover {
		color: #00CC00;
	}

	.operation a {
		color: #000000;
		padding: 0 5px;
	}

	.operation i {
		color: #00CC00;
		padding: 0 5px;
	}
	/*查询条件*/

	.condition {
		width: 900px;
		float: left;
		margin-left: 20px;
	}

	.condition input {
		width: 200px;
	}

	.condition input,
	.condition span,
	.condition select,
	.storageTime span,
	.storageTime input,
	.RFID * {
		height: 30px;
		line-height: 30px;
		margin: 0 10px 0 20px;
		float: left;
	}

	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	/*入库时间*/

	.storageTime {
		width: 50%;
		float: left;
	}

	.storageTime * {
		float: left;
	}

	#startTime,
	#endTime {
		width: 25%;
	}

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*RFID编号*/

	.RFID {
		width: 25%;
		float: left;
	}

	.RFID * {
		float: left;
	}

	.RFID input {
		width: 45%;
	}
	/*搜索按钮*/

	.readerSearch {
		height: 30px;
		line-height: 30px;
		width: 15%;
		float: left;
	}

	.readerSearch a {
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		color: #FFFFFF;
		background: #2196f3;
		border-radius: 5px;
	}
	/*装钉表格*/

	.ui-jqgrid-htable th {
		text-align: center;
	}
	/*模态框修改*/

	.modal-title {
		width: 50%;
		float: left;
	}

	.modal-header .top_rigth {
		float: right;
		margin-right: 20px;
	}

	#add-data .row input,select{
		border: 1px solid #ccc;
	}
	
	.borbottom{
		border-bottom: 1px solid #ccc;
	}
	
	.control-label{
		line-height: 32px;
		padding: 0;
	}
	
	
	
	
	/*滚动条样式*/	  
	/* Handle */  
	  
	::-webkit-scrollbar-thumb {  
	  
	   -webkit-border-radius: 10px;  
	  
	   border-radius: 10px;  
	  
	   background: rgba(0,0,0,0.3);   
	  
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	  
	}  
	  
	::-webkit-scrollbar-thumb:window-inactive {  
	  
		background: rgba(169,169,169,0.4);   
	  
	}  
	
	/*#jqgrid tr td:first-child {
	    width: 50px !important;   	
	}*/
	/*#jqgrid_rn{
		width: 50px !important;
	}*/
	

	/*表格样式*/
	.jqg-first-row-header th{
		padding: 0 !important;
		border-width: 0 !important;
	}

	.ui-jqgrid .ui-jqgrid-htable{
		table-layout: auto;
	}
	
	#individual_list th{
		text-align: center;
	}
	#individual_list td{
		text-align: center;
	}


</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<form>
	<div class="row">
		<div class="RFID clearfix">
			<span>RFID编号</span>
			<input type="text" class="form-control" >
		</div>
		
		<div class="readerSearch">
			<a href="javascript:void(0)" id="search_btn">搜索</a>
		</div>
	</div>

	</div>
</form>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
			<!-- <table id="individual_list" class="table table-striped table-bordered table-hover" width="100%"  >
				<thead>
					<tr>
						
						<th width="60px;" rowspan="2">序号</th>
						<th rowspan="2">场内编号</th>
						<th rowspan="2">RFID编号</th>
						<th colspan="4">授精</th>
						<th colspan="4">产仔</th>
						<th colspan="4">断奶</th>
						<th colspan="4">免疫</th>
						<th rowspan="2">操作</th>
					</tr>
					<tr>
						<th>授精站号</th>
						<th>公羊编号</th>
						<th>精液剂量</th>
						<th>授精日期</th>
						<th>与配公羊</th>
						<th>当前胎次</th>
						<th>本次产仔数</th>
						<th>产仔日期</th>
						<th>断奶活数</th>
						<th>断奶头数</th>
						<th>断奶窝重</th>
						<th>断奶日期</th>
						<th>疫苗种类</th>
						<th>疫苗剂量</th>
						<th>操作方式</th>
						<th>注射时间</th>
					</tr>
					
				</thead>
				<tbody></tbody>
			</table> -->
			<!--<br>
			<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
			<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>-->
			
		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!--模态框-->
<div class="modal fade" id="add-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">新增生产信息</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div id="main_ms">
						<div class="form-group col-sm-3">
							<label for="rfid" class="control-label col-sm-3">rfid编号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="rfid" name="rfid">
							</div>							
						</div>
						<div class="form-group col-sm-3" style="opacity: 0;">
							<label for="animal_no" class="control-label col-sm-3">rfid编号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="" name="animal_no">
							</div>
						</div>	
						<div class="form-group col-sm-3" style="opacity: 0;">
							<label for="animal_no" class="control-label col-sm-3">rfid编号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="" name="animal_no">
							</div>
						</div>
						<div class="form-group col-sm-3" style="opacity: 0;">
							<label for="animal_no" class="control-label col-sm-3">rfid编号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="" name="animal_no">								
							</div>
						</div>
					</div>
					<div id="shoujing">
						<h5 style="padding-left: 13px;">(1)授精</h5>
						<div class="form-group col-sm-3">
							<label for="insemination_no" class="control-label col-sm-3">授精站号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="insemination_no" name="insemination_no">
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="animal_nom" class="control-label col-sm-3">公羊编号:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apply_animal_nom" name="animal_nom">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="seminal_quantity" class="control-label col-sm-3">精液剂量:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="seminal_quantity" name="seminal_quantity">
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="apply_common_time" class="control-label col-sm-3">授精时间:</label>
							<div class="col-sm-9" style="position: relative;">
								<input type="text" class="form-control" id="apply_common_time" name="common_time" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
							</div>	
						</div>
					</div>
					<div id="chanzai">
						<h5 style="padding-left: 13px;">(2)产仔</h5>
						<div class="form-group col-sm-3">
							<label for="send_animal_nom" class="control-label col-sm-3">与配公羊:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="send_animal_nom" name="animal_nom">
							</div>		
						</div>
						<div class="form-group col-sm-3">
							<label for="parity" class="control-label col-sm-3">当前胎次:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="parity" name="parity">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="farrowing_num" class="control-label col-sm-3">产仔数:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="farrowing_num" name="farrowing_num">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="apply_common_time" class="control-label col-sm-3">产仔日期:</label>
							<div class="col-sm-9" style="position: relative;">
								<input type="text" class="form-control" id="send_common_time" name="common_time" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
							</div>	
						</div>
					</div>
					<div id="duannai">
						<h5 style="padding-left: 13px;">(3)断奶</h5>
						<div class="form-group col-sm-3">
							<label for="abl_quantity" class="control-label col-sm-3">断奶活数:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="abl_quantity" name="abl_quantity">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="abl_head" class="control-label col-sm-3">断奶头数:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="abl_head" name="abl_head">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="abl_weight" class="control-label col-sm-3">断奶窝重:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="abl_weight" name="abl_weight">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="abl_common_time" class="control-label col-sm-3">断奶日期:</label>
							<div class="col-sm-9" style="position: relative;">
								<input type="text" class="form-control" id="abl_common_time" name="common_time" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
							</div>	
						</div>
					</div>
					<div id="mianyi">
						<h5 style="padding-left: 13px;">(4)免疫</h5>
						<div class="form-group col-sm-3">
							<label for="vaccine_typemianyi" class="control-label col-sm-3">疫苗种类:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="vaccine_typemianyi" name="vaccine_typemianyi">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="dosage" class="control-label col-sm-3">疫苗剂量:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="dosage" name="dosage">
							</div>	
						</div>
						<div class="form-group col-sm-3">
							<label for="vaccine_common_time" class="control-label col-sm-3">注射时间:</label>
							<div class="col-sm-9" style="position: relative;">
								<input type="text" class="form-control" id="vaccine_common_time" name="common_time" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
							</div>	
						</div>
					</div>
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary add-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>



<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	var getIdx=getQueryString('customer_idx');
	if(!getIdx){
		getIdx=$('#__customer_idx').attr("value");
	}
	
	var __sdom = "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>";
	var __PAGESIZE = 10;

	function _crtGrid(CONFIG) {
		var EL = CONFIG.EL;
		if (!CONFIG.serverfn) {
			CONFIG.serverfn = function (src, param, callback) {
				var start = param[3].value;
				var draw = param[0].draw;
				var pagesize = param[4].value;				
				var PAGE_INFO = { start: start, end: pagesize };
				if (start <= 0) PAGE_INFO.tcount = 1;
				var CDN = {}; if (CONFIG.QRY_PARAM) CDN = CONFIG.QRY_PARAM();
				var step = [{ JSCODE: 'LOAD', CODE: CONFIG.QRY_CODE, RCODE: 'PAGE', DATA: CDN, PAGE: PAGE_INFO }];
				__RUN_STEP(step, function (d) {
					console.log(d);
					var page = d.PAGE;
					if (!EL.tcount || page.tcount) EL.tcount = page.tcount;

					var data = {
						draw: draw,
						recordsTotal: EL.tcount,
						recordsFiltered: EL.tcount,
						data: page.list
					}
					callback(data);
				});
			}
		}
		if (!CONFIG.__PAGESIZE) CONFIG.__PAGESIZE = __PAGESIZE;

		var language = {
			"decimal": "",
			"emptyTable": "No data available in table",
			"info": "从 _START_ 到 _END_ 共计 _TOTAL_ 条",
			"infoEmpty": "从 0 到 0 共计 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "前一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		}
		EL.dataTable({
			columns: CONFIG.COLUMNS,
			select: {
				style: 'single',
				info: false
			},
			sDom: __sdom,
			autoWidth: true,
			iDisplayLength: CONFIG.__PAGESIZE,
			bProcessing: true,
			processing: true,
			bServerSide: true,
			sAjaxSource: "",
			language: language,
			fnServerData: CONFIG.serverfn,

			fnDrawCallback: function () {
				var api = this.api();
				var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
				api.column(0).nodes().each(function (cell, i) {
					cell.innerHTML = startIndex + i + 1;
				});
			}
		});
	}


	var initFun=function(){
		initCity('startTime');
		initCity('endTime');
		initCity('apply_common_time');
		initCity('send_common_time');
		initCity('abl_common_time');
		initCity('vaccine_common_time');

		// _crtGrid({
		// 	EL:$('#individual_list'),
		// 	COLUMNS: [
		// 		{ data: null,targets: 0},
		// 		{ data: "code" },
		// 		{ data: "name" },
		// 		{ data: "suffix" },
		// 		{ data: "area_code" },
		// 		{ data: "district_code" }
		// 	],
		// 	QRY_CODE:'LD_CREATURE_PRODUCE',

		// 	QRY_PARAM:function(){
		// 		return {};
		// 		return {pid: 1};
		// 	},
		// });

		var step0=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_PRODUCE',RCODE:'LIST',DATA:{'customer_idx': getIdx}} ];
		__RUN_STEP(step0,function(d){
			console.log(d.LIST);
			var list=d.LIST;
			var animals={};
			for(var i=0;i<list.length;i++){
				var rfid=list[i].rfid2+i;
				var animal=animals[rfid];
				var prd=list[i];					
				if(!animal){
					animals[rfid]=animal=prd;
				}
				//type==1,授精；type==3,断奶；type==2,产仔;type==4,免疫
				switch(prd.type){
					case '1':
						animals[rfid].insemination_no='';
						animals[rfid].apply_animal_nom=prd.myparity;
						animals[rfid].seminal_quantity=prd.farrowing_num;
						animals[rfid].apply_common_time=prd.common_time;
						break;
					case '2':
						animals[rfid].along_animal_nom='';
						animals[rfid].myparity=prd.myparity;
						animals[rfid].farrowing_num=prd.farrowing_num;
						animals[rfid].farrow_common_time=prd.common_time;
						break;
					case '3':
						animals[rfid].abl_quantity=prd.abl_quantity;
						animals[rfid].abl_head=prd.abl_head;
						animals[rfid].abl_weight=prd.abl_weight;
						animals[rfid].abl_common_time=prd.common_time;												
						break;
					case '4':
						animals[rfid].vaccine_name=prd.vaccine_name;
						animals[rfid].dosage=prd.dosage;
						animals[rfid].do_style='批次';
						animals[rfid].injection_date=prd.injection_date;												
						break;	
				}
			}
			
			var alist=[];
			
			for(var rfid in animals){
				alist.push(animals[rfid]);
			}



			console.log(alist);
			loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction(alist));
		});	
		
		
		
	};
	
	//城市联动
	__RUN_ACT('/farmer/queryCity', { "pid": "12" }, function (data) {
		var html = '<option value="">--请选择--</option>'
		$('#cityLinkage select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#cityLinkage select').first().append(html);
		})
		$('#cityLinkage select').first().nextAll().hide();
	});
	citys();
	function citys() {
		$('#cityLinkage select').on('change', function () {
			var that = this;
			__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function (data) {
				$(that).nextAll().hide();
				$(that).nextAll().html('');
				if (data.length > 0) {
					$(that).next().show();
				}
				var html = '<option value="">--请选择--</option>'
				$(that).next().append(html);
				data.forEach(function (value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>';
					$(that).next().append(html);
				})
			});
		})
	}

	function initCity(id){
		$("#"+id).datetimepicker({
			format: 'yyyy-mm-dd',  
			language: 'zh-CN',  
			pickDate: true,  
			pickTime: false,  
			minView: 'month',  
			todayBtn: true,  
			todayHighlight: true 
          });    
	}

	/* 时间关联 */
	$('#startTime').on('change', function () {
		$('#endTime').datetimepicker('setStartDate', $(this).val());
	})
	$('#endTime').on('change', function () {
		$('#startTime').datetimepicker('setEndDate', $(this).val());
	})
	
	//新增动物生产信息
	$('.add-determine').click(function(){
		var data={};
		data=__GET_FROM_VALUES('main_ms');
		var shoujing=__GET_FROM_VALUES('shoujing');
		var chanzai=__GET_FROM_VALUES('chanzai');
		var duannai=__GET_FROM_VALUES('duannai');
		var mianyi=__GET_FROM_VALUES('mianyi');
		shoujing=__RMV_NULL_PROP(shoujing);
		chanzai=__RMV_NULL_PROP(chanzai);
		duannai=__RMV_NULL_PROP(duannai);
		mianyi=__RMV_NULL_PROP(mianyi);
		
		
		data['shoujing']=shoujing;
		data['chanzai']=chanzai;
		data['duannai']=duannai;
		data['mianyi']=mianyi;
		data.shoujing['type']='1';
		data.chanzai['type']='2';
		data.duannai['type']='3';
		data.mianyi['type']='4';
		delete data.animal_no;
		console.log(data);
		__RUN_ACT('creature/product',data,function(d){		
			console.log(d,'新增返回数据');	
			$("#jqgrid").jqGrid('setData', d);
			$("#jqgrid").trigger("reloadGrid");	
		})
	})
	
	$("#")
	
	
	//表格数据
	pageSetUp();
	var pagefunction = function (t) {	
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function(){
			run_jqgrid_function(t);
			$("#pjqgrid_left").html("<button style='background : #2196f3 ; color : #fff ; padding:7px ; border-radius : 5px ; ' type='button' class='btn btn-xs btn-default' data-original-title='Add' data-toggle='modal' data-target='#add-data' ><i class='fa fa-plus'></i> 新增操作</button>");			
		});

		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', '场内编号', 'RFID编号', '授精站号', '公羊编号', '精液剂量','授精日期', '与配公羊', '当前胎次', '本次产仔数', '产仔日期', '断奶活数', '断奶头数', '断奶窝重','断奶日期', '疫苗种类', '疫苗剂量', '操作方式', '注射时间', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', align: "center", sortable: false, hidden: true},
					{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false, width: 80},
					{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
					{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
					{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"},
					{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center"  },
					{ name: 'apply_common_time', index: 'apply_common_time', sortable: false, align: "center"},
					{ name: 'along_animal_nom', index: 'along_animal_nom', align: "center", sortable: false },
					{ name: 'myparity', index: 'myparity', align: "center", sortable: false },
					{ name: 'farrowing_num', index: 'farrowing_num', align: "center", sortable: false },
					{ name: 'farrow_common_time', index: 'farrow_common_time', align: "center", sortable: false },
					{ name: 'abl_quantity', index: 'abl_quantity', align: "center", sortable: false },
					{ name: 'abl_head', index: 'abl_head', align: "center", sortable: false },
					{ name: 'abl_weight', index: 'abl_weight', align: "center", sortable: false },
					{ name: 'abl_common_time', index: 'abl_common_time', align: "center", sortable: false },
					{ name: 'vaccine_name', index: 'vaccine_name', align: "center", sortable: false },
					{ name: 'dosage', index: 'dosage', align: "center", sortable: false },
					{ name: 'do_style', index: 'do_style', align: "center", sortable: false },
					{ name: 'injection_date', index: 'injection_date', align: "center", sortable: false },
					{ name: 'act', index: 'act', align: "center", sortable: false }					
				],
				rowNum: 10,
				rownumbers: false,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"updateInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default tsDelete' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ca });
					}
				},
				multiselect: false,
				autowidth: true,

			});
			$("#jqgrid").jqGrid('setGroupHeaders', {
				useColSpanStyle: true,
				groupHeaders: [
					{ startColumnName: 'insemination_no', numberOfColumns: 4, titleText: '授精' },
					{ startColumnName: 'along_animal_nom', numberOfColumns: 4, titleText: '产仔' },
					{ startColumnName: 'abl_quantity', numberOfColumns: 4, titleText: '断奶' },
					{ startColumnName: 'vaccine_name', numberOfColumns: 4, titleText: '免疫' }
				]
			});

			jQuery("#m1").click(function () {
				var s;
				s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
				alert(s);
			});
			jQuery("#m1s").click(function () {
				jQuery("#jqgrid").jqGrid('setSelection', "13");
			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");



			// update buttons
			
//			jQuery("#jqgrid").jqGrid('setGridWidth', $("#widget-grid").width());
			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			})
			$.extend($.fn.jqGrid, {
			    setData : function(data) {
			        this[0].p.data = data;
			        return true;
			    }
			});

		} // end function


	}
	
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js",function(){
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js",function(){
							loadScript("js/plugin/datatables/dataTables.select.min.js",initFun);
						});
					});					
				});
			});
		});
	});

	function updateInfo(row){
		var rowData = $("#jqgrid").jqGrid('getRowData', row);
		console.log(rowData);
		
	}

</script>