<link rel="stylesheet" type="text/css" media="screen" href="css/nh/nh.css">

<style type="text/css">
	/*表格样式修改*/

	th {
		text-align: center;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		text-align: center;
	}

	body.smart-style-6 .table>thead>tr>th {
		padding: 16px 0px !important;
	}

	#jqgrid tr td:first-child {
		width: 50px !important;
	}

	#jqgrid_rn {
		width: 50px !important;
	}

	/* 头部样式 */

	.jarviswidget-color-blueDark>header {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F8F8F8));
		border: 1px solid #D4D4D4!important;
		color: #5B5B5B;
	}

	.hbMes {
		padding: 20px 8px;
	}

	.node_btn {
		text-align: center;
	}

	/*滚动条样式*/

	/* Handle */

	::-webkit-scrollbar-thumb {

		-webkit-border-radius: 10px;

		border-radius: 10px;

		background: rgba(0, 0, 0, 0.3);

		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

	}

	::-webkit-scrollbar-thumb:window-inactive {

		background: rgba(169, 169, 169, 0.4);

	}
</style>




<section id="widget-grid" class="lanshe_mes">
	<div class="row">



		<article class="col-sm-12 col-md-4 col-lg-4">

			<div id="wid-id-1" class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false"
			 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
			 data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>栏舍信息树</h2>
				</header>
				<div class="inbox-checkbox-triggered" style="border-bottom: none;">
					<form action="" class="smart-form datatable-tbar">
						<footer>
							<input type="button" class="btn btn-primary" id="tree_reset" value="重置" />
							<input type="button" class="btn btn-primary" id="tree_new" value="新增节点" />
							<input type="button" class="delete_node_btn btn btn-primary" value="删除" />
						</footer>
					</form>
				</div>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body" style="max-height: 750px;overflow: auto;">
						<div class="tree" id="node_0">
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="col-sm-12 col-md-8 col-lg-8 lanshe_mes">


			<div id="wid-id-3" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false"
			 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
			 data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>栏舍信息详情</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"> </div>

					<div class="widget-body no-padding" id="right-content">
						<div class="form-horizontal" id="governMes">
							<section class="hbMes">
								<input type="hidden" name="idx">
								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">名称</label>
									<div class="col-md-8">
										<input class="form-control" name="name" placeholder="名称" type="text" />
									</div>
								</div>

								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">负责人</label>
									<div class="col-md-8">
										<input class="form-control" name="customer_name" placeholder="负责人" type="text" />
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">负责人电话</label>
									<div class="col-md-8">
										<input class="form-control" name="cutomer_phone" placeholder="负责人电话" type="text" />
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">技术员</label>
									<div class="col-md-8">
										<select name="jsyname" id="technic_name" class="form-control"></select>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">技术员电话</label>
									<div class="col-md-8">
										<input class="form-control" name="jsyphone" id="technic_phone" placeholder="技术员电话" type="text" readonly/>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-4 control-label">存栏量</label>
									<div class="col-md-8">
										<input class="form-control" name="code" placeholder="存栏量" type="text" readonly/>
									</div>
								</div>
								<div class="form-group col-md-12 node_btn">
									<a class="edit_node_btn btn btn-primary disabled" href="javascript:void(0);">保存</a>

								</div>
							</section>
							<!-- <section class="row">
									
								</section> -->
						</div>

						<button class="btn btn-primary all_control" type="button">栏舍迁移批量操作</button>
						<table id="jqgrid"></table>
						<div id="pjqgrid"></div>
						<table id="individual_list" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>

									<th width="60px;">序号</th>
									<th width='30px'>
										<input type="checkbox" class="checkboxparent" />
									</th>
									<th>舍号</th>
									<th>栏号</th>
									<th>品种</th>
									<th>射频RFID编号</th>
									<th>场内编号</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>

		</article>
	</div>
</section>

<!--批量操作-->
<div class="modal fade" id="operateModal" tabindex="-1" role="dialog" aria-labelledby="operateModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">动物个体批量迁移</h4>
			</div>
			<div class="modal-body">
				<form id="moveHomeMes">
					<div class="form-group">
						<label for="homes-name" class="control-label">迁移舍名:</label>
						<select name="move-homes-name" id="move-homes-name" class="form-control"></select>
					</div>
					<div class="form-group">
						<label for="homes-name" class="control-label">迁移栏名:</label>
						<select name="move-bar-name" id="move-bar-name" class="form-control"></select>
					</div>
					<input type="hidden" name="lanHeader" id="lanHeader" />
					<input type="hidden" name="lanHeadtel" id="lanHeadtel" />
					<input type="hidden" name="lanMesName" id="lanMesName" />
					<input type="hidden" name="lanMesTel" id="lanMesTel" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="moveHomeSave">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<!--新增舍-->
<div class="modal fade" id="addHomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">新增舍</h4>
			</div>
			<div class="modal-body">
				<form id="addHomeMes">
					<div class="form-group">
						<label for="homes-name" class="control-label">舍名称:</label>
						<input type="text" class="form-control" id="homes-name" name="name">
					</div>
					<div class="form-group">
						<label for="barHead-name" class="control-label">舍负责人:</label>
						<input type="text" class="form-control" id="barHead-name" name="customer_name">
						<label for="barHead-tel" class="control-label">联系方式:</label>
						<input type="text" class="form-control" id="barHead-tel" name="cutomer_phone">
					</div>
					<div class="form-group">
						<label for="barMes-name" class="control-label">舍技术员:</label>
						<select class="form-control" id="barMes-name" name="jsyname">
						</select>
						<label for="barMes-tel" class="control-label">舍技术员联系方式:</label>
						<input type="text" class="form-control" id="barMes-tel" readonly name="jsyphone">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="addHomeSave">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<!--新增栏-->
<div class="modal fade" id="addBarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">新增栏</h4>
			</div>
			<div class="modal-body row">

				<form id="add-bar">
					<input type="hidden" name="parent_id" id="addbarpid" />
					<div class="form-group col-md-12">
						<label for="belong-home" class="control-label">所在舍:</label>
						<select name="parent_id" id="belong-home" class="form-control" disabled></select>
					</div>
					<div class="form-group col-md-12">
						<label for="bar-name" class="control-label">栏名称:</label>
						<input type="text" class="form-control" id="bar-name" name="name">
					</div>
					<div class="form-group col-md-6">
						<label for="lanHead-name" class="control-label">栏负责人:</label>
						<input type="text" class="form-control" id="lanHead-name" name="customer_name">
					</div>
					<div class="form-group col-md-6">
						<label for="lanHead-tel" class="control-label">栏负责人联系方式:</label>
						<input type="text" class="form-control" id="lanHead-tel" name="cutomer_phone">
					</div>
					<div class="form-group col-md-6">
						<label for="lanMes-name" class="control-label">栏技术员:</label>
						<select class="form-control" id="lanMes-name" name="jsyname">
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="lanMes-tel" class="control-label">栏技术员联系方式:</label>
						<input type="text" class="form-control" id="lanMes-tel" name="jsyphone" readonly />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="baradd-determine">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

			</div>
		</div>
	</div>
</div>



<script id="treeview" type="text/x-jquery-tmpl">
	<ul class="node_ul">	
	{{each LIST}}							
		<li id="node_${idx}" class="node_li parent_li" loaded="0">
			<span><i class="fa fa-lg fa-plus-circle"></i>${name}</span>		
		</li>
	{{/each}}		     
	</ul>
</script>

<script id="checkMore" type="text/x-jquery-tmpl">
	<div>
		<a href="#page/sheep/individual_check_sheep.html?idx=${idx}&ischeck=1">查看详情<a/>
	</div>
</script>
<script id="checkbox" type="text/html">
	<div>
		<input type="checkbox" name="${idx}" value="${checkboxIs}" class="checkchild" {{if checkboxIs=="ture"}}checked{{/if}}/>
	</div>
</script>

<script type="text/javascript">
	var getIdx = getQueryString('customer_idx');
	if (!getIdx) {
		getIdx = $('#__customer_idx').attr("value");
	};
	if (!getIdx) {
		getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
	}
	var step7 = [{ JSCODE: 'LOAD', CODE: 'LD_CUSTOMER_DETAILS3', RCODE: 'LIST', DATA: { 'idx': getIdx } }];
	__RUN_STEP(step7, function (data) {

		var technicial_option = '';
		for (var h = 0; h < data.LIST.length; h++) {
			var t = h;
			technicial_option += '<option class="technicial_option" tel="' + data.LIST[t].phone + '"  value="' + data.LIST[t].name + '">' + data.LIST[t].name + '</option>';
		}
		$("#barMes-name").html(technicial_option);
		$("#lanMes-name").html(technicial_option);
		$("#technic_name").html(technicial_option);
		if (data.LIST[0]) {
			$("#barMes-tel").val(data.LIST[0].phone);
			$("#lanMes-tel").val(data.LIST[0].phone);
			$("#technic_phone").val(data.LIST[0].phone);
		};
		$("#lanMes-name").change(function () {
			$('#lanMes-tel').val($(this).find('option:selected').attr('tel'));
		});
		$("#barMes-name").change(function () {
			$('#barMes-tel').val($(this).find('option:selected').attr('tel'))
		});
		$("#technic_name").change(function () {
			$('#technic_phone').val($(this).find('option:selected').attr('tel'))
		});
	});


	function _optionRender(data, type, row) {//console.log(arguments);
		return $('#checkMore').tmpl(data).html();
	}
	function _checkboxIs(data, type, row) {//console.log(arguments);
		return $('#checkbox').tmpl(data).html();
	}

	pageSetUp();


	var parentid = '';
	var parentname = '';
	var checkboxData = {};
	var init_table = {
		EL: $('#individual_list'),
			COLUMNS: [

				{ data: null, targets: 0 },
				{
					data: null,defaultContent: '',
					render: _checkboxIs,
				},
				{ data: "dorm_name" },
				{ data: "bar_name" },
				{ data: "breedname" },
				{ data: "rfid" },
				{ data: "animal_no" },
				{ data: null, defaultContent: '', render: _optionRender }
			],
			callback:function(d){
				$('[name="code"]').val(d.PAGE.tcount);				
				for(var key in d.PAGE.list){
					for(var i in checkboxData){
						if(d.PAGE.list[key].idx == i){
							d.PAGE.list[key]["checkboxIs"] = checkboxData[i];
						}
					}
					d.PAGE.list[key]["checkboxIs"] = d.PAGE.list[key]["checkboxIs"] || '';
					d.PAGE.list[key]['breedname'] = '湖羊';
				}
			},
			QRY_CODE: 'LD_CREATURE_LIST',
			//			__PAGESIZE:10,
			QRY_PARAM: function () {
				return { 'customer_idx': getIdx };
			},
	};

	var initFun = function () {

		loadDistrictTree('node_0');
		__RESET_FORM("governMes");
		__CRT_GRID(init_table);
	};
	 
	$('#individual_list').on('change','.checkboxparent', function () {
		console.log($(".tree").find('.spanActive').length);
		if($(".tree").find('.spanActive').length==0){
			if($(this).is(':checked')){
				$(".checkchild").prop({'checked':true});
				var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } }];
				__RUN_STEP(step0, function (data) {
					checkboxData={};
					for(var i=0;i<data.LIST.length;i++){
						
						checkboxData[data.LIST[i].idx]='ture';
					} 
					console.log(checkboxData)
				})
			}else{
				$(".checkchild").removeAttr('checked');
				var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } }];
				__RUN_STEP(step0, function (data) {
					checkboxData={};
					for(var i=0;i<data.LIST.length;i++){
						
						checkboxData[data.LIST[i].idx]='false';
					} 
					console.log(checkboxData)
				})
			}
		}else{
			if($(this).is(':checked')){
				$(".checkchild").prop({'checked':true});
				if($(".tree").find('.spanActive').parent().parent().parent().hasClass('tree')){
					console.log('舍');
					var bardorm_idx = $(".tree").find('.spanActive').parent().attr('id').substr(5)+'%';
					var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx} }];
					__RUN_STEP(step0, function (data) {
						checkboxData={};
						for(var i=0;i<data.LIST.length;i++){	
							checkboxData[data.LIST[i].idx]='ture';
						} 
						console.log(checkboxData)
					})
				}else{
					var bar_idx = $(".tree").find('.spanActive').parent().attr('id').substr(5);
					var dorm_idx = $(".tree").find('.spanActive').parent().parent().parent().attr('id').substr(5);
					var bardorm_idx = dorm_idx+','+bar_idx+'%';
					var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx} }];
					__RUN_STEP(step0, function (data) {
						checkboxData={};
						for(var i=0;i<data.LIST.length;i++){	
							checkboxData[data.LIST[i].idx]='ture';
						} 
						console.log('栏')
						console.log(checkboxData)
					})
				}
			}else{
				$(".checkchild").removeAttr('checked');
				if($(".tree").find('.spanActive').parent().parent().parent().hasClass('tree')){
					console.log('舍');
					var bardorm_idx = $(".tree").find('.spanActive').parent().attr('id').substr(5)+'%';
					var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx} }];
					__RUN_STEP(step0, function (data) {
						checkboxData={};
						for(var i=0;i<data.LIST.length;i++){	
							checkboxData[data.LIST[i].idx]='false';
						} 
						console.log(checkboxData)
					})
				}else{
					var bar_idx = $(".tree").find('.spanActive').parent().attr('id').substr(5);
					var dorm_idx = $(".tree").find('.spanActive').parent().parent().parent().attr('id').substr(5);
					var bardorm_idx = dorm_idx+','+bar_idx+'%';
					var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_LIST', RCODE: 'LIST', DATA: { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx} }];
					__RUN_STEP(step0, function (data) {
						checkboxData={};
						for(var i=0;i<data.LIST.length;i++){	
							checkboxData[data.LIST[i].idx]='false';
						} 
						console.log('栏')
						console.log(checkboxData)
					})
				}

			}
		}
		
		

	})

	$('#individual_list').on('change','.checkchild', function () {
		if($(this).is(':checked')){
			$(this).val('ture');
		}else{
			$(this).val('false');
		}
		var data = __GET_FROM_VALUES('individual_list');
		data = __RMV_NULL_PROP(data);
		for(var key in data){
			checkboxData[key] = data[key]
		}
		delete checkboxData.undefined;
		console.log(checkboxData);
	})

	//信息树点击事件
	$("#node_0").on('click', function (event) {
		var el = $(event.target);
		if (!el.hasClass('fa')) return;
		event.stopPropagation();
		var node = el.parent().parent();
		if (el.hasClass('fa-plus-circle')) {
			el.removeClass('fa-plus-circle');
			el.addClass('fa-minus-circle');
			if (node.attr('loaded') == '1') {
				node.children('ul.node_ul').show();
			} else {
				//					console.log(node.attr('id'))
				loadDistrictTree(node.attr('id'));
			}
		} else {
			el.removeClass('fa-minus-circle');
			el.addClass('fa-plus-circle');
			node.children('ul.node_ul').hide();
		}

	});

	$("#node_0").on("click", function (event) {
		var el = $(event.target);
		var node = el.parent().parent().parent().parent().parent();
		var node_dorm = el.parent().parent().parent();
		$(".checkchild").removeAttr('checked');
		$(".checkboxparent").removeAttr('checked');
		if ($(node).hasClass("tree") && !el.hasClass("fa")) {			
			$("#node_0 span").removeClass('spanActive');
			el.addClass('spanActive');
			$('.edit_node_btn').removeClass('disabled');
			var bar_idx = el.parent().attr('id').substr(5);
			var dorm_idx = el.parent().parent().parent().attr('id').substr(5);
			var bardorm_idx = dorm_idx+','+bar_idx+'%';
			console.log(bardorm_idx);
			init_table.QRY_PARAM=function(){
				return { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx}
			};
			__CRT_GRID(init_table);
			var node_idx = el.parent().attr('id').substr(5);
			var step1 = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'idx': node_idx } }];
			__RUN_STEP(step1, function (data) {
				__SET_FORM_VALUES('governMes', data.LIST[0]);
			})
		};
		if ($(node_dorm).hasClass("tree") && !el.hasClass("fa")) {
			$("#node_0 span").removeClass('spanActive');
			el.addClass('spanActive');
			$('.edit_node_btn').removeClass('disabled');
			var bar_idx = el.parent().attr('id').substr(5);
			var bardorm_idx = bar_idx+'%';
			init_table.QRY_PARAM=function(){
				return { 'customer_idx': getIdx ,'bardorm_idx': bardorm_idx }
			};
			__CRT_GRID(init_table);
			var node_idx = el.parent().attr('id').substr(5);
			var step1 = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'idx': node_idx } }];
			__RUN_STEP(step1, function (data) {
				__SET_FORM_VALUES('governMes', data.LIST[0]);
			});
		}
	});

	

	$(".edit_node_btn").on('click', function () {
		var obj = __GET_FROM_VALUES('governMes');
		var step0 = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_bar_dorm', RCODE: 'ENTITY', DATA: obj }];
		__RUN_STEP(step0, function (data) {
			$.confirm({
				text: '操作成功',
				confirmButton: '确定',
				cancelButton: false,
			})
		})
	})

	$("#baradd-determine").click(function () {
		var baraddMes = __GET_FROM_VALUES('add-bar');
		console.log(baraddMes);
		baraddMes['customer_idx'] = getIdx;
		var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_bar_dorm', RCODE: 'ENTITY', DATA: baraddMes }];
		__RUN_STEP(step, function (d) {

			console.log(d, '新增栏');
			var addLi = '<li id="node_' + d.ENTITY.idx + '" class="node_li parent_li" loaded="0"><span><i class="fa fa-lg fa-plus-circle"></i>' + d.ENTITY.name + '</span></li>'
			$("#node_" + d.ENTITY.parent_id).children('ul').append(addLi);

		})
	})

	// 选择栏舍进行删除操作
	$(".delete_node_btn").click(function () {
		if (!$("#node_0 span").hasClass('spanActive')) {
			$.confirm({
				title: '操作失败',
				text: '请先点击选择需要删除的栏舍再进行本操作',
				confirmButton: '确定',
				cancelButton: false,
			})
		} else {
			$.confirm({
				title: '栏舍信息删除',
				text: '确定要删除数据' + $("#node_0 .spanActive").text(),
				confirm: function () {
					var node_idx = $("#node_0 .spanActive").parent().attr('id').substr(5);
					__RUN_ACT("/bardorm/delete", { 'idx': node_idx }, function (h) {
						$("#node_" + node_idx).remove();
						__RESET_FORM("governMes");
						$('.edit_node_btn').addClass('disabled');
					});
				},
				confirmButton: '确定',
				cancelButton: '取消',
			});

		};
	});

	// 数据重置
	$("#tree_reset").click(function () {
		$("#node_0 span").removeClass('spanActive');
		$(".edit_node_btn").addClass('disabled');
		__RESET_FORM("governMes");
		init_table.QRY_PARAM=function(){
			return { 'customer_idx': getIdx }
		};
		__CRT_GRID(init_table);
	});

	//新增
	$("#tree_new").click(function () {
		if (!$("#node_0 span").hasClass('spanActive')) {
			$("#addHomeModal").modal('show');
		} else {
			if (!$("#node_0 .spanActive").parent().parent().parent().hasClass('tree')) {
				$.confirm({
					title: '操作失败',
					text: '请选择舍再进行本操作',
					confirmButton: '确定',
					cancelButton: false,
				})
			} else {
				var node_idx = $("#node_0 .spanActive").parent().attr('id').substr(5);
				var home_option = '<option class="bar_option" pid="' + node_idx + '" value="' + node_idx + '">' + $("#node_0 .spanActive").text() + '</option>'
				$("#belong-home").html(home_option);
				$("#addBarModal").modal('show');
			}
		}
	})



	//新增舍点击确定
	$("#addHomeSave").click(function () {
		var addhomemes = __GET_FROM_VALUES('addHomeMes');
		//			console.log(addhomemes);
		addhomemes['parent_id'] = '0';
		addhomemes['customer_idx'] = getIdx;
		console.log(addhomemes)
		var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_bar_dorm', RCODE: 'ENTITY', DATA: addhomemes }];
		__RUN_STEP(step, function (h) {
			console.log(h.ENTITY);
			var addLi = '<li id="node_' + h.ENTITY.idx + '" class="node_li parent_li" loaded="0"><span><i class="fa fa-lg fa-plus-circle"></i>' + h.ENTITY.name + '</span></li>'
			$("#node_0").children('ul').append(addLi);
			__RESET_FORM('addHomeMes');
		});

	})

	// 栏舍迁移批量操作
	$(".all_control").click(function () {
		console.log(checkboxData);
		var animal_count = 0;
		for(var key in checkboxData){
			if(checkboxData[key]=='ture'){
				animal_count++ ;
			}
			
		};
		if(animal_count == 0){
			console.log(animal_count)
			$.confirm({
				title: '操作失败',
				text: '请先选择动物再进行栏舍迁移批量操作',
				confirmButton: '确定',
				cancelButton: false
			})
			return;
		}
		// if (!s.length) {
			
		// }
		$("#operateModal").modal('show');
		var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': '0', 'customer_idx': getIdx } }];
		__RUN_STEP(step, function (d) {
			console.log(d.LIST);
			var homemes = d.LIST;
			var homeOption = '';
			for (var h = 0; h < homemes.length; h++) {
				homeOption += '<option value="' + homemes[h].idx + '">' + homemes[h].name + '</option>';
			}
			$("#move-homes-name").html(homeOption);
			fullBarSelect();
			updatePeople($("#move-bar-name").find('option:selected').val());
		});

		$("#move-homes-name").change(function () {
			fullBarSelect();
			updatePeople($("#move-bar-name").find('option:selected').val());
		});
	})

	$("#moveHomeSave").click(function () {
		undateHomeMes()
		$(".checkchild").removeAttr('checked');
		$(".checkboxparent").removeAttr('checked');
	})

	//栏舍信息改变
	function undateHomeMes() {
		var homeName = $("#move-homes-name").val();
		var barName = $("#move-bar-name").val();
		var rowData = [];
		var arr = [];
		var animal_count = 0;
		arr.push(homeName);
		arr.push(barName);
		var bardorm_idx = arr.join(',');

		for(var key in checkboxData){
			if(checkboxData[key]=='ture'){
				var animal_obj={'idx' : key,'bardorm_idx': bardorm_idx};
				rowData.push(animal_obj);
				animal_count++ ;
			}
		};
		console.log(rowData);
		for(var i=0;i<rowData.length;i++){
			var step = [ { JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_creatureinfo', RCODE: 'ENTITY', DATA: rowData[i] } ]
			__RUN_STEP(step, function (data) {
				console.log(data.ENTITY);
				if(i==rowData.length){
					__CRT_GRID(init_table);
				}
			});
		}
	}

	//更新技术员负责人信息
	function updatePeople(idx) {
		__RUN_ACT('bardorm/list', { 'idx': idx }, function (t) {
			console.log(t[0]);
			$("#lanHeader").val(t[0].customer_name);
			$("#lanHeadtel").val(t[0].cutomer_phone);
			if (t[0].jsyname) {
				$("#lanMesName").val(t[0].jsyname);
			} else {
				$("#lanMesName").val(t[0].people);
			};
			if (t[0].jsyphone) {
				$("#lanMesTel").val(t[0].jsyphone);
			} else {
				$("#lanMesTel").val(t[0].people_phone);
			};
		});
	};

	function fullBarSelect() {
		var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': $("#move-homes-name").find('option:selected').val(), 'customer_idx': getIdx } }];
		__RUN_STEP(step0, function (d) {
			console.log(d.LIST);
			var homemes = d.LIST;
			var homeOption = '';
			for (var h = 0; h < homemes.length; h++) {
				homeOption += '<option value="' + homemes[h].idx + '">' + homemes[h].name + '</option>'
			};
			$("#move-bar-name").html(homeOption);
		});
	};



	var loadDistrictTree = function (id) {
		var parent_id = id.split('_')[1];

		var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': parent_id, 'customer_idx': getIdx } }];
		__RUN_STEP(step, function (d) {
			console.log(d.LIST);
			//			$('#'+id).html($('#treeview').tmpl(d));
			var p = $('#treeview').tmpl(d).appendTo('#' + id);
			$('#' + id).attr('loaded', '1');
		});
	}



	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
							loadScript("js/plugin/datatables/dataTables.select.min.js", initFun);
						});
					});
				});
			});
		});
	});


	var treefunction = function () {
		loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js");
	}
	treefunction();

</script>