<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
	.news li {
		position: relative;
		height: 30px;
	}

	.news li a {
		display: inline-block;
		vertical-align: middle;
		padding-right: 75px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	}

	.news li span {
		position: absolute;
		right: 0;
		width: 75px;
	}

	.news .lastli {
		list-style: none;
	}

	.news .lastli a {
		position: absolute;
		right: -75px;
		top: 0;
		width: auto;
	}

	.headpic img {
		width: 100%;
	}

	.headpic p {
		border-bottom: 1px solid #d1dae3;
		padding-bottom: 15px;
	}

	.bannercontainer,
	#nhmainbanner,
	.carousel-inner,
	.item {
		height: 100%;
	}

	.item img {
		height: 100% !important;
	}

	.rightpic {
		padding: 0 3px;
	}

	th {
		text-align: center;
	}


	/*滚动条样式*/

	/* Handle */

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(169, 169, 169, 0.4);
	}

	.toppadding {
		padding-top: 30px;
	}

	.companyface {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.companyface span {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		line-height: 30px;
		text-align: center;
		z-index: 1;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
	}

	#wid-id-6 table {
		border: none;
		border-collapse: collapse;
	}

	#wid-id-6 table th,
	td {
		border: none;
		text-align: center;
		padding: 5px;
	}

	#wid-id-6 table tr td:nth-child(n+4) span {
		color: #2196f3;
		display: block;
		border: 1px solid #2196f3;
		padding: 5px 8px;
		width: 80%;
		margin: 0 auto;
		border-radius: 18px;
	}

	#wid-id-6 table tr td:nth-child(5) span {
		border: 1px solid green;
		color: green;
	}

	.greenroad {
		float: right;
		height: 100%;
		position: relative;
		width: 280px;
	}


	#wid-id-6 .small-box {
		width: 10px;
		height: 10px;
		display: inline-block;
		background-color: #2196f3;
		margin-left: 10px;
	}

	#wid-id-6 .red-box {
		background-color: red;
	}

	.greenroad .hurrycharge {
		background-color: green;
		color: #fff;
		position: absolute;
		right: 10px;
		top: 5px;
		border-radius: 8px;
		line-height: 19px;
		height: 28px;
		padding: 5px 10px;
	}

	.noreduce {
		color: red;
	}

	.isreduce {
		color: #2196f3;
	}

	/*#nav .widget-body a {
		height: 50px;
		display: block;
		background-color: #2196f3;
		color: #fff;
		font-weight: 700;
		font-size: 30px;
		line-height: 50px;
		text-align: center;
		margin: 22px auto;
	}*/

	.float-nav {
		list-style: none;
		padding-left: 0;
		margin-bottom: 35px;
	}

	.float-nav li {
		display: inline-block;
		margin-right: 25px;
		background: url(../../img/nh/smallbar.jpg);
		height: 45px;
		line-height: 45px;
		border-radius: 8px;
	}

	.float-nav li a {
		height: 45px;
		display: block;
		padding-right: 20px;
		padding-left: 50px;
		font-size: 18px;
		color: #fff;
		font-weight: 300;
		background: url(../../img/nh/thingsapply.png) 10px no-repeat;
	}

	.float-nav li:nth-child(2) a {
		background-image: url(../../img/nh/thingssend.png);
	}

	.float-nav li:nth-child(3) a {
		background-image: url(../../img/nh/pigpic.png);
	}

	.float-nav li:nth-child(4) a {
		background-image: url(../../img/nh/danadmin.png);
	}

	.float-nav li:nth-child(5) a {
		background-image: url(../../img/nh/productadmin.png);
	}

	.float-nav li:nth-child(6) a {
		background-image: url(../../img/nh/ertagchange.png);
	}

	.float-nav li:nth-child(7) a {
		background-image: url(../../img/nh/ertagposition.png);
	}

	.float-nav li:nth-child(8) a {
		background-image: url(../../img/nh/ertagall.png);
	}

	.float-nav li:nth-child(9) a {
		background-image: url(../../img/nh/ertagreturn.png);
	}

	.pichide {
		display: none;
	}

	.picactive {
		display: block;
	}

	/*日期样式*/

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
</style>

<section class="">
	<div class="row headpic" style="margin: 0 0 30px;">

		<div class="col-sm-9 companypic">
			<div class="row bannercontainer">
				<div id="nhmainbanner" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#nhmainbanner" data-slide-to="0" class="active"></li>
						<li data-target="#nhmainbanner" data-slide-to="1"></li>
						<li data-target="#nhmainbanner" data-slide-to="2"></li>
						<li data-target="#nhmainbanner" data-slide-to="3"></li>
						<li data-target="#nhmainbanner" data-slide-to="4"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/nh/nhmainbanner6.jpg" alt="...">
						</div>
						<div class="item">
							<img src="img/nh/nhmainbanner7.jpg" alt="...">
						</div>
						<div class="item">
							<img src="img/nh/nhmainbanner3.jpg" alt="...">
						</div>
						<div class="item">
							<img src="img/nh/nhmainbanner4.jpg" alt="...">
						</div>
						<div class="item">
							<img src="img/nh/nhmainbanner5.jpg" alt="...">
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#nhmainbanner" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</a>
					<a class="right carousel-control" href="#nhmainbanner" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 companypic rightpic">
			<div class="companyface">
				<div id="nhmainbanner2" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#nhmainbanner2" data-slide-to="0" class="active"></li>
						<li data-target="#nhmainbanner2" data-slide-to="1"></li>
						<li data-target="#nhmainbanner2" data-slide-to="2"></li>
						<li data-target="#nhmainbanner2" data-slide-to="3"></li>
						<li data-target="#nhmainbanner2" data-slide-to="4"></li>
						<li data-target="#nhmainbanner2" data-slide-to="5"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/advertisement/advertisment06.jpg" />
						</div>
						<div class="item">
							<img src="img/advertisement/advertisment07.jpg" />
						</div>
						<div class="item">
							<img src="img/advertisement/advertisment04.jpg" />
						</div>
						<div class="item">
							<img src="img/advertisement/advertisment05.jpg" />
						</div>
						<div class="item">
							<img src="img/advertisement/advertisment08.jpg" />
						</div>
						<div class="item">
							<img src="img/advertisement/advertisment09.jpg" />
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#nhmainbanner2" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</a>
					<a class="right carousel-control" href="#nhmainbanner2" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</a>
				</div>
			</div>

		</div>

	</div>
</section>

<section class="">
	<div class="row">
		<div class="col-sm-12 col-md-5 newsheight">
			<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/politicallaw.png" />
					</span>
					<h2>政策法规</h2>
				</header>
				<div class="col">
					<div class="widget-body">
						<ul class="news">
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49666.html">财政部 农业部关于修订《农业资源及生态保护补助资金管理办法》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49665.html">财政部 农业部关于印发《动物防疫等补助经费管理办法》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49664.html">中华人民共和国农业部公告第2539号 港澳台居民参加全国执业兽医...</a>
								<span>2017-08-17</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/frfgView/49663.html">农业部关于印发《执业兽医资格考试保密管理规定》的通知</a>
								<span>2017-08-17</span>
							</li>
							<li class="lastli">
								<a href="http://www.zjahv.gov.cn/html/main/frfg/">查看更多>></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 newsheight">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/industrytrend.png" />
					</span>
					<h2>业界动态</h2>
				</header>
				<div class="col">
					<div class="widget-body">
						<ul class="news">
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/50056.html">2017年国家级畜禽基因库工作会议在淳安召开</a>
								<span>2017-09-29</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/50047.html">全省畜牧业经济扶持政策和项目管理培训班在衢州举行</a>
								<span>2017-09-29</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49985.html">我省开启能源科技有限公司被评为全国首批“畜禽养殖废弃物资源化利用集中处理 示范基地”</a>
								<span>2017-09-25</span>
							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49929.html">全国畜牧总站杨振海一行来我省调研指导畜牧产业发展</a>
								<span>2017-09-18</span>
							</li>
							<li class="lastli">
								<a href="http://www.zjahv.gov.cn/html/main/gzdt/">查看更多>></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-2 newsheight">
			<div class="jarviswidget" id="wid-id-1-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/industrytrend.png" />
					</span>
					<h2>银行产品</h2>
				</header>
				<div class="col" style="height: 187px;">
					<div class="widget-body">
						<ul class="news bank_product" style="list-style: none;padding: 0;">
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/50056.html" style="padding-right: 0px;">2017年国家级畜禽基因库工作会议在淳安召开</a>

							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/50047.html" style="padding-right: 0px;">全省畜牧业经济扶持政策和项目管理培训班在衢州举行</a>

							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49985.html" style="padding-right: 0px;">我省开启能源科技有限公司被评为全国首批“畜禽养殖废弃物资源化利用集中处理 示范基地”</a>

							</li>
							<li>
								<a href="http://www.zjahv.gov.cn/html/main/gzdtView/49929.html" style="padding-right: 0px;">全国畜牧总站杨振海一行来我省调研指导畜牧产业发展</a>

							</li>
							<li class="lastli">
								<a href="http://www.zjahv.gov.cn/html/main/gzdt/">查看更多>></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-12 col-md-5">
			<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/pricelist.png" />
					</span>
					<h2>羊肉价格走势图</h2>
				</header>
				<div class="col">
					<div class="headpic widget-body">
						<p>湖羊价格</p>
						<img src="img/nh/huyang.png" />
					</div>
				</div>

			</div>
		</div>
		<div class="col col-sm-12 col-md-5">
			<div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/pricelist.png" />
					</span>
					<h2>饲料价格走势图</h2>
				</header>
				<div class="col cao_cantainer">
					<div class="headpic widget-body">
						<p>草料</p>
						<img src="img/nh/caoliao.png" class="caoliao" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-2">
			<div class="jarviswidget" id="wid-id-2-1" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/industrytrend.png" />
					</span>
					<h2>保险产品</h2>
				</header>
				<div class="col insure_cantainer">
					<div class="widget-body">
						<ul class="news insure_product" style="list-style: none;padding: 0;">
							<li>
								<a href="#page/nh/insure/insuranceManagement.html" style="padding-right: 0px;">财产保险</a>

							</li>
							<li>
								<a href="#page/nh/insure/insuranceManagement.html" style="padding-right: 0px;">畜禽养殖保险</a>

							</li>
							<li>
								<a href="#page/nh/insure/insuranceManagement.html" style="padding-right: 0px;">大牲畜保险</a>

							</li>
							<li>
								<a href="#page/nh/insure/insuranceManagement.html" style="padding-right: 0px;">特种养殖保险</a>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul class="float-nav">
				<li>
					<a>物资申报</a>
				</li>
				<li>
					<a href="#page/sheep/individual_admin_sheep.html">档案管理</a>
				</li>
				<li>
					<a href="#page/sheep/singlePattern.html">生产管理</a>
				</li>
				<li>
					<a href="#page/sheep/individual_admin_sheep.html">耳标替换</a>
				</li>
				<li>
					<a>耳标定位</a>
				</li>
				<li>
					<a>耳标汇总</a>
				</li>
				<li>
					<a>耳标回收</a>
				</li>
			</ul>
		</div>

		<div class="col col-md-12 col-lg-6">
			<div class="jarviswidget" id="wid-id-6" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/nh/beelmes.png" />
					</span>
					<h2>预警信息</h2>
					<div class="greenroad">
						<span class="small-box red-box"></span>
						<h2>未处理</h2>
						<span class="small-box"></span>
						<h2>已处理</h2>
						<h2 class="hurrycharge">绿色通道(急诊)</h2>
					</div>
				</header>
				<div class="col" id="zjcaintainer">
					<div class="widget-body">
						<table width="100%" cellpadding="10">
							<tr>
								<th>状态</th>
								<th>异常预警</th>
								<th>处理情况</th>
								<th>咨询</th>
								<th>服务</th>
							</tr>
							<tr>
								<td>
									<span class="small-box red-box"></span>
								</td>
								<td>体温异常预警</td>
								<td class="noreduce">未处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="small-box red-box"></span>
								</td>
								<td>淘汰异常预警</td>
								<td class="noreduce">未处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="small-box red-box"></span>
								</td>
								<td>产仔异常预警</td>
								<td class="noreduce">未处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="small-box red-box"></span>
								</td>
								<td>饲料异常预警</td>
								<td class="noreduce">未处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="small-box"></span>
								</td>
								<td>环境异常预警</td>
								<td class="isreduce">已处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="small-box"></span>
								</td>
								<td>奶质异常预警</td>
								<td class="isreduce">已处理</td>
								<td>
									<span>在线咨询</span>
								</td>
								<td>
									<span>专家服务</span>
								</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-12 col-md-6" style="margin-bottom: 30px;">
			<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false" style="margin-bottom:0;">
				<header class="headcheck">
					<span class="widget-icon">
						<img src="img/nh/temppic.png" />
					</span>
					<h2>温度预警</h2>
					<!--<div class="greenroad" style="width: 440px;">					
						<h2>场内编号</h2>
						<select name="" id="">
							<option value="1" selected="">2545</option>
							<option value="2" selected="">2546</option>
							<option value="3" selected="">2547</option>
						</select>
						<input type="text" placeholder="开始时间" id="start1_time"/>
						<h2>至</h2>
						<input type="text" placeholder="结束时间" id="end1_time"/>					
					</div>-->

				</header>
				<div class="col" id="temputercantainer">
					<div class="headpic widget-body">
						<img src="img/nh/yujing.png" />
					</div>
				</div>

			</div>
		</div>
		<div class="col col-sm-12 col-md-6" style="display: none;">
			<div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/nh/tongji.png" />
					</span>
					<h2>进食饮水统计</h2>
				</header>
				<div class="col">
					<div class="headpic widget-body">
						<img src="img/nh/eatdrink.png" />
					</div>
				</div>

			</div>
		</div>
		<div class="col col-sm-12 col-md-6">
			<div class="jarviswidget" id="wid-id-9" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/nh/environmenttest.png" />
					</span>
					<h2>环境监测</h2>
				</header>
				<div class="col">
					<div class="headpic widget-body">
						<img src="img/nh/tempature.png" />
					</div>
				</div>

			</div>
		</div>
		<div class="col col-sm-12 col-md-6">
			<div class="jarviswidget" id="wid-id-10" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/nh/environmenttest.png" />
					</span>
					<h2>空气质量监测</h2>
				</header>
				<div class="col">
					<div class="headpic widget-body">
						<img src="img/nh/kongqi.png" />
					</div>
				</div>

			</div>
		</div>


		<div class="col-sm-12">
			<div class="jarviswidget" id="wid-id-5" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<img src="img/nh/setbarmes.png" />
					</span>
					<h2>存栏概况</h2>
				</header>
				<div class="col">
					<div class="widget-body" id="animalMes">
						<table class="table table-bordered" id="sheepTable">
							<thead>
								<tr>
									<th style="width: 200px;">舍号</th>
									<th>栏数量</th>
									<th>动物种类</th>
									<th>品种</th>
									<th>存栏量</th>

								</tr>
							</thead>
							<tbody id="sheepTr">

							</tbody>
							<tfoot>
								<tr>
									<td colspan="5" style="text-align: left;">统计：舍数量：
										<span id="dormNum"></span> ;栏数量：
										<span id="barNum"></span> ;存栏总量：
										<span id="allNum"></span> ;</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<script id="individual_check" type="text/x-jquery-tmpl">
	<tr>
        <td>${NAME}</td>
        <td>${cnt}</td>
        <td>种羊(母)</td>
        <td>湖羊</td>
        <td>${cnt_num}</td>
	</tr>
</script>


<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">

	var getIdx = $('#__customer_idx').attr("value");
	if (!getIdx) {
		getIdx = '266f6435-7039-483d-8690-b347d702252c';
	}

	//轮播图
	$('.carousel').carousel({
		interval: 2000
	});


	//日期选择

	var pageInit = function () {
		loadNewsData('0', 'wid-id-1');
		loadNewsData('1', 'wid-id-2');
		loadBankProductData();

		var imglength = $(".caoliao").length;
		$(".caoliao").load(function () {
			if (imglength) {
				console.log()
				$(".insure_cantainer").css('height', $(".cao_cantainer").outerHeight())
			}
		})
		$("#temputercantainer").css('height', $("#zjcaintainer").outerHeight())
		$(window).resize(function () {
			$(".insure_cantainer").css('height', $(".cao_cantainer").outerHeight())
			$("#temputercantainer").css('height', $("#zjcaintainer").outerHeight())
		});
	}



	function loadNewsData(type, container) {
		var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_NEWS_MAIN', RCODE: 'LIST', DATA: { 'type': type } }]
		__RUN_STEP(step0, function (d) {
			console.log(d.LIST);
			var list = d.LIST;
			var policyLi = '';
			for (var i = 0; i < list.length; i++) {
				policyLi += '<li><a href="/#page/news/newstample.html?idx=' + list[i].idx + '">' + list[i].headline + '</a><span>' + list[i].posted_date.substr(0, 10) + '</span></li>'
			};
			policyLi += '<li class="lastli"><a href="/#page/news/newsEditList.html?type=' + type + '">查看更多</a></li>'
			$("#" + container).find('ul').html(policyLi);
		});
	}

	function loadBankProductData(cdn) {
		if (!cdn) cdn = { isDelete: 1 };
		else cdn.isDelete = 1;
		__RUN_ACT('bankproduct/list', cdn, function (d) {
			console.log(d, '银行产品信息');
			var product_option = '';
			if (d.length <= 4) {
				for (var i = 0; i < d.length; i++) {
					product_option += '<li><a href="#page/nh/bank_mes/bank_mes.html" style="padding-right: 0;">' + d[i].product_name + '</a></li>';
				}
			} else {
				for (var i = 0; i < 4; i++) {
					product_option += '<li><a href="#page/nh/bank_mes/bank_mes.html" style="padding-right: 0;">' + d[i].product_name + '</a></li>';
				}
			}


			$(".bank_product").html(product_option)
		});
	}

	pageSetUp();
	var pagefunction = function () {


		var step = [{ JSCODE: 'LOAD', CODE: 'LD_CUSTOMER_HOME', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } }];
		__RUN_STEP(step, function (d) {
			console.log(d.LIST);
			var dormNum = d.LIST.length;
			var barNum = 0;
			var allNum = 0;
			for (var i = 0; i < d.LIST.length; i++) {
				for (var key in d.LIST[i]) {
					if (!d.LIST[i][key]) {
						d.LIST[i][key] = 0;
					}
				}
				if (d.LIST[i].cnt) {
					barNum += d.LIST[i].cnt;
				}
				if (d.LIST[i].cnt_num) {
					allNum += d.LIST[i].cnt_num;
				}
			}

			$("#sheepTr").html($("#individual_check").tmpl(d.LIST))
			$("#dormNum").text(dormNum);
			$("#barNum").text(barNum);
			$("#allNum").text(allNum);
		});

	}
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);
	pageInit();
</script>