<style>
	#product_statistics,
	#insure_bar {
		border-collapse: collapse;
	}

	#product_statistics th,
	#product_statistics td,
	#insure_bar th,
	#insure_bar td {
		border: 1px solid #666;
		text-align: center;
		height: 32px;
	}

	#insure_bar input,
	#product_statistics input {
		text-align: center;
	}

	#individual_list_wrapper{
		overflow: hidden;
	}

    .smart-form{
        color: #333;
    }

</style>



<section class="" id="all_ms">


	<!-- START ROW -->

	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget">

				<header>
					<span class="widget-icon">
						<i class="fa fa-edit"></i>
					</span>
					<h2>温度统计 </h2>
				</header>
				<div  class="form-horizontal">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						<input type="hidden" name="policy_number">
						<form action="" id="smart-form-register" class="smart-form">

							<fieldset>
								<table class="table table-bordered" id="sheepTable">
                                    <thead>
                                        <tr>
                                            <th>舍号</th>
                                            <th>监测时间</th>
                                            <th>最高温度（°C）</th>
                                            <th>最低温度（°C）</th>
                                            <th>正常指标（°C）</th>
                                            <th>存栏总数（头）</th>
                                            <th>健康数量（头）</th>
                                            <th>生病数量（头）</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sheepTr">
                                        <tr>
                                            <td>1#空怀羊舍</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2#空怀羊舍</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3#育成羊舍</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

							</fieldset>
					    </form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->


			</div>

</section>

<script id="individual_check" type="text/x-jquery-tmpl">
	<tr>
        <td>${name}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
	</tr>
</script>

<script>
	var customer_idx = $('#__customer_idx').val();
	if (!customer_idx) {
		customer_idx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
	};



	pageSetUp();

	var pageInitFunction = function () {
            var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': '0', 'customer_idx': customer_idx } }];
            __RUN_STEP(step, function (d) {
                console.log(d.LIST);
                $("#sheepTr").html($("#individual_check").tmpl(d.LIST))
                
            });
        
	}

	

	
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
							loadScript("js/plugin/datatables/dataTables.select.min.js", pageInitFunction);
						});
					});
				});
			});
		});
	});

	
</script>