<style>
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.clearfix {
		zoom: 1
	}
	/*搜索按钮*/

	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #ffffff;
		background: #2196f3;
		border-radius: 5px;
		margin-left: 10px;
	}
	/*jqgrid表头设置*/

	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		vertical-align: middle;
	}

	.ui-jqgrid td.jqgrid-rownum {
		border: 1px solid rgb(221, 221, 221);
	}
	body.smart-style-6 .table>thead>tr>th {
		padding: 16px 0px !important;
	}
	.ui-jqgrid .ui-jqgrid-resize{
		height: 30px!important;
		width: 5px;
	}
	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}
</style>

<div id="bank_from" class="smart-form" novalidate="novalidate">
	<div class="form-horizontal">
		<fieldset>
			<section class="col col-md-3 col-sm-12">
				<label class="col-sm-3 control-label">查找银行</label>
				<div class="col col-sm-9">
					<input type="text" name="bank_name" placeholder="请输入银行名称" class="form-control">
				</div>
			</section>
			
			<section class="col col-md-3 col-sm-12">
				<a href="javascript:void(0)" id="personage_from_btn" class="readerSearch">查询</a>
				<a href="javascript:void(0)" id="add_insurance" class="readerSearch">新增</a>
			</section>
		</fieldset>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">


		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!-- 删除人员 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除银行：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			__RUN_ACT('bank/init', {}, function (data) {
				run_jqgrid_function(data);
			});
		});
		/*表单查询按钮事件*/
		$('#personage_from_btn').on('click', function () {
			var data = __GET_FROM_VALUES('bank_from');
			if(data.bank_name){
				data.bank_name = "%"+data.bank_name+"%";
			}
			data = __RMV_NULL_PROP(data);
			__RUN_ACT('bank/init', data, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			})
		});
		function run_jqgrid_function(jqgrid_data) {
			
			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: [ 'idx', '银行名称', '联系人', '联系电话', '座机号码', '联系地址', '成立时间', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', sortable: false, align: "left", hidden: true },
					{ name: 'bank_name', index: 'bank_name', sortable: false, align: "left", width: '100px' },
					{ name: 'link_man', index: 'link_man', sortable: false, align: "left",width: '30px' },
					{ name: 'link_mobile', index: 'link_mobile', sortable: false, align: "left",width: '45px' },
					{ name: 'link_number', index: 'link_number', sortable: false, align: "left",width: '45px' },
					{ name: 'address', index: 'address', sortable: false, align: "left",width: '80px' },
					{ name: 'establishment_time', index: 'establishment_time', sortable: false, align: "left",width: '35px' },
					{ name: 'act', index: 'act', sortable: false, align: "center", width: '80px' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				shrinkToFit:true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-search'></i>查看</button>";
						ed = "<button class='btn btn-xs btn-default' onclick=\"updataInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
						//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"removeInfo('"+jqgrid_data[i].idx+"')\"><i class='fa fa-times'></i>删除</button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						if ($('#__uidx').val() == 'user1') {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be });
						}else{
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ed + ca });
						}
					}
				},
				editurl: "dummy.html",
				rownumbers: true,
				caption: false,
				multiselect: false,
				autowidth: true
			});



			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");




			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			});

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});


		} // end function

	}
	$('#add_insurance').on('click', function () {
		// var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer', RCODE: 'ENTITY', DATA: { "scale_type": "0" } }]
		// __RUN_STEP(step, function (d) {
		// 	location.hash = 'page/nh/farmer/individual.html?customer_idx=' + d['ENTITY'].idx;
		// });
			location.hash = 'page/nh/farmer/bank.html';
	});
	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/bank.html?bank_idx=' + rowData.idx+'&ischeck=1';
	}
	function updataInfo(idx){
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/bank.html?bank_idx=' + rowData.idx;
	}
	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.bank_name);
		$('#removerPersonage_btn').attr('idx', rowData.idx);
	}
	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');
		
			__RUN_ACT('bank/delete', {'idx':idx}, function (data) {
				__RUN_ACT('bank/init', {}, function (data) {
					$("#jqgrid").jqGrid('setData', data);
					$("#jqgrid").trigger("reloadGrid");
					$('#mymodel').modal('hide');
				});
			});
	})

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>