<style>
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.clearfix {
		zoom: 1
	}

	.searchCompany {
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
	}



	.searchCompany span {
		display: block;
		float: left;
		height: 30px;
		margin-right: 10px;
		line-height: 30px;
	}

	.searchCompanyText {
		display: block;
		float: left;
		width: 222px;
		height: 30px;
	}

	.searchCompanyText input {
		display: block;
		width: 200px;
		float: left;
		height: 30px;
		outline: none;
		-webkit-appearance: none;
		border-radius: 0;
		background: none;
	}

	.condition {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.condition select {
		height: 30px;
	}

	.businessType span {
		padding: 0 10px;
		height: 30px;
	}

	.quantityInterval input,
	.quantityInterval span {
		float: left;
		height: 30px;
		line-height: 30px;
	}

	.quantityInterval input {
		margin: 0 5px;
		width: 25%;
	}

	/*搜索按钮*/

	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #ffffff;
		background: #2196f3;
		border-radius: 5px;
		margin-left: 10px;
	}

	/*jqgrid表头设置*/

	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		vertical-align: middle;
	}

	.ui-jqgrid td.jqgrid-rownum {
		border: 1px solid rgb(221, 221, 221);
	}

	body.smart-style-6 .table>thead>tr>th {
		padding: 16px 0px !important;
	}

	.ui-jqgrid .ui-jqgrid-resize {
		height: 30px!important;
		width: 5px;
	}

	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">

	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-info">
				<strong>提示:</strong> 查询所有企业
			</div>
			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="company_from" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">查找规模场</label>
										<div class="col col-sm-9">
											<input type="hidden" name="scale_type" value="1" />
											<input type="text" class="form-control" name="register_name" placeholder="请输入规模场名称" />
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4" id="hide_district">
										<label class="col-sm-3 control-label">所属地区</label>
										<div class="col col-sm-9">
											<div id="cityTree">
											</div>
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label" style="text-align:center;">年存栏量</label>
										<div class="col col-sm-4">
											<input type="number" name="breeding_stock1" class="form-control" />
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<input type="number" name="breeding_stock2" class="form-control" />
										</div>
									</section>

								</section>

							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" value="新增" data-toggle="modal" data-target="#addmodal" />
								<input type="button" class="btn btn-primary" value="查询" id="company_from_btn" />
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<div class="tableTail clearfix">
	<span id="systemTime" style="float: left;height: 30px; font-size: 20px; line-height: 30px; margin-left: 5px;">当前时间：2017—06—19—13:23</span>
</div>
<button type="button" style="float: right; margin-right: 20px;margin-top: 15px;" class="btn btn-primary btn-lg">打印结果</button>

<div id="addmodal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">添加</h4>
			</div>
			<div class="modal-body">
				<p>请选择养殖类型：</p>
				<div>
					<input type="checkbox" name="culture_style" value="3" />猪
					<input type="checkbox" name="culture_style" value="3A" />牛
					<input type="checkbox" name="culture_style" value="3B" />羊
					<input type="checkbox" name="culture_style" value="3C" />鸡
					<input type="checkbox" name="culture_style" value="3D" />鸭
					<input type="checkbox" name="culture_style" value="3E" />鹅
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="add_company">添加</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除节点 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除规模场：</p>
				<span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerCompany_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var uid = $('#__uidx').attr("value");
	if (uid == '1234') {
		$("#hide_district").hide();
	}
	_Import_Html('cityTree', 'page/common/cityTree.html');
	//系统时间
	function CurentTime() {
		var now = new Date();

		var year = now.getFullYear();       //年
		var month = now.getMonth() + 1;     //月
		var day = now.getDate();            //日

		var hh = now.getHours();            //时
		var mm = now.getMinutes();          //分
		var ss = now.getSeconds();           //秒

		var clock = year + "-";

		if (month < 10)
			clock += "0";

		clock += month + "-";

		if (day < 10)
			clock += "0";

		clock += day + " ";

		if (hh < 10)
			clock += "0";

		clock += hh + ":";
		if (mm < 10) clock += '0';
		clock += mm;

		return (clock);
	}
	$('#systemTime').html('当前时间：' + CurentTime());

	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			if (uid == '1234') {
				__RUN_ACT('farmer/query', { "scale_type": "1", 'district_idx': '0,12,208,1328%' }, function (data) {
					run_jqgrid_function(data);
				});
			} else {
				__RUN_ACT('farmer/query', { "scale_type": "1" }, function (data) {
					run_jqgrid_function(data);
				});
			}

		});
		/*表单查询按钮事件*/
		$('#company_from_btn').on('click', function () {
			var data = __GET_FROM_VALUES('company_from');
			data = __RMV_NULL_PROP(data);
			if (data.register_name) {
				data.register_name = '%' + data.register_name + '%';
			}
			__RUN_ACT('farmer/query', data, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			})
		});
		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['idx', '规模场名称', '法人代表', '年存栏数', '固定电话', '联系地址', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', sortable: false, align: "left", hidden: true },
					{ name: 'register_name', index: 'register_name', sortable: false, align: "left", width: '120px' },
					{ name: 'name', index: 'name', sortable: false, align: "left", width: '40px' },
					{ name: 'breeding_stock', index: 'breeding_stock', sortable: false, align: "right", width: '40px' },
					{ name: 'telephone', index: 'telephone', sortable: false, align: "left", width: '50px' },
					{ name: 'domicile', index: 'domicile', sortable: false, align: "left", width: '150px' },
					{ name: 'act', index: 'act', sortable: false, align: "center", width: '80px' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-search'></i>查看</button>";
						ed = "<button class='btn btn-xs btn-default' onclick=\"updataInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
						//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						if ($('#__uidx').val() == 'user1' || uid == '1234') {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be });
						} else {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ed + ca });
						}
					}
				},
				editurl: "dummy.html",
				rownumbers: true,
				caption: false,
				multiselect: false,
				autowidth: true,

			});


			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");




			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			})

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function


	}
	$('#add_company').on('click', function () {
		// var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer', RCODE: 'ENTITY', DATA: { "scale_type": "1" } }]
		// __RUN_STEP(step, function (d) {
		// 	location.hash = 'page/nh/farmer/scale-farm.html?customer_idx=' + d['ENTITY'].idx;
		// });
		var culture_style = '';
		$('#addmodal [name="culture_style"]').each(function (i, elm) {
			if ($(elm).is(':checked')) {
				culture_style += $(elm).val() + ',';
			}
		})
		culture_style = culture_style.substr(0,culture_style.lastIndexOf(','));
		__RUN_ACT('farmer/detailsAdd', { "scale_type": "1", "user_idx": $('#__uidx').val() }, function (d) {
			location.hash = 'page/nh/farmer/scale-farm.html?customer_idx=' + d.idx + '&culture_style=' + culture_style;
		})
	});
	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/scale-farm.html?customer_idx=' + rowData.idx + '&ischeck=1';
	}
	function updataInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/scale-farm.html?customer_idx=' + rowData.idx;
	}
	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.register_name);
		$('#removerCompany_btn').attr('idx', rowData.idx);


	}
	$('#removerCompany_btn').on('click', function () {
		var idx = $('#removerCompany_btn').attr('idx');
		var step = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_customer', RCODE: 'ENTITY', DATA: { "idx": idx, "valid_state": "0" } }];
		__RUN_STEP(step, function (d) {
			__RUN_ACT('farmer/query', { "scale_type": "1" }, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
				$('#mymodel').modal('hide');
			});
		});
	})

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>