<style>
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.clearfix {
		zoom: 1
	}

	/*搜索按钮*/

	.readerSearch {
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #ffffff;
		background: #2196f3;
		border-radius: 5px;
		margin-left: 10px;
	}

	/*jqgrid表头设置*/

	.ui-jqgrid .ui-jqgrid-htable th div {
		text-align: center;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		vertical-align: middle;
	}

	.ui-jqgrid td.jqgrid-rownum {
		border: 1px solid rgb(221, 221, 221);
	}

	body.smart-style-6 .table>thead>tr>th {
		padding: 16px 0px !important;
	}

	.ui-jqgrid .ui-jqgrid-resize {
		height: 30px!important;
		width: 5px;
	}

	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-info">
				<strong>提示:</strong> 查询各个区域的包片兽医
			</div>
			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						<form action="" id="veterinary_from" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">查找包片兽医</label>
										<div class="col col-sm-9">
											<input type="text" name="name" placeholder="请输入姓名" class="form-control">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">身份证号</label>
										<div class="col col-sm-9">
											<input type="text" name="id_no" placeholder="请输入身份证号" class="form-control">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label">单位名称</label>
										<div class="col col-sm-9">
											<input type="text" name="company" placeholder="请输入单位名称" class="form-control">
										</div>
									</section>
								</section>

							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" value="新增" id="add_insurance" />
								<input type="button" class="btn btn-primary" value="查询" id="personage_from_btn" />
							</footer>
						</form>
					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!-- 删除人员 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>确认删除包片兽医：</p>
				<span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerPersonage_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			__RUN_ACT('wrap/query', {}, function (data) {

				run_jqgrid_function(data);
			});
		});
		/*表单查询按钮事件*/
		$('#personage_from_btn').on('click', function () {
			var data = __GET_FROM_VALUES('veterinary_from');
			data = __RMV_NULL_PROP(data);
			__RUN_ACT('wrap/query', data, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			})
		});
		function run_jqgrid_function(jqgrid_data) {
			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['idx', '姓名', '身份证号码', '单位名称', '应急联系人', '应急联系电话', '联系电话', '创建人', '修改人', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', sortable: false, align: "left", hidden: true },
					{ name: 'name', index: 'name', sortable: false, align: "left", width: '30px' },
					{ name: 'id_no', index: 'id_no', sortable: false, align: "left", width: '65px' },
					{ name: 'company', index: 'company', sortable: false, align: "left", width: '60px' },
					{ name: 'emergency_contact', index: 'emergency_contact', sortable: false, align: "left", width: '35px' },
					{ name: 'emergency_phone', index: 'emergency_phone', sortable: false, align: "left", width: '40px' },
					{ name: 'link_mobile', index: 'link_mobile', sortable: false, align: "left", width: '40px' },
					{ name: 'creator', index: 'creator', sortable: false, align: "left", width: '30px' },
					{ name: 'modifier', index: 'modifier', sortable: false, align: "left", width: '30px' },
					{ name: 'act', index: 'act', sortable: false, align: "center", width: '70px' }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				shrinkToFit: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"viewInfo('" + cl + "')\"><i class='fa fa-search'></i>查看</button>";
						ed = "<button class='btn btn-xs btn-default' onclick=\"updataInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
						//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"removeInfo('"+jqgrid_data[i].idx+"')\"><i class='fa fa-times'></i>删除</button>";  
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						if ($('#__uidx').val() == 'user1') {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be });
						} else {
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ed + ca });
						}

					}
				},
				editurl: "dummy.html",
				rownumbers: true,
				caption: false,
				multiselect: false,
				autowidth: true,

			});



			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");




			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			});

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});


		} // end function

	}
	$('#add_insurance').on('click', function () {
		// var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_customer', RCODE: 'ENTITY', DATA: { "scale_type": "0" } }]
		// __RUN_STEP(step, function (d) {
		// 	location.hash = 'page/nh/farmer/individual.html?customer_idx=' + d['ENTITY'].idx;
		// });
		location.hash = 'page/nh/farmer/veterinary.html';
	});
	function viewInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/veterinary.html?veterinary_idx=' + rowData.idx + '&ischeck=1';
	}
	function updataInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		location.hash = 'page/nh/farmer/veterinary.html?veterinary_idx=' + rowData.idx;
	}
	function removerInfo(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);
		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.name);
		$('#removerPersonage_btn').attr('idx', rowData.idx);


	}
	$('#removerPersonage_btn').on('click', function () {
		var idx = $('#removerPersonage_btn').attr('idx');

		__RUN_ACT('wrap/delete', { 'idx': idx }, function (data) {
			__RUN_ACT('wrap/query', {}, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
				$('#mymodel').modal('hide');
			});
		});
	})

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>