<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面畜牧局单位可以查看动物免疫详情
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">

						<form action="" id="credit_query_form" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label">所属地区</label>
										<div class="col col-sm-10">
											<div id="cityTree">
											</div>
										</div>
									</section>
									<section class="col col-md-5 col-sm-12 col-lg-5">
										<label class="col-sm-3 control-label" style="text-align:center;">佩标日期</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-4 control-label">畜种</label>
										<div class="col col-sm-6">
											<select name="bank_name" class="form-control">
												<option value="猪">猪</option>
												<option value="牛">牛</option>
											</select>
										</div>
									</section>
								</section>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">公司名称</label>
										<div class="col col-sm-9">
											<input type="text" class="form-control" placeholder="请填写公司名称">
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
											<label class="col-sm-3 control-label">采集方式</label>
											<div class="col col-sm-9">
												<select name="" class="form-control" >
													<option value="PC">PC</option>
													<option value="PDA">PDA</option>
													<option value="APP">App</option>
												</select>
											</div>
										</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">免疫种类</label>
										<div class="col col-sm-9">
											<select name="" class="form-control">
												<option value="口蹄疫疫苗">口蹄疫疫苗</option>
												<option value="高致病行猪繁殖与呼吸综合征疫苗">高致病行猪繁殖与呼吸综合征疫苗</option>
												<option value="猪瘟疫苗">猪瘟疫苗</option>
											</select>
										</div>
									</section>
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-3 control-label">免疫期次</label>
										<div class="col col-sm-9">
											<select name="" class="form-control">
												<option value="首免">首免</option>
												<option value="二免">二免</option>
												<option value="三免">三免</option>
											</select>
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>区划</th>
									<th>免疫日期</th>
									<th>公司名称</th>
									<th>畜种</th>
									<th>批号</th>
									<th>舍号</th>
									<th>存栏量</th>
									<th>免疫数量</th>
									<th>免疫日龄</th>
									<th>免疫种类</th>
									<th>免疫名称</th>
									<th>疫苗期次</th>
									<th>剂量</th>
									<th>防疫员</th>
									<th>采集方式</th>
									<th>查看</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->

	<div id="credit_info" title="信贷产品详情" class="ajax-win"></div>


</section>


<script id="edit_cell" type="text/html">
	<div>
		<a href="javascript:void(0)" title="审核" class="edit_cell" {{if return_apply=='0'||approval_results>0}}style="pointer-events: none;color:#ccc;"{{/if}} onclick="query_credit('${idx}','${data}')"><i class="fa fa-search"></i></a>
	</div>
</script>


<script type="text/javascript">
	var pagefunction = function () { uxinit(); }
	var credit_tbl = null;
	var listData = [
		{
			'zoning': '西湖区',
			'immunization_date': '2017-11-7',
			'corporate_name': '新旺养殖场',
			'breed': '猪',
			'batch_number':'20170630',
			'house_number': '1',
			'livestock_stock': '145',
			'immune_number': '12',
			'immune_age': '6',
			'immune_species': '口蹄疫疫苗',
			'immune_name': '口蹄疫疫苗001',
			'immune_stage': '首免',
			'dose': '10mml',
			'immune_worker': '首免',
			'acquisition_mode': 'PC'
		},{
			'zoning': '西湖区',
			'immunization_date': '2017-11-7',
			'corporate_name': '新旺养殖场',
			'breed': '猪',
			'batch_number':'20170630',
			'house_number': '1',
			'livestock_stock': '145',
			'immune_number': '12',
			'immune_age': '6',
			'immune_species': '口蹄疫疫苗',
			'immune_name': '口蹄疫疫苗001',
			'immune_stage': '首免',
			'dose': '10mml',
			'immune_worker': '首免',
			'acquisition_mode': 'PC'
		},{
			'zoning': '西湖区',
			'immunization_date': '2017-11-7',
			'corporate_name': '新旺养殖场',
			'breed': '猪',
			'batch_number':'20170630',
			'house_number': '1',
			'livestock_stock': '145',
			'immune_number': '12',
			'immune_age': '6',
			'immune_species': '口蹄疫疫苗',
			'immune_name': '口蹄疫疫苗001',
			'immune_stage': '首免',
			'dose': '10mml',
			'immune_worker': '首免',
			'acquisition_mode': 'PC'
		}
	]

	function _optionRender(data, type, row) {
		return $('#edit_cell').tmpl({ idx: data.idx, return_apply: data.return_apply, approval_results: data.approval_results, data: JSON.stringify(data) }).html();
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "表中没有可用数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		credit_tbl = $('#credit_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "zoning" },
				{ data: "immunization_date" },
				{ data: "corporate_name" },
				{ data: "breed" },
				{ data: "batch_number" },
				{ data: "house_number" },
				{ data: "livestock_stock" },
				{ data: "immune_number" },
				{ data: "immune_age" },
				{ data: "immune_species" },
				{ data: "immune_name" },
				{ data: "immune_stage" },
				{ data: "dose" },
				{ data: "immune_worker" },
				{ data: "acquisition_mode" },
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});

		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

	function uxinit() {
		_Import_Html('cityTree', 'page/common/cityTree.html')
		$('[name="posted_date1"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		$('[name="posted_date2"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		loadData();

		$('#credit_qry').click(function () {
			return;
			var d = __GET_FROM_VALUES('credit_query_form');
			var cdn = {};
			for (var p in d) {
				if (!d[p]) {
					continue
				} else {
					if (p == 'product_no') {
						cdn[p] = '%' + d[p] + '%';
					} else if (p == 'product_name') {
						cdn[p] = '%' + d[p] + '%';
					} else {
						cdn[p] = d[p];
					}
				}
			}
			cdn.bank_idx = getQueryString('bank_idx');
			loadData(cdn);
		});

		$('#reset_qry').click(function () {
			__RESET_FORM('credit_query_form');
		});

		$('#credit_new').click(function () {
			// window.location.hash = 'page/nh/insure/insuranceClaim.html'
		});

	}

	var tree_loaded = false;
	function loadData(cdn) {

		_crtGrid(listData);

	}

	function query_credit(idx, data) {
		var data = JSON.parse(data);
		data.return_apply = '0';
		data = JSON.stringify(data);
		// $.confirm({
		// 	text: "确定要撤销申请么?",
		// 	confirm: function () {

		// 	},
		// 	confirmButton: '确定',
		// 	cancelButton: '取消',
		// });
	}

	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
							loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
								loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
							});
						});
					});
				});
			});
		});
	});

</script>