<!--按钮组-->
<div  class="col-sm-12 col-md-12 col-lg-12" class="pull-left clearfix" style="margin-bottom: 30px;">
			<a href="#" id="dialog_link" class="btn bg-color-blueDark txt-color-white"> 新增 </a>
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-pencil"></i>修改</a> 
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-remove"></i>删除</a>
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-repeat"></i>重置</a>
			
</div>
<!--搜素组-->
<div id="">	
<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">射频标签号</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>
<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">状态</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>
<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">二维码</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>

</div>
<a class="btn bg-color-blueDark txt-color-white" style="margin-left: 13px;"><i class="icon-repeat"></i>查询</a>
<a class="btn bg-color-blueDark txt-color-white"><i class="icon-repeat"></i>清空</a>

<!--表单和树-->



<section id="widget-grid" class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 30px;">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-3">
			<div id="wid-id-1" class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>区域信息树</h2>
				</header>

				<div>
					<div class="jarviswidget-editbox"> </div>

					<!-- widget content -->
					<div class="widget-body">
						<div class="tree" id="node_0">							
						</div>
					</div>

				</div>

			</div>
		</article>

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-9">
		<!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
			<div id="wid-id-3" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>区域列表信息</h2>
				</header>

				<div>
					<div class="jarviswidget-editbox"> </div>

					<div class="widget-body no-padding">
						<table id="district_list" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th width="60px;">序号</th>
									<th width="80px;">编号</th>
									<th>名称</th>
									<th>类型</th>
									<th data-hide="phone">区号</th>
									<th>行政区划</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

			</div>
		</article>

	</div>
</section>
<!--弹出框-->
<div id="dialog_simple" title="Dialog Simple Title">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>
</div>
<!--弹出框结束-->
<script id="treeview" type="text/x-jquery-tmpl">
<ul class="node_ul">	
{{each LIST}}							
	<li id="node_${idx}" class="node_li parent_li" loaded="0">
		<span><i class="fa fa-lg fa-plus-circle"></i>${name}</span>		
	</li>
{{/each}}		     
</ul>
</script>

<script type="text/javascript">
	
	var initFun=function(){
		
		// var data={reader_code:'222',customer_id:'333',SIM:'13789098899',status:'1',date:'2017-09-09 12:23:23'};
	//	var rf_tag_number = 
		var step=[
			{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
			// {JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
		];
		SELECT__RUN_STEP(step,function(d){
			//alert(d.message);
			pagefunction(d.detail);
		});
	}
		var initFun=function(){

		__CRT_GRID({
			EL:$('#district_list'),
			COLUMNS: [
				{ data: null,targets: 0},
				{ data: "code" },
				{ data: "name" },
				{ data: "suffix" },
				{ data: "area_code" },
				{ data: "district_code" }
			],
			QRY_CODE:'LD_DISTRICT_PAGE',
//			__PAGESIZE:10,
			QRY_PARAM:function(){
				return {};
				return {pid:1};
			}
		});

		loadDistrictTree('node_0');
		
		$("#node_0" ).on('click',function(event) {
			var el=$(event.target);
			if(!el.hasClass('fa')) return;
			event.stopPropagation();	
			var node=el.parent().parent();
			if(el.hasClass('fa-plus-circle')){
				el.removeClass('fa-plus-circle');
				el.addClass('fa-minus-circle');	
				if(node.attr('loaded')=='1'){
					node.children('ul.node_ul').show();
				}else
					loadDistrictTree(node.attr('id'));
			}else{
				el.removeClass('fa-minus-circle');
				el.addClass('fa-plus-circle');
				node.children('ul.node_ul').hide();
			}
		});
	}

	var loadDistrictTree=function(id){
		var pid=id.split('_')[1];
		var step=[ {JSCODE:'LOAD',CODE:'LD_DISTRICT_PAGE',RCODE:'LIST',DATA:{pid:pid}} ];
		__RUN_STEP(step,function(d){
			//console.log(d.LIST);			
			var p=$('#treeview').tmpl(d).appendTo('#'+id);
			$('#'+id).attr('loaded','1');
		});
	}

	
	pageSetUp();	
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js",function(){
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js",function(){
							loadScript("js/plugin/datatables/dataTables.select.min.js",initFun);
						});
					});					
				});
			});
		});
	});
	var pagefunction = function() {

		$('#dialog_link').click(function() {
			$('#dialog_simple').dialog('open');
			return false;
	
		});
	
		$('#dialog_simple').dialog({
			autoOpen : false,
			width : 600,
			resizable : false,
			modal : true,
			title : "新",
			buttons : [{
				html : "<i class='fa fa-trash-o'></i>&nbsp; Delete all items",
				"class" : "btn btn-danger",
				click : function() {
					$(this).dialog("close");
				}
			}, {
				html : "<i class='fa fa-times'></i>&nbsp; Cancel",
				"class" : "btn btn-default",
				click : function() {
					$(this).dialog("close");
				}
			}]
		});
	
	

		
	};


	pagefunction();

</script>