<!-- widget grid -->
<section  class="">
    
        <!-- row -->
        <div class="row">
            
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <div class="alert alert-info">
                    <strong>提示:</strong> 全部鸡舍在此新增
                </div>
    
                <div class="jarviswidget well">
                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">
                            
                            <form action="" id="win_dorm_form" class="smart-form">
                                <header>舍信息</header>
    
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                                <input type="text" name="shename" placeholder="舍名称">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="batch" placeholder="批次号">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="birthdate" placeholder="出生日期">
                                            </label>
                                        </section>
                                    </div>
    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="select">
                                                <select name="species">
                                                    <option value="0" >选择动物种类</option>
                                                    <option value="蛋鸡">蛋鸡</option>
                                                    <option value="肉鸡">肉鸡</option>
                                                    <option value="种鸡">种鸡</option>

                                                </select> <i></i> 
                                            </label>
                                        </section>
    
                                        <section class="col col-4">
                                            <label class="select">
                                                <select name="breed" id="animal_type">
                                                    <option value="0" selected="" disabled="">选择动物品种</option>
                                                </select> <i></i> 
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="growth_cycle" placeholder="生长周期">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="long_sum" placeholder="鸡笼量">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="ji_sum" placeholder="鸡数量">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="principal" placeholder="舍负责人">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="principal_phone" placeholder="联系方式">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="select">
                                                <select name="technician" id="technician_name">                                                   
                                                </select> <i></i> 
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-user-md"></i>
                                                <input type="text" name="technician_phone" id="technician_phone" placeholder="联系方式" readonly>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
    
                                
    
                                <footer>
                                    <input type="button" class="btn btn-default" id="win_dorm_close" value="关闭" />
                                    <input type="button" class="btn btn-primary" id="do_dorm_save" value="保存" />
                                </footer>
                            </form>
    
                        </div>
                        <!-- end widget content -->
                    </div>
                </div>
                <!-- end widget div -->
    
            </article>
            <!-- WIDGET END -->
            
        </div>
        <!-- end row -->
    </section>
    
    <script type="text/javascript">
    //ajax-win
    var win_id='';
    
    function win_init(){
        $('#win_dorm_close').click(function(btn){
            __RESET_FORM('win_dorm_form');
            house_admin_info_dorm.dialog("close");
        });
    
        $("[name='birthdate']").datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});

        $('#do_dorm_save').click(function(btn){
            var data=__GET_FROM_VALUES('win_dorm_form');
            data.customer_idx = getIdx;
            data.p_idx = '0';
            console.log(data)
            var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_longshe',RCODE:'ENTITY',DATA:data}  ]; 
             __RUN_STEP(step,function(t){  
                var pid = $("#do_dorm_save").attr('pid');
                __RESET_FORM('win_dorm_form');
                house_admin_info_dorm.dialog("close");
                $("[widget_id="+pid+"]").siblings('ul').remove();
                var step01 = [{ JSCODE: 'LOAD', CODE: 'LD_T_LONGSHE', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } }];
                __RUN_STEP(step01, function (d) {
                    console.log(d.LIST);
                    for(var i=0;i<d.LIST.length;i++){
                        if(d.LIST[i].longname){
                            d.LIST[i].name = d.LIST[i].longname;
                        }else{
                            d.LIST[i].name = d.LIST[i].shename;
                        }
                    }

                    renderTree(d.LIST);
                    $("#ppidTable").show();
                    $("#clickPpid").html($("#ppidTr").tmpl({data:d.LIST}));
                    var allNum=0;
                    for(var i=0;i<d.LIST.length;i++){
                        allNum=allNum -0 + (d.LIST[i].ji_sum -0);
                    }
                    $("#allSave").html('<span>存栏量汇总：'+allNum+'</span>')
                });


            });

        });

        load_animal_type();
        initTechnician('technician_name','technician_phone');
    }
    
    function load_animal_type(){
        var step=[ 
            {JSCODE:'LOAD',CODE:'LD_DIC_CHILD',RCODE:'DIC',DATA:{type_code:'TS-JI'}}
        ];
        __RUN_STEP(step,function(d){
            
            var animal_option = '';
            for(var i=0;i<d.DIC.length;i++){
                animal_option+='<option value='+d.DIC[i].name+'>'+d.DIC[i].name+'</option>'
            }
            $("#animal_type").append(animal_option);
        });
    }
    
    
    
    
    loadScript("js/plugin/jquery-form/jquery-form.min.js", win_init);
    </script>
    