<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style>
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">

	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面可对农户养殖个体信息进行管理
			</div>

			<div class="jarviswidget well jarviswidget-sortable" role="widget">
				<!-- widget div-->
				<div role="content">
					<div class="widget-body no-padding">

						<div id="search_mes" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-2 control-label" style="text-align:center;">舍名</label>
										<div class="col col-sm-4">
											<select name="homeidx" class="form-control" id="searchHome" style="margin-right: 0;">
											</select>
										</div>
										<label class="col-sm-2 control-label" style="text-align:center;">笼号</label>
										<div class="col col-sm-4">
											<select name="baridx" class="form-control" id="searchBar">
											</select>
										</div>
									</section>
									<section class="col col-md-6 col-sm-12 col-lg-4">
										<label class="col-sm-3 control-label" style="text-align:center;">建档时间</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control daylist" name="create_time1" id="create_time1" style="box-sizing:border-box;" placeholder="年-月-日"
														 type="text">
													</div>
												</div>
											</div>
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control daylist" name="create_time2" id="create_time2" style="box-sizing:border-box;" placeholder="年-月-日"
														 type="text">
													</div>
												</div>
											</div>
										</div>
									</section>
									<section class="col col-md-2 col-sm-12 col-lg-2">
										<label class="col-sm-3 control-label">状态</label>
										<div class="col col-sm-9">
											<select name="entering_status" id="entering_status" class="form-control">
												<option value="pchoose">请选择</option>
												<option value="0">建档</option>
												<option value="5">迁入</option>
												<option value="10">授精</option>
												<option value="20">产仔</option>
												<option value="30">断奶</option>
												<option value="40">淘汰</option>
												<option value="50">死亡</option>
												<option value="60">迁出</option>
											</select>
										</div>
									</section>
									<section class="col col-md-2 col-sm-12 col-lg-2">
										<label class="col-sm-4 control-label">场内编号</label>
										<div class="col col-sm-8">
											<input type="text" name="animal_no" class="form-control" id="animal_no" placeholder="请输入" maxlength="15" />
										</div>
									</section>

								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-primary" id="animal-indiv-add" value="新增" />
								<input type="button" class="btn btn-primary" id="animal-indiv-search" value="查询" />
							</footer>
						</div>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->
	</div>

	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
			<div id="wid-id-3" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false"
			 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
			 data-widget-sortable="false">
				<div>
					<div class="jarviswidget-editbox"> </div>

					<div class="widget-body no-padding">
						<table id="individual_list" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th width="60px;">序号</th>
									<th>区域</th>
									<th>规模场名称</th>
									<th>场内编号</th>
									<th>舍号</th>
									<th>栏号</th>
									<th>动物种类</th>
									<th>品种</th>
									<th>射频RFID编号</th>
									<th>操作员</th>
									<th>区域负责人</th>
									<th>建档时间</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>


</section>

<script id="edit_cell" type="text/x-jquery-tmpl">
	<div>	
		<a href="#page/nh/individual_admin/individual_check.html?idx=${idx}&customer_idx=${customer_idx}&ischeck=1" title="查看" class="edit_cell" ><i class="fa fa-search"></i></a>	
		<a href="#page/nh/individual_admin/individual_check.html?idx=${idx}&customer_idx=${customer_idx}" title="修改" class="edit_cell" ><i class="fa fa-edit"></i></a>
		<a href="javascript:void(0)" title="删除" class="edit_cell" onclick="remove_individual('${animal_no},${idx}')"><i class="fa fa-minus-circle"></i></a>
	</div>
</script>

<script id="check_cell" type="text/x-jquery-tmpl">
	<div>
		<a href='#page/nh/individual_admin/individual_check.html?idx=${idx}&customer_idx=${customer_idx}&ischeck=1' title="查看" class="edit_cell" ><i class="fa fa-search"></i></a>		
	</div>
</script>


<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	//表格数据
	pageSetUp();

	var getIdx = getQueryString('customer_idx');
	if (!getIdx) {
		getIdx = $("#__customer_idx").val();
	};
	if (!getIdx) {
		getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
	}
	var initTable = {
		EL: $('#individual_list'),
		COLUMNS: [
			{ data: null, targets: 0 },
			{ data: "district_name" },
			{ data: "register_name" },
			{ data: "animal_no" },
			{ data: "dorm_name" },
			{ data: "bar_name" },
			{ data: "animal_type" },
			{ data: "breedname" },
			{ data: "rfid" },
			{ data: "people_name" },
			{ data: "district_man" },
			{ data: "create_time" },
			{ data: "entering_status" },
			{ data: null, defaultContent: '', render: _optionRender }
		],
		URL: 'creature/list',
		callback: function (d) {
			for (var i = 0; i < d.list.length; i++) {
				d.list[i].animal_type = '能繁母猪';
				d.list[i].district_man = '金明';
				switch (d.list[i].entering_status) {
					case '0': d.list[i].entering_status = '建档';
						break;
					case '5': d.list[i].entering_status = '迁入';
						break;
					case '10': d.list[i].entering_status = '授精';
						break;
					case '20': d.list[i].entering_status = '产仔';
						break;
					case '30': d.list[i].entering_status = '断奶';
						break;
					case '40': d.list[i].entering_status = '淘汰';
						break;
					case '50': d.list[i].entering_status = '死亡';
						break;
					case '60': d.list[i].entering_status = '迁出';
						break;
				};
			};
		},
		QRY_PARAM: function () {
			return { 'customer_idx': '0' };
		}
	};

	function _optionRender(data, type, row) {//console.log(arguments);
		if (!$("#__customer_idx").val()) {
			return $('#check_cell').tmpl(data).html();
		} else {
			return $('#edit_cell').tmpl(data).html();
		};
	}

	var initFun = function () {
		scarefarmSelect();
		fullSelectBar();
		citys();
		crtGrid(initTable);
		$("#animal-indiv-add").on('click', function () {
			location.hash = 'page/chicken/individual_check_chicken.html'
		});
	}


	function scarefarmSelect() {
		if ($("#__uidx").val() != 'user1') {
			$('.scareFarmCheck').css('display', 'none')
		} else {
			var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_CUSTOMER', RCODE: 'LIST', DATA: {} }];
			__RUN_STEP(step0, function (data) {
				console.log(data);
				var scareOption = '<option value>请选择</option>';
				for (var i = 0; i < data.LIST.length; i++) {
					scareOption += '<option value="' + data.LIST[i].idx + '">' + data.LIST[i].register_name + '</option>'
				}
				$("#register_name").html(scareOption);
			});
		};
	}

	//城市联动
	__RUN_ACT('/farmer/queryCity', { "pid": "12" }, function (data) {
		var html = '<option value="">--请选择--</option>'
		$('#cityLinkage select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#cityLinkage select').first().append(html);
		})
		$('#cityLinkage select').first().nextAll().hide();
	});

	function citys() {
		$('#cityLinkage select').on('change', function () {
			var that = this;
			__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function (data) {
				$(that).nextAll().hide();
				$(that).nextAll().html('');
				if (data.length > 0) {
					$(that).next().show();
				}
				var html = '<option value="">--请选择--</option>'
				$(that).next().append(html);
				data.forEach(function (value, index) {
					html = '<option value="' + value.idx + '">' + value.name + '</option>';
					$(that).next().append(html);
				})
			});
		})
	}

	//栏舍下拉框

	function fullSelectBar() {
		var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': '0', 'customer_idx': getIdx } }];
		__RUN_STEP(step0, function (d) {
			console.log(d.LIST);
			var homeMes = '<option value="0">请选择</option>';
			for (var i = 0; i < d.LIST.length; i++) {
				homeMes += '<option value="' + d.LIST[i].idx + '">' + d.LIST[i].name + '</option>'
			}
			$("#searchHome").html(homeMes);
			$("#searchBar").html('<option value="0">请选择</option>');
		});

		$("#searchHome").change(function () {
			console.log($(this).find('option:selected').val())
			if ($(this).val() != '0') {
				var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': $(this).val() } }];
				__RUN_STEP(step0, function (d) {
					console.log(d.LIST);
					var homemes = d.LIST;
					var homeOption = '';
					for (var h = 0; h < homemes.length; h++) {
						homeOption += '<option value="' + homemes[h].idx + '">' + homemes[h].name + '</option>';
					}
					$("#searchBar").html(homeOption);
				});
			} else {
				$("#searchBar").html('<option value="0">请选择</option>');
			}
		})
	}


	//日期选择
	$('#create_time1').datetimepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		pickDate: true,
		pickTime: false,
		minView: 'month',
		todayBtn: true,
		clearBtn: true,
		todayHighlight: true
	});
	$('#create_time2').datetimepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		pickDate: true,
		pickTime: false,
		minView: 'month',
		todayBtn: true,
		clearBtn: true,
		todayHighlight: true
	});
	/* 限制起始时间和结束时间 */
	$('#create_time1').on('change', function () {
		$('#create_time2').datetimepicker('setStartDate', $(this).val());
	})
	$('#create_time2').on('change', function () {
		$('#create_time1').datetimepicker('setEndDate', $(this).val());
	})
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");
	$('.daylist').click(function () {
		$(".clear").text('清空');
	});



	//查询
	$('#animal-indiv-search').on('click', function () {
		var data = __GET_FROM_VALUES('search_mes');
		if ($("#entering_status").val() == 'pchoose') {
			delete data.entering_status;
		};
		if ($("#searchHome").val() != '0') {
			var arr = [];
			arr.push(data.homeidx);
			arr.push(data.baridx);
			data.bardorm_idx = arr.join(',') + '%';
		};
		delete data.homeidx;
		delete data.baridx;
		delete data.register_name;
		data.customer_idx = '0';
		data = __RMV_NULL_PROP(data);

		console.log(data);
		initTable.QRY_PARAM = function () {
			return data;
		};
		crtGrid(initTable);

	});





	function remove_individual(register_name) {
		console.log(register_name.split(',')[0]);
		$.confirm({
			title: '动物个体删除',
			text: '删除动物个体' + register_name.split(',')[0],
			confirm: function () {
				var step = [{ JSCODE: 'SAVE', CODE: 'REMOVE', CLZ: 't_creatureinfo', DATA: { 'idx': register_name.split(',')[1] } }];
				__RUN_STEP(step, function (d) {
					crtGrid(initTable);
				});
			},
			confirmButton: '确定',
			cancelButton: '取消'
		})
	}


	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
							loadScript("js/plugin/datatables/dataTables.select.min.js", function () { initFun() });
						});
					});
				});
			});
		});
	});
</script>