
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" href="css/viewer.min.css">
<style type="text/css">
	.upload_pic {
		background: url(../../img/relatepic_upload.png) no-repeat 10px 10px;
	}

	.scale-farm-name {
		position: absolute;
		right: 20px;
		top: 0;
	}

	.pic_box {
		text-align: center;
		width: 139px;
		height: 139px;
		float: left;
		margin-left: 15px;
		border: 1px solid #bcbcbc;
		position: relative;
		background: url(../../img/3_03.gif) no-repeat center;
	}

	.deRequest {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		text-align: center;
		z-index: 1;
		cursor: pointer;
		font-size: 20px;
		display: none;
		background-color: #fff;
	}

	.zoRequest {
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		text-align: center;
		z-index: 1;
		cursor: pointer;
		font-size: 20px;
		display: none;
		background-color: #fff;
		padding: 2px;
	}

	#jiben_mes .head_data2 {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-left: 0;
	}

	.pic_box img {
		width: 100%;
		height: 100%;
		display: none;
	}

	.pic_box p {
		position: absolute;
		top: 139px;
		left: -1px;
		width: 100%;
		text-align: center;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;
		color: #fff;
		padding: 0 1px;
	}

	/*表格样式*/
	.ui-pg-input {
		width: auto !important;
	}
	th{
		text-align: center;
	}

	/*生产流程*/
	.process {
		padding:25px 0;
		margin: 20px 25px 20px 25px;
		text-align: center;
	}
	.process ul {
		display: inline-block;
	}
	.process li {
		list-style: none;
		float: left;
		width: 80px;
		height: 100px;
		margin: 0 5px;
		border-radius: 5px;
		cursor:pointer;
		/*background: rgba(0,0,0,0.5);*/
	}

	.process li div {
		background-color: #2196f3;
		height: 80px;
		width: 80px;
		border-radius: 5px;
		vertical-align: middle;
	    display: table-cell;
	    text-align: center;
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	}
	.process li span {
		font-size: 14px;
		line-height: 20px;
		color: #000;
		display: block;
		border-radius: 5px;
		width: 100%;
		 border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	}
	.process li:nth-child(1) span{
		background-color: #329ff6;
		color: #fff;
	} 

	/*动物生产信息样式*/
	.tab-hide{
		display: none;
	}
	.tab-active{
		display: block;
	}
	.scale-farm-name{
		position: absolute;
		right: 20px;
		top: 0;
	}

	.kind_box{
		padding: 5px 8px;
		float: left;
		border: 1px solid rgb(169,169,169);
		border-radius: 5px;
		margin-left: 20px;
		background-color: #cbcbcb;
	}

	.parent_mes{
		padding: 10px 5px;
		display: inline-block;
	}
	/*日期样式*/		
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;	
		display: none;	
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;	
		transform: none; 
	}
	.datetimepicker.dropdown-menu {	
		background: #FFFFFF;
	}

</style>
	

<div id="jiben_mes" style="background: #fff;padding: 10px 13px;">
	<div id="detail_mes">

		<p class="upload_pic" style="font-size: 16px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;position: relative;">
			<span>个体照片</span>
			<a class="scale-farm-name"></a>
		</p>
		<div class="animal_pic" id="animal_pic" style="height: 160px;margin-bottom: 30px;">
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data1" onchange="upload('head_data1','show1')" />
				<img src="" id="show1" />
				<p style="width: 139px;top: 137px;left: -1px;">正面照</p>
			</div>
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data2" onchange="upload('head_data2','show2')" />
				<img src="" id="show2" />
				<p style="width: 139px;top: 137px;left: -1px;">头部特写照(带耳标)</p>
			</div>
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data3" onchange="upload('head_data3','show3')" />
				<img src="" id="show3" />
				<p style="width: 139px;top: 137px;left: -1px;">侧面照</p>
			</div>
		</div>			
		<p class="" style="font-size: 16px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;">基本信息</p>
		<div style="padding: 8px 0;min-height: 400px;"  class="form-horizontal">
			<form action="" id="smart-form-register" class="smart-form">
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">场内编号</label>
						<div class="col col-sm-7">
							<input type="text" name="animal_no" placeholder="场内编号" class="form-control" >
						</div>
					</section>
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">品种</label>
						<div class="col col-sm-4">
							<select  name="pigc"  class="form-control" >
								<option value="4" >蛋鸡</option>
								<option value="5" >肉鸡</option>
								<option value="6" >种鸡</option>
							</select>
						</div>
						<div class="col col-sm-4">
							<select  name="breed"  id="breed" class="form-control" >
								<option value="">请选择</option>
								<option value="1">坝上长尾鸡</option>
								<option value="1">边鸡</option>
								<option value="1">大骨鸡</option>
								<option value="1">林甸鸡</option>
								<option value="1">浦东鸡</option>
								<option value="1">狼山鸡</option>
								<option value="1">溧阳鸡</option>
								<option value="1">鹿苑鸡</option>
							</select>
						</div>
					</section> 
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">生产种类</label>
						<div class="col col-sm-7">
							<select  name="production_type" placeholder="生产种类" class="form-control" >
								<option value="1">蛋鸡</option>
								<option value="2">肉鸡</option>
								<option value="3">种鸡(雄)</option>
								<option value="4">种鸡(雌)</option>
							</select>
						</div>
					</section> 
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">射频RFID编号</label>
						<div class="col col-sm-7">
							<input type="text" name="rfid" placeholder="RFID编号" class="form-control" >
						</div>
					</section>                                                
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">出生日期</label>
						<div class="col col-sm-7" style="position: relative;">
							<input type="text" name="birthday" placeholder="出生日期" id="birthday" class="form-control" readonly>
							<p class="fa fa-calendar" style="position: absolute; right: 17px; top: 30%; "></p>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">出生地点</label>
						<div class="col col-sm-7">
							<input type="text" name="birthday_district" placeholder="出生地点" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">品种来源</label>
						<div class="col col-sm-7">
							<input type="text" name="breed_source" id="breed_source" placeholder="品种来源" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">已产蛋数</label>
						<div class="col col-sm-7">
							<input type="text" name="chnum" id="" placeholder="已产蛋数" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">建档时间</label>
						<div class="col col-sm-7">
							<input type="text" name="create_time" placeholder="建档时间" class="form-control" >
						</div>
					</section>
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">生产状态</label>
						<div class="col col-sm-7">
							<select  name="production_state"  class="form-control" >
								<option value="0">雏鸡</option>
								<option value="1">青年鸡</option>
								<option value="2">产蛋鸡</option>
							</select>
						</div>
					</section> 
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">当前产量</label>
						<div class="col col-sm-7">
							<input type="text" name="week_output" placeholder="当前产量" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">平均产能</label>
						<div class="col col-sm-7">
							<input type="text" name="average_produce" placeholder="平均产能" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">畜龄</label>
						<div class="col col-sm-7">
							<input type="text" name="mylivestock_age" id="livestock_age" placeholder="畜龄" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">月龄</label>
						<div class="col col-sm-7">
							<input type="text" name="mymonth_age" id="month_age" placeholder="月龄" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">日龄</label>
						<div class="col col-sm-7">
							<input type="text" name="myday_age" id="date_age" placeholder="日龄" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">育种值</label>
						<div class="col col-sm-7">
							<input type="text" name="breeding_value" placeholder="育种值" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">产蛋次</label>
						<div class="col col-sm-7">
							<input type="text" name="production_num"  placeholder="胎次" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">产蛋次率</label>
						<div class="col col-sm-7">
							<input type="text" name="production_lv"  placeholder="胎次率" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">所在舍号</label>
						<div class="col col-sm-7">
							<select  name="hut_id" id="barHome-name" class="form-control" ></select>										
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">所在笼号</label>
						<div class="col col-sm-7">
								<select  name="cote_id" id="bar-name" class="form-control" ></select>	
						</div>
					</section>
					
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">笼负责人</label>
						<div class="col col-sm-7">
							<input type="text" name="lanHeader" id="lanHeader" placeholder="栏负责人" class="form-control" readonly>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">联系方式</label>
						<div class="col col-sm-7">
							<input type="text" name="lanHeadtel" id="lanHeadtel" placeholder="联系方式" class="form-control" readonly>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">笼技术员</label>
						<div class="col col-sm-7">
							<input type="text" name="lanMes-name" id="lanMes-name" placeholder="栏技术员" class="form-control" readonly>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">联系方式</label>
						<div class="col col-sm-7">
							<input type="text" name="lanMes-tel" id="lanMes-tel" placeholder="联系方式" class="form-control" readonly>
						</div>
					</section>
				</section>
			</form>
		</div>

	<div class="" style="height: 100px; width: 100%;">
		<p style="padding: 10px 30px 0;">优选配种</p>
		<ul style="display: inline-block;list-style: none; ">
			<li class="kind_box">坝上长尾鸡(98)</li>
			<li class="kind_box">边鸡(98)</li>
			<li class="kind_box">大骨鸡(98)</li>
			<li class="kind_box">林甸鸡(98)</li>
			<li class="kind_box">浦东鸡(98)</li>
			<li class="kind_box">狼山鸡(98)</li>
			<li class="kind_box">溧阳鸡(98)</li>
			<li class="kind_box">鹿苑鸡(98)</li>
		</ul>
	</div>
	<div id="grandParent">
		<div class="form-horizontal">
			<form action="" id="smart-form-parent" class="smart-form">
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">母代</label>
						<div class="col col-sm-7">
							<input type="text" name="manimal_no" id="manimal_no" placeholder="母代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">品种</label>
						<div class="col col-sm-7">
							<input type="text" name="mbreed" id="mbreed" placeholder="品种" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">育种值</label>
						<div class="col col-sm-7">
							<input type="text" name="mbreeding_value" id="mbreeding_value" placeholder="育种值" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="mgene_number" id="mgene_number" placeholder="基因号" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">祖父代</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="mgrandf" placeholder="祖父代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="mgrandfj" placeholder="基因号" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">祖母代</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="mgrandm" placeholder="祖母代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="mgrandmj" placeholder="基因号" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">父代</label>
						<div class="col col-sm-7">
							<input type="text" name="panimal_no" id="panimal_no" placeholder="父代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">品种</label>
						<div class="col col-sm-7">
							<input type="text" name="pbreed" id="pbreed" placeholder="品种" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">育种值</label>
						<div class="col col-sm-7">
							<input type="text" name="pbreeding_value" id="pbreeding_value" placeholder="育种值" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="pgene_number" id="pgene_number" placeholder="基因号" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">祖父代</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="pgrandf" placeholder="祖父代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="pgrandfj" placeholder="基因号" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">祖母代</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="pgrandm" placeholder="祖母代" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">基因号</label>
						<div class="col col-sm-7">
							<input type="text" name="" id="pgrandmj" placeholder="基因号" class="form-control" >
						</div>
					</section>
				</section>
			</form>
		</div>		
	</div>

	<div id="animal_record" style="margin-bottom: 30px;">
		<div class="row process">
			<ul>
				<li>
					<div><img src="img/insemination.png"/></div>
					<span>授精</span>
				</li>
				<li>
					<div><img src="img/quarantine.png"/></div>
					<span>免疫</span>
				</li>
				<li>
					<div><img src="img/nh/add_chicken.png"/></div>
					<span>产蛋</span>
				</li>
				<li>
					<div><img src="img/nh/leave_tempreture.png"/></div>
					<span>脱温</span>
				</li>
				<li>
					<div><img src="img/deadpic.png"/></div>
					<span>死亡</span>
				</li>
				<li>
					<div><img src="img/Inputmanage.png"/></div>
					<span>投入品管理</span>
				</li>
				<li>
					<div><img src="img/nh/chicken_move.png"/></div>
					<span>迁移</span>
				</li>
				<li>
					<div><img src="img/immune.png"/></div>
					<span>检疫</span>
				</li>
				<li>
					<div><img src="img/eliminate.png"/></div>
					<span>淘汰</span>
				</li>
				<li>
					<div><img src="img/temperature.png"/></div>
					<span>体温</span>
				</li>
				<li>
					<div><img src="img/eat.png"/></div>
					<span>进食</span>
				</li>
				<li>
					<div><img src="img/drink.png"/></div>
					<span>饮水</span>
				</li>
			</ul>
		</div>				
		<div class="checkMes">							
			
			<div class="tab-content">
				<div id="insemination" title="授精" class="tab-hide tab-active">
					<table id="inse_jqgrid"></table>
					<div id="pinse_jqgrid"></div>
				</div>
				<div id="pregnancy" title="免疫" class="tab-hide">
					<table id="immu_jqgrid"></table>
					<div id="pimmu_jqgrid"></div>
				</div>
				<div id="reproductionMes" title="产仔" class="tab-hide">
					<table id="pro_jqgrid"></table>
					<div id="ppro_jqgrid"></div>
				</div>
				<div id="weaning" title="断奶" class="tab-hide">
					<table id="wea_jqgrid"></table>
					<div id="pwea_jqgrid"></div>
				</div>
				<div id="deadpic" title="死亡" class="tab-hide">
					<table id="dea_jqgrid"></table>
					<div id="pdea_jqgrid"></div>
				</div>
				<div id="inputmanage" title="投入品管理" class="tab-hide">
					<table id="inp_jqgrid"></table>
					<div id="pinp_jqgrid"></div>
				</div>
				<div id="transfer" title="迁移" class="tab-hide">
					<table id="tra_jqgrid"></table>
					<div id="ptra_jqgrid"></div>
				</div>
				<div id="quarantine" title="检疫" class="tab-hide">
					<table id="qua_jqgrid"></table>
					<div id="pqua_jqgrid"></div>
				</div>
				<div id="eliminate" title="淘汰" class="tab-hide">
					<table id="eli_jqgrid"></table>
					<div id="peli_jqgrid"></div>
				</div>
				
				<div id="temperature" title="体温" class="tab-hide">
					<table id="tem_jqgrid"></table>
					<div id="ptem_jqgrid"></div>
				</div>
				<div id="eat" title="进食" class="tab-hide">
					<table id="eat_jqgrid"></table>
					<div id="peat_jqgrid"></div>
				</div>
				<div id="drink" title="饮水" class="tab-hide">
					<table id="dri_jqgrid"></table>
					<div id="pdri_jqgrid"></div>
				</div>
			</div>
			
			
		</div>
	
	</div>	
	<button class="btn btn-group" style="background: #2196f3;color: #fff;" id="determine-btn">确定</button>
	<button class="btn btn-default" style="background: #2196f3;color: #fff;" id="return-btn">返回</button>
</div>

<!--保存成功弹出框-->
<div class="modal fade" id="setsuccess" tabindex="-1" role="dialog" aria-labelledby="setsuccess">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">信息保存成功</h4>
			</div>
			<div class="modal-body">
				<h4>动物信息保存成功</h4>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>				
			</div>
		</div>
	</div>
</div>
<!--保存失败弹出框-->
<div class="modal fade" id="setfail" tabindex="-1" role="dialog" aria-labelledby="setfail">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">信息保存失败</h4>
			</div>
			<div class="modal-body">
				<h4>注意:动物基本信息畜龄不得超过10年，月龄不得超过120月!</h4>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>				
			</div>
		</div>
	</div>
</div>
<!--照片放大弹框-->
<div class="modal fade" id="img-zoom-modal" tabindex="-1" role="dialog" aria-labelledby="img-zoom-modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
       <div class="modal-body">
       	<p style="font-size: 16px; text-align: center;">
       		
       	</p>
        <img src="" style="width: 100%;height: 100%;"/>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" id="" data-dismiss="modal">确定</button>
	</div>
    </div>
  </div>
</div>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="js/viewer-jquery.min.js"></script>

<script>
	//判断是否为查看
	var isCheck=getQueryString('ischeck');
	if(isCheck=='1'){
		$('input').attr('disabled','disabled');
		$('select').attr('disabled','disabled');
		$('#determine-btn').css('display','none');
		
	}
	//判断生产信息是否显示
	var isRecord=getQueryString('record');

	//获取用户idx
	var getIdx=getQueryString('customer_idx');
	if(!getIdx){
		getIdx=$('#__customer_idx').attr("value");
	}
	//获取个体idx	
	var indivIdx=getQueryString('idx');
	
	
	fullSelect2();
	fullSelectBar();
	//下拉框畜种
	function fullSelect1(){
		var step=[ {JSCODE:'LOAD',CODE:'LD_DIC_CHILD',RCODE:'LIST',DATA:{"type_code":"GZPZ"}} ];
		__RUN_STEP(step,function(date){
			console.log(date.LIST)
			var opt='';
			for(var i=0;i<date.LIST.length;i++){
				opt+='<option value="'+date.LIST[i].idx+'">'+date.LIST[i].name+'</option>'
			}
			$("#breed").html(opt);
		});		
	};
	//下拉框品种来源
	function fullSelect2(){
		var step=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_TYPECODE',RCODE:'LIST',DATA:{"type_code":"BOAR_BECOME"}} ];
		__RUN_STEP(step,function(date){
			console.log(date.LIST)
			var opt='';
			for(var i=0;i<date.LIST.length;i++){
				if(date.LIST[i].name!='公猪来源'){
					opt+='<option value="'+date.LIST[i].idx+'">'+date.LIST[i].name+'</option>'
				}				
			}
			$("#breed_source").html(opt);
		});		
	};
	//栏舍下拉框
	function fullSelectBar(){
		$("#barHome-name").change(function(){
			console.log($(this).find('option:selected').val())
			if($(this).find('option:selected').val()=='0'){
				$("#bar-name").html('');
				$("#lanHeader").val('');
				$("#lanHeadtel").val('');
				$("#lanMes-name").val('');
				$("#lanMes-tel").val('');
			}else{
				var step0=[ {JSCODE:'LOAD',CODE:'LD_BAR_DORM',RCODE:'LIST',DATA:{'parent_id':$(this).find('option:selected').val(),'customer_idx': getIdx}} ];
				__RUN_STEP(step0,function(d){
					console.log(d.LIST);
					updatePeople(d.LIST[0].idx);
					var homemes=d.LIST;
					var homeOption='';
					for(var h=0;h<homemes.length;h++){
						homeOption+='<option value="'+homemes[h].idx+'">'+homemes[h].name+'</option>';
					}
					$("#bar-name").html(homeOption);	
					var lanIdx=$("#bar-name").val();
					updatePeople(lanIdx);
				});	
			}							
		})
		$("#bar-name").change(function(){
			var lanIdx=$("#bar-name").find('option:selected').val();
			updatePeople(lanIdx);
		})	
	}
	function updatePeople(idx){
		__RUN_ACT('bardorm/list',{'idx': idx},function(t){
			console.log(t[0]);			
				$("#lanHeader").val(t[0].customer_name);						
				$("#lanHeadtel").val(t[0].cutomer_phone);	
				if(t[0].jsyname){
					$("#lanMes-name").val(t[0].jsyname);
				}else{
					$("#lanMes-name").val(t[0].people);
				}
				if(t[0].jsyphone){
					$("#lanMes-tel").val(t[0].jsyphone);
				}else{
					$("#lanMes-tel").val(t[0].people_phone);
				}
									
		});			
	}
	
	

	
	//年龄联动
	$("#birthday").change(function(){
		if(!$(this).val()){
			$("#livestock_age").val('');
			$("#month_age").val('');
			$("#date_age").val('');
			return;
		};
		var myDate = new Date();
		var year=myDate.getFullYear()-$(this).val().substr(0,4);
		var month=myDate.getMonth()+1-$(this).val().substr(5,2);
		console.log(year,'日期');
		if(year=='0'){
			$("#livestock_age").val((month/12).toString().substr(0,3));
			$("#month_age").val(month);
		}else{
			if(month>0){
				$("#livestock_age").val(year+(month/12).toString().substr(1,2));
				$("#month_age").val(year*12+month);
			}else{
				$("#livestock_age").val( year)
				$("#month_age").val(year*12+month);
			}		
		}
		$("#date_age").val(daysBetween((new Date()).pattern("yyyy-MM-dd"),$(this).val()));
	})
	
	
	//父代母代
	
	
	//全局数据，下方动物档案填写
	var myrfid='';
	var myanimal_no='';
	var myparity='';
	
	//判断是否为新增
	var isAdd='';
	if(!indivIdx){
		isAdd='1';
		var step2=[ {JSCODE:'LOAD',CODE:'LD_BAR_DORM',RCODE:'LIST',DATA:{'parent_id':'0','customer_idx': getIdx}} ];
		__RUN_STEP(step2,function(t){			
			var homemes=t.LIST;
			var homeOption='<option value="0">请选择舍</option>';
			for(var h=0;h<homemes.length;h++){
				homeOption+='<option value="'+homemes[h].idx+'">'+homemes[h].name+'</option>';
			};
			$("#barHome-name").html(homeOption);
		});		
		
	}else{
		isAdd='0';
		var step0=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_DETAILS',RCODE:'LIST',DATA:{'idx' : indivIdx}} ];
		__RUN_STEP(step0,function(d){						
			console.log(d.LIST ,'页面基本信息');
			var individualMes=d.LIST[0];	
			console.log(individualMes);
			myrfid=individualMes.rfid;
			myanimal_no=individualMes.animal_no;
			myparity=individualMes.production_num;
			if(individualMes.birthday){
				var myDate = new Date();
				var year=myDate.getFullYear()-individualMes.birthday.substr(0,4);
				var month=myDate.getMonth()+1-individualMes.birthday.substr(5,2);
//				var day=myDate.getDate();
				
				if(year=='0'){
					$("#livestock_age").val((month/12).toString().substr(0,3));
					$("#month_age").val(month);
				}else{
					if(month>0){
						$("#livestock_age").val(year+(month/12).toString().substr(1,2));
						$("#month_age").val(year*12+month);
					}else{
						$("#livestock_age").val( year)
						$("#month_age").val(year*12+month);
					}		
				}
//				$("#date_age").val(dateDiff(individualMes.birthday))

				$("#date_age").val(daysBetween((new Date()).pattern("yyyy-MM-dd"),individualMes.birthday));
			}
			
			//customer_idx
			$(".scale-farm-name").text(individualMes.register_name).attr('href','#page/nh/farmer/scale-farm.html?customer_idx='+individualMes.customer_idx);
			
			if(individualMes.breed){
				
				$("#breed").val(individualMes.breed);
			}
			
			if(individualMes.photo1_path){
				$("#show1").attr({'src':individualMes.photo1_path}).css('display','block').siblings('.deRequest').css('display','block').siblings(".zoRequest").css('display','block');
				
			};
			if(individualMes.photo2_path){
				$("#show2").attr({'src':individualMes.photo2_path}).css('display','block').siblings('.deRequest').css('display','block').siblings(".zoRequest").css('display','block');
			};
			if(individualMes.photo3_path){
				$("#show3").attr({'src':individualMes.photo3_path}).css('display','block').siblings('.deRequest').css('display','block').siblings(".zoRequest").css('display','block');
			};
			if(isCheck=='1'){
				$('.deRequest').css('display','none');
			};
			
			__SET_FORM_VALUES('detail_mes',individualMes)
			if(individualMes.create_time){
				$("input[name='create_time']").val(individualMes.create_time.substr(0,10));
			}
			
			
			//栏舍信息初始化
			if(individualMes.bardorm_idx){
				var bardMes=individualMes.bardorm_idx;
				var dormMes=bardMes.substr(0,bardMes.indexOf(','));
				var barMes=bardMes.substr(bardMes.indexOf(',')+1,bardMes.length);
				console.log('舍',dormMes,'栏',barMes);
				var step2=[ {JSCODE:'LOAD',CODE:'LD_BAR_DORM',RCODE:'LIST',DATA:{'parent_id':'0','customer_idx': getIdx}} ];
				__RUN_STEP(step2,function(t){
					console.log(t.LIST);
					var homemes=t.LIST;
					var homeOption='<option value="0">请选择舍</option>';
					for(var h=0;h<homemes.length;h++){
						homeOption+='<option value="'+homemes[h].idx+'">'+homemes[h].name+'</option>';
					}
					$("#barHome-name").html(homeOption).val(dormMes);	
					var step3=[ {JSCODE:'LOAD',CODE:'LD_BAR_DORM',RCODE:'LIST',DATA:{'parent_id':$('#barHome-name').find('option:selected').val(),'customer_idx': getIdx}} ];
					__RUN_STEP(step3,function(data){
						var homemes=data.LIST;
						var homeOption='';
						for(var i=0;i<homemes.length;i++){
							homeOption+='<option value="'+homemes[i].idx+'">'+homemes[i].name+'</option>'
						}
						$("#bar-name").html(homeOption).val(barMes);
						var lanIdx=$("#bar-name").find('option:selected').val();
						updatePeople(lanIdx);
					});
				});				
			}else{
				var step2=[ {JSCODE:'LOAD',CODE:'LD_BAR_DORM',RCODE:'LIST',DATA:{'parent_id':'0','customer_idx': getIdx}} ];
				__RUN_STEP(step2,function(m){					
					var homemes=m.LIST;
					var homeOption='<option value="0">请选择舍</option>';
					for(var h=0;h<homemes.length;h++){
						homeOption+='<option value="'+homemes[h].idx+'">'+homemes[h].name+'</option>';
					}
					$("#barHome-name").html(homeOption);	
				});				
			}
			
			//祖代父代
			if(individualMes.manimal_no){
				$('input[name="manimal_no"]').val(individualMes.manimal_no)
			};
			if(individualMes.panimal_no){
				$('input[name="panimal_no"]').val(individualMes.panimal_no)
			};
			var step=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_P_M',RCODE:'LIST',DATA:{'animal_no' : individualMes.animal_no ,'customer_idx' : getIdx}} ];
			__RUN_STEP(step,function(data){
				if(!data.LIST||data.LIST.length==0){
					return;
				}else{							
					__SET_FORM_VALUES('grandParent',data.LIST[0])							
					var step1=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_P_M',RCODE:'LIST',DATA:{'animal_no' : data.LIST[0].manimal_no ,'customer_idx' : getIdx}} ];
					__RUN_STEP(step1,function(date){
						console.log(date.LIST)	
						if(!date.LIST||data.LIST.length==0){
							return;
						}else{
							var mgrand=date.LIST[0];
							$("#mgrandf").val(date.LIST[0].manimal_no);
							$("#mgrandfj").val(date.LIST[0].mgene_number);
							$("#mgrandm").val(date.LIST[0].panimal_no);
							$("#mgrandmj").val(date.LIST[0].pgene_number);
						}
						
					});
					var step2=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_P_M',RCODE:'LIST',DATA:{'animal_no' : data.LIST[0].panimal_no ,'customer_idx' : getIdx}} ];
					__RUN_STEP(step2,function(date){
		//				console.log(date.LIST[0])	
						if(!date.LIST||data.LIST.length==0){
							return;
						}else{
							$("#pgrandf").val(date.LIST[0].manimal_no);
							$("#pgrandfj").val(date.LIST[0].mgene_number);
							$("#pgrandm").val(date.LIST[0].panimal_no);
							$("#pgrandmj").val(date.LIST[0].pgene_number);
						}
					});
				};
			});
		});
	}
	
	
	//点击动作
	$(".process li").click(function(){
		$(this).children('span').css({'color':'#fff','backgroundColor':'#329ff6'});
		$(this).siblings().children('span').css({'color':'#000','backgroundColor':'#fff'});
		$(".tab-hide").removeClass('tab-active');
		var index=$(this).index();
		$(".tab-hide:eq("+index+")").addClass('tab-active');
	})
	

	
	//动物照片上传与删除
	var upload=function(inputId,picId){
		var filevalue=$("#"+inputId).val();
		if(!filevalue) return;
		__UPLOAD_FILE(inputId,function(d){
//			console.log(d.idx);
			$("#"+picId).attr('src','/file/'+d.idx+'/view').css('display','block').siblings('.deRequest').css('display','block');
			
		})
	}
	$(".deRequest").click(function(){
		$(this).css('display','none').siblings('img').attr('src','').css('display','none').siblings('.zoRequest').css('display','none');		
	})
	//鼠标点击，显示大图
//	$(function(){
//		$('#animal_pic').viewer({
//			url: 'data-original',
//		});
//	})
	
	
	
	/* 初始化预览组件 */
	function photoViewer() {
		$('#animal_pic').viewer('destroy');
		$('#animal_pic').viewer();
	};
	photoViewer();
	/* 图片放大 */
	$('.zoRequest').on('click',function(){
		$(this).siblings('img').click();
	})
	
//	$("#img-zoom-modal").find('.modal-dialog').css('height',$(window).height());
//	$(".zoRequest").click(function(){		
//		var picsrc=$(this).siblings('img').attr('src');
//		var picname=$(this).siblings('p').text();
//		$('#img-zoom-modal').find('img').attr('src',picsrc).siblings('p').text(picname);		
//		$('#img-zoom-modal').modal('show');		
//	});
	
	
	//父代母代查询
//	$("#manimal_no").blur(function(){
////		var step0=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_DETAILS',RCODE:'LIST',DATA:{'idx' : indivIdx}} ];
//		
//		if(!$(this).val()){
//			return;
//		}else{
//			
//			
//			
//			var step2=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_P_M',RCODE:'LIST',DATA:{'animal_no' : $(this).val() ,'customer_idx' : getIdx}} ];
//			__RUN_STEP(step1,function(date){
//				console.log(date.LIST)	
//				if(!date.LIST||data.LIST.length==0){
//					return;
//				}else{
//					var mgrand=date.LIST[0];
//					$("#mgrandf").val(date.LIST[0].manimal_no);
//					$("#mgrandfj").val(date.LIST[0].mgene_number);
//					$("#mgrandm").val(date.LIST[0].panimal_no);
//					$("#mgrandmj").val(date.LIST[0].pgene_number);
//				}				
//			});			
//		}	
//	});
	
	
	pageSetUp();
	$('#birthday').datetimepicker({
        language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
    }); 
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");
	$('#birthday').click(function(){
		$(".clear").text('清空');
	});
	
	//城市联动
	__RUN_ACT('/farmer/queryCity', { "pid": "12" }, function (data) {
		var html = '<option value="">--请选择--</option>'
		$('#cityLinkage select').first().append(html);
		data.forEach(function (value, index) {
			html = '<option value="' + value.idx + '">' + value.name + '</option>'
			$('#cityLinkage select').first().append(html);
		})
		$('#cityLinkage select').first().nextAll().hide();	
	});
	$('#cityLinkage select').on('change', function () {
		var that = this;
		__RUN_ACT('/farmer/queryCity', { "pid": $(that).val() }, function (data) {
			$(that).nextAll().hide();
			$(that).nextAll().html('');
			if (data.length > 0) {
				$(that).next().show();
			}
			var html = '<option value="">--请选择--</option>'
			$(that).next().append(html);
			data.forEach(function (value, index) {
				html = '<option value="' + value.idx + '">' + value.name + '</option>';
				$(that).next().append(html);
			})
		});
	})
	
	
	
	//表格数据
	pageSetUp();
	var pagefunction = function () {
		//type==1,授精；type==3,断奶；type==2,产仔
		var arr1 = [];
		var arr4 = [];
		var arr5 = [];
		
		
		var colNames1 = ['授精站号', '公猪编号', '精液剂量', '授精日期', '照片'];
		var colModel1 = [
			{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center", width: 80 },
			{ name: 'animal_nom', index: 'animal_nom', sortable: false, align: "center", width: 80},
			{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center" , width: 80 },
			{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 80 },
			{ name: 'act', index: 'act', align: "center", width: '120px' }		
		];
		var colNames4 = ['RFID号', '场内编号', '与配公猪', '当前胎次', '本次产仔数','产仔日期', '照片'];
		var colModel4 = [
			{ name: 'myrfid', index: 'myrfid', sortable: false, align: "center", width: 80 },
			{ name: 'myanimal_no', index: 'myanimal_no', sortable: false, align: "center", width: 80},
			{ name: 'animal_nom', index: 'animal_nom', sortable: false, align: "center", width: 50},
			{ name: 'myparity', index: 'myparity', sortable: false, align: "center", width: 50},
			{ name: 'farrowing_num', index: 'farrowing_num', sortable: false, align: "center", width: 50},
			{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 50},
			{ name: 'act', index: 'act', align: "center", width: '120px' }	
		];
		var colNames5 = ['断奶活数', '断奶头数', '断奶窝重','断奶日期', '照片'];
		var colModel5 = [			
			{ name: 'abl_quantity', index: 'abl_quantity', sortable: false, align: "center", width: 80  },
			{ name: 'abl_head', index: 'abl_head', sortable: false, align: "center", width: 100 },
			{ name: 'abl_weight', index: 'abl_weight', sortable: false, align: "center", width: 80 },
			{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 50},
			{ name: 'act', index: 'act', align: "center", width: '120px' }					
		];
		
		
		
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
			
			console.log(indivIdx); 
			var step0=[ {JSCODE:'LOAD',CODE:'LD_CREATURE_TAB',RCODE:'LIST',DATA:{'creature_idx':indivIdx}} ];
			__RUN_STEP(step0,function(d){
				console.log(d.LIST,12312)
				for(var i=0;i<d.LIST.length;i++){
					switch (d.LIST[i].type){
						case '1' : arr1.push(d.LIST[i]);									
									break;
						case '2' : arr4.push(d.LIST[i]);
									arr4[0].myrfid=myrfid;
									arr4[0].myanimal_no=myanimal_no;
									arr4[0].myparity=myparity;
									break;
						
						case '3' : arr5.push(d.LIST[i]);
									break;
						
					}
					
					
				}
				run_jqgrid_function("#inse_jqgrid", '#pinse_jqgrid', colNames1, colModel1, arr1);	
				run_jqgrid_function("#pro_jqgrid", '#ppro_jqgrid', colNames4, colModel4, arr4);
				run_jqgrid_function("#wea_jqgrid", '#pwea_jqgrid', colNames5, colModel5, arr5);
			})

			
			
			var arr2 = [];
			var colNames2 = ['RFID号', '场内编号', 'RFID号(母)', '场内编号(母)', '授精站名','操作人员','精液用量', '照片'];
			var colModel2 = [
				{ name: 'rfidg', index: 'rfidg', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'rfid_f', index: 'rfid_f', sortable: false, align: "center" },
				{ name: 'animal_nof', index: 'animal_nof', sortable: false, align: "center", width: 100 },
				{ name: 'insemination_name', index: 'insemination_name', sortable: false, align: "center", width: 80 },
				{ name: 'operating_personnel', index: 'operating_personnel', sortable: false, align: "center", width: 50},
				{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center" },
				{ name: 'act', index: 'act', align: "center", width: '120px' }				
			];
			// run_jqgrid_function("#pre_jqgrid", '#ppre_jqgrid', colNames2, colModel2, arr2);
			// ['RFID号', '场内编号', '疫苗种类', '疫苗剂量','操作方式', '注射时间','批号', '照片'];

			var arr3 = [];
			var colNames3 = ['RFID号', '场内编号', '免疫期次', '疫苗种类','疫苗名称', '疫苗厂商', '疫苗剂量', '批号', '照片'];
			var colModel3 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80},
				{ name: 'vaccine_type', index: 'vaccine_type', sortable: false, align: "center", width: 100 },
				{ name: 'dosage', index: 'dosage', sortable: false, align: "center", width: 100 },
				{ name: 'do_style', index: 'do_style', sortable: false, align: "center", width: 80 },
				{ name: 'injection_date', index: 'injection_date', sortable: false, align: "center", width: 80},
				{ name: 'amount_no', index: 'amount_no', sortable: false, align: "center", width: 80},				
				{ name: 'amount_no', index: 'amount_no', sortable: false, align: "center", width: 80},				
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#immu_jqgrid", '#pimmu_jqgrid', colNames3, colModel3, arr3);		
		
			var arr6 = [];
			var colNames6 = ['RFID号', '场内编号', '死亡时间', '是否处理', '处理结果','处理时间', '照片'];
			var colModel6 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 80 },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 80 },
				{ name: 'dispose_state', index: 'dispose_state', sortable: false, align: "center", width: 100 },
				{ name: 'dispose_date', index: 'dispose_date', sortable: false, align: "center", width: 80 },
				{ name: 'dispose_date', index: 'dispose_date', sortable: false, align: "center", width: 50},
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#dea_jqgrid", '#pdea_jqgrid', colNames6, colModel6, arr6);
			var arr7 = [];
			var colNames7 = ['RFID号', '场内编号', '使用时间', '投入品类型', '投入品名称','停用时间','投入量','批号', '照片'];
			var colModel7 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center" },
				{ name: 'putinto_type', index: 'putinto_type', sortable: false, align: "center", width: 100 },
				{ name: 'putinto_name', index: 'putinto_name', sortable: false, align: "center", width: 80 },
				{ name: 'stop_time', index: 'stop_time', sortable: false, align: "center", width: 50},
				{ name: 'putinto_quantity', index: 'putinto_quantity', sortable: false, align: "center" },
				{ name: 'amount_no', index: 'amount_no', sortable: false, align: "center" },				
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#inp_jqgrid", '#pinp_jqgrid', colNames7, colModel7, arr7);
			var arr8 = [];
			var colNames8 = ['RFID号', '场内编号', '迁移类型', '原地区', '迁移后地区','迁移时间','投入量', '照片'];
			var colModel8 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'migration_type', index: 'migration_type', sortable: false, align: "center" },
				{ name: 'original_address', index: 'original_address', sortable: false, align: "center", width: 100 },
				{ name: 'migration_address', index: 'migration_address', sortable: false, align: "center", width: 80 },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 50},
				{ name: 'putinto_quantity', index: 'putinto_quantity', sortable: false, align: "center" },
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#tra_jqgrid", '#ptra_jqgrid', colNames8, colModel8, arr8);
			var arr9 = [];
			// ['RFID号', '场内编号', '检疫类型', '证书号', '接种情况','实验检验','工具消毒','检疫时间', '照片'];
			// { name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				// { name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				// { name: 'quarantine_type', index: 'quarantine_type', sortable: false, align: "center" },
				// { name: 'credential_code', index: 'credential_code', sortable: false, align: "center", width: 100 },
				// { name: 'inoculate_case', index: 'inoculate_case', sortable: false, align: "center", width: 80 },
				// { name: 'experiment_verify', index: 'experiment_verify', sortable: false, align: "center", width: 50},
				// { name: 'tool_disinfect', index: 'tool_disinfect', sortable: false, align: "center" },
				// { name: 'common_time', index: 'common_time', sortable: false, align: "center" },
			var colNames9 = ['RFID号', '普通耳标号', '场内编号', '检疫证号', '检疫时间', '检疫结果', '照片'];

			var colModel9 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'quarantine_type', index: 'quarantine_type', sortable: false, align: "center" },
				{ name: 'credential_code', index: 'credential_code', sortable: false, align: "center", width: 100 },
				{ name: 'inoculate_case', index: 'inoculate_case', sortable: false, align: "center", width: 80 },
				{ name: 'experiment_verify', index: 'experiment_verify', sortable: false, align: "center", width: 50},
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#qua_jqgrid", '#pqua_jqgrid', colNames9, colModel9, arr9);
			var arr10 = [];
			var colNames10 = ['RFID号', '场内编号', '淘汰时间', '淘汰原因', '淘汰操作人','淘汰去向', '照片'];
			var colModel10 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center" },
				{ name: 'weedout_cause', index: 'weedout_cause', sortable: false, align: "center", width: 100 },
				{ name: 'weedout_operator', index: 'weedout_operator', sortable: false, align: "center", width: 80 },
				{ name: 'weedout_direction', index: 'weedout_direction', sortable: false, align: "center", width: 50},
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#eli_jqgrid", '#peli_jqgrid', colNames10, colModel10, arr10);
			var arr11 = [];
			var colNames11 = ['RFID号', '场内编号', '温度', '测量时间', '正常指标','差值','状态', '照片'];
			var colModel11 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'temperature', index: 'temperature', sortable: false, align: "center" },
				{ name: 'common_time', index: 'common_time', sortable: false, align: "center", width: 100 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 80 },
				{ name: 'difference', index: 'difference', sortable: false, align: "center", width: 50},
				{ name: 'heat status', index: 'heat status', sortable: false, align: "center" },
				{ name: 'act', index: 'act', align: "center", width: '120px' }
			];
			run_jqgrid_function("#tem_jqgrid", '#ptem_jqgrid', colNames11, colModel11, arr11);
			var arr12 = [];
			var colNames12 = ['RFID号', '场内编号', '食物种类', '进食量', '当天进食次数','正常指标','差值','状态'];
			var colModel12 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'food_type', index: 'food_type', sortable: false, align: "center" },
				{ name: 'food_intake', index: 'food_intake', sortable: false, align: "center", width: 100 },
				{ name: 'feed_frequency', index: 'feed_frequency', sortable: false, align: "center", width: 80 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 50},
				{ name: 'difference', index: 'difference', sortable: false, align: "center" },
				{ name: 'feed_status', index: 'feed_status', sortable: false, align: "center" }
			];
			run_jqgrid_function("#eat_jqgrid", '#peat_jqgrid', colNames12, colModel12, arr12);
			var arr13 = [];
			var colNames13 = ['RFID号', '场内编号', '饮水量', '当天饮水次数', '正常指标','差值','状态'];
			var colModel13 = [
				{ name: 'rfid', index: 'rfid', sortable: false, align: "center", width: 80 },
				{ name: 'animal_no', index: 'animal_no', sortable: false, align: "center", width: 50},
				{ name: 'water_intake', index: 'water_intake', sortable: false, align: "center" },
				{ name: 'water_frequency', index: 'water_frequency', sortable: false, align: "center", width: 100 },
				{ name: 'normal_index', index: 'normal_index', sortable: false, align: "center", width: 80 },
				{ name: 'difference', index: 'difference', sortable: false, align: "center", width: 50},
				{ name: 'water_status', index: 'water_status', sortable: false, align: "center" }
			];
			run_jqgrid_function("#dri_jqgrid", '#pdri_jqgrid', colNames13, colModel13, arr13);
			
			
			
			
			function run_jqgrid_function(id, pageid, colNames, colModel, jqgrid_data) {

				jQuery(id).jqGrid({
					data: jqgrid_data,
					datatype: "local",
					height: 'auto',
					colNames: colNames,
					colModel: colModel,
					rowNum: 10,
					rowList: [10, 20, 30],
					pager: pageid,
					sortname: 'create_time',
					toolbarfilter: true,
					viewrecords: true,
					sortorder: "desc",
					gridComplete: function() {
						var ids = jQuery(id).jqGrid('getDataIDs');
						for(var i = 0; i < ids.length; i++) {
							var cl = ids[i];

							ae = "<button class='btn btn-xs btn-default' type='button' ><i class='fa fa-file-image-o'></i></button>";
							be = "<button class='btn btn-xs btn-default' onclick=\"updateInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
							ca = "<button class='btn btn-xs btn-default tsDelete' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-pencil'></i>删除</button>";
							//						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
							//						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
							//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
							//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
							
							jQuery(id).jqGrid('setRowData', ids[i], { act: ae });
							

						}
					},
					rownumbers: true,
					caption: false,
					multiselect: false,
					autowidth: true,
	
				});
	
	
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
				$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
				$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
				$(".ui-jqgrid-pager").removeClass("ui-state-default");
				$(".ui-jqgrid").removeClass("ui-widget-content");
	
				// add classes
				$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
				$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
	
	
				$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
				$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
				$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
				$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
				$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
				$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
				$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
				$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
	
				$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
	
				$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
	
				$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
	
				$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
	
	
	
	
				// update buttons
	
				jQuery(id).jqGrid('setGridWidth', $("#animal_record").width());
				$(window).on('resize.jqGrid', function () {
					jQuery(id).jqGrid('setGridWidth', $("#animal_record").width());
				})
	
				$.extend($.fn.jqGrid, {
					setData: function (data) {
						this[0].p.data = data;
						return true;
					}
				});
			}  //function end
		
		
		});
		
		
		
	}
	
	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction());
	
	
	
	$("#determine-btn").click(function(){
		var formData=__GET_FROM_VALUES('detail_mes');
		
		formData['customer_idx']=getIdx;
		formData['photo1_path']=$("#show1").attr("src");
		formData['photo2_path']=$("#show2").attr("src");
		formData['photo3_path']=$("#show3").attr("src");
		formData['idx']=indivIdx;
		formData['manimal_no']=$("input[name='manimal_no']").val();
		formData['panimal_no']=$("input[name='panimal_no']").val();
		var arr=[];
		if($("#barHome-name").val()!='0'){
			arr.push($("#barHome-name").val());
			arr.push($("#bar-name").val());
			formData.bardorm_idx=arr.join(',');
		};
		delete formData.filename;
		console.log(formData);
		
		if(formData.livestock_age-'10'>='0'&&formData.month_age-'120'>='0'){
			$("#setfail").modal('show');
			return;
		}
		if(isAdd=='0'){	
			var step = [
						{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_creatureinfo', RCODE: 'ENTITY', DATA: formData }
					];
			__RUN_STEP(step,function(data){
				$("#setsuccess").modal('show');
				console.log(data)
				$('#determine-btn').css('display','none');
			});
		}else{
			formData['customer_idx']=getIdx;
			var step = [
						{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_creatureinfo', RCODE: 'ENTITY', DATA: formData }
					];
			__RUN_STEP(step,function(data){
				$("#setsuccess").modal('show');
				$('#determine-btn').css('display','none');
			});
		}
	})
	
	$("#return-btn").click(function(){
		history.back();
	})
	
	function daysBetween(sDate1,sDate2){
	    //Date.parse() 解析一个日期时间字符串，并返回1970/1/1 午夜距离该日期时间的毫秒数
	    var time1 = Date.parse(new Date(sDate1));
	    var time2 = Date.parse(new Date(sDate2));
	    var nDays = parseInt((time1 - time2)/1000/3600/24);
	    return  nDays;
	};
	Date.prototype.pattern=function(fmt) {         
	    var o = {         
	    "M+" : this.getMonth()+1, //月份         
	    "d+" : this.getDate(), //日         
	    "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时         
	    "H+" : this.getHours(), //小时         
	    "m+" : this.getMinutes(), //分         
	    "s+" : this.getSeconds(), //秒         
	    "q+" : Math.floor((this.getMonth()+3)/3), //季度         
	    "S" : this.getMilliseconds() //毫秒         
	    };         
	    var week = {         
	    "0" : "/u65e5",         
	    "1" : "/u4e00",         
	    "2" : "/u4e8c",         
	    "3" : "/u4e09",         
	    "4" : "/u56db",         
	    "5" : "/u4e94",         
	    "6" : "/u516d"        
	    };         
	    if(/(y+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));         
	    }         
	    if(/(E+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, ((RegExp.$1.length>1) ? (RegExp.$1.length>2 ? "/u661f/u671f" : "/u5468") : "")+week[this.getDay()+""]);         
	    }         
	    for(var k in o){         
	        if(new RegExp("("+ k +")").test(fmt)){         
	            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));         
	        }         
	    }         
	    return fmt;         
	}    ;
	
//	function dateDiff(sDate2) {  
//	    var sDate1=(new Date()).pattern("yyyy-MM-dd");  
//	    sDate2=LEx.util.Format.formatDate(sDate2,"yyyy-MM-dd");  
//	    var aDate, oDate1, oDate2, iDays;  
//	    aDate = sDate1.split("-");  
//	    oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式  
//	    aDate = sDate2.split("-");  
//	    oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  
//	    iDays = parseInt((oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数  
//	    return iDays;  //返回相差天数  
//	}  
	
</script>		
