<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面进行温度监控
			</div>
		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false"
			 role="widget">
				<header role="heading">
					<span class="widget-icon">
						<i class="fa fa-sitemap"></i>
					</span>
					<h2>温度监控</h2>
					<span class="jarviswidget-loader">
						<i class="fa fa-refresh fa-spin"></i>
					</span>
				</header>

				<!-- widget div-->
				<div role="content" id="temperature_con">

					<!-- widget content -->

					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->

</section>


<script type="text/html" id="temperature_con_tmpl">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{{each(i,val) img}}
			<li data-target="#carousel-example-generic" data-slide-to="${i}" {{if i==0}}class="active"{{/if}}></li>
			{{/each}}
		</ol>
	  
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		{{each(i,val) img}}
		  <div class="item {{if i==0}}active{{/if}}">
			{{if i==0}}
			<img width='100%' src="../../../img/nh/pigHot.jpg">
			{{else}}
			<img width='100%' src="/file/${val.attach_idx}/view">
			{{/if}}
		  </div>
		{{/each}}
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
</script>
<script type="text/javascript">
	__RUN_ACT('/deviceinfo', { serialno: "DS-2TD4166T-920170508CCCH756863764" }, function (data) {
		debugger;
		$('#temperature_con').html($("#temperature_con_tmpl").tmpl(data))
	})
</script>