<style>

	table {
		border-collapse:collapse;
	}

	table,th, td{
		border: 1px solid #666;
		text-align: center;
		height: 32px;
	}

	#funs-id input{
		text-align: center;
	}



</style>


<section  id="funs-id" class="">
	
	
		<!-- START ROW -->
	
		<div class="row">

                <article class="col-sm-12 col-md-12 col-lg-12">
                        
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget">
                          
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>贷款申请 </h2>				
                                
                            </header>

							<div>
									
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
										
									</div>
									<!-- end widget edit box -->
									
									<!-- widget content -->
									<div class="widget-body no-padding">
										
										<form action="" id="smart-form-register" class="smart-form">
											<header>  
												民权质押信贷申请表
											</header>
				
											<fieldset>
											   <table width="100%" border="1" cellspacing="1" cellpadding="10" id="apply_mes">
												   <input type="hidden" name="product_no">
												   <input type="hidden" name="funs_number">
												   <input type="hidden" name="approval_status" value="0">
												   <input type="hidden" name="repayment" value="0">
												   <input type="hidden" name="loan_time" value="待放款">
												   <tr>
													   <td>申请银行</td>
													   <td colspan="3"><input type="text" name="bank_name" class="form-control" id="bank_name" readonly></td>
													   <td>信贷产品</td>
													   <td><input type="text" name="product_name" class="form-control" id="product_name" readonly></td>
												   </tr>
												   <tr>
														<td>公司名称</td>
														<td colspan="3"><input type="text" name="customer_name" class="form-control" id="customer_name" readonly></td>
														<td>组织机构代码</td>
														<td><input type="text" name="organization_code" class="form-control" id="organization_code" readonly></td>
													</tr>
													<tr>
														<td>贷款卡</td>
														<td><input type="text" name="bank_card" class="form-control" ></td>
														<td>开户行</td>
														<td><input type="text" name="account_bank" class="form-control" ></td>
														<td>账号</td>
														<td><input type="text" name="account" class="form-control" ></td>
													</tr>
													<tr>
														<td>财务主管</td>
														<td><input type="text" name="finincal_header" class="form-control"></td>
														<td>电话</td>
														<td><input type="text" name="finincal_tel" class="form-control"></td>
														<td>国籍</td>
														<td><input type="text" name="finincal_country" class="form-control"></td>
													</tr>
													<tr>
														<td>申请贷款金额</td>
														<td colspan="3"><input type="text" name="apply_funs" class="form-control"></td>
														<td>申请期限</td>
														<td><input type="text" name="apply_time" class="form-control"></td>
													</tr>
													<tr>
														<td>申请原因及用途</td>
														<td colspan="5"><input type="text" name="apply_reason" class="form-control"></td>
													</tr>
													<tr>
														<td>担保方式</td>
														<td colspan="5"><input type="text" name="guarantee_method" class="form-control"></td>
													</tr>
													<tr>
														<td>还款资金来源</td>
														<td colspan="5"><input type="text" name="return_method" class="form-control"></td>
													</tr>
													<tr>
														<td>客户声明</td>
														<td colspan="5"><textarea name="customer_state" id="" cols="30" rows="10" class="form-control"></textarea></td>
													</tr>
											   </table>
											</fieldset>
				
											<header>  
												活体动物分布情况表
											</header>
											
											<div class="alert alert-info">
												<strong>提示:</strong> 所有动物均为佩戴电子标签且已经投保的动物个体
											</div>
											<fieldset>
												<table width="100%">
													<thead>
														<tr height="33px">
															<th>种类</th>
															<th>日龄范围(天)</th>
															<th>数量(头)</th>
															<th>单价</th>
															<th>总价</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>能繁母猪</td>
															<td><input type="text" class="form-control" disabled/></td>
															<td><input type="text" class="form-control" value="50" readonly/></td>
															<td><input type="text" class="form-control" value="3500" id="perprice" readonly/></td>
															<td><input type="text" class="form-control" value="17.5万元" readonly/></td>
														</tr>
														<tr>
															<td rowspan="4">商品猪</td>
															<td>0~50</td>
															<td><input type="text" class="form-control" value="100" readonly/></td>
															<td><input type="text" class="form-control" value="250" readonly/></td>
															<td><input type="text" class="form-control" value="2.5万元" readonly/></td>
														</tr>
														<tr>
															<td>50~100</td>
															<td><input type="text" class="form-control" value="80" readonly/></td>
															<td><input type="text" class="form-control" value="1000" readonly/></td>
															<td><input type="text" class="form-control" value="8万元" readonly/></td>
														</tr>
														<tr>
															<td>100~150</td>
															<td><input type="text" class="form-control" value="90" readonly/></td>
															<td><input type="text" class="form-control" value="2000" readonly/></td>
															<td><input type="text" class="form-control" value="18万元" readonly/></td>
														</tr>
														<tr>
															<td>>150</td>
															<td><input type="text" class="form-control" value="30" readonly/></td>
															<td><input type="text" class="form-control" value="2500" readonly/></td>
															<td><input type="text" class="form-control" value="7.5万元" readonly/></td>
														</tr>
														<tr>
															<td>合计</td>
															<td><input type="text" class="form-control" disabled/></td>
															<td><input type="text" class="form-control" value="350" readonly/></td>
															<td><input type="text" class="form-control" disabled/></td>
															<td><input type="text" class="form-control" value="53.5万元" readonly/></td>
														</tr>
													</tbody>
												</table>
											</fieldset>


											<header>
												投保保单详情
											</header>
											<fieldset id="insure_container">
												

											</fieldset>
											

											<footer>
												<button type="button" class="btn btn-primary" id="return_btn">
													返回
												</button>
												<button type="button" class="btn btn-primary" id="sub_btn">
													提交
												</button>
												
											</footer>
										</form>						
										
									</div>
									<!-- end widget content -->
									
								</div>
								<!-- end widget div -->








		</div>

</section>

<script type="text/html" id="insure_table">
	{{each data}}
	<fieldset style="padding-left: 0; padding-right: 0;">
			<footer>
					<a href="#page/nh/insure/insure.html?idx=${idx}" class="btn btn-primary" >
						投保产品明细
					</a>
				</footer>
		<table width="100%" id="insurance_ms">
			<thead>
				<tr>
					<th>投保方案</th>
					<th>投保份数</th>
					<th>保障期限</th>
					<th>保障起止日期</th>
					<th>保费合计（元）</th>
					<th>受益单位</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control" value=${insure_plan}></td>
					<td>1</td>
					<td><input type="text" class="form-control" value=${need_time}></td>
					<td><input type="text" class="form-control" value=${time_range}></td>
					<td><input type="text" class="form-control" value=${all_funs}></td>
					<td><input type="text" class="form-control" value=${register_name}></td>
				</tr>
			</tbody>
		</table>
	</fieldset>

	<fieldset style="padding-left: 0; padding-right: 0;">
		<table width="100%" id="insurance_ob">
			<thead>
				<tr>
					<th>投保产品</th>
					<th>投保单价</th>
					<th>投保数量（头）</th>
					<th>投保金额（元）</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>能繁母猪</td>
					<td>20</td>
					<td><input type="text" class="form-control" value=${fpic_num}></td>
					<td><input type="text" class="form-control" value=${fpic_cal}></td>               
								 
				</tr>
				<tr>
					<td>商品猪</td>
					<td>5</td>
					<td>0</td>
					<td>0</td>               
										
				</tr>
				<tr>
					<td colspan="4" ><input type="text" class="form-control" value=${all_cal} style="text-align: left;"></td>                      
				</tr>
			</tbody>
		</table>
	</fieldset>
	{{/each}}
</script>


<script>
	var customer_idx=$('#__customer_idx').val();
	if(!customer_idx){
		customer_idx='d36d6eff-1468-41d5-be32-95a163690ba1';
	};
	var bank_idx=getQueryString('bank_idx');
	var product_idx=getQueryString('product_idx');



	pageSetUp();
	console.log(bank_idx)
	var pageInitFunction = function () {
		var step=[  {JSCODE:'LOAD',CODE:'LD_BANK_IDX',RCODE:'LIST',DATA:{'idx': bank_idx}}  ]; 
		 __RUN_STEP(step,function(d){ 
			  $("#bank_name").val(d.LIST[0].bank_name) ; 
			});
		var step=[  {JSCODE:'LOAD',CODE:'LD_BANKPRODUCT_DETAILS',RCODE:'LIST',DATA:{'idx':product_idx}} ];  
		__RUN_STEP(step,function(d){ 
			$("#product_name").val(d.LIST[0].product_name);
			$("[name='product_no']").val(d.LIST[0].product_no);
		})
		__RUN_ACT('farmer/querydetails', { 'idx': customer_idx }, function(d) {
			if(d){
				$("#customer_name").val(d.details[0].register_name);
			   $("#organization_code").val(d.details[0].organization_no);
			}  
		})
		var time = new Date();
		$('[name="funs_number"]').val('DK' + time.getTime());
		var step =[  {JSCODE:'LOAD',CODE:'LD_TEST2_LIST',RCODE:'LIST',DATA:{'type':'10'}} ];  
		__RUN_STEP(step,function(d){ 
			var arr=[];
			for(var i=0;i<d.LIST.length;i++){
				console.log(JSON.parse(d.LIST[i].insureapply));
				arr.push(JSON.parse(d.LIST[i].insureapply));
			}
			var arr1 = [];
			for(var i=0;i<arr.length;i++){
				if(arr[i].customer_idx == customer_idx && arr[i].return_apply =='0'&&arr[i].approval_results=='2'){
					arr1.push(arr[i]);
				}
			};
			console.log(arr1);
			$("#insure_container").html($("#insure_table").tmpl({'data':arr1}));
		})
	}



    $("#sub_btn").click(function(){
       var apply_data = {};
       var apply_funs = __GET_FROM_VALUES('apply_mes');
       apply_funs['customer_idx'] = customer_idx;
       apply_funs['create_time'] = (new Date()).pattern("yyyy-MM-dd");
       apply_funs = JSON.stringify(apply_funs);
       apply_data['banktest'] = apply_funs;
       apply_data['type'] = '0';
       console.log(apply_data)
       var step=[  {JSCODE:'SAVE',CODE:'ADD',CLZ:'test2',RCODE:'ENTITY',DATA:apply_data}  ]; 
        __RUN_STEP(step,function(d){  
            console.log(d)
           $.confirm({
            title: '操作成功',
            text: $("#bank_name").val()+"金融产品"+$("#product_name").val()+"申请成功，请耐心等待申请结果！",
            confirmButton : '确定',
            cancelButton : false,


		   }) 
		});
	})

	$("#return_btn").click(function(){
		history.back();
	})
	pageInitFunction();


    Date.prototype.pattern=function(fmt) {         
	    var o = {         
	    "M+" : this.getMonth()+1, //月份         
	    "d+" : this.getDate(), //日         
	    "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时         
	    "H+" : this.getHours(), //小时         
	    "m+" : this.getMinutes(), //分         
	    "s+" : this.getSeconds(), //秒         
	    "q+" : Math.floor((this.getMonth()+3)/3), //季度         
	    "S" : this.getMilliseconds() //毫秒         
	    };         
	    var week = {         
	    "0" : "/u65e5",         
	    "1" : "/u4e00",         
	    "2" : "/u4e8c",         
	    "3" : "/u4e09",         
	    "4" : "/u56db",         
	    "5" : "/u4e94",         
	    "6" : "/u516d"        
	    };         
	    if(/(y+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));         
	    }         
	    if(/(E+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, ((RegExp.$1.length>1) ? (RegExp.$1.length>2 ? "/u661f/u671f" : "/u5468") : "")+week[this.getDay()+""]);         
	    }         
	    for(var k in o){         
	        if(new RegExp("("+ k +")").test(fmt)){         
	            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));         
	        }         
	    }         
	    return fmt;         
	};


</script>