<style>
		/* ocr按钮样式 */
	
		.ocr_btn {
			padding: 8px 10px;
			background-color: #2196f3;
			border: none;
			border-radius: 5px;
			color: #fff;
		}
		/* 标签页样式 */
	
		body.smart-style-6 .nav-tabs>li.active>a {
			-webkit-box-shadow: 0 -2px 0 #2196F3;
			-moz-box-shadow: 0 -2px 0 #2196F3;
			box-shadow: 0 -2px 0 #2196F3;
		}
	
		.nav-tabs>li>a {
			margin: 0 8px;
		}
	
		.nav-tabs {
			margin-top: 10px;
		}
	
		.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
			background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
		}
		/* 上传图片样式 */
	
		.head_wrap {
			height: 142px;
			width: 132px;
			border: 1px solid #cacaca;
			border-bottom: none;
			background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
			cursor: pointer;
			overflow: hidden;
			margin: 0 auto;
			position: relative;
		}
	
		.head_wrap input {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 10;
		}
	
		.head_wrap img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			display: none;
			z-index: 1;
			height: 100%;
		}
	
		.head_wrap i {
			position: absolute;
			top: 0;
			width: 25px;
			height: 25px;
			font-size: 25px;
			z-index: 20;
			background-color: #ffffff;
			color: #444444;
			opacity: 0.3;
			transition: all 0.5s;
		}
	
		.head_wrap .del_img {
			right: 0;
		}
	
		.head_wrap .expand_img {
			left: 0;
		}
	
		.head_wrap:hover i {
			opacity: 0.9;
		}
	
		#jiben_mes #head_data {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			width: 132px;
			padding-left: 0;
		}
	
		.pic_check {
			text-align: center;
			width: 134px;
			height: 32px;
			line-height: 32px;
			background-color: #2196f3;
	
			margin: 0 auto;
			margin-bottom: 10px;
		}
	
		.pic_check span {
			padding: 5px 8px;
			background: #fff;
			color: #2196f3;
			border-radius: 5px;
		}
	
		/*树状图鼠标移入样式*/
	
		.tree li.parent_li span:hover,
		.spanActive {
			background-color: #DF8505;
			border: 1px solid #C67605;
			cursor: pointer;
			color: #fff;
		}
	
		#widget_content {
			overflow: auto;
			max-height: 750px;
		}
	
		#widget_content span {
			white-space: nowrap;
		}
	
		b {
			font-weight: 400;
		}
		/* 时间 */
	
		.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
			opacity: 1;
			display: none;
			-webkit-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
		/* 编辑按钮 */
	
		.btn_node {
			text-align: center;
			margin: 0 auto 15px;
		}
	
		.btn_node a {
			padding: 6px 12px;
		}

		table th,td{
			text-align: center;
		}

		.apply_online{
			padding: 6px 12px;
		}

		.product_row{
			cursor: pointer;
		}
	</style>
	<link rel="stylesheet" href="css/viewer.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
	
	<section id="widget-grid-my" class="">
	
		<div class="row">
			<article class="col-sm-12 col-md-4 col-lg-4">
				<div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
				 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>银行信息树</h2>
					</header>
					<div>
						<div class="jarviswidget-editbox"> </div>
						<!-- widget content -->
						<div class="widget-body">
							<div class="tree smart-form" id="widget_content">
								<ul>
									<li>
										<span widget_id='0'><i class="fa fa-lg fa-folder-open"></i><b>银行</b></span>
									</li>
								</ul>
							</div>
							<!-- end widget content -->
	
						</div>
					</div>
				</div>
			</article>
			<!-- NEW COL START -->
			<article class="col-sm-12 col-md-8 col-lg-8">
				<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>银行、银行产品信息</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<!-- Nav tabs -->
							<!-- <ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#nodeInfo" aria-controls="nodeInfo" role="tab" data-toggle="tab">节点信息</a></li>
								<li role="presentation"><a href="#addChildNode" aria-controls="addChildNode" role="tab" data-toggle="tab">添加子节点</a></li>
							</ul> -->
	
							<!-- Tab panes -->
							<div class="tab-content">
								<!--节点信息  -->
								<div role="tabpanel" class="tab-pane active" id="nodeInfo">
									<div class="smart-form" id="updata_bank_form" novalidate="novalidate">
										<header>银行基本信息</header>
										<fieldset>
											<div class="form-horizontal">
												<input type="hidden" name="idx" value="0" id="bank_idx">
												<section class="col col-md-12 col-sm-12 col-lg-12">                                               
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">银行名称</label>
														<div class="col col-sm-9">
															<input type="text" name="bank_name" placeholder="银行名称" class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-8">
														<label class="col-sm-1 control-label">地址</label>
														<div class="col col-sm-11">
															<input type="text" name="address" placeholder="地址" class="form-control">
														</div>
													</section>
													
												</section>
												<section class="col col-md-12 col-sm-12 col-lg-12">
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">联系人</label>
														<div class="col col-sm-9">
															<input type="text" name="link_man" placeholder="请输入..." class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">联系人手机</label>
														<div class="col col-sm-9">
															<input type="text" name="link_mobile" placeholder="请输入..." class="form-control">
														</div>
													</section>
													<section class="col col-md-4 col-sm-12 col-lg-4">
														<label class="col-sm-3 control-label">座机号码</label>
														<div class="col col-sm-9">
															<input type="text" name="link_number" placeholder="请输入..." class="form-control">
														</div>
													</section>
												</section>
											</div>
										</fieldset>
									   
										<header>信贷产品</header>
										<fieldset>
											<div class="tabel" id="product_table">
	
											</div>
											<!-- <div class="bank">
												<button type="button" class="add_td btn btn-primary">编辑负责人</button>
											</div> -->
										</fieldset>
										<header>信贷产品详情</header>
										<fieldset>
											<div class="form-product" id="product_detail">
												
											</div>    
								
	
										</fieldset>
										
										<fieldset>
											<div class="btn_node">
												<a href="javascript:void(0);" class="apply_online btn btn-primary disabled" >在线申请</a>
										
											</div>
										</fieldset>
									</div>
								</div>
								
							</div>
	
						</div>
					</div>
				</div>
			</article>
	
		</div>
	</section>
	
	<script type="text/html" id="details_tmpl">

		<input type="hidden" name="idx" id="product_idx" value="${idx}">
		<section class="col col-md-12 col-sm-12 col-lg-12">
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">产品名称</label>
				<div class="col col-sm-9">
					<input type="text" name="product_name" placeholder="产品名称" class="form-control" value="${product_name}" readonly>
				</div>
			</section>
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">产品编号</label>
				<div class="col col-sm-9">
					<input type="text" name="product_no" placeholder="产品编号" class="form-control" value="${product_no}" readonly>
				</div>
			</section>                                                  
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">发生日期</label>
				<div class="col col-sm-9">
					<input type="text" name="posted_date" placeholder="发生日期" class="form-control" value="${posted_date}" readonly>
				</div>
			</section>
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">发布者</label>
				<div class="col col-sm-9">
					<input type="text" name="posted_people" placeholder="发布者" class="form-control" value="${posted_people}" readonly>
				</div>
			</section>                                                  
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
				<label class="col-sm-1 control-label">产品简介</label>
				<div class="col col-sm-10">
					<textarea name="product_intro" id="" cols="30" rows="5" class="form-control"  readonly>${product_intro}</textarea>
				</div>
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
				<label class="col-sm-1 control-label">产品特色</label>
				<div class="col col-sm-10">
					<textarea name="product_feature" id="" cols="30" rows="5" class="form-control"  readonly> ${product_feature} </textarea>
				</div>
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
				<label class="col-sm-1 control-label">适用对象</label>
				<div class="col col-sm-10">
					<textarea name="suitable_obj" id="" cols="30" rows="5" class="form-control"  readonly> ${suitable_obj} </textarea>
				</div>
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
				<label class="col-sm-1 control-label">申办流程</label>
				<div class="col col-sm-10">
					<textarea name="bid_process" id="" cols="30" rows="5" class="form-control"  readonly> ${bid_process} </textarea>
				</div>
		</section>
		<section class="col col-md-12 col-sm-12 col-lg-12">
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">最小额度(万)</label>
				<div class="col col-sm-9">
					<input type="text" name="product_min" placeholder="最小额度" class="form-control" value="${product_min}" readonly>
				</div>
			</section>
			<section class="col col-md-6 col-sm-12 col-lg-6">
				<label class="col-sm-2 control-label">审批时间(工作日)</label>
				<div class="col col-sm-9">
					<input type="text" name="examine_date" placeholder="审批时间" class="form-control" value="${examine_date}" readonly>
				</div>
			</section>                                                  
		</section>
	
	
	
	</script>

	<script type="text/html" id="tabel_tmpl">
		<table class="table table-hover" style="table-layout: fixed;">
			<thead>
				<tr>
					<th>序号</th>
					<th>产品编号</th>
					<th>产品名称</th>
					<th width="20%">产品简介</th>
					<th>最小额度(万)</th>
					<th>发布日期</th>
					<th>发布者</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				{{each(i,val) director}}
				<tr class="product_row" onclick="getRowData('${val.idx}','${i}')" title="点击查看详情">
					<td>${i+1}</td>
					<td>${val.product_no}</td>
					<td>${val.product_name}</td>
					<td><p style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">${val.product_intro}</p></td>
					<td>${val.product_min}</td>
					<td>${val.posted_date}</td>
					<td>${val.posted_people}</td>
					<td><p style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">${val.remark}</p></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</script>

	<script src="js/viewer-jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
	<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript">
		pageSetUp();
		$('#updata_bank_form input').attr('readonly', 'readonly');
		$('#updata_bank_form textarea').attr('readonly', 'readonly');
		$('#updata_bank_form select').attr('readonly', 'readonly');
		var customer_idx=$('#__customer_idx').val();
		if(!customer_idx){
			customer_idx='d36d6eff-1468-41d5-be32-95a163690ba1';
		};
		
		function loadData(cdn) {
			if (!cdn) cdn = { isDelete: 1 };
			else cdn.isDelete = 1;
			__RUN_ACT('bankproduct/list', cdn, function (d) {
				console.log(d);
				$('#product_table').html($('#tabel_tmpl').tmpl({ "director": d }));
				
			});
		}

		__RUN_ACT('bank/queryName', {}, function (data) {
			console.log(data);
			loadScript("js/common/tree.js", function () {
				LoadTree(data);
				$("[widget_id='0']").trigger('click');
			});
		});

		// __RUN_ACT('bank/queryByIdx', { "idx": "212cd264-9a85-451c-bf1d-643fcd18a037" }, function (date){
		// 	if (date[0]) {
		// 		__SET_FORM_VALUES('updata_bank_form', date[0]);
		// 		updata_director = JSON.parse(date[0].director);
		// 		updata_imgJson = JSON.parse(date[0].img_json || '[]');
		// 		$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
		// 		photoViewer();
		// 		loadData({'bank_idx': "212cd264-9a85-451c-bf1d-643fcd18a037"});
		// 		$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
		// 		// $('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
		// 		$('#updata_bank_form .contract_file_id').attr('contract_file_id', date[0].contract_file_id);
		// 		$('#updata_business_img').attr('src', date[0].business_img);
		// 		$('#updata_bank_form .remover_photo').addClass('disabled');
		// 		$('img').each(function (i, elm) {
		// 			if ($(elm).attr('src')) {
		// 				$(elm).show();
		// 			} else {
		// 				$(elm).hide();
		// 			}
		// 		});
		// 	}
		// })

	
		/*json转树形结构*/
		function transData(a, idStr, pidStr, chindrenStr) {
			var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
			for (; i < len; i++) {
				hash[a[i][id]] = a[i];
			}
			for (; j < len; j++) {
				var aVal = a[j], hashVP = hash[aVal[pid]];
				if (hashVP) {
					!hashVP[children] && (hashVP[children] = []);
					hashVP[children].push(aVal);
				} else {
					r.push(aVal);
				}
			}
			return r;
			console.log(r);
		}
		/*编辑树*/
		function widget(jsonDataTree) {
			console.log(jsonDataTree);
			jsonDataTree.forEach(function (element, index) {
				if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
					var fa = "fa fa-lg fa-plus-circle";
					if (!element.chindren) {
						fa = "fa fa-lg fa-pencil-square-o";
					}
					var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.bank_name + '</b></span></li>'
					$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
				} else {
					var fa = "fa fa-lg fa-plus-circle";
					if (!element.chindren) {
						fa = "fa fa-lg fa-pencil-square-o";
					}
					var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.bank_name + '</b></span></li></ul>'
					$("[widget_id='" + element.pid + "']").parent().append(html);
				}
				if (element.chindren) {
					widget(element.chindren);
				}
			});
		}
	
		function LoadTree(jsonData) {
			widget(transData(jsonData, 'idx', 'pid', 'chindren'));
			tree();
			$('#widget_content').nestable();
			$('#widget_content [widget_id]').on('click', function () {
				__RESET_FORM('product_detail');
				$("#product_detail").html('');
				$('#widget_content [widget_id]').removeClass('spanActive');
				$(this).addClass('spanActive');
				$('#wid-id-2>header>h2')[0].innerHTML = '银行信息:所在节点(' + $(this)[0].innerText + ')';
				$('[name="idx"]').val($(this).attr('widget_id'));
				$('[name="pid"]').val($(this).attr('widget_id'));
				loadData({'bank_idx': $(this).attr('widget_id')});
				$(".apply_online").addClass('disabled');
				__RUN_ACT('bank/queryByIdx', { "idx": $(this).attr('widget_id') }, function (date) {
					console.log(date);
				 
					if (date[0]) {
						__SET_FORM_VALUES('updata_bank_form', date[0]);
						updata_director = JSON.parse(date[0].director);
						updata_imgJson = JSON.parse(date[0].img_json || '[]');
						$('#updata_bank_form .imgs').html($('#photo_tmpl').tmpl(updata_imgJson));
						$('#tabel_form').html($('#tabel_form_tmpl').tmpl(updata_director));
						// $('#updata_bank_form .tabel').html($('#tabel_tmpl').tmpl({ "director": updata_director }));
						$('#updata_bank_form .contract_file_id').attr('contract_file_id', date[0].contract_file_id);
						$('#updata_business_img').attr('src', date[0].business_img);
						$('#updata_bank_form .remover_photo').addClass('disabled');
					}
				});
			});
		}

		function getRowData(idx,i){
		   //加载数据
		   console.log(idx,i)
		  

		   var step=[  {JSCODE:'LOAD',CODE:'LD_BANKPRODUCT_DETAILS',RCODE:'LIST',DATA:{'idx':idx}} ];  
		   __RUN_STEP(step,function(d){ 
				console.log(d.LIST); 
				$('#product_detail').html($('#details_tmpl').tmpl(d.LIST[0]));
				
				$(".apply_online").removeClass('disabled');
			   $(".product_row").eq(i).css('background-color' , '#ecf3f8').siblings().css('background-color' , '#fff');
			 });

		}

		$(".apply_online").click(function(){
			var step =[  {JSCODE:'LOAD',CODE:'LD_TEST2_LIST',RCODE:'LIST',DATA:{'type':'10'}} ];  
			__RUN_STEP(step,function(d){ 
				var arr=[];
				for(var i=0;i<d.LIST.length;i++){
					console.log(JSON.parse(d.LIST[i].insureapply));
					arr.push(JSON.parse(d.LIST[i].insureapply));
				}
				var arr1 = [];
				for(var i=0;i<arr.length;i++){
					if(arr[i].customer_idx == customer_idx && arr[i].return_apply!='0'&&arr[i].approval_results=='2'){
						arr1.push(arr[i]);
					}
				};
				console.log(arr1)
				if(!arr1.length){
					$.confirm({
						title:'申请失败',
						text: '请先投保再进行贷款申请',
						confirmButton : '确定',
						cancelButton : false,
						confirm : function(){
							console.log(arr1)
						}
					})
				}else{
					location.hash='#page/nh/bank_mes/apply_funs.html?product_idx='+$('#product_idx').val()+'&bank_idx='+$("#bank_idx").val();
				};
				
			})
			
		});
		
	
	</script>