<style type="text/css">
	body,
	html,
	#allmap {

		overflow: hidden;
		margin: 0;
		font-family: "微软雅黑";
	}

	body.smart-style-6>#main>#content {
		margin: 0;
		padding: 0;
	}

	body.smart-style-6>#main>#content * {
		box-sizing: content-box;
	}

	label {
		max-width: max-content;
	}

	/*树状图鼠标移入样式*/

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	b {
		font-weight: 400;
	}
</style>

<div id="allmap" style="width: 100%;"></div>
<div class="tree" style="width: 250px;max-height:700px;overflow: auto; padding:15px;position: absolute;left:0;top:0;background: rgba(255,255,255,0.8);">
	<ul>
		<li>
			<span widget_id='12'>
				<i class="fa fa-lg fa-folder-open"></i>
				<b>浙江省</b>
			</span>
		</li>
	</ul>
</div>
<script type="text/javascript">
	loadScript('http://api.map.baidu.com/getscript?v=2.0&ak=BYDeu2gn4GK1V1F3DPh4FOHuGK0YY4Vu', function () {
		loadScript('/js/plugin/bootstraptree/bootstrap-tree.min.js', function () {
			/*json转树形结构*/
			function transData(a, idStr, pidStr, chindrenStr) {
				var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
				for (; i < len; i++) {
					hash[a[i][id]] = a[i];
				}
				for (; j < len; j++) {
					var aVal = a[j], hashVP = hash[aVal[pid]];
					if (hashVP) {
						!hashVP[children] && (hashVP[children] = []);
						hashVP[children].push(aVal);
					} else {
						r.push(aVal);
					}
				}
				return r;
			}
			/*编辑树*/
			function widget(jsonDataTree) {
				jsonDataTree.forEach(function (element, index) {
					if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
						var fa = "fa fa-lg fa-plus-circle";
						if (!element.chindren) {
							if (element.leaf) {
								fa = "fa fa-lg fa-leaf";
							} else {
								fa = "fa fa-lg fa-pencil-square-o";
							}
						}
						var html = '<li style="display:none"><span widget_id=' + element.idx + ' level=' + element.level + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li>'
						$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
					} else {
						var fa = "fa fa-lg fa-plus-circle";
						if (!element.chindren) {
							if (element.leaf) {
								fa = "fa fa-lg fa-leaf";
							} else {
								fa = "fa fa-lg fa-pencil-square-o";
							}
						}
						var html = '<ul><li style="display:none"><span widget_id=' + element.idx + ' level=' + element.level + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li></ul>'
						$("[widget_id='" + element.pid + "']").parent().append(html);
					}
					if (element.chindren) {
						widget(element.chindren);
					}
				});
			}
			__RUN_ACT('/district/queryZheJiang', {}, function (data) {
				widget(transData(data, 'idx', 'pid', 'chindren'));
				tree();
				$('[widget_id]').on('click', function () {
					$('[widget_id]').removeClass('spanActive');
					$(this).addClass('spanActive');
					betterView($(this).text());
					map.clearOverlays();//清除覆盖物
					if ($(this).attr('level') == '3') {
						getBoundary($(this).text());
						__RUN_ACT('/farmer/queryCus', { "names": $(this).text() }, function (d) {
							for (var key in d) {
								Marker(d[key]);
							}
						})
					} else {
						__RUN_ACT('/farmer/queryCount', { "names": $(this).text() }, function (d) {
							for (var key in d) {
								getBoundary(d[key].name, d[key].per);
								myGeoc(d[key]);
							}
						})
					}

				})
			});

			$('#allmap').css('height', $(window).height());

			var customer_idx = getQueryString('customer_idx');
			// 百度地图API功能 
			var map = new BMap.Map("allmap", { minZoom: 6, maxZoom: 19, mapType: BMAP_HYBRID_MAP }); // 创建Map实例,设置地图允许的最小/大级别
			var geoc = new BMap.Geocoder();//创建Map地址解析实例
			var pt = [];//鼠标所在的经纬度
			var ply;//创建覆盖物坐标
			window.map = map;
			map.centerAndZoom(new BMap.Point(120.489906, 29.386733), 8);
			map.enableScrollWheelZoom(true);
			/* 鼠标移动获取坐标 */
			map.addEventListener("mousemove", function (e) {
				pt = e.point;
			});
			if (customer_idx) {
				$('.tree').hide();
				__RUN_ACT('farmer/customerSkip', { "idx": customer_idx }, function (data) {
					var district_idx = data.district_idx.split(',');
					__RUN_ACT('district/queryDetails', { "district_idx": district_idx[3] }, function (date) {
						map.clearOverlays();//清除覆盖物
						getBoundary(date[0].name);
						betterView(date[0].name);
						Marker(data);
					})
				})
			} else {
				$('#allmap').on('mousewheel DOMMouseScroll', function (e) {
					var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) ||// chrome & ie
						(e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1));// firefox
					if (map.getZoom() + delta <= 8) {
						map.clearOverlays();//清除覆盖物
						init();
					}
					if (map.getZoom() + delta >= 9 && map.getZoom() + delta <= 10) {
						geoc.getLocation(pt, function (rs) {
							var addComp = rs.addressComponents;
							map.clearOverlays();//清除覆盖物
							__RUN_ACT('/farmer/queryCount', { "names": addComp.city }, function (d) {
								for (var key in d) {
									getBoundary(d[key].name, d[key].per);
									myGeoc(d[key]);
								}
							})
						});
					}
					if (map.getZoom() + delta >= 11) {
						geoc.getLocation(pt, function (rs) {
							var addComp = rs.addressComponents;
							map.clearOverlays();//清除覆盖物
							getBoundary(addComp.district);
							if (addComp.district == '富阳市') {
								addComp.district = '富阳区';
							}
							__RUN_ACT('/farmer/queryCus', { "names": addComp.district }, function (d) {
								for (var key in d) {
									Marker(d[key]);
								}
							})
						});
					}
				});
				init();
			}
			/* 地图初始化 */
			function init() {
				__RUN_ACT('/farmer/queryCount', { "names": "浙江省" }, function (d) {
					for (var key in d) {
						getBoundary(d[key].name, d[key].per);
						myGeoc(d[key]);
					}
				})


			}
			/* 创建标注 */
			function Marker(data) {

				//设置marker图标为水滴
				var name = data.name || data.register_name;

				var icon = 'comIcon';
				if (data.scale_type == '1') {
					switch (data.scale) {
						case '规模场:(猪)': icon = 'pigIcon'; break;
						case '规模场:(牛)': icon = 'cattleIcon'; break;
						case '规模场:(羊)': icon = 'sheepIcon'; break;
						case '规模场:(鸡)': icon = 'chickenIcon'; break;
						case '规模场:(鸭)': icon = 'duckIcon'; break;
						case '未知': icon = 'defaultIcon'; break;
						default: icon = 'defaultIcon';
					}
				}
				var vectorMarker = new BMap.Marker(new BMap.Point(data.longitude, data.latitude), {
					// 指定Marker的icon属性为Symbol
					icon: new BMap.Icon("/img/xmj/" + icon + ".png", new BMap.Size(34, 51), {
						anchor: new BMap.Size(17, 48),
						imageOffset: new BMap.Size(0, 0)
					}),
					title: name
				});
				var label = new BMap.Label(data.count || '', { offset: new BMap.Size(2, 7) });
				if (!data.count) data.count = '';
				label.setContent('<span>' + data.count + '</span><span style="margin-left: 15px;background:#ffffff;border:1px solid red;color：red">' + name + '</span>');
				label.setStyle({ background: 'transparent', border: 0, width: '30px', textAlign: 'center', display: '', padding: '3px 0 0 8px' })
				vectorMarker.setLabel(label);

				//vectorMarker.setLabel(label1);
				map.addOverlay(vectorMarker);
				if (data.scale_type == '1') {
					if (data.file == null) {
						data.imgSrc = '/img/xmj/undefined.png'
					} else {
						data.imgSrc = '/file/'+ data.file + '/view'
					}
					var sContent =
						"<h4 style='margin:0 0 5px 0;padding:0.2em 0'>企业名称：" + data.register_name + "</h4>" +
						"<div style='line-height:1.5;font-size:13px;'>" +
						"<table style='vertical-align: top;display: inline-block;'>" +
						"<tr><td style='color:#469dd2'>企业名称：</td><td><a href='/#page/nh/farmer/scale-farm.html?customer_idx=" + data.idx + "&ischeck=1'>" + data.register_name + "</td></tr>" +
						"<tr><td style='color:#469dd2'>企业地址：</td><td><a href='javascript:void(0);' onclick=\"routeGuidance('" + data.longitude + "','" + data.latitude + "')\">" + data.domicile + "</a></td></tr>" +
						"<tr><td style='color:#469dd2'>负责人：</td><td>" + data.principal_name + "</td></tr>" +
						"<tr><td style='color:#469dd2'>联系电话：</td><td>" + data.phone + "</td></tr>" +
						"<tr><td style='color:#469dd2'>企业类型：</td><td>" + data.scale + "</td></tr>" +
						"</table>" +
						"<img id='imgDemo' style='margin:4px' class='InfoWindowImg' src='" + data.imgSrc + "' width='150px' title='" + name + "'/>" +
						"</div>";
					var infoWindow = new BMap.InfoWindow(sContent);
					vectorMarker.addEventListener("click", function () {
						//图片加载完毕重绘infowindow
						this.openInfoWindow(infoWindow);
						document.getElementById('imgDemo').onload = function () {
							infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
						}
					});
				}
				if (!data.scale_type) {
					if (data.level == '3') {
						vectorMarker.addEventListener("click", function () {
							map.clearOverlays();//清除覆盖物
							betterView(this.getTitle());
							getBoundary(this.getTitle());
							__RUN_ACT('/farmer/queryCus', { "names": this.getTitle() }, function (d) {
								for (var key in d) {
									Marker(d[key]);
								}
							})
						});
					} else {
						vectorMarker.addEventListener("click", function () {
							map.clearOverlays();//清除覆盖物
							betterView(this.getTitle());
							__RUN_ACT('/farmer/queryCount', { "names": this.getTitle() }, function (d) {
								for (var key in d) {
									getBoundary(d[key].name, d[key].per);
									myGeoc(d[key]);
								}
							});
						});
					}
				}

			}
			/* 覆盖物创建 */
			function getBoundary(name, percent) {
				var bdary = new BMap.Boundary();
				bdary.get(name, function (rs) {//获取行政区域
					var count = rs.boundaries.length; //行政区域的点有多少个
					if (count === 0) {
						return;
					}
					for (var i = 0; i < count; i++) {
						ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: "#0ACE19", fillColor: '#21695C', fillOpacity: percent || 0.2 }); //建立多边形覆盖物
						map.addOverlay(ply);  //添加覆盖物
					}
				});
			}
			/* 调整视野 */
			function betterView(name) {
				var bdary = new BMap.Boundary();
				bdary.get(name, function (rs) {//获取行政区域
					var count = rs.boundaries.length; //行政区域的点有多少个
					if (count === 0) {
						return;
					}
					var pointArray = [];
					for (var i = 0; i < count; i++) {
						var ply = new BMap.Polygon(rs.boundaries[i]); //建立多边形覆盖物
						map.setViewport(pointArray.concat(ply.getPath()));
					}
				});
			}
			/* 地址解析添加标注 */
			function myGeoc(data) {
				geoc.getPoint(data.name, function (point) {
					if (point) {
						data.longitude = point.lng;
						data.latitude = point.lat;
						Marker(data);
					} else {
						console.log("您选择地址没有解析到结果!");
					}
				}, "浙江省");
			}


		});
	});
	/* 根据地址名称进行导航 */
	function routeGuidance(lng, lat) {
		var geolocation = new BMap.Geolocation();
		var pt;
		geolocation.getCurrentPosition(function (r) {
			if (this.getStatus() == BMAP_STATUS_SUCCESS) {
				var start = new BMap.Point(r.point.lng, r.point.lat);
				var end = new BMap.Point(lng, lat);
				var driving = new BMap.DrivingRoute(map, { renderOptions: { map: map, autoViewport: true } });
				driving.search(start, end);
			}
		});
	}

</script>