<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}


</style>

<!-- widget grid -->

<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
        <div class="alert alert-info">
            <strong>提示:</strong> 企业饲养动物信息预警在此查看
        </div>
		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
			<div id="wid-id-3" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false"
			 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
			 data-widget-sortable="false">
				<div>
					<div class="jarviswidget-editbox"> </div>

					<div class="widget-body no-padding">
						<table id="individual_list" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th width="60px;">序号</th>
									<th>舍</th>
									<th>栏</th>
									<th>射频RFID编号</th>
									<th>场内编号</th>
									<th>发生日期</th>
									<th>预警类型</th>
									<th>描述</th>
									<th>误报</th>
									<th>信息明细</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</article>

		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->
<div id="individual_info" title="动物预警详情" class="ajax-win"></div>



<script id="edit_cell" type="text/x-jquery-tmpl">
	<div>	
		<a href="#page/nh/individual_admin/individual_check.html?idx=${idx}&ischeck=1" title="查看" class="edit_cell" ><i class="fa fa-search"></i></a>	
		<a href="#page/nh/individual_admin/individual_check.html?idx=${idx}" title="修改" class="edit_cell" ><i class="fa fa-edit"></i></a>
		<a href="javascript:void(0)" title="删除" class="edit_cell" onclick="remove_individual('${animal_no},${idx}')"><i class="fa fa-minus-circle"></i></a>
	</div>
</script>

<script id="check_cell" type="text/x-jquery-tmpl">
	<div>
		<a href='javascript:void(0)' title="查看" class="edit_cell" onclick="individuanCheck(${idx})" ><i class="fa fa-search"></i></a>		
	</div>
</script>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	var getIdx = getQueryString('customer_idx');
	if (!getIdx) {
		getIdx = $('#__customer_idx').attr("value");
	};
	var credit_tbl = null;
	var individual_dialog;

	var testData = [
		{
			'customer_name' : '1舍',
			'bar_name' : '156',
			'rfid_no' : '570010500016117',
			'animal_no' : '0007',
			'create_time' : '2016-04-12',
			'warn_type' : '体温异常',
			'describe' : '体温39.5℃',
			'approval_results' : '1',
		},
		{
			'customer_name' : '1舍',
			'bar_name' : '147',
			'rfid_no' : '570010500018877',
			'animal_no' : '0104',
			'create_time' : '2016-04-18',
			'warn_type' : '体温异常',
			'describe' : '体温39.9℃',
			'approval_results' : '1',
		},
		{
			'customer_name' : '1舍',
			'bar_name' : '148',
			'rfid_no' : '570010500017460',
			'animal_no' : '0105',
			'create_time' : '2016-04-19',
			'warn_type' : '体温异常',
			'describe' : '体温39.3℃',
			'approval_results' : '1',
		},
		{
			'customer_name' : '2舍',
			'bar_name' : '188',
			'rfid_no' : '570010500016006',
			'animal_no' : '0411',
			'create_time' : '2016-06-09',
			'warn_type' : '未采集到业务数据',
			'describe' : 'rfid号信息未读取，请重新更换rfid编号',
			'approval_results' : '0',
		},
		{
			'customer_name' : '2舍',
			'bar_name' : '192',
			'rfid_no' : '570010500015683',
			'animal_no' : '0610',
			'create_time' : '2016-06-09',
			'warn_type' : '未采集到业务数据',
			'describe' : 'rfid号信息未读取，请重新更换rfid编号',
			'approval_results' : '1',
		},
		{
			'customer_name' : '2舍',
			'bar_name' : '200',
			'rfid_no' : '570010500018757',
			'animal_no' : '0321',
			'create_time' : '2016-06-13',
			'warn_type' : '未采集到业务数据',
			'describe' : 'rfid号信息未读取，请重新更换rfid编号',
			'approval_results' : '0',
		},
		{
			'customer_name' : '3舍',
			'bar_name' : '10',
			'rfid_no' : '570010500015921',
			'animal_no' : '0411',
			'create_time' : '2016-06-12',
			'warn_type' : '地理位置异常',
			'describe' : '位置变更',
			'approval_results' : '1',
		},
		{
			'customer_name' : '3舍',
			'bar_name' : '55',
			'rfid_no' : '570010500016049',
			'animal_no' : '0514',
			'create_time' : '2016-06-18',
			'warn_type' : '地理位置异常',
			'describe' : '位置变更',
			'approval_results' : '1',
		},
		{
			'customer_name' : '3舍',
			'bar_name' : '155',
			'rfid_no' : '570010500018508',
			'animal_no' : '0500',
			'create_time' : '2016-05-14',
			'warn_type' : '地理位置异常',
			'describe' : '位置变更',
			'approval_results' : '1',
		},
	];

	var animal_move = [
        {
            'create_time' : '2016-03-10 12:20:45',
            'animal_action' : '温度测量',
            'action_result' : '体温38℃',
            'action_bar' : '定5-173',
            'action_district' : '杭州市富阳区新登镇上旺村'
		},
		{
            'create_time' : '2016-03-15 12:25:45',
            'animal_action' : '饮水',
            'action_result' : '正常',
            'action_bar' : '定5-183',
            'action_district' : '杭州市富阳区新登镇上旺村'
		},
		{
            'create_time' : '2016-04-10 14:25:45',
            'animal_action' : '温度测量',
            'action_result' : '体温39℃',
            'action_bar' : '定5-173',
            'action_district' : '杭州市富阳区新登镇上旺村'
		}
    ]

	_Import_Html('cityTree', 'page/common/cityTree.html');
	

	var initFun = function () {	
		_crtGrid(testData);
		individual_dialog = $("#individual_info").dialog({
			autoOpen : false,
			width : 800,
			resizable : false,
			modal : true,
			buttons : [{
				html : '确定',
				class : 'btn btn-primary',
				click : function(){
					individual_dialog.dialog('close');
				}
			}]
		})
	}

	function _optionRender(data, type, row) {//console.log(arguments);
		return $('#check_cell').tmpl(data).html();	
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "表中没有可用数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		credit_tbl = $('#individual_list').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
                { data: "customer_name" },
                { data: "bar_name" },
				{ data: "rfid_no" },
				{ data: "animal_no" },
				{ data: "create_time" },
                { data: "warn_type" },
                { data: "describe" },
				{ data: "approval_results", render: function (data) { if (data == 0) { return '<input type="checkbox" />' } if (data == 1) { return '<input type="checkbox" checked/>' }  } },
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});
		
		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}


	//日期选择
	$('#create_time1').datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});
	$('#create_time2').datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});
	/* 限制起始时间和结束时间 */
	$('#create_time1').on('change', function () {
		$('#create_time2').datetimepicker('setStartDate', $(this).val());
	})
	$('#create_time2').on('change', function () {
		$('#create_time1').datetimepicker('setEndDate', $(this).val());
	})
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");
	$(".clear").text('清空');
	$("#create_time1").click(function () {
		$(".clear").text('清空');
	});
	$("#create_time2").click(function () {
		$(".clear").text('清空');
	});

	//查询
	$('#animal-indiv-search').on('click', function () {
		


	})





	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
							loadScript("js/plugin/datatables/dataTables.select.min.js", function () { initFun() });
						});
					});
				});
			});
		});
	});


	function individuanCheck (idx){
		__SHOW_WIN(individual_dialog , 'page/nh/house_admin/animal_mes_warninfo.html');
		initTable(animal_move);
	}
	
	

</script>