<style>

    .tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget_content {
		overflow: auto;
		max-height: 750px;
	}

	#widget_content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}

	.smart-form {
		color : #333;
	}


     /* 时间 */
    
     .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
            opacity: 1;
            display: none;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }

    body.smart-style-6 .dt-toolbar{
        padding: 0;
    }
    
</style>

       

    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<section id="widget-grid-my" class="">
    
    <div class="row">
        <article class="col-sm-12 col-md-4 col-lg-4">
            <div id="wid-id-1" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>栏舍信息树</h2>
                </header>
                <div>
                    <div>
                    </div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="tree smart-form" >
                            <ul>
                                <li id="widget_content" class="dd">
                                    <span widget_id='0'><i class="fa fa-lg fa-plus-circle"></i><b id="customer_name">保险</b></span>
                                </li>
                            </ul>
                        </div>
                        <!-- end widget content -->

                    </div>
                </div>
            </div>
        </article>
        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-8 col-lg-8">
            <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>设备管理</h2>
                </header>
            <div>
            <div class="widget-body no-padding">
                <div class="smart-form" id="updata_insurance_form" novalidate="novalidate">

                    <fieldset class="form-horizontal" id="check_data">
                        
                            <section class="col col-md-12 col-sm-12 col-lg-12">
                                <section class="col col-md-3 col-sm-12 col-lg-3">
                                    <label class="col-sm-4 control-label">设备类型</label>
                                    <div class="col col-sm-8">
                                        <select id="u172_input" class="form-control" name="facility_name">
                                            <option value="">请选择</option>
                                            <option value="0">红外线温度传感器</option>
                                            <option value="1">智能台秤</option>
                                            <option value="2">路由器</option>
                                            <option value="3">智慧传感器</option>
                                        </select>
                                    </div>
                                </section>
                                <section class="col col-md-5 col-sm-12 col-lg-5">
                                    <label class="col col-sm-3 control-label">购买日期</label>
                                    <div class="col col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input class="form-control daylist" id="posted_date1" name="buy_time1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                                    <div class="col col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input class="form-control daylist" id="posted_date2" name="buy_time2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                
                            </section>
                        
                    </fieldset>
                    <footer>
                        <input type="button" class="btn btn-default" id="reset_qry" value="重置" />
                        <input type="button" class="btn btn-primary" id="check_qry" value="查询" />
                    </footer>
                    <form action="" id="equipment_tbar" class="smart-form datatable-tbar">
                        <footer>
                            <input type="button" class="btn btn-default" id="equipment_new" value="添加设备" />
                        </footer>
                    </form>
                    <table id="equipment_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>设备类型</th>
                                <th>设备编号</th>
                                <th>舍名</th>
                                <th>栏名</th>
                                <th>购买日期</th>
                                <th>安装日期</th>
                                <th>保修期限</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </article>
    </div>
                    
</section>
<div id="equipment_info" title="添加设备" class="ajax-win"></div>
<div id="equipment_individual_info" title="查看个体" class="ajax-win"></div>


<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>

<script id="bardorm_option" type="text/html">
	
	
	{{each(i,val) data}}
		<option value="${val.idx}">${val.name}</option>
	{{/each}}
	
</script>

<script id="edit_cell" type="text/x-jquery-tmpl">
	<div>
		<a href="javascript:void(0)" title="查看" class="edit_cell" onclick="check_data('${sidx}','${lidx}')"><i class="fa fa-search"></i></a>
		
		<a href="javascript:void(0)" title="删除" class="edit_cell" onclick="remove_data('${idx}')"><i class="fa fa-minus-circle"></i></a>
	</div>
</script>

<script id="type_option" type="text/html">
	<select name="" id="" class="form-control" style="width: 100%;">
		<option value="">请选择</option>
		<option value="0">红外线温度传感器</option>
		<option value="1">智能台秤</option>
		<option value="2">路由器</option>
		<option value="3">智慧传感器</option>
	</select>
</script>

<script>

    var getIdx=getQueryString('customer_idx');
	if(!getIdx){
		getIdx=$('#__customer_idx').attr("value");
    };
    if(!getIdx){
		getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
    };
    var credit_tbl = null;
    var new_tbl = null;
    var tableData = [
        {
            'equipment_type' : '0',
            'equipment_no' : '3133441',
            'equipment_position' : '1舍',
            'buy_date' : '2016-06-11',
            'install_date' : '2016-06-15',
            'insure_time' : '3年',
        }
    ]

	var language = {
			"decimal": "",
			"emptyTable": "无数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
        };

    __RUN_ACT('farmer/querydetails', { 'idx': getIdx }, function (d) {
        console.log(d);
        $('#customer_name').text(d.details[0].register_name);
    })


	var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } }];
	__RUN_STEP(step, function (d) {  
		console.log(d.LIST)
		loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {

			console.log(d.LIST,"tree");
			LoadTree(d.LIST);
			$('#widget_content [widget_id=0]').addClass('spanActive').siblings('ul').children('li').show();

		});
	})

	/*json转树形结构*/
	function transData(a, idStr, pidStr, chindrenStr) {
		var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
		for (; i < len; i++) {
			hash[a[i][id]] = a[i];
		}
		for (; j < len; j++) {
			var aVal = a[j], hashVP = hash[aVal[pid]];
			if (hashVP) {
				!hashVP[children] && (hashVP[children] = []);
				hashVP[children].push(aVal);
			} else {
				r.push(aVal);
			}
		}
        console.log(r);
        return r;
	}
	
	/*编辑树*/
	function widget(jsonDataTree) {
		jsonDataTree.forEach(function (element, index) {
			if ($("[widget_id='" + element.parent_id + "']").parent().find('ul').length) {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li>'
				$("[widget_id='" + element.parent_id + "']").parent().find('ul').first().append(html);
			} else {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.name + '</b></span></li></ul>'
				$("[widget_id='" + element.parent_id + "']").parent().append(html);
			}
			if (element.chindren) {
				widget(element.chindren);
			}
		});
	}

	function LoadTree(jsonData) {     
		widget(transData(jsonData, 'idx', 'parent_id', 'chindren'));
		tree();
		
		$('#widget_content [widget_id]').on('click', function () {
			$('#widget_content [widget_id]').removeClass('spanActive');
			$(this).addClass('spanActive');
			console.log($(this).attr('widget_id'));		
			if($(this).attr('widget_id')=='0'){
				var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
				__RUN_STEP(step,function(d){  
					console.log(d)
					_crtEquipment(d.LIST)	
				})
			}else if($(this).parent().parent().siblings('span').attr('widget_id')=='0'){
				var sidx = $(this).attr('widget_id');
				var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'sidx' : sidx}}];
				__RUN_STEP(step,function(d){  
					console.log(d)
					_crtEquipment(d.LIST)	
				})
			}else{
				var lidx = $(this).attr('widget_id');
				var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'lidx' : lidx}}];
				__RUN_STEP(step,function(d){  
					console.log(d)
					_crtEquipment(d.LIST)	
				})
			}



		});
	}

    $("#equipment_new").click(function(){
        __SHOW_WIN(equipment_info_win,'page/nh/house_admin/equipment_info.html');
        
	})
	
	function check_data(dorm_idx,bar_idx) {
		__SHOW_WIN(equipment_individual_info_win,'page/nh/house_admin/equipment_individual_info.html',function(){
			var individualData = {
					EL: $('#individual_table'),
					COLUMNS: [

						{ data: null, targets: 0 },
						{ data: "dorm_name" },
						{ data: "bar_name" },
						{ data: "breedname" },
						{ data: "rfid" },
						{ data: "animal_no" },
					],
					
					QRY_CODE: 'LD_CREATURE_LIST',
					//			__PAGESIZE:10,
					QRY_PARAM: function () {
						return { 'customer_idx': getIdx  };
					}
			};
			if(bar_idx){
				var bardorm_idx=dorm_idx+','+bar_idx+'%';
				individualData.QRY_PARAM=function(){
					return{ 'customer_idx': getIdx , 'bardorm_idx': bardorm_idx }
				}
			}else if(dorm_idx) {
				var bardorm_idx=dorm_idx+'%';
				individualData.QRY_PARAM=function(){
					return{ 'customer_idx': getIdx , 'bardorm_idx': bardorm_idx }
				}
			};
			__CRT_GRID(individualData);


		});



   }

	$("#check_qry").click(function(){
		var data = __GET_FROM_VALUES('check_data');
		data = __RMV_NULL_PROP(data);
		console.log(data);
		var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA: data}];
		__RUN_STEP(step,function(d){  
			console.log(d)
			$('#widget_content [widget_id]').removeClass('spanActive');
			_crtEquipment(d.LIST)	
		})
	})

	$("#reset_qry").click(function(){
		__RESET_FORM('check_data');
	})

	pageSetUp();

	// 初始化函数
    var equipInitFun = function () {
			initdate('posted_date1');
			initdate('posted_date2');
			var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
			__RUN_STEP(step,function(d){  
				console.log(d)
				if(d){
					_crtEquipment(d.LIST);
				}else{
					_crtEquipment([]);
				}					
			});
			equipment_info_win = $("#equipment_info").dialog({
				autoOpen : false,
				width : 800,
				resizable : false,
				modal : true
			});
			
			equipment_individual_info_win = $("#equipment_individual_info").dialog({
				autoOpen : false,
				width : 800,
				resizable : false,
				modal : true
			});
			

			$(".icon-arrow-left").addClass("glyphicon-arrow-left");
			$(".icon-arrow-right").addClass("glyphicon-arrow-right");
			$('.daylist').click(function () {
				$(".clear").text('清空');
			})
    }





    	//加载时间控件
	function initdate(id) {
		$("#" + id).datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
	}

	function initdata(cla) {
		$("." + cla).datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
	}



    function _optionRender (data) {
        return $("#edit_cell").tmpl(data).html();
    }

	function lansheRender () {
		var step = [{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'parent_id': '0', 'customer_idx': getIdx } }];
		__RUN_STEP(step, function (d) {
			var sheData = [{'idx': '','name': '请选择'}];
			var lanData = [{'idx': '','name': '请选择'}];
			for(var i=0;i<d.LIST.length;i++){
				sheData.push(d.LIST[i]);
			}
			$(".sheSelect").html($("#bardorm_option").tmpl({'data':sheData}));
			$(".lanSelect").html($("#bardorm_option").tmpl({'data':lanData}));
		})

	}

	// 表格函数
    function _crtEquipment(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}

		credit_tbl = $('#equipment_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			ordering: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "facility_name" , render: function (data) { if (data == 0) { return '红外温度传感器' } if (data == 1) { return '智能台秤' } if (data == 2) { return '华为路由器' } if (data == 3) { return '智慧传感器' }}},
                { data: "facility_no" },
				{ data: "sname" },
				{ data: "lname" },
				{ data: "buy_time" },
				{ data: "install_time" },
                { data: "guarantee_time" },              
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {
     
			}
		});
		
		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

   

	// 删除函数
	function remove_data (data){
		$.confirm({
			text:'删除数据',
			confirm: function(){
				var step=[  {JSCODE:'SAVE',CODE:'REMOVE',CLZ:'t_facility',RCODE:'ENTITY',DATA:{'idx':data}}  ];
				__RUN_STEP(step,function(data){
					if($('.spanActive').attr('widget_id')=='0'){
						var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx}}];
						__RUN_STEP(step,function(d){  
							console.log(d)
							_crtEquipment(d.LIST)	
						})
					}else if($('.spanActive').parent().parent().siblings('span').attr('widget_id')=='0'){
						var sidx = $(this).attr('widget_id');
						var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'sidx' : sidx}}];
						__RUN_STEP(step,function(d){  
							console.log(d)
							_crtEquipment(d.LIST)	
						})
					}else{
						var lidx = $(this).attr('widget_id');
						var step=[  {JSCODE:'LOAD',CODE:'LD_FACILITY_LIST',RCODE:'LIST',DATA:{'customer_idx': getIdx ,'lidx' : lidx}}];
						__RUN_STEP(step,function(d){  
							console.log(d)
							_crtEquipment(d.LIST)	
						})
					}
				});
				
			},
			confirmButton: '确定',
			cancelButton: '取消'
		})

	}



    loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
							loadScript("js/plugin/datatables/dataTables.select.min.js", equipInitFun);
						});
					});
				});
			});
		});
	});


</script>