<style>
	.item {
		text-align: center;
		height: 350px !important;
	}

	.carousel-inner>.item>img{
		display: inline;
		height: 100%;
	}

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget-content {
		overflow: auto;
		max-height: 750px;
	}

	#widget-content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}

</style>
<link rel="stylesheet" href="css/viewer.min.css">
<section class="lanshe_mes">
	<div class="row">
		<article class="col-sm-12 col-md-2 col-lg-2">
			<div id="wid-id-2" class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
			 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>栏舍信息树</h2>
				</header>
				<div>
					<div class="widget-body">
						<div class="tree smart-form">
							<ul>
								<li id="widget-content" class="dd">
									<span widget_id='0'>
										<i class="fa fa-lg fa-puls-circle icon-plus-sign"></i>
										<b id="customer_name">新旺养殖场</b>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="col-sm-12 col-md-10 col-lg-10">
			<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>温度监控</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div id="imgTable"></div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<div id="temperature_info" title="温度监控" class="ajax-win"></div>
<div id="importHtml"></div>
<script type="text/html" id="temperature_tmpl">
	{{each(i,val) data}}
	<div class="col col-sm-12 col-md-4 col-lg-4" style="min-height: 570px;">
		<div class="">
			<table class="table table-bordered" width="100%">
				<thead>
					<th>舍</th>
					<th>时间</th>
					<th>最高温</th>
					<th>最低温</th>
					<th>正常</th>
					<th>状况</th>
					<th>详情</th>
				</thead>
				<tbody>
					<td>${val.dorm_name}</td>
		
					<td>${val.check_time}</td>
					<td>${val.top_temperature}</td>
					<td>${val.low_temperature}</td>
					{{if val.style=='1'}}
						<td>是</td>
					{{else val.style=='0'}}
						<td>否</td>
					{{/if}}
					{{if val.statue=='1'}}
						<td style="color: green;">已处理</td>
					{{else val.statue=='2'}}
						<td style="color: red;">未处理</td>
					{{else val.statue=='3'}}
						<td>不需处理</td>
					{{/if}}
					<td><a href="javascript:void(0);" onclick="loadNewPage()"  class="edit_cell" title="查看"><i class="fa fa-search"></i></a></td>
				</tbody>
			</table>
		</div>
		<div class="">
			<div id="nhmainbanner${i}" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					{{each(a,aval) data[i].img}}
						{{if a==0}}
							<li data-target="#nhmainbanner${i}" data-slide-to="${a}" class="active"></li>
						{{else a!=0}}
							<li data-target="#nhmainbanner${i}" data-slide-to="${a}" ></li>
						
						{{/if}}
					{{/each}}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					{{each(a,aval) data[i].img}}
						{{if a==0}}
							<div class="item active">
								<img src='${aval}' alt="...">
							</div>
						{{else a!=0}}
							<div class="item">
								<img src='${aval}' alt="...">
							</div>
						{{/if}}
					{{/each}}
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#nhmainbanner${i}" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</a>
				<a class="right carousel-control" href="#nhmainbanner${i}" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	{{/each}}
</script>
<script src="js/viewer-jquery.min.js"></script>
<script type="text/javascript">
	pageSetUp();

	var getIdx = getQueryString('customer_idx');
	if (!getIdx) {
		getIdx = $('#__customer_idx').attr("value");
	};
	if (!getIdx) {
		getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
	};
	var temperatureData = [
		{
			'dorm_name': '定4',
			'bar_name': '1栏',
			'check_time': '2017.11.13  6:00',
			'top_temperature': '39℃',
			'low_temperature': '35℃',
			'style': '1',
			'statue': '2',
			'img': ['img/xmj/zjdt.jpg','img/xmj/zjdt.jpg','img/xmj/zjdt.jpg','img/xmj/zjdt.jpg']
		},
		{
			'dorm_name': '定4',
			'bar_name': '1栏',
			'check_time': '2017.11.13  6:00',
			'top_temperature': '39℃',
			'low_temperature': '35℃',
			'style': '1',
			'statue': '1',
			'img': ['img/advertisement/advertisment01.jpg','img/advertisement/advertisment02.jpg','img/advertisement/advertisment03.jpg','img/advertisement/advertisment04.jpg','img/advertisement/advertisment05.jpg']
		}
	]
	
	__RUN_ACT('farmer/querydetails', { 'idx': getIdx }, function (d) {
        console.log(d);
        $('#customer_name').text(d.details[0].register_name);
    })

	var pagefunction = function () {
		var step = [		
			{ JSCODE: 'LOAD', CODE: 'LD_BAR_DORM', RCODE: 'LIST', DATA: { 'customer_idx': getIdx } },
			{ JSCODE: 'LOAD', CODE: 'LD_DEVICE', RCODE: 'DEVICE', DATA: { 'customer_idx': getIdx } }
		];
		__RUN_STEP(step, function (d) {
			console.log(d.LIST);
			//			$('#'+id).html($('#treeview').tmpl(d));
			renderTree(d.LIST);
			$("#widget-content [widget_id=0]").addClass('spanActive').siblings('ul').children('li').show();
			$("#widget-content [widget_id]").on('click',function(){
				console.log($(this).attr('widget_id'));
			});

			var device=d.DEVICE;
			for(var i=0;i<device.length;i++){
				var r=device[i];
				__RUN_ACT('/deviceinfo', { 'serialno': r.serialno }, function (d) {
					console.log(d);
					var temperatureData={
						dorm_name: r.name,
						bar_name: ' ',
						check_time:d.time,
						top_temperature: d.top+'℃',
						low_temperature: d.low+'℃',
						style: '1',
						statue: '3'
					};
					
					var imgs=[];
					for(var j=0;j<d.img.length;j++){
						imgs.push('/file/'+d.img[j].attach_idx+'/view');
					}
					temperatureData.img=imgs;
					$("#imgTable").html($("#temperature_tmpl").tmpl({data : [
					temperatureData,
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					{'dorm_name': '',
					
					'check_time': '',
					'top_temperature': '',
					'low_temperature': '',
					'style': '1',
					'statue': '3',
					'img': ['img/advertisement/advertisment01.jpg']},
					]}));
				});
			}
			
		});

		temperature_info_win = $("#temperature_info").dialog({
			autoOpen : false,
			width : 800,
			resizable : false,
			modal : true
		});

		//$("#imgTable").html($("#temperature_tmpl").tmpl({data : temperatureData}))
		$('.carousel').carousel({
			interval: 100000
		});
		photoViewer('imgTable');
	}

	
	function loadNewPage(){
		__SHOW_WIN(temperature_info_win,'page/nh/house_admin/temperature_info_1.html');


	}


	function renderTree(data) {
		mytree = new Tree({
			container: '#widget-content',
			interfaceName: 'bank/',
			pid:'parent_id',
			drag: "false",
			keyName: 'name',
			clickCallback: function (idx, name) {
		
				for (var key in data) {
					if (data[key].idx == idx) {
						__SET_FORM_VALUES('Breed_form', data[key]);
						
					}
				}
			}
		});
		mytree.init(data);
	}
	function photoViewer(cla) {
		$('#' + cla).viewer('destroy');
		$('#' + cla).viewer();
	};

	loadScript("js/plugin/jquery-nestable/jquery.nestable.min.js", function () {
		_Import_Html('importHtml', 'page/common/tree.html', pagefunction)
	});
</script>