<style type="text/css">
	hr {
		border: 1px dashed #777777;
		margin: 30px 0;
	}
	
	.addRightMargin {
		margin-right: 10px;
	}
	
	.form-groupHeight {
		height: 30px;
		line-height: 32px;
	}
	
	.form-groupHeight select {
		height: 30px;
	}
	
	.btncolor {
		background: #2196F3 !important;
		border-radius: 5px !important;
		color: #fff !important;
	}
	
	.btnRadius {
		border-radius: 5px !important;
	}
</style>
<h3>新增专管人员</h3>
<h6>专管人员基本信息</h6>
<hr class="col-lg-10" />

<div id="staffForm">
	<div class="row " style="margin: 30px 0 20px 0px;">
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">姓名</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="staff_name" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">工号</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="job_number" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">部门</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="department" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
	</div>
	<div class="row " style="margin: 30px 0 20px 0px;">
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">职务</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="duty" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">联系电话</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="contact_phone" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">邮箱</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="email" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
	</div>
	<div class="row " style="margin: 30px 0 20px 0px;">
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label">工作内容</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control" name="work_content" placeholder="请输入被发放对象名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-4 form-group">
			<form action="" method="post">
				<div class="col-lg-4 col-md-4 ">业务权限</div>
				<div class="col-lg-7 col-md-8 ">
					<label for=""><input type="radio" name="business" id="" value="1" />物资模块</label>
					<label for=""><input type="radio" name="business" id="" value="2" />生产模块</label>
				</div>
			</form>
		</div>
		<div class="col-lg-3 col-md-4 form-group" style="margin-bottom: 20px;">
			<form action="" method="post">
				<div class="col-lg-4 col-md-4 ">负责区域</div>
				<div class="col-lg-4 col-md-4 ">
					<div class="jarviswidget-editbox"> </div>

					<!-- widget content -->
					<div class="widget-body">
						<div>
							<ul id="tree" class="ztree" style="width:260px; overflow:auto;"></ul>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>

</div>
<div class="row " style="margin: 50px 0 20px 0px;">
	<div class="col-lg-8 col-md-9 form-groupHeight" id="cityLinkage"></div>
	<div class="col-lg-4 " style="margin: 30px auto;">
		<button class="btn btncolor btnRadius" id="saveStaff">保存</button>
		<button class="btn btncolor btnRadius" id="cancelBtn">取消</button>
	</div>
</div>
<div class="modal fade bs-example-modal-sm" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">提示</h4>
			</div>
			<div class="modal-body">
				操作成功！
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalbtn1">确定</button>
			</div>
		</div>
	</div>
</div>
<script id="treeview" type="text/x-jquery-tmpl">
	<ul class="node_ul">
		{{each LIST}}
		<li id="node_${idx}" class="node_li parent_li" loaded="0">
			<span><i class="fa fa-lg fa-plus-circle"></i>${name}</span>
		</li>
		{{/each}}
	</ul>
</script>
<script type="text/javascript">
	var checkedNumId = []
	var setting = {
		view: {
			selectedMulti: true
		},
		edit: {
			enable: false,
			showRemoveBtn: false,
			showRenameBtn: false

		},
		data: {
			keep: {
				parent: true,
				leaf: true
			},
			simpleData: {
				enable: true
			}
		},
		check: {
			enable: true, //设置是否显示checkbox复选框
			chkStyle: "checkbox",
			autoCheckTrigger: true,
			chkboxType: {
				"Y": "ps",
				"N": "ps"
			}

		},
		callback: {
			beforeExpand: beforeExpand,
			onCheck: zTreeOnCheck

		}
	};

	var zNodes = [{
		id: 12,
		pId: 0,
		name: "浙江省",
		isParent: true
	}];

	function beforeExpand(treeId, node) {
		var zTree = $.fn.zTree.getZTreeObj("tree");
		var pid = node.id;

		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_DISTRICT_PAGE',
			RCODE: 'LIST',
			DATA: {
				'pid': pid
			}
		}];
		__RUN_STEP(step, function(d) {
			console.log(d['LIST']);
			for(var i = 0; i < d['LIST'].length; i++) {
				var r = d['LIST'][i];
				zTree.addNodes(node, {
					id: r.idx,
					pId: node.id,
					isParent: true,
					name: r.name
				});
			}
		});
	}

	function zTreeOnCheck(event, treeId, treeNode) {
		var zTree = $.fn.zTree.getZTreeObj("tree");
		var checkedNum = zTree.getCheckedNodes(true);

		for(var i = 0; i < checkedNum.length; i++) {
			checkedNumId.push(checkedNum[i].id);

		};

	}

	var newCount = 1;

	function add(e) {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			isParent = e.data.isParent,
			nodes = zTree.getSelectedNodes(),
			treeNode = nodes[0];
		if(treeNode) {
			treeNode = zTree.addNodes(treeNode, {
				id: (100 + newCount),
				pId: treeNode.id,
				isParent: isParent,
				name: "new node" + (newCount++)
			});
		} else {
			treeNode = zTree.addNodes(null, {
				id: (100 + newCount),
				pId: 0,
				isParent: isParent,
				name: "new node" + (newCount++)
			});
		}
		if(treeNode) {
			zTree.editName(treeNode[0]);
		} else {
			alert("叶子节点被锁定，无法增加子节点");
		}
	};

	var ztree = null;
	var initFun = function() {
		var t = $("#tree");
		$.fn.zTree.init($("#tree"), setting, zNodes)

	}

	var loadDistrictTree = function(id) {
		var pid = id.split('_')[1];

		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_DISTRICT_PAGE',
			RCODE: 'LIST',
			DATA: {
				'pid': pid
			}
		}];
		__RUN_STEP(step, function(d) {
			console.log(d.LIST, parent_id);

			var p = $('#treeview').tmpl(d).appendTo('#' + id);
			$('#' + id).attr('loaded', '1');
		});
	}
	//pid=id.split('_')[1];
	//LD_DISTRICT_PAGE

	pageSetUp();
	initFun();

	if(getQueryString('ischeck')) {
		$('#staffForm input').attr('disabled', 'disabled');
		$('#saveStaff').hide();
	}
	var bank_idx = getQueryString('bank_idx');
	if(bank_idx) {
		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_ADMINISTER',
			RCODE: 'LIST',
			DATA: {
				'idx': bank_idx
			}
		}];
		__RUN_STEP(step, function(d) {
			__SET_FORM_VALUES('staffForm', d['LIST'][0]);
			if(d['LIST'][0].business == 1) {
				$('input:radio[name="business"]').eq(0).attr('checked', true)
			} else {
				$('input:radio[name="business"]').eq(0).attr('checked', false)
				$('input:radio[name="business"]').eq(1).attr('checked', true)
			}
		})
	}

	//	保存
	$("#saveStaff").click(
		function() {

			if(bank_idx) {
				var data = __GET_FROM_VALUES("staffForm")
				var r = checkedNumId.filter(function(element, index, self) {
					return self.indexOf(element) === index;
				});
				data.placeId = r
				data.business = $('input[name="business"]:checked').val();
				data.idx = bank_idx
				var d = __RMV_NULL_PROP(data);
				__RUN_ACT('/administer/add',d,function(d) {
					$('#myModal1').modal('show');
					$("#modalbtn1").click(function() {
						window.location.reload()
					}
				)
				});
			} else {
				var data = __GET_FROM_VALUES("staffForm")
				//		数组去重

				var r = checkedNumId.filter(function(element, index, self) {
					return self.indexOf(element) === index;
				});
				data.placeId = r
				data.business = $('input:radio[name="business"]:checked').val();

				console.log($('input:radio[name="business"]:checked').val())
				data = __RMV_NULL_PROP(data);
				var d = __RMV_NULL_PROP(data);
				__RUN_ACT('/administer/add',d,function(d) {
					$('#myModal1').modal('show');
					$("#modalbtn1").click(function() {
						window.location.reload()
					}
				)
				});
			}

		})

	$("#cancelBtn").click(function() {
		window.history.go(-1);
	})
</script>