<style type="text/css">
	.clearPadding{
		padding: 0;
	}
	select {
		height: 32px;
		line-height: 32px;
	}
	.btncolor{
		background: #2196F3 !important;
		border-radius: 5px !important;
		color: #fff !important;
	}
	.btnRadius{
		border-radius: 5px !important;
	}
</style>
	<div class="row" style="margin: 30px 0 20px 0px;" >
		<div class="col-lg-3 col-md-4 form-group">
			<label class="col-lg-4 col-md-4 control-label" style="line-height: 32px;">产品名称</label>
			<div class="col-lg-7 col-md-8 clearPadding">
				<input class="form-control"  placeholder="请输入产品名称" type="text">
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-xs-12" style="margin: 0px 0px 20px 0;">
			<button class="col-lg-3 col-md-5 col-xs-2 btn btncolor " style="margin-right: 20px;"> 搜索 </button>
			<button class="col-lg-3 col-md-5 col-xs-2 btn btncolor " id="dialog_link"> 增加 </button>
		</div>
	</div>
	<section id="widget-grid" class="col-xs-12 col-md-12 col-lg-12">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>
		</article>
	</section>
	<!--弹出框-->
			<div id="dialog_simple" title="Dialog Simple Title">
				<div id="reader_Tag_add_form" method="post">
					<div id="ear_tag_add" method="post">
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">银行名称</label>
							<div class="col-md-6">
								<input class="form-control" name="company"  type="text" id="ear_add_company">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">产品名称</label>
							<div class="col-md-6">
								<input class="form-control" name="name" type="text"  id="ear_add_name">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">产品类型</label>
							<div class="col-md-6">
								<input class="form-control" name="identity_no" type="text" id="ear_add_no">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">产品期限</label>
							<div class="col-md-6">
								<input class="form-control" name="phone"  type="text" id="ear_add_phone">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">产品利率（年）</label>
							<div class="col-md-6">
								<input class="form-control" name="company" type="text" id="ear_add_company">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">保险理赔资金的使用顺序</label>
							<div class="col-md-6">
								<input class="form-control" name="name" type="text" id="ear_add_name">
							</div>
						</div>
						<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-3 control-label" style="text-align: center;line-height: 32px;">分成比例%</label>
							<div class="col-md-6">
								<input class="form-control" name="identity_no" type="text" id="ear_add_no">
							</div>
						</div>
					</div>
				</div>
			</div>
<script src="js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/plugin/jqgrid/grid.locale-cn.js"></script>

<script type="text/javascript">	
	pageSetUp();
	
	var pagefunction = function() {
		run_jqgrid_function();

		function run_jqgrid_function() {


			var jqgrid_data = [{
				id : "1",
				date : "2007-10-01",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "2",
				date : "2007-10-02",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "3",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "4",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "5",
				date : "2007-10-05",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "6",
				date : "2007-09-06",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "7",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "8",
				date : "2007-10-03",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "9",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "10",
				date : "2007-10-01",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "11",
				date : "2007-10-02",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "12",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "13",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "14",
				date : "2007-10-05",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "15",
				date : "2007-09-06",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}, {
				id : "16",
				date : "2007-10-04",
				name : "test",
				note : "note",
				amount : "200.00",
				tax : "10.00",
				total : "210.00"
			}, {
				id : "17",
				date : "2007-10-03",
				name : "test2",
				note : "note2",
				amount : "300.00",
				tax : "20.00",
				total : "320.00"
			}, {
				id : "18",
				date : "2007-09-01",
				name : "test3",
				note : "note3",
				amount : "400.00",
				tax : "30.00",
				total : "430.00"
			}];

			jQuery("#jqgrid").jqGrid({
				data : jqgrid_data,
				datatype : "local",
				height : 'auto',
				colNames : [ 'Inv No', '银行名称', '产品名称', '产品期限（月）', '产品类型', '产品利率（年）', '保险理赔资金的使用顺序','分成比例%','创建人','创建时间', '修改人', '修改时间','操作'],
				colModel : [
					{ name : 'id', index : 'id',width: "0px" }, 
					{ name : 'date', index : 'date', editable : true }, 
					{ name : 'name', index : 'name', editable : true }, 
					{ name : 'amount', index : 'amount', align : "right", editable : true }, 
					{ name : 'tax', index : 'tax', align : "right", editable : true }, 
					{ name : 'total', index : 'total', align : "right", editable : true }, 
					{ name : 'note', index : 'note', sortable : false, editable : true },
					{ name : 'note', index : 'note', sortable : false, editable : true },
					{ name : 'tax', index : 'tax', align : "right", editable : true }, 
					{ name : 'total', index : 'total', align : "right", editable : true }, 
					{ name : 'note', index : 'note', sortable : false, editable : true },
					{ name : 'note', index : 'note', sortable : false, editable : true },
					{ name : 'act', index:'act', sortable:false },],
				rowNum : 10,
				rowList : [10, 20, 30],
				pager : '#pjqgrid',
				sortname : 'id',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						
						jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+ca});
					}	
				},
				editurl: "dummy.html",
					caption: false,
					autowidth: true,
					rownumbers: true,
					rownumWidth: 55,

			});
			    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
			   
			   
			    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
				
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  	
	
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			  	
			  	
			  
			  
			    // update buttons
			    
			    $(window).on('resize.jqGrid', function () {
					jQuery("#jqgrid").jqGrid( 'setGridWidth', $("#content").width() );
				})


			} // end function
        
			function dialog_link_click(id, ids, titles, callback) {
			$(id).click(function() {
				$(ids).dialog('open');
				return false;
			});

			$(ids).dialog({
				autoOpen: false,
				width: 600,
				resizable: false,
				modal: true,
				title: titles,
				buttons: [{
					html: "确认",
					"class": "btn btncolor",
					click: function() {
						$(this).dialog("close");	
					}
				}, {
					html: "取消",
					"class": "btn btn-default btnRadius",
					click: function() {
						$(this).dialog("close");
					}
				}]
			});
		}
			dialog_link_click("#dialog_link", "#dialog_simple", "新增产品")
	}
	
	loadScript("js/plugin/jqgrid/grid.locale-en.min.js", pagefunction);
	
</script>
