<style type="text/css">
.clearPadding {
		padding: 0;
	}
	
	.rowOuter {
		border: 1px solid #cdcdcd;
		margin-top: 18px;
		padding: 0;
	}
	
	.rowOuter2 {
		min-height: 420px;
		border: 1px solid #cdcdcd;
		margin-top: 18px;
		position: relative;
	}
	
	.rowOuter3 {
		border: 1px solid #cdcdcd;
		margin-top: 18px;
		position: relative;
	}
	
	.boxTop {
		height: 34px;
		overflow: hidden;
		background: -webkit-linear-gradient(#ffffff, #f5f5f5);
		background: -moz-linear-gradient(#ffffff, #f5f5f5);
		background: -o-linear-gradient(#ffffff, #f5f5f5);
		background: linear-gradient(#ffffff, #f5f5f5);
	}
	
	.boxTopTitle {
		width: 194px;
		height: 100%;
	}
	
	.boxTopTitlePic {
		width: 26px;
		height: 22px;
		margin: 6px 0 0 14px;
		float: left;
	}
	
	.boxTopTitlePic:nth-child(2) {
		width: 26px;
		height: 24px;
		margin: 4px 0 0 14px;
		float: left;
	}
	
	.boxTopTitlePic img {
		width: 100%;
		height: 100%;
	}
	
	.boxTopTitle p {
		float: left;
		font-size: 14px;
		color: #646464;
		line-height: 34px;
		margin-left: 5px;
	}
	
	.cardInformationOuter {
		margin-top: 20px;
	}
	
	.cardOuter {
		margin-top: 4px;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
	}
	
	.cardInformationOuter {
		margin-bottom: 30px;
	}
	
	.cardInformationLeft {
		display: flex;
		flex-flow: column;
	}
	
	.cardInformationLeft input {
		height: 32px;
		border: 1px solid #cdcdcd;
	}
	
	.cardInformationLeft label {
		height: 32px;
		text-align: left;
		font-size: 14px;
		line-height: 32px;
	}
	
	.cardInformationLeft span {
		height: 32px;
		background: #e9e9e9;
		border-top: 1px solid #cdcdcd;
		border-right: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
	}
	
	.cardInformationMain {
		display: flex;
		flex-flow: column;
	}
	
	.cardInformationMain input {
		height: 32px;
	}
	
	.cardInformationRight {
		height: 200px;
		display: flex;
		flex-flow: row;
	}
	
	.cardInformationRight .cardRightOuter {
		margin: 15px 0 0 0;
		display: flex;
		flex-flow: column;
	}
	
	.cardRighInner {
		height: 175px;
	}
	
	.cardRightPicOuter {
		height: 175px;
	}
	
	.cardRightBtnOuter {
		height: 33px;
		background: #2196F3;
		position: relative;
	}
	.file_pic {
		width: 45px;
		height: 35px;
		border-radius: 5px;
		margin-right: 20px;
	}
	
	.file_pic img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	
	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}
	
	.file_save {
		display: flex;
		flex: row;
		margin: 20px 0 10px 0;
	}
	
	.file_save span {
		color: #2196f3;
	}
	
	.file_save input {
		border: none;
	}
	.footerBtns button {
		padding: 8px 0;
		color: #FFFFFF;
		border: none;
		border-radius: 5px;
	}
	
}
</style>
<div class="row" style="padding: 0 13px;">
	<div class="col-md-12 col-lg-12 rowOuter" id="peopleInformation">
		<div class="col-md-12 boxTop">
			<div class="boxTopTitle">
				<div class="boxTopTitlePic"><img src="../img/ts/phoneIcon.jpg" /></div>
				<p>新增银行信息</p>
			</div>
		</div>
		<div class="col-md-12 cardInformationOuter">
			<div class="col-lg-12 col-md-12 cardOuter">
				<div class="col-lg-6 col-md-6 col-xs-6 cardInformationLeft">
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">银行名称</label>
						<div class="col-md-6">
							<input class="form-control" name="name" placeholder="" type="text" id="phone_buyer_name">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">法人身份证号</label>
						<div class="col-md-6">
							<input class="form-control" name="sex" placeholder="" type="text" id="phone_buyer_sex">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">联系人手机号</label>
						<div class="col-md-6">
							<input class="form-control" name="birthdate" placeholder="" type="text" id="phone_buyer_birthday">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">邮箱</label>
						<div class="col-md-6">
							<input class="form-control" name="visa_agencies" placeholder="" type="text" id="phone_card_place">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">成立日期</label>
						<div class="col-md-6">
							<input class="form-control" name="phone" placeholder="" type="text" id="phone_buyer_phoneNumber">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">状态</label>
						<div class="col-md-6">
							<input class="form-control" name="residential_site" placeholder=" " type="text" id="phone_buyer_address">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-6 cardInformationMain">
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">法人姓名</label>
						<div class="col-md-6">
							<input class="form-control" name="identity_no" placeholder="" type="text" id="phone_buyer_card_number">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">联系人</label>
						<div class="col-md-6">
							<input class="form-control" name="nation" placeholder="" type="text" id="phone_buyer_card_nation">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">座机号码</label>
						<div class="col-md-6">
							<input class="form-control" name="certificate_site" placeholder="" type="text" id="phone_buyer_card_address">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">传真</label>
						<div class="col-md-6" style="display: flex;flex-flow: row;">
							<input class="col-md-5 form-control" name="start_effective_time" placeholder="" type="text" id="phone_buyer_card_start"><span style="margin: 10px 10px 0 10px;">——</span>
							<input class="col-md-5 form-control" name="end_effective_time" placeholder="" type="text" id="phone_buyer_card_deadline">
						</div>
					</div>
					<div class="rol-md-12 rol-lg-12 cardInformationLeftBox">
						<label class="col-md-5 control-label" style="text-align: center;line-height: 32px;">地址</label>
						<div class="col-md-6">
							<input class="form-control" name="email" placeholder="" type="text" id="phone_buyer_email">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="row" style="padding: 0 13px;">
		<div class="col-lg-12 rowOuter3" id="fileSave" style="padding: 0;">
			<div class="col-lg-12 boxTop" style="padding:0;">
				<div class="boxTopTitle">
					<div class="boxTopTitlePic"><img src="../img/ts/phoneIcon5.jpg" /></div>
					<p>证件信息</p>
				</div>
			</div>
			<div class="col-lg-12" style="min-height: 190px;">
				<div class="col-lg-12 file_save">
					<div class="file_pic">
						<img src="../img/ts/phoneIcon6.jpg" id="head_data_show1" />
					</div>
					<div>
						<input type="file" name="filename" id="head_data1" onchange="upload1('head_data1','head_data_show1')" />
						<p><span>银行证件上传</span></p>
					</div>

				</div>
				<div class="col-lg-12 file_save">
					<div class="file_pic">
						<img src="../img/ts/phoneIcon6.jpg" id="head_data_show2" />
					</div>
					<div>
						<input type="file" name="filename" id="head_data2" onchange="upload1('head_data2','head_data_show2')" />
						<p><span>银行证件上传</span></p>
					</div>
				</div>

			</div>

		</div>
	</div>
<div class="row footerBtns" style="margin-top: 50px;">
		<div class="col-md-4 col-xs-3"></div>
		<button class="col-md-1 col-xs-2" style="background: #b9b9b9;" id="add_phone_sim_cancel">取消</button>
		<div class="col-md-1 col-xs-2"></div>
		<button class="col-md-1 col-xs-2" style="background: #2196F3;" id="add_phone_sim_btn">确认</button>
	</div>	
	<script>
		$('[name="filename"]').on('change', function() {
		var upload = $(this).attr('id');
		var imgId = $(this).next().attr('id');
		__UPLOAD_FILE(upload, function(d) {
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
		})
		$("#" + imgId).css('display', 'block');

	})
	//	打包

	function upload1(inputId, imgId) {
		var filename = $('#' + inputId).val();
		if(!filename) return;

		__UPLOAD_FILE(inputId, function(d) {
			$('#' + imgId).attr('src', '/file/' + d.idx + '/view');

		});
		$("#" + imgId).css('display', 'block');
	}

	</script>