<link rel="stylesheet" type="text/css" media="screen" href="css/nh/nh.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>

<div id="jiben_mes">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">	
				<header>
					<span class="widget-icon"><img src="img/individual.png" /></span>
					<h2>基本信息</h2>					
				</header>
				<div>
					<div class="widget-body no-padding" >						
						<form id="checkout-form-1" class="smart-form" novalidate="novalidate">
								<fieldset>
									<div class="row" id="setPeopleData">

										<button type="button" class="ocr_operate">OCR读身份证</button>
										<p class="public_check">您已通过公安系统核对！</p>
										<p class="public_check">您未通过公安系统核对！</p>
										<div class="col-sm-12">
											<div class="row">
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">客户姓名</label>
																										
													<div class="col col-sm-9">
														<div>
															<input type="text" name="legal_person" placeholder="请输入..." id="custom_name" class="item_mes">
														</div>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">经营范围</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="business_scope" placeholder="请输入..." id="" class="item_mes ">
														</div>
													</div>												
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">公司电话</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="enterprise_phone" placeholder="请输入..." id="enterprise_phone" class="item_mes">
														</div>
													</div>												
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">企业邮箱</label>
													<div class="col col-sm-9">
														<div>
															<input type="text" name="enterprise_email" placeholder="请输入..." id="nation" class="item_mes">
														</div>
													</div>	
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">公司地址(总部)</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="company_address" placeholder="请输入..." id="nation" class="item_mes">
														</div>
													</div>													
												</section>																																		
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">公司性质</label>
													<div>
														<div class="col col-sm-9">
															<input type="text" name="company_nature" placeholder="请输入..." id="idadress" class="item_mes">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">年营业额</label>
													
													<div class="col col-sm-9">
														<div>	
															<input type="text" name="annual_sales" placeholder="请输入..." id="tel" class="item_mes">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">员工数</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="staff_number" placeholder="请输入..." id="email" class="item_mes">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">统一社会信用代码</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="unified_social_credit" placeholder="请输入..." id="dadress" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">单位名称</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="enterprise_name" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">组织机构代码</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="organization_code" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">营业执照注册号</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="registration_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">经营状态</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="management" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">公司类型</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="company_type" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">营业期限</label>													
													<div class="col col-sm-9" style="position: relative;">
														<input type="text" name="busniss_term" placeholder="请输入..." id="businessTime" class="item_mes" data-mask='1999-99-99'>
														<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">注册资本</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="registered_capital" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">登记机关</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="register_organ" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">类型</label>													
													<div class="col col-sm-9">
														<div>
															<select name="type" id="radio_sex"  class="item_mes" style="width: 60%;padding-left: 40%;">
											
															<option value="1">饲料厂</option>
															<option value="2">其它</option>
															
														</select> 
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">成立日期</label>
													<div class="col col-sm-9" style="position: relative;">
														<input type="text" name="establish_date" placeholder="请输入..." id="buildTime" class="item_mes" data-date-format="yyyy-mm-dd"  onkeydown="return false">
														<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">发照日期</label>
													<div class="col col-sm-9" style="position: relative;">
														<input type="text" name="grant_certificate_date" placeholder="请输入..." id="grandTime" class="item_mes" data-date-format="yyyy-mm-dd"  onkeydown="return false">
														<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">备注</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="remark" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
											</div>
										</div>														
									</div>
								</fieldset>
							</form>
					</div>		
				</div>			
			</div>
		</artical>
	</div>
</div>
<div>
	<button type="button" class="btn btn-success" id="return-btn" style='background-color: #2196f3;border-radius: 5px;float: right;'>
		返回
	</button>
	<button type="button" class="btn btn-success" id="sub-btn" style="float: right;">
		信息保存
	</button>
		
</div>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
	var houseIdx=getQueryString('idx');
	var isadd='';
	var isCheck=getQueryString('ischeck');
	if(isCheck=='1'){
		$('input').attr('disabled','disabled');
		$('select').attr('disabled','disabled');
		$("#sub-btn").css('display','none');
	}
	
	if(!houseIdx){
		isadd='1';	
	}else{
		isadd='0';
		var step=[{JSCODE:'LOAD',CODE:'LD_ENTERPRISE_DETAILS',RCODE:'LIST',DATA:{'idx': houseIdx}} ];
		__RUN_STEP(step,function(d){
			console.log(d.LIST)
			var houseMes=d.LIST[0];
			__SET_FORM_VALUES('jiben_mes',houseMes)							
			
		});
		
		
	};
	
	
	
	$('#buildTime').datetimepicker({
                format: 'yyyy-mm-dd',  
		        language: 'zh-CN',  
		        pickDate: true,  
		        pickTime: false,  
		        minView: 'month',  
		        todayBtn: true,  
		        todayHighlight: true 
      		 }); 
	$('#grandTime').datetimepicker({
                format: 'yyyy-mm-dd',  
		        language: 'zh-CN',  
		        pickDate: true,  
		        pickTime: false,  
		        minView: 'month',  
		        todayBtn: true,  
		        todayHighlight: true 
      		 });
	$('#businessTime').datetimepicker({
                format: 'yyyy-mm-dd',  
		        language: 'zh-CN',  
		        pickDate: true,  
		        pickTime: false,  
		        minView: 'month',  
		        todayBtn: true,  
		        todayHighlight: true 
      		 });
	
	
		$("#sub-btn").click(function(){
			var formData=__GET_FROM_VALUES("jiben_mes")
			console.log(formData);
			if(isadd=='1'){
				var step = [
						{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_enterprise', RCODE: 'ENTITY', DATA: formData }
					];
				__RUN_STEP(step, function (date) {
					console.log(date.ENTITY)
				})
			}else{
				formData['idx']=houseIdx;
				var step = [
						{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_enterprise', RCODE: 'ENTITY', DATA: formData }
					];
				__RUN_STEP(step, function (date) {
					console.log(date.ENTITY)
				})
			}
		})
	
	
	$("#return-btn").click(function(){
		history.back();
	})
	
</script>

