	<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>
		<style type="text/css">
			.datetimepicker.dropdown-menu{
		     background: #FFFFFF;
				}
			.btnGrounp button{				
				text-align: center;
				color: #494949;
				background: #F7F7F7;
				border: 1px solid #D9D9D9;
				}			
		</style>
		<div>
  			<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="wzff_tab">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">耳标</a></li>
			<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">识读器</a></li>
			<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">手机</a></li>
			<li role="presentation"><a href="#simCard" aria-controls="simCard" role="tab" data-toggle="tab">SIM卡</a></li>
		</ul>
		
  			<!-- Tab panes -->
	  	<div class="tab-content">		
	  		<!--耳标内容-->
	    <div role="tabpanel" class="tab-pane active" id="home">
	    	<div id="ear_row">
	    	<div class="row " style="margin: 30px 0 20px 0px;" >  		
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">被发放对象</label>
					<div class="col-md-8">
						<input type="hidden" class="hidden_input" name="terminal_type" value="1" />
					    <input class="form-control" name="people_name" placeholder="请输入被发放对象名称" type="text" >
					</div>
				</div>
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
					<div class="col-md-8">
					    <input class="form-control" placeholder="请输入耳标编号" type="text" name="terminal_no">
					</div>
				</div>
	     	</div>
		    <div class="row" style="margin: 20px 0 0px 0px;" >
			    <div class="col-md-3 form-group" >
					<label class="col-md-4 control-label"  style="text-align: center;line-height: 32px;">发放人员</label>
						<div class="col-md-8">
							<input class="form-control" name="create_personnel" placeholder="请输入发放人员" type="text"name="user_name">														
						</div>								
				</div>
	    	<!--下拉框结束-->   	
	    	<!--时间表单-->
			    <div class="col-md-3 form-group" >			    	
			    	<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">发放时间</label>
       				<form class="col-md-8" style="border: 1px solid rgb(204,204,204);height: 32px;">
       					<input type="text" class="form-control addTime"  name="start_time" style="width: 80%; height: 30px;line-height: 30px;float: left;border: 0;"/>
       					<i  class="col-md-2 icon-append fa fa-calendar" style="float: right;font-size: 16px;line-height: 32px;text-align: center;"></i>
       				</form>       				
				</div>				
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">截至时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control endTime"  name="end_time"/>
       					</div>	
				</div>
	    	<!--时间表单结束-->
	    	    <div class="col-md-3 btnGrounp" style="margin-bottom:50px;">
					<button class="btn " id="ear_search_btn" style="float: left;"> 搜索 </button>
					<button id="dialog_link" class="btn " style="float: left;margin-left: 20px;"> 发放 </button>
			    </div>
	    	</div>
	    	</div>	    	
	    	<!--时间表单结束-->
			
			<!--表单和树-->
			<section id="widget-grid" class="">						
				<div class="row">						
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
						<table id="jqgrid"></table>
						<div id="pjqgrid"></div>
					</article>								
				</div>						
			</section>
			<!--弹出框-->
			<div id="dialog_simple" title="Dialog Simple Title">
				<div id="reader_Tag_add_form" method="post">
					<div class="row">
					    <form  class="col-md-10 header-search" id="ear_add_serch_from">
							<input id="search-fld" type="text" name="phone" placeholder="请输入手机号进行搜索">
							<button type="submit">
								<i class="fa fa-search" style="margin-right: 20px;"></i>
							</button>									
						</form>
					    <button class="col-md-1 btn bg-color-blueDark txt-color-white" style="margin-top: 8px;" id="ear_add_search"> 搜索 </button>				            	
					</div>
					<div class="row">
					      <form id="ear_add_from" method="post"  class="col-md-12 widget-body" >						
							<div class="table-responsive" style="height: 177px;overflow-y: scroll;">								
								<table class="table table-bordered" >
									<thead>
										<tr>
											<th>被发放对象</th>
											<th>养殖户</th>
											<th>联系方式</th>								
										</tr>
									</thead>
									<tbody id="eartag_form">
										<tr>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>	
										</tr>								
									</tbody>									
								</table>									
							</div>
						   </form>
					</div>
					<div id="ear_tag_add" method="post">										
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">接收对象</label>
							<div class="col-md-3">
								<input class="form-control" name="company" type="text" id="ear_add_company">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">法人</label>
							<div class="col-md-5">
								<input class="form-control" name="name"  type="text" id="ear_add_name">
							</div>						
					</div>				
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">身份证号</label>
							<div class="col-md-5">
								<input class="form-control" name="identity_no"  type="text" id="ear_add_no">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">联系方式</label>
							<div class="col-md-5">
								<input class="form-control" name="phone" placeholder="请输入发放数量" type="text" id="ear_add_phone">
							</div>						
					</div>						
					<div class="col-md-5" style="display: none;">
								<input class="form-control" name="terminal_type" value="1" type="hidden" id="ear_add_kind">
					</div>						
					<div class="col-md-5" style="display: none;">
								<input class="form-control" name="idx" type="hidden" id="ear_add_idx">
					</div>

					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">数量</label>
							<div class="col-md-5">
								<input class="form-control" name="quantity" placeholder="请输入发放数量" type="text">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
							<div class="col-md-5">
								<input class="form-control" name="terminal_no" placeholder="请输入耳标编号" type="text">
							</div>	
					</div>	
				  </div>
				</div>			
			</div>	
			<!--弹出框结束-->    	
	    </div>
	    	<!--识读器-->
	    <div role="tabpanel" class="tab-pane" id="profile">
	    	<div id="reader_row">
			<div class="row " style="margin: 30px 0 20px 0px;">			    
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">被发放对象</label>
					<div class="col-md-8">
						<input class="form-control" name="people_name" placeholder="请输入被发放对象" type="text">
					</div>
				</div>
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
					<div class="col-md-8">
						<input type="hidden" name="terminal_type" value="2" />
						<input class="form-control" placeholder="请输入识读器编号" name="terminal_no" type="text">
					</div>
				</div>
	    	</div>
	        <div class="row" style="margin: 20px 0 0px 0px;">
	    	    <div class="col-md-3 form-group" >
					<label class="col-md-4 control-label"  style="text-align: center;line-height: 32px;">发放人员</label>
					<div class="col-md-8">
						<input class="form-control" name="create_personnel" placeholder="请输入发放人员" type="text"  list="readerPeople">
					</div>								
				</div>								
				  <!--下拉框结束-->   	
				  <!--时间表单-->
	    		<div class="col-md-3 form-group">
			    	<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">发放时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control addTime"  name="start_time"/>
       					</div>					
				</div>				
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">截至时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control endTime"  name="end_time"/>
       					</div>	
				</div>
	    		<!--时间表单结束-->
	    		<div class="col-md-3 btnGrounp" style="margin-bottom:50px;">
					<button class="btn " id="reader_search_btn" style="float: left;"> 搜索 </button>
					<button id="dialog_link1" class="btn " style="float: left;margin-left: 20px;"> 发放 </button>
			    </div>    		
	    	</div>
	    	</div>
	    	<!--时间表单结束-->			
			<!--表单和树-->
			<section id="widget-grid1" class="">						
				<div class="row">
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
					<table id="jqgrid1"></table>
						<div id="pjqgrid1"></div>
					</article>
				</div>						
			</section>
			<!--弹出框-->
			<div id="dialog_simple1" title="Dialog Simple Title">
				<div id="reader_add_form" method="post">
				<div class="row" id="reader_add_serch_from">
					<form  class="col-md-10 header-search">
						<input id="search-fld" type="text" name="phone" placeholder="请输入手机号进行搜索">
						<button type="submit">
						<i class="fa fa-search" style="margin-right: 20px;"></i>
						</button>									
					</form>
					<button class="col-md-1 btn bg-color-blueDark txt-color-white" style="margin-top: 8px;" id="reader_add_search"> 搜索 </button>				            	
				</div>
				<div class="row">
					<div class="col-md-12 widget-body">						
						<div class="table-responsive" class="table-responsive" style="height: 177px;overflow-y: scroll;">						
							<table class="table table-bordered">
							<thead>
								<tr>
									<th>规模场名称</th>
									<th>法人</th>
									<th>联系方式</th>								
								</tr>
							</thead>
								<tbody id="reader_form">
								<tr>
									<td></td>
									<td></td>
									<td></td>	
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>								
								</tbody>
							</table>							
						</div>
					</div>
				</div>
				<div id="reader_add" method="post">										
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">接收对象</label>
							<div class="col-md-3">
								<input class="form-control" name="company" type="text" id="reader_add_company">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">法人</label>
							<div class="col-md-5">
								<input class="form-control" name="name"  type="text" id="reader_add_name">
							</div>						
					</div>				
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">身份证号</label>
							<div class="col-md-5">
								<input class="form-control" name="identity_no"  type="text" id="reader_add_no">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">联系方式</label>
							<div class="col-md-5">
								<input class="form-control" name="phone" placeholder="请输入发放数量" type="text" id="reader_add_phone">
							</div>						
					</div>						
					<div class="col-md-5" style="display: none;">
								<input class="form-control" name="terminal_type" value="1" type="hidden" id="reader_add_kind">
					</div>						
					<div class="col-md-5" style="display: none;">
								<input class="form-control" name="idx" type="hidden" id="reader_add_idx">
					</div>

					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">数量</label>
							<div class="col-md-5">
								<input class="form-control" name="quantity" placeholder="请输入发放数量" type="text">
							</div>						
					</div>
					<div class="row" style="margin: 10px 0 10px 0;">
							<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
							<div class="col-md-5">
								<input class="form-control" name="terminal_no" placeholder="请输入耳标编号" type="text">
							</div>	
					</div>	
				</div>
			 </div>
			</div>
						<!--弹出框结束-->
	     </div>
	    	<!--手机内容-->
	    <div role="tabpanel" class="tab-pane" id="messages">
	    	<div id="phone_row">
	    	<div class="row " style="margin: 30px 0 20px 0px;">
	    		<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">被发放对象</label>
						<div class="col-md-8">
							<input class="form-control" name="people_name" placeholder="请输入被发放对象" type="text">
						</div>
				</div>
			    <div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
						<div class="col-md-8">
						<input type="hidden" name="terminal_type" value="3" />
							<input class="form-control" name="terminal_no" placeholder="请输入手机序列号" type="text">
						</div>
				</div>				
	    	</div>
			<div class="row" style="margin: 20px 0 0px 0px;">
				<div class="col-md-3 form-group" >
					<label class="col-md-4 control-label"  style="text-align: center;line-height: 32px;">发放人员</label>
					<div class="col-md-8">
					<input class="form-control" placeholder="请输入发放人员" name="create_personnel" type="text"  list="phonePeople">							
					</div>								
				</div>				
			<!--下拉框结束-->   	
			<!--时间表单-->
				<div class="col-md-3 form-group">
			    	<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">发放时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control addTime"  name="start_time"/>
       					</div>					
				</div>				
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">截至时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control endTime"  name="end_time"/>
       					</div>	
				</div>
			<!--时间表单结束-->
				<div class="col-md-3 btnGrounp" style="margin-bottom:50px;">
					<button class="btn" id="phone_search_btn" style="float: left;"> 搜索 </button>
					<button href="#" id="dialog_link2" class="btn" style="float: left;margin-left: 20px;"> 发放 </button>
				</div>
			</div>
			</div>
	    	<!--时间表单结束-->
			
			<!--表单和树-->
			<section id="widget-grid2" class="">						
				<div class="row">							
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
					<table id="jqgrid2"></table>
					<div id="pjqgrid2"></div>
				</article>								
				</div>						
			</section>
			<!--弹出框-->
			<div id="dialog_simple2" title="Dialog Simple Title">
				<div class="row">
					<div class="col-md-3" style="padding-right:0 ;"   >
						<select class="form-control" id="buyPhoneForm" onchange="buyPhone()">
							<option value="规模场">规模场</option>
							<option value="个人">个人</option>
						</select>
					</div>	  	
					<form  class="col-md-6 header-search" style="padding-left: 0;">
						<input id="search-fld" type="text" name="param" placeholder="请输入手机号进行搜索" style="margin-top: 0;padding-left: 0;height: 32px;">																	
					</form>
					<button class="col-md-1 btn bg-color-blueDark txt-color-white" style="margin-right: 10px;margin-bottom: 10px;"> 搜索 </button>	
					<button class="col-md-1 btn bg-color-blueDark txt-color-white" id="personAdd"> 增加 </button>		
				</div>
				<div class="row">
					<div class="col-md-12 widget-body" id="companyForm">						
						<div class="table-responsive">						
							<table class="table table-bordered">
								<thead>
								<tr>
									<th>规模场名称</th>
									<th>法人</th>
									<th>联系方式</th>								
								</tr>
								</thead>
								<tbody>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>									
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
									</tr>								
								</tbody>
								</table>							
						</div>
				    </div>					
					<div class="col-md-12 widget-body" id="personForm" style="display: none;">						
						<div class="table-responsive">						
							<table class="table table-bordered">
								<thead>
								<tr>										
									<th>姓名</th>
									<th>角色</th>
									<th>联系方式</th>
									<th>身份证号</th>								
								</tr>
								</thead>
								<tbody>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>	
										<td>Row 1</td>
									</tr>
									<tr>
										<td>Row 1</td>
										<td>Row 2</td>
										<td>Row 3</td>
				 						<td>Row 3</td>
									</tr>								
								</tbody>
							</table>							
						</div>
					</div>
	  		    </div>
	  	<!--新增个人-->
	  	    <div class="col-md-12" style="border: 1px solid rgb(204,204,204);margin-bottom: 20px;display: none;" id="personAddForm">
	  		<div class="col-md-12" >
	  			<p style="padding-top: 20px;">新增个人</p>
				<hr />
				<div class="row" style="margin: 20px 0 10px 0;">
					<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">姓名</label>
						<div class="col-md-3">
							<input class="form-control" placeholder="请输入发放数量" type="text">
						</div>	
					<label class="col-md-2 control-label"  style="text-align: center;line-height: 32px;">角色</label>
						<div class="col-md-3">
						<input class="form-control" placeholder="请选择品牌" type="text"  list="phoneBrand" >
							<datalist id="phoneBrand">																					
								<option value="Valerie">Valerie</option>
								<option value="Veronica">Veronica</option>
								<option value="Wilma">Wilma</option>
								<option value="Yasmin">Yasmin</option>
								<option value="Zelma">Zelma</option>
							</datalist>								
						</div>	
				</div>		
				<div class="row" style="margin: 10px 0 10px 0;">
					<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">联系方式</label>
						<div class="col-md-3">
							<input class="form-control" placeholder="请输入发放数量" type="text">
						</div>						
				</div>							
				<div class="row" style="margin: 10px 0 10px 0;">
					<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">身份证号</label>
						<div class="col-md-5">
						    <input class="form-control"  type="text">
						</div>							
				</div>	
					
	  		</div>
			</div>
	        <div class="row" style="margin: 20px 0 10px 0;">
				<label class="col-md-2 control-label"  style="text-align: center;line-height: 32px;">品牌</label>
				<div class="col-md-3">
					<input class="form-control" placeholder="请选择品牌" type="text"  list="phoneBrand" >
						<datalist id="phoneBrand">																					
							<option value="Valerie">Valerie</option>
							<option value="Veronica">Veronica</option>
							<option value="Wilma">Wilma</option>
							<option value="Yasmin">Yasmin</option>
							<option value="Zelma">Zelma</option>
						</datalist>								
				</div>	
			</div>	
			<div class="row" style="margin: 10px 0 10px 0;">
				<label class="col-md-2 control-label"  style="text-align: center;line-height: 32px;">型号</label>
					<div class="col-md-5">
						<input class="form-control" placeholder="请选择型号" type="text"  list="phoneModel">
						<datalist id="phoneModel">																					
							<option value="Valerie">Valerie</option>
							<option value="Veronica">Veronica</option>
							<option value="Wilma">Wilma</option>
							<option value="Yasmin">Yasmin</option>
							<option value="Zelma">Zelma</option>
						</datalist>								
					</div>							
			</div>							
			<div class="row" style="margin: 10px 0 10px 0;">
				<label class="col-md-2 control-label"  style="text-align: center;line-height: 32px;">颜色</label>
				<div class="col-md-5">
					<input class="form-control" placeholder="请选择颜色" type="text"  list="phoneColor">
						<datalist id="phoneColor">																					
							<option value="Valerie">Valerie</option>
							<option value="Veronica">Veronica</option>
							<option value="Wilma">Wilma</option>
							<option value="Yasmin">Yasmin</option>
							<option value="Zelma">Zelma</option>
						</datalist>								
				</div>							
			</div>							
			<div class="row" style="margin: 10px 0 10px 0;">
				<label class="col-md-2 control-label"  style="text-align: center;line-height: 32px;">配置</label>
					<div class="col-md-5">
					<input class="form-control" placeholder="请选择配置" type="text"  list="phoneConfiguration">
					<datalist id="phoneConfiguration">																					
						<option value="Valerie">Valerie</option>
						<option value="Veronica">Veronica</option>
						<option value="Wilma">Wilma</option>
						<option value="Yasmin">Yasmin</option>
						<option value="Zelma">Zelma</option>
					</datalist>								
					</div>							
			</div>							
			<div class="row" style="margin: 10px 0 10px 0;">
				<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">数量</label>
				<div class="col-md-3">
					<input class="form-control" placeholder="请输入发放数量" type="text">
				</div>						
			</div>							
			<div class="row" style="margin: 10px 0 10px 0;">
				<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
				<div class="col-md-5">
					<input class="form-control" readonly="readonly"  type="text">
				</div>							
			</div>						  
		</div>
			<!--弹出框结束-->    	
	    </div>
	    	<!--sim卡-->
	    <div role="tabpanel" class="tab-pane" id="simCard">
	    	<div id="SIM_row">	    			    	
	    	<div class="row " style="margin: 30px 0 20px 0px;">    		
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">被发放对象</label>
						<div class="col-md-8">
							<input type="hidden" name="terminal_type" value="4" />
							<input class="form-control" name="people_name" placeholder="请输入被发放对象" type="text">
						</div>
				</div>
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
						<div class="col-md-8">
							<input class="form-control" name="terminal_no" placeholder="请输入SIM卡号" type="text">
						</div>
				</div>
	    	</div>
	    	<div class="row" style="margin: 20px 0 0px 0px;">
			    <div class="col-md-3 form-group" >
					<label class="col-md-4 control-label"  style="text-align: center;line-height: 32px;">发放人员</label>
						<div class="col-md-8">
						<input class="form-control" name="create_personnel" placeholder="请输入发放人员" type="text"  list="simPeople">
						</div>								
				</div>										
			<!--下拉框结束-->   	
			<!--时间表单-->
				<div class="col-md-3 form-group">
			    	<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">发放时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control addTime"  name="start_time"/>
       					</div>					
				</div>				
				<div class="col-md-3 form-group">
					<label class="col-md-4 control-label" style="text-align: center;line-height: 32px;">截至时间</label>
       					<div class="col-md-8" >
       						<input type="text" class="form-control endTime"  name="end_time"/>
       					</div>	
				</div>
	    	<!--时间表单结束-->
		    	<div class="col-md-3 btnGrounp" style="margin-bottom:50px;">
					<button class="btn" id="SIM_search_btn" style="float: left;"> 搜索 </button>
					<button id="dialog_link3" class="btn" style="float: left;margin-left: 20px;"> 发放 </button>
				</div>
	    		</div>
	    	</div>	
	    	<!--时间表单结束-->
			
			<!--表单和树-->
			<section id="widget-grid3" class="">						
				<div class="row">						
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
						<table id="jqgrid3"></table>
						<div id="pjqgrid3"></div>
					</article>								
				</div>						
			</section>
			<!--弹出框-->
			<div id="dialog_simple3" title="Dialog Simple Title">
				<div class="row">
					<form  class="col-md-10 header-search">
						<input id="search-fld" type="text" name="param" placeholder="请输入手机号进行搜索">
						<button type="submit">
						<i class="fa fa-search" style="margin-right: 20px;"></i>
						</button>									
					</form>
					 <button class="col-md-1 btn bg-color-blueDark txt-color-white" style="margin-top: 8px;"> 搜索 </button>				            	
				</div>
				<div class="row">
					<div class="col-md-12 widget-body">						
					<div class="table-responsive">						
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>规模场名称</th>
								<th>法人</th>
								<th>联系方式</th>								
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>Row 1</td>
									<td>Row 2</td>
									<td>Row 3</td>									
								</tr>
								<tr>
									<td>Row 1</td>
									<td>Row 2</td>
									<td>Row 3</td>
								</tr>								
							</tbody>
						</table>							
					</div>
					</div>
				</div>								
				<div class="row" style="margin: 10px 0 10px 0;">
					<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">数量</label>
						<div class="col-md-3">
							<input class="form-control" placeholder="请输入发放数量" type="text">
					</div>						
				</div>							
				<div class="row" style="margin: 10px 0 10px 0;">
					<label class="col-md-2 control-label" style="text-align: center;line-height: 32px;">商品编号</label>
					<div class="col-md-5">
						<input class="form-control" readonly="readonly"  type="text">
					</div>								
				</div>		
			</div>
							<!--弹出框结束-->    	
	    </div>
	  	</div>

		</div>
		
		<script type="text/html" id="eartag_form_tpl">
			{{each List value index}}
			<tr idx='{{value.idx}}'>
				<td>{{value.company}}</td>
				<!--<td>{{value.nation}}</td>-->
				<td>{{value.name}}</td>									
				<td>{{value.phone}}</td>									
			</tr>
			{{/each}}
		</script>
		<script type="text/html" id="reader_form_tpl">
			{{each List value index}}
			<tr idx='{{value.idx}}'>
				<td>{{value.company}}</td>
				<!--<td>{{value.nation}}</td>-->
				<td>{{value.name}}</td>									
				<td>{{value.phone}}</td>									
			</tr>
			{{/each}}
		</script>
		<script src="js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
		<script src="js/plugin/jqgrid/grid.locale-cn.js"></script>
		<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
        <script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>        
		<script src="js/template-web.js"></script>
		<script type="text/javascript">

		//耳标
		 function initFunc(){	
			//查询得到的数据放入表单		
			$.extend($.fn.jqGrid, {
			    setData : function(data) {
			        this[0].p.data = data;
			        return true;
			    }
			});
			pagefunction();
			//tab查询表单
			//点击查询获取数据
		   $('#wzff_tab>li').eq(0).click(function(){		   	
				var data=__GET_FROM_VALUES('ear_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';				
				var d=__RMV_NULL_PROP(data);
			//获取数据成功向后台发送数据 第一种方法
			/*			
						__RUN_ACT('/records/query',data,function(d){
							 console.log(d);
						});
						return;
			*/
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type='1'){
						d['LIST'][i].terminal_type='耳标';
					}
				}
				$("#jqgrid").jqGrid('setData', d['LIST']);
    			$("#jqgrid").trigger("reloadGrid");
					});
			});
			//查询按钮查询表单				
			$('#ear_search_btn').click(function(){
				var data=__GET_FROM_VALUES('ear_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for( var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type=="1"){
					   d['LIST'][i].terminal_type="耳标"
					}
				}
				$("#jqgrid").jqGrid('setData', d['LIST']);
	    		$("#jqgrid").trigger("reloadGrid");
						});
			});
	
			//识读器页面				
				$('#wzff_tab>li').eq(1).click(function(){
			   	var data=__GET_FROM_VALUES('reader_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//获取数据成功向后台发送数据 第一种方法
			/*			
						__RUN_ACT('/records/query',data,function(d){
							 console.log(d);
						});
						return;
			*/
			//第二种方法
	 		var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if (d['LIST'][i].terminal_type=="2") {
						d['LIST'][i].terminal_type="识读器"
					}
				}
				$("#jqgrid1").jqGrid('setData', d['LIST']);
	    		$("#jqgrid1").trigger("reloadGrid");
						});
			});
			//查询按钮查询表单				
			$('#reader_search_btn').click(function(){
	            var data=__GET_FROM_VALUES('reader_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for (var i=0;i<d['LIST'].length;i++) {
					if(d['LIST'][i].terminal_type=="2"){
					   d['LIST'][i].terminal_type="识读器"
					}
				}	
				$("#jqgrid1").jqGrid('setData', d['LIST']);
	    		$("#jqgrid1").trigger("reloadGrid");
					});	             	
				});
				 		 
			//手机页面				
			$('#wzff_tab>li').eq(2).click(function(){
			   	var data=__GET_FROM_VALUES('phone_row');		   	
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//获取数据成功向后台发送数据 第一种方法
			/*			
						__RUN_ACT('/records/query',data,function(d){
							 console.log(d);
						});
						return;
			*/
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type=="3"){
					   d['LIST'][i].terminal_type="手机"
					}
				}
				$("#jqgrid2").jqGrid('setData', d['LIST']);
	    		$("#jqgrid2").trigger("reloadGrid");
						});
			});
			//查询按钮查询表单				
			$('#phone_search_btn').click(function(){
	            var data=__GET_FROM_VALUES('phone_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type=="3"){
					   d['LIST'][i].terminal_type="手机"
					}
				}
				$("#jqgrid2").jqGrid('setData', d['LIST']);
	    		$("#jqgrid2").trigger("reloadGrid");
				});	             	
			});
		
			//sim页面				
			$('#wzff_tab>li').eq(3).click(function(){
			   	var data=__GET_FROM_VALUES('SIM_row');		   	
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//获取数据成功向后台发送数据 第一种方法
			/*			
						__RUN_ACT('/records/query',data,function(d){
							 console.log(d);
						});
						return;
			*/
			//第二种方法
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type=="4"){
					   d['LIST'][i].terminal_type="SIM卡"
					}
				}
				$("#jqgrid3").jqGrid('setData', d['LIST']);
	    		$("#jqgrid3").trigger("reloadGrid");
						});
			});
			//查询按钮查询表单				
			$('#SIM_search_btn').click(function(){
	            var data=__GET_FROM_VALUES('SIM_row');
				data.people_name='%'+data.people_name+'%';
				data.create_personnel='%'+data.create_personnel+'%';		
				var d=__RMV_NULL_PROP(data);
			//第二种方法
				console.log(d);
	 			var step=[
					{JSCODE:'LOAD',CODE:'LD_MATERIAL_RECORD',RCODE:'LIST',DATA:d}
				];
			//查询得到的数据放入表单
			__RUN_STEP(step,function(d){
				for(var i=0;i<d['LIST'].length;i++){
					if(d['LIST'][i].terminal_type=="4"){
					   d['LIST'][i].terminal_type="SIM卡"
					}
				}
				$("#jqgrid3").jqGrid('setData', d['LIST']);
	    		$("#jqgrid3").trigger("reloadGrid");
				});	             	
			});		

			
		
		 }




	

			var pagefunction = function() {		
			function run_jqgrid_function(id,id_data,th,tr,pid) {
			$("#spinner-currency").spinner({
		    min: 0,
		    max: 2500,
		    step: 1,
		    start: 0,
		    numberFormat: "C"
			});
      		jQuery(id).jqGrid({
				data : id_data,
				datatype : "local",
				height :420,
				width:'auto',//这个宽度不能为百分比
				autowidth : true,//自动宽
				colNames :th,
				colModel : tr,
				rowNum : 10,
				rowList : [10, 20, 30],
				pager : pid,
				sortname : 'id',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){
					var ids = jQuery(id).jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=alert(1)><i class='fa fa-pencil'></i> 修改</button>"; 
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i> 删除</button>";  
						jQuery(id).jqGrid('setRowData',ids[i],{act:be+ca});
					}	
				},
				editurl : "dummy.html",
				caption : false,
				autowidth : true,
				rownumbers:true,
				rownumWidth:55,
				});
		 		$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");			   			   
			    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");					
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  	
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			  	jQuery(id).jqGrid( 'setGridWidth', $("#content").width() );
			  	$(window).on('resize.jqGrid', function () {
					jQuery(id).jqGrid( 'setGridWidth', $("#content").width() );
					})			  	
				} 
				// end function
		    	function dialog_link_click(id,ids,titles,callback){
		    	$(id).click(function() {
					$(ids).dialog('open');
					return false;	
				  });
				  
				  $(ids).dialog({
					autoOpen : false,
					width : 600,
					resizable : false,
					modal : true,
					title : titles,
					buttons : [{
						html : "确认",
						"class" : "btn btn-danger",
						click : function() {
							callback();
							$(this).dialog("close");
						}
					}, {
						html : "取消",
						"class" : "btn btn-default",
						click : function() {
							$(this).dialog("close");
						}
						}]
					});
		   		}

				var jqgrid_data ;
				var arr=[ '序号', '被发放对象','角色', '物资名称','商品编号', '数量', '发放人员', '发放时间','功能'];
				var arrs=[
						
						{ name : '',align : "center", index : '',width:"0px"}, 
						{ name : 'people_name', index : 'people_name', align : "center",editable : true },
						{ name : '', index : '', align : "center",editable : true },
						{ name : 'terminal_type', index : 'terminal_type',align : "center", editable : true },
						{ name : 'terminal_no', index : 'terminal_no',align : "center", editable : true }, 
						{ name : 'quantity', index : 'quantity', align : "center", editable : true }, 
						{ name : 'create_personnel', index : 'create_personnel', align : "center", editable : true }, 
						{ name : 'create_time', index : 'create_time', align : "center", editable : true },
						{ name : 'act', index:'act',align : "center", sortable:false} ];
				/*ajax数据调用*/							
				$.ajax({
						type:"post",
						url:"/records/init",
						dataType:'json',
						data:{},
						async:true,
						success:function(data){						
						for(var i=0;i<data.detail.length;i++){
						if (data.detail[i].terminal_type=="1") {
							data.detail[i].terminal_type="耳标"
						}else if(data.detail[i].terminal_type=="2"){
							data.detail[i].terminal_type="识读器"
						}else if(data.detail[i].terminal_type=="3"){
							data.detail[i].terminal_type="手机"
						}else{
							data.detail[i].terminal_type="SIM卡"
						}
						}
						jqgrid_data = data.detail;
						run_jqgrid_function("#jqgrid",jqgrid_data,arr,arrs,'#pjqgrid');
						run_jqgrid_function("#jqgrid1",jqgrid_data,arr,arrs,'#pjqgrid1');
						run_jqgrid_function("#jqgrid2",jqgrid_data,arr,arrs,'#pjqgrid2');
						run_jqgrid_function("#jqgrid3",jqgrid_data,arr,arrs,'#pjqgrid3');
					}
				});	
				//弹出框调用
			    dialog_link_click('#dialog_link','#dialog_simple',"耳标发放",
				    function(){
				    		var data=__GET_FROM_VALUES("ear_tag_add");
				    		__RUN_ACT('/earTag/grant',data,function(d){
								});
							return;
				    	__RUN_STEP(step,function(d){
								var entity=d['ENTITY'];
				    	});
				    });
			    dialog_link_click('#dialog_link1','#dialog_simple1',"识读器发放",
				    function(){
				    		var data=__GET_FROM_VALUES("reader_add");
				    		console.log(data)
				    		__RUN_ACT('/reader/grant',data,function(d){
								});
							return;
				    	__RUN_STEP(step,function(d){
							var entity=d['ENTITY'];
				    	});
				    });
			    dialog_link_click('#dialog_link2','#dialog_simple2',"手机发放");  
			    dialog_link_click('#dialog_link3','#dialog_simple3',"SIM卡发放");    		
				//一进页面就获取的信息   
				$('#dialog_link').click(function(){	
						var data=__GET_FROM_VALUES('ear_add_serch_from');
				//data.phone='%'+data.phone+'%';
						var d=__RMV_NULL_PROP(data);						 			
						__RUN_ACT('records/query',d,function(d){
							$('#eartag_form').html(template('eartag_form_tpl',{List:d}));
						})
				    });
				//点击搜索获取信息   
			    $('#ear_add_search').click(function(){	
						var data=__GET_FROM_VALUES('ear_add_serch_from');
				//data.phone='%'+data.phone+'%';
						var d=__RMV_NULL_PROP(data);						 			
						__RUN_ACT('records/query',d,function(d){
							$('#eartag_form').html(template('eartag_form_tpl',{List:d}));
						})
				    }
			    );
			    //一进页面就获取的信息   
				$('#dialog_link1').click(function(){	
						var data=__GET_FROM_VALUES('reader_add_serch_from');
				//data.phone='%'+data.phone+'%';
						var d=__RMV_NULL_PROP(data);						 			
						__RUN_ACT('records/query',d,function(d){
							$('#reader_form').html(template('reader_form_tpl',{List:d}));
						})
				});
				//点击搜索获取的数据
			    $('#reader_add_search').click(function(){	
						var data=__GET_FROM_VALUES('reader_add_serch_from');
				//data.phone='%'+data.phone+'%';
						var d=__RMV_NULL_PROP(data);						 			
						__RUN_ACT('records/query',d,function(d){
							$('#reader_form').html(template('reader_form_tpl',{List:d}));
						})
				    }
			    );
				//耳标单击表格每行出现详情信息    
				$('.table-responsive tbody').on('click','tr',function(){												
					__RUN_ACT('records/query',{idx:$(this).attr('idx')},function(d){
						$("#ear_add_idx").val(d[0].idx);
						$("#ear_add_company").val(d[0].company);
						$("#ear_add_name").val(d[0].name);
						$("#ear_add_no").val(d[0].identity_no);
						$("#ear_add_phone").val(d[0].phone);				
						})
					});	
				//识读器表格单击每行出现详情页面					
				$('.table-responsive tbody').on('click','tr',function(){												
					__RUN_ACT('records/query',{idx:$(this).attr('idx')},function(d){
						$("#reader_add_idx").val(d[0].idx);
						$("#reader_add_company").val(d[0].company);
						$("#reader_add_name").val(d[0].name);
						$("#reader_add_no").val(d[0].identity_no);
						$("#reader_add_phone").val(d[0].phone);				
						})
					});	
				};
				
				
				function buyPhone(){
				 	if ($("#buyPhoneForm").val()=="规模场") {				 					 		
				 		  $("#companyForm").show()
				 		  $("#personForm").hide()
				 	} else{
				 		  $("#companyForm").hide()
				 		  $("#personForm").show()
				 	}
				 }
				$("#personAdd").click(function(){
				  	$("#personAddForm").slideDown()
				})
				$(function () {
			          $('.startTime').datetimepicker({
			                format: 'yyyy-mm-dd',  
					        language: 'zh-CN',  
					        pickDate: true,  
					        pickTime: false,  
					        minView: 'month',  
					        todayBtn: true,  
					        todayHighlight: true 
			          });                           
			          $('.endTime').datetimepicker({
				            format: 'yyyy-mm-dd',  
					        language: 'zh-CN',  
					        pickDate: true,  
					        pickTime: false,  
					        minView: 'month',  
					        todayBtn: true,  
					        todayHighlight: true      
			          });       
			          $('.addTime').datetimepicker({
				            format: 'yyyy-mm-dd HH:ii:ss',  
					        language: 'zh-CN',  
					        pickDate: true,  
					        pickTime: false,  
					        minView: 'month',  
					        todayBtn: true,  
					        todayHighlight: true      
			          });       
			          
			    });
							
				pageSetUp();
				initFunc();
				</script>
    	