<link rel="stylesheet" type="text/css"  href="css/nh/nh.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>

<div id="jiben_mes">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">	
				<header>
					<span class="widget-icon"><img src="img/individual.png" /></span>
					<h2>基本信息</h2>					
				</header>
				<div>
					<div class="widget-body no-padding" >						
						<form id="checkout-form-1" class="smart-form" novalidate="novalidate">
								<fieldset>
									<div class="row" id="setPeopleData">

										<button type="button" class="ocr_operate">OCR读身份证</button>
										<p class="public_check">您已通过公安系统核对！</p>
										<p class="public_check">您未通过公安系统核对！</p>
										<div class="col-sm-9">
											<div class="row">
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">客户姓名</label>
																										
													<div class="col col-sm-9">
														<div>
															<input type="text" name="custom_name" placeholder="请输入..." id="custom_name" class="item_mes">
														</div>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">年龄</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="age" placeholder="请输入..." id="" class="item_mes ">
														</div>
													</div>												
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">身份证号</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="identity_no" placeholder="请输入..." id="person_card" class="item_mes">
														</div>
													</div>												
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">性别</label>
													<div class="col col-sm-9">
														<select name="sex" id="radio_sex"  class="item_mes notEmpty" style="width: 50%;padding-left: 50%;">
															<option value="2">女</option>
															<option value="1">男</option>
														</select> 
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">民族</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="nation" placeholder="请输入..." id="nation" class="item_mes">
														</div>
													</div>													
												</section>																																		
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">证件地址</label>
													<div>
														<div class="col col-sm-9">
															<input type="text" name="papers_address" placeholder="请输入..." id="idadress" class="item_mes">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">联系电话</label>
													
													<div class="col col-sm-9">
														<div>	
															<input type="tel" name="phone" placeholder="请输入..." id="tel" class="item_mes notEmpty">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">电子邮箱</label>
													
													<div class="col col-sm-9">
														<div>
															<input type="email" name="email" placeholder="请输入..." id="email" class="item_mes">
														</div>
													</div>
													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">现居住地</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="residential_address" placeholder="请输入..." id="dadress" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">单位名称</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="enterprise_name" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">经营规模</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="operation_scale" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">营业执照注册号</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="business_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">税务登记税号</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="tax_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">组织机构代码</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="organization_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">屠宰证号</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="butcher_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">经度</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="longitude" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">纬度</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="latitude" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">运行状况</label>													
													<div class="col col-sm-9">
														<div>
															<select name="operation_type" id="radio_sex"  class="item_mes notEmpty" style="width: 60%;padding-left: 40%;">
															<option value="0">请选择</option>
															<option value="1">已运行</option>
															<option value="2">未运行</option>
															
														</select> 
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">成立日期</label>
													<div class="col col-sm-9" style="position: relative;">
														<input type="text" name="establish_date" placeholder="请输入..." id="buildTime" class="item_mes" data-date-format="yyyy-mm-dd"  onkeydown="return false">
														<p class="fa fa-calendar" style="position: absolute; right: 20px; top: 30%;"></p>
													</div>
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">年屠宰能力(万头)</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="slaughter_year" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">开户行</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="account_bank" placeholder="请输入..." id="" class="item_mes">
															
															<!--<select name="account_bank" id="radio_sex"  class="item_mes" style="width: 60%;padding-left: 40%;">														
															<option value="0">请选择</option>
															<option value="1">中国农业银行</option>
															<option value="2">中国工商银行</option>
														</select> -->
														</div>
													</div>													
												</section>
												<section class="col col-md-6 col-sm-12">
													<label class="input col-sm-3 control-label item_tit">农卡通号</label>													
													<div class="col col-sm-9">
														<div>
															<input type="text" name="abc_bank_no" placeholder="请输入..." id="" class="item_mes">
														</div>
													</div>													
												</section>
											</div>
										</div>

										<div class="col-sm-3" style="min-height: 190px;">
											
												<div class="col-sm-12">
													<div class="head_wrap">
														<div class="deRequest  glyphicon glyphicon-remove"></div>
														<input type="file" name="filename" id="head_data" onchange="upload('head_data','head_data_show')"/>
														<img src="" id="head_data_show"/>
													</div>	
													<p class="pic_check"><span>照片采集</span></p>
												</div>
												<div class="col-sm-12">
													<div class="head_wrap hand_wrap"></div>	
													<p class="pic_check"><span>指纹采集</span></p>
												</div>																							
										</div>																				
									</div>
								</fieldset>
							</form>
					</div>		
				</div>			
			</div>
		</artical>
	</div>
</section>
<section class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">														
				<header>
					<span class="widget-icon"> <img src="img/company_type.png"/></span>
					<h2>业务类型</h2>					
				</header>
				<div>
					<div class="widget-body no-padding" >						
						<form id="checkout-form-4" class="smart-form" >						
							<fieldset>
								<div class="row">
									<p style="padding-left: 10px;">服务业</p>
									<div class="" style="padding: 10px 20px;">
										<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="1" id="checkbox1">
										生猪屠宰 </label>
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="2" id="checkbox2">
										生牛屠宰 </label>
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="3" id="checkbox3">
										生羊屠宰 </label>
										
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="4" id="checkbox4">
										生鸡屠宰 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="5" id="checkbox5">
										生鸭屠宰 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="6" id="checkbox6">
										生鹅屠宰 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="7" id="checkbox7">
										农资产品 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="8" id="checkbox8">
										农资购销 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="9" id="checkbox9">
										农产品购销 </label>
									
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="10" id="checkbox10">
										农产品加工 </label>
									<label class="checkbox-inline" style="padding-left: 20px;margin-bottom: 0;">
										<input type="checkbox" style="width: auto;" name="checkbox" value="11" id="checkbox11">
										其他 </label>
									</div>
								</div>
							</fieldset>
					
							<p class="upload_pic" style="font-size: 14px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;">资质照片上传</p>
							<fieldset style="height: 200px;">
								<div class="row">
									<div class="pic_box">
										<div class="deRequest  glyphicon glyphicon-remove"></div>
										<input type="file" name="filename" class="head_data2" id="head_data1" onchange="upload('head_data1','show1')"/>
										<img src="" id="show1"/>
										<p>屠宰许可证</p>
									</div>
									<div class="pic_box">
										<div class="deRequest  glyphicon glyphicon-remove"></div>
										<input type="file" name="filename" class="head_data2" id="head_data2" onchange="upload('head_data2','show2')"/>
										<img src="" id="show2"/>
										<p>动物防疫条件合格证</p>
									</div>
									<div class="pic_box">
										<div class="deRequest  glyphicon glyphicon-remove"></div>
										<input type="file" name="filename" class="head_data2" id="head_data3" onchange="upload('head_data3','show3')"/>
										<img src="" id="show3"/>
										<p>营业执照</p>
									</div>
								</div>																
							</fieldset>
						</form>

					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>

		</article>
	</div>
</div>
<div>
	<button type="button" class="btn btn-success" id="return-btn" style='background-color: #2196f3;border-radius: 5px;float: right;'>
		返回
	</button>
	<button type="button" class="btn btn-success" id="sub-btn" style="float: right;">
		信息保存
	</button>
	
</div>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
	var isCheck=getQueryString('ischeck');
	if(isCheck=='1'){
		$('input').attr('disabled','disabled');
		$('select').attr('disabled','disabled');
		$("#sub-btn").css('display','none');
	}
	
	var houseIdx=getQueryString('idx');
	var isadd='';
	if(!houseIdx){
		isadd='1';	
	}else{
		isadd='0';
		var step=[{JSCODE:'LOAD',CODE:'LD_SLAUGHTER_DETAILS',RCODE:'LIST',DATA:{'idx': houseIdx}} ]
		__RUN_STEP(step,function(d){
			console.log(d.LIST)
			var houseMes=d.LIST[0];
			__SET_FORM_VALUES('jiben_mes',houseMes)
			if(houseMes.image_portrait){
				$("#head_data_show").attr('src',houseMes.image_portrait).css('display','block').siblings('.deRequest').css('display',block);			
			};
			if(houseMes.image_butcher){
				$("#show1").attr('src',houseMes.image_butcher).css('display','block').siblings('.deRequest').css('display',block);
			};
			if(houseMes.image_antiepidemic){
				$("#show2").attr('src',houseMes.image_antiepidemic).css('display','block').siblings('.deRequest').css('display',block);
			};
			if(houseMes.image_business){
				$("#show3").attr('src',houseMes.image_business).css('display','block').siblings('.deRequest').css('display',block);
			};
			
			if(houseMes.business_type){	
				var business_type=houseMes.business_type.split(',');
				console.log(business_type)
				for(var h=0;h<business_type.length;h++){
				var t=h;
				switch (business_type[t]){
					case '1' : $("#checkbox1").attr('checked','checked');
							break;
					case '2' :$("#checkbox2").attr('checked','checked');
							break;
					case '3' :$("#checkbox3").attr('checked','checked');
							break;
					case '4' :$("#checkbox4").attr('checked','checked');
							break;
					case '5' :$("#checkbox5").attr('checked','checked');
							break;	
					case '6' : $("#checkbox6").attr('checked','checked');
							break;
					case '7' :$("#checkbox7").attr('checked','checked');
							break;
					case '8' :$("#checkbox8").attr('checked','checked');
							break;
					case '9' :$("#checkbox9").attr('checked','checked');
							break;
					case '10' :$("#checkbox10").attr('checked','checked');
							break;	
					case '11' :$("#checkbox11").attr('checked','checked');
							break;	
				};				
			};		
				
		};
			
		})
		
		
	}
	
	
	
	$('#buildTime').datetimepicker({
                format: 'yyyy-mm-dd',  
		        language: 'zh-CN',  
		        pickDate: true,  
		        pickTime: false,  
		        minView: 'month',  
		        todayBtn: true,  
		        todayHighlight: true 
      		 }); 
	
	//图片上传
	var upload=function(inputId,picId){
		var filevalue=$("#"+inputId).val();
		if(!filevalue) return;
		__UPLOAD_FILE(inputId,function(d){
			console.log(d.idx);
			$("#"+picId).attr('src','/file/'+d.idx+'/view').css('display','block').siblings('.deRequest').css('display','block');
			
		})
	}
	
	//图片删除点击事件		
	$('.deRequest').click(function(){
		
		$(this).css('display','none').siblings('img').attr('src','');
	
	})
	
//	var step0=[ {JSCODE:'LOAD',CODE:'LD_SLAUGHTER_LIST',RCODE:'LIST',DATA:{} }];
//	__RUN_STEP(step0,function(data){
//			console.log(data)
//			
//		})
	
	$(".checkbox-inline").click(function(){
		if($(this).children('input[name="checkbox"]').attr("checked")){
			$(this).children('input[name="checkbox"]').removeAttr('checked')
		}else{
			$(this).children('input[name="checkbox"]').attr('checked','checked')
		};
	})
	
		$("#sub-btn").click(function(){
			var formData=__GET_FROM_VALUES("jiben_mes")
			
			formData['image_portrait']=$("#head_data_show").attr("src")
			formData['image_butcher']=$("#show1").attr("src");
			formData['image_antiepidemic']=$("#show2").attr('src');
			formData['image_business']=$("#show3").attr("src");
			console.log(formData);
			var kind=[];
			$('input[name="checkbox"]').each(function(){
				if($(this).attr('checked')){
					kind.push($(this).attr('value'))
				}
			})
			var business_type=kind.join(',');
			formData['business_type']=business_type;
			if(isadd=='1'){
				var step = [
						{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_slaughter', RCODE: 'ENTITY', DATA: formData }
					];
				__RUN_STEP(step, function (date) {
					console.log(date.ENTITY)
				})
			}else{
				formData['idx']=houseIdx;
				var step = [
						{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_slaughter', RCODE: 'ENTITY', DATA: formData }
					];
				__RUN_STEP(step, function (date) {
					console.log(date.ENTITY)
				})
			}
		})
	
	
	$("#return-btn").click(function(){
		history.back();
	})
	
</script>
