<iframe src="" width="100%" height="800px" frameborder="0" scrolling="no"></iframe>
<script type="text/javascript">
var url='http://183.129.221.186:9086/view/';
	if(getQueryString('ischeck')==0) {

	$('iframe').attr('src',url+'e0fe5fc0-72ad-4244-8ac0-85361b8d5e2f ')
	}
	if(getQueryString('ischeck')==1) {
	$('iframe').attr('src',url+'ae0967e3-cf5b-4bd2-a25a-727ab2d51fdb')
	}
	if(getQueryString('ischeck')==2) {
		$('iframe').attr('src',url+'7c6d8017-136c-4bdf-9464-0e6fcf7b5248')
	}
	if(getQueryString('ischeck')==3) {
	$('iframe').attr('src',url+'90a2f18b-72ad-404b-97cb-d9b0e27da578')
	}
	if(getQueryString('ischeck')==4) {
//	汇总统计
	$('iframe').attr('src',url+'d6068130-1fb8-4974-8b90-63b8c59dbd2b')
	}
	if(getQueryString('ischeck')==5) {
//	调出地
	$('iframe').attr('src',url+'49a1ebc3-8088-4b87-9616-f3103f134730 ')
	}
	if(getQueryString('ischeck')==6) {
//		月份
$('iframe').attr('src',url+'157d934a-8595-48ee-b152-5acc5ce7b36a')

	}
	if(getQueryString('ischeck')==7) {
//		用途
	$('iframe').attr('src',url+'a2d9e9d8-408d-4afd-a779-37d4ff0037fd')
	
	}
	if(getQueryString('ischeck')==8) {
//	饲料规模
	
	$('iframe').attr('src',url+'88657a1a-4046-40a5-a17d-b43372c94578 ')
	}
	if(getQueryString('ischeck')==9) {
//		补栏
$('iframe').attr('src',url+'d6c891f7-6639-4703-82d6-c85aaa2a307f')
	
	}

</script>