<style>
	/* ocr按钮样式 */
	
	.ocr_btn {
		padding: 8px 10px;
		background-color: #2196f3;
		border: none;
		border-radius: 5px;
		color: #fff;
	}
	/* 上传图片样式 */
	
	.head_wrap {
		height: 142px;
		width: 132px;
		border: 1px solid #cacaca;
		border-bottom: none;
		background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
		cursor: pointer;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
	}
	
	.head_wrap input {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 50;
	}
	
	.head_wrap img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 1;
		height: 100%;
	}
	
	#jiben_mes #head_data {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 132px;
		padding-left: 0;
	}
	
	.pic_check {
		text-align: center;
		width: 134px;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}
	
	input,
	select {
		border-width: 1px!important;
		padding-left: 5px!important;
	}
	/* 兽医按钮 */
	
	.bank {
		margin-bottom: 25px;
	}
	
	.btncolor {
		background: #2196F3 !important;
		border-radius: 5px !important;
		color: #fff !important;
	}
	
	.btnRadius {
		border-radius: 5px !important;
	}
	
	.bank button {
		float: right;
		margin-left: 10px;
		padding: 6px 12px;
	}
	/*树状图鼠标移入样式*/
	
	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}
	
	#widget_content {
		overflow: auto;
		max-height: 750px;
	}
	
	#widget_content span {
		white-space: nowrap;
	}
	
	b {
		font-weight: 400;
	}
	/* 时间 */
	
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	
	.textRight {
		text-align: right;
	}
	
	.sectionClearMargin {
		margin-bottom: 0!important;
	}
	
	fieldset {
		margin-top: 40px;
	}
</style>

<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />

<section id="widget-grid-my" class="">

	<div class="row">
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>供应商信息</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div class="smart-form" id="veterinary_form" novalidate="novalidate">
							<header>供应商基本信息</header>
							<fieldset>
								<div class="form-horizontal">
									<input type="hidden" name="pid" value="0">
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">供应商名称</label>
											<div class="col col-sm-9">
												<input type="text" name="suppliers_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">供应商编码</label>
											<div class="col col-sm-9">
												<input type="text" name="suppliers_code" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">法人姓名</label>
											<div class="col col-sm-9">
												<input type="text" name="legal_name" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">法人身份证</label>
											<div class="col col-sm-9">
												<input type="text" name="legal_id_no" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系人</label>
											<div class="col col-sm-9">
												<input type="text" name="link_man" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系人手机号</label>
											<div class="col col-sm-9">
												<input type="text" name="link_mobile" id="Time" placeholder="请输入..." class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">座机号码</label>
											<div class="col col-sm-9">
												<input type="text" name="link_number" placeholder="请输入..." class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">邮箱</label>
											<div class="col col-sm-9">
												<input type="text" name="email" placeholder="请输入..." class="form-control">
											</div>
										</section>

										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">传真</label>
											<div class="col col-sm-9">
												<input type="text" name="fax" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
									</section>
									<section class="col col-md-12 col-sm-12 col-lg-12">
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">成立日期</label>
											<div class="col col-sm-9">
												<input type="text" name="establish_time" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
										<section class="col col-md-6 col-sm-12 col-lg-4">
											<label class="col-sm-3 control-label">联系地址</label>
											<div class="col col-sm-9">
												<input type="text" name="address" placeholder="请输入..." id="nation" class="form-control">
											</div>
										</section>
										
									</section>

								</div>
							</fieldset>
							<header>
								营业执照上传
							</header>
							<fieldset>
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-3 col-sm-12 col-lg-3">
										<div class="head_wrap">
											<input type="file" name="filename" id="business" />
											<img src='' id="business_img" />
										</div>
										<p class="pic_check"><span>营业执照上传</span></p>
									</section>

								</section>

							</fieldset>
							
							<fieldset class="bank">
								<button type="button" class="back_btn btn btnRadius">返回</button>
								<button type="button" class="save_btn btn btncolor">保存</button>
							</fieldset>

						</div>
					</div>
				</div>
			</div>
		</article>

	</div>
	</section>

	<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
	<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript">
		/* 图片上传 */
		$('[name="filename"]').on('change', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');

			});
			$("#" + imgId).show();
		}
	});
		if (getQueryString('ischeck')) {
		$('#veterinary_form input').attr('disabled', 'disabled');
		$('.save_btn').hide();
	}
		var bank_idx = getQueryString('bank_idx');
		__RUN_ACT('/suppliers/queryByIdx',{'idx':bank_idx},function(d){
				__SET_FORM_VALUES('veterinary_form', d[0]);
				$('#business_img').attr('src', d[0].business_img);
				$('img').each(function (i, elm) {
					if ($(elm).attr('src') == '') {
						$(elm).hide();
					} else {
						$(elm).show();
					}
				})
					});
		$('.save_btn').on('click', function() {
			var data = __GET_FROM_VALUES('veterinary_form');
			data.business_img = $('#business_img').attr('src')
			var d = __RMV_NULL_PROP(data);
			var step 
			if (bank_idx) {
				data.idx = bank_idx;
			data.creator = $('#__uidx').val();
			step = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_suppliers', RCODE: 'ENTITY', DATA: data }];
			__RUN_STEP(step, function (d) {
				window.history.back();
			})
			} else{
			step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_suppliers', RCODE: 'ENTITY', DATA: data }];
			__RUN_STEP(step, function (d) {
				window.history.back();
			})
		}
			})
	
		$('.back_btn').on('click', function() {
			window.history.back();
		})
	</script>