<style>
	.ui-jqgrid .ui-pg-input {
		border: 1px solid rgb(169, 169, 169)!important;
		padding: 0 2px;
		box-shadow: none!important;
	}
	/* 头部样式 */
	
	.jarviswidget-color-blueDark>header {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F8F8F8));
		border: 1px solid #D4D4D4!important;
		color: #5B5B5B;
	}
	/* 标签页样式 */
	
	body.smart-style-6 .nav-tabs>li.active>a {
		-webkit-box-shadow: 0 -2px 0 #2196F3;
		-moz-box-shadow: 0 -2px 0 #2196F3;
		box-shadow: 0 -2px 0 #2196F3;
	}
	
	.nav-tabs>li>a {
		margin: 0 8px;
	}
	
	.nav-tabs {
		margin-top: 10px;
	}
	
	.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
	}
	/*树状图鼠标移入样式*/
	
	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}
	
	#widget_content {
		overflow: auto;
		max-height: 750px;
	}
	
	#widget_content span {
		white-space: nowrap;
	}
	
	b {
		font-weight: 400;
	}
	/*按钮div*/
	
	.btn_node {
		text-align: center;
		margin: 0 auto 15px;
	}
	/*表格居中*/
	
	th,
	td {
		vertical-align: middle!important;
		text-align: center;
	}
	
	.ui-jqgrid-btable tr.jqgrow td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.jarviswidget>div {
		border: none;
	}
	
	body.smart-style-6 ::-webkit-scrollbar {
		background-color: rgba(0, 0, 0, .05)!important;
	}
</style>

<article class="col-sm-12 col-md-4 col-lg-4">
	<div id="wid-id-1" class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-

fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>物资信息树</h2>
		</header>
		<div>
			<div class="jarviswidget-editbox"> </div>
			<!-- widget content -->
			<div class="widget-body">
				<div class="tree smart-form" id="widget_content">
					<ul>
						<li>
							<span widget_id='0'><i class="fa fa-lg fa-folder-open"></i><b>根节点</b></span>
						</li>
					</ul>
				</div>
				<!-- end widget content -->

			</div>
		</div>
	</div>
</article>
<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-8">
	<!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
	<div id="wid-id-2" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-

fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>物资信息</h2>
		</header>

		<div>
			<div class="jarviswidget-editbox"> </div>

			<div class="widget-body no-padding">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#nodeInfo" aria-controls="nodeInfo" role="tab" data-toggle="tab">节点信息</a>
					</li>
					<li role="presentation">
						<a href="#addChildNode" aria-controls="addChildNode" role="tab" data-toggle="tab">添加子节点</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!--节点信息  -->
					<div role="tabpanel" class="tab-pane jarviswidget active" id="nodeInfo">
						<div id="query_node">
							<input type="hidden" name="idx" value="0" />
							<div class="form-horizontal">
								<section class="row">
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点编码</label>
										<div class="col-md-6">
											<input class="form-control" name="code" placeholder="节点编号" type="text" disabled />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点名称</label>
										<div class="col-md-6">
											<input class="form-control" name="product_name" placeholder="节点名称" type="text" disabled />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">类型编码</label>
										<div class="col-md-6">
											<input class="form-control" name="type_code" placeholder="节点名称" type="text" disabled />
										</div>
									</div>
								</section>
								<section class="row">
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">排序号</label>
										<div class="col-md-6">
											<input class="form-control" name="order_seq" placeholder="排序号" type="number" disabled />
										</div>
									</div>
								</section>
								<section class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">备注</label>
										<div class="col-md-10">
											<textarea class="form-control" name="remark" placeholder="节点描述" rows="4" disabled></textarea>
										</div>
									</div>
								</section>
							</div>
							<div class="btn_node">
								<a class="edit_node_btn btn btn-primary" href="javascript:void(0);">编辑</a>
								<a class="back_node_btn btn btn-warning disabled" href="javascript:void(0);">返回</a>
							</div>
							<div>
								<!-- widget grid -->
								<section id="widget-grid" class="">

									<!-- row -->
									<div class="row">

										<!-- NEW WIDGET START -->
										<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<table id="jqgrid"></table>
											<div id="pjqgrid"></div>
										</article>

										<!-- WIDGET END -->
									</div>

									<!-- end row -->
								</section>
								<!-- end widget grid -->
							</div>
						</div>

					</div>
					<!--添加子节点  -->
					<div role="tabpanel" class="tab-pane jarviswidget" id="addChildNode">
						<form id="add_node">
							<input type="hidden" name="pid" value="0" />
							<div class="form-horizontal">
								<section class="row">
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点编码</label>
										<div class="col-md-6">
											<input class="form-control" name="code" placeholder="节点编号" type="text" />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点名称</label>
										<div class="col-md-6">
											<input class="form-control" name="product_name" placeholder="节点名称" type="text" />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">类型编码</label>
										<div class="col-md-6">
											<input class="form-control" name="type_code" placeholder="节点名称" type="text" />
										</div>
									</div>
								</section>
								<section class="row">
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">排序号</label>
										<div class="col-md-6">
											<input class="form-control" name="order_seq" placeholder="排序号" type="number" />
										</div>
									</div>
								</section>
								<section class="row">
									<div class="form-group">
										<label class="col-md-2 control-label">备注</label>
										<div class="col-md-10">
											<textarea class="form-control" name="remark" placeholder="节点描述" rows="4"></textarea>
										</div>
									</div>
								</section>
							</div>
							<div class="btn_node">
								<a class="submit_node_btn btn btn-primary" href="javascript:void(0);">提交</a>
								<a class="empty_node_btn btn btn-warning" href="javascript:void(0);">清空</a>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

	</div>
</article>

<!-- 添加信息模态框 -->
<div id='prompt_model' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除节点 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">删除节点</h4>
			</div>
			<div class="modal-body">
				<p>确认删除节点：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerNode_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<script src="js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript">
	__RUN_ACT('materials/query', {}, function(data) {
		loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function() {
			LoadTree(data);
			console.log(data)
		});
	});

	/*json转树形结构*/
	function transData(a, idStr, pidStr, chindrenStr) {
		var r = [],
			hash = {},
			id = idStr,
			pid = pidStr,
			children = chindrenStr,
			i = 0,
			j = 0,
			len = a.length;
		for(; i < len; i++) {
			hash[a[i][id]] = a[i];
		}
		for(; j < len; j++) {
			var aVal = a[j],
				hashVP = hash[aVal[pid]];
			if(hashVP) {
				!hashVP[children] && (hashVP[children] = []);
				hashVP[children].push(aVal);
			} else {
				r.push(aVal);
			}
		}
		return r;
	}
	/*编辑树*/
	function widget(jsonDataTree) {
		jsonDataTree.forEach(function(element, index) {
			if($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
				var fa = "fa fa-lg fa-plus-circle";
				if(!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.product_name + '</b></span></li>'
				$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
			} else {
				var fa = "fa fa-lg fa-plus-circle";
				if(!element.chindren) {
					fa = "fa fa-lg fa-pencil-square-o";
				}
				var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.product_name + '</b></span></li></ul>'
				$("[widget_id='" + element.pid + "']").parent().append(html);
			}
			if(element.chindren) {
				widget(element.chindren);
			}
		});
	}

	function LoadTree(jsonData) {
		widget(transData(jsonData, 'idx', 'pid', 'chindren'));
		tree();
		$('#widget_content [widget_id]').on('click', function() {
			$('#widget_content [widget_id]').removeClass('spanActive');
			$(this).addClass('spanActive');
			$('#wid-id-2>header>h2')[0].innerHTML = '数据词典:所在节点(' + $(this)[0].innerText + ')';
			$('[name="idx"]').val($(this).attr('widget_id'));
			$('[name="pid"]').val($(this).attr('widget_id'));
			__RUN_ACT('materials/queryByIdx', {
				"idx": $(this).attr('widget_id')
			}, function(data) {
				if(data[0]) {
					if(data[0].pid == 0) {
						$('#query_node [name="type_code"]').removeAttr('readOnly');
						$('#query_node [name="code"]').attr('readOnly', 'readonly');
					} else {
						$('#query_node [name="code"]').removeAttr('readOnly');
						$('#query_node [name="type_code"]').attr('readOnly', 'readonly');
					}
					$('#add_node [name="code"]').removeAttr('readOnly');
					$('#add_node [name="type_code"]').attr('readOnly', 'readonly');
					$('.edit_node_btn').removeAttr('disabled')
					$('#add_node [name="type_code"]').val(data[0].type_code);
					__SET_FORM_VALUES('query_node', data[0]);
				} else {
					$('#add_node [name="type_code"]').removeAttr('readOnly');
					$('#add_node [name="code"]').attr('readOnly', 'readonly');
					$('.edit_node_btn').attr('disabled', 'disabled')
					$('#query_node input').val('');
					$('#query_node textarea').val('');
					$('#add_node [name="type_code"]').val('');
				}
			});
			__RUN_ACT('materials/queryByPid', {
				"pid": $(this).attr('widget_id')
			}, function(data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
			});
		});
	}

	//表格数据
	pageSetUp();
	var pagefunction = function() {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function run_jqgrid_function(jqgrid_data) {
			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', '节点编码', '节点名称', '节点描述', '排序号', '操作'],
				colModel: [{
						name: 'idx',
						index: 'idx',
						align: "center",
						hidden: true,
						sortable: false
					},
					{
						name: 'code',
						index: 'code',
						align: "center",
						width: '100px',
						sortable: false
					},
					{
						name: 'product_name',
						index: 'product_name',
						align: "center",
						sortable: false
					},
					{
						name: 'remark',
						index: 'remark',
						align: "center",
						sortable: false
					},
					{
						name: 'order_seq',
						index: 'order_seq',
						align: "center",
						sortable: false
					},
					{
						name: 'act',
						index: 'act',
						align: "center",
						width: '60px',
						sortable: false
					}
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function() {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						//be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						//se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"removerNode('" + cl + "');\"><i class='fa fa-times'></i>删除</button>";
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
							act: ca
						});
					}
				},
				editurl: "dummy.html",
				caption: false,
				multiselect: false,
				autowidth: true,

			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

			// update buttons

			$(window).on('resize.jqGrid', function() {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#query_node").width());
			})

			$.extend($.fn.jqGrid, {
				setData: function(data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function

	}

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);
	/* 类型编码关联 */
	$('[name="type_code"]').on('keyup', function() {
		$(this).parent().parent().parent().find('[name="code"]').val($(this).val());
	});
	/*编辑节点按钮*/
	$('.edit_node_btn').on('click', function() {
		if($(this).html() == "编辑") {
			$(this).html("修改");
			$('#query_node input').removeAttr('disabled');
			$('#query_node textarea').removeAttr('disabled');
			$('.back_node_btn').removeClass('disabled');

		} else if($(this).html() == "修改") {
			$(this).html("编辑");
			$('#query_node input').attr('disabled', 'disabled');
			$('#query_node textarea').attr('disabled', 'disabled');
			$('.back_node_btn').addClass('disabled');
			var data = __GET_FROM_VALUES('query_node');
			$('[widget_id="' + data.idx + '"] b').text(data.product_name);
			var step = [
				//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
				// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
				{
					JSCODE: 'SAVE',
					CODE: 'UPDATE',
					CLZ: 't_materials',
					RCODE: 'ENTITY',
					DATA: data
				}
			];
			__RUN_STEP(step, function(data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('节点编辑成功。');
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().attr('order_seq', data['ENTITY'].order_seq);
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function(element, index) {
					if($(this).attr('order_seq') > data['ENTITY'].order_seq) {
						$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
						return false;
					}
				});
			});
		}
	})

	/*返回节点按钮*/
	$('.back_node_btn').on('click', function() {
		$('.edit_node_btn').html("编辑");
		$('#query_node input').attr('disabled', 'disabled');
		$('#query_node textarea').attr('disabled', 'disabled');
		$('.back_node_btn').addClass('disabled');
		__RUN_ACT('materials/queryByIdx', {
			"idx": $('#query_node [name="idx"]').val()
		}, function(data) {
			if(data[0]) {
				$('[name="idx"]').val(data[0].idx);
				__SET_FORM_VALUES('query_node', data[0]);
			}
		});
	})

	/*子节点添加*/
	$('.submit_node_btn').on('click', function() {
		var bootstrapValidator = $("#add_node").data('bootstrapValidator');
		bootstrapValidator.validate();
		if(!bootstrapValidator.isValid()) {
			return;
		}
		var data = __GET_FROM_VALUES('add_node');
		var step = [
			//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			{
				JSCODE: 'SAVE',
				CODE: 'ADD',
				CLZ: 't_materials',
				RCODE: 'ENTITY',
				DATA: data
			}
			//{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_dictionary',RCODE:'ENTITY',DATA:data}
		];
		__RUN_STEP(step, function(data) {
			$('#prompt_model').modal('show');
			$('#prompt_model .modal-body').html('节点添加成功。');
			if($('[widget_id="' + data['ENTITY'].pid + '"]').parent().find('ul').length) {
				var html = '<li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].product_name + '</b></span></li>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().find('ul').first().append(html);
			} else {
				$("[widget_id='" + data['ENTITY'].pid + "']").find('i').removeClass('fa-pencil-square-o').addClass('fa-plus-circle icon-minus-sign');
				var html = '<ul><li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].product_name + 

'</b></span></li></ul>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().append(html);
			}
			$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function(element, index) {
				if($(this).attr('order_seq') > data['ENTITY'].order_seq) {
					$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
					return false;
				}
			});
			tree();
			$('#widget_content [widget_id]').on('click', function() {
				$('#widget_content [widget_id]').removeClass('spanActive');
				$(this).addClass('spanActive');
				$('#wid-id-2>header>h2')[0].innerHTML = '数据词典:所在节点(' + $(this)[0].innerText + ')';
				$('[name="idx"]').val($(this).attr('widget_id'));
				$('[name="pid"]').val($(this).attr('widget_id'));
				__RUN_ACT('/materials/queryByIdx', {
					"idx": $(this).attr('widget_id')
				}, function(data) {
					if(data[0]) {
						if(data[0].pid == 0) {
							$('#query_node [name="type_code"]').removeAttr('readOnly');
							$('#query_node [name="code"]').attr('readOnly', 'readonly');
						} else {
							$('#query_node [name="code"]').removeAttr('readOnly');
							$('#query_node [name="type_code"]').attr('readOnly', 'readonly');
						}
						$('#add_node [name="code"]').removeAttr('readOnly');
						$('#add_node [name="type_code"]').attr('readOnly', 'readonly');
						$('.edit_node_btn').removeAttr('disabled')
						$('#add_node [name="type_code"]').val(data[0].type_code);
						__SET_FORM_VALUES('query_node', data[0]);
					} else {
						$('#add_node [name="type_code"]').removeAttr('readOnly');
						$('#add_node [name="code"]').attr('readOnly', 'readonly');
						$('.edit_node_btn').attr('disabled', 'disabled')
						$('#query_node input').val('');
						$('#query_node textarea').val('');
						$('#add_node [name="type_code"]').val('');
					}
				});
				__RUN_ACT('materials/queryByPid', {
					"pid": $(this).attr('widget_id')
				}, function(data) {
					$("#jqgrid").jqGrid('setData', data);
					$("#jqgrid").trigger("reloadGrid");
				});
			});
		})
	});
	/*子节点清空*/
	$('.empty_node_btn').on('click', function() {
		$('#add_node input').not('[name="type_code"]').val('');
		$('#add_node textarea').val('');
		$("#add_node").data("bootstrapValidator").resetForm();
	});

	/*删除节点*/
	function removerNode(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);

		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.name);
		$('#removerNode_btn').attr('idx', rowData.idx);
	}
	$('#removerNode_btn').on('click', function() {
		var idx = $('#removerNode_btn').attr('idx');
		__RUN_ACT('materials/delete', {
			"idx": idx
		}, function(data) {
			__RUN_ACT('materials/queryByPid', {
				"pid": $('[widget_id="' + idx + '"]').parent().parent().prev().attr('widget_id')
			}, function(data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
				$('[widget_id="' + idx + '"]').parent().remove();
				$('#mymodel').modal('hide');
			});
		});
	})
	/* 表单验证-叶节点添加 */
	// movie form
	$('#add_node').bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			code: {
				validators: {
					notEmpty: {
						message: '节点编号不能为空'
					},
					remote: {
						url: 'materials/queryByCode',
						message: '节点编号已存在',
						type: 'POST',
						delay: 2000
					},
				}
			},
			name: {
				validators: {
					notEmpty: {
						message: '节点名称不能为空'
					}
				}
			},
			order_seq: {
				validators: {
					notEmpty: {
						message: '排序号不能为空'
					}
				}
			}
		}
	});
	// end movie form
</script>