<style>
	/*搜索按钮*/

	.readerSearch {
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		float: left;
		color: #ffffff;
		background: #2196f3;
		border-radius: 5px;
		margin-left: 10px;
	}
	.btn_activation{
		border: 1px solid #2196f3;
		color: #2196f3;
		background: #ffffff;
	}
	td,
	th {
		padding: 5px 10px;
	}
</style>
<div class="smart-form">
	<fieldset>
		<section class="col col-md-6 col-sm-12 type_btn">
			<a href="javascript:void(0)" class="readerSearch">散户</a>
			<a href="javascript:void(0)" class="readerSearch">企业</a>
			<a href="javascript:void(0)" class="readerSearch">奶站</a>
			<a href="javascript:void(0)" class="readerSearch">乳品厂</a>
			<a href="javascript:void(0)" class="readerSearch">包片兽医</a>
		</section>
		<section class="col col-md-3 col-sm-12">
			<a href="javascript:void(0)" id="add_row" class="readerSearch">新增畜种</a>
			<a href="javascript:void(0)" id="add_col" class="readerSearch">新增证件</a>
		</section>
	</fieldset>

	<fieldset>
			<input type="hidden" name="customer_type" value="0">
		<div id="table" style="overflow: auto;">

		</div>
	</fieldset>
</div>
<div id='node_modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">添加</h4>
			</div>
			<div class="modal-body" id="node_form">
				<input type="hidden" name="pid" />
				<div class="form-horizontal">
					<section class="row">
						<div class="form-group col-md-6">
							<label class="col-md-6 control-label">节点编码</label>
							<div class="col-md-6">
								<input class="form-control" name="code" placeholder="节点编号" type="text" />
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-6 control-label">节点名称</label>
							<div class="col-md-6">
								<input class="form-control" name="name" placeholder="节点名称" type="text" />
							</div>
						</div>

					</section>
					<section class="row">
						<div class="form-group col-md-6">
							<label class="col-md-6 control-label">类型编码</label>
							<div class="col-md-6">
								<input class="form-control" name="type_code" placeholder="节点名称" type="text" disabled/>
							</div>
						</div>
					</section>

					<section class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">备注</label>
							<div class="col-md-10">
								<textarea class="form-control" name="remark" placeholder="节点描述" rows="4"></textarea>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="save_node">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>

		</div>
	</div>
</div>
<script type="text/html" id="table_tmpl">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				{{each(i,th) ths}}
				<th>${th.name}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{each(i,td) tds}}
			<tr>
				<td>
					<input type="hidden" name="idx" value="${td.idx}">
					<span>${td.animal_type}</span>
				</td>
				{{each(i,th) ths}}
				<td>
					{{if $.inArray(th.name, td.credentials) != -1 }}
					<input type="checkbox" checked value="${th.name}"> {{else}}
					<input type="checkbox" value="${th.name}"> {{/if}}
				</td>
				{{/each}}
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>
<script src="js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript">
	__RUN_ACT('credentials/query', { "customer_type": $('[name="customer_type"]').val() }, function (data) {
		for (var key in data.tds) {
			data.tds[key].credentials = data.tds[key].credentials.split(',');
		}
		$('#table').html($("#table_tmpl").tmpl(data))
	})
	$('#table').on('change', '[type="checkbox"]', function () {
		var data = {};
		var td = [];
		$(this).parent().parent().find('[type="checkbox"]').each(function (i, elm) {
			if ($(elm).is(':checked')) {
				td.push($(elm).val());
			}
		})
		data.idx = $(this).parent().parent().find('[name="idx"]').val();
		data.animal_type = $(this).parent().parent().find('span').html();
		data.customer_type = $('[name="customer_type"]').val();
		data.credentials = td.join(',');
		if (data.idx) {
			step = [{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_credentials', RCODE: 'ENTITY', DATA: data }];
		} else {
			step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_credentials', RCODE: 'ENTITY', DATA: data }];
		}
		__RUN_STEP(step, function (d) {
			__RUN_ACT('credentials/query', { "customer_type": $('[name="customer_type"]').val() }, function (data) {
				for (var key in data.tds) {
					data.tds[key].credentials = data.tds[key].credentials.split(',');
				}
				$('#table').html($("#table_tmpl").tmpl(data))
			})
		})
	})
	$('.type_btn').find('a').on('click', function () {
		$(this).addClass('btn_activation').siblings().removeClass('btn_activation');
		$('[name="customer_type"]').val($(this).index());
		__RUN_ACT('credentials/query', { "customer_type": $(this).index() }, function (data) {
			for (var key in data.tds) {
				data.tds[key].credentials = data.tds[key].credentials.split(',');
			}
			$('#table').html($("#table_tmpl").tmpl(data))
		})
	})

	/* 畜种添加 */
	$('#add_row').on('click', function () {
		$('#node_modal .modal-title').html('添加畜种');
		$('#node_form [name="pid"]').val('b921792d-577b-4218-b961-f2a6b8382261');
		bootstrapVal();
		$('#node_form [name="type_code"]').val('ANI_TYPE');
		$('#node_modal').modal('show');
	})

	/* 证件添加 */
	$('#add_col').on('click', function () {
		$('#node_modal .modal-title').html('添加证件');
		$('#node_form [name="pid"]').val('c36501ef-5b6c-4b17-9a1d-092f0c0f3b3f');
		bootstrapVal();
		$('#node_form [name="type_code"]').val('CRE_TYPE');
		$('#node_modal').modal('show');
	})
	/* 畜种 证件保存 */
	$('#save_node').on('click', function () {
		var bootstrapValidator = $("#node_form").data('bootstrapValidator');
		bootstrapValidator.validate();
		if (!bootstrapValidator.isValid()) {
			return;
		}
		data = __GET_FROM_VALUES('node_form');
		var step = [{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_dictionary', RCODE: 'ENTITY', DATA: data }];
		__RUN_STEP(step, function (d) {
			__RUN_ACT('credentials/query', { "customer_type": $('[name="customer_type"]').val() }, function (data) {
				for (var key in data.tds) {
					data.tds[key].credentials = data.tds[key].credentials.split(',');
				}
				$('#table').html($("#table_tmpl").tmpl(data));
				$('#node_modal').modal('hide');
				$('#node_modal').find('input').val('');
				$('#node_modal').find('textarea').html('');
			})
		})
	});
	/* 表单验证-叶节点添加 */
	// movie form
	function bootstrapVal() {
		$('#node_form').data('bootstrapValidator', null);
		$('#node_form').bootstrapValidator({
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				code: {
					validators: {
						notEmpty: {
							message: '节点编号不能为空'
						},
						remote: {
							url: 'dictionary/queryByCode',
							message: '节点编号已存在',
							type: 'POST',
							delay: 2000,
							data: {
								'pid': $('#node_form [name="pid"]').val(),
								'code': $('#node_form [name="code"]').val()
							}
						}
					}
				},
				name: {
					validators: {
						notEmpty: {
							message: '节点名称不能为空'
						},
						remote: {
							url: 'dictionary/queryByName',
							message: '节点名称已存在',
							type: 'POST',
							delay: 2000,
							data: {
								'pid': $('#node_form [name="pid"]').val(),
								'name': $('#node_form [name="name"]').val()
							}
						}
					}
				}
			}
		});
	}

</script>
