<div  class="col-sm-12 col-md-12 col-lg-12" class="pull-left clearfix" style="margin-bottom: 30px;">
			<a class="btn bg-color-blueDark txt-color-white" id="add"><i class="icon-plus"></i>新增</a> 
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-pencil"></i>修改</a> 
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-remove"></i>删除</a>
			<a class="btn bg-color-blueDark txt-color-white"><i class="icon-repeat"></i>重置</a>
			
</div>

<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">射频标签号</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>
<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">状态</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>
<div class="form-group">
	<label class="col-md-1 control-label" style="text-align: right;line-height: 32px;">二维码</label>
	<div class="col-md-2">
		<input class="form-control" placeholder="Default Text Field" type="text">
	</div>
</div>
<a class="btn bg-color-blueDark txt-color-white"><i class="icon-repeat"></i>查询</a>
<a class="btn bg-color-blueDark txt-color-white"><i class="icon-repeat"></i>清空</a>

<section id="widget-grid" class="">
		<article class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
			<div id="wid-id-3" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>区域列表信息</h2>
				</header>

				<div>
					<div class="jarviswidget-editbox"> </div>

					<div class="widget-body no-padding">
						<table id="district_list" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th width="60px;">序号</th>
									<th width="80px;">编号</th>
									<th>名称</th>
									<th>类型</th>
									<th data-hide="phone">区号</th>
									<th>行政区划</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

			</div>
		</article>
</section>

<script type="text/javascript">


	var initFun=function(){
		// var data={reader_code:'222',customer_id:'333',SIM:'13789098899',status:'1',date:'2017-09-09 12:23:23'};
	//	var rf_tag_number = 
		var step=[
			{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
			// {JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
		];
		SELECT__RUN_STEP(step,function(d){
			//alert(d.message);
			pagefunction(d.detail);
		});
	}
	
	var pagefunction = function(list) {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function run_jqgrid_function() {
			jQuery("#jqgrid").jqGrid({
				data : list,
				datatype : "local",
				height : 'auto',
				colNames:['耳标id','射频标签号', '二维码', '状态','客户id','客户名称','批次号','预生成时间'],
		        colModel:[			
			      			{  name: 'idx',index:'idx', width: 45,align:'center', key: true,hidden:true},
			    			{  name: 'rfid_no',index:'rfid_no', align:'center',width: 75 },
			    			{  name: 'qr_no', index:'qr_no',align:'center',width: 75 },			
			    			{  name: 'status',index:'status',formatter: function(value, options, row){
								if(value =='1'){
									return '<option value="1">原始</option>'  
								}else if(value =='2'){
									return'<option value="2">领用</option>'
								}else if(value =='3'){
									return'<option value="3">使用</option>'
								}else if(value =='4'){
									return'<option value="4">损坏</option>'
								}
							}, align:'center',width: 75
			    				 },
			    			{  name: 'customer_id',index:'customer_id', align:'center',width: 75,hidden:true },
			    			{  name: 'customer_name',index:'customer_name',align:'center', width: 75 },
			    			{  name: 'batch_idx',index:'batch_idx', align:'center',width: 75 },
			    			{  name: 'create_time',index:'create_time', align:'center',width: 75 }
			    			
		                 ],
				rowNum : 10,
				rowList : [10, 20, 30],
				pager : '#pjqgrid',
				sortname : 'idx',
				toolbarfilter: true,
				viewrecords : true,
				sortorder : "asc",
				gridComplete: function(){return;
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for(var i=0;i < ids.length;i++){
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";  
						ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ca});
					}	
				},
				editurl : "dummy.html",
				caption : "SmartAdmin jQgrid Skin",
				multiselect : true,
				autowidth : true,

				});
				jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
					edit : false,
					add : false,
					del : true
				});
				jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
				/* Add tooltips */
				$('.navtable .ui-pg-button').tooltip({
					container : 'body'
				});

				jQuery("#m1").click(function() {
					var s;
					s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
					alert(s);
				});
				jQuery("#m1s").click(function() {
					jQuery("#jqgrid").jqGrid('setSelection', "13");
				});
				return;
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			    $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			    $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			    $(".ui-jqgrid-pager").removeClass("ui-state-default");
			    $(".ui-jqgrid").removeClass("ui-widget-content");
			    
			    // add classes
			    $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			    $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");
			   
			   
			    $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			    $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			    $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			    $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			    $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			    $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			    $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			    $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
			  
				$( ".ui-icon.ui-icon-seek-prev" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
				
				$( ".ui-icon.ui-icon-seek-first" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");		  	
	
			  	$( ".ui-icon.ui-icon-seek-next" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
			  	
			  	$( ".ui-icon.ui-icon-seek-end" ).wrap( "<div class='btn btn-sm btn-default'></div>" );
			  	$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");
			  	
			  	
			  
			  
			    // update buttons
			    
			    $(window).on('resize.jqGrid', function () {
					jQuery("#jqgrid").jqGrid( 'setGridWidth', $("#content").width() );
				})


			} // end function


	}
	pageSetUp();
	loadScript("js/plugin/jqgrid/grid.locale-en.min.js", initFun);
	
</script>

 