<style>
    .jarviswidget.well header{
        display: none;
    }
    /*生产流程*/
	.process {
		padding:25px 0;
		margin: 0 25px 20px 25px;
		border-bottom: 2px solid #000000;
		text-align: center;
	}
	.process ul {
		display: inline-block;
	}
	.process li {
		list-style: none;
		float: left;
		width: 80px;
		height: 100px;
		margin: 0 5px;
		border-radius: 5px;
		cursor:pointer;
		/*background: rgba(0,0,0,0.5);*/
	}
	.process li div {
		background-color: #2196f3;
		height: 80px;
		width: 80px;
		border-radius: 5px;
		vertical-align: middle;
	    display: table-cell;
	    text-align: center;
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	}
	.process li span {
		font-size: 14px;
		line-height: 20px;
		color: #000;
		display: block;
		border-radius: 5px;
		width: 100%;
		 border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	}
	.process li:nth-child(1) span{
		background-color: #329ff6;
		color: #fff;
	} 
    .t-normal{
        display: none;
    }

</style>

<div class="alert alert-info">
    <strong>提示:</strong> 在此页面企业可查看场内生产统计信息
</div>
<section id="widget-grid" class="">

	<!-- row -->

	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget well" id="wid-id-0a" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
					<h2>Buttons at a glance </h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">
                        
                        <div id="search_mes" class="smart-form">
                            <fieldset class="form-horizontal">
                                <section class="col col-md-12 col-sm-12 col-lg-12">
                                    <section class="col col-md-4 col-sm-12 col-lg-4" id="hide_district">
                                        <label class="col-sm-2 control-label">时间</label>
                                        <div class="col col-sm-10">
                                            <select name="statistics_time" id="statistics_time" class="form-control">                                               
                                                <option value="请选择">请选择</option>
                                                <option value="当日">当日</option>
                                                <option value="近一周">近一周</option>
                                                <option value="近两周">近两周</option>
                                                <option value="近一月">近一月</option>      
                                            </select>
                                        </div>
                                    </section>
                                </section>
                            </fieldset>
                            <footer>
                                <input type="button" class="btn btn-primary" id="animal-indiv-search" value="查询" />
                            </footer>
                        </div>        
                        <div class="row process">
                            <ul>
                                <li>
                                    <div><img src="img/insemination.png"/></div>
                                    <span>授精</span>
                                </li>
                                <li>
                                    <div><img src="img/Pregnancy.png"/></div>
                                    <span>孕检</span>
                                </li>
                                <li>
                                    <div><img src="img/quarantine.png"/></div>
                                    <span>免疫</span>
                                </li>
                                <li>
                                    <div><img id="addson" src="img/Reproduction.png"/></div>
                                    <span>产仔</span>
                                </li>
                                <li>
                                    <div><img src="img/weaning.png"/></div>
                                    <span>断奶</span>
                                </li>
                                <li>
                                    <div><img src="img/deadpic.png"/></div>
                                    <span>死亡</span>
                                </li>
                                <li>
                                    <div><img src="img/Inputmanage.png"/></div>
                                    <span>投入品管理</span>
                                </li>
                                <li>
                                    <div><img id="sheepmove" src="img/transfer.png"/></div>
                                    <span>迁移</span>
                                </li>
                                <li>
                                    <div><img src="img/immune.png"/></div>
                                    <span>检疫</span>
                                </li>
                                <li>
                                    <div><img src="img/eliminate.png"/></div>
                                    <span>淘汰</span>
                                </li>
                                <li>
                                    <div><img src="img/temperature.png"/></div>
                                    <span>体温</span>
                                </li>
                                <li>
                                    <div><img src="img/eat.png"/></div>
                                    <span>进食</span>
                                </li>
                                <li>
                                    <div><img src="img/drink.png"/></div>
                                    <span>饮水</span>
                                </li>
                            </ul>
                        </div>
						<div class="table-responsive">
                            <table class="table table-bordered" id="tables1">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>授精数量（头）</th>
                                        <th>精液剂量（ml）</th>
                                        <th>精液平均剂量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables2">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>妊娠数量（头）</th>
                                        <th>精液剂量（ml）</th>
                                        <th>精液平均剂量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables3">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>批号</th>
                                        <th>存栏总数（头）</th>
                                        <th>免疫数量（头）</th>
                                        <th>免疫期次</th>
                                        <th>疫苗种类</th>
                                        <th>疫苗名称</th>
                                        <th>疫苗厂商</th>
                                        <th>剂量</th>
                                        <th>单位</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables4">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>产仔母猪数量</th>
                                        <th>产仔数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables5">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>断奶活数</th>
                                        <th>断奶头数</th>
                                        <th>断奶窝重</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables6">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>死亡数量（头）</th>
                                        <th>是否处理</th>
                                        <th>处理结果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables7">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>投入品类型</th>
                                        <th>投入品名称</th>
                                        <th>投入量</th>
                                        <th>批号</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables8">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>迁移类型</th>
                                        <th>原地区</th>
                                        <th>迁移后地区</th>
                                        <th>迁移数量（头）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables9">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>检疫结果</th>
                                        <th>检疫数量（头）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables10">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>淘汰原因</th>
                                        <th>淘汰操作人</th>
                                        <th>淘汰数量（头）</th>
                                        <th>淘汰去向</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables11">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>最高温度（°C）</th>
                                        <th>最低温度（°C）</th>
                                        <th>正常指标（°C）</th>
                                        <th>存栏总数（头）</th>
                                        <th>健康数量（头）</th>
                                        <th>生病数量（头）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables12">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>食物种类</th>
                                        <th>进食总量（kg）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-bordered t-normal" id="tables13">
                                <thead>
                                    <tr>
                                        <th>舍号</th>
                                        <th>存栏总数（头）</th>
                                        <th>饮水量（升）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>合计</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

    </div>

</section>

<script type="text/html" id="table_tr">
    {{each(i,val) data}}
        <tr>
            <td>${val.dorm_name}</td>
            <td>${val.data1}</td>
            <td>${val.data2}</td>
            {{if data[i].data3||data[i].data3==""}}
            <td>${val.data3}</td>
            {{/if}}
            {{if data[i].data4||data[i].data4==""}}
            <td>${val.data4}</td>
            {{/if}}
            {{if data[i].data5||data[i].data5==""}}
            <td>${val.data5}</td>
            {{/if}}
            {{if data[i].data6||data[i].data6==""}}
            <td>${val.data6}</td>
            {{/if}}
            {{if data[i].data7||data[i].data7==""}}
            <td>${val.data7}</td>
            {{/if}}
            {{if data[i].data8||data[i].data8==""}}
            <td>${val.data8}</td>
            {{/if}}
            {{if data[i].data9||data[i].data9==""}}
            <td>${val.data9}</td>
            {{/if}}
        </tr>
    {{/each}}

</script>


<script>
    pageSetUp();
    var arr1 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '10',
                'data3' : '80',
                'data4' : '8',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '64',
                'data4' : '8',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '72',
                'data4' : '8',
            }
    ];
    var arr2 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '10',
                'data3' : '80',
                'data4' : '8',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '64',
                'data4' : '8',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '72',
                'data4' : '8',
            }
    ];
    var arr3 = [
            {
                'dorm_name' : '定4',
                'data1' : '20171214',
                'data2' : '25',
                'data3' : '10',
                'data4' : '首免',
                'data5' : '口蹄疫疫苗',
                'data6' : '猪口蹄疫O型二价灭活苗',
                'data7' : '××单位',
                'data8' : '12',
                'data9' : '毫升',
            },
            {
                'dorm_name' : '产1',
                'data1' : '20171214',
                'data2' : '30',
                'data3' : '8',
                'data4' : '二免',
                'data5' : '口蹄疫疫苗',
                'data6' : '猪口蹄疫O型二价灭活苗',
                'data7' : '××单位',
                'data8' : '1',
                'data9' : '毫升',
            },
            {
                'dorm_name' : '定4',
                'data1' : '20171214',
                'data2' : '25',
                'data3' : '10',
                'data4' : '首免',
                'data5' : '口蹄疫疫苗',
                'data6' : '猪口蹄疫O型二价灭活苗',
                'data7' : '××单位',
                'data8' : '12',
                'data9' : '毫升',
            },
    ];
    var arr4 = [
            {
                'dorm_name' : '定4',
                'data1' : '2',
                'data2' : '20',
            },
            {
                'dorm_name' : '产1',
                'data1' : '1',
                'data2' : '8',
            },
            {
                'dorm_name' : '定5',
                'data1' : '2',
                'data2' : '18',
            }
    ];
    var arr5 = [
            {
                'dorm_name' : '定4',
                'data1' : '20',
                'data2' : '18',
                'data3' : '50',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '64',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '72',
            }
    ];        
    var arr6 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '10',
                'data3' : '80',
                'data4' : '8',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '64',
                'data4' : '8',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '72',
                'data4' : '8',
            }
    ];
    var arr7 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '10',
                'data3' : '80',
                'data4' : '8',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '64',
                'data4' : '8',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '72',
                'data4' : '8',
            }
    ];
    var arr8 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '10',
                'data3' : '杭州市富阳区新登镇上旺村',
                'data4' : '绍兴市柯桥区',
                'data5' : '10',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '8',
                'data3' : '杭州市富阳区新登镇上旺村',
                'data4' : '绍兴市柯桥区',
                'data5' : '12',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '9',
                'data3' : '杭州市富阳区新登镇上旺村',
                'data4' : '绍兴市柯桥区',
                'data5' : '11',
            }
    ];
    var arr9 = [
        {
            'dorm_name' : '定4',
            'data1' : '20',
            'data2' : '18',
            'data3' : '50',
        },
        {
            'dorm_name' : '产1',
            'data1' : '30',
            'data2' : '8',
            'data3' : '64',
        },
        {
            'dorm_name' : '定5',
            'data1' : '30',
            'data2' : '9',
            'data3' : '72',
        }
    ];    
    var arr10 = [
            {
                'dorm_name' : '定4',
                'data1' : '',
                'data2' : '',
                'data3' : '',
                'data4' : '10',
                'data5' : '',
            },
            {
                'dorm_name' : '产1',
                'data1' : '',
                'data2' : '',
                'data3' : '',
                'data4' : '11',
                'data5' : '',
            },
            {
                'dorm_name' : '定5',
                'data1' : '',
                'data2' : '',
                'data3' : '',
                'data4' : '12',
                'data5' : '',
            }
    ];
    var arr11 = [
            {
                'dorm_name' : '定4',
                'data1' : '37.8',
                'data2' : '36.2',
                'data3' : '',
                'data4' : '25',
                'data5' : '23',
                'data6' : '2',             
            },
            {
                'dorm_name' : '产1',
                'data1' : '37.2',
                'data2' : '36.5',
                'data3' : '',
                'data4' : '30',
                'data5' : '30',
                'data6' : '0',  
            },
            {
                'dorm_name' : '定4',
                'data1' : '38.8',
                'data2' : '36.4',
                'data3' : '',
                'data4' : '30',
                'data5' : '25',
                'data6' : '5',
            },
    ];
    var arr12 = [
            {
                'dorm_name' : '定4',
                'data1' : '20',
                'data2' : '',
                'data3' : '50',
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '',
                'data3' : '64',
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '',
                'data3' : '72',
            }
    ];  
    var arr13 = [
            {
                'dorm_name' : '定4',
                'data1' : '25',
                'data2' : '37.8'
            },
            {
                'dorm_name' : '产1',
                'data1' : '30',
                'data2' : '37.2'
            },
            {
                'dorm_name' : '定5',
                'data1' : '30',
                'data2' : '38.3'
            }
    ];
    var pageInitFun = function(){
        $("#tables1 tbody").html($("#table_tr").tmpl({data: arr1}))
        $("#tables2 tbody").html($("#table_tr").tmpl({data: arr2}))
        $("#tables3 tbody").html($("#table_tr").tmpl({data: arr3}))
        $("#tables4 tbody").html($("#table_tr").tmpl({data: arr4}))
        $("#tables5 tbody").html($("#table_tr").tmpl({data: arr5}))
        $("#tables6 tbody").html($("#table_tr").tmpl({data: arr6}))
        $("#tables7 tbody").html($("#table_tr").tmpl({data: arr7}))
        $("#tables8 tbody").html($("#table_tr").tmpl({data: arr8}))
        $("#tables9 tbody").html($("#table_tr").tmpl({data: arr9}))
        $("#tables10 tbody").html($("#table_tr").tmpl({data: arr10}))
        $("#tables11 tbody").html($("#table_tr").tmpl({data: arr11}))
        $("#tables12 tbody").html($("#table_tr").tmpl({data: arr12}))
        $("#tables13 tbody").html($("#table_tr").tmpl({data: arr13}))



        $(".process li").click(function(){
            $(this).children('span').css({'color':'#fff','backgroundColor':'#329ff6'});
            $(this).siblings().children('span').css({'color':'#000','backgroundColor':'transparent'});
            $(".table-responsive table").addClass('t-normal');
            var index=$(this).index();
            $(".table-responsive table:eq("+index+")").removeClass('t-normal');
        });

    }

   
    pageInitFun();



</script>