<style>
	#widget-grid-my .smart-form .checkbox input:checked+i {
		border-color: #3276B1;
	}

	.form-horizontal .checkbox {
		padding-top: 0;
	}

	.smart-form .checkbox {
		padding-left: 60px;
	}

	.smart-form .checkbox i {
		left: 30px;
	}

	.jarviswidget-color-blueDark>header {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F8F8F8));
		border: 1px solid #D4D4D4!important;
		color: #5B5B5B;
	}

	.ui-jqgrid tr.ui-row-ltr td {
		border-right: 1px solid #D4D4D4;
	}

	.relate_position{
		display: none;
	}
</style>

<section id="widget-grid-my" class="">

	<div class="row">
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>检疫申报</h2>
				</header>
				<div class="form-horizontal">
					<div class="widget-body no-padding">
						<!-- Nav tabs -->
						<!-- <ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#nodeInfo" aria-controls="nodeInfo" role="tab" data-toggle="tab">节点信息</a></li>
								<li role="presentation"><a href="#addChildNode" aria-controls="addChildNode" role="tab" data-toggle="tab">添加子节点</a></li>
							</ul> -->

						<!-- Tab panes -->
						<div class="tab-content">
							<!--节点信息  -->
							<section role="tabpanel" class="tab-pane active" id="nodeInfo">
								<section class="smart-form" id="updata_bank_form" novalidate="novalidate">
									<header>申报基本信息</header>
									<fieldset>

										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">申报单位</label>
												<div class="col col-sm-9">
													<input type="text" name="company_name" placeholder="申报单位" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">申报人电话</label>
												<div class="col col-sm-9">
													<input type="text" name="address" placeholder="地址" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">启运地</label>
												<div class="col col-sm-9">
													<input type="text" name="start_place" placeholder="请输入..." class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">货主</label>
												<div class="col col-sm-9">
													<input type="text" name="goods_name" placeholder="请输入..." class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">联系电话</label>
												<div class="col col-sm-9">
													<input type="text" name="link_mobile" placeholder="请输入..." class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">目的地</label>
												<div class="col col-sm-9">
													<input type="text" name="end_place" placeholder="请输入..." class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">动物种类</label>
												<div class="col col-sm-9">
													<select class="form-control">
														<option value="">请选择</option>
														<option value="1">普通动物</option>
														<option value="2">种用乳用</option>
													</select>
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">报检数量</label>
												<div class="col col-sm-9">
													<input type="text" name="prove_num" placeholder="请输入..." class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">用途</label>
												<div class="col col-sm-9">
													<select id="u1218_input" class="form-control">
														<option value="">请选择</option>
														<option value="1">屠宰</option>
														<option value="2">饲养</option>
														<option value="3">种用</option>
														<option value="4">乳用</option>
														<option value="5">役用</option>
														<option value="6">宠用</option>
														<option value="7">试验</option>
														<option value="8">参展</option>
													</select>
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">来源</label>
												<div class="col col-sm-9">
													<select id="u1363_input" class="form-control">
														<option value="">请选择</option>
														<option value="1">家畜家禽</option>
														<option value="2">人工繁育</option>
														<option value="3">合法捕获（野生动物）</option>
													</select>
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">是否疫区</label>
												<div class="col col-sm-9">
													<select id="u1221_input" class="form-control">
														<option value="">请选择</option>
														<option value="1">是</option>
														<option value="2">否</option>
													</select>
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">《跨省引用乳用种用动物检疫审批表》编号</label>
												<div class="col col-sm-9">
													<input type="text" name="use_no" placeholder="请输入..." class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<label class="label">有效许可证：</label>
											<div class="inline-group">
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>《野生动物人工繁育许可证》</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>《野生动物特许捕猎者货狩猎证》</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>狂犬病免疫证明</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>养殖档案符合规定</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>实验室疫病检测报告</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>经强制免疫并在有效期内</label>
											</div>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<label class="label">养殖场6个月内是否有以下疫情：</label>
											<div class="inline-group">
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>口蹄疫</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>猪瘟</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>高致病性猪蓝耳病</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>炭疽</label>
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>猪丹毒</label>
											</div>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<label class="label">真实性承诺：</label>
											<div class="inline-group">
												<label class="checkbox">
													<input type="checkbox" name="checkbox-inline">
													<i></i>我承诺以上报检信息真实有效，否则承担法律责任</label>
										</section>
									</fieldset>
									<header>动物个体详情</header>
									<fieldset id="animal_list">
										<div action="" id="insure_product_form" class="smart-form">

											<div class="row">
												<section class="col col-4 ">
													<label class="control-label col-md-2">数据来源</label>
													<div class="col col-md-5">
														<select name="product_kind" id="" class="form-control parent_position">
															<option value="">请选择</option>
															<option value="1">ETC扫描</option>
															<option value="2">手机扫描</option>
															<option value="3">无线射频识读器扫描</option>
														</select>
													</div>
												</section>
												<section class="col col-4 relate_position">
													<label class="control-label col-md-2">舍</label>
													<div class="col col-md-5">
														<select name="product_kind" id="" class="form-control">
															<option value="">请选择</option>
															<option value="1">1号舍</option>
														</select>
													</div>
												</section>
												<section class="col col-4 relate_position">
													<label class="control-label col-md-2">栏</label>
													<div class="col col-md-5">
														<select name="animal_kind" id="" class="form-control">
															<option value="">请选择</option>
															<option value="1">1号栏</option>
															<option value="2">2号栏</option>
														</select>
													</div>
												</section>
											</div>

											<footer>
												<input type="button" class="btn btn-default" id="reset_qry" value="重置">
												<input type="button" class="btn btn-primary" id="user_qry" value="查询">
											</footer>
										</div>
										<table id="jqgrid"></table>
										<div id="pjqgrid"></div>

									</fieldset>
									<header class="handle_request">审核信息</header>
									<fieldset class="handle_request">
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">是否受理</label>
												<div class="col col-sm-9">
													<select id="u1343_input" class="form-control">
														<option value="请选择">请选择</option>
														<option value="是">是</option>
														<option value="否">否</option>
													</select>
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">受理人</label>
												<div class="col col-sm-9">
													<input type="text" name="address" placeholder="受理人" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">材料上传</label>
												<div class="col col-sm-9">
													<input type="text" name="start_place" placeholder="请输入..." class="form-control" value="上传" readonly>
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">

											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">拟派日期</label>
												<div class="col col-sm-9">
													<input type="text" name="address" placeholder="拟派日期" class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">检疫地点</label>
												<div class="col col-sm-9">
													<input type="text" name="start_place" placeholder="请输入..." class="form-control">
												</div>
											</section>
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">派遣人员</label>
												<div class="col col-sm-9">
													<input type="text" name="address" placeholder="派遣人员" class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-4 col-sm-12 col-lg-4">
												<label class="col-sm-3 control-label">受理日期</label>
												<div class="col col-sm-9">
													<input type="text" name="address" placeholder="受理日期" class="form-control">
												</div>
											</section>
										</section>
										<section class="col col-md-12 col-sm-12 col-lg-12">
											<section class="col col-md-12 col-sm-12 col-lg-12">
												<label class="col-sm-1 control-label">附记</label>
												<div class="col col-sm-11">
													<textarea name="" id="" cols="30" rows="10" class="form-control" style="border-width: 1px;"></textarea>
												</div>
											</section>
										</section>
									</fieldset>


									<footer class="normal_footer">

										<input type="button" class="btn btn-default" id="return_btn" value="返回">
										<input type="button" class="btn btn-primary" id="apply_request" value="提交申请">

									</footer>

									<footer class="handle_request">
										<input type="button" class="btn btn-default" id="close_btn" value="返回">
										<input type="button" class="btn btn-primary" id="save_request" value="保存">
									</footer>
								</section>
								</div>

						</div>

					</div>
				</div>
			</div>
		</article>

	</div>
	</section>




	<script>
		var getIdx = getQueryString('customer_idx');
		if (!getIdx) {
			getIdx = $('#__customer_idx').attr("value");
		};
		if (!getIdx) {
			getIdx = 'd36d6eff-1468-41d5-be32-95a163690ba1';
		}

		var ishandle = getQueryString('ishandle');

		if (!ishandle) {
			$(".handle_request").hide();
		} else {
			$(".handle_request").show();
			$('.normal_footer').hide();
		}

		pageSetUp();
		var initFun = function () {

			var arr = [
				{
					'customer_idx': 'd36d6eff-1468-41d5-be32-95a163690ba1',
					'idx': '1fbf82cc-64bb-4a13-b6ff-a468d7ace592',
					'rfid': '570010500017871',
					'ear_num': '133010699900001',
					'dorm_name': '1',
					'bar_name' : '1',
					'seari_num': '20170630'
				},
				{
					'customer_idx': 'd36d6eff-1468-41d5-be32-95a163690ba1',
					'idx': '1fbf82cc-64bb-4a13-b6ff-a468d7ace592',
					'rfid': '570010500016117',
					'ear_num': '133010699900002',
					'dorm_name': '2',
					'bar_name' : '2',
					'seari_num': '20170630'
				},
			];
			loadScript("js/plugin/jqgrid/grid.locale-cn.js", pageFunction(arr));
		}

		$("#apply_request").click(function () {
			$.confirm({
				text: '申请提交成功',
				confirm: function () {
					window.history.back();
				},
				confirmButton: '确定',
				cancelButton: false
			})
		});
		$("#return_btn").click(function () {
			history.back();
		})


		$(".parent_position").on('change',function(){
			if($(this).val()=='3'){
				$(".relate_position").show();
			}else{
				$(".relate_position").hide();
			}

		})

		$("#save_request").click(function () {
			$.confirm({
				text: '保存成功',
				confirm: function () {
					window.history.back();
				},
				confirmButton: '确定',
				cancelButton: false
			})
		})
		$("#close_btn").click(function () {
			history.back();
		})

		var pageFunction = function (d) {
			loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function () {
				run_jqgrid_function(d);
			});

			function run_jqgrid_function(jqgrid_data) {
				jQuery("#jqgrid").jqGrid({
					data: jqgrid_data,
					datatype: "local",
					height: 'auto',
					colNames: ['', '', 'RFID编号', '二维码', '舍名', '栏号', '批次号', '操作'],
					colModel: [
						{ name: 'customer_idx', index: 'customer_idx', editable: true, width: '0' },
						{ name: 'idx', index: 'idx', editable: true, width: '0' },
						{ name: 'rfid', index: 'rfid', editable: true },
						{ name: 'ear_num', index: 'ear_num', editable: true, width: 80, sortable: true, align: 'left' },
						{ name: 'dorm_name', index: 'dorm_name', editable: true, width: 80, sortable: true, align: 'left' },
						{ name: 'bar_name', index: 'bar_name', editable: true, width: 80, sortable: true, align: 'left' },
						{ name: 'seari_num', index: 'seari_num', editable: true, width: 80, sortable: true, align: 'left' },
						{ name: 'act', index: 'act', sortable: false, width: '150px' },
					],
					rowNum: 10,
					rowList: [10, 20, 30],
					pager: '#pjqgrid',
					sortname: 'id',
					rownumbers: true,
					toolbarfilter: true,
					viewrecords: true,
					sortorder: 'asc',
					gridComplete: function () {

						var ids = jQuery("#jqgrid").jqGrid('getDataIDs');



						for (var i = 0; i < ids.length; i++) {
							var cl = ids[i];
							be = "<button type='button' idx=" + cl + " class='btn btn-xs btn-default' data-original-title='Edit Row' data-toggle='modal' data-target='#change-data'><i class='fa fa-pencil'></i> 修改</button>";
							ca = "<button type='button' class='btn btn-xs btn-default' data-original-title='Cancel' data-toggle='modal' data-target='#delete-data' ><i class='fa fa-times'></i> 删除</button>";
							ce = '<a href="javascript:void(0)" class="loadindividual" onclick=\'viewInfo("' + cl + '")\'>查看详情</a>';
							jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: ce });
						}
					},
					editurl: "dummy.html",

					multiselect: true,
					autowidth: true,

				});
				// remove classes
				$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
				$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
				$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
				$(".ui-jqgrid-pager").removeClass("ui-state-default");
				$(".ui-jqgrid").removeClass("ui-widget-content");

				// add classes
				$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
				$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


				$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
				$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
				$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
				$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
				$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
				$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
				$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
				$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

				$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

				$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

				$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

				$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
				$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");




				// update buttons

				$(window).on('resize.jqGrid', function () {
					jQuery("#jqgrid").jqGrid('setGridWidth', $("#animal_list").width());
				})

				$.extend($.fn.jqGrid, {
					setData: function (data) {
						this[0].p.data = data;
						return true;
					}
				});

			} // end function
		}

		initFun();

		function viewInfo(idx) {

			var rowData = $("#jqgrid").jqGrid('getRowData', idx);
			console.log(rowData)
			location.hash = 'page/nh/individual_admin/individual_check.html?idx=' + rowData.idx + '&customer_idx=' + rowData.customer_idx + '&ischeck=1';;
		}


	</script>