


<style>

	form>.row {
		margin-bottom: 10px;
	}
	/*操作按钮*/

	.operation {
		width: 200px;
		margin-left: 20px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.operation a:hover {
		color: #00CC00;
	}


	.operation a {
		color: #000000;
		padding: 0 5px;
	}

	.operation i {
		color: #00CC00;
		padding: 0 5px;
	}
	/*查询条件*/

	.condition {
		width: 330px;
		float: left;
		margin-left: 20px;
	}

	.condition input {
		width: 200px;
	}

	.condition input,
	.condition span,
	.condition select,
	.storageTime span,
	.storageTime input,
	.RFID * {
		height: 30px;
		line-height: 30px;
		margin: 0 10px 0 20px;
		float: left;
	}

	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	/*入库时间*/

	.storageTime {
		width: 50%;
		float: left;
	}

	.storageTime * {
		float: left;
	}

	#startTime,
	#endTime {
		width: 25%;
	}

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*RFID编号*/

	.RFID {
		width: 25%;
		float: left;
	}

	.RFID * {
		float: left;
	}

	.RFID input {
		width: 45%;
	}
	/*搜索按钮*/

	.readerSearch {
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.readerSearch button {
		text-align: center;
		height: 100%;
		border-radius: 5px;
	}
	/*装钉表格*/

	.ui-jqgrid-htable th {
		text-align: center;
	}
	/*模态框修改*/

	.modal-title {
		width: 50%;
		float: left;
	}

	.modal-header .top_rigth {
		float: right;
		margin-right: 20px;
	}

	#add-data .row input,select,textarea{
		border: 1px solid #ccc;
	}
	
	#add-data .row textarea{
		border: 1px solid #ccc;
	}
	
	.borbottom{
		border-bottom: 1px solid #ccc;
	}
	
	.control-label{
		line-height: 32px;
		padding: 0;
	}
	
	
	
	
	/*滚动条样式*/	  
	/* Handle */  
	  
	::-webkit-scrollbar-thumb {  
	  
	   -webkit-border-radius: 10px;  
	  
	   border-radius: 10px;  
	  
	   background: rgba(0,0,0,0.3);   
	  
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	  
	}  
	  
	::-webkit-scrollbar-thumb:window-inactive {  
	  
		background: rgba(169,169,169,0.4);   
	  
	}  
	
	/*#jqgrid tr td:first-child {
	    width: 50px !important;   	
	}*/
	/*#jqgrid_rn{
		width: 50px !important;
	}*/
	

	/*表格样式*/

	
	
</style>

<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<form>
	<div class="row">
		<div class="condition">
			<span>病虫害名称</span>
			<input type="text" class="form-control" name="bd_num" />			
		</div>
		<div class="readerSearch">
			<button type="button" class="btn btn-default" style="background: #2196f3;color: #fff;">搜索</button>
			<!--<button type="button" class="btn btn-default" id="newadd" style="background: #2196f3;color: #fff;">新增</button>-->
		</div>
	</div>
	
</form>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>

			<!--<br>
			<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
			<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>-->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>

<!--添加病虫害信息-->
<div class="modal fade" id="add-data" tabindex="-1" role="dialog" aria-labelledby="add-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">病虫害信息添加</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="barMes-add">
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">时间:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="technician-birth1" name="survey_time" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="recipient-name" class="control-label">区域:</label>
							<input type="text" class="form-control" id="technician-name" name="district_idx">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">气候:</label>
							<input type="text" class="form-control" id="id-card" name="climate">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">病虫害名称:</label>
							<input type="text" class="form-control" id="technician-age" name="plague_name">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">发病原因:</label>
							<input type="text" class="form-control" id="technician-nation" name="plague_reason">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">发病面积:</label>
							<input type="text" class="form-control" id="technician-tel" name="plague_area">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">被害株数:</label>
							<input type="text" class="form-control" id="culture-degree" name="plague_quantity">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">灾害发生时间前:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="occurrence_timeb1" name="occurrence_timeb" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">灾害发生时间后:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="occurrence_timea1" name="occurrence_timea" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-12">
							<label for="message-text" class="control-label">备注信息:</label>
							<textarea type="text" class="form-control" id="technician-remark" name="remark"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="add-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!--修改病虫害信息-->
<div class="modal fade" id="change-data" tabindex="-1" role="dialog" aria-labelledby="change-data">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">病虫害信息添加</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="barMes-change">
						<input type="hidden" class="form-control" id="" name="idx">
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">时间:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="technician-birth2" name="survey_time" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="recipient-name" class="control-label">区域:</label>
							<input type="text" class="form-control" id="" name="district_idx">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">气候:</label>
							<input type="text" class="form-control" id="" name="climate">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">病虫害名称:</label>
							<input type="text" class="form-control" id="" name="plague_name">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">发病原因:</label>
							<input type="text" class="form-control" id="" name="plague_reason">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">发病面积:</label>
							<input type="text" class="form-control" id="" name="plague_area">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">被害株数:</label>
							<input type="text" class="form-control" id="" name="plague_quantity">
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">灾害发生时间前:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="occurrence_timeb2" name="occurrence_timeb" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="message-text" class="control-label">灾害发生时间后:</label>
							<div style="position: relative;">
								<input type="text" class="form-control daylist" id="occurrence_timea2" name="occurrence_timea" data-date-format="yyyy-mm-dd" readonly>
								<p class="fa fa-calendar" style="position: absolute; right: 8px; top: 30%;"></p>
							</div>
						</div>
						<div class="form-group col-sm-12">
							<label for="message-text" class="control-label">备注信息:</label>
							<textarea type="text" class="form-control" id="" name="remark"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="change-determine" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>


<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">


	$("#newadd").on('click',function(){
		$("#add-data").modal('show');	
	});
	$("#add-determine").on('click',function(){
		var formData=__GET_FROM_VALUES('barMes-add');
		formData=__RMV_NULL_PROP(formData);
		var step=[
				{JSCODE:'SAVE',CODE:'ADD',CLZ:'t_worm_monitor',RCODE:'ENTITY',DATA:formData}
			];
		__RUN_STEP(step,function(d){
			console.log(d);
			$("#jqgrid").jqGrid('setData', d.ENTITY);
			$("#jqgrid").trigger("reloadGrid");
		});
	});
	
	
	
	$("#technician-birth1").datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});
	$("#occurrence_timea1").datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});
	$("#occurrence_timeb1").datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});	
	$('.daylist').click(function(){
		$(".clear").text('清空');
	});
//表格数据
	pageSetUp();
	var pagefunction = function () {	
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function(){
			var step=[
				{JSCODE:'LOAD',CODE:'LD_MONITOR_LIST',RCODE:'LIST',DATA:{}}
			];
			__RUN_STEP(step,function(d){
				console.log(d.LIST);
				run_jqgrid_function(d.LIST);
			});
		});						
		

		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', '时间', '区域', '气候', '病虫害名称', '发病原因','发病面积', '被害株数', '灾害发生时间前', '灾害发生时间后', '备注'],
				colModel: [
					{ name: 'idx', index: 'idx', align: "center", sortable: false, hidden: true },
					{ name: 'survey_time', index: 'survey_time', align: "center", sortable: false},
					{ name: 'district_idx', index: 'district_idx', align: "center", sortable: false, width: 240},
					{ name: 'climate', index: 'climate', sortable: false, align: "center"},
					{ name: 'plague_name', index: 'plague_name', sortable: false, align: "center"  },
					{ name: 'plague_reason', index: 'plague_reason', sortable: false, align: "center"},
					{ name: 'plague_area', index: 'plague_area', align: "center", sortable: false},
					{ name: 'plague_quantity', index: 'plague_quantity', align: "center", sortable: false, width: 240},
					{ name: 'occurrence_timeb', index: 'occurrence_timeb', sortable: false, align: "center"},
					{ name: 'occurrence_timea', index: 'occurrence_timea', sortable: false, align: "center"},
					{ name: 'remark', index: 'remark', sortable: false, align: "center"  },
//					{ name: 'act', index: 'act', sortable: false, align: "center"  }
				],
				rowNum: 10,
				rownumbers: false,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						be = "<button class='btn btn-xs btn-default' onclick=\"updateInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
						ca = "<button class='btn btn-xs btn-default tsDelete' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
//						ce = '<a href="javascript:void(0)" class="loadindividual" onclick=\'viewInfo("' + cl + '")\'>查看详情</a>';
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: be + ca });
					};
				},
				multiselect: false,
				autowidth: true,

			});

//			jQuery("#m1").click(function () {
//				var s;
//				s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
//				alert(s);
//			});
//			jQuery("#m1s").click(function () {
//				jQuery("#jqgrid").jqGrid('setSelection', "13");
//			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");



			// update buttons
			
//			jQuery("#jqgrid").jqGrid('setGridWidth', $("#widget-grid").width());
			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			});
			
			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});

		} // end function


	}

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);



	function updateInfo(row){
		var rowData = $("#jqgrid").jqGrid('getRowData', row);
		__SET_FORM_VALUES('barMes-change',rowData);
		$("#change-data").modal('show');
		$("#change-determine").on('click',function(){
			var formData=__GET_FROM_VALUES('barMes-change');
			console.log(formData);
			var step=[
				{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_worm_monitor',RCODE:'ENTITY',DATA:formData}
			];
			__RUN_STEP(step,function(d){
				console.log(d);
				$("#jqgrid").jqGrid('setData',d.ENTITY);
				$("#jqgrid").trigger("reloadGrid");
			});			
		})
	};

</script>