<style>
	.ui-jqgrid .ui-pg-input {
		border: 1px solid rgb(169, 169, 169)!important;
		padding: 0 2px;
		box-shadow: none!important;
	}
	/* 头部样式 */

	.jarviswidget-color-blueDark>header {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F8F8F8));
		border: 1px solid #D4D4D4!important;
		color: #5B5B5B;
	}
	/* 标签页样式 */

	body.smart-style-6 .nav-tabs>li.active>a {
		-webkit-box-shadow: 0 -2px 0 #2196F3;
		-moz-box-shadow: 0 -2px 0 #2196F3;
		box-shadow: 0 -2px 0 #2196F3;
	}

	.nav-tabs>li>a {
		margin: 0 8px;
	}

	.nav-tabs {
		margin-top: 10px;
	}

	.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2196F3), to(#2196F3));
	}
	/*树状图鼠标移入样式*/

	.tree li.parent_li span:hover,
	.spanActive {
		background-color: #DF8505;
		border: 1px solid #C67605;
		cursor: pointer;
		color: #fff;
	}

	#widget_content {
		overflow: auto;
		max-height: 750px;
	}

	#widget_content span {
		white-space: nowrap;
	}

	b {
		font-weight: 400;
	}
	/*按钮div*/

	.btn_node {
		text-align: center;
		margin: 0 auto 15px;
	}
	/* 查看叶节点 */
	/*叶节点更新展示*/
	/* 叶节点编辑 */

	.form-group a {
		float: right;
		margin-right: 10px;
	}
	/*表格居中*/

	th,
	td {
		vertical-align: middle!important;
		text-align: center;
	}

	.ui-jqgrid-btable tr.jqgrow td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	[table-idx] p {
		display: block!important;
		text-align: center;
		font-size: 12px!important;
		color: #6E4C4F;
	}

	.jarviswidget>div {
		border: none;
	}
	/* 上传图片样式 */

	.head_wrap {
		height: 142px;
		width: 132px;
		border: 1px solid #cacaca;
		border-bottom: none;
		background: #F2F2F2 url('img/upload_bg.png') no-repeat center;
		cursor: pointer;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
	}

	.head_wrap input {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 10;
	}

	.head_wrap img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 1;
		height: 100%;
	}

	.head_wrap i {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		font-size: 20px;
		z-index: 20;
		background-color: #ffffff;
		color: #444444;
		opacity: 0.3;
		transition: all 0.5s;
	}

	.head_wrap:hover i {
		opacity: 0.8;
	}

	#jiben_mes #head_data {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 132px;
		padding-left: 0;
	}

	.pic_check {
		text-align: center;
		width: 134px;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;

		margin: 0 auto;
		margin-bottom: 10px;
	}

	.pic_check span {
		padding: 5px 8px;
		background: #fff;
		color: #2196f3;
		border-radius: 5px;
	}
	/* 叶节点展示页 */

	.speciesName {
		height: 50px;
		border-bottom: 5px solid #C1A38C;
		padding-bottom: 10px
	}

	.speciesName h2 {
		font-size: 42px;
		line-height: 42px;
		color: #5A3034;
		font-style: "宋体";
		margin-bottom: 80px;
	}

	.mainTitle {
		margin: 28px 0;
		text-align: center;
		font-size: 20px;
		color: #CD383E;
		font-style: "微软雅黑";
	}

	.secondTitle {
		line-height: 35px;
		font-size: 18px;
		height: 35px;
		font-style: "微软雅黑";
		color: #7A4A30;
	}

	#leaf_content p {
		margin: 0;
		padding: 0;
		height: 24px;
		line-height: 24px;
		font-size: 14px;
		text-indent: 2em;
		display: inline-block;
	}

	#leaf_content ul {
		text-align: center;
	}

	#leaf_content .img_div {
		vertical-align: bottom;
		display: inline-block;
		margin: 0 5px;
	}
	/* 滚动条样式 */

	body.smart-style-6 ::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .2);
		border-radius: 100px;
		background-clip: padding-box;
		border: 2px solid transparent;
		min-height: 10px
	}
</style>

<article class="col-sm-12 col-md-4 col-lg-4">
	<div id="wid-id-1" class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false"
	 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
	 data-widget-sortable="false">
		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>业务信息树</h2>
		</header>
		<div>
			<div class="jarviswidget-editbox"> </div>
			<!-- widget content -->
			<div class="widget-body">
				<div class="tree smart-form" id="widget_content">
					<ul>
						<li>
							<span widget_id='0'><i class="fa fa-lg fa-folder-open"></i><b>根</b></span>
						</li>
					</ul>
				</div>
				<!-- end widget content -->

			</div>
		</div>
	</div>
</article>
<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-8">
	<!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
	<div id="wid-id-2" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false"
	 data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
	 data-widget-sortable="false">

		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>业务词典</h2>
		</header>

		<div>
			<div class="jarviswidget-editbox"> </div>

			<div class="widget-body no-padding">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#nodeInfo" aria-controls="nodeInfo" role="tab" data-toggle="tab">节点信息</a></li>
					<li role="presentation"><a href="#addChildNode" aria-controls="addChildNode" role="tab" data-toggle="tab">添加子节点</a></li>
					<li role="presentation"><a href="#addLeafNode" aria-controls="addLeafNode" role="tab" data-toggle="tab">添加叶节点</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!--节点信息  -->
					<div role="tabpanel" class="tab-pane jarviswidget active" id="nodeInfo">
						<div id="query_node">
							<input type="hidden" name="idx" value="0" />
							<form class="form-horizontal">
								<div class="form-group col-md-4">
									<label class="col-md-6 control-label">节点编号</label>
									<div class="col-md-6">
										<input class="form-control" name="node_code" placeholder="节点编号" type="text" disabled/>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-6 control-label">节点名称</label>
									<div class="col-md-6">
										<input class="form-control" name="node_name" placeholder="节点名称" type="text" disabled/>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="col-md-6 control-label">排序号</label>
									<div class="col-md-6">
										<input class="form-control" name="order_seq" placeholder="排序号" type="number" disabled/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">描述</label>
									<div class="col-md-10">
										<textarea class="form-control" name="remark" placeholder="节点描述" rows="4" disabled></textarea>
									</div>
								</div>
							</form>
							<div class="btn_node">
								<a class="edit_node_btn btn btn-primary" href="javascript:void(0);">编辑</a>
								<a class="back_node_btn btn btn-warning disabled" href="javascript:void(0);">返回</a>
							</div>
							<div>
								<!-- widget grid -->
								<section id="widget-grid" class="">

									<!-- row -->
									<div class="row">

										<!-- NEW WIDGET START -->
										<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<table id="jqgrid"></table>
											<div id="pjqgrid"></div>
										</article>

										<!-- WIDGET END -->
									</div>

									<!-- end row -->
								</section>
								<!-- end widget grid -->
							</div>
						</div>
						<div id="query_leaf_node" style="display: none;">
							<div id="leaf_content" class="clearfix"></div>
							<div id="update_leaf_node" style="display: none;">
								<div class="form-horizontal">
									<fieldset>
										<input type="hidden" name="idx" value="0" />
										<input type="hidden" name="leaf" value="1" />
										<legend>基本信息</legend>
										<div class="form-group">
											<label class="col-md-2 control-label">节点编号</label>
											<div class="col-md-2">
												<input class="form-control" name="node_code" placeholder="节点编号" type="text" />
											</div>
											<label class="col-md-2 control-label">节点名称</label>
											<div class="col-md-2">
												<input class="form-control" name="node_name" placeholder="节点名称" type="text" />
											</div>
											<label class="col-md-2 control-label">简称</label>
											<div class="col-md-2">
												<input class="form-control" name="abbreviation" placeholder="简称" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">品种</label>
											<div class="col-md-2">
												<select class="form-control" name="varieties" value="">
														<option value="">请选择</option>
														<option value="地方品种">地方品种</option>
														<option value="培育品种">培育品种</option>
														<option value="引入品种">引入品种</option>
													</select>
											</div>
											<label class="col-md-2 control-label">生理体温</label>
											<div class="col-md-2">
												<input class="form-control" name="temperature" placeholder="生理体温" type="text" />
											</div>
											<label class="col-md-2 control-label">颜色</label>
											<div class="col-md-2">
												<input class="form-control" name="color" placeholder="颜色" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">饲养方式</label>
											<div class="col-md-2">
												<input class="form-control" name="rearing_mode" placeholder="饲养方式" type="text" />
											</div>
											<label class="col-md-2 control-label">使用范围</label>
											<div class="col-md-6">
												<label class="checkbox-inline">
														<input type="checkbox" name="sire" value="0">
														公畜 </label>
												<label class="checkbox-inline">
														<input type="checkbox" name="female" value="0">
														母畜 </label>
												<label class="checkbox-inline">
														<input type="checkbox" name="newborn" value="0">
														仔畜 </label>
												<label class="checkbox-inline">
														<input type="checkbox" name="domestic" value="0">
														商品畜 </label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="col-md-6 control-label">畜种</label>
													<div class="col-md-6">
														<input class="form-control" name="animals_type" placeholder="畜种" type="text" />
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="col-md-6 control-label">排序号</label>
													<div class="col-md-6">
														<input class="form-control" name="order_seq" placeholder="排序号" type="number" />
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">简介</label>
											<div class="col-md-10">
												<textarea class="form-control" name="introduction" placeholder="编写牲畜简介" rows="4"></textarea>
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend>一般情况</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">原产地、中心产区及分布</label>
											<div class="col-md-9">
												<textarea class="form-control" name="origin" placeholder="原产地、中心产区及分布" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">引入历史</label>
											<div class="col-md-9">
												<textarea class="form-control" name="introduce_history" placeholder="引入历史" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">产区自然生态条件</label>
											<div class="col-md-9">
												<textarea class="form-control" name="ecological" placeholder="产区自然生态条件" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="ecological_img"></div>
										</div>
										<div class="form-group">
											<a position="ecological_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">品种畜牧学特性</label>
											<div class="col-md-9">
												<textarea class="form-control" name="varietal_characteristic" placeholder="产区自然生态条件" rows="4"></textarea>
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend>品种来源与变化</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">品种形成</label>
											<div class="col-md-9">
												<textarea class="form-control" name="cultivar_formation" placeholder="品种形成" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">群体数量</label>
											<div class="col-md-9">
												<textarea class="form-control" name="population_quantity" placeholder="群体数量" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">变化情况</label>
											<div class="col-md-9">
												<textarea class="form-control" name="change_material" placeholder="变化情况" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="population"></div>
										</div>
										<div class="form-group">
											<a position="population" class="add_table btn btn-primary">添加表格</a>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">育种素材和培育单位</label>
											<div class="col-md-9">
												<textarea class="form-control" name="breeding_material" placeholder="育种素材和培育单位" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">培育过程</label>
											<div class="col-md-9">
												<textarea class="form-control" name="breeding_process" placeholder="培育过程" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">培育方法</label>
											<div class="col-md-9">
												<textarea class="form-control" name="breeding_method" placeholder="培育方法" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="breeding_method_img"></div>
										</div>
										<div class="form-group">
											<a position="breeding_method_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
									</fieldset>
									<fieldset>
										<legend>品种牲征和性能</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">体型外貌特征</label>
											<div class="col-md-9">
												<textarea class="form-control" name="body_shape" placeholder="体型外貌特征" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="body_shape_img"></div>
										</div>
										<div class="form-group">
											<a position="body_shape_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
										<div class="form-group">
											<div class="features"></div>
										</div>
										<div class="form-group">
											<div class="col-md-3 col-sm-6">
												<div class="head_wrap">
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="updata_sire" />
													<img src="" id="updata_sire_img" />
												</div>
												<p class="pic_check"><span>上传(公)图片</span></p>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="head_wrap">
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="updata_female" />
													<img src="" id="updata_female_img" />
												</div>
												<p class="pic_check"><span>上传(母)图片</span></p>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="head_wrap">
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="updata_newborn" />
													<img src="" id="updata_newborn_img" />
												</div>
												<p class="pic_check"><span>上传(仔)图片</span></p>
											</div>
											<div class="col-md-3 col-sm-6">
												<div class="head_wrap">
													<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
													<input type="file" name="filename" id="updata_domestic" />
													<img src="" id="updata_domestic_img" />
												</div>
												<p class="pic_check"><span>上传(商品)图片</span></p>
											</div>
										</div>
										<div class="form-group">
											<a position="features" class="add_table btn btn-primary">添加表格</a>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">生产性能</label>
											<div class="col-md-9">
												<textarea class="form-control" name="production_performance" placeholder="生产性能" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="production_performance_img"></div>
										</div>
										<div class="form-group">
											<a position="production_performance_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
										<div class="form-group">
											<div class="production"></div>
										</div>
										<div class="form-group">
											<a position="production" class="add_table btn btn-primary">添加表格</a>
										</div>
									</fieldset>
									<fieldset>
										<legend>推广利用与研究情况</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">推广利用与研究情况</label>
											<div class="col-md-9">
												<textarea class="form-control" name="popularization_utilization" placeholder="推广利用与研究情况" rows="4"></textarea>
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend>饲养管理</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">饲养管理</label>
											<div class="col-md-9">
												<textarea class="form-control" name="feeding_management" placeholder="饲养管理" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="feeding_management_img"></div>
										</div>
										<div class="form-group">
											<a position="feeding_management_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
									</fieldset>
									<fieldset>
										<legend>典型类群</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">典型类群</label>
											<div class="col-md-9">
												<textarea class="form-control" name="typical_type" placeholder="典型类群" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="typicaltaxa"></div>
										</div>
										<div class="form-group">
											<a position="typicaltaxa" class="add_table btn btn-primary">添加表格</a>
										</div>
									</fieldset>
									<fieldset>
										<legend>品种保护和研究利用</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">保种方式</label>
											<div class="col-md-9">
												<textarea class="form-control" name="species_conservation" placeholder="保种方式" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">选育利用</label>
											<div class="col-md-9">
												<textarea class="form-control" name="breeding_utilization" placeholder="选育利用" rows="4"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="breeding_utilization_img"></div>
										</div>
										<div class="form-group">
											<a position="breeding_utilization_img" class="add_photo btn btn-primary">添加图片</a>
										</div>
										<div class="form-group">
											<div class="experiment"></div>
										</div>
										<div class="form-group">
											<a position="experiment" class="add_table btn btn-primary">添加表格</a>
										</div>
									</fieldset>
									<fieldset>
										<legend>品种评价</legend>
										<div class="form-group">
											<label class="col-md-3 control-label">品种评价</label>
											<div class="col-md-9">
												<textarea class="form-control" name="variety_evaluation" placeholder="品种评价" rows="4"></textarea>
											</div>
										</div>
									</fieldset>
								</div>

							</div>
							<div class="btn_node">
								<a class="edit_leaf_node_btn btn btn-primary" href="javascript:void(0);">编辑</a>
								<a class="back_leaf_node_btn btn btn-warning disabled" href="javascript:void(0);">返回</a>
							</div>
						</div>
					</div>
					<!--添加子节点  -->
					<div role="tabpanel" class="tab-pane jarviswidget" id="addChildNode">
						<form id="add_node">
							<input type="hidden" name="pid" value="0" />
							<input type="hidden" name="leaf" value="0" />
							<div class="form-horizontal">
								<div class="row">
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点编号</label>
										<div class="col-md-6">
											<input class="form-control" name="node_code" placeholder="节点编号" type="text" />
										</div>
									</div>

									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">节点名称</label>
										<div class="col-md-6">
											<input class="form-control" name="node_name" placeholder="节点名称" type="text" />
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="col-md-6 control-label">排序号</label>
										<div class="col-md-6">
											<input class="form-control" name="order_seq" placeholder="排序号" type="number" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 control-label">描述</label>
									<div class="col-md-10">
										<textarea class="form-control" name="remark" placeholder="节点描述" rows="4"></textarea>
									</div>
								</div>
							</div>
							<div class="btn_node">
								<a class="submit_node_btn btn btn-primary" href="javascript:void(0);">提交</a>
								<a class="empty_node_btn btn btn-warning" href="javascript:void(0);">清空</a>
							</div>
							</from>
					</div>
					<!--添加叶节点  -->
					<div role="tabpanel" class="tab-pane jarviswidget " id="addLeafNode">
						<div id="add_leaf_node">
							<input type="hidden" name="pid" value="0" />
							<input type="hidden" name="leaf" value="1" />
							<div class="form-horizontal">
								<fieldset>
									<legend>基本信息</legend>
									<div class="row">
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">节点编号</label>
												<div class="col-md-6">
													<input class="form-control" name="node_code" placeholder="节点编号" type="text" />
												</div>
											</div>
										</div>
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">节点名称</label>
												<div class="col-md-6">
													<input class="form-control" name="node_name" placeholder="节点名称" type="text" />
												</div>
											</div>
										</div>
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">简称</label>
												<div class="col-md-6">
													<input class="form-control" name="abbreviation" placeholder="简称" type="text" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">品种</label>
												<div class="col-md-6">
													<select class="form-control" name="varieties" value="">
																<option value="">请选择</option>
																<option value="地方品种">地方品种</option>
																<option value="培育品种">培育品种</option>
																<option value="引入品种">引入品种</option>
															</select>
												</div>
											</div>
										</div>
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">生理体温</label>
												<div class="col-md-6">
													<input class="form-control" name="temperature" placeholder="生理体温" type="text" />
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">颜色</label>
												<div class="col-md-6">
													<input class="form-control" name="color" placeholder="颜色" type="text" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class=" col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">饲养方式</label>
												<div class="col-md-6">
													<input class="form-control" name="rearing_mode" placeholder="饲养方式" type="text" />
												</div>
											</div>
										</div>
										<div class=" col-md-8">
											<div class="form-group">
												<label class="col-md-3 control-label">使用范围</label>
												<div class="col-md-8">
													<label class="checkbox-inline">
																<input type="checkbox" name="sire" value="0">
																公畜 </label>
													<label class="checkbox-inline">
																<input type="checkbox" name="female" value="0">
																母畜 </label>
													<label class="checkbox-inline">
																<input type="checkbox" name="newborn" value="0">
																仔畜 </label>
													<label class="checkbox-inline">
																<input type="checkbox" name="domestic" value="0">
																商品畜 </label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">畜种</label>
												<div class="col-md-6">
													<input class="form-control" name="animals_type" placeholder="畜种" type="text" />
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="col-md-6 control-label">排序号</label>
												<div class="col-md-6">
													<input class="form-control" name="order_seq" placeholder="排序号" type="number" />
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">简介</label>
										<div class="col-md-10">
											<textarea class="form-control" name="introduction" placeholder="编写牲畜简介" rows="4"></textarea>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>一般情况</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">原产地、中心产区及分布</label>
										<div class="col-md-9">
											<textarea class="form-control" name="origin" placeholder="原产地、中心产区及分布" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">引入历史</label>
										<div class="col-md-9">
											<textarea class="form-control" name="introduce_history" placeholder="引入历史" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">产区自然生态条件</label>
										<div class="col-md-9">
											<textarea class="form-control" name="ecological" placeholder="产区自然生态条件" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="ecological_img"></div>
									</div>
									<div class="form-group">
										<a position="ecological_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">品种畜牧学特性</label>
										<div class="col-md-9">
											<textarea class="form-control" name="varietal_characteristic" placeholder="品种畜牧学特性" rows="4"></textarea>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>品种来源与变化</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">品种形成</label>
										<div class="col-md-9">
											<textarea class="form-control" name="cultivar_formation" placeholder="品种形成" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">群体数量</label>
										<div class="col-md-9">
											<textarea class="form-control" name="population_quantity" placeholder="群体数量" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">变化情况</label>
										<div class="col-md-9">
											<textarea class="form-control" name="change_material" placeholder="变化情况" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="population"></div>
									</div>
									<div class="form-group">
										<a position="population" class="add_table btn btn-primary">添加表格</a>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">育种素材和培育单位</label>
										<div class="col-md-9">
											<textarea class="form-control" name="breeding_material" placeholder="育种素材和培育单位" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">培育过程</label>
										<div class="col-md-9">
											<textarea class="form-control" name="breeding_process" placeholder="培育过程" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">培育方法</label>
										<div class="col-md-9">
											<textarea class="form-control" name="breeding_method" placeholder="培育方法" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="breeding_method_img"></div>
									</div>
									<div class="form-group">
										<a position="breeding_method_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
								</fieldset>
								<fieldset>
									<legend>品种牲征和性能</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">体型外貌特征</label>
										<div class="col-md-9">
											<textarea class="form-control" name="body_shape" placeholder="体型外貌特征" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="features"></div>
									</div>
									<div class="form-group">
										<div class="body_shape_img"></div>
									</div>
									<div class="form-group">
										<a position="body_shape_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
									<div class="form-group">
										<div class="col-md-3 col-sm-6">
											<div class="head_wrap">
												<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
												<input type="file" name="filename" id="sire" />
												<img src="" id="sire_img" />
											</div>
											<p class="pic_check"><span>上传(公)图片</span></p>
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="head_wrap">
												<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
												<input type="file" name="filename" id="female" />
												<img src="" id="female_img" />
											</div>
											<p class="pic_check"><span>上传(母)图片</span></p>
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="head_wrap">
												<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
												<input type="file" name="filename" id="newborn" />
												<img src="" id="newborn_img" />
											</div>
											<p class="pic_check"><span>上传(仔)图片</span></p>
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="head_wrap">
												<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
												<input type="file" name="filename" id="domestic" />
												<img src="" id="domestic_img" />
											</div>
											<p class="pic_check"><span>上传(商品)图片</span></p>
										</div>
									</div>
									<div class="form-group">
										<a position="features" class="add_table btn btn-primary">添加表格</a>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">生产性能</label>
										<div class="col-md-9">
											<textarea class="form-control" name="production_performance" placeholder="生产性能" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="production_performance_img"></div>
									</div>
									<div class="form-group">
										<a position="production_performance_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
									<div class="form-group">
										<div class="production"></div>
									</div>
									<div class="form-group">
										<a position="production" class="add_table btn btn-primary">添加表格</a>
									</div>
								</fieldset>
								<fieldset>
									<legend>推广利用与研究情况</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">推广利用与研究情况</label>
										<div class="col-md-9">
											<textarea class="form-control" name="popularization_utilization" placeholder="推广利用与研究情况" rows="4"></textarea>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>饲养管理</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">饲养管理</label>
										<div class="col-md-9">
											<textarea class="form-control" name="feeding_management" placeholder="饲养管理" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="feeding_management_img"></div>
									</div>
									<div class="form-group">
										<a position="feeding_management_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
								</fieldset>
								<fieldset>
									<legend>典型类群</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">典型类群</label>
										<div class="col-md-9">
											<textarea class="form-control" name="typical_type" placeholder="典型类群" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="typicaltaxa"></div>
									</div>
									<div class="form-group">
										<a position="typicaltaxa" class="add_table btn btn-primary">添加表格</a>
									</div>
								</fieldset>
								<fieldset>
									<legend>品种保护和研究利用</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">保种方式</label>
										<div class="col-md-9">
											<textarea class="form-control" name="species_conservation" placeholder="保种方式" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">选育利用</label>
										<div class="col-md-9">
											<textarea class="form-control" name="breeding_utilization" placeholder="选育利用" rows="4"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="breeding_utilization_img"></div>
									</div>
									<div class="form-group">
										<a position="breeding_utilization_img" class="add_photo btn btn-primary">添加图片</a>
									</div>
									<div class="form-group">
										<div class="experiment"></div>
									</div>
									<div class="form-group">
										<a position="experiment" class="add_table btn btn-primary">添加表格</a>
									</div>
								</fieldset>
								<fieldset>
									<legend>品种评价</legend>
									<div class="form-group">
										<label class="col-md-3 control-label">品种评价</label>
										<div class="col-md-9">
											<textarea class="form-control" name="variety_evaluation" placeholder="品种评价" rows="4"></textarea>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="btn_node">
								<a class="submit_leaf_node_btn btn btn-primary" href="javascript:void(0);">提交</a>
								<a class="empty_leaf_node_btn btn btn-warning" href="javascript:void(0);">清空</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</article>

<!-- 添加信息模态框 -->
<div id='prompt_model' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除节点 -->
<div id='mymodel' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">删除节点</h4>
			</div>
			<div class="modal-body">
				<p>确认删除节点：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerNode_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除表格 -->
<div id='my_remover_table_model' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">删除表格</h4>
			</div>
			<div class="modal-body">
				<p>确认删除表格：</p><span></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="removerTable_btn">删除</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 编辑表格 -->
<div id='table_model' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

		</div>
	</div>
</div>
<!-- 编辑表格模态框模板 -->
<script type="text/html" id="table_model_tmpl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">编辑表格</h4>
	</div>
	<div class="modal-body form-horizontal">
		<fieldset>
			<legend>表名</legend>
			<div class="form-group">
				<label class="col-md-2 control-label">表名称</label>
				<div class="col-md-10">
					<input class="form-control" name="title" placeholder="表名称" type="text" value="${title}" />
				</div>
			</div>
		</fieldset>
		{{each(i,th) ths}} {{if i==0}}
		<fieldset>
			<legend>一级表头</legend>
			{{each(j,val) th}}
			<div class="form-group">
				<label class="col-md-2 control-label">表头名称</label>
				<div class="col-md-2">
					<input class="form-control" name="name" placeholder="表头名称" type="text" value="${val.name}" />
				</div>
				<label class="col-md-2 control-label">合并行</label>
				<div class="col-md-1">
					<input class="form-control" name="rowspan" placeholder="合并行数" type="text" value="${val.rowspan}" />
				</div>
				<label class="col-md-2 control-label">合并列</label>
				<div class="col-md-1">
					<input class="form-control" name="colspan" placeholder="合并列数" type="text" value="${val.colspan}" />
				</div>
				<div class="col-md-2">
					<a class="remover_row btn btn-default">删除列名</a>
				</div>
			</div>
			{{/each}}
			<div class="modal-footer">
				<a class="add_row btn btn-primary">添加列名</a>
			</div>
		</fieldset>
		{{/if}} {{if i==1}}
		<fieldset>
			<legend>二级表头</legend>
			{{each(j,val) th}}
			<div class="form-group">
				<label class="col-md-2 control-label">表头名称</label>
				<div class="col-md-3">
					<input class="form-control" name="name" placeholder="节点编号" type="text" value="${val.name}" />
				</div>
				<div class="col-md-2">
					<a class="remover_row btn btn-default">删除列名</a>
				</div>
			</div>
			{{/each}}
			<div class="modal-footer">
				<a class="add_row btn btn-primary">添加列名</a>
			</div>
		</fieldset>
		{{/if}} {{/each}}
		<fieldset>
			<legend>数据行</legend>
			{{each(i,td) tds}}
			<div class="form-group">
				<label class="col-md-2 control-label">行数据</label>
				<div class="col-md-8">
					<input class="form-control" name="td" placeholder="行数据：数据以“,”(英文逗号)分隔" type="text" value="${td}" />
				</div>
				<div class="col-md-2">
					<a class="remover_row btn btn-default">删除数据</a>
				</div>
			</div>
			{{/each}}
			<div class="modal-footer">
				<a class="add_row btn btn-primary">添加数据</a>
			</div>
		</fieldset>
		<fieldset>
			<legend>备注</legend>
			<div class="form-group">
				<label class="col-md-2 control-label">备注</label>
				<div class="col-md-10">
					<input class="form-control" name="notes" placeholder="请填写备注" type="text" value="${notes}" />
				</div>
			</div>
		</fieldset>
	</div>
	<div class="modal-footer">
		<a class="save_table btn btn-primary" table-idx="${idx}" position="${position}">保存</a>
		<a class="btn btn-default" data-dismiss="modal">取消</a>
	</div>
</script>
<!-- 图片模板 -->
<script type="text/html" id="photo_tmpl">
	<div photo_idx="${idx}" class="col-md-3 col-sm-6">
		<div class="head_wrap">
			<i class="del_img glyphicon glyphicon-remove" title="删除"></i>
			<input type="file" name="filename" id="${idx}" />
			<img src="${imgSrc}" id="${idx}_img" />
		</div>
		<div class="clearfix">
			<a class="remover_photo btn btn-default" style="width:100%;margin: 0;">删除</a>
		</div>
	</div>
</script>
<!-- 表格模板 -->
<script type="text/html" id="tabel_tmpl">
	<div table-idx="${idx}">
		<p>${title}</p>
		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if notes}}
		<span>注：${notes}</span> {{/if}}
		<div class="clearfix">
			<a class="remover_table btn btn-default">删除</a>
			<a class="update_table btn btn-primary">修改表格</a>
			<a class="up_table btn btn-primary">上移</a>
			<a class="down_table btn btn-primary">下移</a>
		</div>
	</div>
</script>
<!-- 展示页面模板 -->
<script type="text/html" id="leaf_content_tmpl">
	<div class="speciesName">
		<h2>${node_name}</h2>
	</div>
	{{each(i,user) introduction}}
	<p>${user}</p>
	{{/each}} {{if origin || ecological || varietal_characteristic || introduce_history}}
	<div class="mainTitle">
		一般情况
	</div>
	{{if origin}}
	<div class="secondTitle">
		原产地、中心产区及分布
	</div>
	{{each(i,user) origin}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if introduce_history}}
	<div class="secondTitle">
		引入历史
	</div>
	{{each(i,user) introduce_history}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if ecological}}
	<div class="secondTitle">
		产区自然生态条件
	</div>
	{{each(i,user) ecological}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if img_json.ecological_img}}
	<ul class="row">
		{{each(i,value) img_json.ecological_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}} {{if varietal_characteristic}}
	<div class="secondTitle">
		品种畜牧学特性
	</div>
	{{each(i,user) varietal_characteristic}}
	<p>${user}</p>
	{{/each}} {{/if}} {{/if}} {{if cultivar_formation || population_quantity ||change_material || breeding_material || breeding_method
	|| breeding_process}}
	<div class="mainTitle">
		品种来源与变化
	</div>
	{{if cultivar_formation}}
	<div class="secondTitle">
		品种形成
	</div>
	{{each(i,user) cultivar_formation}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if population_quantity}}
	<div class="secondTitle">
		群体数量
	</div>
	{{each(i,user) population_quantity}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if change_material}}
	<div class="secondTitle">
		变化情况
	</div>
	{{each(i,user) change_material}}
	<p>${user}</p>
	{{/each}} {{/if}} {{each(i,value) table_json.population}}
	<div table-idx="${idx}">
		<p>${value.title}</p>
		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) value.ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) value.tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if value.notes}}
		<span>注：${value.notes}</span> {{/if}}
	</div>
	{{/each}} {{if breeding_material}}
	<div class="secondTitle">
		育种素材和培育单位
	</div>
	{{each(i,user) breeding_material}}
	<p>${user}</p>
	{{/each}} {{/if}}{{if breeding_process}}
	<div class="secondTitle">
		培育过程
	</div>
	{{each(i,user) breeding_process}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if breeding_method}}
	<div class="secondTitle">
		培育方法
	</div>
	{{each(i,user) breeding_method}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if img_json.breeding_method_img}}
	<ul class="row">
		{{each(i,value) img_json.breeding_method_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}} {{/if}} {{if body_shape || production_performance}}
	<div class="mainTitle">
		品种特征和性能
	</div>
	{{if body_shape}}
	<div class="secondTitle">
		体型外貌特征
	</div>
	<div>
		{{each(i,user) body_shape}}
		<p>${user}</p>
		{{/each}}
	</div>
	{{/if}} {{if img_json.body_shape_img}}
	<ul class="row">
		{{each(i,value) img_json.body_shape_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}}
	<ul class="row">
		{{if sire_img}}
		<li class="img_div clearfix">
			<img src="${sire_img}" alt="${node_name + '公'+animals_type}" title="${node_name + '公'+animals_type}">
			<p style="display:block; text-align:center;">${node_name + '公'+ animals_type}</p>
		</li>
		{{/if}} {{if female_img}}
		<li class="img_div clearfix">
			<img src="${female_img}" alt="${node_name + '母'+animals_type}" title="${node_name + '母'+animals_type}">
			<p style="display:block; text-align:center;">${node_name + '母'+animals_type}</p>
		</li>
		{{/if}} {{if newborn_img}}
		<li class="img_div clearfix">
			<img src="${newborn_img}" alt="${node_name + '仔'+animals_type}" title="${node_name + '仔'+animals_type}">
			<p style="display:block; text-align:center;">${node_name + '仔'+animals_type}</p>
		</li>
		{{/if}} {{if domestic_img}}
		<li class="img_div clearfix">
			<img src="${domestic_img}" alt="${node_name + '商品'+animals_type}" title="${node_name + '商品'+animals_type}">
			<p style="display:block; text-align:center;">${node_name + '商品'+animals_type}</p>
		</li>
		{{/if}}
	</ul>
	{{each(i,value) table_json.features}}
	<div table-idx="${idx}">
		<p>${value.title}</p>
		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) value.ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) value.tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if value.notes}}
		<span>注：${value.notes}</span> {{/if}}
	</div>
	{{/each}} {{if production_performance}}
	<div class="secondTitle">
		生产性能
	</div>
	{{each(i,user) production_performance}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if img_json.production_performance_img}}
	<ul class="row">
		{{each(i,value) img_json.production_performance_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}} {{each(i,value) table_json.production}}
	<div table-idx="${idx}">
		<p>${value.title}</p>
		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) value.ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) value.tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if value.notes}}
		<span>注：${value.notes}</span> {{/if}}
	</div>
	{{/each}} {{/if}} {{if popularization_utilization}}
	<div class="mainTitle">
		推广利用与研究情况
	</div>
	{{each(i,user) popularization_utilization}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if feeding_management}}
	<div class="mainTitle">
		饲养管理
	</div>
	{{each(i,user) feeding_management}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if img_json.feeding_management_img}}
	<ul class="row">
		{{each(i,value) img_json.feeding_management_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}} {{if typical_type}}
	<div class="mainTitle">
		典型类群
	</div>
	{{each(i,user) typical_type}}
	<p>${user}</p>
	{{/each}} {{each(i,value) table_json.typicaltaxa}}
	<div table-idx="${idx}">
		<p>${value.title}</p>

		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) value.ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) value.tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if value.notes}}
		<span>注：${value.notes}</span> {{/if}}
	</div>
	{{/each}} {{/if}} {{if species_conservation || breeding_utilization}}
	<div class="mainTitle">
		品种保护和研究利用
	</div>
	{{if species_conservation}}
	<div class="secondTitle">
		保种方式
	</div>
	{{each(i,user) species_conservation}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if breeding_utilization}}
	<div class="secondTitle">
		选育利用
	</div>
	{{each(i,user) breeding_utilization}}
	<p>${user}</p>
	{{/each}} {{/if}} {{if img_json.breeding_utilization_img}}
	<ul class="row">
		{{each(i,value) img_json.breeding_utilization_img}}
		<li class="img_div clearfix">
			<img src="${imgSrc}">
		</li>
		{{/each}}
	</ul>
	{{/if}} {{each(i,value) table_json.experiment}}
	<div table-idx="${idx}">
		<p>${value.title}</p>
		<div style="overflow: auto;">
			<table class="table table-hover">
				<thead>
					{{each(i,th) value.ths}}
					<tr>
						{{each(j,val) th}}
						<th rowspan="${val.rowspan}" colspan="${val.colspan}">${val.name}</th>
						{{/each}}
					</tr>
					{{/each}}
				</thead>
				<tbody>
					{{each(i,td) value.tds}}
					<tr>
						{{each(j,val) td}}
						<td>${val}</td>
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{if value.notes}}
		<span>注：${value.notes}</span> {{/if}}
	</div>
	{{/each}} {{/if}} {{if variety_evaluation}}
	<div class="mainTitle">
		品种评价
	</div>
	{{each(i,user) variety_evaluation}}
	<p>${user}</p>
	{{/each}} {{/if}}
</script>
<script src="js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript">
	var tableJson = {};
	var add_table = {
		"idx": "",
		"title": "",
		"ths": [
			[
				{ "name": "", "rowspan": "", "colspan": "" }
			],
			[
				{ "name": "" }
			]
		],
		"tds": [
			[]
		]

	}
	var imgJson = {};
	var add_photo = {};
	/* 去除数组中的null */
	function ClearNullArr(arr) {
		for (var i = 0, len = arr.length; i < len; i++) {
			if (!arr[i] || arr[i] == '' || arr[i] === undefined) {
				arr.splice(i, 1);
				len--;
				i--;
			}
		}
		return arr;
	}

	function presentTable(tableJson) {
		for (var key in tableJson) {
			$('.' + key).html($('#tabel_tmpl').tmpl(tableJson[key]));
		}
	}
	function presentPhoto(imgJson) {
		for (var key in imgJson) {
			$('#add_leaf_node .' + key).html($('#photo_tmpl').tmpl(imgJson[key]));
		}
		$('img').each(function (i, elm) {
			if ($(elm).attr('src') == '') {
				$(elm).hide();
			} else {
				$(elm).show();
			}
		})

	}
	function presentPhotoUpdate(imgJson) {
		for (var key in imgJson) {
			$('#update_leaf_node .' + key).html($('#photo_tmpl').tmpl(imgJson[key]));
		}
		$('img').each(function (i, elm) {
			if ($(elm).attr('src') == '') {
				$(elm).hide();
			} else {
				$(elm).show();
			}
		})

	}
	$('[type="checkbox"]').on('change', function () {
		if ($(this).is(':checked')) {
			$(this).val('1');
		} else {
			$(this).val('0');
		}
	})
	function swapItems(arr, index1, index2) {
		arr[index1] = arr.splice(index2, 1, arr[index1])[0];
		return arr;
	}
	__RUN_ACT('node/query', {}, function (data) {
		loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
			LoadTree(data);
		});
	});

	/*json转树形结构*/
	function transData(a, idStr, pidStr, chindrenStr) {
		var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
		for (; i < len; i++) {
			hash[a[i][id]] = a[i];
		}
		for (; j < len; j++) {
			var aVal = a[j], hashVP = hash[aVal[pid]];
			if (hashVP) {
				!hashVP[children] && (hashVP[children] = []);
				hashVP[children].push(aVal);
			} else {
				r.push(aVal);
			}
		}
		return r;
	}
	/*编辑树*/
	function widget(jsonDataTree) {
		jsonDataTree.forEach(function (element, index) {
			if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					if (element.leaf) {
						fa = "fa fa-lg fa-leaf";
					} else {
						fa = "fa fa-lg fa-pencil-square-o";
					}
				}
				var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.node_name + '</b></span></li>'
				$("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
			} else {
				var fa = "fa fa-lg fa-plus-circle";
				if (!element.chindren) {
					if (element.leaf) {
						fa = "fa fa-lg fa-leaf";
					} else {
						fa = "fa fa-lg fa-pencil-square-o";
					}
				}
				var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.node_name + '</b></span></li></ul>'
				$("[widget_id='" + element.pid + "']").parent().append(html);
			}
			if (element.chindren) {
				widget(element.chindren);
			}
		});
	}

	function LoadTree(jsonData) {
		widget(transData(jsonData, 'idx', 'pid', 'chindren'));
		tree();
		$('#widget_content [widget_id]').on('click', function () {
			$('#widget_content [widget_id]').removeClass('spanActive');
			$(this).addClass('spanActive');
			$('#wid-id-2>header>h2')[0].innerHTML = '业务词典:所在节点(' + $(this)[0].innerText + ')';
			$('.edit_leaf_node_btn').html('编辑');
			$('.edit_node_btn').html('编辑');
			$('[name="idx"]').val($(this).attr('widget_id'));
			$('[name="pid"]').val($(this).attr('widget_id'));
			__RUN_ACT('node/queryByIdx', { "idx": $(this).attr('widget_id') }, function (data) {

				if (data[0]) {
					if (data[0].leaf == 0) {
						$('#query_node').show();
						$('#query_leaf_node').hide();
						$('#leaf_content').hide();
						$('#update_leaf_node').hide();
						$('#add_node *').removeAttr('disabled');
						$('#add_node a').removeClass('disabled');
						$('#add_leaf_node *').removeAttr('disabled');
						$('#add_leaf_node a').removeClass('disabled');
						$('.features').html('');
						$('.production').html('');
						$('.experiment').html('');
						__SET_FORM_VALUES('query_node', data[0]);
					} else if (data[0].leaf == 1) {
						var obj = {};
						$('#query_node').hide();
						$('#query_leaf_node').show();
						$('#leaf_content').show();
						$('#update_leaf_node').hide();
						$('#add_node *').attr('disabled', 'disabled');
						$('#add_node a').addClass('disabled');
						$('#add_leaf_node *').attr('disabled', 'disabled');
						$('#add_leaf_node a').addClass('disabled');
						__SET_FORM_VALUES('update_leaf_node', data[0]);
						$('#update_leaf_node [type="checkbox"]').each(function (i, elm) {
							if (data[0][$(elm).attr('name')] == 1) {
								$(elm).attr("checked", true);
							}
						})
						$('#updata_sire_img').attr('src', data[0].sire_img);
						$('#updata_female_img').attr('src', data[0].female_img);
						$('#updata_newborn_img').attr('src', data[0].newborn_img);
						$('#updata_domestic_img').attr('src', data[0].domestic_img);

						$('#update_leaf_node img').each(function (i, elm) {
							if ($(elm).attr('src') == '') {
								$(elm).hide();
							} else {
								$(elm).show();
							}
						})
						for (var key in data[0]) {
							if (data[0][key]) {
								if ($.type(data[0][key]) == 'string') {
									obj[key] = data[0][key].split('\n');
								} else {
									obj[key] = data[0][key];
								}
							} else {
								obj[key] = data[0][key];
							}
						}
						obj.table_json = JSON.parse(obj.table_json[0]);
						if (obj.img_json) {
							obj.img_json = JSON.parse(obj.img_json[0]);
						} else {
							obj.img_json = [];
						}
						tableJson = obj.table_json;
						imgJson = obj.img_json;
						presentTable(tableJson);
						presentPhotoUpdate(imgJson);
						$('#leaf_content').html($('#leaf_content_tmpl').tmpl(obj));
					}
				} else {
					$('#query_node').show();
					$('#query_leaf_node').hide();
					$('#leaf_content').hide();
					$('#update_leaf_node').hide();
					$('#add_node *').removeAttr('disabled');
					$('#add_node a').removeClass('disabled');
					$('#add_leaf_node *').removeAttr('disabled');
					$('#add_leaf_node a').removeClass('disabled');
					$('.features').html('');
					$('.production').html('');
					$('.experiment').html('');
					$('#query_node input').val('');
					$('#query_node textarea').val('');
				}
			});
			__RUN_ACT('node/queryByPid', { "pid": $(this).attr('widget_id') }, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
				// $("#jqgrid").jqGrid('setGridParam', {
				// datatype : 'local',
				// data : data
				//}).trigger("reloadGrid");
			});
		});
	}

	//表格数据
	pageSetUp();
	var pagefunction = function () {
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", run_jqgrid_function);

		function run_jqgrid_function(jqgrid_data) {
			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['', '节点编码', '节点名称', '节点描述', '排序号', '操作'],
				colModel: [
					{ name: 'idx', index: 'idx', align: "center", hidden: true, sortable: false },
					{ name: 'node_code', index: 'node_code', align: "center", width: '100px', sortable: false },
					{ name: 'node_name', index: 'node_name', align: "center", sortable: false },
					{ name: 'remark', index: 'remark', align: "center", sortable: false },
					{ name: 'order_seq', index: 'order_seq', align: "center", sortable: false },
					{ name: 'act', index: 'act', align: "center", width: '60px', sortable: false }
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
						//be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('"+cl+"');\"><i class='fa fa-pencil'></i></button>"; 
						//se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('"+cl+"');\"><i class='fa fa-save'></i></button>";
						ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"removerNode('" + cl + "');\"><i class='fa fa-times'></i>删除</button>";
						//ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>"; 
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery("#jqgrid").jqGrid('setRowData', ids[i], { act: ca });
					}
				},
				editurl: "dummy.html",
				caption: false,
				multiselect: false,
				autowidth: true,

			});


			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");



			// update buttons

			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#query_node").width());
			})

			$.extend($.fn.jqGrid, {
				setData: function (data) {
					this[0].p.data = data;
					return true;
				}
			});
		} // end function



	}

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

	/*编辑节点按钮*/
	$('.edit_node_btn').on('click', function () {
		if ($(this).html() == "编辑") {
			$(this).html("修改");
			$('#query_node input').removeAttr('disabled');
			$('#query_node textarea').removeAttr('disabled');
			$('.back_node_btn').removeClass('disabled');

		} else if ($(this).html() == "修改") {
			$(this).html("编辑");
			$('#query_node input').attr('disabled', 'disabled');
			$('#query_node textarea').attr('disabled', 'disabled');
			$('.back_node_btn').addClass('disabled');
			var data = __GET_FROM_VALUES('query_node');
			$('[widget_id="' + data.idx + '"] b').text(data.node_name);
			var step = [
				//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
				// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
				{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_node', RCODE: 'ENTITY', DATA: data }
			];
			__RUN_STEP(step, function (data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('节点编辑成功。');
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().attr('order_seq', data['ENTITY'].order_seq);
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function (element, index) {
					if ($(this).attr('order_seq') > data['ENTITY'].order_seq) {
						$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
						return false;
					}
				});


			});
		}
	})

	/*返回节点按钮*/
	$('.back_node_btn').on('click', function () {
		$('.edit_node_btn').html("编辑");
		$('#query_node input').attr('disabled', 'disabled');
		$('#query_node textarea').attr('disabled', 'disabled');
		$('.back_node_btn').addClass('disabled');
		__RUN_ACT('node/queryByIdx', { "idx": $('#query_node [name="idx"]').val() }, function (data) {
			if (data[0]) {
				$('[name="idx"]').val(data[0].idx);
				__SET_FORM_VALUES('query_node', data[0]);
			}
		});
	})
	/*叶节点编辑*/
	$('.edit_leaf_node_btn').on('click', function () {
		if ($(this).html() == "编辑") {
			$(this).html("修改");
			$('#leaf_content').hide();
			$('#update_leaf_node').show();
			$('.back_leaf_node_btn').removeClass('disabled');
		} else if ($(this).html() == "修改") {
			$(this).html("编辑");
			$('#leaf_content').show();
			$('#update_leaf_node').hide();
			$('.back_leaf_node_btn').addClass('disabled');
			var data = __GET_FROM_VALUES('update_leaf_node');
			$('[widget_id="' + data.idx + '"] b').text(data.node_name);
			data.table_json = JSON.stringify(tableJson);
			data.img_json = JSON.stringify(imgJson);
			data.sire_img = $('#updata_sire_img').attr('src');
			data.female_img = $('#updata_female_img').attr('src');
			data.newborn_img = $('#updata_newborn_img').attr('src');
			data.domestic_img = $('#updata_domestic_img').attr('src');
			var step = [
				//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
				// {JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
				{ JSCODE: 'SAVE', CODE: 'UPDATE', CLZ: 't_node', RCODE: 'ENTITY', DATA: data }
			];
			__RUN_STEP(step, function (data) {
				$('#prompt_model').modal('show');
				$('#prompt_model .modal-body').html('叶节点编辑成功。');
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().attr('order_seq', data['ENTITY'].order_seq);
				$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function (element, index) {
					if ($(this).attr('order_seq') > data['ENTITY'].order_seq) {
						$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
						return false;
					}
				});
				var obj = {};
				for (var key in data['ENTITY']) {
					if (data['ENTITY'][key]) {
						if ($.type(data['ENTITY'][key]) == 'string') {
							obj[key] = data['ENTITY'][key].split('\n');
						} else {
							obj[key] = data['ENTITY'][key];
						}
					} else {
						obj[key] = data['ENTITY'][key];
					}
				}
				obj.table_json = JSON.parse(obj.table_json[0]);
				if (obj.img_json) {
					obj.img_json = JSON.parse(obj.img_json[0]);
				} else {
					obj.img_json = [];
				}
				tableJson = obj.table_json;
				imgJson = obj.img_json;
				presentTable(tableJson);
				presentPhotoUpdate(imgJson);
				$('#leaf_content').html($('#leaf_content_tmpl').tmpl(obj));

			});
		}
	})
	/*叶节点返回*/
	$('.back_leaf_node_btn').on('click', function () {
		$('.edit_leaf_node_btn').html("编辑");
		$('#leaf_content').show();
		$('#update_leaf_node').hide();
		$('.back_leaf_node_btn').addClass('disabled');

	});
	/*子节点添加*/
	$('.submit_node_btn').on('click', function () {
		var bootstrapValidator = $("#add_node").data('bootstrapValidator');
		bootstrapValidator.validate();
		if (!bootstrapValidator.isValid()) {
			return;
		}
		var data = __GET_FROM_VALUES('add_node');
		var step = [
			//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_node', RCODE: 'ENTITY', DATA: data }
			//{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_node',RCODE:'ENTITY',DATA:data}
		];
		__RUN_STEP(step, function (data) {
			$('#prompt_model').modal('show');
			$('#prompt_model .modal-body').html('节点添加成功。');
			if ($('[widget_id="' + data['ENTITY'].pid + '"]').parent().find('ul').length) {
				var html = '<li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].node_name + '</b></span></li>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().find('ul').first().append(html);
			} else {
				$("[widget_id='" + data['ENTITY'].pid + "']").find('i').removeClass('fa-pencil-square-o').addClass('fa-plus-circle icon-minus-sign');
				var html = '<ul><li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-pencil-square-o"></i><b>' + data['ENTITY'].node_name + '</b></span></li></ul>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().append(html);
			}
			$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function (element, index) {
				if ($(this).attr('order_seq') > data['ENTITY'].order_seq) {
					$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
					return false;
				}
			});
			tree();
			$('#widget_content [widget_id]').on('click', function () {
				$('#widget_content [widget_id]').removeClass('spanActive');
				$(this).addClass('spanActive');
				$('#wid-id-2>header>h2')[0].innerHTML = '业务词典:所在节点(' + $(this)[0].innerText + ')';
				$('.edit_leaf_node_btn').html('编辑');
				$('.edit_node_btn').html('编辑');
				$('[name="idx"]').val($(this).attr('widget_id'));
				$('[name="pid"]').val($(this).attr('widget_id'));
				__RUN_ACT('node/queryByIdx', { "idx": $(this).attr('widget_id') }, function (data) {

					if (data[0]) {
						if (data[0].leaf == 0) {
							$('#query_node').show();
							$('#query_leaf_node').hide();
							$('#leaf_content').hide();
							$('#update_leaf_node').hide();
							$('#add_node *').removeAttr('disabled');
							$('#add_node a').removeClass('disabled');
							$('#add_leaf_node *').removeAttr('disabled');
							$('#add_leaf_node a').removeClass('disabled');
							$('.features').html('');
							$('.production').html('');
							$('.experiment').html('');
							__SET_FORM_VALUES('query_node', data[0]);
						} else if (data[0].leaf == 1) {
							var obj = {};
							$('#query_node').hide();
							$('#query_leaf_node').show();
							$('#leaf_content').show();
							$('#update_leaf_node').hide();
							$('#add_node *').attr('disabled', 'disabled');
							$('#add_node a').addClass('disabled');
							$('#add_leaf_node *').attr('disabled', 'disabled');
							$('#add_leaf_node a').addClass('disabled');
							__SET_FORM_VALUES('update_leaf_node', data[0]);
							$('#update_leaf_node [type="checkbox"]').each(function (i, elm) {
								if (data[0][$(elm).attr('name')] == 1) {
									$(elm).attr("checked", true);
								}
							})
							$('#updata_sire_img').attr('src', data[0].sire_img);
							$('#updata_female_img').attr('src', data[0].female_img);
							$('#updata_newborn_img').attr('src', data[0].newborn_img);
							$('#updata_domestic_img').attr('src', data[0].domestic_img);

							$('#update_leaf_node img').each(function (i, elm) {
								if ($(elm).attr('src') == '') {
									$(elm).hide();
								} else {
									$(elm).show();
								}
							})
							for (var key in data[0]) {
								if (data[0][key]) {
									if ($.type(data[0][key]) == 'string') {
										obj[key] = data[0][key].split('\n');
									} else {
										obj[key] = data[0][key];
									}
								} else {
									obj[key] = data[0][key];
								}
							}
							obj.table_json = JSON.parse(obj.table_json[0]);
							if (obj.img_json) {
								obj.img_json = JSON.parse(obj.img_json[0]);
							} else {
								obj.img_json = [];
							}
							tableJson = obj.table_json;
							imgJson = obj.img_json;
							presentTable(tableJson);
							presentPhotoUpdate(imgJson);
							$('#leaf_content').html($('#leaf_content_tmpl').tmpl(obj));
						}
					} else {
						$('#query_node').show();
						$('#query_leaf_node').hide();
						$('#leaf_content').hide();
						$('#update_leaf_node').hide();
						$('#add_node *').removeAttr('disabled');
						$('#add_node a').removeClass('disabled');
						$('#add_leaf_node *').removeAttr('disabled');
						$('#add_leaf_node a').removeClass('disabled');
						$('.features').html('');
						$('.production').html('');
						$('.experiment').html('');
						$('#query_node input').val('');
						$('#query_node textarea').val('');
					}
				});
				__RUN_ACT('node/queryByPid', { "pid": $(this).attr('widget_id') }, function (data) {
					$("#jqgrid").jqGrid('setData', data);
					$("#jqgrid").trigger("reloadGrid");
					// $("#jqgrid").jqGrid('setGridParam', {
					// datatype : 'local',
					// data : data
					//}).trigger("reloadGrid");
				});
			});
		})
	});
	/*子节点清空*/
	$('.empty_node_btn').on('click', function () {
		$('#add_node input').not('[type="hidden"]').val('');
		$('#add_node textarea').val('');
		$("#add_node").data("bootstrapValidator").resetForm();
	});
	/* 图片上传 */
	$('.tab-content').on('change', '[name="filename"]', function () {
		if ($(this).val()) {
			var uploadId = $(this).attr('id');
			var imgId = $(this).next().attr('id');
			__UPLOAD_FILE(uploadId, function (d) {
				$('#' + imgId).attr('src', '/file/' + d.idx + '/view');
				if ($('#' + uploadId).parent().parent().attr('photo_idx')) {
					var classKey = $('#' + uploadId).parent().parent().parent().attr('class')
					for (var key in imgJson[classKey]) {
						if (imgJson[classKey][key].idx == uploadId) {
							imgJson[classKey][key].imgSrc = '/file/' + d.idx + '/view';
						}
					}
				}
				console.log(imgJson);
			});
			$("#" + imgId).show();
		}
	});
	$('.del_img').on('click', function () {
		$(this).siblings('img').attr('src', '').hide();
	})
	/* 叶节点添加图片 */
	$('.add_photo').on('click', function () {
		add_photo = {};
		var position = $(this).attr('position');
		if (imgJson[position] && imgJson[position].length != 0) {
			add_photo.idx = Math.random().toString(16).substring(2);
		} else {
			imgJson[position] = [];
			add_photo.idx = Math.random().toString(16).substring(2);
		}
		imgJson[position].push(add_photo);
		if ($(this).parent().parent().parent().parent().attr('id') == 'add_leaf_node') {
			presentPhoto(imgJson);
		}
		if ($(this).parent().parent().parent().parent().attr('id') == 'update_leaf_node') {
			presentPhotoUpdate(imgJson);
		}
	})
	/* 叶节点图片删除 */
	$('.tab-content').on('click', '.remover_photo', function () {
		var classKey = $(this).parent().parent().parent().attr('class');
		var jsonKey = $(this).parent().parent().attr('photo_idx');
		for (var key in imgJson[classKey]) {
			if (imgJson[classKey][key].idx == jsonKey) {
				imgJson[classKey].splice(key, 1);
			}
		}
		$(this).parent().parent().remove();
	});
	/* 叶节点添加表格 */
	$('.add_table').on('click', function () {

		var position = $(this).attr('position');
		if (tableJson[position] && tableJson[position].length != 0) {
			add_table.idx = Math.floor(Math.random() * Math.pow(10, 7) * 9 + Math.pow(10, 7));
		} else {
			add_table.idx = Math.floor(Math.random() * Math.pow(10, 7) * 9 + Math.pow(10, 7));
			tableJson[position] = [];
		}
		add_table.position = position;
		$('#table_model .modal-content').html($('#table_model_tmpl').tmpl(add_table));
		$('#table_model').modal('show');
	})
	/* 叶节点修改表格 */
	$('.tab-content').on('click', '.update_table', function () {
		var that = this;
		var update_table = {};
		var position = $(that).parent().parent().parent().attr('class');
		tableJson[position].forEach(function (value, i) {
			if (value.idx == $(that).parent().parent().attr('table-idx')) {
				update_table = value;
			}
		})
		if (update_table.ths.length < 2) {
			update_table.ths.push(['']);
		}
		update_table.position = position;
		$('#table_model .modal-content').html($('#table_model_tmpl').tmpl(update_table));
		$('#table_model').modal('show');
	})
	/* 表格位置移动 */
	$('.tab-content').on('click', '.up_table', function () {
		var that = this;
		var table_index;
		var position = $(that).parent().parent().parent().attr('class');
		tableJson[position].forEach(function (value, i) {
			if (value.idx == $(that).parent().parent().attr('table-idx')) {
				table_index = i;
			}
		})
		if (table_index == 0) {
			return;
		}
		swapItems(tableJson[position], table_index, table_index - 1);
		presentTable(tableJson);
	})
	$('.tab-content').on('click', '.down_table', function () {
		var that = this;
		var table_index;
		var position = $(that).parent().parent().parent().attr('class');
		tableJson[position].forEach(function (value, i) {
			if (value.idx == $(that).parent().parent().attr('table-idx')) {
				table_index = i;
			}
		})
		if (table_index == 0) {
			return;
		}
		swapItems(tableJson[position], table_index, table_index + 1);
		presentTable(tableJson);
	})
	/* 叶节点删除表格 */
	$('.tab-content').on('click', '.remover_table', function () {
		var that = this;
		var position = $(that).parent().parent().parent().attr('class');
		tableJson[position].forEach(function (value, i) {
			if (value.idx == $(that).parent().parent().attr('table-idx')) {
				$('.modal-body span').html(value.title);
				$('#removerTable_btn').attr('idx', value.idx).attr('position', position);
			}
		})
		$('#my_remover_table_model').modal('show');
	})
	$('#removerTable_btn').on('click', function () {
		var position = $(this).attr('position');
		var idx = $(this).attr('idx');
		tableJson[position].forEach(function (value, i) {
			if (value.idx == idx) {
				tableJson[position].splice(i, 1);
			}
		});
		presentTable(tableJson);
		$('#my_remover_table_model').modal('hide');
	});
	/* 叶节点表格模态框动作 */
	$('.modal-content').on('click', '.add_row', function () {
		$(this).parent().before($(this).parent().prev().clone(true));
	});
	$('.modal-content').on('click', '.remover_row', function () {
		if ($(this).parent().parent().parent().find('.form-group').length > 1) {
			$(this).parent().parent().remove();
		}
	});
	$('.modal-content').on('click', '.save_table', function () {
		var data = {};
		var eq = -1;
		data.idx = $(this).attr('table-idx');
		data.title = '';
		data.ths = [
			[],
			[]
		];
		data.tds = [];
		$('.modal-content').find('fieldset').each(function (index, element) {
			if (index == 0) {
				data.title = $(element).find('input').val()
			} else if (index == 1) {
				$(element).find('.form-group').each(function (i, val) {
					var obj = {};
					$(val).find('input').each(function (j, elm) {
						var v = $(elm).val();
						obj[$(elm).attr('name')] = v;
					})
					data.ths[0].push(obj)
				});
			} else if (index == 2) {
				$(element).find('.form-group').each(function (i, val) {
					var obj = {};
					var isObj = false;
					$(val).find('input').each(function (j, elm) {
						var v = $(elm).val();
						if (v != '') {
							obj[$(elm).attr('name')] = v;
						}
					})
					for (var k in obj) {
						isObj = true;
					}
					if (isObj) {
						data.ths[1].push(obj);
						isObj = false;
					}
				});
				if (data.ths[1].length == 0) {
					data.ths.splice(1, 1);
				}
			} else if (index == 3) {
				$(element).find('input').each(function (i, val) {
					var v = $(val).val();
					data.tds.push(v.split(','));
				});
			} else if (index == 4) {
				data.notes = $(element).find('input').val()
			}
		});
		debugger;
		tableJson[$(this).attr('position')].forEach(function (value, i) {
			if (value.idx == data.idx) {
				eq = i;
			}
		});
		if (eq != -1) {
			tableJson[$(this).attr('position')][eq] = data;
		} else {
			tableJson[$(this).attr('position')].push(data);
		}
		presentTable(tableJson);
		$('#table_model').modal('hide');
	});
	/*叶子节点添加*/
	$('.submit_leaf_node_btn').on('click', function () {
		var bootstrapValidator = $("#add_leaf_node").data('bootstrapValidator');
		bootstrapValidator.validate();
		if (!bootstrapValidator.isValid()) {
			return;
		}
		var data = __GET_FROM_VALUES('add_leaf_node');
		for (var i in data.table_json) {
			data.table_json[i] = ClearNullArr(data.table_json[i]);
		}
		data.table_json = JSON.stringify(tableJson);
		data.img_json = JSON.stringify(imgJson);
		data.sire_img = $('#sire_img').attr('src');
		data.female_img = $('#female_img').attr('src');
		data.newborn_img = $('#newborn_img').attr('src');
		data.domestic_img = $('#domestic_img').attr('src');

		var step = [
			//{JSCODE:'LOAD',CODE:'LD_READER',RCODE:'LIST',DATA:{}},
			{ JSCODE: 'SAVE', CODE: 'ADD', CLZ: 't_node', RCODE: 'ENTITY', DATA: data }
			//{JSCODE:'SAVE',CODE:'UPDATE',CLZ:'t_node',RCODE:'ENTITY',DATA:data}
		];
		__RUN_STEP(step, function (data) {
			$('#prompt_model').modal('show');
			$('#prompt_model .modal-body').html('叶节点添加成功。');
			if ($('[widget_id="' + data['ENTITY'].pid + '"]').parent().find('ul').length) {
				var html = '<li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-leaf"></i><b>' + data['ENTITY'].node_name + '</b></span></li>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().find('ul').first().append(html);
			} else {
				$("[widget_id='" + data['ENTITY'].pid + "']").find('i').removeClass('fa-pencil-square-o').addClass('fa-plus-circle icon-minus-sign');
				var html = '<ul><li order_seq="' + data['ENTITY'].order_seq + '"><span widget_id=' + data['ENTITY'].idx + '><i class="fa fa-lg fa-leaf"></i><b>' + data['ENTITY'].node_name + '</b></span></li></ul>'
				$("[widget_id='" + data['ENTITY'].pid + "']").parent().append(html);
			}
			$("[widget_id='" + data['ENTITY'].idx + "']").parent().parent().find('li').each(function (element, index) {
				if (parseInt($(this).attr('order_seq')) > data['ENTITY'].order_seq) {
					$("[widget_id='" + data['ENTITY'].idx + "']").parent().insertBefore($(this));
					return false;
				}
			});
			tree();
			$('#widget_content [widget_id]').on('click', function () {
				$('#widget_content [widget_id]').removeClass('spanActive');
				$(this).addClass('spanActive');
				$('#wid-id-2>header>h2')[0].innerHTML = '业务词典:所在节点(' + $(this)[0].innerText + ')';
				$('.edit_leaf_node_btn').html('编辑');
				$('.edit_node_btn').html('编辑');
				$('[name="idx"]').val($(this).attr('widget_id'));
				$('[name="pid"]').val($(this).attr('widget_id'));
				__RUN_ACT('node/queryByIdx', { "idx": $(this).attr('widget_id') }, function (data) {

					if (data[0]) {
						if (data[0].leaf == 0) {
							$('#query_node').show();
							$('#query_leaf_node').hide();
							$('#leaf_content').hide();
							$('#update_leaf_node').hide();
							$('#add_node *').removeAttr('disabled');
							$('#add_node a').removeClass('disabled');
							$('#add_leaf_node *').removeAttr('disabled');
							$('#add_leaf_node a').removeClass('disabled');
							$('.features').html('');
							$('.production').html('');
							$('.experiment').html('');
							__SET_FORM_VALUES('query_node', data[0]);
						} else if (data[0].leaf == 1) {
							var obj = {};
							$('#query_node').hide();
							$('#query_leaf_node').show();
							$('#leaf_content').show();
							$('#update_leaf_node').hide();
							$('#add_node *').attr('disabled', 'disabled');
							$('#add_node a').addClass('disabled');
							$('#add_leaf_node *').attr('disabled', 'disabled');
							$('#add_leaf_node a').addClass('disabled');
							__SET_FORM_VALUES('update_leaf_node', data[0]);
							$('#update_leaf_node [type="checkbox"]').each(function (i, elm) {
								if (data[0][$(elm).attr('name')] == 1) {
									$(elm).attr("checked", true);
								}
							})
							$('#updata_sire_img').attr('src', data[0].sire_img);
							$('#updata_female_img').attr('src', data[0].female_img);
							$('#updata_newborn_img').attr('src', data[0].newborn_img);
							$('#updata_domestic_img').attr('src', data[0].domestic_img);

							$('#update_leaf_node img').each(function (i, elm) {
								if ($(elm).attr('src') == '') {
									$(elm).hide();
								} else {
									$(elm).show();
								}
							})
							for (var key in data[0]) {
								if (data[0][key]) {
									if ($.type(data[0][key]) == 'string') {
										obj[key] = data[0][key].split('\n');
									} else {
										obj[key] = data[0][key];
									}
								} else {
									obj[key] = data[0][key];
								}
							}
							obj.table_json = JSON.parse(obj.table_json[0]);
							if (obj.img_json) {
								obj.img_json = JSON.parse(obj.img_json[0]);
							} else {
								obj.img_json = [];
							}
							tableJson = obj.table_json;
							imgJson = obj.img_json;
							presentTable(tableJson);
							presentPhotoUpdate(imgJson);
							$('#leaf_content').html($('#leaf_content_tmpl').tmpl(obj));
						}
					} else {
						$('#query_node').show();
						$('#query_leaf_node').hide();
						$('#leaf_content').hide();
						$('#update_leaf_node').hide();
						$('#add_node *').removeAttr('disabled');
						$('#add_node a').removeClass('disabled');
						$('#add_leaf_node *').removeAttr('disabled');
						$('#add_leaf_node a').removeClass('disabled');
						$('.features').html('');
						$('.production').html('');
						$('.experiment').html('');
						$('#query_node input').val('');
						$('#query_node textarea').val('');
					}
				});
				__RUN_ACT('node/queryByPid', { "pid": $(this).attr('widget_id') }, function (data) {
					$("#jqgrid").jqGrid('setData', data);
					$("#jqgrid").trigger("reloadGrid");
					// $("#jqgrid").jqGrid('setGridParam', {
					// datatype : 'local',
					// data : data
					//}).trigger("reloadGrid");
				});
			});

		})
	});
	/*叶子节点清空*/
	$('.empty_leaf_node_btn').on('click', function () {
		$('#add_leaf_node input').not('[type="hidden"]').val('');
		$('#add_leaf_node textarea').val('');
		$("#add_leaf_node").data("bootstrapValidator").resetForm();
	});
	/*删除节点*/
	function removerNode(idx) {
		var rowData = $("#jqgrid").jqGrid('getRowData', idx);

		$('#mymodel').modal('show');
		$('.modal-body span').html(rowData.node_name);
		$('#removerNode_btn').attr('idx', rowData.idx);
	}
	$('#removerNode_btn').on('click', function () {
		var idx = $('#removerNode_btn').attr('idx');
		__RUN_ACT('node/delete', { "idx": idx }, function (data) {
			__RUN_ACT('node/queryByPid', { "pid": $('[widget_id="' + idx + '"]').parent().parent().prev().attr('widget_id') }, function (data) {
				$("#jqgrid").jqGrid('setData', data);
				$("#jqgrid").trigger("reloadGrid");
				$('[widget_id="' + idx + '"]').parent().remove();
				$('#mymodel').modal('hide');
			});
		});
	})
	/* 表单验证-叶节点添加 */
	// movie form
	$('#add_node').bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			node_code: {
				validators: {
					notEmpty: {
						message: '节点编号不能为空'
					},
					remote: {
						url: 'node/queryByCode',
						message: '节点编号已存在',
						type: 'POST',
						delay: 2000
					},
				}
			},
			node_name: {
				validators: {
					notEmpty: {
						message: '节点名称不能为空'
					}
				}
			},
			order_seq: {
				validators: {
					notEmpty: {
						message: '排序号不能为空'
					}
				}
			}
		}
	});
	// end movie form
	/* 表单验证-叶节点添加 */
	// movie form
	$('#add_leaf_node').bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			node_code: {
				validators: {
					notEmpty: {
						message: '节点编号不能为空'
					},
					remote: {
						url: 'node/queryByCode',
						message: '节点编号已存在',
						type: 'POST',
						delay: 2000
					}
				}
			},
			node_name: {
				validators: {
					notEmpty: {
						message: '节点名称不能为空'
					}
				}
			},
			order_seq: {
				validators: {
					notEmpty: {
						message: '排序号不能为空'
					}
				}
			},
			animals_type: {
				validators: {
					notEmpty: {
						message: '畜种不能为空'
					}
				}
			}
		}
	});
		// end movie form

</script>