<style>
    input {
        border: 1px solid rgb(169, 169, 169)!important;
        padding: 0 2px;
        box-shadow: none!important;
    }
    /* 头部样式 */

    .jarviswidget-color-blueDark>header {
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F8F8F8));
        border: 1px solid #D4D4D4!important;
        color: #5B5B5B;
    }
    /* 标签页样式 */

    .nav-tabs>li.active>a {
        -webkit-box-shadow: 0 -2px 0 #02974B;
        -moz-box-shadow: 0 -2px 0 #02974B;
        box-shadow: 0 -2px 0 #02974B;
    }

    .nav-tabs>li>a {
        margin: 0 8px;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#65BB92), to(#0D834B));
    }
    /*树状图鼠标移入样式*/

    .tree li.parent_li span:hover,
    .spanActive {
        background-color: #DF8505;
        border: 1px solid #C67605;
        cursor: pointer;
        color: #fff;
    }

    #widget_content {
        overflow: auto;
        max-height: 750px;
    }

    #widget_content span {
        white-space: nowrap;
    }

    b {
        font-weight: 400;
    }
    /*输入框样式*/

    .label_input {
        margin: 15px 0;
    }

    .label_input span {
        width: 100px;
        text-align: right;
        padding-right: 20px;
        margin-left: 2%;
    }

    .label_input span,
    .label_input input,
    .label_input textarea {
        height: 30px;
        float: left;
        line-height: 30px;
        font-size: 14px;
    }

    .label_input input {
        width: 175px;
        line-height: 30px;
        font-size: 14px;
    }

    .label_input textarea {
        width: 75%;
        font-size: 14px;
        line-height: 16px;
    }

    .label_input textarea,
    .label_input .describe {
        height: 100px;
    }
    /*按钮div*/

    .btn_node {
        text-align: center;
        margin-bottom: 15px;
    }
    /*叶节点展示*/

    #leaf_content {
        overflow: auto;
    }
    /*表格居中*/

    th {
        text-align: center;
    }

    .ui-jqgrid-btable tr.jqgrow td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<article class="col-sm-12 col-md-4 col-lg-4">
    <div id="wid-id-1" class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false"
        data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
        data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>业务信息树</h2>
        </header>
        <div>
            <div class="jarviswidget-editbox"> </div>
            <!-- widget content -->
            <div class="widget-body">
                <div class="tree smart-form" id="widget_content">
                    <ul>
                        <li>
                            <span widget_id='0'><i class="fa fa-lg fa-folder-open"></i>中国畜禽遗传资源志</span>
                        </li>
                    </ul>
                </div>
                <!-- end widget content -->

            </div>
        </div>
    </div>
</article>
<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-8">
    <!-- article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" -->
    <div id="wid-id-2" class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false"
        data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false"
        data-widget-sortable="false">

        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>业务词典</h2>
        </header>

        <div>
            <div class="jarviswidget-editbox"> </div>

            <div class="widget-body no-padding">
                <div id="leaf_content" class="clearfix"></div>
            </div>
        </div>

    </div>
</article>




<script src="js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    __RUN_ACT('nodeList/query', {}, function (data) {

        loadScript("js/plugin/bootstraptree/bootstrap-tree.min.js", function () {
            LoadTree(data);
        });
    });

    /*json转树形结构*/
    function transData(a, idStr, pidStr, chindrenStr) {
        var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;
        for (; i < len; i++) {
            hash[a[i][id]] = a[i];
        }
        for (; j < len; j++) {
            var aVal = a[j], hashVP = hash[aVal[pid]];
            if (hashVP) {
                !hashVP[children] && (hashVP[children] = []);
                hashVP[children].push(aVal);
            } else {
                r.push(aVal);
            }
        }
        return r;
    }
    /*编辑树*/
    function widget(jsonDataTree) {
        jsonDataTree.forEach(function (element, index) {
            if ($("[widget_id='" + element.pid + "']").parent().find('ul').length) {
                var fa = "fa fa-lg fa-plus-circle";
                if (!element.chindren) {
                    if (element.leaf) {
                        fa = "fa fa-lg fa-leaf";
                    } else {
                        fa = "fa fa-lg fa-pencil-square-o";
                    }
                }
                var html = '<li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.node_name + '</b></span></li>'
                $("[widget_id='" + element.pid + "']").parent().find('ul').first().append(html);
            } else {
                var fa = "fa fa-lg fa-plus-circle";
                if (!element.chindren) {
                    if (element.leaf) {
                        fa = "fa fa-lg fa-leaf";
                    } else {
                        fa = "fa fa-lg fa-pencil-square-o";
                    }
                }
                var html = '<ul><li order_seq="' + element.order_seq + '" style="display:none"><span widget_id=' + element.idx + '><i class="' + fa + '"></i><b>' + element.node_name + '</b></span></li></ul>'
                $("[widget_id='" + element.pid + "']").parent().append(html);
            }
            if (element.chindren) {
                widget(element.chindren);
            }
        });
    }

    function LoadTree(jsonData) {
        widget(transData(jsonData, 'idx', 'pid', 'chindren'));
        tree();
        $('#widget_content [widget_id]').on('click', function () {
            $('#widget_content [widget_id]').removeClass('spanActive');
            $(this).addClass('spanActive');
            $('#wid-id-2>header>h2')[0].innerHTML = '业务词典:所在节点(' + $(this)[0].innerText + ')';
            $('[name="idx"]').val($(this).attr('widget_id'));
            $('[name="pid"]').val($(this).attr('widget_id'));
            __RUN_ACT('nodeList/queryByIdx', { "idx": $(this).attr('widget_id') }, function (data) {
                if (data[0]) {
                    $('#leaf_content').html(data[0].text);
                }
            });

        });
    }

</script>