
<!-- widget grid -->
<section  class="">

	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<div class="alert alert-info">
				<strong>提示:</strong> 全部养殖户补贴信息在此新增
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">
						
						<form action="" id="win_form" class="smart-form">
							<input type="hidden" name="idx" />
							<!--<input type="hidden" name="idx" />
							<input type="hidden" name="status" value="1" />
							<input type="hidden" name="people_idx" value="1" />-->
							<header>用户信息</header>

							<fieldset>
								<!--<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="user_name" placeholder="名称">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-prepend fa fa-user-md"></i>
											<input type="text" name="user_code" placeholder="账号">
										</label>
									</section>
								</div>-->

								<div class="row">
									<section class="col col-8">
										<label class="select">
											<select name="customer_idx" id="scare_name">
												<!--<option value="0" selected="" disabled="">选择规模场名称</option>-->
											</select> <i></i> 
										</label>
									</section>

									<section class="col col-4">
										<label class="select">
											<select name="subsidy_rank" id="subsidy_rank">
												<option value="0" selected="" disabled="">选择补贴级别</option>
												<option value="10" >中央级</option>
												<option value="20" >省级</option>
												<option value="30" >市级</option>
												<option value="40" >区县级</option>
											</select> <i></i> 
										</label>
									</section>
								</div>
								<div class="row">
									<section class="col col-4">
										<label class="input"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="subsidy_name" placeholder="补贴项目名称">
										</label>
									</section>

									<section class="col col-4">
										<label class="input"> <i class="icon-prepend fa fa-calendar"></i>
											<input type="text" name="start_time" placeholder="开始时间" id="start_time" class="daylist">
										</label>
									</section>

									<section class="col col-4">
										<label class="input"> <i class="icon-prepend fa fa-calendar"></i>
											<input type="text" name="end_time" placeholder="结束时间" id="end_time" class="daylist">
										</label>
									</section>
								</div>
								<div class="row">
									<section class="col col-4">
										<label class="input"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="subsidy_money" placeholder="补贴金额">
										</label>
									</section>
									
									<section class="col col-4">
										<label class="input"> <i class="icon-prepend fa fa-bank"></i>
											<input type="text" name="subsidy_number" placeholder="补贴数量">
										</label>
									</section>
									
									<section class="col col-4">
										<div class="inline-group">
											<label class="radio"><input type="radio" name="release_status" checked="" value="1"><i></i>已发放</label>
											<label class="radio"><input type="radio" name="release_status" value="0"><i></i>未发放</label>
										</div>
									</section>

									
								</div>
								
								<section>
									<label class="textarea">
										<textarea rows="3" name="remark" placeholder="备注信息"></textarea> 
									</label>
								</section>
								
								<footer>
									<input type="button" class="btn btn-default" id="win_close" value="关闭" />
									<input type="button" class="btn btn-primary" id="do_save" value="保存" />
								</footer>
								
							</fieldset>
	
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->
		
	</div>
	<!-- end row -->
</section>



<script type="text/javascript">
//ajax-win
var win_id='';

function win_init(){
	$('#win_close').click(function(btn){
		user_info_win.dialog("close");
	});

	$('#do_save').click(function(btn){
		var data=__GET_FROM_VALUES('win_form');
		data=__RMV_NULL_PROP(data);
		console.log(data);
		user_info_win.dialog("close");
		__RUN_ACT('/subsidy/save',data,function(){
			user_info_win.dialog("close");
			loadData();
		});
	});

	$('#user_type').change(function(){
		var type=$(this).children('option:selected').val();
		load_enterprise(type);
	});
	
	
	
	load_user_type();
	load_customer_name();
	initdate('start_time');
	initdate('end_time');
	datestyle();
}

//加载规模场名
function load_customer_name(callback){
	var step0 = [{ JSCODE: 'LOAD', CODE: 'LD_CREATURE_CUSTOMER', RCODE: 'LIST', DATA: {} }];
	__RUN_STEP(step0, function(data) {
		var scareOption = '<option value="0" disabled="" selected="selected">选择规模场名称</option>';
		for(var i = 0; i < data.LIST.length; i++) {
			scareOption += '<option value="' + data.LIST[i].idx + '">' + data.LIST[i].register_name + '</option>'
		}
		$("#scare_name").html(scareOption).val('0');		
		if(callback){
			callback();
		}
	});	
}

//加载时间控件
function initdate(id){
	$("#"+id).datetimepicker({
		language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
	});       
}

function datestyle(){
	$('#start_time').on('change', function() {
		$('#end_time').datetimepicker('setStartDate', $(this).val());
	})
	$('#end_time').on('change', function() {
		$('#start_time').datetimepicker('setEndDate', $(this).val());
	})
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");	
	$('.daylist').click(function(){
		$(".clear").text('清空');
	});	
}


function load_user_type(){
	var step=[ 
		{JSCODE:'LOAD',CODE:'SYS_DIC_SELECT',RCODE:'DIC',DATA:{type_code:'USER_TYYPE'}}
	];
	__RUN_STEP(step,function(d){
		PUT2SELECT(d.DIC,'user_type');
	});
}

function load_enterprise(type){
	var step=[{JSCODE:'LOAD',CODE:'SYS_ENTERPRISE',RCODE:'ENT',DATA:{type:type}}];
	__RUN_STEP(step,function(d){
		PUT2SELECT(d.ENT,'customer_idx');
	});
}


function loadUserInfo(idx){
	load_customer_name(function(){
		__RESET_FORM('win_form');
		var step=[ {JSCODE:'LOAD',CODE:'LD_SUBSIDY_DETAILS',RCODE:'LIST',DATA:{'idx' : idx}} ];
		__RUN_STEP(step,function(d){
			console.log(d.LIST[0])
			__SET_FORM_VALUES('win_form',d.LIST[0]);
		});
	})
	
}


loadScript("js/plugin/jquery-form/jquery-form.min.js", win_init);
</script>
