

<style>

	form>.row {
		margin-bottom: 10px;
	}
	/*操作按钮*/

	.operation {
		width: 200px;
		margin-left: 20px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.operation a:hover {
		color: #00CC00;
	}


	.operation a {
		color: #000000;
		padding: 0 5px;
	}

	.operation i {
		color: #00CC00;
		padding: 0 5px;
	}
	/*查询条件*/

	.condition {
		width: 312px;
		float: left;
		margin-left: 20px;
	}

	.condition input {
		width: 200px;
	}

	.condition input,
	.condition span,
	.condition select,
	.storageTime span,
	.storageTime input,
	.RFID * {
		height: 30px;
		line-height: 30px;
		margin: 0 10px 0 20px;
		float: left;
	}

	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	/*入库时间*/

	.storageTime {
		width: 50%;
		float: left;
	}

	.storageTime * {
		float: left;
	}

	#startTime,
	#endTime {
		width: 25%;
	}

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*RFID编号*/

	.RFID {
		width: 25%;
		float: left;
	}

	.RFID * {
		float: left;
	}

	.RFID input {
		width: 45%;
	}
	/*搜索按钮*/

	.readerSearch {
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.readerSearch button {
		text-align: center;
		height: 100%;
		border-radius: 5px;
	}
	/*装钉表格*/

	.ui-jqgrid-htable th {
		text-align: center;
	}
	/*模态框修改*/

	.modal-title {
		width: 50%;
		float: left;
	}

	.modal-header .top_rigth {
		float: right;
		margin-right: 20px;
	}

	#add-data .row input,select{
		border: 1px solid #ccc;
	}
	
	.borbottom{
		border-bottom: 1px solid #ccc;
	}
	
	.control-label{
		line-height: 32px;
		padding: 0;
	}
	
	
	
	
	/*滚动条样式*/	  
	/* Handle */  
	  
	::-webkit-scrollbar-thumb {  
	  
	   -webkit-border-radius: 10px;  
	  
	   border-radius: 10px;  
	  
	   background: rgba(0,0,0,0.3);   
	  
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	  
	}  
	  
	::-webkit-scrollbar-thumb:window-inactive {  
	  
		background: rgba(169,169,169,0.4);   
	  
	}  
	
	/*#jqgrid tr td:first-child {
	    width: 50px !important;   	
	}*/
	/*#jqgrid_rn{
		width: 50px !important;
	}*/
	

	/*表格样式*/

	
	
</style>

<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<form>
	<div class="row">
		<div class="condition">
			<span>规模场名</span>
			<input type="text" class="form-control" name="bd_num" />			
		</div>
		<div class="readerSearch">
			<button type="button" class="btn btn-default" style="background: #2196f3;color: #fff;">搜索</button>
		</div>
	</div>
	
</form>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table id="jqgrid"></table>
			<div id="pjqgrid"></div>

			<!--<br>
			<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
			<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>-->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">


//表格数据
	pageSetUp();
	var pagefunction = function () {	
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function(){
			var arr=[{}];
			run_jqgrid_function(arr);
		});						
		

		function run_jqgrid_function(jqgrid_data) {

			jQuery("#jqgrid").jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: ['规模场', '信息卡号', '身份证号', '手机号', '固定电话','组织机构代码', '法人代表', '开户银行', '银行账号', '税号', '传真', '邮编', '电子邮件', '短信服务状态', '详细地址', '不良记录'],
				colModel: [
					{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false},
					{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
					{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
					{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"},
					{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center"  },
					{ name: 'apply_common_time', index: 'apply_common_time', sortable: false, align: "center"},
					{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false},
					{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
					{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
					{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"},
					{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center"  },
					{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false},
					{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
					{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
					{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"},
					{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center"  }
				],
				rowNum: 10,
				rownumbers: false,
				rowList: [10, 20, 30],
				pager: '#pjqgrid',
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				multiselect: false,
				autowidth: true,

			});

			jQuery("#m1").click(function () {
				var s;
				s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
				alert(s);
			});
			jQuery("#m1s").click(function () {
				jQuery("#jqgrid").jqGrid('setSelection', "13");
			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");



			// update buttons
			
//			jQuery("#jqgrid").jqGrid('setGridWidth', $("#widget-grid").width());
			$(window).on('resize.jqGrid', function () {
				jQuery("#jqgrid").jqGrid('setGridWidth', $("#content").width());
			})


		} // end function


	}

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>