
<style>

	form>.row {
		margin-bottom: 10px;
	}
	/*操作按钮*/

	.operation {
		width: 200px;
		margin-left: 20px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		float: left;
	}

	.operation a:hover {
		color: #00CC00;
	}


	.operation a {
		color: #000000;
		padding: 0 5px;
	}

	.operation i {
		color: #00CC00;
		padding: 0 5px;
	}
	/*查询条件*/

	.condition {
		width: 312px;
		float: left;
		margin: 10px 0;
	}

	.condition input {
		width: 200px;
	}
	
	.condition i{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	.condition i.totime{
		position: absolute;
		right: 50px;
		top: 10px;
	}
	
	.condition input,
	.condition span,
	.condition select,
	.storageTime span,
	.storageTime input,
	.RFID * {
		height: 30px;
		line-height: 30px;
		margin: 0 10px 0 20px;
		float: left;
	}

	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	/*入库时间*/

	.storageTime {
		width: 50%;
		float: left;
	}

	.storageTime * {
		float: left;
	}

	#startTime,
	#endTime {
		width: 25%;
	}

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	/*RFID编号*/

	.RFID {
		width: 25%;
		float: left;
	}

	.RFID * {
		float: left;
	}

	.RFID input {
		width: 45%;
	}
	/*搜索按钮*/

	.readerSearch {
		height: 30px;
		line-height: 30px;
		float: left;
		margin: 13px 100px;
	}

	.readerSearch button {
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	/*装钉表格*/

	.ui-jqgrid-htable th {
		text-align: center;
	}
	/*模态框修改*/

	.modal-title {
		width: 50%;
		float: left;
	}

	.modal-header .top_rigth {
		float: right;
		margin-right: 20px;
	}

	#add-data .row input,select{
		border: 1px solid #ccc;
	}
	
	.borbottom{
		border-bottom: 1px solid #ccc;
	}
	
	.control-label{
		line-height: 32px;
		padding: 0;
	}
	
	
	
	
	/*滚动条样式*/	  
	/* Handle */  
	  
	::-webkit-scrollbar-thumb {  
	  
	   -webkit-border-radius: 10px;  
	  
	   border-radius: 10px;  
	  
	   background: rgba(0,0,0,0.3);   
	  
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	  
	}  
	  
	::-webkit-scrollbar-thumb:window-inactive {  
	  
		background: rgba(169,169,169,0.4);   
	  
	}  
	
	/*#jqgrid tr td:first-child {
	    width: 50px !important;   	
	}*/
	/*#jqgrid_rn{
		width: 50px !important;
	}*/
	

	/*表格样式*/

	
	
</style>

<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<form>
	<div class="row" style="width: 1300px;">
		<div class="condition">
			<span>保单号</span>
			<input type="text" class="form-control" name="bd_num" />			
		</div>
		<div class="condition" style="position: relative;">
			<span>保单时间</span>
			<input type="text" class="form-control daylist" name="sh_name" id="bdtime" readonly style="border-bottom: 1px solid #ccc;"/>
			<i class="fa fa-calendar"></i>
		</div>	
		<div class="condition" style="position: relative;">	
			<span>至</span>
			<input type="text" class="form-control daylist" name="sh_name" id="totime" readonly style="border-bottom: 1px solid #ccc;"/>	
			<i class="fa fa-calendar totime"></i>
		</div>
		<div class="condition">
			<span>疫苗批次</span>
			<input type="text" class="form-control" name="sh_name" />			
		</div>
		<div class="condition">
			<span>接种人</span>
			<input type="text" class="form-control" name="sh_name" />			
		</div>
		<div class="readerSearch">
			<button type="button" class="btn btn-default" style="background: #2196f3;color: #fff;">搜索</button>
		</div>
	</div>	
</form>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="farmer_list">
				<h3>场户批次免疫详情</h3>
				<table id="jqgrid"></table>
				<div id="pjqgrid"></div>		
			</div>
			<div id="animal_list">
				<h3>母猪免疫详情</h3>
				<table id="piggrid"></table>
				<div id="ppiggrid"></div>		
			</div>

			<!--<br>
			<a href="javascript:void(0)" id="m1">Get Selected id's</a><br>
			<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>-->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>

<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
//日期选择
	$('#bdtime').datetimepicker({
		language: 'zh-CN',  
        format: 'yyyy-mm-dd',        
        pickDate: true,  
        pickTime: false,  
        minView: 'month',  
        todayBtn: true,  
        clearBtn: true,
        todayHighlight: true 
    }); 
    $('#totime').datetimepicker({
    	language: 'zh-CN',
        format: 'yyyy-mm-dd',          
        pickDate: true,  
        pickTime: false,  
        minView: 'month',  
        todayBtn: true,
        clearBtn: true,
        todayHighlight: true 
    }); 
    /* 限制起始时间和结束时间 */
	$('#bdtime').on('change', function () {
		$('#totime').datetimepicker('setStartDate', $(this).val());
	})
	$('#totime').on('change', function () {
		$('#bdtime').datetimepicker('setEndDate', $(this).val());
	})
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");
	$('.daylist').click(function(){
		$('.clear').text('清空');
	});


//表格数据
	pageSetUp();
	var pagefunction = function () {	
		loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function(){
			var arr1=[{}];
			colNames1= ['属主', '疫苗种类', '剂量', '注射时间', '疫苗批号','接种人', '有效期', '免疫母猪数', '操作'];
			colModel1= [
				{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false},
				{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
				{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
				{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"},
				{ name: 'seminal_quantity', index: 'seminal_quantity', sortable: false, align: "center"  },
				{ name: 'apply_common_time', index: 'apply_common_time', sortable: false, align: "center"},
				{ name: 'along_animal_nom', index: 'along_animal_nom', align: "center", sortable: false },
				{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false, width: 80},
				{ name: 'act', index: 'act', align: "center", sortable: false, width: '200px' }					
			];			
			var arr2=[{}];
			colNames2= ['RFID', '母猪种类', '日龄', '免疫类型'];
			colModel2= [
				{ name: 'animal_no2', index: 'animal_no2', align: "center", sortable: false},
				{ name: 'rfid2', index: 'rfid2', align: "center", sortable: false, width: 240},
				{ name: 'insemination_no', index: 'insemination_no', sortable: false, align: "center"},
				{ name: 'apply_animal_nom', index: 'apply_animal_nom', sortable: false, align: "center"}				
			];
			run_jqgrid_function('#jqgrid','#pjqgrid',colNames1,colModel1,arr1);			
			run_jqgrid_function('#piggrid','#ppiggrid',colNames2,colModel2,arr2);
			
			
			
			
			
			
		});						
		

		function run_jqgrid_function(id,pageid,colNames,colModel,jqgrid_data) {

			jQuery(id).jqGrid({
				data: jqgrid_data,
				datatype: "local",
				height: 'auto',
				colNames: colNames,
				colModel: colModel,
				rowNum: 10,
				rownumbers: false,
				rowList: [10, 20, 30],
				pager: pageid,
				sortname: 'id',
				toolbarfilter: true,
				viewrecords: true,
				sortorder: "asc",
				gridComplete: function () {
					var ids = jQuery(id).jqGrid('getDataIDs');
					for (var i = 0; i < ids.length; i++) {
						var cl = ids[i];
//						be = "<button class='btn btn-xs btn-default' onclick=\"updateInfo('" + cl + "')\"><i class='fa fa-pencil'></i>修改</button>";
//						ca = "<button class='btn btn-xs btn-default tsDelete' onclick=\"removerInfo('" + cl + "')\"><i class='fa fa-times'></i>删除</button>";
						ce = '<a href="javascript:void(0)" class="loadindividual" onclick=\'viewInfo("' + cl + '")\'>查看详情</a>';
						//jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
						jQuery(id).jqGrid('setRowData', ids[i], { act: ce });
					}
				},
				multiselect: false,
				autowidth: true,

			});

//			jQuery("#m1").click(function () {
//				var s;
//				s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
//				alert(s);
//			});
//			jQuery("#m1s").click(function () {
//				jQuery("#jqgrid").jqGrid('setSelection', "13");
//			});

			// remove classes
			$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
			$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
			$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
			$(".ui-jqgrid-pager").removeClass("ui-state-default");
			$(".ui-jqgrid").removeClass("ui-widget-content");

			// add classes
			$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
			$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");


			$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
			$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
			$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
			$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
			$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
			$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
			$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
			$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

			$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

			$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

			$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

			$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
			$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");



			// update buttons
			
//			jQuery("#jqgrid").jqGrid('setGridWidth', $("#widget-grid").width());
			$(window).on('resize.jqGrid', function () {
				jQuery(id).jqGrid('setGridWidth', $("#content").width());
			})


		} // end function


	}

	loadScript("js/plugin/jqgrid/grid.locale-cn.js", pagefunction);

</script>