<style>
        /* 时间 */
    
        .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
            opacity: 1;
            display: none;
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }

        .dt-toolbar{
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
    <!-- widget grid -->
    <section id="widget-grid" class="">
    
        <!-- row -->
        <div class="row">
    
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
                <div class="alert alert-info">
                    <strong>提示:</strong> 在此页面可对保险产品进行管理
                </div>
    
                <div class="jarviswidget well">
                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">
    
                            <form action="" id="credit_query_form" class="smart-form">
                                <fieldset class="form-horizontal">
                                    <section class="col col-md-12 col-sm-12 col-lg-12">
                                        <section class="col col-md-5 col-sm-12 col-lg-5">
                                            <label class="col-sm-3 control-label">产品名称</label>
                                            <div class="col col-sm-9">
                                                <input type="text" name="name" placeholder="请输入产品名称" class="form-control">
                                            </div>
                                        </section>
                                        <section class="col col-md-6 col-sm-12 col-lg-6">
                                            <label class="col col-sm-3 control-label">发布日期</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" name="start_time" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-1 control-label" style="text-align:center;">至</label>
                                            <div class="col col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-icon-right">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input class="form-control" name="end_time" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="button" class="btn btn-default" id="reset_qry" value="重置" />
                                    <input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
                                </footer>
                            </form>
    
                        </div>
                        <!-- end widget content -->
                    </div>
                </div>
                <!-- end widget div -->
    
            </article>
            <!-- WIDGET END -->
    
        </div>
        <!-- end row -->
    
        <!-- row -->
        <div class="row">
    
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
                <div class="jarviswidget well" id="wid-id">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form class="smart-form datatable-tbar">
                                <footer>
                                    <input type="button" class="btn btn-default" id="credit_new" value="新增">
                                </footer>
                            </form>
                            <table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>产品名称</th>
                                        <th>保险期限（月）</th>
                                        <th>犹豫期（日）</th>
                                        <th>发布日期</th>
                                        <th>发布人</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- end widget content -->
    
                    </div>
                    <!-- end widget div -->
    
                </div>
                <!-- end widget -->
    
            </article>
            <!-- WIDGET END -->
    
        </div>
        <!-- end row -->
    
        <div id="credit_info" title="保险产品详情" class="ajax-win"></div>
    
    
    </section>
    
    
    <script id="edit_cell" type="text/html">
        <div>
            <a href="javascript:void(0)" title="查看" class="edit_cell" onclick="check_credit('${idx}')"><i class="fa fa-search"></i></a>
        </div>
    </script>
    
    
    <script type="text/javascript">
        pageSetUp();
        var insurance_idx = getQueryString('insurance_idx');

        var pagedestroy = function () { }
        var pagefunction = function () { uxinit(); }
        var credit_tbl = null;
        var credit_info_win;
        function _optionRender(data) {
            return $('#edit_cell').tmpl(data).html();
        }
    
        function _crtGrid(data) {
            if (credit_tbl) {
                credit_tbl.destroy();
                credit_tbl = null;
            }
            var language = {
                "decimal": "",
                "emptyTable": "No data available in table",
                "info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
                "infoEmpty": "第 0 页， 共计 0 页 0 条",
                "infoFiltered": "",//"(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Show _MENU_ entries",
                "loadingRecords": "加载中...",
                "processing": "处理中...",
                "search": "Search:",
                "zeroRecords": "没有匹配的数据",
                "paginate": {
                    "first": "第一页",
                    "last": "最后一页",
                    "next": "下一页",
                    "previous": "上一页"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            };
            credit_tbl = $('#credit_table').DataTable({
                sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                data: data,
                bDestroy: true,
                searching: false,
                language: language,
                iDisplayLength: 15,
                columns: [
                    { orderable: false, data: null, defaultContent: '' },
                    { data: "name" },
                    { data: "time_limit" },
                    { data: "hesitate" },
                    { data: "publish_date" },
                    { data: "issuer" },
                    { data: "remark" },
                    { data: null, defaultContent: '', render: _optionRender },
                ],
                fnDrawCallback: function (oSettings) {
    
                }
            });
    
            credit_tbl.column(0).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }
    
        function uxinit() {
            credit_info_win = $("#credit_info").dialog({
                autoOpen: false,
                width: 800,
                resizable: false,
                modal: true
            });
            _Import_Html('cityTree', 'page/common/cityTree.html')
            $('[name="posted_date1"]').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                pickDate: true,
                pickTime: false,
                minView: 'month',
                todayBtn: true,
                initialDate: new Date(),
                todayHighlight: true
            });
            $('[name="posted_date2"]').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                pickDate: true,
                pickTime: true,
                minView: 'month',
                todayBtn: true,
                initialDate: new Date(),
                todayHighlight: true
            });
            loadData();
    
            $('#credit_qry').click(function () {
                var d = __GET_FROM_VALUES('credit_query_form');
                __RMV_NULL_PROP(d)
                d.insurance_idx = getQueryString('insurance_idx');
                loadData(d);
            });
    
            $('#reset_qry').click(function () {
                __RESET_FORM('credit_query_form');
            });
    
            $('#credit_new').click(function () {
                __SHOW_WIN(credit_info_win, 'page/bx/insure_productinfo.html', () => {
                    $('#win_form input').removeAttr('readOnly');
                    $('#win_form textarea').removeAttr('readOnly');
                    $('#do_save').show();
                    __RESET_FORM('win_form');
                    var date = new Date();
                    $('#win_form [name="bank_idx"]').val(getQueryString('bank_idx'));
                    $('#win_form [name="isDelete"]').val('1');
                    $('#win_form [name="posted_date"]').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate());
                });
            });
    
        }

        function loadData(data) {
            if(data) {
                data['insurance_idx']=insurance_idx;
            }else{
                data={ 'insurance_idx': insurance_idx };
            }
            var step = [
            { JSCODE: 'LOAD', CODE: 'LD_INSURANCE_PRODUCT', RCODE: 'ENTITY', DATA: data }
            ]
            __RUN_STEP(step,function(d){                
                _crtGrid(d.ENTITY);
            })
        }
    
        function check_credit(idx) {
            __SHOW_WIN(credit_info_win, 'page/bx/insure_productinfo.html');
            var step = [ { JSCODE: 'LOAD', CODE: 'LD_INSURANCE_PRODUCT', RCODE: 'ENTITY', DATA: { 'idx': idx } } ]
            __RUN_STEP(step,function(d){   
                d.ENTITY[0].publish_date =   d.ENTITY[0].publish_date.substr(0,10);        
                __SET_FORM_VALUES('win_form',d.ENTITY[0])
            })

        }
    
        // load related plugins & run pagefunction
        loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
            loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
                loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
                    loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
                        loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
                            loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
                                loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
                                    loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
                                });
                            });
                        });
                    });
                });
            });
        });
    
    </script>