<style>
   
   .dt-toolbar {
		display: none;
	} 

</style>


<section  class="">
    
    <!-- row -->
    <div class="row">
        
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <div class="alert alert-info">
                <strong>提示:</strong> 动物预警信息详情在此查看
            </div>

            <div class="jarviswidget well">
                <!-- widget div-->
                <div  class="form-horizontal">
                    <div class="widget-body no-padding">
                        
                        <form action="" id="win_form" class="smart-form">
                 
                            <header>企业信息</header>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">企业名称</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">注册资本</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">企业类型</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">成立日期</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-8">
                                        <label class="col-sm-1 control-label">地址</label>
                                        <div class="col col-sm-11">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>

                            <header>个体信息</header>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">场内编号</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">品种</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">RFID</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">出生日期</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">栏号</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                    <section class="col col-4">
                                        <label class="col-sm-3 control-label">舍号</label>
                                        <div class="col col-sm-9">
                                            <input type="text" name="register_name" placeholder="请输入" class="form-control" readonly>
                                        </div>
                                    </section>
                                </div>
                                
                               

                               
                            </fieldset>
                            <header>个体日常活动</header>
                            <table width="100%" id="animal_move"  class="table table-striped table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>发生日期</th>
                                        <th>活动</th>
                                        <th>结果</th>
                                        <th>发生栏舍</th>
                                        <th>位置</th>
                                    </tr>
                                </thead> 
                                
                            </table>


                        </form>

                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->

        </article>
        <!-- WIDGET END -->
        
    </div>
    <!-- end row -->
</section>

<script>

    var tbl_pro = null;
    



    function initTable(data) {
		if (tbl_pro) {
			tbl_pro.destroy();
			tbl_pro = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "表中没有可用数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		tbl_pro = $('#animal_move').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "create_time" },
                { data: "animal_action" },
                { data: "action_result" },
				{ data: "action_bar" },
				{ data: "action_district" }
			],
			fnDrawCallback: function (oSettings) {

			}
		});
		
		tbl_pro.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
        });
	}

</script>