<link rel="stylesheet" type="text/css" media="screen" href="js/plugin/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" />

<!-- widget grid -->
<div style="width: 30%;margin: 20px auto;">20 <input type="text" style="width: 50px;border: none;"/>年 <input type="" name="" id="" value="" style="width: 50px;border: none;"/>月 <input type="" name="" id="" value="" style="width: 50px;border: none;"/>日</div>
<div style="width: 32%;float: left;margin-bottom: 15px;">使用单位：<input type="text" style="float: right;border: none;"/> </div>
<div style="width: 30%;float: right;margin-bottom: 15px;">编号：<input type="text" style="float: right;border: none;"/> </div>
<section id="widget-grid" class="">
	
	<!-- row -->
	<div class="row">
		
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id-0">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form action="" id="user_tbar" class="smart-form datatable-tbar">
							
							<footer>
								<span style="font-size: 18px;line-height: 42px;">物资出库单</span>
							</footer>
						</form>
						<table id="user_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
					        <thead>
							 	<tr>
							 		<th>序号</th>
							 		<th>物资种类</th>
							 		<th>物资型号</th>
							 		<th>品牌</th>
							 		<th>数量</th>
							 		<th>单价</th>
					                <th>合计金额</th>
					                <th>备注</th>
					            </tr>
					           	<tr>
							 		<td>1</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td>2</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td>3</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					           	<tr>
							 		<td>4</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td>5</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td>6</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td>7</td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            <tr>
							 		<td colspan="4" style="text-align: center;">总计</td>
							 		
							 		<td></td>
							 		<td></td>
							 		<td></td>
							 		<td></td>
					            </tr>
					            
					            
					        </thead>
					    </table>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->
		
	</div>
	<!-- end row -->
</section>
<div style="width: 32%;float: left;margin-bottom: 15px;">负责人：<input type="text" style="float: right;border: none;"/> </div>
<div style="float: right;margin-bottom: 25px;">
	<button>确认出库</button>
	<button>取消出库</button>
</div>

<script type="text/javascript">
	
	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function(){
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js",function(){
							pagefunction();
						});
					});
				});
			});
		});
	});
	
</script>