<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
	#load td {
		padding: 0!important;
		text-align: center;
		line-height: 30px;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load td input {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load td select {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load_length {
		display: none;
	}
	
	#load_filter {
		display: none;
	}
	
	#editor td {
		padding: 0!important;
		text-align: center;
		line-height: 30px;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor td input {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor td select {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor_length {
		display: none;
	}
	
	#editor_filter {
		display: none;
	}
	
	#td_out {
		width: 100%;
		padding: 20px;
		background: #fff;
	}
	
	#td_out {
		width: 100%;
		padding: 20px;
		background: #fff;
	}
	
	.lookup {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	
	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	
	#example_wrapper {}
</style>

<div class="row">

	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="alert alert-info">
			<strong>提示:</strong> 物资发放在此统一管理
		</div>
		<div class="jarviswidget well">
			<!-- widget div-->
			<div>
				<div class="widget-body no-padding" id="ff_infom">

					<form action="" id="user_query_form" class="smart-form">
						<fieldset class="form-horizontal">
							<section class="col col-md-12 col-sm-12 col-lg-12">
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">发货单号<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" name="document_num" type="text" id="document_num" disabled="disabled">
									</div>
								</section>
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">客户联系电话<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" type="text" id="search_btn" name="phone" placeholder="请输入手机号">
									</div>
								</section>

								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">客户名称<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="请输入" type="text" id="applicant" name="applicant">
									</div>
								</section>

							</section>
							<section class="col col-md-12 col-sm-12 col-lg-12">
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">身份证号<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" type="text" name="identity_no" id="identity_no">
									</div>
								</section>
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">企业名称<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" type="text" name="institution" id="institution">
									</div>
								</section>
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">地区名称</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="请输入" type="text" name="district_name" id="district_name">
									</div>
								</section>

							</section>
							<section class="col col-md-12 col-sm-12 col-lg-12">

								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">发货地址<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" type="text" id="delivery_address">
									</div>
								</section>

							</section>

						</fieldset>
					</form>
				</div>
				<!-- end widget content -->
			</div>
		</div>
		<!-- end widget div -->
	</article>

</div>
<div id="td_out">
	<div id="loadOut">
		<table id="load" class="display projects-table table table-striped 
				table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th style="width: 50px;">序号</th>
					<th>品名</th>
					<th>物资型号</th>
					<th style="width: 50px;">单位</th>
					<th>批次号</th>
					<th style="width: 50px;">数量</th>

					<th style="width: 50px;">保修期</th>
					<th>编码1</th>
					<th>编码2</th>
					<th>编码3</th>
					<th>编码4</th>
				</tr>
			</thead>
			<tbody id="product_table">

			</tbody>
		</table>
	</div>
	<div id="editorOut">
		<button id="addRow" class="btn btn-primary">添加一行</button>
		<button id="removeRow" class="btn btn-danger">删除选中行</button>
		<table id="editor" class="display projects-table table table-striped 
				table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th style="width: 50px;">序号</th>
					<th>品名</th>
					<th>物资型号</th>
					<th style="width: 50px;">单位</th>
					<th>批次号</th>
					<th style="width: 50px;">数量</th>

					<th style="width: 50px;">保修期</th>
					<th>编码1</th>
					<th>编码2</th>
					<th>编码3</th>
					<th>编码4</th>
				</tr>
			</thead>
			<tbody id="product_table">

			</tbody>
		</table>
	</div>

	<div class="row" style="padding:0 13px;">
		<span id="">
				摘要：
			</span>
		<textarea id="abstracts" name="" rows="" cols="" style="width: 100%;height: 50px;"></textarea>
		<div class="row" style="background: rgba(248,248,248,.9); margin: 15px -20px -20px -20px;padding: 20px;">
			<section class="col col-md-3 col-sm-12 col-lg-3">
				<label class="col-sm-3 control-label">发货人</label>
				<div class="col col-sm-9">
					<input class="form-control input-xs" placeholder="请输入" type="text" id="consignor">
				</div>
			</section>
			<section class="col col-md-3 col-sm-12 col-lg-3">
				<label class="col-sm-3 control-label">收货人</label>
				<div class="col col-sm-9">
					<input class="form-control input-xs" type="text" placeholder="请输入" id="consignee">
				</div>
			</section>
			<section class="col col-md-4 col-sm-12 col-lg-3">
				<label class="col-sm-4 control-label">发货日期<span style="color: red;">(必填*)</span></label>
				<div class="col col-sm-8">
					<div class="row">
						<div class="col-sm-10" style="margin-left: 20px;">
							<div class="input-icon-right">
								<i class="icon-append fa fa-calendar" id="CreatTimeIcon "></i>
								<input class="form-control" name="occur_time" id="occur_time" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
		<div class="row" style="background: rgba(248,248,248,.9); margin: 15px -20px -20px -20px;padding: 20px;">
			<section class="col col-md-3 col-sm-12 col-lg-3">
				<label class="col-sm-3 control-label">业务员</label>
				<div class="col col-sm-9">
					<input class="form-control input-xs" placeholder="请输入" type="text" id="staff_name">
				</div>
			</section>
			<section class="col col-md-3 col-sm-12 col-lg-3">
				<label class="col-sm-3 control-label">运输方式</label>
				<div class="col col-sm-9">
					<input class="form-control input-xs" type="text" placeholder="请输入" id="mode_transport">
				</div>
			</section>
			<section class="col col-md-4 col-sm-12 col-lg-3">
				<label class="col-sm-4 control-label">到货日期</label>
				<div class="col col-sm-8">
					<div class="row">
						<div class="col-sm-10" style="margin-left: 20px;">
							<div class="input-icon-right">
								<i class="icon-append fa fa-calendar" id="CreatTimeIcon "></i>
								<input class="form-control" name="arrival_date" id="arrival_date" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
							</div>
						</div>
					</div>
				</div>
			</section>
			<input type="hidden" name="main_idx" id="main_idx" value="" />
		</div>
	</div>
	<div style="width: 108px;float: right;margin-top: 30px;">
		<button type="button" class="btn btn-primary" id="wzck_save" style="float: left;">保存</button>
		<button type="button" class="btn btn-default" id="wzck_cancel" style="float: right;">取消</button>
	</div>

</div>
<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="success_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作成功&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="success_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- /.modal -->
<!--失败提示-->
<div class="modal fade" tabindex="-1" role="dialog" id="false_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作失败，请重新输入&hellip;</p>
				<div id="false_tips" style="display: none;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="false_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script id="select_cell" type="text/x-jquery-tmpl">
	<div>
		<select class="product_name" value="${value}">
			<option value="">请选择</option>
			{{each(i,user) nameArr }}
			<option value="${user.idx}" {{if user.idx==value}}selected{{/if}}>${user.product_name}</option>
			{{/each}}
		</select>
	</div>
</script>
<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
	//获取登录人的idx
	var getIdx = getQueryString('customer_idx'); //链接若有idx就从链接中截取idx
	if(!getIdx) {
		getIdx = $('#__uidx').attr("value"); //链接没有就从登录页面获取
	};

	function _optionRender(data, type, row) {
		return $('#select_cell').tmpl(data).html();
	}
	var IDX = getIdx;
	var PIDX;
	var ppid;
	//获取当前行的idx
	var rowIdx = getQueryString('idx'); //链接若有idx就从链接中截取idx
	var tjIdx = getQueryString('id');
	var tjType = getQueryString('type');
	var language = {
		"decimal": "",
		"emptyTable": "No data available in table",
		"info": "从 _START_ 到 _END_ 共计 _TOTAL_ 条",
		"infoEmpty": "从 0 到 0 共计 0 条",
		"infoFiltered": "", //"(filtered from _MAX_ total entries)",
		"infoPostFix": "",
		"thousands": ",",
		"lengthMenu": "Show _MENU_ entries",
		"loadingRecords": "加载中...",
		"processing": "处理中...",
		"search": "Search:",
		"zeroRecords": "没有匹配的数据",
		"paginate": {
			"first": "第一页",
			"last": "最后一页",
			"next": "下一页",
			"previous": "前一页"
		},
		"aria": {
			"sortAscending": ": activate to sort column ascending",
			"sortDescending": ": activate to sort column descending"
		}
	}
	//手机号搜索
	$("#search_btn").autocomplete({
		minLength: 2,
		source: function(request, response) {
			var data = {};
			data.phone = $("#search_btn").val()
			if(data.phone) {
				data.phone = '%' + data.phone + '%';
			}
			var d = __RMV_NULL_PROP(data);
			__RUN_ACT("/Issue/query", {
				phone: data.phone
			}, function(d) {
				console.log(d)
				if(d == '') {
					$('#false_modal').modal('show')
					$("#false_confirm_btn").click(function() {
						$('#false_modal').modal('hide')
					})
				} else {
					response($.map(d, function(item) {
						return {
							label: '姓名:' + item.name + '  电话:' + item.phone,
							idx: item.idx,
							value: item.phone
						}
					}));
				}

			});

		},
		select: function(event, ui) {
			// ui.item.idx;
			var data = ui.item.idx
			var d = __RMV_NULL_PROP(data);
			ppid = d;
			__RUN_ACT("/Issue/queryDetail", {
				"idx": d
			}, function(d) {
				//搜索出来的信息
				if(d == undefined) {
					$('#false_modal').modal('show')
					$("#false_confirm_btn").click(function() {
						$('#false_modal').modal('hide')
					})
				} else {
					$("#applicant").val(d[0].name)
					$("#identity_no").val(d[0].identity_no)
					$("#institution").val(d[0].institution)
					$("#district_name").val(d[0].residential_site)
				}

			})

		}

	});
	var pagefunction = function() {
		initdate('occur_time');
		initdate('arrival_date');
		//客户下拉框
		function select_val() {
			__RUN_ACT('/outbound/recipient', {}, function(d) {
				for(var i = 0; i < d.length; i++) {
					$("#recipient").prepend('<option value="' + d[i].recipient + '" >' + d[i].recipient + '</option>')
				}
			})
		}
		select_val()
		//业务员，单据号
		function people_name() {
			var step = [{
				JSCODE: 'LOAD',
				CODE: 'LD_FUNCTIONARY',
				RCODE: 'LIST',
				DATA: {
					idx: IDX
				}
			}];
			__RUN_STEP(step, function(d) {
				$("#staff_name").val(d['LIST'][0].name)
			})
		}
		people_name()

		function document_num() {
			__RUN_ACT('/product/documentNum', {type:'3'}, function(d) {
				$("#document_num").val(d.document_num)
			})

		}
		document_num()
		//选定下拉框
		function product_name() {
			__RUN_ACT('/product/goods', {}, function(d) {
				var num = $(this).index();
				console.log(num)

				$(".product_name").eq(num).html('')
				$(".product_name").eq(num).prepend('<option >' + "请选择" + '</option>')
				for(var i = 0; i < d.length; i++) {
					$(".product_name").eq(num).prepend('<option value="' + d[i].idx + '">' + d[i].product_name + '</option>')
				}
			})
			//下拉框选定获取单位，单价，型号
			$(".product_name").change(function() {
				var index = $('.product_name').index(this);
				PIDX = $(this).val()
				var step = [{
					JSCODE: 'LOAD',
					CODE: 'LD_PRODUCT_DETAIL',
					RCODE: 'LIST',
					DATA: {
						'idx': PIDX
					}
				}];
				__RUN_STEP(step, function(d) {
					$(".product_model").eq(index).val(d['LIST'][0].product_model);
					$(".unit").eq(index).val(d['LIST'][0].unit);
					$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
				})

			})

		}
		product_name()
		
		//查看详情
		if(getQueryString('isCheck')) {
			$("input").attr("readonly", "readonly");
			$("textarea").attr("readonly", "readonly");
			$("#wzck_save").hide()
			$("#wzrk_cancel").html("返回")
			$(".product_select").attr("disabled", true);
			$(".product_name").attr("disabled", true);
			$("#rk_suppliers_name").attr("disabled", true);

		}
		if(rowIdx) {
			$("#editorOut").hide()
			__RUN_ACT('/records/queryByIdx', {
				idx: rowIdx
			}, function(d) {
				$("#staff_name").val(d[0].staff_name)
				$("#applicant").val(d[0].applicant)
				$("#district_name").val(d[0].district_name)
				$("#institution").val(d[0].institution)

				$("#document_num").val(d[0].document_num)
				$("#identity_no").val(d[0].identity_no)
				$("#search_btn").val(d[0].phone)
				$("#consignor").val(d[0].consignor)

				$("#consignee").val(d[0].consignee)
				$("#delivery_address").val(d[0].delivery_address)
				$("#occur_time").val(d[0].occur_time)
				$("#instructions").val(d[0].instructions)
				$("#abstracts").val(d[0].abstracts)
				$("#arrival_date").val(d[0].arrival_date)
				$("#mode_transport").val(d[0].mode_transport)
				$("#main_idx").val(d[0].idx)
				window.t = $('#load').dataTable({
					"bPaginate": true,
					language: language,
					data: d,
					columns: [{
							data: null,
							targets: 0
						},
						{
							data: "product_name",
							render: _optionRender

						},
						{
							data: "product_model",
							render: function(data) {
								return '<input type="" name="" class="product_model" value="' + data + '" />'
							}
						},
						{
							data: "unit",
							render: function(data) {
								return '<input type="" name="" class="unit" value="' + data + '" />'
							}
						},
						{
							data: "batch_num",
							render: function(data) {
								return '<input type="" name="" class="batch_num" value="' + data + '" />'
							}
						},
						{
							data: "quantity",
							render: function(data) {
								return '<input type="" name="" class="quantity" value="' + data + '" />'
							}
						}, //保修期
						{
							data: "warranty_date",
							render: function(data) {
								return '<input type="" name="" class="warranty_date" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts1",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts1" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts2",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts2" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts3",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts3" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts4",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts4" value="' + data + '" />'
							}
						}
					],

					fnDrawCallback: function() {
						var api = this.api();
						var startIndex = api.context[0]._iDisplayStart; //获取到本页开始的条数
						api.column(0).nodes().each(function(cell, i) {
							cell.innerHTML = startIndex + i + 1;
						});
					}
				});
				//下拉框选定获取单位，单价，型号
				$(".product_name").change(function() {
					var index = $('.product_name').index(this);
					PIDX = $(this).val()
					var step = [{
						JSCODE: 'LOAD',
						CODE: 'LD_PRODUCT_DETAIL',
						RCODE: 'LIST',
						DATA: {
							'idx': PIDX
						}
					}];
					__RUN_STEP(step, function(d) {
						$(".product_model").eq(index).val(d['LIST'][0].product_model);
						$(".unit").eq(index).val(d['LIST'][0].unit);
						$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
						//保修期
						$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
					})

				})
				//计算行总价
				$(".quantity").change(function() {
					var index = $('.quantity').index(this);
					$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
				})

			})

			$("#wzck_save").click(function() {
				var index = $(".sorting_1").length
				var list = []
				var data = {}
				for(var i = 0; i < index; i++) {
					list[i] = {}
					list[i].product_name = $(".product_name").eq(i).val()
					list[i].product_model = $(".product_model").eq(i).val()
					list[i].unit = $(".unit").eq(i).val()
					list[i].batch_num = $(".batch_num").eq(i).val()
					list[i].quantity = parseInt($(".quantity").eq(i).val())
					list[i].unit_price = $(".unit_price").eq(i).val()
					list[i].money_count = $(".money_count").eq(i).val()
					list[i].line_abstracts1 = $(".line_abstracts1").eq(i).val()
					list[i].line_abstracts2 = $(".line_abstracts2").eq(i).val()
					list[i].line_abstracts3 = $(".line_abstracts3").eq(i).val()
					list[i].line_abstracts4 = $(".line_abstracts4").eq(i).val()
					//保修期
					list[i].warranty_date = $(".warranty_date").eq(i).val()

				}

				data.product_lists = __RMV_NULL_PROP(list);
				data.staff_name = $("#staff_name").val();
				data.applicant = $("#applicant").val();
				data.district_name = $("#district_name").val();
				data.institution = $("#institution").val();
				data.document_num = $("#document_num").val();
				data.identity_no = $("#identity_no").val();
				data.phone = $("#search_btn").val();
				data.consignor = $("#consignor").val();
				data.consignee = $("#consignee").val();
				data.delivery_address = $("#delivery_address").val();
				data.occur_time = $("#occur_time").val();
				data.instructions = $("#instructions").val();
				data.arrival_date = $("#arrival_date").val();
				data.mode_transport = $("#mode_transport").val();
				data.abstracts = $("#abstracts").val();
				data.main_idx = $("#main_idx").val();
				data.rowIdx = rowIdx;
				data.idx = IDX;
				var isIf = true;
				for(var i = 0; i < index; i++) {
					var x=$(".quantity").eq(i).val()
					if(isNaN(x)||x=="") {
						$('#false_modal').modal('show')
						isIf = false;
					}
				}
				if(isIf) {
					__RMV_NULL_PROP(data)
					__RUN_ACT_callbackr('/records/update', data, function(d) {
						if(d.detail.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')							
							$("#false_tips").show()
							$("#false_tips").html(d.detail.product_name)
						}
					})
				}

			})
		}else if(tjIdx){
			$("#editorOut").hide()
			__RUN_ACT('/records/queryByIdx', {
				idx: tjIdx , type: tjType
			}, function(d) {
				$("#staff_name").val(d[0].staff_name)
				$("#applicant").val(d[0].applicant)
				$("#district_name").val(d[0].district_name)
				$("#institution").val(d[0].institution)

				$("#document_num").val(d[0].document_num)
				$("#identity_no").val(d[0].identity_no)
				$("#search_btn").val(d[0].phone)
				$("#consignor").val(d[0].consignor)

				$("#consignee").val(d[0].consignee)
				$("#delivery_address").val(d[0].delivery_address)
				$("#occur_time").val(d[0].occur_time)
				$("#instructions").val(d[0].instructions)
				$("#abstracts").val(d[0].abstracts)
				$("#arrival_date").val(d[0].arrival_date)
				$("#mode_transport").val(d[0].mode_transport)
				$("#main_idx").val(d[0].idx)
				window.t = $('#load').dataTable({
					"bPaginate": true,
					language: language,
					data: d,
					columns: [{
							data: null,
							targets: 0
						},
						{
							data: "product_name",
							render: _optionRender

						},
						{
							data: "product_model",
							render: function(data) {
								return '<input type="" name="" class="product_model" value="' + data + '" />'
							}
						},
						{
							data: "unit",
							render: function(data) {
								return '<input type="" name="" class="unit" value="' + data + '" />'
							}
						},
						{
							data: "batch_num",
							render: function(data) {
								return '<input type="" name="" class="batch_num" value="' + data + '" />'
							}
						},
						{
							data: "quantity",
							render: function(data) {
								return '<input type="" name="" class="quantity" value="' + data + '" />'
							}
						}, //保修期
						{
							data: "warranty_date",
							render: function(data) {
								return '<input type="" name="" class="warranty_date" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts1",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts1" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts2",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts2" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts3",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts3" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts4",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts4" value="' + data + '" />'
							}
						}
					],

					fnDrawCallback: function() {
						var api = this.api();
						var startIndex = api.context[0]._iDisplayStart; //获取到本页开始的条数
						api.column(0).nodes().each(function(cell, i) {
							cell.innerHTML = startIndex + i + 1;
						});
					}
				});
				//下拉框选定获取单位，单价，型号
				$(".product_name").change(function() {
					var index = $('.product_name').index(this);
					PIDX = $(this).val()
					var step = [{
						JSCODE: 'LOAD',
						CODE: 'LD_PRODUCT_DETAIL',
						RCODE: 'LIST',
						DATA: {
							'idx': PIDX
						}
					}];
					__RUN_STEP(step, function(d) {
						$(".product_model").eq(index).val(d['LIST'][0].product_model);
						$(".unit").eq(index).val(d['LIST'][0].unit);
						$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
						//保修期
						$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
					})

				})
				//计算行总价
				$(".quantity").change(function() {
					var index = $('.quantity').index(this);
					$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
				})

			})
		} 
		else {
			$("#loadOut").hide()
			$("#wzck_save").click(function() {
				var index = $(".sorting_1").length
				var list = []
				var data = {}
				for(var i = 0; i < index; i++) {
					list[i] = {}
					list[i].product_name = $(".product_name").eq(i).val()
					list[i].product_model = $(".product_model").eq(i).val()
					list[i].unit = $(".unit").eq(i).val()
					list[i].batch_num = $(".batch_num").eq(i).val()
					list[i].quantity = parseInt($(".quantity").eq(i).val())
					list[i].unit_price = $(".unit_price").eq(i).val()
					list[i].money_count = $(".money_count").eq(i).val()
					list[i].line_abstracts1 = $(".line_abstracts1").eq(i).val()
					list[i].line_abstracts2 = $(".line_abstracts2").eq(i).val()
					list[i].line_abstracts3 = $(".line_abstracts3").eq(i).val()
					list[i].line_abstracts4 = $(".line_abstracts4").eq(i).val()
					//保修期
					list[i].warranty_date = $(".warranty_date").eq(i).val()
				}

				data.product_lists = __RMV_NULL_PROP(list);

				data.staff_name = $("#staff_name").val();
				data.applicant = $("#applicant").val();
				data.district_name = $("#district_name").val();
				data.institution = $("#institution").val();

				data.document_num = $("#document_num").val();
				data.identity_no = $("#identity_no").val();
				data.phone = $("#search_btn").val();
				data.consignor = $("#consignor").val();

				data.consignee = $("#consignee").val();
				data.delivery_address = $("#delivery_address").val();
				data.occur_time = $("#occur_time").val();
				data.instructions = $("#instructions").val();

				data.arrival_date = $("#arrival_date").val();
				data.mode_transport = $("#mode_transport").val();
				data.abstracts = $("#abstracts").val();
				data.people_idx = ppid
				var isIf = true;
				for(var i = 0; i < index; i++) {
					var x=$(".quantity").eq(i).val()
					if(isNaN(x)||x=="") {
						$('#false_modal').modal('show')
						isIf = false;
					}
				}
				if(isIf) {
					__RMV_NULL_PROP(data)
					__RUN_ACT_callbackr('/Issue/distribute', data, function(d) {
						if(d.detail.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')							
							$("#false_tips").show()
							$("#false_tips").html(d.detail.product_name)
						}
					})
				}

			})
		}

		var t = $('#editor').DataTable({
			"bPaginate": false,
			language: language
		});
		var counter = 1;
		var sel = '<select class="product_name"><option value="">请选择</option></select>'
		var inpModel = '<input type="" name="" class="product_model" value="" />'
		var inpUnit = '<input type="" name="" class="unit" value="" />'
		var inpNum = '<input type="" name="" class="batch_num" value="" />'
		var inpQuant = '<input type="" name="" class="quantity" value="" />'
		var inpAbst1 = '<input type="" name="" class="line_abstracts1" value="" />'
		var inpAbst2 = '<input type="" name="" class="line_abstracts2" value="" />'
		var inpAbst3 = '<input type="" name="" class="line_abstracts3" value="" />'
		var inpAbst4 = '<input type="" name="" class="line_abstracts4" value="" />'
		//保修期
		var inpdata = '<input type="" name="" class="warranty_date" value="" />'
		$('#addRow').on('click', function() {
			t.row.add([
				counter,
				sel,
				inpModel,
				inpUnit,
				inpNum,
				inpQuant,
				inpdata,
				inpAbst1,
				inpAbst2,
				inpAbst3,
				inpAbst4
			]).draw();

			counter++
			product_name()

		});
		//	删除行
		$('#editor tbody').on('click', 'tr', function() {
			if($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				t.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		$('#removeRow').click(function() {
			t.row('.selected').remove().draw(false);
		});
	};

	//取消
	$("#wzck_cancel").click(function() {
		window.history.go(-1)
	})

	function __RUN_ACT_callbackr(url, data, _callback) {
		$.ajax({
			url: url,
			type: "POST",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(data),
			dataType: "json",
			success: function(r) {
				var d = r;
				_callback.call(null, d);
			}
		});
	}
	//模态框按钮
	$("#success_confirm_btn").click(function() {
		window.history.go(-1)
	})
	//加载时间控件
	function initdate(id) {
		$("#" + id).datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
	}

	function datestyle() {
		$(".icon-arrow-left").addClass("glyphicon-arrow-left");
		$(".icon-arrow-right").addClass("glyphicon-arrow-right");
		$('.daylist').click(function() {
			$(".clear").text('清空');
		});
	}
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function() {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function() {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function() {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function() {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
				});
			});
		});
	});
</script>