<style type="text/css">
	#rk_table td {
		padding: 0!important;
		text-align: center;
		line-height: 30px;
	}
	
	#rk_table td input {
		border: none;
		width: 100%;
		height: 30px;
	}
	
	#rk_table td select {
		border: none;
		width: 100%;
		height: 30px;
	}
</style>
<div id="dialog_simple_rk" title="Dialog Simple Title">
	<div class="row" style="padding:0 13px">
		<fieldset>
			<div class="row" style="margin-top: 15px;">
				<section class="col col-lg-4 col-md-6 col-xs-12">
					<label class="control-label col-lg-3 col-md-4 col-xs-3" style="padding-left: 13px;">往来单位:</label>
					<div class=" col-lg-6 col-md-6 col-sm-8 col-xs-8">
						<select name="" class="search_product_select form-control" id="rk_suppliers_name">
						</select>
					</div>
				</section>
				<section class="col-lg-4  col-md-6 col-xs-12">
					<label class="control-label col-lg-3 col-md-4 col-xs-3">经手人:</label>
					<div class="col-lg-6 col-md-8 col-xs-8">
						<input class="form-control input-xs" type="text" id="rk_people_name">
					</div>
				</section>

			</div>
			<div class="row" style="margin-top:15px; margin-bottom: 20px;">
				<section class="col-lg-4 col-md-6 col-xs-12">
					<label class="control-label col-lg-3 col-md-4 col-xs-3">发生日期:</label>
					<div class="col-md-8 col-lg-6 col-xs-8">
						<input class="form-control input-xs" placeholder="" type="text" id="rk_time" readonly="readonly">
					</div>
				</section>
				<section class="col-lg-4  col-md-6 col-xs-12 ">
					<label class="control-label col-lg-3  col-md-4 col-xs-3">单据号:</label>
					<div class="col-lg-6 col-md-8 col-xs-8">
						<input class="form-control input-xs" placeholder="" type="text" id="rk_number" readonly="readonly">
					</div>
				</section>

			</div>
		</fieldset>
	</div>
	<div>
		<table id="rk_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th  style="width: 50px;">序号</th>
					<th>品名</th>
					<th>物资型号</th>
					<th  style="width: 50px;">单位</th>
					<th>批次号</th>
					<th  style="width: 50px;">数量</th>
					<th  style="width: 50px;">单价</th>
					<th  style="width: 50px;">金额</th>
					<th>行摘要</th>
				</tr>
			</thead>
			<tbody id="rk_product_table">

			</tbody>
		</table>
	</div>
	<div class="row" style="padding:0 13px;">
		<span id="">
				摘要：
			</span>
		<textarea name="abstracts" rows="" cols="" style="width: 100%;height: 50px;" id="rk_abstracts"></textarea>
	</div>
	<div style="width: 108px;float: right;margin-top: 30px;">
		<button type="button" class="btn btn-primary" id="wzrk_save">保存</button>
		<button type="button" class="btn btn-default" id="wzrk_cancel">取消</button>
	</div>

</div>
<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="success_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作成功&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="success_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--失败提示-->
<div class="modal fade" tabindex="-1" role="dialog" id="false_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作失败，请重新输入&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="lose_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script id="product_rk" type="text/html">
	{{each(i,val) product_lists}}
	<tr>
		<td>
			<input type="" name="" class="number_list" value="${i+1}" />
		</td>
		<td>
			<select name="" class="product_select">
				<option value="${val.product_name}">请选择</option>
			</select>
		</td>
		<td><input type="" name="product_model" class="product_numble" value="${val.product_model}" /></td>
		<td><input type="" name="unit" class="unit" value="${val.unit}" /></td>
		<td><input type="" name="batch_num" class="batch_num" value="${val.batch_num}" /></td>
		<td><input type="" name="quantity" class="quantity" value="${val.department}" placeholder="必填*" /></td>
		<td><input type="" name="unit_price" class="unit_price" value="${val.quantity}" /></td>
		<td><input type="" name="money_count" class="money_count" value="${val.money_count}" /></td>
		<td><input type="" name="line_abstracts" class="line_abstracts" value="${val.department}" /></td>
	</tr>
	{{/each}}
</script>
<script type="text/javascript">
	var index = 0;
	//	获取登录人的idx
	var getIdx = getQueryString('customer_idx'); //链接若有idx就从链接中截取idx
	if(!getIdx) {
		getIdx = $('#__uidx').attr("value"); //链接没有就从登录页面获取
	};
	var IDX = getIdx;
	var PIDX;
	//获取当前行的idx
	var rowIdx = getQueryString('idx'); //链接若有idx就从链接中截取idx
	console.log(rowIdx)
	var product_lists = [{}, {}, {}, {}, {}, {}, {}, {},{}, {}, {}, {}, {}, {}, {}, {},{}, {},{}, {}]

	function init() {
		product_list();
		people_name();
		time_val();
	}
	init()
	select_val();
	product_name();

	function product_list() {
		$("#rk_product_table").html($("#product_rk").tmpl({
			'product_lists': product_lists
		}));
	}

	function people_name() {
		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_FUNCTIONARY',
			RCODE: 'LIST',
			DATA: {
				idx: IDX
			}
		}];
		__RUN_STEP(step, function(d) {
			$("#rk_people_name").val(d['LIST'][0].name)
		})
	}

	//往来单位下拉框
	function select_val() {
		__RUN_ACT('/suppliers/btype', {}, function(d) {
			for(var i = 0; i < d.length; i++) {
				$("#rk_suppliers_name").prepend('<option value="' + d[i].suppliers_name + '" >' + d[i].suppliers_name + '</option>')
			}

		})
	}

	//发生日期
	function time_val() {
		__RUN_ACT('/product/documentNum', {}, function(d) {
			$("#rk_time").val(d.create_time)
			$("#rk_number").val(d.document_num)
		})
	}

	//品名
	function product_name() {
		__RUN_ACT('/product/goods', {}, function(d) {
			for(var i = 0; i < d.length; i++) {
				$(".product_select").prepend('<option value="' + d[i].idx + '">' + d[i].product_name + '</option>')
			}
			//获取详情和修改
			if(rowIdx) {
				__RUN_ACT('/records/queryByIdx', {
					idx: rowIdx
				}, function(d) {
					console.log(d)
					$("#rk_suppliers_name").val(d[0].suppliers_name)
					$("#rk_people_name").val(d[0].staff_name)
					$("#rk_time").val(d[0].occur_time)
					$("#rk_number").val(d[0].document_num)
					$("#rk_abstracts").val(d[0].abstracts)
					for(var i = 0; i < d.length; i++) {
						$(".product_select").eq(i).val(d[i].product_idx)
						$(".product_numble").eq(i).val(d[i].product_model)
						$(".unit").eq(i).val(d[i].unit)
						$(".batch_num").eq(i).val(d[i].batch_num)
						$(".quantity").eq(i).val(d[i].quantity)
						$(".unit_price").eq(i).val(d[i].unit_price)
						$(".money_count").eq(i).val(d[i].money_count)
						$(".line_abstracts").eq(i).val(d[i].line_abstracts)

					}

				})
				$("#wzrk_save").click(function() {
					$('#rk_product_table').find('tr').each(function(i, elm) {
						var result = {};
						$(elm).find('input').each(function(index, item) {
							var v = $(item).val();
							result[$(item).attr('name')] = v;
						});
						result.product_name_idx = $(".product_select").eq(i).val()
						product_lists[i] = result;

					})
					var data = {};
					data.product_lists = __RMV_NULL_PROP(product_lists);
					data.suppliers_name = $("#rk_suppliers_name").val();
					data.people_name = $("#rk_people_name").val();
					data.time = $("#rk_time").val();
					data.cardNumber = $("#rk_number").val();
					data.abstracts = $("#rk_abstracts").val();
					data.rowIdx = rowIdx
					__RMV_NULL_PROP(data)
					__RUN_ACT_callbackr('/records/update', data, function(d) {
						if(d.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')

						}
					})
				})
			} else {
				//保存
				$("#wzrk_save").click(function() {
					$('#rk_product_table').find('tr').each(function(i, elm) {
						var result = {};
						$(elm).find('input').each(function(index, item) {
							var v = $(item).val();
							result[$(item).attr('name')] = v;
						});
						result.product_name_idx = $(".product_select").eq(i).val()
						product_lists[i] = result;

					})
					var data = {};
					data.product_lists = __RMV_NULL_PROP(product_lists);
					data.suppliers_name = $("#rk_suppliers_name").val();
					data.people_name = $("#rk_people_name").val();
					data.time = $("#rk_time").val();
					data.cardNumber = $("#rk_number").val();
					data.abstracts = $("#rk_abstracts").val();
					__RMV_NULL_PROP(data)
					__RUN_ACT_callbackr('/inventory/storage', data, function(d) {
						if(d.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')

						}
					})
				})
			}

		})
	}

	$(".product_select").change(function() {
		var index = $('.product_select').index(this);
		PIDX = $(this).val()
		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_PRODUCT_DETAIL',
			RCODE: 'LIST',
			DATA: {
				'idx': PIDX
			}
		}];
		__RUN_STEP(step, function(d) {
			$(".product_numble").eq(index).val(d['LIST'][0].product_model);
			$(".unit").eq(index).val(d['LIST'][0].unit);
			$(".unit_price").eq(index).val(d['LIST'][0].unit_price);

		})

	})
	//行总价
	$(".quantity").change(function() {
		var index = $('.quantity').index(this);
		$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
	})
	//查看详情
	if(getQueryString('isCheck')) {
		$("input").attr("readonly", "readonly");
		$("textarea").attr("readonly", "readonly");
		$("#wzrk_save").hide()
		$("#wzrk_cancel").html("返回")
		$(".product_select").attr("disabled", true);
		$("#rk_suppliers_name").attr("disabled", true);
	}

	//取消
	$("#wzrk_cancel").click(function() {
		location.hash = 'page/ts/wzgl/wzck.html';
	})

	function __RUN_ACT_callbackr(url, data, _callback) {
		$.ajax({
			url: url,
			type: "POST",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(data),
			dataType: "json",
			success: function(r) {
				var d = r;
				_callback.call(null, d);
			}
		});
	}
	//模态框按钮
	$("#success_confirm_btn").click(function() {
		location.reload()
	})
	$("#lose_confirm_btn").click(function() {
		$('#false_modal').modal('hide')
	})
</script>