<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<style type="text/css">
	#load td {
		padding: 0!important;
		text-align: center;
		line-height: 30px;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load td input {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load td select {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#load_length {
		display: none;
	}
	
	#load_filter {
		display: none;
	}
	
	#editor td {
		padding: 0!important;
		text-align: center;
		line-height: 30px;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor td input {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor td select {
		border: none;
		width: 100%;
		height: 35px;
		padding: none;
		margin: none;
	}
	
	#editor_length {
		display: none;
	}
	
	#editor_filter {
		display: none;
	}
	
	#td_out {
		width: 100%;
		padding: 20px;
		background: #fff;
	}
	
	#editor_info {
		display: none;
	}
	
	.lookup {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	
	.datetimepicker.dropdown-menu {
		background: #FFFFFF;
	}
	
	#example_wrapper {}
</style>
<div class="row">
	<!-- NEW WIDGET START -->
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="alert alert-info">
			<strong>提示:</strong> 物资退货在此统一管理
		</div>
		<div class="jarviswidget well">
			<!-- widget div-->
			<div>
				<div class="widget-body no-padding">

					<form action="" id="user_query_form" class="smart-form">
						<fieldset class="form-horizontal">
							<section class="col col-md-12 col-sm-12 col-lg-12">
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">退货单位</label>
									<div class="col col-sm-8">
										<input type="hidden" name="main_idx" id="main_idx" value="" />
										<input class="form-control input-xs" placeholder="" type="text" name="return_unit" >
									</div>
								</section>					
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">退货人</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" type="text" name="return_people" >
									</div>
								</section>
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">退货日期<span style="color: red;">(必填*)</span></label>
									<div class="col col-sm-8">
										<div class="row">
											<div class="col-sm-10" style="margin-left: 20px;">
												<div class="input-icon-right">
													<i class="icon-append fa fa-calendar" id="CreatTimeIcon "></i>
													<input class="form-control" name="return_time" id="return_time" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
												</div>
											</div>
										</div>
									</div>
								</section>
								
							</section>
							<section class="col col-md-12 col-sm-12 col-lg-12">
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">退货地址</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" type="text" name="residential_site" >
									</div>
								</section>	
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">联系电话</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" type="text" name="contact_number" >
									</div>
								</section>			
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">经手人</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" type="text" name="staff_name" >
									</div>
								</section>
							</section>
							<section class="col col-md-12 col-sm-12 col-lg-12">
								<section class="col col-md-4 col-sm-12 col-lg-3">
									<label class="col-sm-4 control-label">单据号</label>
									<div class="col col-sm-8">
										<input class="form-control input-xs" placeholder="" type="text" name="document_num" disabled="disabled">
									</div>
								</section>
							</section>
							
								
						</fieldset>
					</form>
				</div>
				<!-- end widget content -->
			</div>
		</div>
		<!-- end widget div -->
	</article>
	<!-- WIDGET END -->
</div>
<div id="td_out" title="Dialog Simple Title">
	<div id="loadOut">

		<table id="load" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
					<tr>
					<th style="width: 50px;">序号</th>
					<th>品名</th>
					<th>物资型号</th>
					<th style="width: 50px;">单位</th>
					<th>批次号</th>
					<th style="width: 50px;">数量</th>
					<th style="width: 50px;">单价</th>
					<th style="width: 50px;">金额</th>
					<th style="width: 50px;">保修期</th>
					<th>编码1</th>
					<th>编码2</th>
					<th>编码3</th>
					<th>编码4</th>
				</tr>
			</thead>
		</table>

	</div>

	<div id="editorOut">
		<button id="addRow" class="btn btn-primary">添加一行</button>
		<button id="removeRow" class="btn btn-danger">删除选中行</button>
		<table id="editor" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
					<tr>
					<th style="width: 50px;">序号</th>
					<th>品名</th>
					<th>物资型号</th>
					<th style="width: 50px;">单位</th>
					<th>批次号</th>
					<th style="width: 50px;">数量</th>
					<th style="width: 50px;">单价</th>
					<th style="width: 50px;">金额</th>
					<th style="width: 50px;">保修期</th>
					<th>编码1</th>
					<th>编码2</th>
					<th>编码3</th>
					<th>编码4</th>
				</tr>
			</thead>
		</table>

	</div>

	<div class="row" style="padding:0 13px;">
		<span id="">
				退货原因：
		</span>
		<textarea name="return_reason" rows="" cols="" style="width: 100%;height: 50px;" id="return_reason"></textarea>
		
	</div>
	<div style="width: 108px;float: right;margin-top: 30px;">
		<button type="button" class="btn btn-primary" id="wzrk_save" style="float: left;">保存</button>
		<button type="button" class="btn btn-default" id="wzrk_cancel" style="float: right;">取消</button>
	</div>

</div>
<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="success_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作成功&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="success_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--失败提示-->
<div class="modal fade" tabindex="-1" role="dialog" id="false_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<p>操作失败，请重新输入&hellip;</p>
				<div id="false_tips" style="display: none;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close_modal_affirm" data-dismiss="modal" id="lose_confirm_btn">确认</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script id="select_cell" type="text/x-jquery-tmpl">
	<div>
		<select class="product_name" value="${value}" disabled="disabled">
			<option value="">请选择</option>
			{{each(i,user) nameArr }}

			<option value="${user.idx}" {{if user.idx==value}}selected{{/if}}>${user.product_name}</option>
			{{/each}}
		</select>
	</div>
</script>
<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
	//获取登录人的idx
	var getIdx = getQueryString('customer_idx'); //链接若有idx就从链接中截取idx
	if(!getIdx) {
		getIdx = $('#__uidx').attr("value"); //链接没有就从登录页面获取
	};

	function _optionRender(data, type, row) {
		return $('#select_cell').tmpl(data).html();
	}
	var IDX = getIdx;
	var PIDX;
	var ppid;
	//获取当前行的idx
	var rowIdx = getQueryString('idx'); //链接若有idx就从链接中截取idx
	var tjIdx = getQueryString('id');
	var tjType = getQueryString('type');
	var language = {
		"decimal": "",
		"emptyTable": "No data available in table",
		"info": "从 _START_ 到 _END_ 共计 _TOTAL_ 条",
		"infoEmpty": "从 0 到 0 共计 0 条",
		"infoFiltered": "", //"(filtered from _MAX_ total entries)",
		"infoPostFix": "",
		"thousands": ",",
		"lengthMenu": "Show _MENU_ entries",
		"loadingRecords": "加载中...",
		"processing": "处理中...",
		"search": "Search:",
		"zeroRecords": "没有匹配的数据",
		"paginate": {
			"first": "第一页",
			"last": "最后一页",
			"next": "下一页",
			"previous": "前一页"
		},
		"aria": {
			"sortAscending": ": activate to sort column ascending",
			"sortDescending": ": activate to sort column descending"
		}
	}
	//单据号
	function document_num(){
		__RUN_ACT('/product/documentNum', {type:'7'}, function(d) {
			$("input[name='document_num']").val(d.document_num)
		})
	}
	document_num()
	//经手人
	function staff_name() {
		var step = [{
			JSCODE: 'LOAD',
			CODE: 'LD_FUNCTIONARY',
			RCODE: 'LIST',
			DATA: {
				idx: IDX
			}
		}];
		__RUN_STEP(step, function(d) {
			$("input[name='staff_name']").val(d['LIST'][0].name)
			ppid = d['LIST'][0].idx;
		})
	}
	staff_name()
	var pagefunction = function() {
		initdate('return_time');
		initdate('CreatTimeIcon');
		 
		//选定下拉框
		function product_name() {
			__RUN_ACT('/product/goods', {}, function(d) {
				var num = $(this).index();
				console.log(num)
				$(".product_name").eq(num).html('')
				$(".product_name").eq(0).prepend('<option >' + "请选择" + '</option>')
				for(var i = 0; i < d.length; i++) {
					$(".product_name").eq(num).prepend('<option value="' + d[i].idx + '">' + d[i].product_name + '</option>')
				}
			})
			//下拉框选定获取单位，单价，型号
			$(".product_name").change(function() {
				var index = $('.product_name').index(this);
				PIDX = $(this).val()
				var step = [{
					JSCODE: 'LOAD',
					CODE: 'LD_PRODUCT_DETAIL',
					RCODE: 'LIST',
					DATA: {
						'idx': PIDX
					}
				}];
				__RUN_STEP(step, function(d) {
					$(".product_model").eq(index).val(d['LIST'][0].product_model);
					$(".unit").eq(index).val(d['LIST'][0].unit);
					$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
					$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
				})

			})
			//计算行总价
			$(".quantity").change(function() {
				var index = $('.quantity').index(this);
				$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
			})

		}
		//查看详情
		if(getQueryString('isCheck')) {
			$("input").attr("disabled", "disabled");
			$("textarea").attr("disabled", "disabled");
			$("#wzrk_save").hide()
			$("#wzrk_cancel").html("返回")
			$(".product_name").attr("disabled", true);

		}
		if(rowIdx) {
			$("#editorOut").hide()
			
			__RUN_ACT('/records/queryByIdx', {
				idx: rowIdx
			}, function(d) {
				console.log(d)				
				__SET_FORM_VALUES('user_query_form', d[0])
				$("#return_reason").val(d[0].return_reason)
				$("#main_idx").val(d[0].idx)
				window.t = $('#load').dataTable({
					"bPaginate": true,
					language: language,
					data: d,
					columns: [{
							data: null,
							targets: 0
						},
						{
							data: "product_name",
							render: _optionRender

						},
						{
							data: "product_model",
							render: function(data) {
								return '<input type="" name="" class="product_model" value="' + data + '" />'
							}
						},
						{
							data: "unit",
							render: function(data) {
								return '<input type="" name="" class="unit" value="' + data + '" />'
							}
						},
						{
							data: "batch_num",
							render: function(data) {
								return '<input type="" name="" class="batch_num" value="' + data + '" />'
							}
						},
						{
							data: "quantity",
							render: function(data) {
								return '<input type="" name="" class="quantity" value="' + data + '" />'
							}
						},
						{
							data: "unit_price",
							render: function(data) {
								return '<input type="" name="" class="unit_price" value="' + data + '" />'
							}
						},
						{
							data: "money_count",
							render: function(data) {
								return '<input type="" name="" class="money_count" value="' + data + '" />'
							}
						},
						{
							data: "warranty_date",
							render: function(data) {
								return '<input type="" name="" class="warranty_date" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts1",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts1" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts2",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts2" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts3",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts3" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts4",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts4" value="' + data + '" />'
							}
						}
					],


					fnDrawCallback: function() {
						var api = this.api();
						var startIndex = api.context[0]._iDisplayStart; //获取到本页开始的条数
						api.column(0).nodes().each(function(cell, i) {
							cell.innerHTML = startIndex + i + 1;
						});
					}

				});
				//下拉框选定获取单位，单价，型号
				$(".product_name").change(function() {
					var index = $('.product_name').index(this);
					PIDX = $(this).val()
					var step = [{
						JSCODE: 'LOAD',
						CODE: 'LD_PRODUCT_DETAIL',
						RCODE: 'LIST',
						DATA: {
							'idx': PIDX
						}
					}];
					__RUN_STEP(step, function(d) {
						$(".product_model").eq(index).val(d['LIST'][0].product_model);
						$(".unit").eq(index).val(d['LIST'][0].unit);
						$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
						$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
					})

				})
				//计算行总价
				$(".quantity").change(function() {
					var index = $('.quantity').index(this);
					$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
				})

			})

			$("#wzrk_save").click(function() {
				var index = $(".sorting_1").length
				var list = []
				var data = {}

				for(var i = 0; i < index; i++) {
					list[i] = {}
					list[i].product_name = $(".product_name").eq(i).val()
					list[i].product_model = $(".product_model").eq(i).val()
					list[i].unit = $(".unit").eq(i).val()
					list[i].batch_num = $(".batch_num").eq(i).val()
					list[i].quantity = parseInt($(".quantity").eq(i).val())
					list[i].unit_price = $(".unit_price").eq(i).val()
					list[i].money_count = $(".money_count").eq(i).val()
					list[i].warranty_date = $(".warranty_date").eq(i).val()
					list[i].line_abstracts1 = $(".line_abstracts1").eq(i).val()
					list[i].line_abstracts2 = $(".line_abstracts2").eq(i).val()
					list[i].line_abstracts3 = $(".line_abstracts3").eq(i).val()
					list[i].line_abstracts4 = $(".line_abstracts4").eq(i).val()

				}
				data=__GET_FROM_VALUES("user_query_form");
				data.product_lists = list;
				data.return_reason=$("#return_reason").val();						
				data.rowIdx = rowIdx;
				data.people_idx = IDX;
				console.log(data)
				var isIf = true;
				__RUN_ACT_callbackr('/records/update',data,function(d){
					if(d.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')

						}
				})


			})
		}else if(tjIdx){
			$("#editorOut").hide()
			__RUN_ACT('/records/queryByIdx', {
				idx: tjIdx ,type: tjType
			}, function(d) {
				console.log(d)				
				__SET_FORM_VALUES('user_query_form', d[0])
				$("#return_reason").val(d[0].return_reason)
				$("#main_idx").val(d[0].idx)
				window.t = $('#load').dataTable({
					"bPaginate": true,
					language: language,
					data: d,
					columns: [{
							data: null,
							targets: 0
						},
						{
							data: "product_name",
							render: _optionRender

						},
						{
							data: "product_model",
							render: function(data) {
								return '<input type="" name="" class="product_model" value="' + data + '" />'
							}
						},
						{
							data: "unit",
							render: function(data) {
								return '<input type="" name="" class="unit" value="' + data + '" />'
							}
						},
						{
							data: "batch_num",
							render: function(data) {
								return '<input type="" name="" class="batch_num" value="' + data + '" />'
							}
						},
						{
							data: "quantity",
							render: function(data) {
								return '<input type="" name="" class="quantity" value="' + data + '" />'
							}
						},
						{
							data: "unit_price",
							render: function(data) {
								return '<input type="" name="" class="unit_price" value="' + data + '" />'
							}
						},
						{
							data: "money_count",
							render: function(data) {
								return '<input type="" name="" class="money_count" value="' + data + '" />'
							}
						},
						{
							data: "warranty_date",
							render: function(data) {
								return '<input type="" name="" class="warranty_date" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts1",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts1" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts2",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts2" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts3",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts3" value="' + data + '" />'
							}
						},
						{
							data: "line_abstracts4",
							render: function(data) {
								return '<input type="" name="" class="line_abstracts4" value="' + data + '" />'
							}
						}
					],


					fnDrawCallback: function() {
						var api = this.api();
						var startIndex = api.context[0]._iDisplayStart; //获取到本页开始的条数
						api.column(0).nodes().each(function(cell, i) {
							cell.innerHTML = startIndex + i + 1;
						});
					}

				});
				//下拉框选定获取单位，单价，型号
				$(".product_name").change(function() {
					var index = $('.product_name').index(this);
					PIDX = $(this).val()
					var step = [{
						JSCODE: 'LOAD',
						CODE: 'LD_PRODUCT_DETAIL',
						RCODE: 'LIST',
						DATA: {
							'idx': PIDX
						}
					}];
					__RUN_STEP(step, function(d) {
						$(".product_model").eq(index).val(d['LIST'][0].product_model);
						$(".unit").eq(index).val(d['LIST'][0].unit);
						$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
						$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
					})

				})
				//计算行总价
				$(".quantity").change(function() {
					var index = $('.quantity').index(this);
					$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
				})

			})

		
		}else {
			$("#loadOut").hide()
			$("#editorOut").show()
			$("#wzrk_save").click(function() {
				var index = $(".sorting_1").length
				var list = []
				var data = {}
				for(var i = 0; i < index; i++) {
					list[i] = {}
					list[i].product_name = $(".product_name").eq(i).val()
					list[i].product_model = $(".product_model").eq(i).val()
					list[i].unit = $(".unit").eq(i).val()
					list[i].batch_num = $(".batch_num").eq(i).val()
					list[i].quantity = parseInt($(".quantity").eq(i).val())
					list[i].unit_price = $(".unit_price").eq(i).val()
					list[i].money_count = $(".money_count").eq(i).val()
					list[i].warranty_date = $(".warranty_date").eq(i).val()
					list[i].line_abstracts1 = $(".line_abstracts1").eq(i).val()
					list[i].line_abstracts2 = $(".line_abstracts2").eq(i).val()
					list[i].line_abstracts3 = $(".line_abstracts3").eq(i).val()
					list[i].line_abstracts4 = $(".line_abstracts4").eq(i).val()

				}
				data=__GET_FROM_VALUES("user_query_form");
				data.product_lists = list;
				data.return_reason=$("#return_reason").val();	
				data.people_idx = ppid;		
				var isIf = true;
				for(var i = 0; i < index; i++) {
					var x=$(".quantity").eq(i).val()
					if(isNaN(x)||x=="") {
						$('#false_modal').modal('show')
						isIf = false;
					}
				}
				if(isIf) {
					__RMV_NULL_PROP(data)
					__RUN_ACT_callbackr('/returngoods/refund', data, function(d) {
						if(d.detail.code == 1) {
							$('#success_modal').modal('show')
						} else {
							$('#false_modal').modal('show')							
							$("#false_tips").show()
							$("#false_tips").html(d.detail.product_name)
						}
					})
				}
				

			})
		}

		var t = $('#editor').DataTable({
			"bPaginate": false,
			language: language
		});
		var counter = 1;
		var sel = '<select class="product_name"></select>'
		var inpModel = '<input type="" name="" class="product_model" value="" />'
		var inpUnit = '<input type="" name="" class="unit" value="" />'
		var inpNum = '<input type="" name="" class="batch_num" value="" />'
		var inpQuant = '<input type="" name="" class="quantity" value="" />'
		var inpPrice = '<input type="" name="" class="unit_price" value="" />'
		var inpCount = '<input type="" name="" class="money_count" value="" />'
		var inpdate = '<input type="" name="" class="warranty_date" value="" />'
		var inpAbst1 = '<input type="" name="" class="line_abstracts1" value="" />'
		var inpAbst2 = '<input type="" name="" class="line_abstracts2" value="" />'
		var inpAbst3 = '<input type="" name="" class="line_abstracts3" value="" />'
		var inpAbst4 = '<input type="" name="" class="line_abstracts4" value="" />'

		$('#addRow').on('click', function(){
			t.row.add([
				counter,
				sel,
				inpModel,
				inpUnit,
				inpNum,
				inpQuant,
				inpPrice,
				inpCount,
				inpdate,
				inpAbst1,
				inpAbst2,
				inpAbst3,
				inpAbst4
			]).draw();

			counter++
			product_nameAdd()

		});
		//	删除行
		$('#editor tbody').on('click', 'tr', function() {
			if($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				t.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		$('#removeRow').click(function() {
			t.row('.selected').remove().draw(false);
		});
		


	}; //取消

	$("#wzrk_cancel").click(function() {
		window.history.go(-1)
	})

	function __RUN_ACT_callbackr(url, data, _callback) {
		$.ajax({
			url: url,
			type: "POST",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(data),
			dataType: "json",
			success: function(r) {
				var d = r;
				_callback.call(null, d);
			}
		});
	}
	//模态框按钮
	$("#success_confirm_btn").click(function() {
		window.history.go(-1)
	})
	$("#lose_confirm_btn").click(function() {
		$('#false_modal').modal('hide')
	})
	//加载时间控件
	function initdate(id) {
		$("#" + id).datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
			todayBtn: true,
			clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
			startView: 2,
			minView: 2,
			weekStart: 1,
			todayHighlight: 1,
			autoclose: 1,
			forceParse: 0
		});
	}

	function datestyle() {
		$(".icon-arrow-left").addClass("glyphicon-arrow-left");
		$(".icon-arrow-right").addClass("glyphicon-arrow-right");
		$('.daylist').click(function() {
			$(".clear").text('清空');
		});
	}
	//选定下拉框
	function product_nameAdd() {
		__RUN_ACT('/product/goods', {}, function(d) {
			var num = $(this).index();
			console.log(num)
			$(".product_name").eq(num).html('')
			$(".product_name").eq(num).prepend('<option >' + "请选择" + '</option>')
			for(var i = 0; i < d.length; i++) {
				$(".product_name").eq(num).prepend('<option value="' + d[i].idx + '">' + d[i].product_name + '</option>')
			}
		})
		//下拉框选定获取单位，单价，型号
		$(".product_name").change(function() {
			var index = $('.product_name').index(this);
			PIDX = $(this).val()
			var step = [{
				JSCODE: 'LOAD',
				CODE: 'LD_PRODUCT_DETAIL',
				RCODE: 'LIST',
				DATA: {
					'idx': PIDX
				}
			}];
			__RUN_STEP(step, function(d) {
				$(".product_model").eq(index).val(d['LIST'][0].product_model);
				$(".unit").eq(index).val(d['LIST'][0].unit);
				$(".unit_price").eq(index).val(d['LIST'][0].unit_price);
				$(".warranty_date").eq(index).val(d['LIST'][0].warranty_date);
			})

		})
		//计算行总价
		$(".quantity").change(function() {
			var index = $('.quantity').index(this);
			$(".money_count").eq(index).val($(".unit_price").eq(index).val() * $(".quantity").eq(index).val());
		})

	}
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function() {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function() {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function() {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function() {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
				});
			});
		});
	});
</script>