
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" href="css/viewer.min.css">
<style type="text/css">
	/*日期样式*/		
	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;	display: none;	
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;	
		transform: none; 
	}

	.datetimepicker.dropdown-menu {	
		background: #FFFFFF;
	}

	#jiben_mes .head_data2 {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-left: 0;
	}

	.pic_box img {
		width: 100%;
		height: 100%;
		display: none;
	}

	.zoRequest {
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		text-align: center;
		z-index: 1;
		cursor: pointer;
		font-size: 20px;
		display: none;
		background-color: #fff;
		padding: 2px;
	}

	.deRequest {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		text-align: center;
		z-index: 1;
		cursor: pointer;
		font-size: 20px;
		display: none;
		background-color: #fff;
	}

	.upload_pic {
		background: url(../../img/relatepic_upload.png) no-repeat 10px 10px;
	}
	
	.pic_box {
		text-align: center;
		width: 139px;
		height: 139px;
		float: left;
		margin-left: 15px;
		border: 1px solid #bcbcbc;
		position: relative;
		background: url(../../img/3_03.gif) no-repeat center;
	}

	.pic_box p {
		position: absolute;
		top: 139px;
		left: -1px;
		width: 100%;
		text-align: center;
		height: 32px;
		line-height: 32px;
		background-color: #2196f3;
		color: #fff;
		padding: 0 1px;
	}

	#reason_des{
		border-width: 1px;
	}

</style>
	

<div id="jiben_mes" style="background: #fff;padding: 10px 13px;">
	<div id="detail_mes" style="margin-bottom: 15px;">

		<p class="upload_pic" style="font-size: 16px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;position: relative;">
			<span>个体照片</span>
		</p>
		<div class="animal_pic" id="animal_pic" style="height: 160px;margin-bottom: 30px;">
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data1" onchange="upload('head_data1','show1')" />
				<img src="" id="show1" />
				<p style="width: 139px;top: 137px;left: -1px;">正面照</p>
			</div>
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data2" onchange="upload('head_data2','show2')" />
				<img src="" id="show2" />
				<p style="width: 139px;top: 137px;left: -1px;">头部特写照(带耳标)</p>
			</div>
			<div class="pic_box">
				<div class="deRequest  glyphicon glyphicon-remove"></div>
				<div class="zoRequest  glyphicon glyphicon-zoom-in"></div>
				<input type="file" name="filename" class="head_data2" id="head_data3" onchange="upload('head_data3','show3')" />
				<img src="" id="show3" />
				<p style="width: 139px;top: 137px;left: -1px;">侧面照</p>
			</div>
		</div>			
		<p class="" style="font-size: 16px;padding: 10px 30px 0;border-top: 1px solid #cdcdcd;">基本信息</p>
		<div style="padding: 8px 0 ;min-height: 160px;" class="form-horizontal">
			<form action="" id="smart-form-register" class="smart-form">
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">射频RFID编号</label>
						<div class="col col-sm-7">
							<input type="text" name="rfid" placeholder="RFID编号" class="form-control" >
						</div>
					</section>
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">保险单号</label>
						<div class="col col-sm-7">
							<input type="text" name="insure_no" placeholder="保险单号" class="form-control" >
						</div>
					</section> 
					<section class="col col-md-6 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">理赔原因</label>
						<div class="col col-sm-7">
							<select  name="production_type" placeholder="理赔原因" class="form-control" >
								<option value="请选择">请选择</option>
								<option value="猪丹毒">猪丹毒</option>
								<option value="猪肺疫">猪肺疫</option>
								<option value="猪水疱病">猪水疱病</option>
								<option value="猪链球菌">猪链球菌</option>
								<option value="猪乙型脑炎">猪乙型脑炎</option>
								<option value="附红细胞体病">附红细胞体病</option>
								<option value="伪狂犬病">伪狂犬病</option>
								<option value="猪细小病毒">猪细小病毒</option>
								<option value="猪传染性萎缩性鼻炎">猪传染性萎缩性鼻炎</option>
								<option value="猪支原体肺炎">猪支原体肺炎</option>
								<option value="旋毛虫病">旋毛虫病</option>
								<option value="猪囊尾蚴病">猪囊尾蚴病</option>
								<option value="猪副伤寒">猪副伤寒</option>
								<option value="猪圆环兵毒病">猪圆环兵毒病</option>
								<option value="猪传染性胃肠炎">猪传染性胃肠炎</option>
								<option value="猪魏氏校菌病">猪魏氏校菌病</option>
								<option value="口蹄疫">口蹄疫</option>
								<option value="猪瘟">猪瘟</option>
								<option value="高致病性蓝耳病">高致病性蓝耳病</option>
								<option value="强制免疫副反应">强制免疫副反应</option>
								<option value="W病">W病</option>
								<option value="流行性腹泻">流行性腹泻</option>
								<option value="暴雨">暴雨</option>
								<option value="洪水">洪水</option>
								<option value="风灾">风灾</option>
								<option value="雷击">雷击</option>
								<option value="地震">地震</option>
								<option value="冰雹">冰雹</option>
								<option value="冻灾">冻灾</option>
								<option value="台风">台风</option>
								<option value="龙卷风">龙卷风</option>
								<option value="其他">其他</option>
							</select>
						</div>
					</section> 
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">出生日期</label>
						<div class="col col-sm-7" style="position: relative;">
							<input type="text" name="birthday" placeholder="出生日期" id="birthday" class="form-control" readonly>
							<p class="fa fa-calendar" style="position: absolute; right: 17px; top: 30%; "></p>
						</div>
					</section>                                
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">动物种类</label>
						<div class="col col-sm-7" >
							<select  name="animal_breed"  class="form-control" >
								<option value="0">请选择</option>
								<option value="1">能繁母猪</option>
								<option value="2">商品猪</option>
							</select>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">品种</label>
						<div class="col col-sm-7">
							<select  name="animal_breed"  class="form-control" >
								<option value="0">请选择</option>
								<option value="1">长大猪</option>
								<option value="2">长白猪</option>
							</select>
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">猪长度尺寸(cm)</label>
						<div class="col col-sm-7">
							<input type="text" name="breed_source" id="breed_source" placeholder="猪长度尺寸(cm)" class="form-control" >
						</div>
					</section>
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">技术员</label>
						<div class="col col-sm-7">
							<input type="text" name="chnum" id="" placeholder="技术员" class="form-control" >
						</div>
					</section>
				</section>
				<section class="col col-md-12 col-sm-12 col-lg-12">
					<section class="col col-md-5 col-sm-6 col-lg-3">
						<label class="col-sm-4 control-label">联系电话</label>
						<div class="col col-sm-7">
							<input type="text" name="create_time" placeholder="联系电话" class="form-control" >
						</div>
					</section>
				</section>
				<p style="color: #999;">提示：动物种类为能繁母猪时，不需要填写猪长度尺寸</p>
				<p class="" style="font-size: 16px;padding: 10px 30px 0;">理赔原因描述</p>
				<textarea name="" id="reason_des" cols="30" rows="10" class="form-control"></textarea>
				<footer>
					<button class="btn btn-primary" type="button"  id="return-btn">返回</button>
					<button class="btn btn-primary" type="button"  id="determine-btn">确定</button>					
				</footer>
			</form>
			
	    </div>
       
    </div>
	
</div>


<script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script>

$('#birthday').datetimepicker({
        language: "zh-CN",
		format: "yyyy-mm-dd",
		todayBtn: true,
		clearBtn: true, // 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
		startView: 2,
		minView: 2,
		weekStart: 1,
		todayHighlight: 1,
		autoclose: 1,
		forceParse: 0
    }); 
	$(".icon-arrow-left").addClass("glyphicon-arrow-left");
	$(".icon-arrow-right").addClass("glyphicon-arrow-right");
	$('#birthday').click(function(){
		$(".clear").text('清空');
	});

    $("#determine-btn").click(function(){
        $.confirm({
            text: '动物个体新增成功',
            confirm: function(){
                window.history.back();
            },
            confirmButton: '确定',
            cancelButton:  '取消'
        })

    });

    $("#return-btn").click(function(){
    	window.history.back();
    })

</script>