<style>
	/* 时间 */

	.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
		opacity: 1;
		display: none;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
</style>
<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css" />
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="alert alert-info">
				<strong>提示:</strong> 在此页面农户可对自己理赔申请进行撤销和查看
			</div>

			<div class="jarviswidget well">
				<!-- widget div-->
				<div>
					<div class="widget-body no-padding">

						<form action="" id="credit_query_form" class="smart-form">
							<fieldset class="form-horizontal">
								<section class="col col-md-12 col-sm-12 col-lg-12">
									<section class="col col-md-5 col-sm-12 col-lg-5">
										<div class="col col-sm-3">
											<select name="bank_name" class="form-control">
												<option value="请选择">请选择</option>
												<option value="投保日期">投保日期</option>
												<option value="申请理赔日期">申请理赔日期</option>
												<option value="审批日期">审批日期</option>
											</select>
										</div>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date1" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
										<label class="col-sm-1 control-label" style="text-align:center;">至</label>
										<div class="col col-sm-4">
											<div class="row">
												<div class="col-sm-12">
													<div class="input-icon-right">
														<i class="icon-append fa fa-calendar"></i>
														<input class="form-control" name="posted_date2" style="box-sizing:border-box;" placeholder="年-月-日" type="text">
													</div>
												</div>
											</div>
										</div>
                                    </section>
                                    <section class="col col-md-3 col-sm-12 col-lg-3">
										<label class="col-sm-4 control-label">保单号</label>
										<div class="col col-sm-8">
											<input type="text" class="form-control" placeholder="请填写...">
										</div>
									</section>
									<section class="col col-md-4 col-sm-12 col-lg-4">
										<label class="col-sm-4 control-label">审批结果</label>
										<div class="col col-sm-6">
											<select name="bank_name" class="form-control">
												<option value="全部">全部</option>
												<option value="未审核">未审核</option>
												<option value="未通过">未通过</option>
												<option value="通过">通过</option>
											</select>
										</div>
									</section>
								</section>
							</fieldset>
							<footer>
								<input type="button" class="btn btn-default" id="reset_qry" value="重置" />
								<input type="button" class="btn btn-primary" id="credit_qry" value="查询" />
							</footer>
						</form>

					</div>
					<!-- end widget content -->
				</div>
			</div>
			<!-- end widget div -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->


	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="jarviswidget well" id="wid-id">
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<form action="" id="user_tbar" class="smart-form datatable-tbar">
							<footer>
								<input type="button" class="btn btn-default" id="credit_new" value="新增" />
							</footer>
						</form>
						<table id="credit_table" class="display projects-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>序号</th>
									<th>保险公司</th>
									<th>投保方案</th>
									<th>保单号</th>
									<th>保险费（元）</th>
									<th>投保期限（月）</th>
									<th>投保日期</th>
									<th>申请理赔日期</th>
									<th>审批日期</th>
									<th>审批结果</th>
									<th>撤回申请</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>
	<!-- end row -->

	<div id="credit_info" title="信贷产品详情" class="ajax-win"></div>


</section>


<script id="edit_cell" type="text/html">
	<div>
		<a href="javascript:void(0)" title="审核" class="edit_cell" {{if return_apply=='0'||approval_results>0}}style="pointer-events: none;color:#ccc;"{{/if}} onclick="query_credit('${idx}','${data}')"><i class="fa fa-mail-reply-all"></i></a>
	</div>
</script>


<script type="text/javascript">
	var pagefunction = function () { uxinit(); }
	var credit_tbl = null;
    var listData = [
        {
            'insure_name' : '华农财产保险股份有限公司浙江分公司',
            'insure_plan' : '财产保险',
            'insure_no' : '000000',
            'insure_money': '2700',
            'need_time' : '12',
            'apply_time' : '2016-08-05',
            'create_time' : '2016-10-05',
            'approval_date' : '2016-10-12',
            'approval_results' : '0',
        },
        {
            'insure_name' : '华农财产保险股份有限公司浙江分公司',
            'insure_plan' : '财产保险',
            'insure_no' : '000000',
            'insure_money': '3000',
            'need_time' : '12',
            'apply_time' : '2017-03-05',
            'create_time' : '2017-10-05',
            'approval_date' : '2016-10-12',
            'approval_results' : '1',
        },
        {
            'insure_name' : '华农财产保险股份有限公司浙江分公司',
            'insure_plan' : '财产保险',
            'insure_no' : '000000',
            'insure_money': '2700',
            'need_time' : '12',
            'apply_time' : '2016-08-05',
            'create_time' : '2016-10-05',
            'approval_date' : '2016-10-12',
            'approval_results' : '2',
        }

    ]

	function _optionRender(data, type, row) {
		return $('#edit_cell').tmpl({idx:data.idx,return_apply:data.return_apply,approval_results:data.approval_results,data:JSON.stringify(data)}).html();
	}

	function _crtGrid(data) {
		if (credit_tbl) {
			credit_tbl.destroy();
			credit_tbl = null;
		}
		var language = {
			"decimal": "",
			"emptyTable": "表中没有可用数据",
			"info": "第 _PAGE_ 页， 共计 _PAGES_ 页 _TOTAL_ 条",
			"infoEmpty": "第 0 页， 共计 0 页 0 条",
			"infoFiltered": "",//"(filtered from _MAX_ total entries)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "Show _MENU_ entries",
			"loadingRecords": "加载中...",
			"processing": "处理中...",
			"search": "Search:",
			"zeroRecords": "没有匹配的数据",
			"paginate": {
				"first": "第一页",
				"last": "最后一页",
				"next": "下一页",
				"previous": "上一页"
			},
			"aria": {
				"sortAscending": ": activate to sort column ascending",
				"sortDescending": ": activate to sort column descending"
			}
		};
		credit_tbl = $('#credit_table').DataTable({
			sDom: "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'>>t<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			data: data,
			bDestroy: true,
			searching: false,
			language: language,
			iDisplayLength: 15,
			columns: [
				{ orderable: false, data: null, defaultContent: '' },
				{ data: "insure_name" },
                { data: "insure_plan" },
                { data: "insure_no" },
				{ data: "insure_money" },
				{ data: "need_time" },
                { data: "apply_time" },
                { data: "create_time" },
				{ data: "approval_date" },
				{ data: "approval_results", render: function (data) { if (data == 0) { return '<span>未审批</span>' } if (data == 1) { return '<span style="color:red">未通过</span>' } if (data == 2) { return '<span style="color:green">通过</span>' } } },
				{ data: null, defaultContent: '', render: _optionRender },
			],
			fnDrawCallback: function (oSettings) {

			}
		});
		
		credit_tbl.column(0).nodes().each(function (cell, i) {
			cell.innerHTML = i + 1;
		});
	}

	function uxinit() {
		credit_info_win = $("#credit_info").dialog({
			autoOpen: false,
			width: 800,
			resizable: false,
			modal: true
		});
		_Import_Html('cityTree', 'page/common/cityTree.html')
		$('[name="posted_date1"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		$('[name="posted_date2"]').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'zh-CN',
			pickDate: true,
			pickTime: false,
			minView: 'month',
			todayBtn: true,
			initialDate: new Date(),
			todayHighlight: true
		});
		loadData();

		$('#credit_qry').click(function () {
			var d = __GET_FROM_VALUES('credit_query_form');
			var cdn = {};
			for (var p in d) {
				if (!d[p]) {
					continue
				} else {
					if (p == 'product_no') {
						cdn[p] = '%' + d[p] + '%';
					} else if (p == 'product_name') {
						cdn[p] = '%' + d[p] + '%';
					} else {
						cdn[p] = d[p];
					}
				}
			}
			cdn.bank_idx = getQueryString('bank_idx');
			loadData(cdn);
		});

		$('#reset_qry').click(function () {
			__RESET_FORM('credit_query_form');
		});

		$('#credit_new').click(function () {
			window.location.hash = 'page/nh/insure/insuranceClaim.html'
		});

	}

	var tree_loaded = false;
	function loadData(cdn) {
    
		_crtGrid(listData);
	
	}

	function query_credit(idx,data){
		var data = JSON.parse(data);
		data.return_apply = '0';
		data = JSON.stringify(data);
		$.confirm({
			text: "确定要撤销申请么?",
			confirm: function() {
				
            },
            confirmButton : '确定',
            cancelButton : '取消',
		});
	}
	
	// load related plugins & run pagefunction
	loadScript("js/plugin/datatables/jquery.dataTables.min.js", function () {
		loadScript("js/plugin/datatables/dataTables.colVis.min.js", function () {
			loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function () {
				loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function () {
					loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", function () {
						loadScript("js/plugin/zTree_v3-master/js/jquery.ztree.all.js", function () {
							loadScript("js/bootstrap/bootstrap-datetimepicker.min.js", function () {
								loadScript("js/bootstrap/bootstrap-datetimepicker.zh-CN.js", pagefunction);
							});
						});
					});
				});
			});
		});
	});

</script>