

<!-- widget grid -->
<section id="widget-grid" class="">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<script src="../../js/page/reader/readerGlobal.js"></script>
<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2> 识读器信息 </h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<form action="" id="people_form" class="smart-form" novalidate="novalidate">
						<input type="hidden" name="idx" >
							<header>
								添加识读器
							</header>

							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" id="reader_code" name="reader_code" placeholder="请输入识读器编码">
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-briefcase"></i>
											<input type="text" id="sim" name="sim" placeholder="请输入sim">
										</label>
									</section>
									<section class="col col-6" >
											<input type="hidden" id="status" name="status" value="0" >
									</section>
								</div>
								
							</fieldset>

							<footer>
								<button type="button" class="btn btn-primary" id="people_submit">保存</button>
								<button type="button" class="btn btn-primary" onclick="javascript:history.go(-1);">取消</button>
							</footer>
							
						</form>

					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>

</section>
<!-- end widget grid -->

		
<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
	
	 var initFun=function(){
		$('#people_submit').click(function(){
			var data=__GET_FROM_VALUES("people_form");
			var step=[
				{JSCODE:'SAVE',CODE:'ADD',CLZ:'t_reader',RCODE:'ENTITY',DATA:data}
			];
			__RUN_SAVE(step,function(d){
				if(d.code==1){
					alert(d.message);
					window.location.reload(true);
					console.log(arguments);	
					return ;
				}
				
				alert("增加失败！");
			});
		});
		pagefunction();
	} 

	
	var pagefunction = function() {

		
		var errorClass = 'invalid';
		var errorElement = 'em';
		
		

		var $poepleForm = $("#people_form").validate({
			errorClass		: errorClass,
			errorElement	: errorElement,
			highlight: function(element) {
		        $(element).parent().removeClass('state-success').addClass("state-error");
		        $(element).removeClass('valid');
		    },
		    unhighlight: function(element) {
		        $(element).parent().removeClass("state-error").addClass('state-success');
		        $(element).addClass('valid');
		    },
			// Rules for form validation
			rules : {
				reader_code : {
					required :  true
				},
				sim : {
					required : true,
				},
				phone : {
					required : true
				}
			},

			// Messages for form validation
			messages : {
				reader_code : {
					required : 'Please enter your reader_code'
				},
				sim : {
					required : 'Please enter your sim',
				},
				phone : {
					required : 'Please enter your phone number'
				}
			},

			// Do not change code below
			errorPlacement : function(error, element) {
				error.insertAfter(element.parent());
			}
		});

		// START AND FINISH DATE
		$('#startdate').datepicker({
			dateFormat : 'dd.mm.yy',
			prevText : '<i class="fa fa-chevron-left"></i>',
			nextText : '<i class="fa fa-chevron-right"></i>',
			onSelect : function(selectedDate) {
				$('#finishdate').datepicker('option', 'minDate', selectedDate);
			}
		});
		
	};
	
	pageSetUp();
	loadScript("../../js/plugin/jquery-form/jquery-form.min.js", initFun);

</script>
