<section id="widget-grid" class="">
	<div class="row">
<div class="jarviswidget" id="wid-id-7" data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
	
				<header>
					<h2>#contactForm </h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
						<input class="form-control" type="text">
					</div>
					<div class="widget-body">
						<form id="contactForm" method="post" class="form-horizontal">							
							<fieldset>
								<legend>Showing messages in custom area</legend>
								<div class="form-group">
									<label class="col-md-3 control-label">Full name</label>
									<div class="col-md-6">
										<input type="text" class="form-control" name="fullName" />
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label">Email</label>
									<div class="col-md-6">
										<input type="text" class="form-control" name="email" />
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label">Title</label>
									<div class="col-md-6">
										<input type="text" class="form-control" name="title" />
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label">Content</label>
									<div class="col-md-6">
										<textarea class="form-control" name="content" rows="5"></textarea>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<!-- #messages is where the messages are placed inside -->
								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
										<div id="messages"></div>
									</div>
								</div>
							</fieldset>
							
							<div class="form-actions">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-default" type="submit">
											<i class="fa fa-eye"></i>
											Validate
										</button>
									</div>
								</div>
							</div>
							
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>


	</div>



</section>


<script type="text/javascript">


	pageSetUp();

	var pagefunction = function() {


		// contactForm
		$('#contactForm').bootstrapValidator({
			container : '#messages',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			fields : {
				fullName : {
					validators : {
						notEmpty : {
							message : 'The full name is required and cannot be empty'
						}
					}
				},
				email : {
					validators : {
						notEmpty : {
							message : 'The email address is required and cannot be empty'
						},
						emailAddress : {
							message : 'The email address is not valid'
						}
					}
				},
				title : {
					validators : {
						notEmpty : {
							message : 'The title is required and cannot be empty'
						},
						stringLength : {
							max : 100,
							message : 'The title must be less than 100 characters long'
						}
					}
				},
				content : {
					validators : {
						notEmpty : {
							message : 'The content is required and cannot be empty'
						},
						stringLength : {
							max : 500,
							message : 'The content must be less than 500 characters long'
						}
					}
				}
			}
		});
		// end contactForm
		
		
	};

	

	var pagedestroy = function() {

		$('#contactForm').bootstrapValidator('destroy');

		
		$('button[data-toggle]').off();

		if (debugState) {
			root.console.log("✔ Bootstrap validator destroyed");
		}

	}
	loadScript("js/plugin/bootstrapvalidator/bootstrapValidator.min.js", pagefunction);
</script>
